@import 'main';

.top__controls{
    @include m(notifications){
        @media (min-width: $media-sm){
            min-width: 100%;
        }
        @media (min-width: $media-galaxy-height){
            min-width: 0;
        }
    }
}

.top-controls{
    &__item{
        @include m(switch, mark-all){
            @media (min-width: $media-sm){
                margin-top: $global-margin;
            }
            @media (min-width: $media-lg){
                margin-top: 0;
            }
        }
        @include m(switch){
            display: flex;
            align-items: center;
            min-width: 100% !important;
            min-height: $btn-height-sm;
            @media (min-width: $media-sm){
                min-height: $btn-height;
            }
            @media (min-width: $media-galaxy-height){
                min-width: 0 !important;
            }
            @media (min-width: $media-md){
                min-height: $btn-height-sm;
            }
            @media (min-width: $media-lg){
                padding-right: $global-padding * 2;
            }
            .top-controls-form-check__content{
                margin-left: 37px;
                &::after{
                    border-color: $color-primary;
                }
            }
        }
        @include m(mark-all){
            @media (min-width: $media-galaxy-height){
                min-width: col-width-px(2.75) !important;
            }
            .top-controls{
                &__button{
                    padding: 0 $btn-padding * .25;
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .notifications{
        margin-top: $global-margin * 1.5;
    }
}

.notifications{
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    @media (min-width: $media-md){
        margin-left: 0;
        margin-right: 0;
    }
    &-table{
        &__row{
            padding: $global-margin * 1.75 $container-padding;
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                padding-left: 0;
                padding-right: 0;
            }
            &:last-child{
                @include border-bottom($border-secondary);
            }
            @include m(marked-as-read){
                color: $grey-light;
                .notifications-table__text{
                    a{
                        color: $grey-light;
                    }
                }
            }
        }
        &__wrapper{
            @include row;
            justify-content: space-between;
            @media (min-width: $media-sm){
                flex-wrap: nowrap;
            }
        }
        &__item{
            padding-left: $global-padding;
            padding-right: $global-padding;
            @include m(info){
                max-width: col-width-px(5);
            }
            @include m(controls){
                display: flex;
                align-items: center;
                margin-top: $global-margin * 1.5;
                @media (min-width: $media-sm){
                    margin-top: 0;
                }
            }
        }
        &__title{
            font-size: $size-lg;
            font-weight: $weight-semibold;
        }
        &__text{
            margin-top: 4px;
            font-size: $size-md-px;
            a{
                text-decoration: underline;
                &:hover,
                &:focus{
                    text-decoration: none;
                }
            }
        }
        &__button{
            &[disabled]{
                color: to-rgb($text-primary, .3);
                opacity: 1 !important;
                .notifications-table-button__text{
                    @include m(default){
                        display: none;
                    }
                    @include m(active){
                        display: block;
                    }
                }
            }
            @include m(mark-as-read){
                width: 163px;
            }
            @include m(delete){
                height: $btn-height;
                margin-left: $global-padding;
                padding-left: $btn-padding * .5;
                padding-right: $btn-padding * .5;
                border: none;
                color: $grey-dark;
                line-height: 1;
                background: none;
                box-shadow: none;
                @include transition(color);
                &:hover,
                &:focus{
                    color: $color-danger;
                }
            }
        }
        &-button{
            &__text{
                @include m(active){
                    display: none;
                }
            }
        }
    }
}