include /components/check/template.pug

-
    /**
     * @function mixins.layout#notificationsControls
     * @requires mixins.components#checkbox
     * @requires mixins.layout#personalControls
     * @desc Верхний блок управления на странице уведомлений.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.notificationsModifier='notifications'] - .
     */
mixin notificationsControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'notifications';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                notificationsModifier: mixinClass
            }
        });

        if (config.class.notificationsModifier) {
            setBlockClass(attributes, config.class.notificationsModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +e({
            modifiers: ['item', 'switch'],
            classes: col
        })
            +checkbox({
                id: 'notifications-controls-checkbox',
                switch: true,
                checked: true,
                switchRole: true
            })
                +e({
                    tag: span,
                    modifiers: 'pre',
                    content: 'Все'
                })
                +e({
                    tag: span,
                    modifiers: 'post',
                    content: 'Только непрочитанные'
                })

        +e({
            modifiers: ['item', 'mark-all'],
            classes: col
        })
            +button({
                color: 'secondary',
                outline: true,
                size: 'sm',
                content: 'Отметить все как прочитанные (324)'
            })

        block

-
    /**
     * @function mixins.layout#notifications
     * @desc Блок страницы уведомлений.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='legals'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='notifications'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin notifications(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'notifications';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'legals',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +be.table
                +e.inner
                    each item, index in items
                        +e({modifiers: ['row', (index === 2) ? 'marked-as-read' : '']})
                            +e.wrapper
                                +e({modifiers: ['item', 'info']})
                                    +e.title Снятие резерва

                                    +e.text!= `По <a href="${transformUrl('orders-detail')}">заказу №3241</a> от <a href="${transformUrl(page.name)}">${item.name}</a> не поступила оплата. Резерв будет снят 21.10.2019`

                                +e({modifiers: ['item', 'controls']})
                                    +button({
                                        type: be,
                                        modifiers: 'mark-as-read',
                                        color: 'secondary',
                                        outline: true,
                                        disabled: index === 2
                                    })
                                        +e({
                                            tag: span,
                                            modifiers: ['text', 'default'],
                                            content: 'Не прочитано'
                                        })
                                        +e({
                                            tag: span,
                                            modifiers: ['text', 'active'],
                                            content: 'Прочитано'
                                        })

                                    +button({
                                        modifiers: 'delete',
                                        title: 'Удалить уведомление'
                                    })
                                        +sprite#trash

            block