-
    /**
     * @function mixins.components#alertPopupTranslate
     * @desc Строка с языковым контентом для модуля попапа-оповещения.
     */
mixin alertPopupTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'layout', 'alert-popup', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.alertPopup = ${langContent};`