@import 'main';

.main-content-inner__col > .personal{
    .sales{
        &__items{
            margin-top: $global-margin * 1.5;
        }
    }
}

.sales{
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        flex: 1 0 auto;
        min-width: 100%;
        margin-top: -1px;
        @include border-top($border-secondary);
        @include border-bottom($border-secondary);
        @media (min-width: $media-iphone4-height){
            min-width: col-width(6);
            max-width: col-width(6);
            min-height: 140px;
        }
        @media (min-width: $media-galaxy-height){
            min-width: col-width(4);
            max-width: col-width(4);
            @include border-right($border-secondary);
        }
        @media (min-width: $media-lg){
            min-width: col-width(3);
            max-width: col-width(3);
        }
        @media (min-width: $media-xxl){
            min-width: col-width(1, 5);
            max-width: col-width(1, 5);
        }
        &:nth-child(odd){
            @media (min-width: $media-iphone4-height){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(3n){
            @media (min-width: $media-galaxy-height){
                border-right: none;
            }
            @media (min-width: $media-lg){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(4n){
            @media (min-width: $media-lg){
                border-right: none;
            }
            @media (min-width: $media-xxl){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(5n){
            @media (min-width: $media-xxl){
                border-right: none;
            }
        }
    }
    &-item{
        &__inner{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            padding: $global-margin * 2 $global-padding * 2;
            color: $grey-darker;
            text-decoration: none !important;
            &:hover,
            &:focus{
                .sales-item__number{
                    background: palette(warning, bg);
                }
            }
        }
        &__number{
            position: absolute;
            top: 0;
            left: 0;
            padding: 1px 12px 2px;
            border-bottom-right-radius: $radius-primary;
            color: $grey-darker !important;
            font-family: $font-secondary;
            font-size: $size-sm-px;
            font-weight: $weight-medium;
            text-transform: uppercase;
            background: palette(info, bg);
            @include transition(background);
        }
        &__text{
            text-align: center;
        }
    }

    //Категории
    &__list{
        margin-top: $global-margin * 2;
        @include border-bottom($border-secondary);
    }
    &-list{
        &__item{
            @include border-top($border-secondary);
        }
        &__inner{
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            @media (min-width: $media-sm){
                padding: 18px 0;
            }
        }
        &__text{
            font-family: $font-secondary;
            font-size: $size-ml-px;
            font-weight: $weight-medium;
        }
        &__value{
            padding-left: $global-padding;
            font-size: $size-md-px;
            font-weight: $weight-semibold;
        }
    }
}