-
    /**
     * @function mixins.layout#sales
     * @desc Страница скидок в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='sales'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sales'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin sales(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sales';

        _.defaultsDeep(config, {
            data: 'sales',
            class: {
                sales: 'sales'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e.items
                each item in data.brands
                    +be.item
                        +e.inner
                            +e({
                                tag: span,
                                modifiers: 'number',
                                content: item.value
                            })
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: item.title
                            })

            block

-
    /**
     * @function mixins.layout#salesCategories
     * @desc Страница категорий скидок в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='sales'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sales'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin salesCategories(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sales';

        _.defaultsDeep(config, {
            data: 'sales',
            class: {
                sales: 'sales'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +be.list
                each item in data.categories
                    +e.item
                        +e.inner
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: item.title
                            })
                            +e({
                                tag: span,
                                modifiers: 'value',
                                content: `Скидка: ${item.value}`
                            })

            block