-
    const page = {
        title: 'Разделы каталога'
    };
include /base/templates/main.pug

include /layout/about/template.pug
include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog/template.pug
include /layout/catalog-item/template.pug

-
    page.catalog = {};
    getData(page.catalog, 'catalog-menu');
    page.catalog.data.items = page.catalog.data.items.slice(2, -1);

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                'Разделы каталога'
                            ]
                        })

                        +top({title: 'Разделы каталога'})

                        +catalogWrapper
                            +catalogSections({
                                modifiers: 'pills',
                                data: page.catalog.data.items,
                                menu: {
                                    levelModifier: false,
                                    maxDepth: 1
                                }
                            })

                    +bottom
                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

                        //-О компании
                        +aboutBlock({title: 'О компании'})

            +contentBottom
        +foot