//Фоны
@mixin bg-variant($parent, $color){
    #{$parent}{
        background-color: $color !important;
    }
    a#{$parent},
    button#{$parent}{
        &:hover,
        &:focus{
            background-color: darken($color, 10%) !important;
        }
    }
}
@each $color, $value in $theme-colors{
    @include bg-variant('.bg-#{$color}', $value);
}
.bg-white{
    background-color: $white !important;
}
.bg-transparent{
    background-color: transparent !important;
}