$theme-colors: (
    primary: $color-primary,
    secondary: $grey,
    success: $color-success,
    info: $color-info,
    warning: $color-warning,
    danger: $color-danger,
    light: $grey-lighter,
    dark: $text-primary
);