//Позиционирование
$positions: static, relative, absolute, fixed, sticky !default;

@each $position in $positions{
    .position-#{$position}{
        position: $position !important;
    }
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.fixed-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.sticky-top{
    @supports (position: sticky){
        position: sticky;
        top: 0;
        z-index: 10;
    }
}
