//Тени
.shadow-sm{
    box-shadow: $shadow-sm !important;
}
.shadow{
    box-shadow: $shadow-primary !important;
}
.shadow-md{
    box-shadow: $shadow-md !important;
}
.shadow-lg{
    box-shadow: $shadow-lg !important;
}
.shadow-none{
    box-shadow: none !important;
}
