//-TODO:add personal menu

-
    const page = {
        title: 'Новое коммерческое предложение'
    };
include /base/templates/main.pug

include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +personalWrapper
                        +offerNew
                            +offerNewTable({classes: col})

            +contentBottom
        +foot