include /layout/agreement-link/template.pug
include /layout/password-show/template.pug

-
    /**
     * @function mixins.layout#registerForm
     * @requires mixins.layout#agreementLink
     * @requires mixins.layout#baseForm
     * @requires mixins.layout#passwordShow
     * @desc Форма регистрации. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='register'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.registerModifier='register'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin registerForm(config)
    -
        if (!globalConfig.settings.register) return

        config = _.toPlainObject(config)
        classesSetup(config)
        const mixinClass = 'register'

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'register',
            class: {
                registerModifier: mixinClass
            }
        })

        if (config.class.registerModifier) {
            setBlockClass(attributes, config.class.registerModifier)
        }

        const addClasses = _.castArray(config.class.addClass)
        setAdditionalClass(config.classes, attributes, config.type, addClasses)

        const idPrefix = `${config.idPrefix + config.id}-`

    //-html
    +baseForm(config)&attributes(attributes)
        +formGroup
            +label({
                for: `${idPrefix}fio${config.idPostfix}`,
                content: 'ФИО',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    id: `${idPrefix}fio${config.idPostfix}`,
                    name: 'FIO',
                    validate: 'required, name',
                    autocomplete: 'name'
                })

        +formGroup
            +label({
                for: `${idPrefix}phone${config.idPostfix}`,
                content: 'Телефон',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'tel',
                    id: `${idPrefix}phone${config.idPostfix}`,
                    name: 'PHONE',
                    validate: 'required, tel',
                    autocomplete: 'tel'
                })

        +formGroup
            +label({
                for: `${idPrefix}email${config.idPostfix}`,
                content: 'Email',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'email',
                    id: `${idPrefix}email${config.idPostfix}`,
                    name: 'EMAIL',
                    validate: 'required, email',
                    autocomplete: 'email'
                })

        +formGroup
            +label({
                for: `${idPrefix}password${config.idPostfix}`,
                content: 'Пароль',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'password',
                    id: `${idPrefix}password${config.idPostfix}`,
                    name: 'PASSWORD',
                    validate: 'required, minlength: 6',
                    autocomplete: 'new-password'
                })

                +passwordShow

        +formGroup
            +e.comment #[span.text-required *] — поля, обязательные для заполнения

        +formGroup
            +agreementLink({id: `${idPrefix}agreement${config.idPostfix}`})

        +formGroup
            +button({
                modifiers: 'submit',
                color: 'primary',
                buttonType: 'submit',
                content: 'Зарегистрироваться'
            })

            +link({
                href: '#popup-auth',
                modifiers: 'auth',
                attrs: {
                    dataPopup: ''
                },
                content: 'Авторизация'
            })

        block