@import 'main';

$sort-dropdowns: false;

//Элемент управления сортировкой в каталоге
.catalog{
    &-sort{
        &__inner{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &__title{
            margin-right: 6px;
            font-size: $size-sl-px;
            white-space: nowrap;
            @media (min-width: $media-lg){
                @include sr-only;
            }
        }

        &__item{
            @media (min-width: $media-lg){
                margin-right: 0 !important;
            }
            &:not(:first-child){
                @media (min-width: $media-lg){
                    margin-left: 32px;
                }
            }
            &:not(:last-child){
                margin-right: $global-padding;
            }
        }
        &-item{
            &__title{
                .prefix{
                    display: none;
                    @media (min-width: $media-lg){
                        display: inline;
                    }
                }
            }
            &__link{
                display: block;
                padding: 9px 0;
                color: $color-primary;
                font-size: $size-md;
                white-space: nowrap;
                text-decoration: none;
                &:hover,
                &:focus,
                &.active{
                    color: $text-primary;
                }
                &.active{
                    .catalog-sort-item__icon{
                        display: inline-block;
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                display: none;
                margin-left: 4px;
                @include m(desc){
                    top: 1px;
                    transform: scaleY(-1);
                }
            }
        }

        @if $sort-dropdowns{
            &__dropdowns{
                display: flex;
            }
            &-dropdown{
                &__toggle{
                    height: $btn-height;
                    padding: 0;
                    border: none;
                    color: $grey-darker;
                    font-size: $size-sl-px;
                    background: none;
                    @include transition(color);
                    &:hover{
                        color: $color-primary;
                    }
                }
                &__icon{
                    &:last-child{
                        margin-left: 7px;
                    }
                }
            }
        } @else{
            &__links{
                display: flex;
            }
        }
    }
}