include /components/dropdown/template.pug

-
    /**
     * @function mixins.layout#catalogSort
     * @requires mixins.components#dropdown
     * @desc Ссылки сортировки товаров каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-sort'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.links=true] - .
     * @param {boolean} [config.dropdowns] - .
     * @param {number} [config.activeItem=0] - .
     * @param {('asc'|'desc')} [config.activeDirection='asc'] - .
     * @param {string} [config.href=page.name] - .
     * @param {string} [config.titleId='catalog-sort-title'] - .
     * @param {string} [config.linkIcon='stats-decrease'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sort'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.prefix='prefix'] - .
     */
mixin catalogSort(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sort';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            data: 'catalog-sort',
            links: true,
            activeItem: 0,
            activeDirection: 'asc',
            titleId: 'catalog-sort-title',
            linkIcon: 'stats-decrease',
            href: page.name,
            class: {
                mixinClass,
                prefix: 'prefix'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items = items.map(item => {
            return {
                title: removeHtml(item),
                content: `<span class="${config.class.prefix}">По </span> ${item}`
            };
        });

        if (config.titleId) {
            config.attrs.ariaLabelledby = config.titleId;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e({
                modifiers: 'title',
                attrs: {
                    id: config.titleId
                },
                content: 'Сортировать по:'
            })

            +e.items
                if config.links
                    +e.links
                        each item, index in items
                            +be.item
                                +link({
                                    classes: _.ifElse(index === config.activeItem, 'active'),
                                    href: config.href,
                                    title: removeHtml(`Сортировать по ${item.title}`)
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'title',
                                        content: item.content
                                    })

                                    +e({
                                        tag: span,
                                        modifiers: ['icon', _.ifElse(index === 0, config.activeDirection)]
                                    })
                                        +sprite({id: config.linkIcon})

                if config.dropdowns
                    -
                        const directions = config.data.directions.map(item => {
                            return {
                                title: removeHtml(item),
                                content: `<span class="${config.class.prefix}">По </span> ${item}`
                            };
                        });
                        const dropdownSprite = {
                            id: 'arrow',
                            width: 8
                        };

                    +e.dropdowns
                        +e.item
                            +dropdown({
                                modifiers: 'items',
                                id: 'catalog-sort',
                                data: items,
                                link: {
                                    href: config.href
                                },
                                activeItem: config.activeItem,
                                buttonAfterSprite: dropdownSprite
                            })

                        +e.item
                            +dropdown({
                                modifiers: 'directions',
                                id: 'catalog-sort-directions',
                                data: directions,
                                link: {
                                    href: config.href
                                },
                                activeItem: 0,
                                buttonAfterSprite: dropdownSprite
                            })

            block