-
    const page = {
        title: 'moduleNameUpper'
    };
include /base/templates/main.pug

include /layout/moduleNameKebab/template.pug

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +top

                        +textContainer
                            +moduleNameCamel

            +contentBottom
        +foot