//-TODO:rename val, show sprite outside title opt, fix hasItems opts on inner levels if config.hasItems: false

-
    /**
     * @function mixins.components#menu
     * @desc Меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {Object} [config.button] - .
     * @param {bemtag} [config.button.tag=button] - .
     * @param {bemclasses} [config.button.addClass=['btn', 'btn-primary']] - .
     * @param {bemclasses} [config.button.class='button'] - .
     * @param {boolean} [config.button.inner] - .
     * @param {Object} [config.button.icon] - .
     * @param {Sprite} [config.button.icon.sprite] - .
     * @param {string} [config.button.title='Открыть меню'] - .
     * @param {string} [config.button.content='Меню'] - .
     * @param {boolean} [config.button.bars] - .
     * @param {bemattrs} [config.button.attrs] - .
     * @param {Object} [config.backButton] - .
     * @param {bemtag} [config.backButton.tag=button] - .
     * @param {bemclasses} [config.backButton.addClass] - .
     * @param {bemclasses} [config.backButton.class=config.link.class] - .
     * @param {bemclasses} [config.backButton.modifier='back'] - .
     * @param {string} [config.backButton.title='Перейти на уровень вверх'] - .
     * @param {string} [config.backButton.content='Назад'] - .
     * @param {Object} [config.backButton.icon] - .
     * @param {Sprite} [config.backButton.icon.sprite] - .
     * @param {bemclasses} [config.backButton.icon.class='icon'] - .
     * @param {bemattrs} [config.backButton.attrs] - .
     * @param {number} [config.maxDepth] - .
     * @param {string} [config.ariaLabelledby] - .
     * @param {Object} [config.container={}] - .
     * @param {bemtag} [config.container.tag=div] - .
     * @param {string} [config.container.class='container'] - .
     * @param {string} [config.container.addClass] - .
     * @param {bemattrs} [config.container.attrs] - .
     * @param {Object} [config.list={}] - .
     * @param {bemtag} [config.list.tag=ul] - .
     * @param {string} [config.list.class='list'] - .
     * @param {string} [config.list.addClass] - .
     * @param {bemattrs} [config.list.attrs] - .
     * @param {Object} [config.item={}] - .
     * @param {bemtag} [config.item.tag=li] - .
     * @param {string} [config.item.class='item'] - .
     * @param {string} [config.item.addClass] - .
     * @param {bemattrs} [config.item.attrs] - .
     * @param {boolean} [config.item.inner] - .
     * @param {Object} [config.link={}] - .
     * @param {bemtag} [config.link.tag=a] - .
     * @param {string} [config.link.class='link'] - .
     * @param {string} [config.link.addClass] - .
     * @param {bemattrs} [config.link.attrs] - .
     * @param {Object} [config.title] - .
     * @param {bemtag} [config.title.tag=span] - .
     * @param {string} [config.title.class='title'] - .
     * @param {string} [config.title.addClass] - .
     * @param {bemattrs} [config.title.attrs] - .
     * @param {Object} [config.hasItems={}] - .
     * @param {string} [config.hasItems.modifier='has-items'] - .
     * @param {Sprite} [config.hasItems.sprite] - .
     * @param {Object} [config.hasItems.item=config.item] - .
     * @param {Object} [config.hasItems.link=config.link] - .
     * @param {Object} [config.current] - .
     * @param {string} [config.current.modifier='current'] - .
     * @param {string} [config.current.currentItemText='Перейти в раздел'] - .
     * @param {Object} [config.current.item=config.item] - .
     * @param {Object} [config.current.link=config.link] - .
     * @param {Sprite} [config.current.sprite] - .
     * @param {Object} [config.image] - .
     * @param {string} [config.image.placement='item'] - .
     * @param {Object} [config.imageHover] - .
     * @param {Object} [config.collapse] - .
     * @param {string} [config.collapse.idPrefix='menu-collapse'] - .
     * @param {string} [config.collapse.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.collapse.id=config.collapse.idPrefix + config.collapse.idPostfix] - .
     * @param {string} [config.collapse.currentItemText='Перейти в раздел'] - .
     * @param {string} [config.levelModifier='level'] - .
     * @param {string} [config.href=jv] - .
     * @param {Function} [config.hrefFormat=transformUrl] - .
     * @param {boolean} [config.ariaHasPopup=true] - .
     * @param {(string|Function)} [config.before] - .
     * @param {(string|Function)} [config.after] - .
     * @param {Object} [config.<0-9>] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.buttonInner='inner'] - .
     * @param {bemclasses} [config.class.buttonText='text'] - .
     * @param {bemclasses} [config.class.buttonIcon='icon'] - .
     * @param {bemclasses} [config.class.collapse='collapse'] - .
     * @param {bemclasses} [config.class.collapseActive='active'] - .
     * @param {bemclasses} [config.class.collapseInactive='inactive'] - .
     * @param {bemclasses} [config.class.toggled='toggled'] - .
     * @param {bemclasses} [config.class.collapseShow='show'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.image='image'] - .
     * @param {bemclasses} [config.class.imageLink='link'] - .
     * @param {bemclasses} [config.class.imageHover='hover'] - .
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.buttonAdd=['btn', 'btn-primary']] - .
     * @param {bemclasses} [config.class.current='current'] - .
     * @param {bemclasses} [config.class.back='back'] - .
     * @param {bemclasses} [config.class.bars='bars'] - .
     * @example
     * +menu({
     *     data: [
     *         {content: 'Оплата', href: 'text'},
     *         {content: 'Доставка', href: 'delivery'},
     *         'О компании',
     *         {
     *             content: 'Помощь',
     *             items: [
     *                 {content: 'Оплата', href: 'text'},
     *                 {content: 'Доставка', href: 'delivery'},
     *                 'О компании'
     *             ]
     *         }
     *     ],
     *     button: {
     *         inner: true,
     *         content: 'Меню',
     *         title: 'Открыть меню',
     *         addClass: ['btn', 'btn-primary', 'btn-lg'],
     *         icon: {
     *             sprite: {
     *                 id: 'arrow',
     *                 width: 9
     *             }
     *         }
     *     },
     *     backButton: {
     *         content: 'Назад',
     *         icon: {
     *             sprite: {
     *                 id: 'arrow'
     *             }
     *         }
     *     },
     *     hasItems: {
     *         sprite: {
     *             id: 'arrow'
     *         }
     *     },
     *     current: {
     *         currentItemText: false
     *     },
     *     container: {
     *         addClass: 'toggled'
     *     },
     *     0: {
     *         container: {
     *             addClass: ['toggled', 'collapse']
     *         }
     *     }
     * })
     */
mixin menu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'menu';

        const modulePath = 'components/menu';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            container: {
                tag: div,
                class: 'container',
                attrs: {}
            },
            list: {
                tag: ul,
                class: 'list',
                attrs: {}
            },
            item: {
                tag: li,
                class: 'item',
                attrs: {}
            },
            link: {
                tag: a,
                class: 'link',
                attrs: {}
            },
            hasItems: {
                modifier: 'has-items'
            },

            levelModifier: 'level',
            href: jv,
            hrefFormat: transformUrl,
            ariaHasPopup: true,

            class: {
                mixinClass,
                itemInner: 'inner',
                buttonInner: 'inner',
                buttonText: 'text',
                buttonIcon: 'icon',
                collapse: 'collapse',
                collapseActive: 'active',
                collapseInactive: 'inactive',
                toggled: 'toggled',
                collapseShow: 'show',
                icon: 'icon',
                image: 'image',
                imageLink: 'link',
                imageHover: 'hover',
                title: 'title',
                button: 'button',
                buttonAdd: ['btn', 'btn-primary'],
                current: 'current',
                back: 'back',
                bars: 'bars'
            }
        });

        const titleDefaults = {
            tag: span,
            class: config.class.title,
            attrs: {}
        };

        const currentDefaults = {
            item: config.item,
            link: config.link,
            modifier: config.class.current,
            currentItemText: config.localData.currentItemText
        };

        const collapseDefaults = {
            idPrefix: 'menu-collapse',
            idPostfix: `-${uniqueId()}`,
            currentItemText: config.localData.currentItemText
        };

        const imageDefaults = {
            placement: 'item'
        };

        if (config.title === true) {
            config.title = _.toPlainObject(config.title);
            _.defaults(config.title, titleDefaults);
        }

        if (config.current) {
            config.current = _.toPlainObject(config.current);
            _.defaultsDeep(config.current, currentDefaults);
        }

        if (config.hasItems) {
            config.hasItems = _.toPlainObject(config.hasItems);
            _.defaultsDeep(config.hasItems, {
                item: config.item,
                link: config.link
            });
        }

        if (config.collapse) {
            config.collapse = _.toPlainObject(config.collapse);
            _.defaults(config.collapse, collapseDefaults, {
                id: config.collapse.idPrefix + config.collapse.idPostfix
            });
        }

        if (config.button) {
            config.button = _.toPlainObject(config.button);
            _.defaultsDeep(config.button, {
                tag: button,
                class: config.class.button,
                addClass: config.class.buttonAdd,
                title: config.localData.buttonTitle,
                content: config.localData.buttonText
            });
        }

        if (config.backButton) {
            config.backButton = _.toPlainObject(config.backButton);
            _.defaultsDeep(config.backButton, {
                tag: button,
                class: config.link.class,
                modifier: config.class.back,
                title: config.localData.backButtonTitle,
                content: config.localData.backButtonText
            });
            if (config.backButton.icon) {
                config.backButton.icon = _.toPlainObject(config.backButton.icon);
                _.defaultsDeep(config.backButton.icon, {
                    class: config.class.icon,
                    sprite: 'arrow'
                });
            }
        }

        if (config.image) {
            config.image = _.toPlainObject(config.image);
            _.defaults(config.image, imageDefaults);
        }

        if (config.imageHover) {
            config.imageHover = _.toPlainObject(config.imageHover);
        }

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        let currentId = 1;

    mixin menuLevel(val, currentLevel, wrapperItemNum)
        -
            config[currentLevel] = _.toPlainObject(config[currentLevel]);

            _.defaultsDeep(config[currentLevel], {
                container: {
                    tag: _.ifElse(currentLevel === 0, nav, config.container.tag),
                    class: config.container.class,
                    addClass: config.container.addClass,
                    attrs: config.container.attrs
                },
                list: {
                    tag: config.list.tag,
                    class: config.list.class,
                    addClass: config.list.addClass,
                    attrs: config.list.attrs
                },
                item: {
                    tag: config.item.tag,
                    class: config.item.class,
                    addClass: config.item.addClass,
                    attrs: config.item.attrs,
                    inner: config.item.inner,
                },
                link: {
                    tag: config.link.tag,
                    class: config.link.class,
                    addClass: config.link.addClass,
                    attrs: config.link.attrs
                },
                hasItems: {
                    modifier: _.ifElse(config.hasItems && !_.isUndefined(config.hasItems.modifier), config.hasItems.modifier),
                    sprite: _.ifElse(config.hasItems && !_.isUndefined(config.hasItems.sprite), config.hasItems.sprite)
                },

                levelModifier: config.levelModifier ? config.levelModifier + (currentLevel + 1) : null,
                href: config.href,
                hrefFormat: config.hrefFormat,
                ariaLabelledby: config.ariaLabelledby,

                before: config.before,
                after: config.after,
                maxItems: config.maxItems
            });

            if (config.title || config[currentLevel].title) {
                config[currentLevel].title = _.toPlainObject(config[currentLevel].title);
                if (config.title) {
                    _.defaults(config[currentLevel].title, {
                        tag: config.title.tag,
                        class: config.title.class,
                        addClass: config.title.addClass,
                        attrs: config.title.attrs
                    });
                } else {
                    _.defaults(config[currentLevel].title, {
                        tag: titleDefaults.tag,
                        class: titleDefaults.class,
                        addClass: titleDefaults.addClass,
                        attrs: titleDefaults.attrs
                    });
                }
            }

            if (config.current || config[currentLevel].current) {
                config[currentLevel].current = _.toPlainObject(config[currentLevel].current);
                _.defaultsDeep(config[currentLevel].current, {
                    item: {
                        tag: config[currentLevel].item.tag,
                        class: config[currentLevel].item.class,
                        addClass: config[currentLevel].item.addClass,
                        attrs: config[currentLevel].item.attrs,
                        inner: config[currentLevel].item.inner
                    },
                    link: {
                        tag: config[currentLevel].link.tag,
                        class: config[currentLevel].link.class,
                        addClass: config[currentLevel].link.addClass,
                        attrs: config[currentLevel].link.attrs
                    },
                    modifier: (config.current && !_.isUndefined(config.current.modifier)) ?
                        config.current.modifier :
                        (_.isUndefined(config[currentLevel].current.modifier) ? config.class.current : config[currentLevel].current.modifier),
                    currentItemText: (config.current && !_.isUndefined(config.current.currentItemText)) ?
                        config.current.currentItemText :
                        (_.isUndefined(config[currentLevel].current.currentItemText) ? config.localData.currentItemText : config[currentLevel].current.currentItemText),
                    sprite: config.current && config.current.sprite
                });
            }

            if (config[currentLevel].hasItems) {
                _.defaultsDeep(config[currentLevel].hasItems, {
                    item: {
                        tag: config[currentLevel].item.tag,
                        class: config[currentLevel].item.class,
                        addClass: config[currentLevel].item.addClass,
                        attrs: config[currentLevel].item.attrs,
                        inner: config[currentLevel].item.inner
                    },
                    link: {
                        tag: config[currentLevel].link.tag,
                        class: config[currentLevel].link.class,
                        addClass: config[currentLevel].link.addClass,
                        attrs: config[currentLevel].link.attrs
                    }
                });
            }

            if (config.collapse || config[currentLevel].collapse) {
                config[currentLevel].collapse = _.toPlainObject(config[currentLevel].collapse);
                _.defaults(config[currentLevel].collapse, {
                    id: _.ifElse(config.collapse && !_.isUndefined(config.collapse.id), config.collapse.id),
                    currentItemText: _.ifElse(config.collapse && !_.isUndefined(config.collapse.currentItemText), config.collapse.currentItemText)
                });
            }

            if (config.image || config[currentLevel].image) {
                config[currentLevel].image = _.toPlainObject(config[currentLevel].image);
                _.defaults(config[currentLevel].image, {
                    placement: _.ifElse(config.image && !_.isUndefined(config.image.placement), config.image.placement)
                });
            }

        //-html
        if currentLevel === 0
            if config.button
                -
                    const buttonAttrs = _.toPlainObject(config.button.attrs);
                    _.defaultsDeep(buttonAttrs, {
                        type: _.ifElse(config.button.tag === button, 'button'),
                        title: removeHtml(config.button.title)
                    });
                +be({
                    tag: config.button.tag,
                    classes: config.button.addClass,
                    modifiers: config.button.class,
                    attrs: buttonAttrs
                })
                    +#{config.button.inner ? e : empty}({
                        tag: span,
                        modifiers: config.class.buttonInner
                    })
                        +e({
                            tag: span,
                            modifiers: config.class.buttonText,
                            content: config.button.content
                        })
                        if config.button.icon
                            +e({
                                tag: span,
                                modifiers: config.class.buttonIcon
                            })
                                +sprite(config.button.icon.sprite)
                    if config.button.bars
                        +e({
                            tag: span,
                            modifiers: config.class.bars
                        })

            if config.backButton
                -
                    const backButtonAttrs = _.toPlainObject(config.backButton.attrs);
                    _.defaultsDeep(backButtonAttrs, {
                        type: _.ifElse(config.backButton.tag === button, 'button'),
                        title: removeHtml(config.backButton.title)
                    });
                +be({
                    tag: config.backButton.tag,
                    classes: config.backButton.addClass,
                    modifiers: [config.backButton.class, config.backButton.modifier],
                    attrs: backButtonAttrs
                })
                    if config.backButton.icon
                        +e({
                            tag: span,
                            depth: 2,
                            modifiers: [config.backButton.icon.class, config.backButton.modifier]
                        })
                            +sprite(config.backButton.icon.sprite)

                    != config.backButton.content

        +menuContainer(val, currentLevel, wrapperItemNum)

    mixin menuContainer(val, currentLevel, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const containerConfig = _.cloneDeep(currentLevelConfig.container);
            _.extend(containerConfig, val.container);

        if !containerConfig.tag
            +menuList(val, currentLevel, wrapperItemNum)
        else
            -
                const prevLevelConfig = config[currentLevel - 1];

                const tag = containerConfig.tag;
                const classes = _.castArray(containerConfig.class);
                const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                if (levelModifier) classes.push(levelModifier);
                const addClasses = _.castArray(containerConfig.addClass);
                const isCollapsed = prevLevelConfig && prevLevelConfig.collapse;
                const collapseId = isCollapsed && `${prevLevelConfig.collapse.id + currentLevel}-${wrapperItemNum + 1}-${currentId}`;

                const containerAttrs = containerConfig.attrs;
                _.defaultsDeep(containerAttrs, {
                    role: _.ifElse((currentLevel === 0) && (tag !== nav), 'navigation'),
                    id: isCollapsed ? collapseId : null,
                    ariaLabelledby: ((currentLevel > 0) && prevLevelConfig && prevLevelConfig.ariaLabelledby) ? `${prevLevelConfig.ariaLabelledby + currentLevel}-${wrapperItemNum + 1}-${currentId}` : null
                });

                if (isCollapsed) {
                    addClasses.push(config.class.collapse, config.class.toggled);
                    if (val.collapseActive) addClasses.push(config.class.collapseShow);
                }

            //-html
            +e({
                tag,
                classes: addClasses,
                modifiers: classes,
                attrs: containerAttrs
            })
                +menuList(val, currentLevel, wrapperItemNum)

    mixin menuList(val, currentLevel, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const listConfig = _.cloneDeep(currentLevelConfig.list);
            _.extend(listConfig, val.list);

            const before = _.isUndefined(val.before) ? currentLevelConfig.before : val.before;
            const after = _.isUndefined(val.after) ? currentLevelConfig.after: val.after;

        != _.isFunction(before) ? before(val) : before

        if !listConfig.tag
            +menuListInner(val, currentLevel, wrapperItemNum)
        else
            -
                const tag = listConfig.tag;
                const classes = _.castArray(listConfig.class);
                const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                if (levelModifier) classes.push(levelModifier);
                const addClasses = _.castArray(listConfig.addClass);
                const listAttrs = listConfig.attrs;

            //-html
            +e({
                tag,
                classes: addClasses,
                modifiers: classes,
                attrs: listAttrs
            })
                +menuListInner(val, currentLevel, wrapperItemNum)

        != _.isFunction(after) ? after(val) : after

        - currentId += 1;

    mixin menuListInner(val, currentLevel, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const itemsList = val.items || val;

        if (currentLevel > 0) && currentLevelConfig.current
            +menuCurrentItem(val, currentLevel, wrapperItemNum)

        each item, itemNum in itemsList
            +menuItem(item, currentLevel, itemNum, wrapperItemNum)

    mixin menuCurrentItem(val, currentLevel, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const currentItemConfig = _.cloneDeep(currentLevelConfig.current.item);
            if (val.current && val.current.item) _.extend(currentItemConfig, val.current.item);

        if !currentItemConfig.tag
            +menuCurrentLink(val, currentLevel, wrapperItemNum)
        else
            -
                const tag = currentItemConfig.tag;
                const classes = _.castArray(currentItemConfig.class);
                const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                if (levelModifier) classes.push(levelModifier);
                classes.push(currentLevelConfig.current.modifier);
                const addClasses = _.castArray(currentItemConfig.addClass);
                const currentItemAttrs = currentItemConfig.attrs;

            //-html
            +e({
                tag,
                classes: addClasses,
                modifiers: classes,
                attrs: currentItemAttrs
            })
                +menuCurrentLink(val, currentLevel, wrapperItemNum)

    mixin menuImage(val, currentLevel, itemNum, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const imageConfig = _.cloneDeep(currentLevelConfig.image);
            _.extend(imageConfig, val.image);

            const image = setImageProps(config.dataPath, val.image, val.content || val);
            const tag = _.ifElse(imageConfig.placement === 'item', div, span);
            const hrefFormat = _.ifElse(_.isPlainObject(val) && !_.isUndefined(val.hrefFormat), val.hrefFormat, currentLevelConfig.hrefFormat);
            const href = _.ifElse(_.isPlainObject(val) && !_.isUndefined(val.href), val.href, currentLevelConfig.href);
            const formattedHref = _.isFunction(hrefFormat) ? hrefFormat.call(this, href) : href;

        //-html
        +be({
            tag,
            modifiers: config.class.image
        })
            +e({
                type: _.ifElse((imageConfig.placement === 'item') && formattedHref, e, empty),
                tag: a,
                modifiers: config.class.imageLink,
                attrs: {
                    href: formattedHref,
                    title: removeHtml(val.content || val)
                }
            })
                +image({
                    src: image.src,
                    alt: image.alt,
                    class: {
                        block: config.class.image
                    }
                })
                if config.imageHover && val.imageHover
                    - const imageHover = setImageProps(config.dataPath, val.imageHover, (val.content || val));
                    +image({
                        src: imageHover.src,
                        alt: imageHover.alt,
                        modifiers: config.class.imageHover,
                        class: {
                            block: config.class.image
                        }
                    })

    mixin menuItem(val, currentLevel, itemNum, wrapperItemNum)
        - const currentLevelConfig = config[currentLevel];
        if !currentLevelConfig.maxItems || (currentLevelConfig.maxItems && (currentLevelConfig.maxItems > itemNum))
            -
                const itemConfig = _.cloneDeep(currentLevelConfig.item);
                _.extend(itemConfig, val.item);

            if !itemConfig.tag
                +menuLink(val, currentLevel, itemNum, wrapperItemNum)
            else
                -
                    const hasItemsConfig = _.cloneDeep(currentLevelConfig.hasItems);
                    _.extend(hasItemsConfig, val.hasItems);

                    const hasItemsConfigItem = hasItemsConfig && hasItemsConfig.item;
                    const itemItems = (_.isUndefined(config.maxDepth) || (config.maxDepth > (currentLevel + 1))) && val.items && hasItemsConfigItem;
                    itemConfig.addClass = _.castArray(itemConfig.addClass);
                    if (itemItems) {
                        if (hasItemsConfigItem.addClass) itemConfig.addClass.push(hasItemsConfigItem.addClass);
                        delete hasItemsConfigItem.addClass;
                        _.extend(itemConfig, hasItemsConfigItem);
                    }

                    const tag = itemConfig.tag;
                    const classes = _.castArray(itemConfig.class);
                    if (itemItems && hasItemsConfig) classes.push(hasItemsConfig.modifier);
                    const addClasses = itemConfig.addClass;
                    const itemAttrs = itemConfig.attrs;
                    const itemInner = itemConfig.inner;

                    const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                    if (levelModifier) classes.splice(1, 0, levelModifier);

                    const itemInnerType = itemInner ? e : empty;
                    const itemInnerModifiers = _.castArray(config.class.itemInner);
                    if (levelModifier) itemInnerModifiers.push(levelModifier);

                    const imageConfig = _.cloneDeep(currentLevelConfig.image);
                    _.extend(imageConfig, val.image);

                //-html
                +e({
                    tag,
                    classes: addClasses,
                    modifiers: classes,
                    attrs: itemAttrs
                })
                    +e({
                        type: itemInnerType,
                        modifiers: itemInnerModifiers
                    })
                        if imageConfig && val.image && (imageConfig.placement === 'item')
                            +menuImage(val, currentLevel, itemNum, wrapperItemNum)

                        +menuLink(val, currentLevel, itemNum, wrapperItemNum)

    mixin menuCurrentLink(val, currentLevel, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const currentLinkConfig = _.cloneDeep(currentLevelConfig.current.link);
            if (val.current&& val.current.link) _.extend(currentLinkConfig, val.current.link);

        if !currentLinkConfig.tag
            +menuTitle(val, currentLevel, false, wrapperItemNum)
        else
            -
                const tag = currentLinkConfig.tag;
                const classes = _.castArray(currentLinkConfig.class);
                const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                if (levelModifier) classes.push(levelModifier);
                classes.push(currentLevelConfig.current.modifier);
                const addClasses = _.castArray(currentLinkConfig.addClass);
                const currentLinkAttrs = currentLinkConfig.attrs;

                const hrefFormat = _.ifElse(_.isPlainObject(val) && !_.isUndefined(val.hrefFormat), val.hrefFormat, currentLevelConfig.hrefFormat);
                const href = _.ifElse(_.isPlainObject(val) && !_.isUndefined(val.href), val.href, currentLevelConfig.href);
                const formattedHref = _.isFunction(hrefFormat) ? hrefFormat.call(this, href) : href;

                const prevLevelConfig = config[currentLevel - 1];
                const collapse = prevLevelConfig && prevLevelConfig.collapse;

                _.defaultsDeep(currentLinkAttrs, {
                    href: formattedHref,
                    title: (collapse && collapse.currentItemText) ? removeHtml(`${collapse.currentItemText} «${val.content || val}»`) : null
                })

            //-html
            +e({
                tag,
                classes: addClasses,
                modifiers: classes,
                attrs: currentLinkAttrs
            })
                if collapse
                    != collapse.currentItemText
                else
                    - const titleText = (val.current && val.current.currentItemText) || (currentLevelConfig.current.currentItemText || val);
                    +menuTitle(titleText, currentLevel, false, wrapperItemNum)
                        if currentLevelConfig.current.sprite
                            +e({
                                tag: span,
                                modifiers: config.class.icon
                            })
                                +sprite(currentLevelConfig.current.sprite)

    mixin menuLink(val, currentLevel, itemNum, wrapperItemNum)
        -
            const currentLevelConfig = config[currentLevel];
            const linkConfig = _.cloneDeep(currentLevelConfig.link);
            _.extend(linkConfig, val.link);

        if !linkConfig.tag
            +menuTitle(val, currentLevel, itemNum)
        else
            -
                const hasItemsConfig = _.cloneDeep(currentLevelConfig.hasItems);
                _.extend(hasItemsConfig, val.hasItems);

                const hasItemsConfigLink = hasItemsConfig && hasItemsConfig.link;
                const itemItems = (_.isUndefined(config.maxDepth) || (config.maxDepth > (currentLevel + 1))) && val.items && hasItemsConfigLink;
                linkConfig.addClass = _.castArray(linkConfig.addClass);
                if (itemItems) {
                    if (hasItemsConfigLink.addClass) {
                        linkConfig.addClass.push(hasItemsConfigLink.addClass);
                    }
                    delete hasItemsConfigLink.addClass;
                    _.extend(linkConfig, hasItemsConfigLink);
                }

                const tag = linkConfig.tag;
                const classes = _.castArray(linkConfig.class);
                if (itemItems && hasItemsConfig) classes.push(hasItemsConfig.modifier);
                const addClasses = linkConfig.addClass;
                const linkAttrs = linkConfig.attrs;
                const hasItemsSprite = itemItems && hasItemsConfig.sprite;

                const levelModifier = _.defaultTo(val.levelModifier, currentLevelConfig.levelModifier);
                if (levelModifier) classes.splice(1, 0, levelModifier);

                const hrefFormat = (_.isPlainObject(val) && !_.isUndefined(val.hrefFormat)) ? val.hrefFormat : currentLevelConfig.hrefFormat;
                const href = (_.isPlainObject(val) && !_.isUndefined(val.href)) ? val.href : currentLevelConfig.href;
                const formattedHref = _.isFunction(hrefFormat) ? hrefFormat.call(this, href) : href;

                const isCollapseLink = !!(currentLevelConfig.collapse && val.items);
                const collapseId = currentLevelConfig.collapse && `${currentLevelConfig.collapse.id + (currentLevel + 1)}-${itemNum + 1}-${currentId}`;
                if (isCollapseLink) {
                    classes.push(config.class.collapse);
                    addClasses.push(val.collapseActive ? config.class.collapseActive : config.class.collapseInactive);
                }

                _.defaultsDeep(linkAttrs, {
                    href: isCollapseLink ? `#${collapseId}` : formattedHref,
                    id: (currentLevelConfig.ariaLabelledby && val.items) ? `${currentLevelConfig.ariaLabelledby + (currentLevel + 1)}-${itemNum + 1}-${currentId}` : null,
                    ariaExpanded: isCollapseLink ? 'false' : null,
                    ariaControls: isCollapseLink ? collapseId : null,
                    ariaHaspopup: _.ifElse(config.ariaHasPopup && itemItems, 'true')
                })

                const imageConfig = _.cloneDeep(currentLevelConfig.image);
                _.extend(imageConfig, val.image);

            //-html
            +e({
                tag,
                classes: addClasses,
                modifiers: classes,
                attrs: linkAttrs
            })
                if imageConfig && val.image && (imageConfig.placement === 'link')
                    +menuImage(val, currentLevel, itemNum, wrapperItemNum)

                +menuTitle(val, currentLevel, itemNum)

                if hasItemsSprite
                    -
                        const iconClasses = _.castArray(config.class.icon);
                        if (currentLevelConfig.hasItems) iconClasses.push(currentLevelConfig.hasItems.modifier);
                    +e({
                        tag: span,
                        modifiers: iconClasses
                    })
                        +sprite(hasItemsSprite)

        if val.items && (_.isUndefined(config.maxDepth) || ((config.maxDepth - 1) > currentLevel))
            +menuLevel(val, currentLevel + 1, itemNum, wrapperItemNum)

    mixin menuTitle(val, currentLevel, itemNum)
        -
            const currentLevelConfig = config[currentLevel];
            let titleConfig = _.cloneDeep(currentLevelConfig.title);
            _.extend(titleConfig, val.title);
            if (!titleConfig) {
                titleConfig = {};
            }

            const tag = titleConfig.tag;
            const classes = _.castArray(titleConfig.class);
            const addClasses = _.castArray(titleConfig.addClass);
            const titleAttrs = titleConfig.attrs;
            const text = _.isPlainObject(val) ? (val.content || '') : val;

        //-html
        +e({
            type: tag ? e : empty,
            tag,
            classes: addClasses,
            modifiers: classes,
            attrs: titleAttrs
        })
            if val.sprite
                +e({
                    tag: span,
                    modifiers: config.class.icon
                })
                    +sprite(val.sprite)

            block

            != text

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

        if (items.length && _.isUndefined(config.maxDepth)) || (config.maxDepth > 0)
            +menuLevel(items, 0, 0)