-
    const page = {
        title: 'Оформление заказа',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug
include /layout/order-steps/template.pug
include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top

                        +orderSteps

                    +bottom
                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            cardConfig: {
                                counter: {
                                    idPrefix: 'card-slider-2-counter-'
                                }
                            },
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

            +contentBottom
        +foot