@import 'main';

.footer{
    background: $white;
    //Верхний блок футера
    &-top{
        .container{
            padding-top: $global-margin * 2;
            padding-bottom: $global-margin * 2;
            @media (min-width: $media-sm){
                padding-top: $global-margin * 4;
                padding-bottom: $global-margin * 3.5;
            }
        }
    }

    //Меню футера
    &__menu{
        display: none;
        max-width: col-width(3);
        @media (min-width: $media-lg){
            display: block;
        }
    }
    &-menu{
        &__header{
            color: $header-primary;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            text-decoration: none;
        }

        &__container{
            margin-top: $global-margin * .5;
        }
        &__list{
            margin: 0;
            padding: 0;
        }
        &__item{
            margin: 0;
            padding: $li-margin-top * .4 0;
            line-height: normal;
            &::before{
                display: none;
            }
        }
        &__link{
            display: inline-block;
            color: $text-secondary;
            font-size: $size-md-px;
            text-decoration: none;
        }
    }

    //Меню каталога
    &__catalog-menu{
        max-width: col-width(3);
    }
    &-catalog-menu{
        &__header{
            color: $header-primary;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            text-decoration: none !important;
        }

        &__container{
            margin-top: $global-margin * .5;
        }
        &__list{
            margin: 0;
            padding: 0;
            //column-count: 2;
            //column-gap: $global-padding * 2;
        }
        &__item{
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: $li-margin-top * .5 0;
            line-height: normal;
            &::before{
                display: none;
            }
        }
        &__link{
            display: inline-block;
            color: $text-secondary;
            font-size: $size-md-px;
            text-decoration: none !important;
        }
    }

    //Блок с различной информацией
    &__info{
        min-width: 100%;
        @media (min-width: $media-sm){
            min-width: col-width(6);
            max-width: col-width(6);
        }
        @media (min-width: $media-lg){
            min-width: col-width(3);
            max-width: col-width(3);
        }
    }
    &-info{
        &__inner{
            justify-content: center;
            @media (min-width: $media-sm){
                justify-content: flex-start;
            }
            @media (min-width: $media-lg){
                justify-content: center;
            }
        }
        &__wrapper{
            > div{
                min-width: 100%;
            }
        }
    }

    //Доступные способы оплаты
    &__payment{
        flex-basis: 100%;
        .payment{
            &-types{
                &__header{
                    text-align: center;
                    @media (min-width: $media-sm){
                        text-align: left;
                    }
                }
                &__list{
                    justify-content: center;
                    @media (min-width: $media-sm){
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    ////Обратный звонок
    //&__feedback{
    //    margin-top: $global-margin * 3;
    //    img{
    //        margin: 0;
    //    }
    //}

    //О компании
    &__company{
        min-width: 100%;
        margin-top: $global-margin * 2;
        @media (min-width: $media-sm){
            min-width: col-width(6);
            max-width: col-width(6);
            margin-top: 0;
        }
        @media (min-width: $media-lg){
            min-width: col-width(3);
            max-width: col-width(3);
        }
    }
    &-company{
        &__inner{
            justify-content: center;
            text-align: center;
            @media (min-width: $media-sm){
                justify-content: flex-end;
                text-align: right;
            }
        }
        &__wrapper{
            > div{
                min-width: 100%;
            }
        }
    }

    //Телефоны
    &-phones{
        &__item{
            line-height: normal;
            &:not(:last-child){
                margin-bottom: 4px;
            }
        }
        &__phone{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            &:hover,
            &:focus{
                color: $color-primary;
            }
        }
    }

    //Почта
    &__emails{
        margin-top: $global-margin;
        font-size: $size-md-px;
        font-weight: $weight-semibold;
    }
    &-emails{
        &__email{
            color: $text-secondary;
        }
    }

    //Социальные сети
    &__social-links{
        margin-top: $global-margin * 2;
        padding-top: $global-margin * 2;
        @include before{
            top: 0;
            left: $global-padding;
            width: calc(100% - #{$global-padding * 2});
            @include border-top;
        }
    }
    &-social-links{
        &__list{
            justify-content: center;
            @media (min-width: $media-sm){
                justify-content: flex-end;
            }
        }
    }

    //Нижний блок футера
    &-bottom{
        @include border-top;
        @media (min-width: $media-lg){
            border-top: none;
        }
        .container{
            > .row{
                position: relative;
                align-items: center;
                padding-top: $global-margin * 2.5;
                padding-bottom: $global-margin * 2.5;
                @include before{
                    @media (min-width: $media-lg){
                        top: 0;
                        left: $global-padding;
                        width: calc(100% - #{$global-padding * 2});
                        @include border-top;
                    }
                }
            }
        }
    }

    //Копирайт
    &__copyright{
        display: flex;
        justify-content: center;
        min-width: 100%;
        color: $text-secondary;
        @media (min-width: $media-sm){
            justify-content: flex-start;
            min-width: 0;
        }
    }
    &-copyright{
        &__text{
            font-size: $size-md-px;
        }
    }

    //Информация о разработчике
    &__developers{
        display: flex;
        justify-content: center;
        min-width: 100%;
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-sm){
            justify-content: flex-end;
            min-width: 0;
            margin-top: 0;
        }
    }
    &-developers{
        &__link{
            display: inline-block;
            color: $text-secondary;
            font-size: $size-sl-px;
            white-space: nowrap;
            text-decoration: none !important;
            svg{
                margin-left: 6px;
                color: #e73855;
                fill: #333;
            }
        }
    }
}