include /components/menu/template.pug
include /components/social/template.pug

include /layout/payment-types/template.pug
include /layout/phones/template.pug

-
    /**
     * @function mixins.layout#footer
     * @requires mixins.components#menu
     * @requires mixins.components#social
     * @requires mixins.layout#paymentTypes
     * @requires mixins.layout#phones
     * @desc Футер.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=footer]
     * @param {Bemoptions} [config.menu={}] - .
     * @param {Bemoptions} [config.catalogMenu={}] - .
     * @param {boolean} [config.info=true] - .
     * @param {Bemoptions} [config.payment={}] - .
     * @param {boolean} [config.feedback] - .
     * @param {boolean} [config.company=true] - .
     * @param {Bemoptions} [config.phones={}] - .
     * @param {boolean} [config.emails=true] - .
     * @param {Bemoptions} [config.social={}] - .
     * @param {boolean} [config.copyright=true] - .
     * @param {boolean} [config.developers=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='footer'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin footer(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'footer';

        _.defaultsDeep(config, {
            type: b,
            tag: footer,
            menu: {
                classes: col,
                modifiers: 'main-menu',
                data: 'footer-menu',
                attrs: {
                    ariaHidden: 'true'
                }
            },
            catalogMenu: {
                classes: col,
                modifiers: 'catalog-menu',
                data: 'catalog-menu',
                href: 'catalog',
                maxDepth: 1,
                maxItems: 7,
                attrs: {
                    ariaHidden: 'true'
                }
            },
            info: true,
            payment: {},
            company: true,
            phones: {
                depth: 2,
                titleId: 'footer-phones-title'
            },
            emails: true,
            social: {
                type: be,
                classes: col,
                depth: 2,
                include: ['vk', 'facebook', 'instagram', 'youtube', 'twitter', 'ok'],
                attrs: {
                    ariaLabelledby: 'footer-social-title'
                }
            },
            copyright: true,
            developers: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        if (config.feedback === true) {
            config.feedback = {
                classes: col,
                depth: 2,
                modifiers: 'feedback'
            };
        }
        const feedbackImage = config.feedback && setImageProps('Data/footer', 'uploads/yandex-rating.png', 'Рейтинг на Яндекс маркете');

    //-html
    +b(config)&attributes(attributes)
        //-pug-lint-disable-line disallowBlockExpansion
        +b.footer-top: +r('footer'): div(class=container): div(class=row)
            //-Меню подвала
            if config.menu
                +menu(config.menu)
                    +e.header Информация

            //-Меню каталога
            if config.catalogMenu
                +menu(config.catalogMenu)
                    +link({
                        content: 'Каталог',
                        href: 'catalog',
                        class: 'header'
                    })

            //-Информация
            if config.info
                +be({
                    classes: col,
                    modifiers: 'info'
                })
                    +e({
                        classes: row,
                        modifiers: 'inner'
                    })
                        +e.wrapper
                            //-Оплата
                            if config.payment
                                +e({
                                    classes: col,
                                    depth: 2,
                                    modifiers: 'payment'
                                })
                                    +paymentTypes(config.payment)

                            //-Отзывы
                            if config.feedback
                                +be(config.feedback)
                                    +image({
                                        src: feedbackImage.src,
                                        alt: feedbackImage.alt
                                    })

            //-Информация о компании
            if config.company
                +be({
                    classes: col,
                    modifiers: 'company'
                })
                    +e({
                        classes: row,
                        modifiers: 'inner'
                    })
                        +e.wrapper
                            //-Телефоны
                            if config.phones
                                +phones(config.phones)

                            //-Почта
                            if config.emails
                                +be({
                                    classes: col,
                                    depth: 2,
                                    modifiers: 'emails',
                                    attrs: {
                                        ariaLabelledby: 'footer-emails-title'
                                    }
                                })
                                    +e({
                                        classes: srOnly,
                                        modifiers: 'title',
                                        content: 'Связаться по email',
                                        attrs: {
                                            id: 'footer-emails-title'
                                        }
                                    })

                                    +e.items
                                        +e.item
                                            +link({
                                                content: globalConfig.emails[0],
                                                href: globalConfig.emails[0],
                                                hrefFormat: transformToEmail,
                                                class: 'email'
                                            })

                            //-Соц. сети
                            if config.social
                                +social(config.social)
                                    +e({
                                        classes: srOnly,
                                        modifiers: 'title',
                                        content: 'Мы в социальных сетях',
                                        attrs: {
                                            id: 'footer-social-title'
                                        }
                                    })

        //-pug-lint-disable-line disallowBlockExpansion
        +b.footer-bottom: +r('footer'): div(class=container): div(class=row)
            //-Копирайт
            if config.copyright
                +be({
                    classes: col,
                    modifiers: 'copyright'
                })
                    +e({
                        modifiers: 'text',
                        content: `© ${globalConfig.projectName}, ${new Date().getFullYear()}`
                    })

            //-Информация о разработчике сайта
            if config.developers
                +be({
                    classes: col,
                    modifiers: 'developers'
                })
                    +link({
                        href: globalConfig.developerSite,
                        target: '_blank',
                        title: removeHtml(`Перейти на сайт ${globalConfig.developerName}`),
                        rel: 'noopener'
                    })
                        | Сделано в
                        span(class=srOnly) 100up
                        +sprite({id: 'logo-100up'})

        block