include ./index-about/template.pug
include ./index-card-slider/template.pug
include ./index-catalog/template.pug
include ./index-news/template.pug
include ./index-slider/index-slider-bottom/template.pug
include ./index-slider/template.pug
include ./index-slider-tabs/template.pug
include ./news-slider/template.pug
include ./special-slider/template.pug

-
    /**
     * @function mixins.layout#indexWrapper
     * @desc Обёртка главной страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.preload=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='index-slider'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.preloaderContainer='preloader-container'] - .
     */
mixin indexWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'index';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                preloaderContainer: 'preloader-container'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.preload) addClasses.push(config.class.preloaderContainer);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#index
     * @requires mixins.layout#indexWrapper
     * @requires mixins.layout#indexSlider
     * @requires mixins.layout#indexCatalog
     * @requires mixins.layout#specialSlider
     * @requires mixins.layout#indexNews
     * @requires mixins.layout#newsSlider
     * @requires mixins.layout#indexSliderTabs
     * @requires mixins.layout#indexCardSlider
     * @requires mixins.layout#indexAbout
     * @desc Главная страница.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.preload=true] - .
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.slider] - .
     * @param {Bemoptions} [config.catalog] - .
     * @param {Bemoptions} [config.specialSlider] - .
     * @param {Bemoptions} [config.news] - .
     * @param {Bemoptions} [config.newsSlider] - .
     * @param {Bemoptions} [config.sliderTabs] - .
     * @param {Bemoptions} [config.cardSlider] - .
     * @param {Bemoptions} [config.about] - .
     */
mixin index(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            preload: true,
            wrapper: {},
            class: {
                mixinClass
            }
        });

        if (config.preload && config.wrapper) {
            config.wrapper.preload = true;
        }

    //-html
    if config.preload
        +preload('index')

    +indexWrapper(config.wrapper)
        //-Верхний слайдер
        +indexSlider(config.slider)

        //-Разделы каталога
        +indexCatalog(config.catalog)

        //-Слайдер акций
        +specialSlider(config.specialSlider)

        //-Новости
        +indexNews(config.news)

        //-Слайдер новостей
        +newsSlider(config.newsSlider)

        //-Табы со слайдерами
        +indexSliderTabs(config.sliderTabs)

        //-Слайдер "Недавно просмотренные"
        +indexCardSlider(config.cardSlider)

        //-О компании
        +indexAbout(config.about)

        block