-
    const page = {
        title: 'Toolkit',
        lang: 'en'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/toolkit/template.pug

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                'Раздел второго уровня',
                                page.title
                            ]
                        })

                        +top

                        +textContainer
                            +toolkit

            +contentBottom
        +foot