@import 'main';

.alert{
    position: relative;
    margin-top: $global-margin;
    padding: 1em 1.4em;
    @include border(transparent);
    border-radius: $radius-primary;
    //Элементы
    &-inner{
        display: flex;
        align-items: center;
    }
    &-icon{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
        max-width: 35px;
        height: 35px;
        margin-right: 16px;
        border-radius: 50%;
        color: $white;
    }
    &-title{
        display: block;
        min-width: 100%;
        margin: 0;
        color: inherit;
        font-family: $header-font;
        font-size: $size-xl;
        font-weight: $header-weight;
        line-height: $header-line-height;
        &:not(:last-child){
            margin-bottom: $global-margin * .5;
        }
    }

    &-link{
        font-weight: $weight-bold;
        &:hover,
        &:focus{
            text-decoration: none;
        }
    }

    //Варианты
    &-dismissible{
        padding-right: calc(1em + 40px);
        .close{
            position: absolute;
            top: $global-margin * .5;
            right: $global-margin * .5;
            color: inherit;
        }
    }

    &:not(.show){
        opacity: 0;
        pointer-events: none;
    }

    //Цвета
    &-primary{
        border-color: palette(primary, border);
        color: palette(primary, color);
        background: palette(primary, bg);
        .alert-link{
            color: palette(primary, link);
        }
    }

    &-secondary{
        border-color: $border-primary;
        color: $text-primary;
        background: $bg-primary;
        .alert-icon{
            background: $text-primary;
        }
        .alert-link{
            color: darken($text-primary, 10%);
        }
    }

    &-success{
        border-color: palette(success, border);
        color: palette(success, color);
        background: palette(success, bg);
        .alert-icon{
            background: palette(success);
        }
        .alert-link{
            color: palette(success, link);
        }
    }

    &-info{
        border-color: palette(info, border);
        color: palette(info, color);
        background: palette(info, bg);
        .alert-icon{
            background: palette(info);
        }
        .alert-link{
            color: palette(info, link);
        }
    }

    &-warning{
        border-color: palette(warning, border);
        color: palette(warning, color);
        background: palette(warning, bg);
        .alert-icon{
            background: palette(warning);
        }
        .alert-link{
            color: palette(warning, link);
        }
    }

    &-danger{
        border-color: palette(danger, border);
        color: palette(danger, color);
        background: palette(danger, bg);
        .alert-icon{
            background: palette(danger);
        }
        .alert-link{
            color: palette(danger, link);
        }
    }

    &-dark{
        border-color: darken($grey-dark, 5%);
        color: $white;
        background: $grey-dark;
        .alert-link{
            color: $white;
        }
    }

    &-light{
        border-color: darken($grey-lightest, 10%);
        color: $grey;
        background: $grey-lightest;
        .alert-link{
            color: darken($grey, 20%);
        }
    }

    &-grey{
        border-color: darken($grey, 5%);
        color: $white;
        background: $grey;
        .alert-link{
            color: $white;
        }
    }

    &-white{
        color: $text-primary;
        background: $white;
    }
}