include /components/close/template.pug

-
    /**
     * @function mixins.components#alert
     * @requires mixins.components#close
     * @desc Уведомление.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.localData.close] - Заголовок кнопки закрытия.
     * @param {boolean} [config.dataInit=true] - Добавлять ли атрибут data-alert.
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {string} [config.color] - Цветовой класс уведомления. Будет добавлен как `${config.class.mixinClass}-${config.color}`.
     * @param {boolean} [config.dismissible] - Является ли уведомление закрываемым.
     * @param {boolean} [config.fade] - Добавлять ли класс fade.
     * @param {boolean} [config.show=true] - Добавлять ли класс show.
     * @param {boolean} [config.toast] - Добавлять ли модификатор toast.
     * @param {boolean} [config.fullwidth] - Добавлять ли модификатор fullwidth.
     * @param {(boolean|Bemoptions)} [config.inner] - Добавлять ли внутренний элемент или объект с настройками внутреннего элемента уведомления.
     * @param {(boolean|string|Bemoptions)} [config.title] - Добавлять ли заголовок уедомления или текст заголовка уведомления или настройки элемента заголовка уведомления.
     * @param {bemtype} [config.title.type=e] - БЭМ-тип заголовка уведомления.
     * @param {bemtag} [config.title.tag=h4] - Тег заголовка уведомления.
     * @param {string} [config.role='alert'] - Accessibility-роль, согласно которой добавляются другие атрибуты.
     * @param {(boolean|Bemoptions)} [config.close] - Добавлять ли кнопку [close]@{link mixins.components.close} или объект с настройками кнопки закрытия.
     * @param {bemtag} [config.close.tag=button] - Тег кнопки закрытия.
     * @param {string} [config.close.title=config.localData.close] - Атрибут title кнопки закрытия.
     * @param {bemattrs} [config.close.attrs] - Объект с другими атрибутами кнопки закрытия.
     * @param {string} [config.close.attrs.dataAlertClose=''] - Атрибут data-alert-close кнопки закрытия.
     * @param {*} [config.close.-] - Настройки миксина [close]@{link mixins.components.close}.
     * @param {(boolean|Bemoptions)} [config.icon] - Добавлять ли иконку или объект с настройками иконки уведомления.
     * @param {Sprite} [config.icon.sprite] - Опции спрайта иконки уведомления.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='alert'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.dismissible='dismissible'] - Модификатор класса закрывающегося уведомления.
     * @param {bemclasses} [config.class.dismissibleAdd=`${config.class.mixinClass}-${config.class.dismissible}`] - Дополнительные классы закрывающегося уведомления.
     * @param {bemclasses} [config.class.fade='fade'] - Дополнительный класс плавно-закрывающегося уведомления.
     * @param {bemclasses} [config.class.show='show'] - Дополнительный класс открытого уведомления.
     * @param {bemclasses} [config.class.toast='toast'] - Дополнительный класс попапа-уведомления.
     * @param {bemclasses} [config.class.fullwidth='fullwidth'] - Дополнительный класс уведомления на всю ширину страницы.
     * @param {bemclasses} [config.class.inner='inner'] - Модификатор класса внутреннего элемента.
     * @param {bemclasses} [config.class.innerAdd=`${config.class.mixinClass}-${config.class.inner}`] - Дополнительные классы внутреннего элемента.
     * @param {bemclasses} [config.class.title='title'] - Дополнительный класс заголовка попапа-уведомления.
     * @param {bemclasses} [config.class.titleAdd=`${config.class.mixinClass}-${config.class.title}`] - Дополнительные классы заголовка попапа-уведомления.
     * @param {bemclasses} [config.class.icon='icon'] - Модификатор класса иконки.
     * @param {bemclasses} [config.class.iconAdd=`${config.class.mixinClass}-${config.class.icon}`] - Дополнительные классы иконки.
     * @example
     * include /components/close/template.pug
     *
     * +alert({
     *     dismissible: true,
     *     title: 'Заголовок',
     *     content: 'Контент',
     *     dataOptions: {duration: 150},
     *     icon: {
     *         sprite: {
     *             id: 'check',
     *             width: 17
     *         }
     *     }
     * })
     */
mixin alert(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'alert';

        const modulePath = 'components/alert';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            dataInit: true,
            show: true,
            role: 'alert',
            class: {
                mixinClass,
                dismissible: 'dismissible',
                fade: 'fade',
                show: 'show',
                toast: 'toast',
                inner: 'inner',
                title: 'title',
                fullwidth: 'fullwidth',
                icon: 'icon'
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                role: config.role,
                ariaModal: _.ifElse(config.role === 'alertdialog', 'true'),
                dataAlert: config.dataInit ? '' : null,
                dataAlertOptions: config.dataOptions || null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                innerAdd: `${config.class.mixinClass}-${config.class.inner}`,
                titleAdd: `${config.class.mixinClass}-${config.class.title}`,
                iconAdd: `${config.class.mixinClass}-${config.class.icon}`,
                dismissibleAdd: `${config.class.mixinClass}-${config.class.dismissible}`
            }
        });

        if (config.inner || config.icon) {
            config.inner = _.toPlainObject(config.inner);
            _.defaultsDeep(config.inner, {
                type: e,
                modifiers: config.class.inner,
                classes: `${config.class.mixinClass}-${config.class.inner}`
            });
        }

        if (config.title) {
            const titleContent = _.isString(config.title) ? config.title : null;
            if (!_.isPlainObject(config.title)) {
                config.title = {};
            }
            _.defaultsDeep(config.title, {
                type: e,
                tag: h4,
                modifiers: config.class.title,
                classes: config.class.titleAdd,
                content: titleContent
            });
        }

        if (config.dismissible) {
            config.close = _.toPlainObject(config.close);
            _.defaultsDeep(config.close, {
                tag: button,
                title: config.localData.close,
                attrs: {
                    dataAlertClose: ''
                }
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                modifiers: config.class.icon,
                classes: `${config.class.mixinClass}-${config.class.icon}`
            });
        }

        const blockClasses = _.castArray(config.class.block);
        if (config.toast) blockClasses.push(config.class.toast);
        if (config.fullwidth) blockClasses.push(config.class.fullwidth);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        if (config.show) addClasses.push(config.class.show);
        if (config.fade) addClasses.push(config.class.fade);
        if (config.dismissible) addClasses.push(config.class.dismissibleAdd);
        if (config.color) addClasses.push(`${config.class.mixinClass}-${config.color}`);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if config.close
            +close(config.close)

        +#{config.inner ? b : empty}(config.inner)
            if config.icon
                +b(config.icon)
                    +sprite(config.icon.sprite)

            +#{config.icon ? b : empty}
                if config.title
                    +b(config.title)

                if !_.isUndefined(config.content)
                    != config.content
                else
                    block

-
    /**
     * @function mixins.components#alertTranslate
     * @desc Строка с языковым контентом для модуля уведомления.
     */
mixin alertTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'alert', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.alert = ${langContent};`