@import 'main';

html.overflow-hidden{
    margin-right: 0 !important;
    body{
        height: 100vh;
        overflow: auto;
    }
    .mfp-bg{
        height: 100vh !important;
    }
    .mfp-wrap{
        top: 0 !important;
    }
}

//TODO:change overflow on media-md for select
//TODO:mfp scss custom build
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 460px;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $white;
    box-shadow: $shadow-size-lg rgba($shadow-color-primary, .5);
    transform: translate(-50%, -50%);
    @include transition(opacity transform);
    @media (min-width: $media-sm){
        max-height: calc(100vh - #{$global-margin * 2});
        border-radius: $radius-primary;
    }
    @include m(fullsize){
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100% !important;
        margin: 0;
        border-radius: 0;
        .popup__inner{
            max-height: 100% !important;
        }
    }
    @include m(small){
        width: calc(100vw - #{$container-padding * 2});
    }
    @include m(medium){
        max-width: 500px;
    }
    &__inner{
        max-height: calc(100vh - 80px);
        padding: $global-margin * 3 ceil($global-padding * 1.5);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @media (min-width: $media-sm){
            max-height: calc(100vh - #{$global-margin * 2});
            padding: $global-margin * 3 $global-padding * 2;
        }
        @media (min-width: $media-md){
            padding: $global-margin * 3.5 $global-padding * 4.5;
        }
        @at-root .no-touch{
            .popup__inner{
                max-height: 100vh;
            }
        }
    }
}

//Элементы плагина Magnific popup
.mfp{
    &-wrap{
        .popup{
            display: block;
            text-align: left;
        }
    }
    &-container{
        padding: 0;
        @media (min-width: $media-sm){
            padding: 0 $global-padding * .5;
        }
    }
    &-content{
        text-align: center;
    }

    &-zoom,
    &-zoom-out-cur,
    &-close,
    &-arrow{
        cursor: $cursor-pointer !important;
    }

    &-bg{
        background: $grey-darker;
        opacity: 0;
        @include transition(opacity);
        &.mfp-ready{
            opacity: .85;
        }
        &.mfp-removing{
            opacity: 0;
        }
    }

    //Кнопка закрытия
    &-close{
        position: absolute;
        top: $global-margin * .5 !important;
        right: $global-margin * .5;
        width: 40px;
        height: 40px;
        padding: 0 !important;
        border: none;
        line-height: 40px;
        background: none;
        cursor: $cursor-pointer;
        opacity: 1;
        @include transition(color opacity);
        svg{
            pointer-events: none;
        }
    }
    &-close-btn-in{
        .mfp-close{
            color: $text-primary;
            &:hover,
            &:focus{
                color: palette(primary, light);
            }
        }
    }
    &-image-holder,
    &-iframe-holder{
        .mfp-close{
            top: 0 !important;
            right: 0;
            color: $white;
            cursor: $cursor-pointer;
            &:hover,
            &:focus{
                color: $grey-lightest;
            }
            &::before,
            &::after{
                left: calc(100% - 7px);
            }
        }
    }

    //Галерея
    &-gallery{
        position: fixed !important;
        height: 100vh !important;
        height: var(--window-height) !important;
        overflow: auto !important;
        .mfp-image-holder .mfp-figure{
            cursor: $cursor-pointer;
        }
    }
    &-figure{
        @include transition(opacity transform);
        figcaption{
            margin: 0;
        }
    }
    &-arrow{
        margin-top: -55px !important;
        opacity: 1;
        @include transition(opacity);
        &:hover,
        &:focus{
            opacity: .75;
        }
    }

    //Анимация
    &-slide-top{
        .popup,
        .mfp-figure{
            opacity: 0;
        }
        .popup{
            transform: translate(-50%, calc(-50% + #{$translate-size-secondary})) perspective(600px) rotateX(10deg);
            @include m(large){
                transition: none !important;
            }
        }
        &.mfp-ready{
            .popup,
            .mfp-figure{
                opacity: 1;
            }
            .popup{
                transform: translate(-50%, -50%) perspective(500px) rotateX(0deg);
            }
        }
        &.mfp-removing{
            .popup,
            .mfp-figure{
                opacity: 0;
            }
            .popup{
                transform: translate(-50%, calc(-50% + #{$translate-size-secondary})) perspective(600px) rotateX(10deg);
            }
        }
    }
}