//-TODO:add examples

-
    /**
     * @function mixins.components#popup
     * @desc Попап.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix='popup'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.idTitlePrefix=config.idPrefix] - .
     * @param {string} [config.idTitleModifier='-title'] - .
     * @param {string} [config.idTitlePostfix=''] - .
     * @param {string} [config.idTitle=config.idTitlePrefix + config.idTitleModifier + config.idTitlePostfix] - .
     * @param {boolean} [config.inner=true] - .
     * @param {boolean} [config.hashAction] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='popup'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass='mfp-hide'] - .
     * @ignore
     */
mixin popup(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'popup';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            attrs: {
                role: 'dialog',
                ariaHidden: 'true',
                dataHashAction: config.hashAction ? 'popup' : null,
                dataPopupOptions: config.dataOptions || null
            },
            idTitleModifier: '-title',
            idTitlePostfix: '',
            inner: true,
            class: {
                mixinClass,
                addClass: 'mfp-hide'
            }
        });

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            idTitlePrefix: config.idPrefix,
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        _.defaults(config, {
            idTitle: config.idTitlePrefix + config.idTitleModifier + config.idTitlePostfix
        });
        _.defaults(config.attrs, {
            id: config.id,
            ariaLabelledby: config.idTitle
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +#{config.inner ? 'popupInner' : empty}(config.inner)
            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#popupInner
     * @desc Внутренний контейнер попапов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='inner'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @ignore
     */
mixin popupInner(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'inner';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#popupHeader
     * @desc Заголовок попапа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=header]
     * @param {string} [config.idPrefix='popup'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.idTitlePrefix=config.idPrefix] - .
     * @param {string} [config.idTitleModifier='-title'] - .
     * @param {string} [config.idTitlePostfix=''] - .
     * @param {string} [config.idTitle=config.idTitlePrefix + config.idTitleModifier + config.idTitlePostfix] - .
     * @param {Bemoptions} [config.title] - .
     * @param {bemtag} [config.title.tag=h2] - .
     * @param {(Bemoptions|string)} [config.subtitle] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='header'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.subtitle='subtitle'] - .
     * @ignore
     */
mixin popupHeader(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'header';

        _.defaultsDeep(config, {
            type: be,
            tag: header,
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            idTitleModifier: '-title',
            class: {
                mixinClass,
                title: 'title',
                subtitle: 'subtitle'
            }
        });

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            idTitlePrefix: config.idPrefix,
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        _.defaults(config, {
            idTitle: config.idTitlePrefix + config.idTitleModifier + config.idTitlePostfix
        });

        setBlockClass(attributes, config.class.block);

        config.title = _.toPlainObject(config.title);
        _.defaultsDeep(config.title, {
            type: e,
            tag: h2,
            modifiers: config.class.title,
            attrs: {
                id: config.idTitle
            }
        });

        if (config.subtitle) {
            const subtitleContent = _.isString(config.subtitle) ? config.subtitle : null;
            if (!_.isPlainObject(config.subtitle)) {
                config.subtitle = {};
            }
            _.defaultsDeep(config.subtitle, {
                type: e,
                modifiers: config.class.subtitle,
                content: subtitleContent
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +b(config.title)
            if !_.isUndefined(config.content)
                != config.content
            else
                block

        if config.subtitle
            +b(config.subtitle)
-
    /**
     * @function mixins.components#popupContent
     * @desc Обёртка контента попапа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @ignore
     */
mixin popupContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'content';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#popupTranslate
     * @desc Строка с языковым контентом для модуля попапов.
     * @ignore
     */
mixin popupTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'popup', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.popup = ${langContent};`