-
    const page = {
        title: 'Каталог',
        urlParams: {catalogType: 'tile'}
    };
include /base/templates/main.pug

include /layout/about/template.pug
include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog/template.pug
include /layout/catalog-item/template.pug
include /layout/filter/template.pug
include /layout/sidebar/template.pug

-
    page.catalog = {};
    getData(page.catalog, 'catalog-menu');
    page.category = page.catalog.data.items.find(item => {
        return item.content === 'Парфюмерия и косметика';
    });
    page.subcategory = page.category.items.find(item => {
        return item.content === 'Подарочные наборы';
    });
    page.category.link = {
        addClass: '-active'
    };
    page.subcategory.link = {
        addClass: '-active'
    };
    page.categoryTitle = page.category.content;
    page.subcategoryTitle = page.subcategory.content;

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop({
                header: {
                    catalogMenu: {
                        menu: {
                            data: page.catalog.data,
                            debug: true
                        }
                    }
                }
            })

            +main
                +mainInner
                    +sidebar
                        +filter

                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                ['Каталог', 'catalog-sections'],
                                [page.categoryTitle, 'catalog'],
                                page.subcategoryTitle
                            ]
                        })

                        +top({title: page.subcategoryTitle})
                            +catalogControls({
                                sort: {
                                    activeSortItem: 0
                                }
                            })

                        +catalog

                    +bottom
                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

                        //-О компании
                        +aboutBlock({title: 'О компании'})

            +contentBottom
        +foot