//-TODO:catalog-brand page
-
    const page = {
        title: 'Бренд',
        urlParams: {catalogType: 'tile'}
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog/template.pug
include /layout/catalog-item/template.pug

-
    page.catalog = {};
    getData(page.catalog, 'catalog-menu');
    page.category = page.catalog.data.items[2];
    page.subcategory = page.category.items[0];
    page.category.link = {
        addClass: '-active'
    };
    page.subcategory.link = {
        addClass: '-active'
    };
    page.categoryTitle = page.category.content;
    page.subcategoryTitle = page.subcategory.content;

    page.currentCatalogPage = 'Philips';

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +breadcrumbs({
                    data: [
                        [globalConfig.projectName, '/'],
                        ['Каталог', 'catalog-sections'],
                        [page.categoryTitle, 'catalog'],
                        page.subcategoryTitle
                    ]
                })

                +textContainer({fullwidth: true})
                    +catalogWrapper
                        +catalogText({
                            title: page.currentCatalogPage,
                            position: 'top',
                            logo: true
                        })

                        +catalogTop({
                            title: false,
                            filterButton: false,
                            brandsLink: true,
                            activeSortItem: 0,
                            href: 'catalog'
                        })

                        +catalogContent({
                            fullwidth: true,
                            maxItems: 12
                        })
                            +catalogBottom({href: 'catalog'})

                //-Слайдер "Недавно просмотренные"
                +cardSlider({
                    modifiers: 'recent',
                    data: 'catalog-item',
                    cardType: 'catalogItem',
                    title: {
                        content: 'Недавно вы смотрели'
                    }
                })

            +contentBottom
        +foot