@import 'main';

.gm-style{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0;
        &::before{
            display: none;
        }
    }
    img{
        display: inline-block;
        margin: 0;
        vertical-align: baseline;
    }
    label{
        margin: 0;
    }
}