//-TODO:coords as array

-
    /**
     * @function mixins.components#mapGoogle
     * @desc Контейнер карты Google.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {string} [config.markerCoords] - .
     * @param {string} [config.markerContent] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='map'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +mapGoogle({
     *     markerCoords: '1234,5678',
     *     markerContent: 'Адрес',
     *     dataMapOptions: {},
     *     dataInit: true
     * })
     */
mixin mapGoogle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'map';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataMap: config.dataInit ? '' : null,
                dataMapOptions: config.dataOptions || null
            },
            class: {
                mixinClass
            }
        });

        if (config.markerCoords || config.markerContent) {
            config.attrs.dataMapOptions = _.toPlainObject(config.attrs.dataMapOptions)
            _.defaultsDeep(config, {
                attrs: {
                    dataMapOptions: {
                        markerCoords: config.markerCoords || null,
                        markerContent: config.markerContent || null
                    }
                },
                class: {
                    block: config.class.mixinClass || mixinClass
                }
            });
        }

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block