include /layout/logo/template.pug

-
    /**
     * @function mixins.layout#mainPreloader
     * @requires mixins.layout#logo
     * @desc Глобальный прелоадер сайта.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='main-preloader'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin mainPreloader(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'main-preloader';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +logo

            +be.progress
                +e.text 0

        block

-
    /**
    * @function mixins.layout#mainPreloaderScript
    * @desc Скрипт глобального прелоадера сайта.
    * @param {Bemoptions} [config={}] - Настройки.
    */
mixin mainPreloaderScript(config)
    -
        const scriptContent = `
        (() => {
            const preloader = document.querySelector('.main-preloader');
            preloader.className.add('active');

            const images = document.querySelectorAll('img');
            const progressTextElement = document.querySelector('.main-preloader-progress__text');
            const imagesLength = images.length;
            let imagesLoaded = 0;

            const transitionDuration = 250;
            const percents = 100;

            setTimeout(() => {
                images.forEach(image => {
                    image.addEventListener('load', () => {
                        imagesLoaded += 1;
                        const progressText = percents - Math.ceil((imagesLength - imagesLoaded) / imagesLength * percents);
                        if (progressText <= percents) {
                            progressTextElement.textContent = String(progressText);
                        }

                        if (imagesLoaded === imagesLength) {
                            setTimeout(() => {
                                document.body.className.add('preloaded');
                                setTimeout(() => {
                                    preloader.remove();
                                }, transitionDuration);
                            }, transitionDuration * 2);
                        }
                    });

                    if (image.complete) {
                        const event = document.createEvent('HTMLEvents');
                        event.initEvent('load', true, false);
                        image.dispatchEvent(event);
                    }
                });
            }, transitionDuration * 4);
        })();`;

    //-html
    script(data-skip-moving='true')
        != scriptContent

        block