-
    const page = {
        title: 'Заказ оформлен'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/order/order-finish/template.pug
include /layout/order-steps/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top

                        +orderStepsWrapper
                            +orderStepsSteps({
                                current: 2,
                                inactive: true
                            })

                            +orderStepsForm
                                +orderFinish
                                    +orderStepsFormGroup
                                        +orderFinishLeft

            +contentBottom
        +foot