@import 'main';

//TODO:pulse animations

//Чекбоксы и радиокнопки
.form-check{
    position: relative;
    display: block;
    margin-bottom: 0;
    font-size: $size-md-px;
    line-height: $line-height-sm;
    &-input{
        position: absolute !important;
        top: 6px;
        left: 0;
        width: $input-check-size;
        height: $input-check-size;
        margin: 0 !important;
        outline: none !important;
        opacity: 0 !important;
        @include appearance(none);
        &:disabled,
        &.disabled{
            ~ .form-check-content{
                @include disabled;
            }
        }
        &:not(:disabled):not(.disabled){
            ~ .form-check-content{
                &:hover,
                &:focus{
                    &::before{
                        border-color: $color-primary;
                    }
                }
            }
            ~ .form-check-label{
                &:hover,
                &:focus{
                    ~ .form-check-content{
                        &::before{
                            border-color: $color-primary;
                        }
                    }
                }
            }
        }
        &:focus{
            ~ .form-check-content{
                &::before{
                    border-color: $color-primary;
                }
            }
        }
        &:checked{
            &:disabled,
            &.disabled{
                ~ .form-check-icon{
                    @include disabled;
                }
            }
            ~ .form-check-icon{
                opacity: 1;
            }
            ~ .form-check-content{
                &::after{
                    border-width: 5px !important;
                }
            }
        }
    }

    &-label{
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }

    &-content{
        position: relative;
        display: block;
        padding: 6px 0 6px $input-check-size + 12;
        cursor: $cursor-pointer;
        @include before-after{
            transition-duration: $trans-duration-primary;
            transition-timing-function: $trans-easing-primary;
        }
        &::before{
            top: 6px;
            left: 0;
            width: $input-check-size;
            height: $input-check-size;
            @include border($input-border);
        }
        &::after{
            transition-property: top, height, border-width, opacity;
        }
        &:empty{
            width: $input-check-size;
            height: $input-check-size;
            padding: 0;
            &::before{
                top: 0;
            }
        }

        a{
            color: $color-primary;
            text-decoration: underline;
            &:hover,
            &:focus{
                color: palette(primary, light);
                text-decoration: none;
            }
        }
    }

    &-icon{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $input-check-size;
        height: $input-check-size;
        color: $white;
        cursor: $cursor-pointer;
        opacity: 0;
        pointer-events: none;
        @include transition(opacity);
    }

    @at-root .checkbox{
        .form-check{
            //Indeterminate
            &-input{
                &:indeterminate{
                    ~ .form-check-content{
                        &::after{
                            top: 10px;
                            left: 3px;
                            width: 10px;
                            height: 2px;
                            @include border($color-primary);
                            border-radius: 1px;
                        }
                        &:empty{
                            &::after{
                                top: 4px;
                            }
                        }
                    }
                }
            }

            &-content{
                &::before{
                    border-radius: $radius-sm;
                    transition-property: border-color;
                }
                &::after{
                    top: 6px;
                    left: 3px;
                    width: 10px;
                    height: 10px;
                    margin-top: 3px;
                    @include border($color-primary, 0);
                    border-radius: $radius-sm;
                }
                &:empty{
                    &::after{
                        top: 0;
                    }
                }
            }
            &-icon{
                svg{
                    margin-bottom: 2px;
                }
            }
        }
    }

    @at-root .radio{
        .form-check{
            &-input{
                &:checked{
                    ~ .form-check-content{
                        &::before{
                            border-color: $color-primary;
                            background: $color-primary;
                        }
                        &::after{
                            border-width: 3px !important;
                        }
                    }
                }
            }
            &-content{
                &::before{
                    border-radius: 50%;
                    transition-property: border-color, background;
                }
                &::after{
                    top: 6px + 5;
                    left: 5px;
                    @include border($white, 0);
                    @include circle(6px);
                }
                &:empty{
                    &::after{
                        top: 5px;
                    }
                }
            }
        }
    }

    //Переключатель
    &-switch{
        .form-check{
            &-content{
                padding-left: 56px;
                &::before{
                    width: 40px;
                    height: $input-check-size;
                    border-radius: $input-check-size * .5 !important;
                    background: transparent !important;
                }
                &::after{
                    top: 6px;
                    left: 3px;
                    width: 10px;
                    height: 10px;
                    margin-top: 3px;
                    @include border($input-border, 10px * .5);
                    border-radius: (10px * .5);
                    box-shadow: $shadow-size-primary rgba($shadow-color-primary, .1);
                    transition-property: border-color, left;
                }
            }
            &-input{
                &:checked{
                    ~ .form-check-content{
                        &::after{
                            left: 40px - (10 + 3);
                            border-color: $color-primary;
                            border-width: (10px * .5) !important;
                        }
                    }
                }
            }
        }
    }
}