-
    /**
     * @function mixins.components#checkbox
     * @desc Элемент чекбоксов и радио-кнопок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.checkType='checkbox'] - Тип элемента ('checkbox' или 'radio'). Для радио-кнопок есть отдельный миксин +radio.
     * @param {boolean} [config.checked] - .
     * @param {boolean} [config.disabled] - .
     * @param {string} [config.id] - .
     * @param {string} [config.name] - .
     * @param {boolean} [config.switch] - .
     * @param {boolean} [config.required] - .
     * @param {boolean} [config.labelWrapper=true] - .
     * @param {Bemoptions} [config.label={}] - .
     * @param {bemtype} [config.label.type=config.labelWrapper ? e : empty] - .
     * @param {bemtag} [config.label.tag=label] - .
     * @param {bemclasses} [config.label.classes=`${config.class.mixinClass}-${config.class.label}`] - .
     * @param {bemmodifiers} [config.label.modifiers=config.class.label] - .
     * @param {bemattrs} [config.label.attrs={}] - .
     * @param {Bemoptions} [config.input={}] - .
     * @param {bemtag} [config.input.tag=input] - .
     * @param {bemclasses} [config.input.classes=`${config.class.mixinClass}-${config.class.input}`] - .
     * @param {bemmodifiers} [config.input.modifiers=config.class.input] - .
     * @param {bemattrs} [config.input.attrs={}] - .
     * @param {Bemoptions} [config.contentBlock={}] - .
     * @param {bemtag} [config.contentBlock.tag=config.labelWrapper ? span : div] - .
     * @param {bemclasses} [config.contentBlock.classes=`${config.class.mixinClass}-${config.class.content}`] - .
     * @param {bemmodifiers} [config.contentBlock.modifiers=config.class.content] - .
     * @param {string} [config.value] - .
     * @param {Object} [config.icon] - .
     * @param {Sprite} [config.icon.sprite] - .
     * @param {boolean} [config.valid] - .
     * @param {boolean} [config.invalid] - .
     * @param {string} [config.validate] - .
     * @param {boolean} [config.switchRole] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form-check'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.type=config.checkType] - Класс, добавляемый согласно типу элемента ('checkbox' или 'radio').
     * @param {bemclasses} [config.class.label='label'] - .
     * @param {bemclasses} [config.class.labelAdd=`${config.class.mixinClass}-${config.class.label}`] - .
     * @param {bemclasses} [config.class.input='input'] - .
     * @param {bemclasses} [config.class.inputAdd=`${config.class.mixinClass}-${config.class.input}`] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.iconAdd=`${config.class.mixinClass}-${config.class.icon}`] - .
     * @param {bemclasses} [config.class.content='content'] - .
     * @param {bemclasses} [config.class.contentAdd=`${config.class.mixinClass}-${config.class.content}`] - .
     * @param {bemclasses} [config.class.switch='switch'] - .
     * @param {bemclasses} [config.class.switchAdd=`${config.class.mixinClass}-${config.class.switch}`] - .
     * @param {bemclasses} [config.class.valid='is-valid'] - .
     * @param {bemclasses} [config.class.invalid='is-invalid'] - .
     * @example
     * +checkbox({
     *     checkType: 'radio',
     *     id: 'test',
     *     name: 'TEST',
     *     checked: true
     * })
     *     span Текст чекбокса
     */
mixin checkbox(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form-check';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            checkType: 'checkbox',
            labelWrapper: true,
            class: {
                mixinClass,
                label: 'label',
                input: 'input',
                icon: 'icon',
                content: 'content',
                switch: 'switch',
                valid: 'is-valid',
                invalid: 'is-invalid'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            type: config.class.type || config.checkType,
            switchAdd: `${config.class.mixinClass}-${config.class.switch}`,
            labelAdd: `${config.class.mixinClass}-${config.class.label}`,
            inputAdd: `${config.class.mixinClass}-${config.class.input}`,
            iconAdd: `${config.class.mixinClass}-${config.class.icon}`,
            contentAdd: `${config.class.mixinClass}-${config.class.content}`
        });

        setBlockClass(attributes, config.class.block);
        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        if (config.class.block !== config.checkType) addClasses.push(config.checkType);
        if (config.switch) addClasses.push(config.class.switchAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const inputAddClasses = _.castArray(config.class.inputAdd);
        if (config.valid) inputAddClasses.push(config.class.valid);
        if (config.invalid) inputAddClasses.push(config.class.invalid);

        config.label = _.toPlainObject(config.label);
        _.defaultsDeep(config.label, {
            type: config.labelWrapper ? e : empty,
            tag: label,
            classes: config.class.labelAdd,
            modifiers: config.class.label,
            attrs: {
                for: config.id
            }
        });

        config.input = _.toPlainObject(config.input);
        _.defaultsDeep(config.input, {
            type: e,
            tag: input,
            classes: inputAddClasses,
            modifiers: config.class.input,
            attrs: {
                checked: config.checked ? '' : null,
                disabled: config.disabled ? '' : null,
                name: config.name,
                id: config.id,
                required: config.required ? '' : null,
                type: config.checkType,
                value: config.value,
                dataValidate: config.validate || null,
                role: config.switchRole ? 'switch' : null
            }
        });

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: config.labelWrapper ? span : div,
                classes: config.class.iconAdd,
                modifiers: config.class.icon,
                sprite: _.ifElse((config.checkType === 'checkbox') && !config.switch, 'check')
            });
        }

        config.contentBlock = _.toPlainObject(config.contentBlock);
        _.defaultsDeep(config.contentBlock, {
            type: e,
            tag: config.labelWrapper ? span : div,
            classes: config.class.contentAdd,
            modifiers: config.class.content
        });

    //-html
    +b(config)&attributes(attributes)
        +b(config.label)
            +b(config.input)

            if !config.labelWrapper
                - config.label.type = e;
                +b(config.label)

            if config.icon
                +b(config.icon)
                    +sprite(config.icon.sprite)

            +b(config.contentBlock)
                if !_.isUndefined(config.content)
                    != config.content
                else
                    block

-
    /**
     * @function mixins.components#radio
     * @desc Радио-кнопка. Наследует: {@link mixins.components.checkbox}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.checkType='radio'] - .
     * @example
     * +radio({
     *     id: 'test',
     *     name: 'TEST',
     *     content: 'Текст радио-кнопки'
     * })
     */
mixin radio(config)
    -
        config = _.toPlainObject(config);

        _.defaults(config, {
            checkType: 'radio'
        });

    //-html
    +checkbox(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block