@import 'main';

.sidebar{
    &__personal{
        display: none;
        padding: $global-margin * 1.5 $global-padding * 2.5;
        @media (min-width: $media-xl){
            display: block;
        }
        @if map-get($global-settings, manager){
            .avatar{
                &__inner{
                    width: 50px;
                    height: 50px;
                }
                &__badge{
                    top: 0 !important;
                    left: 0;
                    transform: scale(1);
                }
            }
        }
    }

    &-personal{
        //Менеджер
        @if map-get($global-settings, manager){
            &-manager{
                &__inner{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    overflow: hidden;
                }
                &__info{
                    max-width: calc(100% - 50px);
                    padding-left: $global-padding;
                }
                &__item{
                    &:not(:first-child){
                        margin-top: 5px;
                    }
                }
                &__title{
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-md-px;
                    font-weight: $weight-medium;
                    letter-spacing: $letter-spacing-primary;
                }
                &__phone{
                    display: inline-block;
                    padding: 2px 9px;
                    border-radius: $radius-primary;
                    color: $grey-darker;
                    font-size: $size-sl-px;
                    font-weight: $weight-semibold;
                    background: $bg-primary;
                    &:hover,
                    &:focus{
                        color: $color-primary;
                    }
                }
                &__email{
                    color: $text-secondary;
                    text-decoration: none !important;
                    svg{
                        margin: -1px 6px 0 0;
                        color: $grey-light;
                        @include transition(color);
                    }
                    &:hover,
                    &:focus{
                        color: $color-primary;
                        svg{
                            color: to-rgb($color-primary, .75);
                        }
                    }
                }
                &__bottom{
                    min-width: 100%;
                    margin-top: $global-margin;
                }
                &__button{
                    min-width: 100%;
                }
            }
        }

        //Прогрессбар
        &__progress{
            &:not(:first-child){
                margin-top: $global-margin * 1.5;
                padding-top: $global-margin * 1.5;
                @include border-top;
            }
        }
        &-progress{
            &__item{
                font-size: $size-md-px;
                &:not(:first-child){
                    margin-top: $global-margin;
                }
            }
            &__label{
                display: flex;
                justify-content: space-between;
            }
            &__title{
                margin-top: $global-margin * .25;
                white-space: nowrap;
                @at-root .sidebar{
                    .sidebar-personal-progress__title{
                        @include sr-only;
                    }
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__progress{
                margin-top: $global-margin * .5;
                @include m(yellow){
                    .progress{
                        &-bar{
                            background: $color-warning;
                        }
                    }
                }
                @include m(green){
                    .progress{
                        &-bar{
                            background: palette(success, light);
                        }
                    }
                }
            }
        }

        //Меню
        &__menu{
            border-bottom-left-radius: $radius-primary;
            border-bottom-right-radius: $radius-primary;
            background: $white;
            &:not(:first-child){
                margin-top: $global-margin * 2;
                @include border-top;
            }
        }
        &-menu{
            &__container{
                @include m(level1){
                    &:not(:first-child){
                        @include border-top;
                    }
                }
            }
            &__list{
                margin: 0;
                padding: 0;
                @include m(level2){
                    padding-bottom: $global-margin * .5;
                }
            }
            &__item{
                margin: 0;
                &::before{
                    display: none;
                }
                @include m(level1){
                    padding-top: $global-margin;
                    &:not(:first-child){
                        margin-top: $global-margin;
                        @include border-top;
                    }
                }
            }
            &__link{
                display: inline-block;
                color: $grey-darker;
                line-height: $line-height-md;
                text-decoration: none;
                @include m(level1){
                    display: flex;
                    justify-content: space-between;
                    padding: 9px 0;
                    font-family: $font-secondary;
                    font-size: px-rem(15);
                    font-weight: $weight-medium;
                    text-decoration: none !important;
                }
                @include m(level2){
                    display: block;
                    padding: 6px 0;
                }
                &.active{
                    .sidebar-personal-menu__icon{
                        @include m(has-items){
                            transform: rotate(0deg);
                        }
                    }
                }
                @include m(active){
                    color: $link-color;
                    cursor: default;
                    pointer-events: none;
                }
            }
            &__icon{
                display: inline-block;
                &:first-child{
                    position: relative;
                    top: -1px;
                    margin-right: 12px;
                }
                @include m(has-items){
                    transform: rotate(-90deg);
                    @include transition(transform);
                }
            }
        }
    }
}

[data-slideout-type='personal']{
    .slideout{
        &__personal{
            display: block;
        }
    }
    .sidebar__personal{
        display: block;
    }
    .sidebar-personal{
        &__progress{
            .tooltip{
                display: none;
            }
        }
    }
}