include /components/file/template.pug
include /components/menu/template.pug
include /components/money/template.pug
include /components/progress/template.pug
include /components/popup/template.pug

include /layout/avatar/template.pug

-
    /**
    * @function mixins.layout#sidebarManager
    * @requires mixins.components#fileInput
    * @requires mixins.components#popup
    * @requires mixins.components#popupContent
    * @requires mixins.components#popupHeader
    * @requires mixins.layout#avatar
    * @desc Блок менеджера в боковом меню личного кабинета.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type=be]
    * @param {bemtag} [config.tag=article]
    * @param {Data} [config.data='managers'] - .
    * @param {string} [config.dataPath] - .
    * @param {number} [config.dataIndex=0] - .
    * @param {string} [config.itemsProp] - .
    * @param {Object} [config.class={}] - Объект с классами.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='manager'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    */
mixin sidebarManager(config)
    -
        if (!globalConfig.settings.manager) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'manager';

        _.defaultsDeep(config, {
            type: be,
            tag: article,
            data: 'managers',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const managerImage = setImageProps(config.dataPath, data.image, data.name);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +avatar

            +e.info
                +e.item
                    +e({
                        modifiers: 'title',
                        content: data.name
                    })

                +e.item
                    +e({
                        tag: a,
                        modifiers: 'phone',
                        attrs: {
                            href: transformToTel(data.phone)
                        },
                        content: data.phone
                    })

                +e.item
                    - const email = `${data.email}@${globalConfig.emailDomain}`;
                    +e({
                        tag: a,
                        modifiers: 'email',
                        attrs: {
                            href: transformToEmail(email)
                        }
                    })
                        +sprite#envelope
                        = email

            +e.bottom
                +button({
                    tag: a,
                    href: '#manager-callback',
                    color: 'primary',
                    size: 'sm',
                    content: 'Написать менеджеру',
                    attrs: {
                        dataPopup: ''
                    }
                })

                +popup({id: 'manager-callback'})
                    +popupHeader({
                        idPrefix: 'manager-callback',
                        content: 'Сообщение менеджеру'
                    })

                    +popupContent
                        +form({
                            type: b,
                            baseForm: true
                        })
                            +formGroup
                                +label({
                                    for: 'manager-callback-message',
                                    content: 'Сообщение',
                                    required: true
                                })
                                +e.input-container
                                    +input({
                                        tag: textarea,
                                        formControl: true,
                                        id: 'manager-callback-message',
                                        name: 'MESSAGE',
                                        validate: 'required'
                                    })

                            +formGroup
                                +label({
                                    for: 'manager-callback-file',
                                    content: 'Файл'
                                })
                                +fileInput({
                                    id: 'manager-callback-file',
                                    classes: 'input-group',
                                    dataInit: true,
                                    label: false,
                                    class: {
                                        listAdd: 'file-list form-control'
                                    }
                                })
                                    .input-group-append
                                        +button({
                                            tag: 'label',
                                            color: 'primary',
                                            attrs: {
                                                for: 'manager-callback-file'
                                            },
                                            content: 'Файл'
                                        })

                            +formGroup
                                +button({
                                    buttonType: 'submit',
                                    color: 'primary',
                                    modifiers: 'submit',
                                    content: 'Отправить'
                                })

            block

-
    /**
    * @function mixins.layout#sidebarPersonal
    * @requires mixins.components#menu
    * @requires mixins.components#money
    * @requires mixins.components#progress
    * @requires mixins.layout#sidebarManager
    * @desc Блок меню в боковой панели личного кабинета.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type=be]
    * @param {Data} [config.data='personal-menu'] - .
    * @param {string} [config.dataPath] - .
    * @param {string} [config.current=page.name] - .
    * @param {Bemoptions} [config.menu={}] - .
    * @param {Object} [config.class={}] - Объект с классами.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='manager'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    */
mixin sidebarPersonal(config)
    -
        config = _.toPlainObject(config)
        classesSetup(config);
        const mixinClass = 'personal';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            current: page.name,
            data: 'personal-menu',
            menu: {
                title: true,
                collapse: {
                    id: 'personal-menu'
                },
                hasItems: {
                    sprite: {
                        id: 'arrow',
                        width: 10
                    }
                }
            },
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        if (config.current) {
            items.some(menuSection => {
                if (!menuSection.items) return;

                return menuSection.items.some(item => {
                    if (config.current !== item.href) return false;

                    item.link = {
                        addClass: '-active'
                    };
                    return true;
                });
            });
        }

        config.menu.data = items;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +preload('personal')

    +b(config)&attributes(attributes)
        //-Блок менеджера
        +sidebarManager

        //-Прогрессбары
        +be.progress
            +e.inner
                +e({
                    modifiers: 'item',
                    attrs: {
                        title: `5 146 000 / 24 800 000 ${money.currency}`
                    }
                })
                    +e.label Лимит резерва
                    +progress({
                        type: e,
                        value: 25,
                        modifiers: 'yellow'
                    })
                    +e({
                        modifiers: 'title',
                        content: `5 146 000 / 24 800 000 ${money.currency}`
                    })

                +e({
                    modifiers: 'item',
                    attrs: {
                        title: `5 146 000 / 24 800 000 ${money.currency}`
                    }
                })
                    +e.label Кредитный лимит
                    +progress({
                        type: e,
                        value: 40,
                        modifiers: 'green'
                    })
                    +e({
                        modifiers: 'title',
                        content: `5 146 000 / 24 800 000 ${money.currency}`
                    })

        //-Меню
        +menu(config.menu)

        block