-
    /**
     * @function mixins.layout#restorepassForm
     * @requires mixins.layout#baseForm
     * @desc Форма восстановления пароля. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='restorepass'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.restorepassModifier='restorepass'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin restorepassForm(config)
    -
        config = _.toPlainObject(config)
        classesSetup(config)
        const mixinClass = 'restorepass'

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'restorepass',
            class: {
                restorepassModifier: mixinClass
            }
        })

        if (config.class.restorepassModifier) {
            setBlockClass(attributes, config.class.restorepassModifier)
        }

        const addClasses = _.castArray(config.class.addClass)
        setAdditionalClass(config.classes, attributes, config.type, addClasses)

        const idPrefix = `${config.idPrefix + config.id}-`

    //-html
    +baseForm(config)&attributes(attributes)
        +formGroup
            +e.message Если вы забыли пароль, введите логин или Email.#[br]Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по электронной почте.

        +formGroup
            +label({
                for: `${idPrefix}login${config.idPostfix}`,
                content: 'Логин или email',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'email',
                    id: `${idPrefix}login${config.idPostfix}`,
                    name: 'EMAIL',
                    validate: 'required',
                    autocomplete: 'email'
                })

        //-TODO:phone field

        +formGroup
            +e.comment #[span.text-required *] — поля, обязательные для заполнения

        +formGroup
            +button({
                modifiers: 'submit',
                color: 'primary',
                buttonType: 'submit',
                content: 'Выслать'
            })

            +link({
                href: '#popup-auth-register',
                modifiers: 'auth',
                attrs: {
                    dataPopup: ''
                },
                content: 'Авторизация'
            })

        block