@import 'main';

@keyframes progress-bar-stripes{
    from{
        background-position: 1rem 0;
    }
    to{
        background-position: 0 0;
    }
}

.progress{
    display: flex;
    min-height: 6px;
    overflow: hidden;
    border-radius: $radius-primary;
    font-size: $size-xs-px;
    line-height: $line-height-primary;
    background: $bg-primary;
    &-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 6px;
        overflow: hidden;
        color: $white;
        white-space: nowrap;
        text-align: center;
        background-color: $color-primary;
        @include transition(width);
        &-striped{
            background-image:
                linear-gradient(
                    45deg,
                    rgba($white, .15) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba($white, .15) 50%,
                    rgba($white, .15) 75%,
                    transparent 75%,
                    transparent
                );
            background-size: 1rem;
        }
        &-animated{
            animation: 1s linear infinite progress-bar-stripes;
        }
    }
}