-
    /**
     * @function mixins.components#progress
     * @desc Индикатор выполнения (полоса загрузки).
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Array.<number>|number)} [config.min=0] - .
     * @param {(Array.<number>|number)} [config.max=100] - .
     * @param {(Array.<number>|number)} [config.value=config.min] - .
     * @param {(Array.<string>|string)} [config.color] - .
     * @param {(Array.<string>|string)} [config.label] - .
     * @param {(Array.<boolean>|boolean)} [config.striped] - .
     * @param {(Array.<boolean>|boolean)} [config.animated] - .
     * @param {Bemoptions} [config.bar] - Опции, передаваемые элементу индикатора прогресса.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='progress'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.progressAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.bar='bar'] - .
     * @param {bemclasses} [config.class.barAdd=''] - .
     * @param {bemclasses} [config.class.bg='bg'] - .
     * @param {bemclasses} [config.class.striped='striped'] - .
     * @param {bemclasses} [config.class.animated='animated'] - .
     */
mixin progress(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'progress';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            min: 0,
            max: 100,
            bar: {},
            class: {
                mixinClass,
                bar: 'bar',
                barAdd: '',
                bg: 'bg',
                striped: 'striped',
                animated: 'animated'
            }
        });

        config.value = _.castArray(config.value);
        config.min = _.castArray(config.min);
        config.max = _.castArray(config.max);
        config.color = _.castArray(config.color);
        config.striped = _.castArray(config.striped);
        config.label = _.castArray(config.label);
        config.animated = _.castArray(config.animated);

        const barBaseClass = `${config.class.mixinClass}-${config.class.bar}`;
        _.defaultsDeep(config, {
            bar: {
                type: e,
                modifiers: config.class.bar,
                classes: [barBaseClass],
                attrs: {}
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                progressAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.progressAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        each item, index in config.value
            -
                const barOptions = _.extend({}, config.bar);

                const barAddClasses = [];
                if (config.class.barAdd) {
                    barAddClasses.push(config.class.barAdd);
                }
                if (config.color[index]) {
                    barAddClasses.push(`${config.class.bg}-${config.color[index]}`);
                }
                if (config.striped[index]) {
                    barAddClasses.push(`${barBaseClass}-${config.class.striped}`);
                }
                if (config.animated[index]) {
                    barAddClasses.push(`${barBaseClass}-${config.class.animated}`);
                }
                barOptions.classes = barOptions.classes.concat(barAddClasses);

                const min =  config.min[_.isUndefined(config.min[index]) ? 0 : index];
                const max = config.max[_.isUndefined(config.max[index]) ? 0 : index];
                const widthValue = ((item - min) * 100) / (max - min);
                _.defaults(barOptions.attrs, {
                    role: 'progressbar',
                    ariaValuenow: item,
                    ariaValuemin: min,
                    ariaValuemax: max,
                    style: `width: ${widthValue}%`
                });

            +b(barOptions)
                if config.label && config.label[index]
                    != config.label[index]

        if !_.isUndefined(config.content)
            != config.content
        else
            block