@import 'main';

.product{
    &__counter{
        margin-top: $global-margin * 2;
        .input-group-append{
            @include after{
                bottom: 0;
                right: 0;
                width: 100%;
                height: 3px;
                border-radius: $radius-sm;
                background: $input-border;
            }
        }
    }
    &-counter{
        &__wrapper{
            width: 140px;
            padding-top: 8px;
            border: none;
            border-radius: 0;
        }
        &__label{
            position: absolute;
            top: -7px;
            left: 50%;
            color: $text-secondary !important;
            font-size: $size-sm-px !important;
            text-transform: lowercase !important;
            transform: translateX(-50%);
        }
        &__input{
            &:focus{
                + .input-group-append{
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
        &__button{
            border-radius: 0 !important;
            @include m(minus){
                margin-left: -11px;
            }
            @include m(plus){
                margin-right: -11px;
            }
        }
    }
}