include /components/counter/template.pug

-
    /**
     * @function mixins.layout#productCounter
     * @requires mixins.components#counter
     * @desc Счётчик количества добавляемого в корзину товара на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.title='Количество'] - .
     * @param {Object} [config.counter={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='counter'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin productCounter(config)
    -
        if (!globalConfig.settings.buy) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'counter';

        _.defaultsDeep(config, {
            type: be,
            title: 'Количество',
            counter: {
                type: e,
                modifiers: 'float-label',
                min: 1,
                max: 100,
                idPrefix: 'product-counter',
                label: 'Кол-во',
                class: {
                    label: 'label',
                    labelAdd: ''
                }
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        if config.title
            +e({
                modifiers: 'title',
                classes: srOnly,
                content: config.title
            })

        +counter(config.counter)

        block