@import 'main';

.catalog{
    &__controls{
        min-width: 100%;
        margin-top: $global-margin * 2;
        //margin-top: -2px;
        @media (min-width: $media-xl){
            min-width: 0;
            margin-top: 0;
            margin-bottom: -7px;
        }
    }
    &-controls{
        &__inner{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 0 (-$container-padding);
            @include border;
            border-left: none;
            border-right: none;
            background: $white;
            @media (min-width: $media-md){
                margin: 0 (-$global-padding * 3.5);
            }
            @media (min-width: $media-xl){
                margin: 0;
                border: none;
                background: none;
            }
        }
        &__right{
            min-width: 100%;
            padding: 0 $container-padding;
            @include border-top;
            @media (min-width: $media-md){
                min-width: 0;
                padding: 0 $global-padding * 3.5 0 0;
                border: none;
            }
            @media (min-width: $media-xl){
                padding-right: 0;
            }
            .catalog-sort__inner{
                @media (min-width: $media-md){
                    justify-content: flex-end;
                }
            }
            .catalog__view{
                @media (min-width: $media-md){
                    flex-basis: auto;
                    flex-grow: 0;
                    width: auto;
                }
            }
        }
        &-right{
            &__inner{
                align-items: center;
                padding: 6px 0;
                @media (min-width: $media-xl){
                    padding: 0;
                }
            }
        }
    }
}