include ../catalog-sort/template.pug
include ../catalog-view/template.pug

-
    /**
     * @function mixins.layout#catalogControls
     * @requires mixins.layout#catalogSort
     * @requires mixins.layout#catalogView
     * @desc Элементы управления страницы каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|boolean)} [config.filterButton=true] - .
     * @param {string} [config.filterButton.content] - .
     * @param {string} [config.filterButton.title] - .
     * @param {string} [config.filterButton.sprite] - .
     * @param {Data} [config.data='catalog-text'] - .
     * @param {(boolean|Object)} [config.sort] - .
     * @param {Data} [config.sort.data] - .
     * @param {number} [config.sort.activeItem] - .
     * @param {('asc'|'desc')} [config.sort.activeDirection] - .
     * @param {(boolean|Object)} [config.view] - .
     * @param {Data} [config.view.data] - .
     * @param {string} [config.view.activeItem] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='controls'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     */
mixin catalogControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'controls';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            filterButton: true,
            sort: {
                classes: col
            },
            view: {
                classes: col
            },
            class: {
                mixinClass,
                addClass: col,
                icon: 'icon'
            }
        });

        if (config.filterButton) {
            config.filterButton = _.toPlainObject(config.filterButton);
            _.defaultsDeep(config.filterButton, {
                content: 'Фильтр по каталогу',
                title: 'Выбрать фильтры',
                icon: 'controls'
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +r('catalog')
        +b(config)&attributes(attributes)
            +e({
                classes: row,
                modifiers: 'inner'
            })
                if config.filterButton
                    +r('catalog')
                        +be({
                            classes: col,
                            modifiers: 'filter-button'
                        })
                            +button({
                                type: e,
                                color: 'white',
                                size: 'lg',
                                title: removeHtml(config.filterButton.title),
                                disabled: true
                            })
                                if config.filterButton.icon
                                    +e({
                                        tag: span,
                                        modifiers: config.class.icon
                                    })
                                        +sprite(config.filterButton.icon)

                                != config.filterButton.content

                +be({
                    classes: col,
                    modifiers: 'right'
                })
                    +e({
                        classes: row,
                        modifiers: 'inner'
                    })
                        +r('catalog')
                            +catalogSort(config.sort)

                            +catalogView(config.view)

                block