@import 'main';

.index-slider{
    &__bottom{
        display: flex;
        flex-wrap: wrap;
        margin-top: $global-margin;
        padding: 0 $global-padding;
    }
    &-bottom{
        &__item{
            display: flex;
            flex: 1 0 100%;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: $global-margin;
        }
        &__icon{
            display: block;
            flex: 1 0 100%;
            max-width: 46px;
        }
        &__text{
            display: block;
            flex: 1 0 auto;
            max-width: calc(100% - 46px);
            font-size: $size-md;
            font-weight: $weight-bold;
            letter-spacing: $letter-spacing-sm;
            text-transform: uppercase;
        }
    }
}