-
    /**
     * @function mixins.layout#indexSliderBottom
     * @desc Нижняя часть основного слайдера на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='index-slider'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='bottom'] - .
     * @param {Array.<Object>} [config.data{config.itemsProp}] - .
     * @param {Object} [config.data{config.itemsProp}.{item}] - .
     * @param {Sprite} [config.data{config.itemsProp}.{item}.sprite] - .
     * @param {string} [config.data{config.itemsProp}.{item}.content] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin indexSliderBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'index-slider',
            itemsProp: 'bottom',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.items
            each bottomItem in items
                +e.item
                    +e({
                        tag: span,
                        modifiers: 'icon'
                    })
                        +sprite(bottomItem.sprite)
                    +e({
                        tag: span,
                        modifiers: 'text',
                        content: bottomItem.content
                    })

        block