@import 'main';

@mixin offer-new-desktop(){
    .offer-new{
        //Верхняя часть
        &-top{
            &__fields{
                min-width: 0;
                > .row{
                    align-items: center;
                }
                + .offer-new-top__actions{
                    align-self: center;
                    max-width: col-width-px(2.5);
                    margin: 0 0 0 $global-padding * 5;
                    padding-left: $global-padding * 5;
                    @include border-left;
                    .offer-new-top-actions__items{
                        margin-top: -16px;
                        margin-bottom: -16px;
                    }
                }
                .offer-new-top__actions{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    min-width: 100%;
                    max-width: 100%;
                    margin-bottom: 0;
                    margin-left: 0;
                    padding-left: $global-padding;
                    .offer-new-top-actions{
                        &__items{
                            display: flex;
                            align-items: center;
                        }
                        &__item{
                            border-top: none;
                            &:not(:first-child){
                                margin-left: 35px;
                            }
                        }
                        &__link{
                            height: $btn-height;
                            padding: 0;
                        }
                    }
                }
            }
            &__image{
                min-width: col-width-px(2.7);
                max-width: col-width-px(2.7);
                + .offer-new-top__form-groups{
                    min-width: calc(100% - #{col-width-px(2.7)});
                    max-width: calc(100% - #{col-width-px(2.7)});
                }
            }
            &-image{
                &__inner{
                    height: col-width-px(2.7) - $global-gutter;
                }
                &__title{
                    font-size: rem-px(36px);
                }
            }
            &__input{
                font-size: $size-lg;
            }
            &-actions{
                &__title{
                    display: none;
                }
                &__button{
                    margin: 0;
                }
            }
            &__bottom{
                min-width: 100%;
                padding-top: $global-margin * 2;
            }
        }

        //Таблица
        &-table{
            &-checkboxes{
                &-toggle{
                    &__button{
                        display: none;
                    }
                    &__content{
                        display: block !important;
                        height: auto !important;
                    }
                }
                &__items{
                    display: flex;
                    flex-wrap: wrap;
                    margin: -6px -15px 0;
                }
                &__item{
                    margin-top: 6px !important;
                    padding: 0 15px;
                }
            }

            //Плавающий заголовок
            &__fixed-header{
                border-top-left-radius: $radius-primary;
                border-top-right-radius: $radius-primary;
                background: $bg-primary;
                &.position-fixed,
                &.fixed-bottom{
                    border-radius: 0;
                }
            }
            &-fixed-header{
                &__cell{
                    padding: 15px $global-padding * 2;
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-sm;
                    font-weight: $weight-medium;
                    .offer-new-table-fixed-header__cell{
                        width: 20%;
                        padding-left: $global-padding;
                        padding-right: $global-padding;
                        @include border-left($border-secondary);
                        white-space: nowrap;
                        text-align: center;
                    }
                    @include m(photo){
                        min-width: col-width-px(1.75 + 3.25);
                        max-width: col-width-px(1.75 + 3.25);
                    }
                    @include m(properties){
                        min-width: calc(100% - #{col-width-px(1.75 + 3.25)});
                        max-width: calc(100% - #{col-width-px(1.75 + 3.25)});
                        padding: 0;
                    }
                }
                &__properties{
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }

            //Таблица
            &__table-wrapper{
                position: relative;
                margin-top: $global-margin * 2;
                padding-top: 48px;
            }
            &__table{
                display: table;
                width: 100%;
                margin: 0;
            }
            &__tbody{
                display: table-row-group;
            }
            &__row{
                display: table-row;
                padding: 0;
                border: none;
            }
            &__cell,
            &__header-cell{
                display: table-cell !important;
                vertical-align: top;
            }
            &__header-cell{
                padding: 15px $global-padding * 2;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-sm;
                font-weight: $weight-medium;
                background: $bg-primary;
                @include m(title){
                    padding-left: $global-padding * 3;
                }
                @include m(properties){
                    padding: 0;
                    .offer-new-table__header{
                        display: table;
                        min-width: 100%;
                        table-layout: fixed;
                    }
                    .offer-new-table__header-cell{
                        width: 20%;
                        padding-left: $global-padding;
                        padding-right: $global-padding;
                        @include border-left($border-secondary);
                        white-space: nowrap;
                        text-align: center;
                    }
                }
                &:first-child{
                    border-top-left-radius: $radius-primary;
                }
                &:last-child{
                    border-top-right-radius: $radius-primary;
                }
            }
            &__cell{
                padding-top: $global-margin * 3;
                padding-bottom: $global-margin * 3.25;
                @include border-bottom($border-secondary);
                @include m(title){
                    min-width: col-width-px(3.25);
                    max-width: col-width-px(3.25);
                    padding-right: $global-padding * 2;
                }
            }

            &__popover-link{
                top: -1px;
                margin-right: 5px;
                border-color: $text-secondary;
                color: $text-secondary;
                background: transparent !important;
                @include transition(color border-color);
                &:hover,
                &:focus{
                    border-color: $grey-dark;
                    color: $grey-dark;
                }
            }
            &-popover{
                &__block{
                    &:not(:first-child){
                        margin-top: $global-margin * .75;
                    }
                }
                &__title{
                    padding: $global-margin * .75 0;
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-md-px;
                    font-weight: $weight-medium;
                }
            }
            &__actions{
                position: relative;
                margin-top: $global-margin;
                text-align: center;
            }
            &-actions{
                &__button{
                    padding-left: $btn-padding * .5;
                    padding-right: $btn-padding * .5;
                    &:hover,
                    &:focus{
                        border-color: palette(danger, border) !important;
                    }
                }
            }
            &-properties{
                &__table{
                    width: 100%;
                    margin: 0;
                }
                &__cell{
                    @include border-left(transparent);
                }
                &__name{
                    display: none;
                }
                &__value{
                    margin: 0;
                }
                &__input{
                    height: $input-height-sm;
                    padding: 2px 0 0;
                    text-align: center;
                    &.form-control-plaintext{
                        top: 5px;
                    }
                }
            }
            &__description,
            &__comment{
                padding: 0 $global-padding * 2;
            }

            &__bottom{
                margin: $global-margin * 2 0 0;
            }
            &-bottom{
                &__inner{
                    flex-wrap: nowrap;
                    justify-content: space-between;
                }
                &__number,
                &__info,
                &__actions,
                &__sum{
                    flex-basis: auto;
                    flex-grow: 0;
                    width: auto;
                    min-width: 0;
                    margin-top: 0;
                    padding: 0 $global-padding;
                    border-top: none;
                }
                &__info{
                    max-width: col-width-px(3);
                }
                &__actions{
                    flex-wrap: nowrap;
                }
            }
        }
    }
}

.col:first-child .offer-new{
    @media (min-width: $media-xl){
        @include offer-new-desktop;
    }
    .offer-new{
        &-table{
            &-actions{
                &__button{
                    @include m(remove){
                        @media (max-width: $media-xl-max){
                            border-color: transparent !important;
                            border-radius: 0;
                            background: none !important;
                            box-shadow: none;
                        }
                    }
                }
            }
            &__description,
            &__comment{
                @media (min-width: $media-xxl){
                    padding: 0 $global-padding * 3;
                }
            }
        }
    }
}

.sidebar + .col{
    @media (min-width: $media-xxl){
        @include offer-new-desktop;
    }
    .offer-new{
        &-top{
            &__image{
                @media (min-width: $media-xxl){
                    min-width: col-width-px(2);
                    max-width: col-width-px(2);
                }
                + .offer-new-top__form-groups{
                    @media (min-width: $media-xxl){
                        min-width: calc(100% - #{col-width-px(2)});
                        max-width: calc(100% - #{col-width-px(2)});
                    }
                }
            }
            &-image{
                &__inner{
                    @media (min-width: $media-xxl){
                        height: col-width-px(2) - $global-gutter;
                    }
                }
                &__title{
                    @media (min-width: $media-xxl){
                        font-size: rem-px(30px);
                    }
                }
            }

            &__form-groups{
                @media (min-width: $media-xxl){
                    padding-right: $global-padding * 3;
                }
            }

            &__actions{
                @media (min-width: $media-xxl){
                    max-width: col-width-px(2.5) - $global-padding * 2;
                    padding-left: $global-padding * 3;
                }
            }
        }

        &-table{
            &__fixed-header{
                @media (max-width: $media-xxl-max){
                    display: none;
                }
            }
            &-fixed-header{
                &__cell{
                    @include m(photo){
                        @media (min-width: $media-xxl){
                            min-width: col-width-px(1.4 + 2.5);
                        }
                    }
                    @include m(properties){
                        @media (min-width: $media-xxl){
                            min-width: calc(100% - #{col-width-px(1.4 + 2.5)});
                            max-width: calc(100% - #{col-width-px(1.4 + 2.5)});
                        }
                    }
                }
            }

            &__cell{
                @include m(photo){
                    @media (min-width: $media-xxl){
                        min-width: col-width-px(1.4);
                        max-width: col-width-px(1.4);
                    }
                }
                @include m(title){
                    @media (min-width: $media-xxl){
                        min-width: col-width-px(2.5);
                        max-width: col-width-px(2.5);
                    }
                }
            }

            &-image{
                &__image{
                    @media (min-width: $media-xxl){
                        max-height: col-width-px(1.5);
                    }
                }
            }

            &-actions{
                &__button{
                    @include m(remove){
                        @media (max-width: $media-xxl-max){
                            border-color: transparent !important;
                            border-radius: 0;
                            background: none !important;
                            box-shadow: none;
                        }
                    }
                }
            }

            &-properties{
                &__cell{
                    @media (min-width: $media-xxl){
                        padding: 0 $global-padding * .5;
                    }
                }
            }

            &__description,
            &__comment{
                @media (min-width: $media-xxl){
                    padding: 0 $global-padding * 1.5;
                }
            }

            &-bottom{
                &__inner{
                    @media (min-width: $media-xxl){
                        flex-wrap: wrap;
                    }
                }
                &__info{
                    @media (min-width: $media-xxl){
                        order: 2;
                        min-width: 100%;
                        margin-top: $global-margin * 1.5;
                    }
                }
            }
        }
    }
}

.offer-new{
    min-width: 100%;

    //Верхняя часть
    &__top{
        min-width: 100%;
        @include col-attrs;
    }
    &-top{
        &__form{
            margin-top: $global-margin * 1.5;
        }
        &__fields{
            min-width: 100%;
        }
        &__image{
            align-self: flex-start;
            min-width: 100%;
            @media (min-width: $media-md){
                min-width: col-width-px(2);
                max-width: col-width-px(2);
            }
            + .offer-new-top__form-groups{
                @media (min-width: $media-md){
                    min-width: calc(100% - #{col-width-px(2)});
                    max-width: calc(100% - #{col-width-px(2)});
                }
            }
        }
        &-image{
            &__inner{
                position: relative;
                display: flex;
                height: 200px;
                border-radius: $radius-primary;
                text-align: center;
                background: $bg-secondary;
            }
            &__button{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 100%;
                margin: 0;
                cursor: $cursor-pointer;
                &:focus,
                &:hover{
                    .offer-new-top-image{
                        &__label{
                            color: palette(primary, light);
                            text-decoration: none;
                        }
                    }
                }
            }
            &__title{
                display: block;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: rem-px(24px);
                font-weight: $weight-medium;
            }
            &__label{
                color: $color-primary;
                font-size: $size-md-px;
                text-decoration: underline;
            }
            &__file{
                display: block;
            }
            &-file{
                &__list{
                    display: block;
                    margin: 0;
                    span{
                        display: block;
                        margin-top: 4px;
                    }
                }
            }
            &__overlay{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                overflow: hidden;
                @include border;
                border-radius: $radius-primary;
                background: $white;
            }
            &__remove{
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                color: $text-secondary;
                background: none;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
            }
        }
        &__form-groups{
            min-width: 100%;
            @media (min-width: $media-md){
                margin-top: -$global-margin * 1.5;
            }
            @media (min-width: $media-lg){
                padding-left: $global-padding * 3;
            }
        }
        &__form-group{
            @include m(lg){
                &:not(.active){
                    .offer-new-top__label{
                        @media (min-width: $media-md){
                            top: 15px;
                        }
                    }
                }
            }
        }
        &__input{
            &.form-control-lg{
                &:not(.-textarea){
                    font-size: $size-h2 !important;
                }
            }
            @include m(textarea){
                height: $input-height-lg;
                min-height: $input-height;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

        &__row{
            .offer-new-top__row{
                margin-top: -$global-margin * .75;
            }
        }
        &__column{
            min-width: 100%;
            margin-top: $global-margin * .75;
            @include m(half){
                @media (min-width: $media-md){
                    min-width: col-width(6);
                    max-width: col-width(6);
                }
            }
        }

        &__actions{
            margin-top: $global-margin * 2;
            margin-bottom: -$global-margin;
            @media (min-width: $media-md){
                min-width: calc(100% + #{col-width-px(2)});
                max-width: calc(100% + #{col-width-px(2)});
                margin-left: -#{col-width-px(2)};
            }
            @media (min-width: $media-lg){
                $actions-lg-padding: $global-padding * 2 + col-width-px(2);
                min-width: calc(100% + #{$actions-lg-padding});
                max-width: calc(100% + #{$actions-lg-padding});
                margin-left: -($actions-lg-padding);
            }
        }
        &-actions{
            &__title{
                margin: 0 0 $global-margin;
                font-size: $size-h3;
            }
            &__button{
                margin: 0 0 $global-margin;
            }
            &__item{
                &:not(:first-child){
                    @include border-top;
                }
            }
            &__link{
                display: flex;
                align-items: center;
                padding: 16px 7px;
                border: none;
                color: $grey-darker;
                font-family: $font-secondary;
                //font-size: $size-xs-px;
                //text-transform: uppercase;
                font-size: $size-md-px;
                font-weight: $weight-medium;
                text-decoration: none;
                background: none;
                @include transition(color);
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, color);
                    }
                }
                &:hover,
                &:focus{
                    color: $link-color-hover;
                    text-decoration: underline;
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                display: flex;
                justify-content: center;
                width: 20px;
                margin-right: 10px;
            }
            &__popover{
                display: none;
            }
            &-popover{
                &__items{
                    padding: $global-margin * .5 $global-padding;
                }
                &__item{
                    &:not(:first-child){
                        @include border-top(rgba($white, .1));
                    }
                    &:not(:last-child){
                        @include border-bottom(rgba($black, .1));
                    }
                }
                &__link{
                    display: block;
                    padding: 7px 10px;
                    color: $grey-darker;
                    font-size: $size-md-px;
                    font-weight: $weight-semibold;
                    text-decoration: none !important;
                    &:focus,
                    &:hover{
                        color: $text-primary;
                    }
                }
            }
            @at-root .popover{
                @include m(offer-new-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: $bg-secondary;
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .offer-new-top-actions__popover{
                        display: block;
                    }
                }
            }
        }

        &__bottom{
            position: relative;
            margin-top: $global-margin * 2;
            padding-top: $global-margin * 1.5;
            @include before{
                top: 0;
                left: 50%;
                width: 100vw;
                @include border-top;
                transform: translateX(-50%);
                @media (min-width: $media-md){
                    width: calc(100% - #{$global-padding * 2});
                }
            }
        }
        &-bottom{
            &__row{
                @media (min-width: $media-sm){
                    flex-wrap: nowrap;
                }
            }
        }
        &__sum{
            min-width: 100%;
            @media (min-width: $media-sm){
                min-width: auto;
            }
        }
        &-sum{
            &__price{
                white-space: nowrap;
                @include m(sum){
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-h2;
                    font-weight: $weight-medium;
                }
                @include m(profit){
                    margin-top: -4px;
                    color: $text-secondary;
                    font-size: $size-md-px;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }

        &__submit{
            display: flex;
            align-items: center;
            margin-top: $global-margin * 1.5;
            @media (min-width: $media-sm){
                justify-content: flex-end;
                margin-top: 0;
            }
        }
        &-submit{
            &__button{
                margin: 0;
            }
        }
    }

    //Таблица
    &__table{
        min-width: 100%;
        margin-top: $section-margin;
        @media (min-width: $media-lg){
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .popover-header{
            font-size: $size-md-px;
        }
    }
    &-table{
        //Заголовок таблицы
        &-checkboxes{
            &-toggle{
                &__button{
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-primary-px;
                    font-weight: $weight-medium;
                    text-decoration: none !important;
                    &.active{
                        .offer-new-table-checkboxes-toggle__icon:last-child{
                            transform: scaleY(-1) translateY(-1px);
                        }
                    }
                }
                &__icon{
                    display: inline-block;
                    &:first-child{
                        margin-right: 7px;
                    }
                    &:last-child{
                        margin-left: 6px;
                        @include transition(transform);
                    }
                }
            }
            &__items{
                padding-top: $global-margin;
            }
            &__item{
                &:not(:first-child){
                    margin-top: $global-margin;
                }
            }
        }

        //Таблица
        &__fixed-header{
            @media (max-width: $media-xl-max){
                display: none;
            }
        }
        &__table,
        &__tbody,
        &__cell{
            display: block;
        }
        &__table{
            width: calc(100% + #{$container-padding * 2});
            margin: $global-margin * 1.5 (-$container-padding) 0;
        }
        &__thead{
            display: none;
        }
        &__row{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: $global-margin * 1.5 $container-padding $global-margin * 2;
            @include border-top($border-secondary);
            @media (min-width: $media-lg){
                padding: $global-margin * 3 0 $global-margin * 3.25;
            }
        }
        &__header-cell,
        &__cell{
            @include m(title){
                @media (min-width: $media-lg){
                    padding-left: $global-padding * 3;
                }
            }
        }
        &__cell{
            @include m(photo){
                @media (min-width: $media-lg){
                    min-width: col-width-px(1.75);
                    max-width: col-width-px(1.75);
                }
            }
            @include m(title, properties){
                margin-top: $global-margin;
            }
            @include m(title){
                display: none;
                max-width: calc(100% - #{col-width-px(1.75)});
                margin-top: 0;
                @media (min-width: $media-lg){
                    display: block;
                }
            }
            @include m(properties){
                @media (min-width: $media-lg){
                    margin-top: $global-margin * 1.5;
                }
            }
        }

        &__popover{
            display: none;
        }
        @at-root .popover{
            .offer-new-table__popover{
                display: block;
            }
        }

        &-image{
            &__image{
                max-height: 140px;
                margin: 0 auto;
                @media (min-width: $media-lg){
                    max-height: col-width-px(1.75);
                }
            }
        }
        &__actions{
            position: absolute;
            top: 0;
            right: 0;
            @media (min-width: $media-lg){
                margin-top: $global-margin * .5;
            }
        }
        &-actions{
            &__button{
                margin-top: 0;
                @media (min-width: $media-md){
                    padding-left: 0;
                    padding-right: 0;
                }
                &:hover,
                &:focus{
                    @media (min-width: $media-md){
                        border-color: transparent !important;
                        color: palette(danger, color) !important;
                        background-color: transparent !important;
                    }
                }
                svg{
                    position: relative;
                    top: -1px;
                }
            }
            &__close{
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
            &__text{
                display: none;
                margin-left: 7px;
                font-size: $size-sm-px;
                font-weight: $weight-normal;
                text-transform: none;
                vertical-align: middle;
                @media (min-width: $media-md){
                    display: inline-block;
                }
            }
        }

        &__title{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-h3;
            font-weight: $weight-medium;
            line-height: $header-line-height;
            text-decoration: none;
        }
        &__properties{
            margin-top: $global-margin * 1.5;
        }
        &-properties{
            &__title{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-h2;
                font-weight: $weight-medium;
                line-height: $header-line-height;
                text-decoration: none !important;
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &__table,
            &__tbody,
            &__row,
            &__cell{
                display: block;
            }
            &__table{
                margin-top: $global-margin;
                @media (min-width: $media-lg){
                    display: table;
                    width: calc(100% + #{$global-padding * 2});
                    margin: 0 (-$global-margin);
                    table-layout: fixed;
                }
            }
            &__thead{
                display: none;
            }
            &__tbody{
                @media (min-width: $media-lg){
                    display: table-row-group;
                }
            }
            &__row{
                @media (min-width: $media-lg){
                    display: table-row;
                }
            }
            &__cell{
                display: flex;
                align-items: center;
                @media (min-width: $media-lg){
                    display: table-cell;
                    width: col-width(1, 5);
                    padding: 0 $global-padding;
                    vertical-align: top;
                }
                &:not(:first-child){
                    margin-top: $global-margin * .5;
                }
                @include m(description){
                    margin-top: $global-margin * 1.5;
                }
            }

            &__name{
                min-width: 90px;
                max-width: 90px;
                white-space: nowrap;
            }
            &__popover-link{
                top: -1px;
                margin-right: 5px;
                border-color: $text-secondary;
                color: $text-secondary;
                background: transparent !important;
                @include transition(color border-color);
                &:hover,
                &:focus{
                    border-color: $grey-dark;
                    color: $grey-dark;
                }
            }
            &__value{
                margin-left: 6px;
                @media (min-width: $media-lg){
                    margin-top: $global-margin * .75;
                    margin-left: 0;
                }
            }
            &__input{
                white-space: nowrap;
                @media (min-width: $media-md){
                    padding-left: $input-padding * .5;
                    padding-right: $input-padding * .5;
                }
                @at-root .touch{
                    .offer-new-table-properties__input{
                        font-size: $size-primary-px;
                    }
                }
                &.form-control-plaintext{
                    @media (min-width: $media-md){
                        padding-left: 0;
                        padding-right: 0;
                    }
                    @media (min-width: $media-lg){
                        position: relative;
                        top: 3px;
                    }
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__popover{
                display: none;
            }
            &-popover{
                &__block{
                    &:not(:first-child){
                        margin-top: $global-margin * .75;
                    }
                }
                &__title{
                    padding: $global-margin * .75 0;
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-md-px;
                    font-weight: $weight-medium;
                }
            }
            @at-root .popover{
                .offer-new-table-properties__popover{
                    display: block;
                }
            }
            &__list{
                margin-top: $global-margin * 1.5;
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &__property{
                margin-top: 2px;
                font-size: $size-md-px;
                @media (min-width: $media-md){
                    margin-top: 4px;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }
        &__property{
            margin-top: 2px;
            font-size: $size-md-px;
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
        &__more{
            margin-top: $global-margin * .5;
            font-size: $size-md-px;
        }

        &__description{
            margin-top: $global-margin * 1.5;
        }
        &-description{
            &__title{
                margin: 0;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-md-px;
                font-weight: $weight-medium;
            }
            &__text{
                margin-top: $global-margin * .75;
                color: $text-secondary;
                font-size: $size-md-px;
            }
        }

        &__comment{
            margin-top: $global-margin * 2.25;
        }
        &-comment{
            &__form-group{
                margin-top: 0;
                label{
                    &:not(.is-valid):not(.is-invalid):not(.file-list){
                        top: 14px;
                        left: $btn-height + rem-px($input-padding);
                        @include transition(top left color font-size);
                    }
                }
                .form-control{
                    height: $input-height-lg;
                    min-height: $input-height-lg;
                    padding: 10px $input-padding 8px $btn-height + rem-px($input-padding);
                    @include border($input-border);
                    border-radius: $radius-primary;
                    @media (min-width: $media-lg){
                        min-height: $input-height-lg;
                        padding-top: 11px;
                    }
                }
                &.active{
                    label{
                        &:not(.is-valid):not(.is-invalid):not(.file-list){
                            top: -18px;
                            left: 0;
                        }
                    }
                    .offer-new-table-comment__button{
                        pointer-events: auto;
                    }
                    .offer-new-table-comment__icon{
                        transform: translateX(-50%) rotate(45deg);
                    }
                }
            }
            &__button{
                position: absolute;
                top: 1px;
                left: 0;
                z-index: 1;
                width: $btn-height-lg;
                height: calc(100% - 2px);
                margin-top: 0;
                padding: 0;
                border: none;
                @include border-right($input-border);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                color: $grey-darker;
                line-height: 0;
                background-color: transparent;
                pointer-events: none;
                @include before{
                    top: -10px;
                    left: -10px;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                }
            }
            &__icon{
                position: absolute;
                top: 16px;
                left: 50%;
                display: inline-block;
                transform: translateX(-50%);
                @include transition(transform);
            }
        }

        &__bottom{
            margin: $global-margin * .5 (-$container-padding + $global-padding) 0;
        }
        &-bottom{
            &__number{
                display: flex;
                align-items: center;
                padding: 0 $container-padding $global-margin * 1.5;
                @media (min-width: $media-sm){
                    max-width: col-width-px(2.75);
                }
                .float-label{
                    label{
                        &:not(.is-valid):not(.is-invalid):not(.file-list){
                            left: rem-px($input-padding) + $border-width-secondary;
                            color: $text-secondary;
                        }
                    }
                    .form-control{
                        padding: 0 $input-padding;
                        @include border($color-primary, $border-width-secondary);
                        border-radius: $input-radius;
                    }
                    &.active{
                        label{
                            &:not(.is-valid):not(.is-invalid):not(.file-list){
                                top: -16px;
                                left: 0;
                            }
                        }
                    }
                }
            }
            &-number{
                &__form-group{
                    position: relative;
                    width: 100%;
                    margin: 0;
                }
                &__input-container{
                    display: flex;
                }
                &__button{
                    margin-left: $global-padding;
                }
            }
            &__info{
                display: flex;
                align-items: center;
                min-width: 100%;
                padding: $global-margin * 1.5 $container-padding 0;
                @include border-top($border-secondary);
                font-size: $size-md-px;
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 10px;
                color: palette(danger, color);
            }
            &__actions{
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                margin-top: $global-margin * 1.5;
                padding: $global-margin * 1.5 $container-padding 0;
                @include border-top($border-secondary);
                @media (min-width: $media-md){
                    align-items: center;
                }
            }
            &-actions{
                &__title{
                    margin-right: 11px;
                    color: $header-primary;
                    font-family: $font-secondary;
                    font-size: $size-md-px;
                    font-weight: $weight-medium;
                }
                &__link{
                    @include m(format){
                        display: inline-block;
                        margin-right: 10px;
                        padding: 4px 8px 3px;
                        border-top-left-radius: $radius-primary;
                        border-bottom-right-radius: $radius-primary;
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-xs-px;
                        font-weight: $weight-medium;
                        background: palette(primary, bg);
                        &:focus,
                        &:hover{
                            color: $color-primary;
                            text-decoration: none;
                        }
                    }
                }
                &__delimiter{
                    min-width: 100%;
                    margin-top: 4px;
                    color: $text-secondary;
                    font-size: $size-md-px;
                    @media (min-width: $media-md){
                        min-width: 0;
                        margin-top: 0;
                    }
                }
                &__button{
                    min-width: 100%;
                    margin-top: $global-margin;
                    @media (min-width: $media-sm){
                        min-width: 0;
                    }
                    @media (min-width: $media-md){
                        margin: 0 0 0 20px;
                    }
                }
            }
            &__sum{
                margin-top: $global-margin * 1.75;
                padding: $global-margin * 1.5 $container-padding 0;
                @include border-top($border-secondary);
            }
            &-sum{
                &__price{
                    white-space: nowrap;
                    @include m(sum){
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-h2;
                        font-weight: $weight-medium;
                    }
                    @include m(profit){
                        margin-top: -4px;
                        color: $text-secondary;
                        font-size: $size-md-px;
                    }
                    a[href^='tel:']{
                        color: inherit;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}