include /components/check/template.pug
include /components/collapse/template.pug
include /components/file/template.pug
include /components/float-label/template.pug
include /components/money/template.pug
include /components/popover/template.pug
include /components/table/template.pug

-
    /**
     * @function mixins.layout#offerNewPrices
     * @requires mixins.components#money
     */
mixin offerNewPrices
    //-html
    +e({
        modifiers: ['price', 'sum'],
        content: `Итого: ${money.formatPrice(148000)}`
    })
    +e({
        modifiers: ['price', 'profit'],
        content: `Прибыль: ${money.formatPrice(50000)}`
    })

-
    /**
     * @function mixins.layout#offerNewTable
     * @requires mixins.components#check
     * @requires mixins.components#collapse
     * @requires mixins.components#floatLabel
     * @requires mixins.components#money
     * @requires mixins.components#popoverLink
     * @desc Таблица страницы редактирования КП.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.max] - .
     * @param {boolean} [config.bottomNumber=true] - .
     * @param {boolean} [config.bottomActions] - .
     * @param {boolean} [config.propertiesMore] - .
     * @param {Array.<string>} [config.checkboxes=['Артикул', 'Размер', 'Материал', 'Тип нанесения', 'Бренд', 'Цвет', 'Описание']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin offerNewTable(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            checkboxes: ['Артикул', 'Размер', 'Материал', 'Тип нанесения', 'Бренд', 'Цвет', 'Описание'],
            max: 2,
            bottomNumber: true,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.title);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    +r('offer-new')
        +b(config)&attributes(attributes)
            //-pug-lint-disable-line disallowBlockExpansion
            +r('main-content'): +mainContentInner({preloaderContainer: false})
                +mainContentCol: +r('offer-new-table')
                    +be.top
                        +r('offer-new-table')
                            +be.checkboxes
                                +collapse({
                                    id: 'offer-new-filter',
                                    button: {
                                        content: 'Показать/скрыть свойства',
                                        prevIcon: {
                                            sprite: 'controls'
                                        },
                                        icon: {
                                            sprite: {
                                                id: 'arrow',
                                                width: 10
                                            }
                                        }
                                    }
                                })
                                    +r('offer-new-table-checkboxes')
                                        +e.items
                                            each item, index in config.checkboxes
                                                +e.item
                                                    +checkbox({
                                                        id: `offer-new-filter${index + 1}`,
                                                        checked: (index !== 3),
                                                        switchRole: true,
                                                        input: {
                                                            attrs: {
                                                                dataProperty: index + 1
                                                            }
                                                        },
                                                        content: item
                                                    })

                    +e.table-wrapper
                        +be({
                            modifiers: 'fixed-header',
                            attrs: {
                                dataTableHeader: ''
                            }
                        })
                            +tableCell({
                                tag: div,
                                modifiers: 'photo',
                                content: 'Товар'
                            })
                            +tableCell({
                                tag: div,
                                modifiers: 'properties'
                            })
                                +e.properties
                                    +tableCell({
                                        tag: div,
                                        modifiers: 'buy'
                                    })
                                        +popoverLink({
                                            depth: 2,
                                            title: false,
                                            description: false,
                                            attrs: {
                                                dataId: 'offer-new-popover'
                                            }
                                        })
                                        +be({
                                            depth: 2,
                                            modifiers: 'popover',
                                            attrs: {
                                                id: 'offer-new-popover'
                                            }
                                        })
                                            +e.inner
                                                +e.inner
                                                    +e.block
                                                        +e.title Заголовок 1
                                                        +e.text Женский топ от компании Найк со средней степенью поддержки и компрессионной посадкой предназначен для разных видов спорта. Благодаря технологии Dri-FIT, излишки влаги выводятся и обеспечивается должный комфорт.
                                                    +e.block
                                                        +e.title Заголовок 2
                                                        +e.text Удобные бретельки не натирают и расширяют диапазон движений. Т-образная конструкция спинки не сковывает движения.
                                        | Закупка
                                    if globalConfig.settings.rrp
                                        +tableCell({
                                            tag: div,
                                            modifiers: 'rrp'
                                        })
                                            +popoverLink({
                                                depth: 2
                                            })
                                            | РРЦ
                                    +tableCell({
                                        tag: div,
                                        modifiers: 'sell'
                                    })
                                        +popoverLink({
                                            depth: 2
                                        })
                                        | Продажа
                                    +tableCell({
                                        tag: div,
                                        modifiers: 'quantity'
                                    })
                                        +popoverLink({
                                            depth: 2
                                        })
                                        | Кол-во
                                    +tableCell({
                                        tag: div,
                                        modifiers: 'sum'
                                    })
                                        +popoverLink({
                                            depth: 2
                                        })
                                        | Сумма

                        +table({
                            dataTable: 'false',
                            tableClass: false
                        })
                            +tableHead
                                +tableRow
                                    +tableCell({
                                        header: true,
                                        modifiers: 'photo',
                                        colspan: 2,
                                        content: 'Товар'
                                    })
                                    +tableCell({
                                        header: true,
                                        modifiers: 'properties'
                                    })
                                        +e.header
                                            +tableCell({
                                                tag: div,
                                                header: true,
                                                modifiers: 'buy',
                                                content: 'Закупка'
                                            })
                                            if globalConfig.settings.rrp
                                                +tableCell({
                                                    tag: div,
                                                    header: true,
                                                    modifiers: 'rrp',
                                                    content: 'РРЦ'
                                                })
                                            +tableCell({
                                                tag: div,
                                                header: true,
                                                modifiers: 'sell',
                                                content: 'Продажа'
                                            })
                                            +tableCell({
                                                tag: div,
                                                header: true,
                                                modifiers: 'quantity',
                                                content: 'Кол-во'
                                            })
                                            +tableCell({
                                                tag: div,
                                                header: true,
                                                modifiers: 'sum',
                                                content: 'Сумма'
                                            })

                            +tableBody
                                each item, currentNum in [...Array(config.max)]
                                    - const currentItem = items[currentNum];
                                    +tableRow
                                        +tableCell({modifiers: 'photo'})
                                            +be.image
                                                +link({href: 'product'})
                                                    +image({
                                                        src: currentItem.image.src,
                                                        alt: currentItem.image.alt
                                                    })

                                            +be.actions
                                                +button({
                                                    tag: a,
                                                    modifiers: 'remove',
                                                    color: 'secondary',
                                                    size: 'sm',
                                                    outline: true
                                                })
                                                    +sprite#trash
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'text',
                                                        content: 'Удалить'
                                                    })

                                        +tableCell({modifiers: 'title'})
                                            - const propertiesId = `offer-item-properties${currentNum + 1}`;
                                            +link({
                                                content: currentItem.title,
                                                href: 'product',
                                                class: 'title'
                                            })
                                            +e({
                                                modifiers: 'properties',
                                                attrs: {
                                                    id: propertiesId
                                                }
                                            })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '1',
                                                        hidden: ''
                                                    },
                                                    content: `Артикул: ${currentItem.number}`
                                                })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '2',
                                                        hidden: ''
                                                    },
                                                    content: 'Размер: -'
                                                })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '3',
                                                        hidden: ''
                                                    },
                                                    content: 'Материал: хлопок 35%, полиэстер 65%, плотность 180 г/м2'
                                                })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '4',
                                                        hidden: ''
                                                    },
                                                    content: 'Тип нанесения: тиснение блинтовое, тиснение с фольгой, шелкография, тиснение, уф печать'
                                                })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '5',
                                                        hidden: ''
                                                    },
                                                    content: 'Бренд: Polo & Pan'
                                                })
                                                +e({
                                                    modifiers: 'property',
                                                    attrs: {
                                                        dataProperty: '6',
                                                        hidden: ''
                                                    },
                                                    content: 'Цвет: Синий'
                                                })

                                            if config.propertiesMore
                                                +link({
                                                    dashed: true,
                                                    href: propertiesId,
                                                    class: 'more',
                                                    content: 'Показать всё'
                                                })

                                        +tableCell({modifiers: 'properties'})
                                            +be.properties
                                                +link({
                                                    content: currentItem.title,
                                                    href: 'product',
                                                    class: 'title'
                                                })

                                                +table({
                                                    dataTable: 'false',
                                                    tableClass: false
                                                })
                                                    +tableHead
                                                        +tableRow
                                                            +tableCell({
                                                                header: true,
                                                                modifiers: 'buy',
                                                                content: 'Закупка'
                                                            })
                                                            if globalConfig.settings.rrp
                                                                +tableCell({
                                                                    header: true,
                                                                    modifiers: 'rrp',
                                                                    content: 'РРЦ'
                                                                })
                                                            +tableCell({
                                                                header: true,
                                                                modifiers: 'sell',
                                                                content: 'Продажа'
                                                            })
                                                            +tableCell({
                                                                header: true,
                                                                modifiers: 'quantity',
                                                                content: 'Кол-во'
                                                            })
                                                            +tableCell({
                                                                header: true,
                                                                modifiers: 'sum',
                                                                content: 'Сумма'
                                                            })

                                                    +tableBody
                                                        +tableRow
                                                            +tableCell({modifiers: 'buy'})
                                                                +e.name
                                                                    - const popoverId = `offer-new-popover${currentNum + 1}`;
                                                                    +popoverLink({
                                                                        title: false,
                                                                        description: false,
                                                                        attrs: {
                                                                            dataId: popoverId
                                                                        }
                                                                    })
                                                                    +be({
                                                                        modifiers: 'popover',
                                                                        attrs: {
                                                                            id: popoverId
                                                                        }
                                                                    })
                                                                        +e.inner
                                                                            +e.block
                                                                                +e.title Заголовок 1
                                                                                +e.text Женский топ от компании Найк со средней степенью поддержки и компрессионной посадкой предназначен для разных видов спорта. Благодаря технологии Dri-FIT, излишки влаги выводятся и обеспечивается должный комфорт.
                                                                            +e.block
                                                                                +e.title Заголовок 2
                                                                                +e.text Удобные бретельки не натирают и расширяют диапазон движений. Т-образная конструкция спинки не сковывает движения.
                                                                    | Закупка:
                                                                +e.value
                                                                    +e({
                                                                        modifiers: 'input',
                                                                        classes: 'form-control-plaintext form-control-number',
                                                                        content: money.format(1982156)
                                                                    })

                                                            if globalConfig.settings.rrp
                                                                +tableCell({modifiers: 'rrp'})
                                                                    +e.name
                                                                        +popoverLink
                                                                        | РРЦ:
                                                                    +e.value
                                                                        +e({
                                                                            modifiers: 'input',
                                                                            classes: 'form-control-plaintext form-control-number',
                                                                            content: money.format(1982156)
                                                                        })

                                                            +tableCell({modifiers: 'sell'})
                                                                +e.name
                                                                    +popoverLink
                                                                    | Продажа:
                                                                +e.value
                                                                    +input({
                                                                        formControl: true,
                                                                        size: 'sm',
                                                                        number: true,
                                                                        value: money.format(1990150)
                                                                    })

                                                            +tableCell({modifiers: 'quantity'})
                                                                +e.name
                                                                    +popoverLink
                                                                    | Кол-во:
                                                                +e.value
                                                                    +input({
                                                                        formControl: true,
                                                                        size: 'sm',
                                                                        number: true,
                                                                        value: '50'
                                                                    })

                                                            +tableCell({modifiers: 'sum'})
                                                                +e.name
                                                                    +popoverLink
                                                                    | Сумма:
                                                                +e.value
                                                                    +input({
                                                                        formControl: true,
                                                                        size: 'sm',
                                                                        number: true,
                                                                        value: money.format(10883000)
                                                                    })

                                                +e({
                                                    modifiers: 'list',
                                                    attrs: {
                                                        id: `offer-item-properties-inner${currentNum + 1}`
                                                    }
                                                })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '1',
                                                            hidden: ''
                                                        },
                                                        content: `Артикул: ${currentItem.number}`
                                                    })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '2',
                                                            hidden: ''
                                                        },
                                                        content: 'Размер: -'
                                                    })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '3',
                                                            hidden: ''
                                                        },
                                                        content: 'Материал: хлопок 35%, полиэстер 65%, плотность 180 г/м2'
                                                    })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '4',
                                                            hidden: ''
                                                        },
                                                        content: 'Тип нанесения: тиснение блинтовое, тиснение с фольгой, шелкография, тиснение, уф печать'
                                                    })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '5',
                                                            hidden: ''
                                                        },
                                                        content: 'Бренд: Polo & Pan'
                                                    })
                                                    +e({
                                                        modifiers: 'property',
                                                        attrs: {
                                                            dataProperty: '6',
                                                            hidden: ''
                                                        },
                                                        content: 'Цвет: Синий'
                                                    })

                                                +be({
                                                    tag: section,
                                                    depth: 2,
                                                    modifiers: 'description',
                                                    attrs: {
                                                        dataProperty: '7',
                                                        hidden: ''
                                                    }
                                                })
                                                    +e({
                                                        tag: h2,
                                                        modifiers: 'title',
                                                        content: 'Описание'
                                                    })
                                                    +e.text Женский топ от компании Найк со средней степенью поддержки и компрессионной посадкой предназначен для разных видов спорта. Благодаря технологии Dri-FIT, излишки влаги выводятся и обеспечивается должный комфорт. Удобные бретельки не натирают и расширяют диапазон движений. Т-образная конструкция спинки не сковывает движения.

                                                +be({
                                                    depth: 2,
                                                    modifiers: 'comment'
                                                })
                                                    +floatLabel
                                                        +button({title: 'Удалить комментарий'})
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'icon'
                                                            })
                                                                +sprite#plus

                                                        - const commentInputId = `offer-item-comment${currentNum + 1}`;
                                                        +label({
                                                            for: commentInputId,
                                                            content: 'Добавить комментарий'
                                                        })
                                                        +input({
                                                            content: (currentNum === 0) ? 'комментарий' : null,
                                                            tag: textarea,
                                                            formControl: true,
                                                            id: commentInputId,
                                                            name: `COMMENT_${currentNum + 1}`
                                                        })

                    +be.bottom
                        +e({
                            modifiers: 'inner',
                            classes: row
                        })
                            if config.bottomNumber
                                +be({
                                    modifiers: 'number',
                                    classes: col
                                })
                                    +floatLabel
                                        - const numberInputId = 'offer-new-add-number';
                                        +label({
                                            for: numberInputId,
                                            content: '+ Добавить артикул'
                                        })

                                        +e.input-container
                                            +input({
                                                formControl: true,
                                                id: numberInputId,
                                                name: 'NUMBER'
                                            })

                                            +button({
                                                color: 'primary',
                                                content: 'Ок'
                                            })

                            +e({
                                modifiers: 'info',
                                classes: col
                            })
                                +e.icon
                                    +sprite({
                                        id: 'info-circle',
                                        width: 20
                                    })
                                +e.text Перед отправкой КП проверьте корректность цен в столбце «Продажа»

                            if config.bottomActions
                                +be({
                                    modifiers: 'actions',
                                    classes: col
                                })
                                    +e.title Скачать:
                                    +link({
                                        modifiers: 'format',
                                        content: '*.XLS',
                                        download: true
                                    })
                                    +link({
                                        modifiers: 'format',
                                        content: '*.PDF',
                                        download: true
                                    })
                                    +e.delimiter или
                                    +button({
                                        tag: a,
                                        modifiers: 'save',
                                        content: 'Сохранить в ЛК',
                                        color: 'primary',
                                        size: 'sm'
                                    })

                            +be({
                                modifiers: 'sum',
                                classes: col
                            })
                                +offerNewPrices

                block

-
    /**
     * @function mixins.layout#offerNew
     * @requires mixins.components#fileInput
     * @requires mixins.components#floatLabel
     * @requires mixins.components#money
     * @desc Cтраница редактирования КП.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='offer-detail'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.image] - .
     * @param {boolean} [config.values] - .
     * @param {boolean} [config.bottomActions=true] - .
     * @param {boolean} [config.rightActions] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='offer-new'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin offerNew(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'offer-new';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'offer-detail',
            bottomActions: true,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }
        const newData = data.new;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +be.top
            +r('main-content'): +mainContentInner
                +r('offer-new-top')
                    +top

                    +form({
                        type: e,
                        classes: col
                    })
                        +e({
                            modifiers: 'row',
                            classes: row
                        })
                            +e({
                                modifiers: 'fields',
                                classes: col
                            })
                                div(class=row)
                                    +be({
                                        modifiers: 'image',
                                        classes: col
                                    })
                                        +e.inner
                                            +label({
                                                for: 'offer-new-logo',
                                                class: 'button'
                                            })
                                                +e({
                                                    tag: span,
                                                    modifiers: 'content'
                                                })
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'title',
                                                        content: 'Логотип'
                                                    })
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'label',
                                                        content: 'Загрузить'
                                                    })
                                                    +fileInput({
                                                        tag: span,
                                                        id: 'offer-new-logo',
                                                        name: 'LOGO',
                                                        prependInput: true,
                                                        label: false
                                                    })

                                            if config.image
                                                - const image = setImageProps(config.dataPath, newData.image, newData.title);
                                                +e.overlay
                                                    +button({
                                                        title: 'Удалить изображение',
                                                        class: 'remove'
                                                    })
                                                        +sprite#trash
                                                    +image({
                                                        src: image.src,
                                                        alt: image.alt
                                                    })

                                    +e({
                                        modifiers: 'form-groups',
                                        classes: col
                                    })
                                        +e({
                                            modifiers: 'row',
                                            classes: row
                                        })
                                            +e({
                                                modifiers: 'column',
                                                classes: col
                                            })
                                                +floatLabel({modifiers: 'lg'})
                                                    +label({
                                                        for: 'offer-new-title',
                                                        content: 'Введите заголовок'
                                                    })

                                                    +e.input-container
                                                        +input({
                                                            formControl: true,
                                                            size: 'lg',
                                                            id: 'offer-new-title',
                                                            name: 'TITLE',
                                                            value: config.values && newData.title
                                                        })

                                            +e({
                                                modifiers: 'column',
                                                classes: col
                                            })
                                                +floatLabel
                                                    +label({
                                                        for: 'offer-new-comment',
                                                        content: 'Комментарий'
                                                    })

                                                    +e.input-container
                                                        +input({
                                                            tag: textarea,
                                                            modifiers: 'textarea',
                                                            content: config.values ? newData.comment : null,
                                                            formControl: true,
                                                            size: 'lg',
                                                            id: 'offer-new-comment',
                                                            name: 'COMMENT'
                                                        })

                                            +e({
                                                modifiers: 'column',
                                                classes: col
                                            })
                                                +e({
                                                    modifiers: 'row',
                                                    classes: row
                                                })
                                                    +e({
                                                        modifiers: ['column', 'half'],
                                                        classes: col
                                                    })
                                                        +floatLabel
                                                            +label({
                                                                for: 'offer-new-phone',
                                                                content: 'Телефон'
                                                            })

                                                            +e.input-container
                                                                +input({
                                                                    inputType: 'tel',
                                                                    formControl: true,
                                                                    id: 'offer-new-phone',
                                                                    name: 'PHONE',
                                                                    value: config.values && newData.phone
                                                                })

                                                    +e({
                                                        modifiers: ['column', 'half'],
                                                        classes: col
                                                    })
                                                        +floatLabel
                                                            +label({
                                                                for: 'offer-new-email',
                                                                content: 'Email'
                                                            })

                                                            +e.input-container
                                                                +input({
                                                                    inputType: 'email',
                                                                    formControl: true,
                                                                    id: 'offer-new-email',
                                                                    name: 'EMAIL',
                                                                    value: config.values && newData.email
                                                                })

                                            if config.bottomActions
                                                -
                                                    const actions = [
                                                        {
                                                            content: 'Скачать',
                                                            sprite: 'arrow-download',
                                                            items: [
                                                                'Скачать XLSX',
                                                                'Скачать PDF'
                                                            ]
                                                        },
                                                        {
                                                            content: 'Печать',
                                                            sprite: 'printer'
                                                        },
                                                        {
                                                            content: 'Удалить',
                                                            sprite: 'trash'
                                                        }
                                                    ];
                                                +be({
                                                    modifiers: 'actions',
                                                    classes: col
                                                })
                                                    +e({
                                                        tag: h2,
                                                        modifiers: 'title',
                                                        content: 'Действия'
                                                    })

                                                    +button({
                                                        color: 'secondary',
                                                        content: 'Сохранить изменения'
                                                    })

                                                    +e.items
                                                        each actionItem, actionIndex in actions
                                                            +e.item
                                                                +link({
                                                                    tag: actionItem.items ? button : a,
                                                                    modifiers: _.ifElse(actionIndex === (actions.length - 1), 'remove')
                                                                })
                                                                    +e({
                                                                        tag: span,
                                                                        modifiers: 'icon'
                                                                    })
                                                                        +sprite(actionItem.sprite)
                                                                    +e({
                                                                        tag: span,
                                                                        modifiers: 'text',
                                                                        content: actionItem.content
                                                                    })

                                                                if actionItem.items
                                                                    +be.popover
                                                                        +e.items
                                                                            each actionItemsItem in actionItem.items
                                                                                +e.item
                                                                                    +link({
                                                                                        download: true,
                                                                                        content: actionItemsItem
                                                                                    })

                            if config.rightActions
                                -
                                    const actions = [
                                        {
                                            content: 'Скачать *.PDF',
                                            sprite: 'arrow-download'
                                        },
                                        {
                                            content: 'Скачать *.XLS',
                                            sprite: 'arrow-download'
                                        },
                                        {
                                            content: 'Сохранить в ЛК',
                                            sprite: 'profile-add'
                                        },
                                        {
                                            content: 'Распечатать',
                                            sprite: 'printer'
                                        },
                                        {
                                            content: 'Удалить',
                                            sprite: 'trash'
                                        }
                                    ];
                                +be({
                                    modifiers: 'actions',
                                    classes: col
                                })
                                    +e({
                                        tag: h2,
                                        modifiers: 'title',
                                        content: 'Действия'
                                    })
                                    +e.items
                                        each actionItem, actionIndex in actions
                                            +e.item
                                                +link({
                                                    modifiers: _.ifElse(actionIndex === (actions.length - 1), 'remove')
                                                })
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'icon'
                                                    })
                                                        +sprite(actionItem.sprite)
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'text',
                                                        content: actionItem.content
                                                    })

                            if config.bottomActions
                                +be({
                                    modifiers: 'bottom',
                                    classes: col
                                })
                                    +e({
                                        modifiers: 'row',
                                        classes: row
                                    })
                                        +r('offer-new-top')
                                            +be({
                                                modifiers: 'sum',
                                                classes: col
                                            })
                                                +offerNewPrices

                                            +be({
                                                modifiers: 'submit',
                                                classes: col
                                            })
                                                +button({
                                                    buttonType: 'submit',
                                                    color: 'primary',
                                                    content: 'Выгрузить в корзину'
                                                })

        block