@import 'main';

.product{
    &__side{
        @include m(top){
            min-width: 100%;
            padding: 0 0 $global-margin * 3;
            .product{
                &__gallery{
                    @media (min-width: $media-lg){
                        margin-top: $global-margin;
                        padding-right: $global-padding * 3;
                    }
                }
                &__prices{
                    @media (min-width: $media-sm){
                        flex-grow: 1;
                    }
                }
                &-prices{
                    &__item{
                        @include m(current){
                            @media (min-width: $media-sm){
                                min-width: 0;
                            }
                        }
                    }
                }
                &__counter{
                    @media (min-width: $media-sm){
                        display: flex;
                        justify-content: center;
                    }
                }
                &__sum{
                    @media (min-width: $media-sm){
                        min-width: 0;
                    }
                }
                &-sum{
                    &__inner{
                        @media (min-width: $media-sm){
                            justify-content: flex-end;
                        }
                    }
                    &__title{
                        @media (min-width: $media-sm){
                            text-align: right;
                        }
                    }
                }
            }
        }
        @include m(bottom){
            min-width: calc(100% + #{$global-padding * 7});
            margin: 0 (-$global-padding * 3.5);
            padding: $global-margin * .5 $global-padding * 3.5 0;
            @include border-top($grey-lightest);
            background: linear-gradient(to bottom, rgba($grey-lightest, .5), $white 72px);
            @media (min-width: $media-lg){
                padding-top: $global-margin * 1.75;
            }
        }
    }
}