-
    /**
     * @function mixins.layout#productTop
     * @requires mixins.layout#productSide
     * @desc Верхняя секция страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.topModifier='top'] - .
     */
mixin productTop(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            class: {
                topModifier: mixinClass
            }
        });

        if (config.class.topModifier) {
            setBlockClass(attributes, config.class.topModifier);
        }

    //-html
    +productSide(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#productBottom
     * @requires mixins.layout#productSide
     * @desc Нижняя секция страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.bottomModifier='bottom'] - .
     */
mixin productBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            class: {
                bottomModifier: mixinClass
            }
        });

        if (config.class.bottomModifier) {
            setBlockClass(attributes, config.class.bottomModifier);
        }

    //-html
    +productSide(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#productVertical
     * @requires mixins.layout#productWrapper
     * @requires mixins.layout#productTop
     * @requires mixins.layout#productGallery
     * @requires mixins.layout#productInfo
     * @requires mixins.layout#productHeader
     * @requires mixins.layout#productNumber
     * @requires mixins.layout#productAvailability
     * @requires mixins.layout#productSeparator
     * @requires mixins.layout#productPrices
     * @requires mixins.layout#productCounter
     * @requires mixins.layout#productSum
     * @requires mixins.layout#productBuy
     * @requires mixins.layout#productBuyGroup
     * @requires mixins.layout#productOffer
     * @requires mixins.layout#productCart
     * @requires mixins.layout#productBottom
     * @requires mixins.layout#productTabs
     * @requires mixins.layout#productTabsContent
     * @desc Вертикальная карточка товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.top] - .
     * @param {Bemoptions} [config.gallery] - .
     * @param {Bemoptions} [config.info] - .
     * @param {Bemoptions} [config.header] - .
     * @param {Bemoptions} [config.number] - .
     * @param {Bemoptions} [config.availability] - .
     * @param {Bemoptions} [config.separator] - .
     * @param {Bemoptions} [config.prices] - .
     * @param {Bemoptions} [config.counter] - .
     * @param {Bemoptions} [config.sum] - .
     * @param {Bemoptions} [config.buy] - .
     * @param {Bemoptions} [config.buyGroup] - .
     * @param {Bemoptions} [config.offer] - .
     * @param {Bemoptions} [config.cart] - .
     * @param {Bemoptions} [config.bottom] - .
     * @param {Bemoptions} [config.tabs] - .
     * @param {Bemoptions} [config.tabsContent] - .
     */
mixin productVertical(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            wrapper: {
                class: {
                    addClass: ''
                }
            }
        });

    //-html
    +productWrapper(config.wrapper)
        +productTop(config.top)
            +productGallery(config.gallery)

            +productInfo(config.info)
                +productHeader(config.header)
                +productNumber(config.number)
                +productAvailability(config.availability)
                +productSeparator(config.separator)
                +productPrices(config.prices)
                +productCounter(config.counter)
                +productSum(config.sum)
                +productBuy(config.buy)
                    +productBuyGroup(config.buyGroup)
                    +productOffer(config.offer)
                    +productCart(config.cart)

        +productBottom(config.bottom)
            +productTabs(config.tabs)
                +productTabsContent(config.tabsContent)

        block