-
    const page = {
        title: 'Коммерческое предложение',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +personalWrapper
                        +offerDetail({image: false})
                            +offerDetailTable({classes: col})

            +contentBottom
        +foot