-
    /**
     * @function mixins.layout#legalsAdd
     * @desc Форма добавления юр. лица.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='legals-add'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin legalsAdd(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'legals-add';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e.form
                +form({type: b})
                    +e({
                        tag: fieldset,
                        modifiers: 'block'
                    })
                        +formGroup
                            +label({
                                for: 'legals-add-name',
                                content: 'Наименование'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-name',
                                    name: 'NAME'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-address',
                                content: 'Юридический адрес'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-address',
                                    name: 'ADDRESS'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-address-actual',
                                content: 'Фактический адрес'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-address-actual',
                                    name: 'ADDRESS_ACTUAL'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-phone',
                                content: 'Телефон'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'tel',
                                    id: 'legals-add-phone',
                                    name: 'PHONE',
                                    validate: 'tel'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-inn',
                                content: 'ИНН'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-inn',
                                    name: 'INN'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-kpp',
                                content: 'КПП'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-kpp',
                                    name: 'KPP'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-ogrn',
                                content: 'ОГРН'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-ogrn',
                                    name: 'OGRN'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-account',
                                content: 'р/сч'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-account',
                                    name: 'ACCOUNT'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-corr-account',
                                content: 'к/сч'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-corr-account',
                                    name: 'CORR_ACCOUNT'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-bik',
                                content: 'БИК'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-bik',
                                    name: 'BIK'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-bank',
                                content: 'Банк'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-bank',
                                    name: 'BANK'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-head',
                                content: 'Руководитель'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-head',
                                    name: 'HEAD'
                                })

                        +formGroup
                            +label({
                                for: 'legals-add-accountant',
                                content: 'Гл. бухгалтер'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'legals-add-accountant',
                                    name: 'ACCOUNTANT'
                                })

                    +formGroup
                        +button({
                            modifiers: 'submit',
                            content: 'Сохранить',
                            color: 'primary',
                            buttonType: 'submit'
                        })

                    block