@import 'main';

//Плавающее меню
.float-nav{
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 25;
    display: none;
    transform: translateY(-50%);
    @media (min-width: $media-xl){
        display: block;
    }
    &.fixed-bottom{
        position: absolute;
        top: auto;
        bottom: calc(50vh - 70px);
        transform: translateY(50%);
    }
    &.top-screen{
        .float-nav{
            &__link{
                color: rgba($white, 0);
                &:hover{
                    color: rgba($white, .4) !important;
                    .float-nav__title{
                        &::after{
                            border-color: rgba($white, .4);
                        }
                    }
                }
            }
            &__title{
                &::after{
                    border-color: rgba($white, .2);
                }
            }
        }
    }

    &__list{
        margin: 0;
        padding: 0;
    }
    &__item{
        height: 40px;
        margin-top: 0;
        &::before{
            display: none;
        }
        &:first-child{
            .float-nav__link{
                &.active{
                    color: rgba($grey-middark, 0);
                    .float-nav__title{
                        &::after{
                            max-width: 7px;
                        }
                    }
                }
            }
        }
    }
    &__link{
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 60px;
        padding-bottom: 4px;
        color: rgba($grey-middark, 0);
        font-family: $font-secondary;
        font-size: 11px;
        font-weight: $weight-medium;
        line-height: $line-height-md;
        text-transform: uppercase;
        &.active{
            color: $grey-darker;
            .float-nav__title{
                &::after{
                    max-width: 100%;
                }
            }
        }
        &:hover{
            color: $grey-darker !important;
            .float-nav__title{
                &::after{
                    max-width: 100% !important;
                }
            }
        }
    }
    &__title{
        position: relative;
        @include after{
            left: 0;
            bottom: -4px;
            width: 100%;
            max-width: 7px;
            @include border-top(to-rgb($grey-middark, .2), 2px);
            @include transition(max-width border-color);
        }
    }
}