//-TODO:use data & menu mixin

-
    /**
     * @function mixins.layout#floatNav
     * @desc Плавающее закрепляемое меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='float-nav'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin floatNav(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'float-nav';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: ul,
            modifiers: 'items'
        })
            each item in config.menu
                +e({
                    tag: li,
                    modifiers: 'item'
                })
                    +link({href: item.href})
                        +e({
                            tag: span,
                            modifiers: 'title',
                            content: item.content
                        })

        block