-
    /**
     * @function mixins.components#iframe
     * @desc Iframe.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=iframe] - При включённой опции lazyload, config.tag является div.
     * @param {boolean} [config.lazyload] - .
     * @param {string} [config.src] - .
     * @param {number} [config.width] - .
     * @param {number} [config.height] - .
     * @param {string} [config.allow] - .
     * @param {boolean} [config.allowfullscreen] - .
     * @param {boolean} [config.allowpaymentrequest] - .
     * @param {string} [config.name] - .
     * @param {string} [config.referrerpolicy] - .
     * @param {string} [config.sandbox] - .
     * @param {string} [config.srcdoc] - .
     * @param {string} [config.scrolling] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='iframe'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +iframe({
     *     type: b,
     *     width: 560,
     *     height: 315,
     *     src: 'https://www.youtube.com/embed/0ik6X4DJKCc',
     *     allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
     *     allowfullscreen: true
     * })
     *
     * @example
     * //Вывод фрейма с отложенной загрузкой
     * +iframe({
     *     type: b,
     *     lazyload: true,
     *     width: 560,
     *     height: 315,
     *     src: 'https://www.youtube.com/embed/0ik6X4DJKCc',
     *     allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
     *     allowfullscreen: true,
     *     dataOptions: {nameAttr: 'data-custom-name'}
     * })
     */
mixin iframe(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'iframe';

        _.defaultsDeep(config, {
            type: be,
            tag: config.lazyload ? div : iframe,
            muted: true,
            attrs: {
                dataLazyload: config.lazyload ? 'iframe' : null,
                src: config.lazyload ? null : config.src,
                dataSrc: config.lazyload ? config.src : null,
                width: config.lazyload ? null : config.width,
                dataWidth: config.lazyload ? config.width : null,
                height: config.lazyload ? null : config.height,
                dataHeight: config.lazyload ? config.height : null,
                allow: config.lazyload ? null : config.allow,
                dataIframeAllow: config.lazyload ? config.allow : null,
                allowfullscreen: config.lazyload ? null : '',
                dataIframeAllowfullscreen: config.lazyload ? '' : null,
                allowpaymentrequest: config.lazyload ? null : '',
                dataIframeAllowpaymentrequest: config.lazyload ? '' : null,
                name: config.lazyload ? null : config.name,
                dataName: config.lazyload ? config.name : null,
                referrerpolicy: config.lazyload ? null : config.referrerpolicy,
                dataIframeReferrerpolicy: config.lazyload ? config.referrerpolicy : null,
                sandbox: config.lazyload ? null : config.sandbox,
                dataIframeSandbox: config.lazyload ? config.sandbox : null,
                srcdoc: config.lazyload ? null : config.srcdoc,
                dataIframeSrcdoc: config.lazyload ? config.srcdoc : null,
                scrolling: config.lazyload ? null : config.scrolling,
                dataIframeScrolling: config.lazyload ? config.scrolling : null,
                dataIframeOptions: config.dataOptions || null
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block

    if config.lazyload
        noscript
            -
                const noscriptAttributes = _.cloneDeep(attributes);
                _.extend(noscriptAttributes, {
                    src: config.src,
                    width: config.width,
                    height: config.height,
                    allowfullscreen: config.allowfullscreen,
                    allowpaymentrequest: config.allowpaymentrequest,
                    name: config.name,
                    referrerpolicy: config.referrerpolicy,
                    sandbox: config.sandbox,
                    srcdoc: config.srcdoc,
                    scrolling: config.scrolling
                });
                noscriptAttributes.class = attributes.class;
            //-TODO:remove data attrs

            iframe&attributes(noscriptAttributes)