@import 'main';

.main-content-inner__col > .news{
    .news{
        &__top{
            margin-top: $global-margin * .5;
        }
    }
}

.news{
    min-width: 100%;
    &.row{
        @media (min-width: $media-sm){
            margin-top: -$global-margin * .5;
        }
    }

    &__inner{
        min-width: 100%;
    }

    //Верхняя часть
    &__top{
        margin-bottom: $global-margin * 2;
    }
    &-top{
        &__inner{
            align-items: center;
            margin-top: -$global-margin;
        }
        &__date{
            display: block;
            margin-top: $global-margin;
            color: $text-secondary;
            font-size: $size-sm-px;
            @media (min-width: $media-xs){
                margin-top: 0;
            }
        }
        &__links{
            margin-top: $global-margin * .75;
            text-align: right;
            @media (min-width: $media-xs){
                flex-basis: 0;
                margin-top: -$global-margin * .25;
            }
        }
        &__link{
            display: inline-block;
            color: $color-primary;
            font-size: $size-md;
            white-space: nowrap;
            text-decoration: none;
        }

        //TODO:style nav
    }

    //Хедер
    &__header{
        z-index: 1;
        + .news__content{
            margin-top: $global-margin * 2;
        }
    }
    &-header{
        &__title{
            display: inline-block;
            margin: 0;
            font-family: $header-font;
            font-size: $size-lg;
            font-weight: $header-weight;
            line-height: $header-line-height;
            letter-spacing: $letter-spacing-sm;
            @media (min-width: $media-sm){
                font-size: $size-h2;
            }
        }
        &__link{
            display: inline-block;
            margin-left: 14px;
            font-size: $size-sm-px;
            font-weight: $weight-bold;
            text-decoration: underline;
            vertical-align: top;
            &:hover,
            &:focus{
                text-decoration: none;
            }
        }
    }

    //Элементы списка
    &__content{
        flex-basis: 100%;
    }
    &__items{
        margin-top: -$global-margin * 2;
    }
    &__item{
        min-width: col-width-px(2.5);
        max-width: col-width-px(4) + $global-padding;
        margin-top: $global-margin * 2;
        @media (min-width: $media-sm){
            min-width: col-width(6);
            max-width: col-width(6);
        }
        @media (min-width: $media-lg){
            min-width: col-width(4);
            max-width: col-width(4);
        }
    }
    &-item{
        &__image{
            position: relative;
        }
        &-image{
            &__bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $radius-primary;
                background-position: center;
                background-size: cover;
            }
            &__link{
                display: block;
                height: 0;
                padding-bottom: 100% * divide(200, 388);
            }
            &__image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: calc(100vw - #{$container-padding * 2});
                height: 100%;
                margin: 0;
                opacity: 0;
            }
        }

        &__date{
            display: block;
            margin-top: $global-margin;
            color: $text-secondary;
            font-size: $size-sm-px;
        }
        &__title{
            margin-top: 4px;
            @media (min-width: $media-sm){
                margin-top: 6px;
            }
        }
        &-title{
            &__link{
                display: block;
                color: $grey-darker;
                font-size: $size-primary-px;
                font-weight: $weight-bold;
                line-height: $line-height-md;
                text-decoration: none;
                @include text-overflow(3, $line-height-md);
            }
        }
        &__text{
            margin-top: 6px;
            font-size: $size-md-px;
            @media (min-width: $media-sm){
                margin-top: 9px;
            }
        }
    }

    &__bottom{
        margin-top: $global-margin * 1.5;
    }

    //Детальная страница
    &__image{
        flex-basis: 100%;
        margin-top: $global-margin * 2;
    }
    &-image{
        &__image{
            margin: 0;
        }
    }
    &__text{
        flex-basis: 100%;
        margin-top: $global-margin;
    }

    //Нижняя часть
    &__share{
        display: flex;
        align-items: center;
        margin-top: $global-margin * 2;
    }
    &-share{
        &__title{
            margin-right: 12px;
            font-size: $size-sm-px;
        }
    }

    + .card-slider{
        margin-top: $global-margin * 2;
    }
}