include /components/nav/template.pug
include /components/pagination/template.pug
include /components/social/template.pug

-
    /**
     * @function mixins.layout#newsWrapper
     * @desc Обёртка страниц новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='news'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=row] - Дополнительные классы.
     */
mixin newsWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'news';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                addClass: row
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#newsTop
     * @requires mixins.components#nav
     * @desc Верхняя часть страницы новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.href='news-detail'] - .
     * @param {Object} [config.nav={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin newsTop(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            href: 'news-detail',
            nav: {},
            class: {
                mixinClass,
                addClass: col
            }
        });

        let data = {};
        let items = [];
        if (config.data) {
            getData(config, config.data);
            data = config.data;
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        } else {
            const currentYear = new Date().getFullYear();
            items = [
                'Все',
                currentYear,
                currentYear - 1,
                currentYear - 2
            ];
        }

        if (config.nav) {
            _.defaultsDeep(config.nav, {
                data: items,
                dataPath: config.dataPath,
                href: config.href,
                hrefFormat: config.hrefFormat
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: 'inner'
        })
            +r('news')
                +nav(config.nav)

            block

-
    /**
     * @function mixins.layout#newsContent
     * @desc Контент страницы новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {Data} [config.data='news'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.href='news-detail'] - .
     * @param {number} [config.maxItems=12] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin newsContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'content';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            data: 'news',
            maxItems: 12,
            href: 'news-detail',
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        if (config.maxItems === false) {
            config.maxItems = items.length;
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.title);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: 'items'
        })
            - let dataItemNum = 0;
            each item, itemNum in [...Array(config.maxItems)]
                - const currentItem = items[dataItemNum];
                +be({
                    tag: article,
                    classes: col,
                    modifiers: 'item'
                })
                    +e.inner
                        +be.image
                            +e({
                                modifiers: 'bg',
                                attrs: {
                                    style: `background-image: url('${currentItem.image.src}')`
                                }
                            })

                            +link({
                                href: config.href,
                                title: removeHtml(currentItem.title)
                            })
                                +image({
                                    src: currentItem.image.src,
                                    alt: currentItem.image.alt
                                })

                        +e({
                            modifiers: 'date',
                            content: currentItem.date
                        })

                        +be.title
                            +link({
                                href: config.href,
                                title: removeHtml(currentItem.title),
                                content: currentItem.title
                            })

                        +e({
                            modifiers: 'text',
                            content: currentItem.content
                        })
                - dataItemNum = (dataItemNum < (items.length - 1)) ? (dataItemNum + 1) : 0;

        block

-
    /**
     * @function mixins.layout#newsBottom
     * @requires mixins.components#pagination
     * @desc Нижняя часть страницы новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {Object} [config.pagination={}] - .
     * @param {Object} [config.pagination.nav={}] - .
     * @param {(boolean|string)} [config.pagination.nav.text=false] - .
     * @param {Sprite} [config.pagination.nav.sprite={}] - .
     * @param {string} [config.pagination.nav.sprite.id='arrow'] - .
     * @param {number} [config.pagination.nav.sprite.width=10] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin newsBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            pagination: {
                nav: {
                    content: false,
                    sprite: {
                        id: 'arrow',
                        width: 10
                    }
                }
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        if config.pagination
            +pagination(config.pagination)

        block

-
    /**
     * @function mixins.layout#newsInner
     * @requires mixins.components#yandexShare
     * @requires mixins.components#yandexShareScript
     * @desc Контент детальной страницы новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {Data} [config.data='news'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {string} [config.itemsProp] - .
     * @param {Object} [config.back={}] - .
     * @param {string} [config.back.href='news'] - .
     * @param {Function} [config.back.hrefFormat] - .
     * @param {string} [config.back.content='Вернуться к списку новостей'] - .
     * @param {Object} [config.share={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='inner'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin newsInner(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'inner';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            data: 'news',
            dataIndex: 0,
            share: {},
            back: {
                href: 'news',
                content: 'Вернуться к списку новостей'
            },
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const image = setImageProps(config.dataPath, data.image, data.title);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +be({
            classes: col,
            modifiers: 'top'
        })
            +e({
                classes: row,
                modifiers: 'inner'
            })
                +e({
                    classes: col,
                    modifiers: 'date',
                    content: config.data && config.data.date
                })

                if config.back
                    +e({
                        classes: col,
                        modifiers: 'links'
                    })
                        +link({
                            modifiers: 'back',
                            href: config.back.href,
                            hrefFormat: config.back.hrefFormat,
                            content: config.back.content
                        })

        if image
            +be({
                classes: col,
                modifiers: 'image'
            })
                +image({
                    src: image.src,
                    alt: image.alt
                })

        +be({
            classes: col,
            modifiers: 'text'
        })
            if block
                block
            else if config.data
                != config.data.content

        if config.share
            +e({
                classes: col,
                modifiers: 'bottom'
            })
                +be.share
                    +e.title Поделиться:

                    +yandexShare(config.share)

                    +yandexShareScript

-
    /**
     * @function mixins.layout#news
     * @requires mixins.layout#newsWrapper
     * @requires mixins.layout#newsTop
     * @requires mixins.layout#newsContent
     * @requires mixins.layout#newsBottom
     * @desc Страница новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.top] - .
     * @param {Bemoptions} [config.contentBlock] - .
     * @param {Bemoptions} [config.bottom] - .
     */
mixin news(config)
    -
        config = _.toPlainObject(config);

    //-html
    +newsWrapper(config.wrapper)
        +newsTop(config.top)

        +newsContent(config.contentBlock)

        +newsBottom(config.bottom)

        block

-
    /**
     * @function mixins.layout#newsDetail
     * @requires mixins.layout#newsWrapper
     * @requires mixins.layout#newsInner
     * @desc Детальная страница новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.inner] - .
     */
mixin newsDetail(config)
    -
        config = _.toPlainObject(config);

    //-html
    +newsWrapper(config.wrapper)
        +newsInner(config.inner)
            block