include /components/check/template.pug

include /layout/password-show/template.pug

-
    /**
     * @function mixins.layout#authForm
     * @requires mixins.components#checkbox
     * @requires mixins.layout#baseForm
     * @requires mixins.layout#passwordShow
     * @desc Форма авторизации. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='auth'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.authModifier='auth'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin authForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'auth';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'auth',
            class: {
                authModifier: mixinClass
            }
        });

        if (config.class.authModifier) {
            setBlockClass(attributes, config.class.authModifier);
        }

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const idPrefix = `${config.idPrefix + config.id}-`;

    //-html
    +baseForm(config)&attributes(attributes)
        +formGroup
            +label({
                for: `${idPrefix}login${config.idPostfix}`,
                content: 'Логин или email',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'email',
                    id: `${idPrefix}login${config.idPostfix}`,
                    name: 'EMAIL',
                    validate: 'required',
                    autocomplete: 'email'
                })

        +formGroup
            +label({
                for: `${idPrefix}password${config.idPostfix}`,
                content: 'Пароль',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'password',
                    id: `${idPrefix}password${config.idPostfix}`,
                    name: 'PASSWORD',
                    validate: 'required, minlength: 6',
                    autocomplete: 'current-password'
                })

                +passwordShow

        +formGroup
            +e.comment #[span.text-required *] — поля, обязательные для заполнения

        +formGroup
            +e.input-container
                +checkbox({
                    id: `${idPrefix}remember${config.idPostfix}`,
                    class: 'check',
                    content: 'Запомнить'
                })

                +link({
                    href: '#popup-restorepass',
                    modifiers: 'restorepass',
                    attrs: {
                        dataPopup: ''
                    },
                    content: 'Забыли пароль?'
                })

        +formGroup
            +button({
                modifiers: 'submit',
                color: 'primary',
                buttonType: 'submit',
                content: 'Войти'
            })
            if globalConfig.settings.register
                +button({
                    tag: a,
                    href: '#popup-register',
                    modifiers: 'register',
                    color: 'secondary',
                    attrs: {
                        dataPopup: ''
                    },
                    content: 'Зарегистрироваться'
                })

        block