include /layout/password-show/template.pug

-
    /**
     * @function mixins.layout#changepassForm
     * @requires mixins.layout#baseForm
     * @requires mixins.layout#passwordShow
     * @desc Форма изменения пароля. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='changepass'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.changepassModifier='changepass'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin changepassForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'changepass';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'changepass',
            class: {
                changepassModifier: mixinClass
            }
        });

        if (config.class.changepassModifier) {
            setBlockClass(attributes, config.class.changepassModifier);
        }

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const idPrefix = `${config.idPrefix + config.id}-`;

    //-html
    +baseForm(config)&attributes(attributes)
        +formGroup
            +label({
                for: `${idPrefix}password${config.idPostfix}`,
                content: 'Новый пароль',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'password',
                    id: `${idPrefix}password${config.idPostfix}`,
                    validate: 'required, minlength: 6, equalto: PASSWORD_REPEAT',
                    name: 'PASSWORD',
                    autocomplete: 'new-password'
                })

                +passwordShow

        +formGroup
            +label({
                for: `${idPrefix}password-repeat${config.idPostfix}`,
                content: 'Подтвердите пароль',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'password',
                    id: `${idPrefix}password-repeat${config.idPostfix}`,
                    validate: 'required, minlength: 6, equalto: PASSWORD',
                    name: 'PASSWORD_REPEAT',
                    autocomplete: 'new-password'
                })

                +passwordShow

        +formGroup
            +e.comment #[span.text-required *] — поля, обязательные для заполнения

        +formGroup
            +button({
                modifiers: 'submit',
                color: 'primary',
                buttonType: 'submit',
                content: 'Изменить пароль'
            })

            +link({
                href: '#popup-auth',
                modifiers: 'auth',
                attrs: {
                    dataPopup: ''
                },
                content: 'Авторизация'
            })

        block