@import 'main';

//Выпадающее меню выбора местоположения
.header{
    .header{
        &-location{
            &-dropdown{
                &__toggle{
                    padding: 0;
                    border: none;
                    color: $text-secondary;
                    font-size: $size-sl-px;
                    background: none;
                    @include transition(color);
                    &:hover{
                        color: $color-primary;
                    }
                }
                &__icon{
                    &:first-child{
                        margin-right: 7px;
                    }
                }
                &__menu{
                    min-width: calc(100% + #{$global-gutter * 2}) !important;
                }
            }
        }
    }
}