include /components/dropdown/template.pug

-
    /**
     * @function mixins.layout#locationSelect
     * @requires mixins.components#dropdown
     * @desc Выбор местоположения.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='locations'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.id=`location-select-${uniqueId()}`] - .
     * @param {Bemoptions} [config.title] - .
     * @param {Bemoptions} [config.dropdown] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='location'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin locationSelect(config)
    -
        if (!globalConfig.settings.locations) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'location';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'locations',
            id: `location-select-${uniqueId()}`,
            title: {},
            dropdown: {},
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const titleId = `${config.id}-title`;

        if (config.dropdown) {
            _.defaultsDeep(config.dropdown, {
                id: config.id,
                labelled: titleId,
                data: items,
                dataPath: config.dataPath,
                link: {
                    tag: button
                },
                buttonBeforeSprite: 'pin'
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            if config.title
                +e({
                    classes: srOnly,
                    modifiers: 'title',
                    content: 'Выберите местоположение',
                    attrs: {
                        id: titleId
                    }
                })

            if config.dropdown
                +dropdown(config.dropdown)

            block