-
    const page = {
        title: 'Новости'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/news/template.pug

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                ['О компании', 'about'],
                                page.title
                            ]
                        })

                        +top

                        +textContainer
                            +news

            +contentBottom
        +foot