-
    const page = {
        title: 'Карта сайта'
    };
include /base/templates/main.pug

+html
    +head
        +sitemapStyle

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +top

                        +mainContentCol
                            +sitemap

            +contentBottom
        +foot

        //-Имитация элементов для плагина purify-css
        div(hidden)
            .bxml-subdialog-cont

        //-Подключение используемых спрайтов
        +requireSprites
            //-Спрайты, добавляемые инлайново
            +sprite({
                id: 'arrow-line-thin',
                require: true
            })
            +sprite({
                id: 'close',
                require: true
            })
            +sprite({
                id: 'document',
                require: true
            })
            //-