-
    /**
     * @function mixins.layout#scrollupButton
     * @desc Кнопка прокрутки к верху страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='scrollup'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    */
mixin scrollupButton(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'scrollup';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: a,
            modifiers: 'button',
            attrs: {
                href: '#',
                role: 'button'
            }
        })
            +e({
                tag: span,
                modifiers: 'icon'
            })
                +sprite#arrow
            +e({
                tag: span,
                modifiers: 'text',
                content: 'Наверх'
            })

        block