@import 'main';

//Меню вкладок
.nav{
    &-collapse{
        display: none;
        @media (min-width: $media-md){
            display: flex !important;
        }
    }

    //Стили для вкладок
    &-tabs{
        position: relative;
        @include after{
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            border-radius: $radius-sm;
            background: $grey-lightest;
        }

        .nav{
            &-item{
                margin-bottom: 0;
            }
            &-link{
                position: relative;
                border: none;
                border-radius: 0;
                color: $grey-light;
                font-family: $font-secondary;
                font-size: $size-md-px;
                font-weight: $weight-medium;
                text-decoration: none !important;
                @include after{
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                    width: 100%;
                    height: 3px;
                    border-radius: $radius-sm;
                    background: $grey-lightest;
                    @include transition(background);
                }
                &:hover,
                &:focus{
                    color: $grey-darker;
                }
                &.active{
                    color: $grey-darker;
                    background: none;
                    &::after{
                        background: $color-primary;
                    }
                }
            }
        }
    }

    //Стили для скруглённых вкладок
    &-pills{
        .nav-link{
            border-radius: $radius-primary;
            text-decoration: none;
            &.active{
                color: $white;
                background: $color-primary;
            }
        }
    }
}

//Контент вкладок
.tabs-content{
    margin: $global-margin (-$global-padding) 0;
    > .tab-pane{
        display: none;
        &.active{
            display: block;
        }
    }

    .tab-pane{
        padding: 0 $global-padding;
        &.show,
        &.toggling{
            display: block !important;
        }
    }

    .tabs-collapse{
        &-link{
            position: relative;
            display: block;
            margin-top: $global-margin * 2;
            padding: 8px 0 11px;
            color: $grey-darker !important;
            font-family: $font-secondary;
            font-size: $size-md-px;
            font-weight: $weight-medium;
            text-decoration: none;
            @media (min-width: $media-md){
                display: none;
            }
            @include after{
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                border-radius: $radius-sm;
                background: $bg-primary;
            }
            &.active{
                .tabs-collapse-icon{
                    transform: translateY(2px) scaleY(-1);
                }
            }
            .badge{
                margin-left: 8px;
                transform: translateY(-2px);
            }
        }
        &-inner{
            display: flex;
            justify-content: space-between;
            min-width: 100%;
        }
        &-icon{
            color: $grey-darker;
            @include transition(transform);
        }
    }
}