include /components/badge/template.pug

-
    /**
     * @function mixins.components#tabsMenuItem
     * @requires mixins.components#badge
     * @desc Пункт меню вкладок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtype} [config.tag=li]
     * @param {string} [config.id] - .
     * @param {string} [config.addClass] - .
     * @param {string} [config.sprite] - .
     * @param {string} [config.active] - .
     * @param {Bemoptions} [config.badge] - .
     * @param {string} [config.badge.badgeType='pill'] - .
     * @param {boolean} [config.menuOnly] - .
     * @param {boolean} [config.hashAction] - .
     * @param {Function} [config.href=jv] - .
     * @param {Function} [config.hrefFormat=transformUrl] - .
     * @param {Bemoptions} [config.link={}] - .
     * @param {bemattrs} [config.link.attrs={}] - .
     * @param {Bemoptions} [config.icon] - .
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.tabPrefix='tab-'] - .
     * @param {string} [config.tabPanePrefix='tab-pane-'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.itemAdd='nav-item'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.linkAdd='nav-link'] - .
     * @param {bemclasses} [config.class.linkActive='active'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     */
mixin tabsMenuItem(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: li,
            href: jv,
            hrefFormat: transformUrl,
            idPrefix: '',
            tabPrefix: 'tab-',
            tabPanePrefix: 'tab-pane-',
            link: {
                attrs: {}
            },
            class: {
                mixinClass,
                itemAdd: 'nav-item',
                link: 'link',
                linkAdd: 'nav-link',
                linkActive: 'active',
                icon: 'icon'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.itemAdd);

        const hrefText = config.href;
        const href = (_.isString(hrefText) && _.isFunction(config.hrefFormat)) ? config.hrefFormat.call(null, hrefText) : hrefText;
        const tabPaneId = config.tabPanePrefix + config.idPrefix + config.id;

        const linkAddClasses = _.castArray(config.class.linkAdd);
        if (config.active) linkAddClasses.push(config.class.linkActive);
        if (config.addClass) linkAddClasses.push(config.addClass);

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            type: e,
            tag: a,
            modifiers: config.class.link,
            classes: linkAddClasses,
            attrs: {
                href: config.menuOnly ? href : `#${tabPaneId}`,
                id: config.menuOnly ? null : (config.tabPrefix + config.id),
                role: config.menuOnly ? null : 'tab',
                ariaControls: _.ifElse(!config.menuOnly && config.id, tabPaneId),
                ariaExpanded: _.ifElse(!config.menuOnly && config.active, 'true'),
                dataHashAction: config.hashAction ? 'tabs' : null
            }
        });

        config.icon = _.toPlainObject(config.icon);
        _.defaults(config.icon, {
            type: e,
            tag: span,
            modifiers: config.class.icon
        });

        if (config.badge) {
            config.badge = _.toPlainObject(config.badge);
            _.defaults(config.badge, {
                badgeType: 'pill'
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +b(config.link)
            if config.sprite
                +b(config.icon)
                    +sprite(config.sprite)

            if !_.isUndefined(config.content)
                != config.content
            else
                block

            if config.badge
                +badge(config.badge)

-
    /**
     * @function mixins.components#tabsMenu
     * @requires mixins.components#tabsMenuItem
     * @desc Меню вкладок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtype} [config.tag=nav]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {boolean} [config.dataInit] - .
     * @param {boolean} [config.menuOnly] - .
     * @param {string} [config.navType='tabs'] - .
     * @param {number} [config.activeItem=0] - .
     * @param {boolean} [config.hashAction] - .
     * @param {boolean} [config.collapseLink] - .
     * @param {Function} [config.href] - .
     * @param {Function} [config.hrefFormat] - .
     * @param {string} [config.idPrefix] - .
     * @param {string} [config.tabPanePrefix] - .
     * @param {Object} [config.dataCollapseOptions] - .
     * @param {Bemoptions} [config.list] - .
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.tabs='tabs'] - .
     * @param {bemclasses} [config.class.menuAdd=`${config.class.tabs}-${config.class.mixinClass}`] - .
     * @param {bemclasses} [config.class.nav='nav'] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.listAdd=[config.class.nav, `${config.class.nav}-${config.navType}`, config.collapseLink ? config.class.navCollapse : ''] - .
     * @param {bemclasses} [config.class.navCollapse='nav-collapse'] - .
     */
mixin tabsMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'menu';

        _.defaultsDeep(config, {
            type: be,
            tag: nav,
            navType: 'tabs',
            activeItem: 0,
            class: {
                mixinClass,
                tabs: 'tabs',
                list: 'list',
                nav: 'nav',
                navCollapse: 'nav-collapse'
            }
        });

        let listAdd = [];
        if (config.class.listAdd) {
            listAdd = Array.isArray(config.class.listAdd) ? config.class.listAdd : config.class.listAdd.split(' ');
        }
        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            menuAdd: `${config.class.tabs}-${config.class.mixinClass}`,
            listAdd: listAdd.concat([
                config.class.nav,
                `${config.class.nav}-${config.navType}`,
                config.collapseLink ? config.class.navCollapse : ''
            ])
        });

        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.menuAdd);

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            tag: ul,
            modifiers: config.class.list,
            classes: config.class.listAdd,
            attrs: {
                role: config.menuOnly ? null : 'tablist',
                dataTabs: config.dataInit ? '' : null,
                dataTabsCollapse: config.dataCollapseOptions ?
                    JSON.stringify(config.dataCollapseOptions) :
                    _.ifElse(config.dataInit && config.collapseLink, '')
            }
        });

    //-html
    +b(config)&attributes(attributes)
        +b(config.list)
            if items
                each itemConfig, itemIndex in items
                    -
                        const currentItemConfig = _.extend({}, _.cloneDeep(config), itemConfig, {
                            active: itemIndex === config.activeItem
                        });
                        delete currentItemConfig.type;
                        delete currentItemConfig.tag;
                        delete currentItemConfig.modifiers;
                        delete currentItemConfig.classes;
                        delete currentItemConfig.attrs;
                        delete currentItemConfig.class.mixinClass;
                        delete currentItemConfig.class.block;
                    +tabsMenuItem(currentItemConfig)

            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#tabsContent
     * @desc Обёртка контента вкладок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Bemoptions|inner)} [config.inner=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.tabs='tabs'] - .
     * @param {bemclasses} [config.class.contentAdd] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.innerAdd=`${config.class.tabs}-content`] - .
     */
mixin tabsContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'content';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            inner: true,
            class: {
                mixinClass,
                tabs: 'tabs',
                inner: 'inner'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            innerAdd: `${config.class.tabs}-${config.class.mixinClass}`
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.class.contentAdd) addClasses.push(config.class.contentAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.inner) {
            config.inner = _.toPlainObject(config.inner);
            _.defaultsDeep(config.inner, {
                type: e,
                modifiers: config.class.inner,
                classes: config.class.innerAdd
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +#{config.inner ? b : empty}(config.inner)
            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#tabs
     * @requires mixins.components#tabsMenu
     * @requires mixins.components#tabsContent
     * @desc Блок вкладок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.collapseLink] - .
     * @param {boolean} [config.hashAction] - .
     * @param {boolean} [config.menu=true] - .
     * @param {boolean} [config.menuOnly] - .
     * @param {bemtype} [config.menuType] - .
     * @param {string} [config.navType] - .
     * @param {number} [config.activeItem] - .
     * @param {Function} [config.href] - .
     * @param {Function} [config.hrefFormat] - .
     * @param {Object} [config.linkAttributes] - .
     * @param {boolean} [config.tabsContent=true] - .
     * @param {string} [config.tabPrefix] - .
     * @param {string} [config.tabPanePrefix] - .
     * @param {string} [config.idPrefix] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tabs'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.tabsAdd=config.class.mixinClass] - .
     */
mixin tabs(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tabs';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataTabsOptions: config.dataOptions || null
            },
            menu: true,
            tabsContent: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            tabsAdd: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.tabsAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const menuConfig = _.extend({}, _.cloneDeep(config), {
            type: config.menuType
        });
        delete menuConfig.tag;
        delete menuConfig.modifiers;
        delete menuConfig.classes;
        delete menuConfig.attrs;
        delete menuConfig.class.mixinClass;
        delete menuConfig.class.block;

        const contentConfig = _.extend({}, _.cloneDeep(config));
        delete contentConfig.type;
        delete contentConfig.tag;
        delete contentConfig.modifiers;
        delete contentConfig.classes;
        delete contentConfig.attrs;
        delete contentConfig.class.mixinClass;
        delete contentConfig.class.block;

    //-html
    +b(config)&attributes(attributes)
        if config.menu
            +tabsMenu(menuConfig)

        if config.tabsContent && !config.menuOnly
            +tabsContent(contentConfig)
                if !_.isUndefined(config.content)
                    != config.content
                else
                    block

-
    /**
     * @function mixins.components#tabCollapseLink
     * @requires mixins.components#badge
     * @desc Кнопка раскрытия элемента контента табов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.active] - .
     * @param {string} [config.tabPrefix='tab-'] - .
     * @param {string} [config.tabPanePrefix='tab-pane-'] - .
     * @param {string} [config.idPrefix=''] - .
     * @param {Bemoptions} [config.link] - .
     * @param {(Bemoptions|boolean)} [config.inner] - .
     * @param {(Bemoptions|boolean)} [config.text] - .
     * @param {(Bemoptions|boolean)} [config.icon=true] - .
     * @param {Bemoptions} [config.badge] - .
     * @param {(Bemoptions|boolean)} [config.collapseIcon=true] - .
     * @param {Sprite} [config.collapseIcon.sprite] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tabs-collapse'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.innerAddClass=`${config.class.mixinClass}-inner`] - .
     * @param {bemclasses} [config.class.linkActive='active'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.collapseIcon=`${config.class.mixinClass}-icon`] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.textIcon='text'] - .
     * @param {bemclasses} [config.class.arrow='arrow'] - .
     */
mixin tabCollapseLink(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tabs-collapse';

        _.defaultsDeep(config, {
            type: be,
            tabPrefix: 'tab-',
            tabPanePrefix: 'tab-pane-',
            idPrefix: '',
            icon: true,
            collapseIcon: true,
            class: {
                mixinClass,
                link: 'link',
                inner: 'inner',
                linkActive: 'active',
                text: 'text',
                icon: 'icon',
                active: 'active',
                textIcon: 'text',
                arrow: 'arrow'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            innerAddClass: `${config.class.mixinClass}-${config.class.inner}`,
            collapseIcon: `${config.class.mixinClass}-${config.class.icon}`
        });
        setBlockClass(attributes, config.class.block);

        if (config.collapseIcon) {
            config.collapseIcon = _.toPlainObject(config.collapseIcon);
            _.defaultsDeep(config.collapseIcon, {
                sprite: {
                    id: 'arrow',
                    width: 10
                }
            });
        }

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        const linkAddClasses = [`${config.class.mixinClass}-${config.class.link}`];
        if (data.addClass) linkAddClasses.push(data.addClass);
        if (config.active) linkAddClasses.push(config.class.active);

        const tabPaneId = config.data ? (config.tabPanePrefix + config.data.id) : '';

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            classes: linkAddClasses,
            href: `#${tabPaneId}`,
            attrs: {
                ariaControls: tabPaneId,
                ariaExpanded: config.active ? 'true' : 'false'
            }
        });

        if (config.inner) {
            config.inner = _.toPlainObject(config.inner);
            _.defaultsDeep(config.inner, {
                type: e,
                tag: span,
                modifiers: config.class.inner,
                classes: config.class.innerAddClass
            });
        }

        if (config.text) {
            config.text = _.toPlainObject(config.text);
            _.defaultsDeep(config.text, {
                type: e,
                tag: span,
                modifiers: config.class.text
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                modifiers: [config.class.icon, config.class.textIcon]
            });
        }

        if (config.badge) {
            config.badge = _.toPlainObject(config.badge);
            _.defaultsDeep(config.badge, {
                badgeType: 'pill',
                title: removeHtml(data.badge.title),
                content: data.badge.content
            });
        }

        if (config.collapseIcon) {
            config.collapseIcon = _.toPlainObject(config.collapseIcon);
            _.defaultsDeep(config.collapseIcon, {
                type: e,
                tag: span,
                modifiers: [config.class.icon, config.class.arrow],
                classes: config.class.collapseIcon
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.data
            +link(config.link)
                +#{config.inner ? b : empty}(config.inner)
                    +#{config.text ? b : empty}(config.text)
                        if config.icon && data.sprite
                            +b(config.icon)
                                +sprite(data.sprite)

                        != data.content

                        if !_.isUndefined(config.content)
                            != config.content
                        else
                            block

                        if config.badge && data.badge
                            +badge(config.badge)

                    if config.collapseIcon
                        +b(config.collapseIcon)
                            +sprite(config.collapseIcon.sprite)

-
    /**
     * @function mixins.components#tabPane
     * @requires mixins.components#tabCollapseLink
     * @desc Отдельная вкладка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.collapseLink] - .
     * @param {boolean} [config.collapseIcon] - .
     * @param {boolean} [config.active] - .
     * @param {boolean} [config.fade=true] - .
     * @param {string} [config.tabPrefix='tab-'] - .
     * @param {string} [config.tabPanePrefix='tab-pane-'] - .
     * @param {string} [config.idPrefix=''] - .
     * @param {boolean} [config.dataId] - .
     * @param {(Bemoptions|boolean)} [config.inner=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tab-pane'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.tabPaneAdd='tab-pane'] - .
     * @param {bemclasses} [config.class.toggled='toggled'] - .
     * @param {bemclasses} [config.class.fade='fade'] - .
     * @param {bemclasses} [config.class.show='show'] - .
     * @param {bemclasses} [config.class.collapseModifier='collapse'] - .
     * @param {bemclasses} [config.class.tabPaneInner='tab-pane-inner'] - .
     */
mixin tabPane(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tab-pane';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            attrs: {
                role: 'tabpanel'
            },
            fade: true,
            tabPrefix: 'tab-',
            tabPanePrefix: 'tab-pane-',
            idPrefix: '',
            inner: true,
            class: {
                mixinClass,
                tabPaneAdd: mixinClass,
                toggled: 'toggled',
                fade: 'fade',
                show: 'show',
                collapseModifier: 'collapse'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            tabPaneInner: `${mixinClass}-inner`
        });
        setBlockClass(attributes, config.class.block);

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.tabPaneAdd, config.class.toggled);
        if (config.fade) addClasses.push(config.class.fade);
        if (config.active) addClasses.push(config.class.show);
        if (config.collapseLink && config.class.collapseModifier) {
            addClasses.push(config.class.collapseModifier);
        }
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const tabPaneId = config.tabPanePrefix + config.idPrefix + data.id;
        const tabId = config.tabPrefix + config.idPrefix + data.id;
        _.defaults(config.attrs, {
            id: config.dataId ? null : tabPaneId,
            dataToggleId: config.dataId ? tabPaneId : null,
            ariaLabelledby: tabId
        });

        const collapseConfig = _.extend({}, _.cloneDeep(config));
        delete collapseConfig.type;
        delete collapseConfig.tag;
        delete collapseConfig.modifiers;
        delete collapseConfig.classes;
        delete collapseConfig.attrs;
        delete collapseConfig.class.mixinClass;
        delete collapseConfig.class.block;

        if (config.inner) {
            config.inner = _.toPlainObject(config.inner);
            _.defaultsDeep(config.inner, {
                type: e,
                modifiers: config.class.tabPaneInner
            });
        }

    //-html
    if config.collapseLink
        +tabCollapseLink(collapseConfig)

    +b(config)&attributes(attributes)
        +#{config.inner ? b : empty}(config.inner)
            if !_.isUndefined(config.content)
                != config.content
            else
                block