@import 'main';

//Стили для базового контейнера форм
.base-form{
    max-width: col-width-px(4);
    .form{
        position: relative;
    }
}

//Стили для повторяющихся элементов форм
.form{
    &__link{
        @include m(restorepass){
            line-height: $input-check-size;
        }
        @include m(auth){
            line-height: $btn-height;
        }
    }
}