include ./auth/template.pug
include ./auth-register/template.pug
include ./callback/template.pug
include ./changepass/template.pug
include ./register/template.pug
include ./restorepass/template.pug

-
    /**
     * @function mixins.layout#baseForm
     * @desc Контейнер для обычной формы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(boolean|Bemoptions)} [config.form=true] - .
     * @param {boolean} [config.disabled] - .
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='base-form'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     */
mixin baseForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'base-form';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            form: true,
            dataInit: true,
            class: {
                mixinClass,
                disabled: 'disabled'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.disabled) addClasses.push(config.class.disabled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.form) {
            config.form = _.toPlainObject(config.form);
            _.defaultsDeep(config.form, {
                type: b,
                disabled: config.disabled,
                baseForm: config.dataInit,
                baseFormOptions: config.dataOptions
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +#{config.form ? form : empty}(config.form)
            block