@import 'main';

.pretension{
    margin-top: $global-margin * 1.5;
    &__sides{
        display: flex;
        flex-wrap: wrap;
    }
    &__side{
        min-width: 100%;
        @include m(content){
            order: 2;
            @media (min-width: $media-lg){
                order: 0;
                min-width: calc(100% - #{col-width-px(3)});
                max-width: calc(100% - #{col-width-px(3)});
                margin-top: -$global-margin * 2;
            }
        }
        @include m(aside){
            @media (min-width: $media-lg){
                min-width: col-width-px(3);
                max-width: col-width-px(3);
            }
        }
    }

    //Контент
    &__section{
        margin-top: $global-margin * 2;
    }
    &__title{
        font-size: $size-lg;
        font-weight: $weight-bold;
    }
    &__text{
        margin-top: $global-margin * .5;
    }

    &-gallery{
        &__inner{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2px;
        }
        &__item{
            padding: 0 2px;
            &::before{
                display: none;
            }
        }
        &-item{
            &__image{
                margin: 0;
            }
        }
    }

    &__bottom{
        margin-top: $global-margin * 2.5;
        @media (min-width: $media-lg){
            margin-top: $global-margin * 3.5;
        }
    }
    &-bottom{
        &-button{
            &__icon{
                margin-right: 8px;
                transform: rotate(90deg);
            }
        }
    }

    //Сайдбар
    &__aside{
        @include border;
        padding: $global-margin $global-padding 0;
        border-radius: $radius-primary;
        font-size: $size-md-px;
    }
    &-aside{
        &__title{
            margin: 0;
        }
        &__item{
            display: flex;
            margin-top: $global-margin * 1.25;
            color: $text-secondary;
        }
        &-item{
            &__title,
            &__value{
                min-width: col-width(6);
                max-width: col-width(6);
            }
        }
        &__link{
            display: inline-block;
            margin-top: $global-margin * 1.25;
            text-decoration: underline;
            &:hover,
            &:focus{
                text-decoration: none;
            }
        }
        &__bottom{
            display: flex;
            margin: $global-margin * 1.5 (-$global-padding) 0;
            padding: $global-margin $global-padding;
            color: $text-secondary;
            line-height: $line-height-md;
            background: $bg-secondary;
        }
        &-bottom{
            &__title,
            &__value{
                min-width: col-width(6);
                max-width: col-width(6);
            }
            &__value{
                color: palette(primary, light);
            }
        }
    }
}