include /components/gallery/template.pug
include /components/money/template.pug

-
    /**
    * @function mixins.layout#pretensionsDetail
    * @requires mixins.components#gallery
    * @desc Страница претензии.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type]
    * @param {bemtag} [config.tag]
    * @param {(Object|string)} [config.class={}] - Объект с классами или основной класс БЭМ-класс.
    * @param {bemclasses} [config.class.mixinClass='pretension'] - Основной класс миксина.
    * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
    */
mixin pretensionsDetail(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'pretension';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'pretensions',
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                classes: row,
                modifiers: 'sides'
            })
                +e({
                    classes: col,
                    modifiers: ['side', 'content']
                })
                    +e.section
                        +e.title Описание

                        +e.text!= 'В соответствии с условиями заключенного договора (п. 1.1, 4.1, приложение № 1), Поставщик обязан до 30.06.2021 передать Покупателю офисные стулья марки АТЛАНТ в количестве 10 штук. Согласно п. 3.1 договора, Покупателем 16.06.2021 внесена предоплата за данный товар в размере 100%. Обязанность Поставщика до настоящего времени в полном объеме не выполнена: в соответствии с товарной накладной от 27.06.2021 № 11, Покупателю передан товар — стулья марки АТЛАНТ — в количестве семи штук. Просим осуществить допоставку оставшейся части товара в установленный договором срок. - Цитата с сайта ClubTK.ru. Подробнее: <a href="https://clubtk.ru/forms/dokumentooborot/kak-sostavit-reklamatsiyu">https://clubtk.ru/forms/dokumentooborot/kak-sostavit-reklamatsiyu</a>'

                    +e.section
                        +e.title Фотографии

                        -
                            const galleryData = [...Array(5)].map((item, index) => {
                                return {
                                    image: {
                                        external: `https://via.placeholder.com/72x94/.png?text=${encodeURIComponent(`img ${index + 1}`)}`,
                                        alt: `img ${index + 1}`
                                    },
                                    imageLarge: {
                                        external: `https://via.placeholder.com/600x280/.png?text=${encodeURIComponent(`img ${index + 1}`)}`
                                    }
                                };
                            });
                        +gallery({
                            type: be,
                            dataInit: true,
                            slider: false,
                            previews: false,
                            popupGallery: globalConfig.settings.zoomGallery ? null : true,
                            popupZoomGallery: globalConfig.settings.zoomGallery ? true : null,
                            data: galleryData
                        })

                    +be.bottom
                        +button({
                            type: be,
                            tag: a,
                            href: 'pretensions',
                            color: 'primary',
                            outline: true
                        })
                            +e(span).icon
                                +sprite({
                                    id: 'arrow',
                                    width: 10
                                })
                            = 'Все рекламации'

                +e({
                    classes: col,
                    modifiers: ['side', 'aside']
                })
                    +be.aside
                        +e({
                            modifiers: 'title',
                            classes: h2,
                            content: 'Информация о заказе'
                        })
                        +e.items
                            each infoItem in data.detail
                                +be.item
                                    +e.title= infoItem.title
                                    +e.value
                                        if _.isFinite(infoItem.value)
                                            != money.formatPrice(infoItem.value)
                                        else
                                            = infoItem.value

                        +link({
                            href: 'orders-detail',
                            content: 'Подробнее о заказе'
                        })

                        +be.bottom
                            +e.title Статус рекламации
                            +e.value На рассмотрении

            block