@import 'main';

//Кнопка открытия календаря
.datepicker-button{
    width: $input-height;
    height: $input-height;
    padding: 0;
    border: none;
    color: #e2e2e2;
    background: none;
    @include transition(color);
    &:hover{
        color: $input-border-hover;
    }
    &__icon{
        display: block;
        margin-top: -2px;
    }
}