@import 'main';

//Календарь
.pika{
    $root: &;

    &-single{
        z-index: 20;
        border: none;
        color: $text-primary;
        font-family: $font-primary;
        &.is-bound{
            border: none;
            box-shadow: $shadow-lg;
        }
    }
    &-lendar{
        width: 225px;
        margin: 0;
        + #{$root}-lendar{
            margin-left: $global-padding * 3.5;
        }
    }

    //Заголовок и навигация
    &-title{
        height: 33px;
    }
    &-prev,
    &-next{
        width: 33px;
        height: 33px;
        @include border($border-secondary);
        color: $grey-light;
        font-size: 0;
        text-indent: 0;
        background: none;
        opacity: 1;
        @include transition(color border-color);
        .icon{
            display: block;
            pointer-events: none;
        }
        &:hover,
        &:focus{
            border-color: $input-border-hover;
            color: $grey;
        }
    }
    &-prev{
        .icon{
            transform: rotate(90deg);
        }
    }
    &-next{
        .icon{
            transform: rotate(-90deg);
        }
    }
    &-label{
        margin-top: 3px;
        color: $grey-darker;
        font-family: $font-secondary;
        font-size: $size-md-px;
        font-weight: $weight-medium;
        letter-spacing: $letter-spacing-primary;
        text-transform: uppercase;
        select{
            color: $grey-darker;
        }
    }

    //Таблица
    &-table{
        th{
            color: $text-primary;
            font-weight: $weight-normal;
            line-height: 28px;
            text-transform: lowercase;
        }
        td{
            &:not(.is-empty){
                @include border($border-secondary);
            }
        }
        abbr{
            &::after{
                display: none;
            }
        }
    }
    &-button{
        height: 32px;
        border-radius: 0 !important;
        color: $text-primary;
        font-size: $size-sm-px;
        text-align: center;
        background: transparent;
        @include transition(color background);
        &:hover{
            color: $text-primary;
            background: palette(info, bg);
        }
    }
    @at-root .is-today{
        #{$root}{
            &-button{
                color: $grey-darker;
                background: palette(info, bg);
            }
        }
    }
    @at-root .is-selected{
        #{$root}{
            &-button{
                color: $white !important;
                background: $color-primary;
                box-shadow: none;
            }
        }
    }
    @at-root .is-startrange{
        #{$root}{
            &-button{
                color: $white !important;
                background: $color-primary;
            }
        }
    }
    @at-root .is-endrange{
        #{$root}{
            &-button{
                color: $white !important;
                background: $color-primary;
            }
        }
    }
    @at-root .is-inrange{
        #{$root}{
            &-button{
                color: $white !important;
                background: palette(primary, light);
                &:hover,
                &:focus{
                    background: $color-primary;
                }
            }
        }
    }
}