-
    /**
     * @function mixins.components#datepickerButton
     * @desc Кнопка открытия календаря.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=button]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.title=config.localData.datepickerTitle] - .
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Bemoptions|boolean)} [config.input=true] - .
     * @param {Bemoptions} [config.icon={}] - .
     * @param {bemtag} [config.icon.tag=span] - .
     * @param {Sprite} [config.icon.sprite='calendar'] - .
     * @param {bemattrs} [config.icon.attrs] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='datepicker-button'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.datepickerAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @example
     * +datepickerButton({
     *     dataOptions: {mask: false},
     *     content: 'Календарь'
     * })
     */
mixin datepickerButton(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'datepicker-button';

        const modulePath = 'components/datepicker';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: button,
            attrs: {
                dataDatepickerOptions: config.dataOptions || null
            },
            title: config.localData.datepickerTitle,
            dataInit: true,
            input: true,
            icon: {
                sprite: 'calendar'
            },
            class: {
                mixinClass,
                icon: 'icon'
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                type: _.ifElse(config.tag === button, 'button'),
                title: removeHtml(config.title),
                dataDatepicker: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                datepickerAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.datepickerAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.input) {
            config.input = _.toPlainObject(config.input);
            _.defaultsDeep(config.input, {
                type: e,
                tag: input,
                attrs: {
                    type: 'hidden'
                }
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                modifiers: config.class.icon
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.input
            +b(config.input)

        if config.icon
            +b(config.icon)
                if config.icon.sprite
                    +sprite(config.icon.sprite)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#datepickerTranslate
     * @desc Строка с языковым контентом для модуля календаря.
     */
mixin datepickerTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'datepicker', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.datepicker = ${langContent};`