@import 'main';

//Элементы форм
.form-group{
    margin: $form-group-margin 0 0;
}

.form-text{
    display: block;
    margin-top: $label-margin-bottom;
    color: $text-secondary;
    font-size: $input-font-size;
    font-style: italic;
}

//Стили для базовых элементов форм
.form{
    &__message{
        font-size: $size-md-px;
    }
    &__block{
        + .form__block{
            margin-top: $global-margin * 2.5;
        }
    }
    &__legend{
        margin-bottom: -$global-margin * .5;
        color: $grey-darker;
        font-family: $font-secondary;
        font-size: $size-h2;
        font-weight: $weight-medium;
    }
    &__form-group{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__input-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        ~ .form__comment{
            margin-top: 6px;
        }
        .choices{
            min-width: 100%;
        }
    }
    &__link{
        padding: 0;
        border: none;
        color: $color-primary;
        font-size: $size-md;
        text-decoration: underline;
        background: none;
        &:hover,
        &:focus{
            color: palette(primary, light);
            text-decoration: none;
        }
    }
    &__comment{
        color: $color-comment;
        font-size: $size-md;
    }
    &__button{
        width: 100%;
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-xs){
            width: auto;
        }
        @media (min-width: $media-sm){
            margin-top: 0;
        }
        &:first-child:last-child{
            margin-top: 0;
        }
    }
    &__file{
        label.btn{
            margin-bottom: 0;
        }
    }
}