-
    /**
     * @function mixins.components#form
     * @desc Форма.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=form]
     * @param {string} [config.action='#'] - .
     * @param {string} [config.method='post'] - .
     * @param {string} [config.name] - .
     * @param {string} [config.target] - .
     * @param {boolean} [config.autocomplete] - .
     * @param {boolean} [config.novalidate] - .
     * @param {string} [config.enctype] - .
     * @param {boolean} [config.disabled] - .
     * @param {string} [config.idPrefix='form'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {boolean} [config.validate] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.baseForm] - .
     * @param {Object} [config.baseFormOptions] - Опции экземпляра BaseForm, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.formAdd] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @example
     * +form({
     *     method: 'get',
     *     dataOptions: {preventSubmit: false}
     * })
     */
mixin form(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form';

        _.defaultsDeep(config, {
            type: be,
            tag: form,
            attrs: {
                dataForm: config.dataInit ? '' : null,
                dataFormOptions: config.dataOptions || null
            },
            action: '#',
            method: 'post',
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            class: {
                mixinClass,
                disabled: 'disabled'
            }
        });

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix
        });

        _.defaultsDeep(config, {
            attrs: {
                action: config.action,
                method: config.method,
                name: config.name || null,
                target: config.target || null,
                autocomplete: config.autocomplete ? '' : null,
                novalidate: config.novalidate ? '' : null,
                enctype: config.enctype || null,
                id: config.id ? config.id : null,
                dataValidate: config.validate ? '' : null,
                dataBaseForm: config.baseForm ? '' : null,
                dataBaseFormOptions: config.baseFormOptions || null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                formAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.formAdd);
        if (config.disabled) addClasses.push(config.class.disabled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#formGroup
     * @desc Ячейка формы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form-group'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.formGroupAdd=config.class.mixinClass] - .
     * @example
     * include /components/input/template.pug
     *
     * +formGroup
     *     +label({
     *         for: 'test-input',
     *         content: 'Тест'
     *     })
     *     +input({
     *         formControl: true,
     *         id: 'test-input',
     *         name: 'INPUT'
     *     })
     */
mixin formGroup(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form-group';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            formGroupAdd: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.formGroupAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block