@import 'main';

//Бутстраповские элементы навигации
.nav{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
    &-list{
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-item{
        margin-top: 0;
        &::before{
            display: none;
        }
    }
    &-link{
        display: block;
        padding: 10px $global-padding * 1.5 9px;
        color: $text-secondary;
        font-size: $size-md-px;
        text-decoration: none;
        &:hover,
        &:focus{
            text-decoration: underline;
        }
        &.active{
            color: $link-color;
            cursor: default;
            pointer-events: none;
        }
        .badge{
            position: relative;
            top: -1px;
            margin: 0 0 -1px 4px;
        }
    }
}