-
    /**
     * @function mixins.components#nav
     * @desc Навигационное меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=nav]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {Bemoptions} [config.list] - .
     * @param {bemtag} [config.list.tag=ul] - .
     * @param {Bemoptions} [config.item] - .
     * @param {bemtag} [config.item.tag=(config.list.tag === ul) ? li : div] - .
     * @param {string} [config.href=jv] - .
     * @param {Function} [config.hrefFormat=transformUrl] - .
     * @param {(Bemoptions|boolean)} [config.icon=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='nav'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.navAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.nav='nav'] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.listAddClass=`${config.class.nav}-list`] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.itemAddClass=`${config.class.nav}-item`] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.linkAddClass=`${config.class.nav}-link`] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @example
     * +nav({
     *     href: 'text',
     *     data: [
     *         {content: 'О компании', href: 'about', addClass: 'current'},
     *         {content: 'Доставка', href: 'delivery'},
     *         {content: 'Оплата', href: 'payment'},
     *         'Ещё пункт меню'
     *     ]
     * })
     */
mixin nav(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'nav';

        _.defaultsDeep(config, {
            type: be,
            tag: nav,
            list: {
                tag: ul
            },
            href: jv,
            hrefFormat: transformUrl,
            icon: true,
            class: {
                mixinClass,
                nav: 'nav',
                list: 'list',
                item: 'item',
                link: 'link',
                icon: 'icon'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            navAdd: config.class.mixinClass || mixinClass,
            listAddClass: `${config.class.nav}-list`,
            itemAddClass: `${config.class.nav}-item`,
            linkAddClass: `${config.class.nav}-link`
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.navAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            tag: ul,
            classes: config.class.listAddClass,
            modifiers: config.class.list
        });

        config.item = _.toPlainObject(config.item);
        _.defaultsDeep(config.item, {
            type: e,
            tag: _.ifElse(config.list.tag === ul, li, div),
            classes: config.class.itemAddClass,
            modifiers: config.class.item
        });

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            type: e,
            tag: a,
            classes: [config.class.linkAddClass],
            modifiers: config.class.link,
            attrs: {}
        });

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                modifiers: config.class.icon
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +b(config.list)
            each item, index in items
                +b(config.item)
                    -
                        const formattedHref = _.isFunction(config.hrefFormat)
                            ? config.hrefFormat.call(null, item.href || config.href)
                            : (item.href || config.href);
                        const linkConfig = _.defaultsDeep({}, config.link, {
                            classes: config.link.classes.concat([item.addClass || (item.link && item.link.addClass)]),
                            attrs: {
                                href: formattedHref
                            }
                        });
                    +b(linkConfig)
                        if config.icon && item.sprite
                            +b(config.icon)
                                +sprite(item.sprite)

                        != item.content || item

        if !_.isUndefined(config.content)
            != config.content
        else
            block