@import 'main';

$bottom-reset: false;

.top__controls{
    @include m(personal){
        .top-controls{
            &__form{
                @include col-attrs;
            }
            &__items{
                margin-left: -9px;
                margin-right: -9px;
            }
            &__item{
                display: flex;
                flex-wrap: wrap;
                min-width: col-width-px(2);
                padding-left: 9px;
                padding-right: 9px;
                @if map-get($global-settings, ordersControls){
                    .choices{
                        min-width: 100%;
                    }

                    @include m(reset){
                        order: 2;
                        @media (min-width: $media-lg){
                            min-width: $input-height-sm + 9 * 2;
                            max-width: $input-height-sm + 9 * 2;
                        }
                    }
                }
            }
            @if map-get($global-settings, ordersControls){
                &__select{
                    display: none;
                }

                &__date{
                    min-width: 100%;
                    .popover{
                        max-width: none;
                        @media (min-width: $media-lg){
                            padding: $global-margin * 3 $global-padding * 4.5 $global-margin * 2;
                        }
                        &-arrow{
                            display: none;
                        }
                        .top-controls-date__popover{
                            display: block;
                        }
                        .pika-single{
                            white-space: nowrap;
                        }
                        .pika-lendar{
                            display: inline-block;
                            float: none;
                        }
                    }
                }
                &-date{
                    &__inputs-group{
                        display: flex;
                        padding: 0 8px;
                        @include border($input-border);
                        border-radius: $radius-primary;
                        background: $white;
                        @include transition(border-color);
                        @media (min-width: $media-xxl){
                            padding: 0 2px;
                        }
                        &:hover,
                        &.active{
                            border-color: $input-border-hover;
                        }
                    }
                    &__input-group{
                        display: flex;
                        flex: 1 0 50%;
                        align-items: center;
                        @include m(to){
                            .top-controls-date__label{
                                margin-top: 1px;
                                line-height: normal;
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    &__input{
                        height: $input-height-sm - 2;
                        margin: -1px 0;
                        padding: 0;
                        border: none;
                        color: $text-primary;
                        font-size: $size-sl-px;
                        background: none !important;
                        outline: none !important;
                        box-shadow: none !important;
                        @media (min-width: $media-lg){
                            width: 66px;
                        }
                    }
                    &__label{
                        height: 32px;
                        margin: -2px 0 0;
                        padding: 0 10px;
                        color: $grey-light;
                        line-height: 32px;
                    }
                    &__bottom{
                        display: flex;
                        margin-top: $global-margin * .5;
                        color: $color-primary;
                        font-size: $size-sm-px;
                        @media (min-width: $media-lg){
                            margin-top: $global-margin * .25;
                        }
                    }
                    &__link{
                        padding: 0;
                        border: none;
                        color: $color-primary;
                        background: none;
                        &:hover{
                            color: palette(primary, light);
                            text-decoration: underline;
                        }
                    }
                    &__delimiter{
                        margin: 0 8px;
                    }
                    &__popover{
                        display: none;
                    }
                    &-popover{
                        &__bottom{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: $global-margin * 1.5;
                        }
                        &__clear{
                            padding: 0;
                            border: none;
                            color: $text-secondary;
                            font-size: $size-sm-px;
                            line-height: 25px;
                            background: none;
                            @include transition(color);
                            &:hover,
                            &:focus{
                                color: $grey-light;
                                text-decoration: underline;
                            }
                            svg{
                                position: relative;
                                top: -2px;
                                margin-right: 6px;
                            }
                        }
                        &__submit{
                            min-height: 25px;
                            padding: 0 $global-padding * 1.5;
                            font-size: $size-sm-px;
                            line-height: 25px;
                        }
                    }
                }

                &__search{
                    min-width: 100%;
                }
                &-search{
                    &__input-group{
                        border-radius: $radius-primary;
                        background: $white;
                    }
                    &__input{
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        font-size: $size-sl-px !important;
                    }
                    &__button{
                        @include m(submit){
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: $input-height;
                            padding: 0 !important;
                            @include border($input-border, $input-border-width);
                            border-top-right-radius: $radius-primary;
                            border-bottom-right-radius: $radius-primary;
                            color: $grey-dark;
                            background: transparent;
                            @include transition(background);
                            &:hover,
                            &:focus{
                                background: $bg-primary;
                            }
                            @media (min-width: $media-md){
                                width: $input-height-sm;
                            }
                            svg{
                                width: 12px !important;
                            }
                        }
                    }
                }

                @if $bottom-reset{
                    &__reset{
                        display: flex;
                        justify-content: flex-end;
                        margin-top: $global-margin * .5;
                        font-size: $size-sm-px;
                        @media (min-width: $media-lg){
                            margin-top: $global-margin * .25;
                        }
                    }
                    &-reset{
                        &__button{
                            padding: 0;
                            border: none;
                            color: palette(danger, color);
                            background: none;
                            outline: none !important;
                            &:hover,
                            &:focus{
                                color: $color-danger;
                                text-decoration: underline;
                            }
                        }
                    }
                } @else{
                    &__reset{
                        @media (min-width: $media-lg){
                            min-width: $input-height-sm;
                            max-width: $input-height-sm;
                            margin: 0;
                        }
                        + .top-controls__search{
                            padding-right: 9px;
                            @media (min-width: $media-lg){
                                min-width: calc(100% - #{$input-height-sm});
                                max-width: calc(100% - #{$input-height-sm});
                            }
                        }
                    }
                    &-reset{
                        &__button{
                            display: flex;
                            align-items: center;
                            padding: 0;
                            border: none;
                            color: $text-secondary;
                            background: none;
                            @include transition(background opacity);
                            @media (min-width: $media-lg){
                                width: 100%;
                                height: $input-height-sm;
                                @include border($input-border, $input-border-width);
                                border-radius: $radius-primary;
                            }
                            &:hover,
                            &:focus{
                                opacity: .65;
                                @media (min-width: $media-lg){
                                    background: $bg-primary;
                                    opacity: 1;
                                }
                            }
                        }
                        &__close{
                            width: 16px;
                            opacity: 1 !important;
                            @media (min-width: $media-lg){
                                width: 100%;
                                height: 100%;
                                color: $grey-dark;
                            }
                            &::before,
                            &::after{
                                @media (min-width: $media-lg){
                                    width: 14px;
                                }
                            }
                        }
                        &__text{
                            margin-left: 8px;
                            @media (min-width: $media-lg){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}