include /components/close/template.pug
include /components/select/template.pug

include /layout/top-controls/template.pug

-
    /**
     * @function mixins.layout#personalControls
     * @requires mixins.components#select
     * @requires mixins.layout#topControls
     * @desc Блок верхних элементов управления страницы личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {Object} [config.controls=[]] - .
     * @param {(boolean|Object)} [config.orders=true] - .
     * @param {(boolean|Object)} [config.date=true] - .
     * @param {(boolean|Object)} [config.managers=true] - .
     * @param {(boolean|Object)} [config.search=true] - .
     * @param {(boolean|Object)} [config.reset=true] - .
     * @param {boolean} [config.reset.bottom] - .
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {bemclasses} [config.class.personalModifier='personal'] - .
     */
mixin personalControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'personal';

        _.defaultsDeep(config, {
            data: 'managers',
            controls: [],
            orders: true,
            date: true,
            managers: true,
            search: true,
            reset: true,
            class: {
                personalModifier: mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }
        items.unshift({
            selected: true,
            content: 'Выберите менеджера'
        });

        if (config.class.personalModifier) {
            setBlockClass(attributes, config.class.personalModifier);
        }

        const ordersControls = [
            'Заказы и резервы',
            'Заказы',
            'Резервы'
        ];

    //-html
    +topControls(config)&attributes(attributes)
        +form({
            type: e,
            class: ''
        })
            +e({
                modifiers: 'items',
                classes: row
            })
                if globalConfig.settings.ordersControls
                    each item in config.controls
                        //-Поле выбора типа заказов
                        if (item === 'orders') && config.orders
                            +e({
                                tag: fieldset,
                                modifiers: ['item', 'orders'],
                                classes: col
                            })
                                -
                                    const ordersControlsData = ordersControls.map((item, index) => {
                                        return {
                                            value: index + 1,
                                            content: item,
                                            selected: index === 0
                                        };
                                    });
                                +select({
                                    id: 'personal-controls-orders',
                                    name: 'ORDERS',
                                    data: ordersControlsData
                                })

                        //-Поле выбора даты
                        else if (item === 'date') && config.date
                            +e({
                                tag: fieldset,
                                modifiers: ['item', 'date'],
                                classes: col
                            })
                                +be.date
                                    +e.inputs-group
                                        +e({modifiers: ['input-group', 'from']})
                                            input(type='hidden', name='DATE')

                                            +label({
                                                for: 'personal-date-from',
                                                title: 'От'
                                            })
                                                +sprite#calendar
                                            +input({
                                                size: 'sm',
                                                formControl: true,
                                                id: 'personal-date-from',
                                                name: 'DATE_FROM'
                                            })

                                        +e({modifiers: ['input-group', 'to']})
                                            input(type='hidden')

                                            +label({
                                                for: 'personal-date-to',
                                                title: 'До'
                                            })
                                                +sprite#arrow-line-thin
                                            +input({
                                                size: 'sm',
                                                formControl: true,
                                                id: 'personal-date-to',
                                                name: 'DATE_TO'
                                            })

                                    +e.bottom
                                        +button({
                                            modifiers: 'current-month',
                                            class: 'link',
                                            content: 'Текущий месяц'
                                        })
                                        +e({
                                            modifiers: 'delimiter',
                                            content: '|'
                                        })
                                        +button({
                                            modifiers: 'previous-month',
                                            class: 'link',
                                            content: 'Прошлый месяц'
                                        })

                                    +be.popover
                                        +e.calendars

                                        +e.bottom
                                            +button({class: 'clear'})
                                                +sprite#trash
                                                | Очистить

                                            +button({
                                                buttonType: 'submit',
                                                color: 'primary',
                                                size: 'sm',
                                                class: 'submit',
                                                content: 'Применить'
                                            })

                        //-Поле выбора менеджера
                        else if (item === 'managers') && config.managers
                            +e({
                                tag: fieldset,
                                modifiers: ['item', 'managers'],
                                classes: col
                            })
                                -
                                    const managersData = items.map((item, index) => {
                                        if (index === 0) {
                                            return item;
                                        }

                                        return {
                                            value: index + 1,
                                            content: item.name
                                        };
                                    });
                                +select({
                                    id: 'personal-controls-managers',
                                    name: 'MANAGERS',
                                    data: managersData
                                })

                        //-Поле поиска
                        else if (item === 'search') && config.search
                            +e({
                                tag: fieldset,
                                modifiers: ['item', 'search'],
                                classes: col
                            })
                                +be.search
                                    +e.form-group
                                        +label({
                                            for: 'personal-search',
                                            srOnly: true,
                                            content: 'Поиск по номеру заказа'
                                        })
                                        +e({
                                            modifiers: 'input-group',
                                            classes: ['input-group', 'input-group-sm']
                                        })
                                            +input({
                                                formControl: true,
                                                inputType: 'search',
                                                id: 'personal-search',
                                                name: 'SEARCH',
                                                placeholder: 'Введите номер заказа'
                                            })
                                            .input-group-append
                                                +button({
                                                    buttonType: 'submit',
                                                    modifiers: 'submit',
                                                    title: 'Искать'
                                                })
                                                    +sprite#magnifier

                                if config.reset && config.reset.bottom
                                    +be.reset
                                        +button({
                                            tag: a,
                                            href: page.name,
                                            buttonType: 'reset',
                                            content: 'Сбросить'
                                        })

                        else if (item === 'reset') && config.reset && !config.reset.bottom
                            +e({
                                tag: fieldset,
                                modifiers: ['item', 'reset'],
                                classes: col
                            })
                                +be.reset
                                    +button({
                                        tag: a,
                                        href: page.name,
                                        buttonType: 'reset',
                                        title: 'Сбросить'
                                    })
                                        +close
                                        +e(span).text Сбросить

                block