@import 'main';

.top__controls{
    @include m(offers){
        @media (min-width: $media-sm){
            min-width: 100%;
            margin-top: $global-margin;
        }
        @media (min-width: $media-md){
            min-width: 0;
            margin-top: 0;
        }

        .top-controls{
            &__item{
                @media (min-width: $media-sm){
                    max-width: col-width-px(2.5);
                }
            }
            &-date{
                &__bottom{
                    @media (min-width: $media-lg){
                        display: none;
                    }
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .offers{
        margin-top: $global-margin * 1.5;
    }
}

.offers{
    margin-left: -$container-padding + $global-padding;
    margin-right: -$container-padding + $global-padding;
    @media (min-width: $media-md){
        margin-left: 0;
        margin-right: 0;
    }

    &__item{
        min-width: 100%;
        margin-top: $global-margin * .75;
        @media (min-width: $media-md){
            padding: 0 $global-gutter;
        }
    }
    &-item{
        &__inner{
            padding: $global-margin ($container-padding - $global-padding);
            background: $bg-primary;
            @media (min-width: $media-md){
                padding: $global-margin * 2 $global-padding * 3;
                border-radius: $radius-primary;
            }
            @media (min-width: $media-lg){
                flex-wrap: nowrap;
                align-items: center;
            }
        }
        &__item{
            @media (min-width: $media-lg){
                min-width: 0 !important;
            }
            @include m(info){
                min-width: 100%;
            }
            @include m(price, actions){
                @media (min-width: $media-lg){
                    margin-top: 0;
                }
            }
            @include m(price){
                min-width: col-width(6);
                max-width: col-width(6);
                margin-top: $global-margin;
                @media (min-width: $media-lg){
                    max-width: col-width(4);
                }
            }
            @if map-get($global-settings, manager){
                @include m(manager){
                    display: flex;
                    min-width: col-width(6);
                    max-width: col-width(6);
                    margin-top: $global-margin;
                    @media (min-width: $media-lg){
                        max-width: 35px + 30 + $global-padding;
                        margin-top: 0;
                    }
                }
            }
            @include m(actions){
                margin-top: $global-margin * 1.25;
                @media (min-width: $media-lg){
                    max-width: 40px + 40 + $global-padding;
                    text-align: right;
                }
            }
        }
        &__title{
            color: $grey-darker;
            font-family: $font-secondary;
            font-weight: $weight-medium;
            text-decoration: none;
        }
        &__date{
            margin-top: 5px;
            font-size: $size-sm-px;
        }
        &__price{
            font-size: $size-md-px;
            white-space: nowrap;
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }

        &__actions{
            @media (min-width: $media-lg){
                @include border-left;
            }
        }
        &-actions{
            &__button{
                width: $btn-height;
                height: $btn-height;
                padding: 0;
                overflow: hidden;
                border: none;
                color: $grey;
                background: none;
                @include transition(color);
                &:hover,
                &:focus,
                &.active{
                    color: $color-primary;
                }
            }
            &__dots{
                display: flex;
                justify-content: space-between;
                width: 28px;
                margin: -18px auto 0;
                font-size: rem-px(36px);
                line-height: $btn-height;
                &::before,
                &::after{
                    content: '.';
                }
            }
            &__popover{
                display: none;
            }
            &__items{
                padding: $global-margin * .5 $global-padding;
            }
            &__item{
                &:not(:first-child){
                    @include border-top(rgba($white, .1));
                }
                &:not(:last-child){
                    @include border-bottom(rgba($black, .1));
                }
            }
            &__link{
                display: block;
                padding: 7px 10px;
                color: $white;
                font-size: $size-sm-px;
                font-weight: $weight-semibold;
                text-decoration: none !important;
                &:focus,
                &:hover{
                    color: rgba($white, .7);
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, light);
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 9px;
                text-decoration: none !important;
            }
            @at-root .popover{
                @include m(offers-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: palette(primary, light);
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .offers-item-actions__popover{
                        display: block;
                    }
                }
            }
        }
    }
}