include /components/money/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#offersControls
     * @requires mixins.layout#personalControls
     * @desc Блок элементов управления на странице списка КП.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {number} [config.current=0] - .
     * @param {Array.<string>} [config.controls=['date']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.offersModifier='offer-new'] - .
     */
mixin offersControls(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'offers';

        _.defaultsDeep(config, {
            current: 0,
            controls: ['date'],
            class: {
                offersModifier: mixinClass
            }
        });

        const statuses = [
            'Активные',
            'Архив'
        ];

        if (config.class.offersModifier) {
            setBlockClass(attributes, config.class.offersModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +e({
            modifiers: ['item', 'buttons'],
            classes: col
        })
            +e({
                modifiers: 'buttons',
                classes: 'input-group'
            })
                each item, index in statuses
                    div(class=((index === config.current) ? 'input-group-prepend' : 'input-group-append'))
                        +button({
                            tag: a,
                            color: 'secondary',
                            outline: true,
                            size: 'sm',
                            classes: (index === config.current) ? 'active' : '',
                            href: page.name,
                            content: item
                        })

-
    /**
     * @function mixins.layout#offers
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Список КП в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='offers'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='offers'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin offers(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'offers';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'offers',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const actions = config.data.actions;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'items',
                classes: row
            })
                each item, index in items
                    +be({
                        modifiers: 'item',
                        classes: col
                    })
                        +e({
                            modifiers: 'inner',
                            classes: row
                        })
                            +e({
                                modifiers: ['item', 'info'],
                                classes: col
                            })
                                +e.info
                                    +link({
                                        href: 'offer-edit',
                                        class: 'title',
                                        content: item.title
                                    })
                                    +e({
                                        modifiers: 'date',
                                        content: item.date
                                    })

                            +e({
                                modifiers: ['item', 'price'],
                                classes: col
                            })
                                +e.price
                                    != `Сумма: ${money.formatPrice(item.sum)}<br>Прибыль: ${money.formatPrice(item.profit)}`

                            if globalConfig.settings.manager
                                +e({
                                    modifiers: ['item', 'manager'],
                                    classes: col
                                })
                                    +avatar({dataIndex: (index === 1) ? 2 : 0})

                            +e({
                                modifiers: ['item', 'actions'],
                                classes: col
                            })
                                +be.actions
                                    +button({title: 'Показать действия'})
                                        +e({
                                            tag: span,
                                            modifiers: 'dots',
                                            content: '.'
                                        })

                                    +e.popover
                                        +e.items
                                            each action in actions
                                                +e.item
                                                    +link({
                                                        href: 'offer-edit',
                                                        modifiers: action.class
                                                    })
                                                        +e({
                                                            tag: span,
                                                            modifiers: 'icon'
                                                        })
                                                            +sprite(action.sprite)
                                                        +e({
                                                            tag: span,
                                                            modifiers: 'text',
                                                            content: action.content
                                                        })

            block