-
    const page = {
        title: 'Страница не найдена'
    };
include /base/templates/main.pug

include /layout/errorpage/template.pug

+html({pageClass: 'error'})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +mainContentCol
                            +errorpage

            +contentBottom
        +foot