@import 'main';

.main-content-inner__col > .order{
    @include m(steps){
        margin-top: $global-margin * .5;
        @media (min-width: $media-md){
            margin-top: $global-margin * 2;
        }
    }
}
.sidebar{
    + .col{
        .order{
            @include m(steps){
                .order-form__submit{
                    flex-wrap: wrap;
                }
                .order-form-submit{
                    &__form-check{
                        margin-top: $global-margin;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.order{
    @include m(steps){
        min-width: 100%;
        @media (min-width: $media-md){
            margin-top: $global-margin * .5;
        }

        .order{
            &__inner{
                @media (min-width: $media-md){
                    @include border($grey-lightest, 3px);
                    border-radius: $radius-primary;
                }
            }

            //Шаги
            &__steps{
                display: none;
                min-width: 100%;
                margin-top: -3px;
                border-top-left-radius: $radius-primary;
                border-top-right-radius: $radius-primary;
                @media (min-width: $media-md){
                    display: block;
                }
            }
            &-steps{
                &__inner{
                    display: flex;
                    margin: 0 -3px;
                    overflow: hidden;
                    background: $white;
                }
                &__step{
                    position: relative;
                    flex: 1 0 col-width(4);
                    text-align: center;
                    &:not(:last-child){
                        .order-steps__link{
                            @include before-after{
                                top: 50%;
                                z-index: 1;
                                width: 80px;
                                height: 80px;
                                transform: translateY(-50%) rotate(45deg) skew(7.5deg, 7.5deg);
                                @include transition(background);
                            }
                        }
                    }
                    &.active{
                        .order-steps__link{
                            color: $white;
                            background: $color-primary;
                            pointer-events: none;
                            &::before{
                                background: $color-primary;
                            }
                        }
                    }
                }
                &__link{
                    display: block;
                    padding: 16px $global-padding * 2;
                    border-top-left-radius: $radius-primary;
                    border-top-right-radius: $radius-primary;
                    color: $text-primary;
                    text-decoration: none !important;
                    background: $bg-primary;
                    @at-root .order.-steps{
                        a.order-steps__link{
                            &:hover,
                            &:focus{
                                color: $white;
                                background: $color-primary;
                                &::before{
                                    background: $color-primary;
                                }
                            }
                        }
                    }
                    &::before{
                        right: -15px;
                        z-index: 1;
                        @include border-top($white, 9px);
                        @include border-right($white, 9px);
                        background: $bg-primary;
                        @include transition(background);
                    }
                    &::after{
                        right: -16px;
                        @include border-top($white, 9px);
                        @include border-right($white, 9px);
                    }
                }
            }

            //Форма
            &-form{
                &__inner{
                    @media (min-width: $media-md){
                        padding: 0 $global-padding;
                    }
                }
                &__group{
                    min-width: 100%;
                    @media (min-width: $media-md){
                        padding-top: $global-margin * 1.5;
                        padding-bottom: $global-margin * 3.5;
                    }
                    @media (min-width: $media-lg){
                        min-width: col-width(6);
                    }
                    &:not(:first-child){
                        @include before{
                            @media (min-width: $media-md){
                                top: 0;
                                left: -1px;
                                height: 100%;
                                @include border-left($grey-lightest, 1px);
                            }
                        }
                    }
                }
                &__block{
                    margin-top: $global-margin * 1.5;
                    @media (min-width: $media-md){
                        margin-top: $global-margin * 3;
                        padding: 0 $global-padding * 4;
                    }
                    @include m(payment){
                        .order-form__title{
                            justify-content: center;
                        }
                    }
                    @include m(comment){
                        textarea.order-form__input{
                            height: $input-height;
                            min-height: $input-height;
                        }
                    }
                    @include m(address){
                        margin-top: $global-margin * 2;
                    }
                }

                //Заголовок блока
                &__title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: $global-margin;
                    @media (min-width: $media-md){
                        margin-bottom: $global-margin * 2;
                    }
                }
                &-title{
                    &__text{
                        margin: 0;
                        font-size: px-rem(24);
                        font-weight: $weight-semibold;
                        &:not(:last-child){
                            margin-right: $global-padding * 1.5;
                        }
                    }
                    &__check{
                        margin-top: 8px;
                    }
                    &-form-check{
                        &__link{
                            padding-bottom: 4px;
                            &.link-dashed{
                                @media (max-width: $media-xs-max){
                                    &::after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &__form-groups{
                    + .order-form__form-groups{
                        margin-top: $global-margin;
                    }
                    @include m(table){
                        margin: 0 (-$container-padding);
                        @include border($color-primary, $border-width-secondary);
                        @media (min-width: $media-sm){
                            margin: 0;
                            border-radius: $radius-primary;
                        }
                        .order-form{
                            &__form-group{
                                margin-top: 0;
                                &:not(:first-child){
                                    @include border-top($grey-lightest);
                                }
                            }
                        }
                    }
                    @include m(images){
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -4px;
                        .order-form{
                            &__form-group{
                                flex: 1 0 col-width(6);
                                max-width: col-width-px(1.25);
                                margin-top: $global-margin * 2;
                                padding: 0 4px;
                                @media (min-width: $media-xs){
                                    flex: 1 0 col-width(4);
                                }
                                @media (min-width: $media-sm){
                                    flex: 1 0 col-width(3);
                                }
                                @at-root .browser-ie{
                                    .order-form__form-groups.-images .order-form__form-group{
                                        @media (min-width: $media-sm){
                                            max-width: col-width(3);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @include m(buttons){
                        display: flex;
                        flex-wrap: nowrap;
                        margin-top: -$global-margin * .25;
                        .order-form{
                            &__form-group{
                                flex: 1 0 col-width(6);
                                margin-top: 0;
                                &:first-child{
                                    .order-form-check__button{
                                        border-top-right-radius: 0;
                                        border-bottom-right-radius: 0;
                                    }
                                }
                                &:last-child{
                                    .order-form-check__button{
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }
                                }
                                &:not(:first-child){
                                    margin-left: -$btn-border-width;
                                }
                            }
                        }
                    }
                    @include m(comment){
                        &.float-label{
                            &:not(.is-valid):not(.is-invalid){
                                &.active{
                                    label{
                                        top: -18px;
                                    }
                                }
                            }
                        }
                    }
                }
                &__form-group{
                    margin-top: $global-margin * 2;
                    &:first-child{
                        margin-top: 0;
                    }
                    @include m(address-date){
                        margin-top: $global-margin * .5;
                    }
                    @include m(comment){
                        &.active{
                            .order-form__label{
                                top: -20px;
                            }
                        }
                    }
                }
                &-toggle{
                    &__button{
                        padding: 0;
                        border: none;
                        @include border-bottom(currentColor, $border-width-primary, dashed);
                        color: $color-primary;
                        font-size: $size-sm-px;
                        text-decoration: none !important;
                        background: none;
                        @include transition(border-color);
                        &:hover,
                        &:focus{
                            border-bottom-color: transparent;
                        }
                    }
                    &__content{
                        .order-form{
                            &__form-group{
                                margin-top: $global-margin;
                            }
                            &__button{
                                margin-top: 0;
                            }
                        }
                    }
                }

                //Оплата
                &__payment-total{
                    padding-top: $global-margin * .25;
                    text-align: center;
                }
                &-payment-total{
                    &__image{
                        margin: 0 auto $global-margin * .75;
                    }
                    &__price{
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: px-rem(24);
                        font-weight: $weight-medium;
                        letter-spacing: $letter-spacing-sm;
                        a[href^='tel:']{
                            color: inherit;
                            pointer-events: none;
                        }
                    }
                    &__bottom{
                        margin-top: -2px;
                        color: $color-comment;
                        font-size: $size-md-px;
                    }
                }

                //Блок отправки
                &__submit{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    @media (min-width: $media-md) and (max-width: $media-lg-max), (min-width: $media-xl){
                        flex-wrap: nowrap;
                    }
                }
                &-submit{
                    &__button{
                        width: 100%;
                        padding-top: 0;
                        padding-bottom: 0;
                        font-size: $size-md-px;
                    }
                    &__form-check{
                        min-width: col-width(6);
                        margin-top: $global-margin * 1.5;
                        @media (min-width: $media-md) and (max-width: $media-lg-max), (min-width: $media-xl){
                            margin-top: 0;
                            margin-left: $global-gutter;
                        }
                    }
                    @at-root .sidebar + .col{
                        .order-form{
                            &__submit{
                                flex-wrap: wrap;
                            }
                            &-submit{
                                &__form-check{
                                    min-width: 100%;
                                    margin: $global-margin * 1.25 0 0 0;
                                }
                            }
                        }
                    }
                }
            }

            //Блоки с чекбоксами
            &__form-check{
                @include m(cell){
                    .order-form-check{
                        &__input{
                            &:checked{
                                ~ .order-form-check__content{
                                    color: $white;
                                    background: $color-primary;
                                    &::before{
                                        background: $white;
                                    }
                                }
                            }
                        }
                        &__content{
                            padding: 12px $global-padding 12px 28px + $global-padding;
                            @include transition(background color);
                            &::before{
                                top: 12px;
                                left: $global-padding;
                            }
                            &::after{
                                top: 12px + 5;
                                left: $global-padding + 5;
                                border-color: $color-primary;
                            }
                        }
                        &__wrapper{
                            display: flex;
                        }
                        &__title{
                            min-width: col-width(8.5);
                            max-width: col-width(8.5);
                            padding-right: $global-padding;
                        }
                        &__info{
                            min-width: col-width(3.5);
                            max-width: col-width(3.5);
                        }
                        &__price{
                            display: block;
                        }
                        &__comment{
                            font-size: $size-sm-px;
                        }
                    }
                }
                @include m(image){
                    .order-form-check{
                        &__input{
                            &:checked{
                                ~ .order-form-check__content{
                                    border-color: $color-primary;
                                }
                            }
                        }
                        &__content{
                            padding: $global-margin * .75 $global-padding * .5 $global-margin * 1.5;
                            @include border($grey-lightest, $border-width-secondary);
                            border-radius: $radius-primary;
                            text-align: center;
                            @include transition(border-color);
                            &:hover{
                                border-color: $color-primary;
                            }
                            &::before{
                                top: auto;
                                left: 50%;
                                bottom: -$input-check-size * .5;
                                margin-left: -$input-check-size * .5;
                                background: $white;
                            }
                            &::after{
                                top: auto;
                                left: 50%;
                                bottom: -3px;
                                margin-left: (-6px * .5);
                            }
                        }
                        &__image{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 45px;
                            + .order-form-check__info{
                                margin-top: $global-margin * .75;
                            }
                        }
                        &-image{
                            &__image{
                                margin: 0;
                            }
                        }
                        &__info{
                            display: block;
                        }
                        &__price{
                            font-size: $size-primary;
                        }
                    }
                }

                @include m(button){
                    .order-form-check{
                        &__input{
                            &:checked{
                                ~ .order-form-check__content{
                                    .order-form-check__button{
                                        color: $grey-dark !important;
                                        background: $btn-secondary-bg;
                                        box-shadow: none !important;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                        &__content{
                            padding: 0;
                            text-align: center;
                            &::before,
                            &::after{
                                display: none;
                            }
                        }
                        &__button{
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            font-size: $size-md-px;
                            line-height: $btn-height;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }
}