include /components/check/template.pug
include /components/collapse/template.pug
include /components/float-label/template.pug
include /components/money/template.pug
include /components/select/template.pug

include /layout/agreement-link/template.pug
include /layout/cart/template.pug

include ./order-steps-finish/template.pug

-
    /**
     * @function mixins.layout#orderStepsWrapper
     * @desc Обёртка страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemmodifiers} [config.modifiers='steps'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='order'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'order';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            modifiers: 'steps',
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +mainContentCol
        +preload('order')

        +b(config)&attributes(attributes)
            +e.inner
                +e({
                    classes: row,
                    modifiers: 'row'
                })
                    block

-
    /**
     * @function mixins.layout#orderStepsForm
     * @desc Форма страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderStepsForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass)

    //-html
    +b(config)&attributes(attributes)
        +form({
            type: e,
            class: ''
        })
            +e({
                classes: row,
                modifiers: 'inner'
            })
                block

-
    /**
     * @function mixins.layout#orderStepsFormGroup
     * @desc Элемент формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='group'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderStepsFormGroup(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'group';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#orderStepsSteps
     * @desc Навигация по шагам страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='order'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='steps'] - .
     * @param {number} [config.current=1] - .
     * @param {boolean} [config.inactive] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='steps'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderStepsSteps(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'steps';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            current: 1,
            data: 'order-steps',
            itemsProp: 'steps',
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            each item, index in items
                +e({
                    classes: _.ifElse(index === config.current, 'active'),
                    modifiers: 'step'
                })
                    +link({
                        tag: (config.inactive || (index >= config.current)) ? span : a,
                        content: item.content,
                        href: item.href
                    })

        block

-
    /**
     * @function mixins.layout#orderStepsBlock
     * @desc Секция формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=fieldset]
     * @param {string} [config.labelledby] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='block'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'block';

        _.defaultsDeep(config, {
            type: e,
            tag: fieldset,
            attrs: {},
            class: {
                mixinClass
            }
        });

        _.defaults(config.attrs, {
            ariaLabelledby: config.labelledby
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#orderStepsBlockTitle
     * @desc Заголовок секции формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.id] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='title'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsBlockTitle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'title';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: div,
            modifiers: 'text',
            content: config.content,
            attrs: {
                id: config.id
            }
        })

        block

-
    /**
     * @function mixins.layout#orderStepsProfileBlock
     * @desc Обёртка выбора профиля страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title='Мои данные'] - .
     * @param {string} [config.labelledby='order-profile-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.profileModifier='profile'] - .
     */
mixin orderStepsProfileBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'profile';

        _.defaultsDeep(config, {
            title: 'Мои данные',
            labelledby: 'order-profile-title',
            class: {
                profileModifier: mixinClass
            }
        });

        if (config.class.profileModifier) {
            setBlockClass(attributes, config.class.profileModifier);
        }

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        if config.title
            +orderStepsBlockTitle({
                id: config.labelledby,
                content: config.title
            })

        +e.form-groups
            block

-
    /**
     * @function mixins.layout#orderStepsProfileType
     * @requires mixins.components#radio
     * @desc Выбор типа профиля страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=fieldset] - .
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.labelledby='order-profile-type-title'] - .
     * @param {string} [config.title='Тип плательщика'] - .
     */
mixin orderStepsProfileType(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            tag: fieldset,
            labelledby: 'order-profile-type-title',
            title: 'Тип плательщика'
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        } else {
            items = [
                'Физическое лицо',
                'Юридическое лицо'
            ];
        }

    //-html
    +formGroup(config)&attributes(attributes)
        if config.title
            +orderStepsBlockTitle({
                id: config.labelledby,
                title: removeHtml(config.title)
            })

        +e.input-container
            +r('order')
                each item, index in items
                    +radio({
                        content: item,
                        id: `order-profile-type-${index + 1}`,
                        name: 'PROFILE_TYPE',
                        checked: (index === 0)
                    })

        block

-
    /**
     * @function mixins.layout#orderStepsProfile
     * @requires mixins.components#select
     * @desc Выбор профиля страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=fieldset]
     * @param {Data} [config.data='order'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.sectionWrapper] - .
     * @param {boolean} [config.newProfileOption] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form-group'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass='form-group'] - Дополнительные классы.
     * @param {bemclasses} [config.class.profileModifier='profile'] - .
     */
mixin orderStepsProfile(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form-group';

        _.defaultsDeep(config, {
            type: e,
            tag: fieldset,
            data: 'order-steps',
            class: {
                mixinClass,
                addClass: 'form-group',
                profileModifier: 'profile'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.profileModifier) {
            blockClasses.push(config.class.profileModifier);
        }
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        let profilesData = [];
        if (data) {
            profilesData = data.profiles.map((item, index) => {
                return {
                    value: index + 1,
                    content: item
                };
            });
        }
        if (config.newProfileOption) {
            profilesData.unshift({content: 'Новый профиль'});
        }

    //-html
    +#{config.sectionWrapper ? b : empty}(config)&attributes(attributes)
        if config.sectionWrapper
            +e({
                tag: legend,
                modifiers: 'label',
                content: 'Профиль покупателя'
            })

        if data
            +floatLabel.profile
                +label({
                    for: 'order-profiles',
                    content: 'Юр. лицо'
                })

                +e.input-container
                    +select({
                        id: 'order-profiles',
                        name: 'PROFILES',
                        data: profilesData
                    })

        block

-
    /**
     * @function mixins.layout#orderStepsCustomer
     * @desc Контактные данные пользователя на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title='Контактные данные'] - .
     * @param {boolean} [config.required=true] - .
     * @param {string} [config.labelledby='order-customer-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.profileModifier='customer'] - .
     */
mixin orderStepsCustomer(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'customer';

        _.defaultsDeep(config, {
            title: 'Контактные данные',
            required: true,
            labelledby: 'order-customer-title',
            class: {
                customerModifier: mixinClass
            }
        });

        if (config.class.customerModifier) {
            setBlockClass(attributes, config.class.customerModifier);
        }

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        if config.title
            +orderStepsBlockTitle({
                id: config.labelledby,
                content: config.title
            })

        +e.form-groups
            +formGroup
                +label({
                    for: 'order-profile-fio',
                    required: config.required,
                    content: 'ФИО'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-profile-fio',
                        name: 'FIO',
                        validate: 'required, fio'
                    })

            +formGroup
                +label({
                    for: 'order-profile-email',
                    required: config.required,
                    content: 'Email'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-profile-email',
                        name: 'EMAIL',
                        validate: 'required, email'
                    })

            +formGroup
                +label({
                    for: 'order-profile-phone',
                    required: true,
                    content: 'Телефон'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        inputType: 'tel',
                        id: 'order-profile-phone',
                        name: 'PHONE',
                        validate: 'required, tel'
                    })

        block

-
    /**
     * @function mixins.layout#orderStepsDelivery
     * @requires mixins.components#checkbox
     * @requires mixins.components#floatLabel
     * @requires mixins.components#money
     * @requires mixins.components#radio
     * @requires mixins.components#select
     * @desc Выбор способа доставки на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='delivery-types'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.labelledby='order-delivery-title'] - .
     * @param {string} [config.title='Доставка'] - .
     * @param {boolean} [config.select] - .
     * @param {boolean} [config.table=true] - .
     * @param {boolean} [config.images] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.deliveryModifier='delivery'] - .
     * @param {bemclasses} [config.class.root='order'] - .
     */
mixin orderStepsDelivery(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'delivery';

        _.defaultsDeep(config, {
            data: 'delivery-types',
            labelledby: 'order-delivery-title',
            title: 'Доставка',
            table: true,
            class: {
                deliveryModifier: mixinClass,
                root: 'order'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.items.forEach(item2 => {
                item2.image = setImageProps(config.dataPath, item2.image, item2.title);
            });
        });

        if (config.class.deliveryModifier) {
            setBlockClass(attributes, config.class.deliveryModifier);
        }

        const deliveryData = items.map((item, index) => {
            return {
                value: index + 1,
                content: item.name
            };
        });
        deliveryData.push({
            value: items.length + 1,
            content: 'Самовывоз (бесплатно)'
        });

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        if config.title
            +orderStepsBlockTitle({
                id: config.labelledby,
                content: config.title
            })
                +e.check
                    +checkbox({id: 'delivery-later'})
                        +link({
                            tag: span,
                            dashed: true,
                            modifiers: 'popover',
                            title: 'Выбрать доставку позже',
                            content: 'Выбрать доставку позже'
                        })

        if config.select
            +e.form-groups
                +floatLabel
                    +label({
                        for: 'order-delivery-type',
                        content: 'Способ доставки'
                    })

                    +e.input-container
                        +select({
                            id: 'order-delivery-type',
                            name: 'DELIVERY_TYPE',
                            data: deliveryData
                        })

        if config.table
            +e.form-groups.table
                if items.length > 0
                    each item, index in items[0].items
                        +formGroup
                            +r(config.class.root)
                                +radio({
                                    modifiers: 'cell',
                                    id: `order-delivery-${index + 1}`,
                                    name: 'DELIVERY',
                                    checked: index === 0
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'wrapper'
                                    })
                                        +e({
                                            tag: span,
                                            modifiers: 'title',
                                            content: `(ТК) ${item.title}`
                                        })

                                        if item.price || item.time || item.comment
                                            +e({
                                                tag: span,
                                                modifiers: 'info'
                                            })
                                                if item.price
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'price',
                                                        content: Number.isNaN(Number.parseInt(item.price, 10))
                                                            ? item.price
                                                            : money.formatPrice(item.price)
                                                    })

                                                if item.time
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'delivery',
                                                        content: item.time
                                                    })

                                                if item.comment
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'comment',
                                                        content: item.comment
                                                    })

        if config.images
            +e.form-groups.images
                if items.length > 0
                    each item, index in items[0].items
                        +formGroup
                            +r('order')
                                +radio({
                                    modifiers: 'image',
                                    id: `order-delivery-${index + 1}`,
                                    name: 'DELIVERY',
                                    checked: index === 0
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'wrapper'
                                    })
                                        if item.image
                                            +be({
                                                tag: span,
                                                modifiers: 'image'
                                            })
                                                +image({
                                                    src: item.image.src,
                                                    alt: item.image.alt,
                                                    title: removeHtml(item.title)
                                                })

                                        +e({
                                            tag: span,
                                            modifiers: 'info'
                                        })
                                            if !item.image
                                                +e({
                                                    tag: span,
                                                    modifiers: 'title',
                                                    content: item.title
                                                })

                                            if item.time || item.price
                                                if item.time
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'delivery',
                                                        content: `${item.time}, `
                                                    })

                                                if item.price
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'price',
                                                        content: money.formatPrice(item.price)
                                                    })

        block

-
    /**
     * @function mixins.layout#orderStepsAddress
     * @requires mixins.components#collapse
     * @requires mixins.components#floatLabel
     * @requires mixins.components#select
     * @desc Выбор адреса на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='order'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='address'] - Основной класс миксина.
     * @param {bemclasses} [config.class.addressModifier='address'] - .
     */
mixin orderStepsAddress(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'address';

        _.defaultsDeep(config, {
            data: 'order-steps',
            class: {
                addressModifier: mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        if (config.class.addressModifier) {
            setBlockClass(attributes, config.class.addressModifier);
        }

        let addressData = [];
        if (data.address) {
            addressData = data.address.map((item, index) => {
                return {
                    value: index + 1,
                    content: item
                };
            });
        }
        addressData.unshift({content: 'Адрес доставки'});

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        +e({
            tag: legend,
            classes: srOnly,
            modifiers: 'title',
            content: 'Адрес'
        })

        +e.form-groups
            +floatLabel
                +label({
                    for: 'order-city',
                    content: 'Город'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-city',
                        name: 'CITY',
                        validate: 'required'
                    })

            +floatLabel
                +label({
                    for: 'order-address',
                    content: 'Адрес доставки'
                })

                +e.input-container
                    +select({
                        id: 'order-address',
                        name: 'ADDRESS',
                        data: addressData
                    })

            +formGroup.address-date
                +collapse({
                    id: 'order-address-new',
                    button: {
                        content: 'Указать новый адрес'
                    }
                })
                    +r('order-form')
                        +floatLabel
                            +label({
                                for: 'order-address-new-input',
                                content: 'Новый адрес доставки'
                            })

                            +e.input-container
                                +input({
                                    id: 'order-address-new-input',
                                    name: 'NEW_ADDRESS',
                                    formControl: true
                                })

                        +formGroup.small
                            +e.input-container
                                +button({
                                    content: 'Добавить адрес',
                                    color: 'primary',
                                    size: 'sm'
                                })

        block

-
    /**
     * @function mixins.layout#orderStepsPayment
     * @requires mixins.components#radio
     * @desc Выбор способа оплаты на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='order'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.labelledby='order-payment-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.paymentModifier='payment'] - .
     */
mixin orderStepsPayment(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'payment';

        _.defaultsDeep(config, {
            data: 'order-steps',
            labelledby: 'order-payment-title',
            title: 'Оплата',
            class: {
                paymentModifier: mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        if (config.class.paymentModifier) {
            setBlockClass(attributes, config.class.paymentModifier);
        }

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        if config.title
            +orderStepsBlockTitle({
                id: config.labelledby,
                content: config.title
            })

        +e.form-groups.buttons
            each item, index in data.payment
                +formGroup
                    +r('order')
                        +radio({
                            modifiers: 'button',
                            id: `order-payment-${index + 1}`,
                            name: 'PAYMENT',
                            checked: index === 0
                        })
                            +button({
                                tag: span,
                                content: item,
                                color: 'secondary',
                                outline: true
                            })

        block

-
    /**
     * @function mixins.layout#orderStepsComment
     * @requires mixins.components#floatLabel
     * @desc Добавление комментария на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.commentModifier='comment'] - .
     */
mixin orderStepsComment(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'comment';

        _.defaultsDeep(config, {
            class: {
                commentModifier: mixinClass
            }
        });

        if (config.class.commentModifier) {
            setBlockClass(attributes, config.class.commentModifier);
        }

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        +e({
            tag: legend,
            classes: srOnly,
            modifiers: 'title',
            content: 'Комментарий к заказу'
        })

        +e.form-groups
            +floatLabel.comment
                +label({
                    for: 'order-profile-comment',
                    content: 'Комментарий к заказу'
                })

                +e.input-container
                    +input({
                        tag: textarea,
                        modifiers: 'comment',
                        formControl: true,
                        id: 'order-profile-comment',
                        name: 'COMMENT'
                    })

        block

-
    /**
     * @function mixins.layout#orderStepsBottom
     * @desc Нижняя часть страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderStepsBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#orderStepsCart
     * @requires mixins.layout#cartTable
     * @desc Корзина на странице заказа.
     */
mixin orderStepsCart(config)
    -
        config = _.toPlainObject(config);

    //-html
    +r('order')
        +cartTable(config)&attributes(attributes)
            block

-
    /**
     * @function mixins.layout#orderStepsCoupon
     * @requires mixins.layout#cartCoupon
     * @desc Добавление/изменение купона страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {bemclasses} [config.class.addClass=''] - Дополнительные классы.
     */
mixin orderStepsCoupon(config)
    -
        if (!globalConfig.settings.coupons) return;

        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            class: {
                addClass: ''
            }
        });

    //-html
    +r('order')
        +cartCoupon(config)&attributes(attributes)
            block

-
    /**
     * @function mixins.layout#orderStepsTotal
     * @requires mixins.components#money
     * @requires mixins.layout#cartTotal
     * @desc Блок "итого" страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data={}] - .
     * @param {number} [config.data.total=148000] - .
     * @param {Image} [config.data.image='media/payment-total.svg'] - .
     * @param {string} [config.data.bottom='89 товаров (2,61 кг)'] - .
     * @param {string} [config.dataPath='Data/order-steps'] - .
     * @param {boolean} [config.cartTotal] - .
     */
mixin orderStepsTotal(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            data: {
                total: 148000,
                image: 'media/payment-total.svg',
                bottom: '89 товаров (2,61 кг)'
            },
            dataPath: 'Data/order-steps'
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        const totalImage = setImageProps(config.dataPath, data.image);

    //-html
    if config.cartTotal
        +r('order')
            +cartTotal(config)&attributes(attributes)
                block

    else
        +orderStepsBlock(config)&attributes(attributes)
            +be.payment-total
                +image({
                    src: totalImage.src,
                    alt: totalImage.alt
                })

                +e.info
                    if data
                        +e.price!= money.formatPrice(data.total)

                    +e.bottom!= data.bottom

            block

-
    /**
     * @function mixins.layout#orderStepsBottomActions
     * @requires mixins.components#checkbox
     * @requires mixins.layout#agreementLink
     * @desc Нижняя часть блока действий страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='actions'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsBottomActions(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'actions';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +formGroup
            +agreementLink({id: 'order-agreement'})

        +formGroup
            +checkbox({
                id: 'order-subscribe',
                name: 'SUBSCRIBE',
                content: 'Подписаться на новости'
            })

        block

-
    /**
     * @function mixins.layout#orderStepsSubmit
     * @requires mixins.layout#agreementLink
     * @desc Блок кнопки отправки формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin orderStepsSubmit(config)
    -
        config = _.toPlainObject(config);

    //-html
    +orderStepsBlock(config)&attributes(attributes)
        +be.submit
            +button({
                color: 'primary',
                size: 'lg',
                buttonType: 'submit',
                content: 'Оформить заказ'
            })

            +agreementLink({id: 'order-agremeent'})

            block

-
    /**
     * @function mixins.layout#orderSteps
     * @requires mixins.layout#orderStepsWrapper
     * @requires mixins.layout#orderStepsForm
     * @requires mixins.layout#orderStepsProfile
     * @requires mixins.layout#orderStepsDelivery
     * @requires mixins.layout#orderStepsPayment
     * @requires mixins.layout#orderStepsBottom
     * @requires mixins.layout#orderStepsAside
     * @desc Страница заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.steps] - .
     * @param {Bemoptions} [config.form] - .
     * @param {Bemoptions} [config.formGroup] - .
     * @param {Bemoptions} [config.profileBlock] - .
     * @param {Bemoptions} [config.profile] - .
     * @param {Bemoptions} [config.delivery] - .
     * @param {Bemoptions} [config.payment] - .
     * @param {Bemoptions} [config.total] - .
     * @param {Bemoptions} [config.comment] - .
     * @param {Bemoptions} [config.submit] - .
     */
mixin orderSteps(config)
    -
        config = _.toPlainObject(config);

    //-html
    +orderStepsWrapper(config.wrapper)
        +orderStepsSteps(config.steps)

        +orderStepsForm(config.form)
            +orderStepsFormGroup(config.formGroup)
                +orderStepsProfileBlock(config.profileBlock)
                    //-TODO:use orderStepsProfileType
                    //-+orderStepsProfileType

                    +orderStepsProfile(config.profile)

                +orderStepsDelivery(config.delivery)

                +orderStepsAddress(config.address)

                //-TODO:use orderStepsCustomer
                //-+orderStepsCustomer

            +orderStepsFormGroup(config.formGroup)
                +orderStepsPayment(config.payment)

                +orderStepsTotal(config.total)

                +orderStepsComment(config.comment)

                //-TODO:use orderStepsBottom
                //-+orderStepsBottom
                    +orderStepsCart

                    +orderStepsCoupon

                    +orderStepsBottomActions

                +orderStepsSubmit(config.submit)

        block