@import 'main';

$button-item-width: 118px + $global-gutter;

.main-content-inner__col > .personal{
    .legals{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.legals{
    &__table{
        @include border-top($border-secondary);
    }
    &-table{
        &__row{
            padding: $global-margin * 1.75 0;
            @include border-bottom($border-secondary);
            @media (min-width: $media-md){
                padding: $global-margin * 2.5 0;
            }
            @media (min-width: $media-lg){
                padding: $global-margin * 3 0;
            }
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
        &__top{
            @include row;
        }
        &__item{
            @include col;
            @include col-attrs;
            min-width: 100%;
            font-size: $size-md-px;
            @media (min-width: $media-md){
                width: auto;
                min-width: calc(#{col-width(6)} - #{$button-item-width * .5});
                max-width: calc(#{col-width(6)} - #{$button-item-width * .5});
                margin-top: 0 !important;
            }
            @include m(name){
                color: $header-primary;
                font-family: $font-secondary;
                font-size: $size-ml-px;
                font-weight: $weight-medium;
            }
            @include m(info){
                margin-top: $global-margin * .75;
                a{
                    color: $text-primary;
                }
            }
            @include m(button){
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-top: $global-margin * .75;
                @media (min-width: $media-md){
                    min-width: $button-item-width;
                    max-width: $button-item-width;
                }
            }
        }
        &__edit{
            position: relative;
            display: inline-block;
            margin-left: 6px;
            transform: translateY(-2px);
            @include before{
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                transform: translate(-50%, -50%);
            }
        }
        &__button{
            display: inline-block;
            font-size: $size-sm-px;
            &.active{
                .legals-table-button__text{
                    @include m(default){
                        display: none;
                    }
                    @include m(active){
                        display: block;
                    }
                }
            }
        }
        &-button{
            &__text{
                display: block;
                @include m(active){
                    display: none;
                }
            }
        }
        &__link{
            @include m(delete){
                display: flex;
                align-items: center;
                justify-content: center;
                width: $btn-height;
                height: $btn-height;
                margin-top: -8px;
                color: palette(danger, color);
                &:hover,
                &:focus{
                    color: $color-danger;
                }
            }
        }
        &-bottom{
            &__inner{
                padding-top: $global-margin * 1.5;
                font-size: $size-md-px;
                @media (min-width: $media-md){
                    padding-right: 118px + $global-gutter;
                    column-count: 2;
                    column-gap: $global-gutter;
                }
                p{
                    display: inline-block;
                    width: 100%;
                    margin-top: 0;
                    padding-top: $global-margin * .5;
                }
            }
        }
    }

    &__bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-md){
            flex-wrap: nowrap;
            margin-top: $global-margin * 3;
        }
        .pagination{
            @media (min-width: $media-md){
                margin-top: -$global-margin * 1.5;
            }
        }
    }
    &-bottom{
        &__info{
            display: flex;
            align-items: center;
            min-width: 100%;
            padding-right: $global-gutter;
            font-size: $size-md-px;
            @media (min-width: $media-md){
                min-width: auto;
            }
        }
        &__icon{
            position: relative;
            top: -1px;
            margin-right: 10px;
            color: palette(danger, color);
        }
        &__button{
            margin-top: $global-margin;
            @media (min-width: $media-md){
                margin-top: 0;
                margin-left: auto;
            }
        }
    }
}