-
    /**
     * @function mixins.layout#legalsTable
     * @requires mixins.components#collapseContent
     * @desc Таблица страницы компаний личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='legals'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin legalsTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'legals',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            each item, index in items
                +e.row
                    +e.top
                        +e({
                            modifiers: ['item', 'name']
                        })
                            = item.name
                            +link({
                                href: 'legals-add',
                                title: 'Редактировать юр. лицо',
                                class: 'edit'
                            })
                                +sprite#edit
                        +e({
                            modifiers: ['item', 'info'],
                            content: item.info
                        })

                        +e({modifiers: ['item', 'button']})
                            if index === 2
                                +link({
                                    modifiers: 'delete',
                                    title: 'Удалить'
                                })
                                    +sprite#trash
                            else
                                +button({
                                    type: be,
                                    tag: a,
                                    dashed: true,
                                    href: `#legals-collapse${index + 1}`
                                })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'default'],
                                        content: 'Все реквизиты'
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'active'],
                                        content: 'Свернуть'
                                    })

                    if index !== 2
                        +collapseContent({
                            type: be,
                            id: `legals-collapse${index + 1}`,
                            class: 'bottom'
                        })
                            +e.inner
                                each textItem in item.items
                                    p!= textItem

        block

-
    /**
     * @function mixins.layout#legalsBottom
     * @desc Нижняя часть страницы компаний личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.legalsAdd=true] - .
     * @param {boolean} [config.managerCallback] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin legalsBottom(config)
    -
        if (!globalConfig.settings.manager) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            legalsAdd: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if config.legalsAdd
            +button({
                tag: a,
                href: 'legals-add',
                color: 'primary',
                content: 'Добавить юр. лицо'
            })

        else if config.managerCallback
            +e.info
                +e.icon
                    +sprite({
                        id: 'info-circle',
                        width: 20
                    })
                +e.text Для изменения реквизитов отправьте запрос вашему персональному менеджеру

            +button({
                tag: a,
                href: '#manager-callback',
                color: 'primary',
                content: 'Написать менеджеру',
                attrs: {
                    dataPopup: ''
                }
            })

            +popup({id: 'manager-callback'})
                +popupHeader({
                    idPrefix: 'manager-callback',
                    content: 'Сообщение менеджеру'
                })

                +popupContent
                    +form({type: b})
                        +formGroup
                            +label({
                                for: 'manager-callback-message',
                                content: 'Сообщение',
                                required: true
                            })
                            +e.input-container
                                +input({
                                    tag: textarea,
                                    formControl: true,
                                    id: 'manager-callback-message',
                                    name: 'MESSAGE',
                                    validate: 'required'
                                })

                        +formGroup
                            +label({
                                for: 'manager-callback-file',
                                content: 'Файл'
                            })
                            +fileInput({
                                id: 'manager-callback-file',
                                classes: 'input-group',
                                dataInit: true,
                                label: false,
                                class: {
                                    listAdd: 'file-list form-control'
                                }
                            })
                                .input-group-append
                                    +button({
                                        tag: 'label',
                                        color: 'primary',
                                        attrs: {
                                            for: 'manager-callback-file'
                                        },
                                        content: 'Файл'
                                    })

                        +formGroup
                            +button({
                                buttonType: 'submit',
                                color: 'primary',
                                modifiers: 'submit',
                                content: 'Отправить'
                            })

        block

-
    /**
     * @function mixins.layout#legals
     * @requires mixins.layout#legalsTable
     * @requires mixins.layout#legalsBottom
     * @desc Таблица страницы компаний личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='legals'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin legals(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'legals';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +legalsTable

            +legalsBottom

            block