@import 'main';

$filter-h-padding: 18px;

.sidebar{
    &-sections{
        &__container{
            padding: $global-margin * .5 0;
            @include border-top;
            @include m(level1){
                padding: 0;
                border: none;
            }
        }

        &__list{
            margin: 0;
            padding: 0;
        }

        &__item{
            margin: 0;
            &::before{
                display: none;
            }
            @include m(level1){
                margin: 0 0 (-$border-width-primary);
                @include border;
                &:first-child{
                    border-top-left-radius: $radius-primary;
                    border-top-right-radius: $radius-primary;
                }
                &:last-child{
                    border-bottom-left-radius: $radius-primary;
                    border-bottom-right-radius: $radius-primary;
                }
            }
        }

        &__link{
            position: relative;
            display: block;
            padding: 7px $filter-h-padding 7px $filter-h-padding * 2;
            font-size: $size-xs;
            text-transform: uppercase;
            text-decoration: none;
            @include m(current){
                color: $color-primary;
                font-weight: $weight-bold;
            }
            @include m(level1){
                padding: 9px $filter-h-padding;
            }
            @include m(has-items){
                padding-right: $filter-h-padding + 10 + 12;
            }
            &.active{
                color: $color-primary;
                .sidebar-sections__icon{
                    margin-top: -7px;
                    transform: scaleY(-1);
                }
            }
            &:hover,
            &.active{
                .sidebar-sections__icon{
                    color: $color-primary;
                }
            }
        }

        &__icon{
            position: absolute;
            top: 50%;
            right: $filter-h-padding;
            margin-top: -9px;
            color: $grey-midlighter;
            @include transition(color);
        }
    }
}