//-TODO:fix current active section

include /components/menu/template.pug

-
    /**
     * @function mixins.layout#sidebarSections
     * @requires mixins.components#menu
     * @desc Меню категорий каталога в сайдбаре.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.menu={}] - .
     * @param {number} [config.current=0] - .
     * @param {Data} [config.data='catalog-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sections'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin sidebarSections(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sections';

        _.defaultsDeep(config, {
            data: 'catalog-menu',
            current: 0,
            menu: {
                modifiers: 'sections',
                attrs: {
                    ariaLabelledby: 'sidebar-sections-title'
                },
                current: true,
                hasItems: {
                    sprite: {
                        id: 'arrow',
                        width: 10
                    }
                },
                href: page.name,
                0: {
                    collapse: true
                }
            },
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        //Установка текущей открытой секции каталога
        items[config.current].collapseActive = true;

        config.menu.data = config.data;
        config.menu.dataPath = config.dataPath;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +menu(config.menu)&attributes(attributes)
        +e({
            modifiers: 'header',
            classes: srOnly,
            attrs: {
                id: 'sidebar-sections-title'
            },
            content: 'Разделы каталога'
        })

        block