-
    const page = {
        title: 'О компании'
    };
include /base/templates/main.pug

include /layout/about/template.pug
include /layout/breadcrumbs/template.pug

-
    page.mainMenu = {};
    getData(page.mainMenu, 'main-menu');

    page.mainMenu.data.items.find(item => {
        if (item.content !== 'О компании') {
            return false;
        }

        item.link = {
            addClass: 'active'
        };
        return true;
    });

+html
    +head

    +body
        +pageWrapper
            +contentTop({
                header: {
                    mainMenu: {
                        menu: {
                            data: page.mainMenu.data
                        }
                    }
                }
            })

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top

                        +textContainer
                            +aboutPage({data: page.mainMenu.data})

            +contentBottom
        +foot