@import 'main';

.index-about{
    min-width: 100%;
    padding-top: $global-margin * 2;
    &__title{
        margin-top: 0;
    }
    &__content{
        flex-basis: 100%;
    }
    &__text{
        @media (min-width: $media-sm){
            column-count: 2;
            column-gap: $global-padding * 2;
        }
        > *:first-child{
            margin-top: 0;
        }
    }
}