-
    /**
     * @function mixins.layout#indexAbout
     * @desc Информация о компании на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [tag=section]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='index-about'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin indexAbout(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'index-about';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'row',
            classes: row
        })
            +e({
                tag: header,
                modifiers: 'header',
                classes: col
            })
                +e({
                    tag: h2,
                    modifiers: 'title',
                    content: 'О компании'
                })

            +e({
                modifiers: 'content',
                classes: col
            })
                +e.text
                    p Не будем лукавить мы открыли наш магазин буквально в этом году. Нам очень хотелось кушать натуральную и здоровую еду и эффективно её готовить без потерь каждого грамма пользы, заложенной самой природой в каждую крупицу продуктов.
                    p Мы нашли несколько чудесных фермерских хозяйств и несколько предприятий производящих бытовую кухонную технику и заключили контракты на поставки.
                    p Так родился наш интернет-магазин на котором Вы можете купить самые свежие продукты, а заодно и все мыслимые и не мыслимые приборы для их приготовления — всё самое лучшее специально отобранное для Вас. Если наш магазин окажется достаточно востребованным, мы обязательно договоримся с нашими поставщиками о снижении цен, так что всё в Ваших руках ;) Крепкого Вам здоровья и приятного аппетита!

                    block