@import 'main';

.subscribe{
    position: relative;
    padding: $global-margin * 4 0;
    overflow: hidden;
    color: $white;
    background: $color-primary;
    &__title{
        font-size: $size-lg;
        font-weight: $weight-bold;
        text-transform: uppercase;
        @media (min-width: $media-sm){
            font-size: $size-h1;
        }
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: col-width-px(9);
        margin-top: $global-margin;
    }

    &__text{
        flex: 1 0 100%;
        font-size: $size-sm;
        font-weight: $weight-bold;
        line-height: 28px;
        letter-spacing: $letter-spacing-sm;
        text-transform: uppercase;
        @media (min-width: $media-sm){
            max-width: calc(100% - 136px);
            padding-right: $global-padding * 2;
            font-size: $size-md;
        }
    }

    &__input{
        width: 135px;
        height: 28px;
        margin-right: 4px;
        padding: 0 8px;
        border: none;
        @include border-bottom($white);
        color: $white;
        font-size: $size-md;
        font-weight: $weight-bold;
        background: none;
        outline: none;
        @include transition(border-color);
        @media (min-width: $media-sm){
            width: 150px;
            margin: 0 8px;
        }
        @include placeholder{
            color: rgba($white, .5);
            text-transform: uppercase;
        }
        &.error{
            border-bottom-color: $input-error-border;
        }
    }

    &__button-container{
        flex: 1 0 100%;
        text-align: center;
        @media (min-width: $media-sm){
            max-width: 136px;
        }
    }
    &__button{
        width: 100%;
        max-width: col-width-px(2);
        color: palette(primary, light) !important;
        @media (min-width: $media-sm){
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}