-
    /**
     * @function mixins.layout#subscribeSection
     * @desc Секция подписки на новости.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=section]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='subscribe'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin subscribeSection(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'subscribe';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        div(class=container)
            div(class=row)
                +e({
                    tag: header,
                    classes: [col, srOnly],
                    modifiers: 'header'
                })
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Подписка на новости'
                    })

                +e({
                    classes: col,
                    modifiers: 'content'
                })
                    +e.title Не теряйте свои деньги,#[br]будьте в курсе скидок, акций и новинок

                    +form({type: e})
                        +e.inner
                            +e.text Оставьте свой #[label(for='subscribe-input') Email] #[+e(input).input(type='text', id='subscribe-input', placeholder='Email', data-validate='email')] и не&nbsp;пропускайте лучшие предложения&nbsp;;)

                        +e.button-container
                            +button({
                                color: 'white',
                                size: lg,
                                buttonType: 'submit',
                                content: 'Отправить'
                            })

                block