-
    const page = {
        title: 'Главная'
    };
include /base/templates/main.pug

include /layout/index-page/template.pug

+html({
    contentPreloader: true,
    pageClass: 'index'
})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent({
                        container: false,
                        row: false
                    })
                        +callMixin('index')

            +contentBottom
        +foot