@import 'main';

.catalog__sections{
    @if map-get($global-settings, catalogSectionsTiles){
        @include m(tiles){
            margin-top: $global-margin * 2;
            .catalog-sections{
                &__container{
                    @include m(level2){
                        display: none;
                    }
                }
                &__list{
                    display: flex;
                    flex-wrap: wrap;
                }
                &__item{
                    min-width: 100%;
                    margin-top: -$border-width-primary;
                    @media (min-width: $media-iphone4-height){
                        min-width: col-width(6);
                        max-width: col-width(6);
                    }
                    @media (min-width: $media-sm){
                        min-width: col-width(4);
                        max-width: col-width(4);
                        margin-left: -$border-width-primary;
                    }
                    @media (min-width: $media-lg){
                        min-width: col-width(3);
                        max-width: col-width(3);
                        margin-left: -$border-width-primary;
                    }
                    @media (min-width: $media-xl){
                        min-width: col-width(1, 5);
                        max-width: col-width(1, 5);
                        margin-left: -$border-width-primary;
                    }
                    &:nth-child(even){
                        @media (min-width: $media-iphone4-height){
                            margin-left: -$border-width-primary;
                        }
                    }
                    &:nth-child(3n + 1){
                        @media (min-width: $media-sm){
                            margin-left: 0;
                        }
                        @media (min-width: $media-lg){
                            margin-left: -$border-width-primary;
                        }
                    }
                    &:nth-child(4n + 1){
                        @media (min-width: $media-lg){
                            margin-left: 0;
                        }
                        @media (min-width: $media-xl){
                            margin-left: -$border-width-primary;
                        }
                    }
                    &:nth-child(5n + 1){
                        @media (min-width: $media-xl){
                            margin-left: 0;
                        }
                    }
                }
                &__link{
                    display: block;
                    min-height: 100%;
                    padding: $global-margin * 1.25 $global-padding * 1.5;
                    @include border($border-secondary);
                    color: $grey-darker;
                    font-size: $size-primary-px;
                    font-weight: $weight-bold;
                    line-height: $line-height-md;
                    text-align: center;
                    text-decoration: none;
                    @include transition(color box-shadow);
                    &:hover,
                    &:focus{
                        color: $color-primary;
                        box-shadow: $shadow-md;
                    }
                }
                &__title{
                    span{
                        color: $text-primary;
                        font-size: $size-sl-px;
                    }
                }
                &__image{
                    display: block;
                    margin-bottom: $global-margin;
                }
                &-image{
                    &__image{
                        max-width: 150px;
                        max-height: 150px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    @if map-get($global-settings, catalogSectionsList){
        @include m(list){
            .catalog-sections{
                &__list{
                    @include m(level1){
                        @media (min-width: $media-md){
                            column-count: 2;
                            column-gap: $global-gutter;
                        }
                        @media (min-width: $media-lg){
                            column-count: 3;
                        }
                    }
                    @include m(level2){
                        margin-top: $global-margin;
                    }
                }
                &__item{
                    @include m(level1){
                        display: inline-block;
                        width: 100%;
                        margin-top: $global-margin * 2;
                    }
                }

                &__image{
                    display: block;
                    margin-bottom: $global-margin;
                }
                &-image{
                    &__image{
                        max-width: 84px;
                        max-height: 84px;
                        margin: 0;
                    }
                }

                &__link{
                    line-height: $line-height-md;
                    text-decoration: none;
                    @include m(level1){
                        color: $header-primary;
                        font-size: $size-lg;
                        font-weight: $weight-bold;
                        .catalog-sections__title{
                            span{
                                color: $text-secondary;
                                font-size: $size-md-px;
                            }
                        }
                    }
                    @include m(level2){
                        color: $text-primary;
                        font-size: $size-md-px;
                        .catalog-sections__title{
                            span{
                                color: $text-secondary;
                                font-size: $size-sm-px;
                            }
                        }
                    }
                    &:hover,
                    &:focus{
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }
                &__title{
                    span{
                        margin-left: 1px;
                        letter-spacing: $letter-spacing-md;
                    }
                }
            }
        }
    }

    @if map-get($global-settings, catalogSectionsPills){
        @include m(pills){
            margin-top: $global-margin * 2;
            .catalog-sections{
                &__list{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -4px;
                    @media (min-width: $media-sm){
                        margin: 0 -12px;
                    }
                }
                &__item{
                    min-width: 100%;
                    max-width: 100%;
                    margin: 0;
                    padding: 4px;
                    @media (min-width: $media-iphone4-height){
                        min-width: col-width(6);
                        max-width: col-width(6);
                    }
                    @media (min-width: $media-sm){
                        padding: 12px;
                    }
                    @media (min-width: $media-lg){
                        min-width: col-width(4);
                        max-width: col-width(4);
                    }
                }
                &__link{
                    display: flex;
                    align-items: center;
                    min-height: 68px;
                    padding: 10px;
                    color: $text-primary;
                    font-size: $size-md-px;
                    font-weight: $weight-bold;
                    line-height: $line-height-md;
                    text-decoration: none;
                    @media (min-width: $media-sm){
                        min-height: 86px;
                        padding: 0;
                        font-size: $size-lg-px;
                        background: none;
                    }
                }
                &__image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 48px;
                    max-width: 48px;
                    height: 48px;
                    @media (min-width: $media-sm){
                        min-width: 86px;
                        max-width: 86px;
                        height: 86px;
                    }
                }
                &-image{
                    &__image{
                        margin: 0;
                    }
                }
                &__title{
                    min-width: calc(100% - 48px);
                    max-width: calc(100% - 48px);
                    padding-left: 8px;
                    @media (min-width: $media-sm){
                        min-width: calc(100% - 86px);
                        max-width: calc(100% - 86px);
                        padding-left: 24px;
                    }
                    span{
                        font-size: $size-sl-px;
                        font-weight: $weight-normal;
                    }
                }
            }
        }
    }
}

.catalog-sections{
    &__list{
        margin: 0;
        padding: 0;
    }
    &__item{
        &::before{
            display: none;
        }
    }
    &__link{
        @include m(new){
            color: $color-info !important;
        }
        @include m(special){
            color: $color-danger !important;
        }
    }
}