include /components/menu/template.pug

-
    /**
     * @function mixins.layout#catalogSections
     * @requires mixins.components#menu
     * @desc Список разделов и подразделов каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.href=page.name] - .
     * @param {Bemoptions} [config.menu={}] - .
     * @param {bemtype} [config.menu.type=e] - .
     * @param {Data} [config.menu.data=config.data] - .
     * @param {string} [config.menu.dataPath='Data/catalog-item'] - .
     * @param {string} [config.menu.href=config.href] - .
     * @param {number} [config.maxDepth=2] - .
     * @param {boolean} [config.title=true] - .
     * @param {Object} [config.image={}] - .
     * @param {string} [config.image.placement='link'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sections'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - .
     */
mixin catalogSections(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sections';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-menu',
            href: page.name,
            menu: {
                type: e,
                dataPath: 'Data/catalog-item',
                maxDepth: 2,
                title: true,
                image: {
                    placement: 'link'
                }
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        config.menu.data = items;
        _.defaults(config.menu, {
            href: config.href
        });

        //Добавление случайного количества товаров в разделе меню
        items.forEach(item => {
            const num = String(transformToHashCode(item.content));
            item.content += ` <span>(${Number.parseInt(num.substring(num.length - 3))})</span>`;
            if (item.items) {
                item.items.forEach((innerItem, itemNum) => {
                    if (innerItem.content) {
                        const num = String(transformToHashCode(innerItem.content));
                        innerItem.content += ` <span>(${Number.parseInt(num.substring(num.length - 3))})</span>`;
                        return;
                    }

                    const num = String(transformToHashCode(item.items[itemNum]));
                    item.items[itemNum] += ` <span>(${Number.parseInt(num.substring(num.length - 3))})</span>`;
                })
            }
        })

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +menu(config.menu)

        block