-
    /**
     * @typedef {(Object|string)} Image - Объект с настройками изображения.
     * @property {string} [src=this.root] - Полный путь к изображению.
     * @property {string} [root=''] - Корневая директория пути к файлу.
     * @property {string} [alt=''] - аlt-атрибут изображения.
     * @property {string} [relative] - Путь к изображению относительно корневой директории.
     * @property {string} [external] - Путь к стороннему изображению.
     */

    /**
     * @function mixins.components#image
     * @desc Изображение.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=img] - При включённой опции lazyload, config.tag является div.
     * @param {string} [config.src=''] - .
     * @param {string} [config.alt=''] - .
     * @param {boolean} [config.lazyload] - .
     * @param {number} [config.width] - .
     * @param {number} [config.height] - .
     * @param {string} [config.srcset] - .
     * @param {string} [config.sizes] - .
     * @param {string} [config.title] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='image'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +image({
     *     src: 'https://via.placeholder.com/180.png',
     *     alt: 'Изображение',
     *     width: 180,
     *     height: 180
     * })
     *
     * @example
     * //Вывод изображения с отложенной загрузкой
     * +image({
     *     src: 'https://via.placeholder.com/180.png',
     *     width: 180,
     *     height: 180,
     *     lazyload: true,
     *     dataOptions: {altAttr: 'data-custom-alt'},
     *     attrs: {
     *         dataCustomAlt: 'Изображение'
     *     }
     * })
     */
mixin image(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'image';

        _.defaultsDeep(config, {
            type: e,
            tag: config.lazyload ? div : img,
            attrs: {
                dataLazyload: config.lazyload ? 'image' : null,
                width: config.lazyload ? null : config.width,
                dataWidth: config.lazyload ? config.width : null,
                height: config.lazyload ? null : config.height,
                dataHeight: config.lazyload ? config.height : null,
                srcset: config.srcset ? config.srcset : null,
                dataSrcset: config.lazyload ? config.srcset : null,
                sizes: config.sizes ? config.sizes : null,
                dataSizes: config.lazyload ? config.sizes : null,
                title: removeHtml(config.title) || null,
                dataImageOptions: config.dataOptions || null
            },
            src: '',
            alt: '',
            class: {
                mixinClass
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                src: config.lazyload ? null : config.src,
                dataSrc: config.lazyload ? config.src : null,
                alt: config.lazyload ? null : config.alt,
                dataAlt: config.lazyload ? config.alt : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block

    if config.lazyload
        noscript
            -
                const noscriptAttributes = _.cloneDeep(attributes);
                _.extend(noscriptAttributes, {
                    src: config.src,
                    alt: config.alt,
                    width: config.width,
                    height: config.height,
                    sizes: config.sizes,
                    srcset: config.srcset,
                    sizes: config.sizes,
                    title: removeHtml(config.title)
                });
                noscriptAttributes.class = attributes.class;
            //-TODO:remove data attrs

            img&attributes(noscriptAttributes)

-
    /**
     * @function mixins.components#picture
     * @desc Контейнер для изображений.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=picture] - .
     * @param {Array.<Object>} [config.data] - .
     * @param {boolean} [config.lazyload] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='picture'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * - const testImage = setImageProps('https://via.placeholder.com/180.png', 'Изображение');
     *
     * +picture({
     *     data: [
     *         [
     *             [testImage, '768w', '(max-width: 600px) 480px'],
     *             [testImage, '1.5x', '800px'],
     *             [testImage, '400px'],
     *             testImage,
     *             'image/webp',
     *             '(min-width: 600px)'
     *         ],
     *
     *         {
     *             data: [
     *                 [testImage, '768w', '(max-width: 600px) 480px'],
     *                 [testImage, '1.5x', '800px'],
     *                 [testImage, '400px'],
     *                 testImage
     *             ],
     *             type: 'webp',
     *             media: '(min-width: 600px)'
     *         },
     *
     *         testImage
     *     ]
     * })
     */
mixin picture(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'picture';

        _.defaultsDeep(config, {
            type: e,
            tag: picture
        });

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if config.data.src
            +image({
                src: config.data.src,
                alt: config.data.alt,
                lazyload: config.lazyload,
                class: ''
            })

        each item in config.data
            if item.src
                +image({
                    src: item.src,
                    alt: item.alt,
                    lazyload: config.lazyload,
                    class: ''
                })

            else if _.isObject(item)
                -
                    let sourceSrc = [];
                    let sourceSizes = [];
                    let sourceMedia = item.media || '';
                    let sourceType = item.type || '';
                each imageItem in (Array.isArray(item) ? item : item.data)
                    -
                        if (_.isObject(imageItem)) {
                            if (Array.isArray(imageItem)) {
                                if (imageItem[0].src) {
                                    imageItem[0] = imageItem[0].src;
                                    const srcArray = [imageItem[0]];
                                    imageItem.slice(1).forEach(imageSrc => {
                                        if (/\d(w|x)/g.test(imageSrc)) {
                                            srcArray.push(imageSrc);
                                        } else {
                                            sourceSizes.push(imageSrc);
                                        }
                                    });
                                    sourceSrc.push(srcArray.join(' '));
                                }
                            } else if (imageItem.src) {
                                sourceSrc.push(imageItem.src);
                            }
                        } else if (_.isString(imageItem)) {
                            if (imageItem.includes('(')) {
                                sourceMedia = imageItem;
                            } else if (imageItem.includes('/')) {
                                sourceType = imageItem;
                            }
                        }
                +b({
                    tag: source,
                    attrs: {
                        srcset: (sourceSrc.length > 0) ? sourceSrc.join(', ') : null,
                        sizes: (sourceSizes.length > 0) ? sourceSizes.join(', ') : null,
                        media: sourceMedia || null,
                        type: sourceType || null
                    }
                })

        block