@import 'main';

@import 'Components/input/mixins';

.choices{
    margin-bottom: 0;
    @include m(hide-empty){
        .choices{
            &__list{
                &--dropdown{
                    .choices{
                        &__item{
                            &[data-value='']{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &[data-type~='select-multiple'],
    &[data-type~='text']{
        .choices{
            &__button{
                width: auto;
                padding: 0 4px 0 8px;
                border-left-color: rgba($white, .5);
                color: $white;
                text-indent: 0;
                background: none;
                @include transition(opacity);
                svg{
                    position: relative;
                    top: -1px;
                    pointer-events: none;
                }
            }
            &__input{
                padding-top: 2px;
                padding-bottom: 3px;
            }
        }
    }
    &[data-type~='select-one']{
        &::after{
            display: none;
        }
        .choices__inner{
            padding-bottom: 0;
        }
    }

    &__inner{
        display: flex;
        align-items: center;
        min-height: $input-height;
        &.form-control{
            display: flex;
            padding: $input-padding-vertical $input-padding !important;
            border-color: $input-border;
            border-radius: $input-radius;
            background: $input-bg;
            &-sm{
                padding-left: $input-padding * .5;
                padding-right: $input-padding * .5;
                @media (min-width: $media-md){
                    @include form-control-sm;
                }
            }
            &-lg{
                @media (min-width: $media-md){
                    @include form-control-lg;
                }
            }
            .icon{
                display: block;
                color: $grey-darker;
                line-height: 0;
                @include transition(transform margin-top);
            }
        }
    }
    &__list{
        &--single,
        &--multiple{
            padding: 0 16px 0 0;
        }
        &--multiple{
            margin: -2px;
            .choices{
                &__item{
                    margin: 2px;
                    padding: 3px 10px;
                    border-color: $color-primary;
                    border-radius: $input-radius;
                    white-space: nowrap;
                    background: $color-primary;
                    &.is-highlighted{
                        border-color: palette(primary, light);
                        background: palette(primary, light);
                    }
                    &-label{
                        display: inline-block;
                    }
                }
            }
        }
        &--dropdown{
            top: -9999px;
            left: -9999px;
            z-index: 20;
            border-color: $input-border !important;
            border-bottom-left-radius: $radius-primary;
            border-bottom-right-radius: $radius-primary;
            background: $white;
            box-shadow: $shadow-md;
            .choices{
                &__list{
                    max-height: 320px;
                }
                &__item{
                    padding: 8px $input-padding;
                    color: $grey-darker;
                    @include transition(background);
                    &--selectable{
                        padding-right: 18px;
                    }
                    &:not(:last-child){
                        @include border-bottom($input-border);
                    }
                    &:hover,
                    &:focus,
                    &.is-highlighted{
                        background: $bg-primary;
                    }
                    &[data-selected]{
                        color: $white;
                        background: $color-primary;
                    }
                }
            }
        }
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        cursor: $cursor-pointer;
        &[data-value='']{
            color: $placeholder-color;
        }
        &--selectable{
            overflow: hidden;
        }

        &-inner{
            display: none;
        }
    }
    &__input{
        flex: 1 0 auto;
        width: auto !important;
        margin-bottom: 0;
        background: none;
    }
    &__group{
        padding: 8px $input-padding;
        @include border-bottom($input-border);
        color: $text-primary;
        font-size: $size-md-px;
        cursor: default;
        &-disabled{
            display: none;
        }
        &-inner{
            display: none;
        }
        &[data-hidden]{
            display: none;
        }
    }
    &__heading{
        padding: 0;
        border: none;
        color: $text-primary;
        font-size: $size-md-px;
        font-weight: $weight-bold;
    }

    //Открытый или в фокусе
    &.is-open,
    &.is-focused{
        .choices{
            &__inner{
                &.form-control{
                    border-color: $input-border;
                }
            }
            &__list{
                &--dropdown{
                    top: 100%;
                    left: 0;
                }
            }
        }
    }
    &.is-open{
        &.is-flipped{
            .choices{
                &__inner{
                    &.form-control{
                        border-bottom-left-radius: $input-radius;
                        border-bottom-right-radius: $input-radius;
                    }
                }
                &__list{
                    &--dropdown{
                        top: auto;
                    }
                }
            }
        }
        .choices{
            &__inner{
                &.form-control{
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    .icon{
                        transform: scaleY(-1) translateY(-1px);
                    }
                }
            }
        }
    }
}

.form-group{
    > .choices{
        min-width: 100%;
    }
}

fieldset{
    &:disabled,
    &.disabled{
        .choices{
            @include disabled;
        }
    }
}