-
    /**
     * @function mixins.components#select
     * @desc Раскрывающийся список.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=select]
     * @param {boolean} [config.hidden=true] - .
     * @param {string} [config.idPrefix='select'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.name] - .
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.formControl] - .
     * @param {boolean} [config.disabled] - .
     * @param {boolean} [config.multiple] - .
     * @param {boolean} [config.valid] - .
     * @param {boolean} [config.invalid] - .
     * @param {string} [config.placeholder] - .
     * @param {string} [config.validate] - .
     * @param {Bemoptions} [config.optgroup] - .
     * @param {Bemoptions} [config.option] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='select'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.selectAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.formControl='form-control'] - .
     * @param {bemclasses} [config.class.valid='is-valid'] - .
     * @param {bemclasses} [config.class.invalid='is-invalid'] - .
     */
mixin select(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'select';

        _.defaultsDeep(config, {
            type: e,
            tag: select,
            idPrefix: 'select',
            idPostfix: `-${uniqueId()}`,
            attrs: {
                name: config.name || null,
                disabled: config.disabled ? '' : null,
                multiple: config.multiple ? '' : null,
                placeholder: config.placeholder ? config.placeholder : null,
                dataValidate: config.validate ? config.validate : null,
                dataSelectOptions: config.dataOptions || null
            },
            hidden: true,
            class: {
                mixinClass,
                formControl: 'form-control',
                valid: 'is-valid',
                invalid: 'is-invalid'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            attrs: {
                hidden: config.hidden ? '' : null,
                dataSelect: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                selectAdd: config.class.mixinClass || mixinClass
            }
        });
        _.defaults(config.attrs, {
            id: config.id
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.selectAdd);
        if (config.formControl) addClasses.push(config.class.formControl);
        if (config.valid) addClasses.push(config.class.valid);
        if (config.invalid) addClasses.push(config.class.invalid);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        config.optgroup = _.toPlainObject(config.optgroup);
        _.defaultsDeep(config.optgroup, {
            tag: optgroup,
            attrs: {}
        });

        config.option = _.toPlainObject(config.option);
        _.defaultsDeep(config.option, {
            tag: option,
            attrs: {}
        });

    //-html
    +b(config)&attributes(attributes)
        mixin option(optionConfig)
            -
                const optionElConfig = _.defaultsDeep({}, config.option, {
                    attrs: {
                        ...(_.toPlainObject(optionConfig.attrs)),
                        value: optionConfig.value || '',
                        selected: optionConfig.selected ? '' : null,
                        disabled: optionConfig.disabled ? '' : null,
                        label: optionConfig.label
                    },
                    content: optionConfig.content
                });
            +b(optionElConfig)

        if items.length > 0
            each optionItem in items
                if optionItem.items
                    -
                        const optgroupConfig = _.defaultsDeep({}, config.optgroup, {
                            attrs: {
                                ...(_.toPlainObject(optionItem.attrs)),
                                disabled: optionItem.disabled ? '' : null,
                                label: optionItem.label
                            }
                        });
                    +b(optgroupConfig)
                        each innerItem in optionItem.items
                            +option(innerItem)
                else
                    +option(optionItem)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#selectTranslate
     * @desc Строка с языковым контентом для модуля раскрывающегося списка.
     */
mixin selectTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'select', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.select = ${langContent};`