@import 'main';

.main-content-inner__col > .personal{
    .transports{
        &__items{
            margin-top: $global-margin * 1.5;
        }
    }
}

.transports{
    &__items{
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        @media (min-width: $media-md){
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__item{
        min-width: 100%;
        @include border-top($border-secondary);
        @media (min-width: $media-md){
            padding: 0;
        }
        &:last-child{
            @include border-bottom($border-secondary);
        }
    }
    &-item{
        &__inner{
            padding: $global-margin $container-padding - $global-padding;
            @media (min-width: $media-md){
                flex-wrap: nowrap;
                align-items: center;
                padding: $global-margin * 1.5 0;
            }
            @media (min-width: $media-lg){
                padding: $global-margin * 1.75 0;
            }
        }
        &__item{
            @include m(links){
                min-width: 100%;
                @media (min-width: $media-md){
                    min-width: auto;
                }
            }
            @include m(info, comment){
                display: flex;
                align-items: center;
                margin-top: $global-margin;
                @media (min-width: $media-md){
                    margin-top: 0;
                }
            }
            @include m(info){
                min-width: 100%;
                @media (min-width: $media-md){
                    min-width: col-width-px(1.7);
                    max-width: col-width-px(1.7);
                }
                @media (min-width: $media-lg) and (max-width: $media-xl-max){
                    min-width: col-width-px(2.25);
                    max-width: col-width-px(2.25);
                }
                @media (min-width: $media-xl){
                    min-width: col-width-px(2);
                    max-width: col-width-px(2);
                }
                @media (min-width: $media-xxl){
                    min-width: col-width-px(2.25);
                    max-width: col-width-px(2.25);
                }
            }
            @if map-get($global-settings, manager){
                @include m(manager){
                    display: flex;
                    margin-top: $global-margin;
                    @media (min-width: $media-md){
                        min-width: 35px + $global-padding * 2;
                        max-width: 35px + $global-padding * 2;
                        margin-top: 0;
                    }
                    @media (min-width: $media-lg) and (max-width: $media-xl-max){
                        min-width: col-width-px(1.5);
                        max-width: col-width-px(1.5);
                    }
                    @media (min-width: $media-lg){
                        text-align: center;
                    }
                    @media (min-width: $media-xl){
                        min-width: col-width-px(.75);
                        max-width: col-width-px(.75);
                    }
                    @media (min-width: $media-xxl){
                        min-width: col-width-px(1.5);
                        max-width: col-width-px(1.5);
                    }
                }
            }
            @include m(comment){
                @media (min-width: $media-md){
                    min-width: col-width-px(1);
                    max-width: col-width-px(1);
                    text-align: center;
                }
                @media (min-width: $media-xxl){
                    min-width: col-width-px(1.25);
                    max-width: col-width-px(1.25);
                }
            }
        }
        &__date{
            font-size: $size-md-px;
        }
        &__link{
            display: inline-block;
            margin-top: $global-margin * .5;
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            text-decoration: none;
            &:hover,
            &:focus{
                text-decoration: underline;
            }
            svg{
                position: relative;
                top: -1px;
                margin-right: 9px;
            }
        }
        &__orders{
            display: flex;
            flex-wrap: wrap;
            margin: $global-margin * .5 -6px 0;
        }
        &-orders{
            &__item{
                margin: 0 6px;
            }
            &__link{
                font-size: $size-md-px;
            }
        }
        &__info{
            font-size: $size-md-px;
        }
        &__comment{
            @media (min-width: $media-lg){
                margin-top: -$global-margin * .5;
            }
        }
        &-comment{
            &__button{
                font-size: $size-md-px;
            }
            &__empty{
                position: relative;
                display: inline-block;
                width: 60px;
                height: 1.5em;
                margin-top: $global-margin * .5;
                @include after{
                    top: 50%;
                    left: 0;
                    width: 100%;
                    @include border-top($text-primary);
                }
            }
        }
    }

    &__bottom{
        margin-top: $global-margin;
    }
}

.popover{
    &.transports-comment{
        .popover-header{
            display: none;
        }
        .popover-body{
            padding: 0;
        }
    }
}