include /components/pagination/template.pug

include /layout/avatar/template.pug

-
    /**
    * @function mixins.layout#transportsControls
    * @requires mixins.layout#personalControls
    * @desc Верхний блок управления на странице транспортировок.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.transportsModifier='transports'] - .
    */
mixin transportsControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'transports';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                transportsModifier: mixinClass
            }
        });

        if (config.class.transportsModifier) {
            setBlockClass(attributes, config.class.transportsModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +be({
            modifiers: ['item', 'transports-new'],
            classes: col
        })
            +button({
                tag: a,
                color: 'primary',
                size: 'sm',
                href: 'transports-new',
                content: 'Создать транспортировку'
            })

        block

-
    /**
     * @function mixins.layout#transports
     * @requires mixins.components#pagination
     * @requires mixins.layout#avatar
     * @desc Страница транспортировок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='transports'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin transports(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'transports';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'transports',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'items',
                classes: row
            })
                each item, index in items
                    +be({
                        modifiers: 'item',
                        classes: col
                    })
                        +e({
                            modifiers: 'inner',
                            classes: row
                        })
                            +e({
                                modifiers: ['item', 'links'],
                                classes: col
                            })
                                +e.date= item.date

                                +link({href: 'transports-detail'})
                                    +sprite#link-square
                                    = `Транспортировка № ${item.number}`
                                +be.orders
                                    each order in item.orders
                                        +e.item
                                            +link({
                                                tag: a,
                                                href: 'orders-detail',
                                                content: `Заказ №${order}`
                                            })

                            +e({
                                modifiers: ['item', 'info'],
                                classes: col
                            })
                                +e({
                                    modifiers: 'info',
                                    content: item.info
                                })

                            if globalConfig.settings.manager
                                +e({
                                    modifiers: ['item', 'manager'],
                                    classes: col
                                })
                                    +avatar({dataIndex: (index === 1) ? 2 : 0})

                            +e({
                                modifiers: ['item', 'comment'],
                                classes: col
                            })
                                +be.comment
                                    if index === 2
                                        +e.empty
                                    else
                                        +button({
                                            title: 'Показать комментарий',
                                            content: 'Комментарий',
                                            dashed: true,
                                            attrs: {
                                                dataPopoverOptions: {
                                                    content: 'Текст комментария'
                                                }
                                            }
                                        })

            +be.bottom
                +pagination({
                    nav: {
                        text: false,
                        sprite: {
                            id: 'arrow',
                            width: 10
                        }
                    }
                })

            block