@import 'main';

//Стили для разработки
@if $dist == false{
    //Плагин Whatfont
    .__whatfont_elem{ //stylelint-disable selector-class-pattern
        li{
            &::before{
                display: none;
            }
        }
    }
}