@import 'main';

.product{
    padding: 0 !important;
    &__row{
        margin: 0;
    }
    &-side{
        &__inner{
            position: relative;
            justify-content: space-between;
        }
    }

    //Блок с основной информацией о товаре
    &__info{
        margin-top: $global-margin;
        @media (min-width: $media-lg){
            max-width: col-width(6);
        }
    }
    &-info{
        &__inner{
            justify-content: space-between;
        }
    }

    //Хедер
    &__header{
        min-width: 100%;
    }

    //Значки
    &__badges{
        min-width: 100%;
        line-height: 17px;
    }
    &-badges{
        &__badge{
            padding: 0 9px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            color: $white;
            font-size: $size-xs-px;
            font-weight: $weight-bold;
            line-height: 17px;
            text-transform: uppercase;
            background: $color-primary;
            &:not(:first-child){
                margin-left: $global-padding * .5;
            }
            @include m(new){
                background: palette(success, light);
            }
            @include m(sale){
                background: $color-danger;
            }
            @include m(hit){
                background: $color-info;
            }
        }
    }

    //Заголовок
    &__title{
        min-width: 100%;
        margin-top: $global-margin;
    }
    &-title{
        &__title{
            h1{
                margin: 0;
            }
        }
    }

    //Выбор цвета
    @if map-get($global-settings, colors){
        &__colors{
            min-width: 100%;
            margin-top: $global-margin * .75;
        }
        &-colors{
            &__items{
                display: flex;
                margin: -2px;
            }
            &__item{
                margin: 2px;
            }
            &__link{
                display: block;
                padding: 2px;
                @include border($bg-secondary);
                border-radius: $radius-sm;
                background: none;
                @include transition(border-color);
                &:hover,
                &:focus{
                    border-color: $grey-light;
                }
                &.active{
                    border-color: $grey;
                    cursor: default;
                    pointer-events: none;
                }
            }
            &__color{
                display: block;
                width: 21px;
                height: 21px;
                @include border(transparent);
                border-radius: $radius-sm;
                background-position: center;
                background-size: cover;
                background-origin: border-box;
                &[data-color-bg='light']{
                    @include border($border-primary, 1px);
                }
                @at-root .touch{
                    .product-colors{
                        &__color{
                            width: 27px;
                            height: 27px;
                        }
                    }
                }
            }
        }
    }

    //Выбор размера
    @if map-get($global-settings, sizes){
        &__sizes{
            display: flex;
            align-items: baseline;
            min-width: 100%;
            margin-top: $global-margin * .75;
        }
        &-sizes{
            &__title{
                margin-right: 20px;
                color: $text-secondary;
                font-size: $size-md;
                white-space: nowrap;
            }
            &__items{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -12px -8px;
            }
            &__link{
                display: block;
                padding: 5px 12px;
                @include border(transparent);
                color: $text-secondary;
                text-transform: uppercase;
                background: none;
                @include transition(color border-color);
                &.active,
                &:hover,
                &:focus{
                    color: $color-primary;
                }
                &.active{
                    border-color: $text-secondary;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }

    //Цены
    &__prices{
        flex-grow: 0;
        min-width: 115px;
        margin-top: $global-margin * 2;
    }
    &-prices{
        &__title{
            color: $text-secondary;
            font-size: $size-sm-px;
            text-transform: lowercase;
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            margin: 3px -8px 0;
        }
        &__item{
            margin: 0 8px;
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary;
            letter-spacing: $letter-spacing-lg;
            white-space: nowrap;
            vertical-align: top;
            @include m(current){
                min-width: 100%;
                font-weight: $weight-medium;
            }
            @if map-get($global-settings, basePrice){
                @include m(base){
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    color: $color-danger;
                    font-size: $size-sm-px;
                    @include after{
                        top: 50%;
                        left: -3px;
                        width: calc(100% + #{3px * 2});
                        margin-top: -1px;
                        @include border-top(currentColor, 1px);
                    }
                }
            }
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
    }

    //Артикул
    @if map-get($global-settings, catalogNumber){
        &__number{
            margin-top: $global-margin * 2;
            padding-top: 5px;
            font-size: $size-sm-px;
            letter-spacing: $letter-spacing-primary;
            text-transform: uppercase;
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
    }

    //Разделитель
    &__separator{
        min-width: 100%;
        margin-top: $global-margin * 1.5;
    }
    &-separator{
        &__inner{
            width: 100%;
            @include border-bottom($border-secondary);
        }
    }

    //Сумма
    &__sum{
        min-width: 100%;
        margin-top: $global-margin * 2;
        margin-bottom: -1px;
    }
    &-sum{
        &__inner{
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
        &__title{
            min-width: 100%;
            color: $text-secondary;
            font-size: $size-sm-px;
            text-transform: lowercase;
        }
        &__text{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: px-rem(24);
            font-weight: $weight-medium;
            line-height: $line-height-sm;
            white-space: nowrap;
            .currency{
                font-size: $size-lg;
            }
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
            @include m(base){
                position: relative;
                top: -2px;
                display: inline-block;
                color: $color-danger;
                font-size: $size-sm-px;
                @include after{
                    top: 50%;
                    left: -3px;
                    width: calc(100% + #{3px * 2});
                    margin-top: -1px;
                    @include border-top(currentColor, 1px);
                }
                .currency{
                    font-size: $size-sm-px;
                }
            }
            + .product-sum__text{
                margin-left: 18px;
            }
        }
        &__comment{
            margin-top: -3px;
            margin-left: 8px;
            color: $color-comment;
            font-size: $size-sl-px;
            white-space: nowrap;
        }
    }

    //КП
    @if map-get($global-settings, offers){
        &__offer{
            min-width: 100%;
            margin-top: $global-margin * 1.75;
        }
        &-offer{
            &__button{
                min-width: 100%;
                margin-top: 0;
            }
        }
    }
}