include /components/badge/template.pug
include /components/money/template.pug
include /components/popup/template.pug

include /layout/agreement-link/template.pug

include ./product-availability/template.pug
include ./product-buy/template.pug
include ./product-cart/template.pug
include ./product-counter/template.pug
include ./product-gallery/template.pug
include ./product-horizontal/template.pug
include ./product-parameters/template.pug
include ./product-reviews/template.pug
include ./product-share/template.pug
include ./product-tabs/template.pug
include ./product-vertical/template.pug

-
    /**
     * @function mixins.layout#productWrapper
     * @desc Обёртка страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='product'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=container] - Дополнительный класс.
     */
mixin productWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'product';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                addClass: container
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +mainContentCol
        +preload('product')

        +b(config)&attributes(attributes)
            +e.inner
                +e({
                    modifiers: 'row',
                    classes: row
                })
                    +r('product')
                        block

-
    /**
     * @function mixins.layout#productSide
     * @desc Секция страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='side'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productSide(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'side';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            +r('product')
                block

-
    /**
     * @function mixins.layout#productHeader
     * @desc Блок с основной информацией страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.badges=true] - .
     * @param {boolean} [config.title=true] - .
     * @param {boolean} [config.colors=true] - .
     * @param {boolean} [config.sizes=true] - .
     * @param {boolean} [config.buy] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='header'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productHeader(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'header';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            badges: true,
            title: true,
            colors: true,
            sizes: true,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            +r('product')
                if config.badges
                    +productBadges

                if config.title
                    +productTitle

                if config.colors
                    +productColors

                if config.sizes
                    +productSizes

                if config.buy
                    +be({
                        modifiers: 'buy',
                        classes: col
                    })
                        +link({
                            modifiers: 'back',
                            content: 'Вернуться в каталог',
                            href: 'catalog'
                        })

                block

-
    /**
     * @function mixins.layout#productTitle
     * @desc Заголовок страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.titleTag=h1] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='title'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productTitle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'title';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            titleTag: h1,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.title
            #{config.titleTag}= page.product.data.title

        block

-
    /**
     * @function mixins.layout#productBadges
     * @requires mixins.components#badge
     * @desc Значки страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.titleTag=h1] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='badges'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productBadges(config)
    -
        if (!globalConfig.settings.badges) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'badges';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        each item in page.product.data.badges
            +badge({
                modifiers: item.class || null,
                content: item.content
            })

        block

-
    /**
     * @function mixins.layout#productInfo
     * @desc Обёртка блока с информацией страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='info'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productInfo(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'info';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            +r('product')
                block

-
    /**
     * @function mixins.layout#productBrand
     * @desc Бренд страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-brand'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='brand'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin productBrand(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'brand';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-brand',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const brandImage = setImageProps(config.dataPath, data.image, config.title);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +link({
            href: 'catalog-brand',
            title: removeHtml(`Перейти к товарам ${data.title}`)
        })
            +image({
                src: brandImage.src,
                alt: brandImage.alt
            })

        block

-
    /**
     * @function mixins.layout#productPrices
     * @requires mixins.components#money
     * @desc Цены страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.hideTitle] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='prices'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productPrices(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'prices';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'title',
            classes: config.hideTitle ? srOnly : null,
            content: 'Цена за шт.'
        })

        +e.items
            if globalConfig.settings.basePrice
                +e({
                    modifiers: ['item', 'base'],
                    attrs: {
                        title: 'Цена без скидки'
                    },
                    content: money.formatPrice(page.product.data.price.base)
                })
            +e({
                modifiers: ['item', 'current'],
                attrs: {
                    title: 'Текущаяя цена'
                },
                content: money.formatPrice(page.product.data.price.current)
            })

        block

-
    /**
     * @function mixins.layout#productNumber
     * @desc Артикул страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='number'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productNumber(config)
    -
        if (!globalConfig.settings.catalogNumber) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'number';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'text',
            content: `Артикул: ${page.product.data.number}`
        })

        block

-
    /**
     * @function mixins.layout#productSeparator
     * @desc Разделитель страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='separator'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productSeparator(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'separator';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                role: 'presentation'
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            block

-
    /**
     * @function mixins.layout#productColors
     * @desc Выбор цветов на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='colors'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productColors(config)
    -
        if (!globalConfig.settings.colors) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'colors';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                ariaLabelledby: 'product-colors-title'
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'title',
            classes: srOnly,
            attrs: {
                id: 'product-colors-title'
            },
            content: 'Цвет'
        })

        +e.items
            each item, index in page.product.data.colors
                +e({
                    modifiers: 'item',
                    attrs: {
                        title: removeHtml(item.title)
                    }
                })
                    +link({
                        tag: button,
                        classes: [(index === 0) ? 'active' : null, (index === 2) ? 'disabled' : null],
                        title: removeHtml(item.title),
                        tabindex: (index === 0) ? '-1' : null
                    })
                        +e({
                            tag: span,
                            modifiers: 'color',
                            attrs: {
                                style: `background-color: ${item.color}`,
                                ariaHidden: 'true',
                                dataColorBg: ((item.color === '#ffffff') || (item.color === '#fff')) ? 'light' : ''
                            }
                        })

        block

-
    /**
     * @function mixins.layout#productSizes
     * @desc Выбор размеров на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sizes'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productSizes(config)
    -
        if (!globalConfig.settings.sizes) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sizes';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                ariaLabelledby: 'product-sizes-title'
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'title',
            attrs: {
                id: 'product-sizes-title'
            },
            content: 'Размер:'
        })

        +e.items
            each item, index in page.product.data.sizes
                +e({
                    modifiers: 'item',
                    attrs: {
                        title: removeHtml(`Размер: ${item.title}`)
                    }
                })
                    +link({
                        tag: button,
                        classes: [(index === 0) ? 'active' : null, (i === 2) ? 'disabled' : null],
                        content: item.content,
                        tabindex: (index === 0) ? '-1' : null
                    })

        block

-
    /**
     * @function mixins.layout#productSum
     * @requires mixins.components#money
     * @desc Итоговая стоимость на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.titleBottom] - .
     * @param {number} [config.currentPrice=189430] - .
     * @param {number} [config.basePrice] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sum'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productSum(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sum';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            currentPrice: 189430,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            if !config.titleBottom
                +e.title Итоговая стоимость

            +e({
                modifiers: ['text', 'current'],
                content: money.formatPrice(config.currentPrice),
                attrs: {
                    title: 'Текущая стоимость'
                }
            })

            if config.basePrice
                +e({
                    modifiers: ['text', 'base'],
                    content: money.formatPrice(config.basePrice),
                    attrs: {
                        title: 'Стоимость без скидки'
                    }
                })

            if config.titleBottom
                +e.comment итоговая стоимость

        block

-
    /**
     * @function mixins.layout#productFastbuy
     * @desc Кнопка покупки в один клик на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.fastbuyModifier='fastbuy'] - .
     */
mixin productFastbuy(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                fastbuyModifier: 'fastbuy'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.fastbuyModifier) {
            blockClasses.push(config.class.fastbuyModifier);
        }
        setBlockClass(attributes, blockClasses);

    //-html
    +b(config)&attributes(attributes)
        +button({
            color: 'primary',
            outline: true,
            size: 'lg',
            content: 'Быстрый заказ',
            href: '#popup-fastbuy',
            attrs: {
                dataPopup: ''
            }
        })

        +productFastbuyPopup

        block

-
    /**
     * @function mixins.layout#productFastbuyPopup
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.layout#agreementLink
     * @desc Попап быстрого просмотра товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.popupId='popup-fastbuy'] - .
     */
mixin productFastbuyPopup(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            popupId: 'popup-fastbuy'
        });

    //-html
    +popup({id: config.popupId})&attributes(attributes)
        +popupHeader({
            idPrefix: config.popupId,
            content: 'Быстрый заказ'
        })

        +popupContent
            +form({
                type: b,
                validate: true
            })
                +formGroup
                    +label({
                        for: 'fastbuy-fio',
                        content: 'ФИО',
                        required: true
                    })
                    +e.input-container
                        +input({
                            formControl: true,
                            id: 'fastbuy-fio',
                            name: 'FIO',
                            validate: 'required, name'
                        })

                +formGroup
                    +label({
                        for: 'fastbuy-phone',
                        content: 'Телефон',
                        required: true
                    })
                    +e.input-container
                        +input({
                            formControl: true,
                            inputType: 'tel',
                            id: 'fastbuy-phone',
                            name: 'PHONE',
                            validate: 'required, tel'
                        })

                +formGroup
                    +label({
                        for: 'fastbuy-email',
                        content: 'Email'
                    })
                    +e.input-container
                        +input({
                            formControl: true,
                            inputType: 'email',
                            id: 'fastbuy-email',
                            name: 'EMAIL',
                            validate: 'email'
                        })

                +formGroup
                    +label({
                        for: 'fastbuy-comment',
                        content: 'Комментарий к заказу'
                    })
                    +e.input-container
                        +input({
                            tag: textarea,
                            formControl: true,
                            id: 'fastbuy-comment',
                            name: 'COMMENT'
                        })

                +formGroup
                    +e.comment #[span.text-required *] — поля, обязательные для заполнения

                +formGroup
                    +agreementLink({id: 'fastbuy-agreement'})

                +formGroup
                    +button({
                        modifiers: 'submit',
                        content: 'Отправить',
                        color: 'primary',
                        size: 'sm',
                        buttonType: 'submit'
                    })

        block

-
    /**
     * @function mixins.layout#productOffer
     * @desc Кнопка добавления в КП на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.buttonText='Добавить в КП'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='offer'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productOffer(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'offer';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            buttonText: 'Добавить в КП',
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +button({
            color: 'secondary',
            size: 'lg',
            content: config.buttonText,
            href: 'offer-new',
            title: 'Добавить в коммерческое предложение'
        })

        block