@import 'main';

.product{
    &-buy{
        &__item{
            @include m(cart){
                &.active{
                    .product-buy__link{
                        @include m(default){
                            right: $global-padding;
                        }
                    }
                }
                .product-buy__link{
                    min-width: 100%;
                }
                svg{
                    position: relative;
                    top: -1px;
                    margin-right: 8px;
                }
            }
        }
    }
}