-
    /**
     * @function mixins.layout#productCart
     * @desc Кнопка добавления в корзину на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.compare=true] - .
     * @param {boolean} [config.wishlist=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.cartModifier='cart'] - .
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin productCart(config)
    -
        if (!globalConfig.settings.buy) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                cartModifier: 'cart',
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.cartModifier) {
            blockClasses.push(config.class.cartModifier);
        }
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    +b(config)&attributes(attributes)
        +button({
            modifiers: 'default',
            color: 'primary',
            size: 'lg',
            title: 'Добавить в корзину',
            class: 'link',
            attrs: {
                dataState: 'default'
            }
        })
            +e({
                tag: span,
                modifiers: 'title',
                content: 'В корзину'
            })

        +button({
            tag: a,
            classes: 'state-active',
            modifiers: 'active',
            color: 'success',
            size: 'lg',
            href: 'cart',
            title: 'Перейти в корзину',
            class: 'link',
            attrs: {
                dataState: 'active'
            }
        })
            +sprite#check
            +e({
                tag: span,
                modifiers: 'title',
                content: 'В корзине'
            })

        block