@import 'main';

.product{
    &__reviews{
        max-width: col-width-px(10);
        padding: $global-margin 0 $global-margin * 1.5;
    }
    &-reviews{
        &__items{
            margin-top: -$global-margin * 2;
            .pagination{
                margin-top: $global-margin;
            }
        }
        &-items{
            &__item{
                margin: $global-margin * 2 0 0;
                padding: 0;
                border: none;
            }

            &__top{
                display: flex;
            }
            &__name{
                color: $color-primary;
                font-weight: $weight-bold;
                font-style: normal;
            }
            &__date{
                margin-left: 12px;
                color: $text-secondary;
                font-size: $size-sm-px;
                line-height: 24px;
                transform: translateY(2px);
            }

            &__content{
                margin-top: $global-margin;
            }

            &__actions{
                display: flex;
                align-items: center;
                margin: $global-margin * .5 (-8px) 0;
            }
            &-actions{
                &__item{
                    position: relative;
                    display: flex;
                    padding: 0 8px;
                    &:not(:first-child){
                        margin-left: 1px;
                        @include before{
                            top: 50%;
                            left: -1px;
                            height: 12px;
                            @include border-left(to-rgb($text-secondary, .5), 1px);
                            transform: translateY(-50%);
                        }
                    }
                }
                &__link{
                    padding: 0;
                    border: none;
                    color: $text-secondary;
                    font-size: $size-xs-px;
                    background: none;
                    @include transition(color);
                    &:hover,
                    &:focus{
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }
            }
        }

        &__form{
            max-width: col-width-px(6);
            margin-top: $global-margin * 1.5;
        }
        &-form{
            &__comment{
                color: $text-secondary;
                font-size: $size-md-px;
            }
        }
    }
}