include /components/collapse/template.pug
include /components/pagination/template.pug

-
    /**
     * @function mixins.layout#productReviews
     * @requires mixins.components#collapse
     * @requires mixins.components#pagination
     * @desc Блок отзывов о товаре на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='product'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='reviews'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='reviews'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin productReviews(config)
    -
        if (!globalConfig.settings.reviews) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'reviews';

        _.defaultsDeep(config, {
            type: be,
            data: 'product',
            itemsProp: 'reviews',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('product')
        +b(config)&attributes(attributes)
            +be.items
                +e.inner
                    each item in items
                        +e({
                            tag: blockquote,
                            modifiers: 'item'
                        })
                            +e.top
                                +e({
                                    tag: cite,
                                    modifiers: 'name',
                                    content: item.name
                                })
                                //-TODO:make date as datetime with format method
                                +e.date= item.date

                            +e.content
                                //-TODO:add rating

                                +e.text!= item.content

                            +e.bottom
                                +be.actions
                                    +e.item
                                        +button({
                                            content: 'Упомянуть',
                                            class: 'link'
                                        })

                                    +e.item
                                        +button({
                                            content: 'Цитировать',
                                            class: 'link'
                                        })

                +pagination({
                    nav: {
                        content: false,
                        sprite: {
                            id: 'arrow',
                            width: 10
                        }
                    }
                })

            +be.form
                +collapse({
                    id: 'product-reviews-form',
                    button: {
                        content: 'Добавить отзыв'
                    },
                    class: {
                        buttonAdd: ['btn', 'btn-primary', 'disabled']
                    }
                })
                    +r('product-reviews-form')
                        +form({type: e})
                            +formGroup
                                +label({
                                    for: 'reviews-fio',
                                    required: true,
                                    content: 'ФИО'
                                })
                                +e.input-container
                                    +input({
                                        formControl: true,
                                        id: 'reviews-fio',
                                        name: 'FIO',
                                        validate: 'required, name',
                                        value: 'Гость'
                                    })

                            +formGroup
                                +label({
                                    for: 'reviews-message',
                                    required: true,
                                    content: 'Отзыв'
                                })
                                +e.input-container
                                    +input({
                                        tag: textarea,
                                        formControl: true,
                                        id: 'reviews-message',
                                        name: 'MESSAGE',
                                        validate: 'required'
                                    })

                            +formGroup
                                +e.comment #[span.text-required *] — поля, обязательные для заполнения

                            +formGroup
                                +button({
                                    modifiers: 'submit',
                                    content: 'Отправить',
                                    color: 'primary',
                                    size: 'lg',
                                    buttonType: 'submit'
                                })

            block