-
    /**
     * @file Файл с базовыми настройками.
     * @ignore
     */

    /**
     * @namespace locals
     * @desc Переменные, передаваемые из вебпака.
     */

    /**
     * @namespace locals.globalConfig
     * @desc Глобальные настройки проекта.
     */

    /**
     * @member {boolean} locals.globalConfig#isBuilder
     * @desc Указывает, запущен ли в данный момент сервер в режиме конструктора.
     */

    /**
     * @member {boolean} locals.globalConfig#isDist
     * @desc Происходит ли компиляция в режиме для релиза.
     */

    /**
     * @member {boolean} locals.globalConfig#isDocs
     * @desc Указывает, что рендер происходит для документации.
     */

    /**
     * @member {boolean} locals.globalConfig#hasPolyfills
     * @desc Подключать ли файл с полифилами при компиляции.
     */

    /**
     * @member {number} locals.globalConfig#compilaitonTime
     * @desc Время начала компиляции.
     */

    /**
     * @member {Object} locals.globalConfig#settings
     * @desc Текущие пользовательские настройки проекта.
     */

    /**
     * @member {string} locals.globalConfig#templatesRoot
     * @desc Абсолютный путь к корневой папке проекта.
     */

    /**
     * @member {string} locals.globalConfig#encoding
     * @desc Кодировка проекта.
     */

    /**
     * @member {string} locals.globalConfig#defaultLanguage
     * @desc Язык проекта по умолчанию.
     */

    /**
     * @member {string} locals.globalConfig#defaultRegion
     * @desc Регион проекта по умолчанию.
     */

    /**
     * @member {string} locals.globalConfig#projectName
     * @desc Название проекта.
     */

    /**
     * @member {string} locals.globalConfig#projectThemeColor
     * @desc Базовый цвет проекта (для meta-тегов).
     */

    /**
     * @member {string} locals.globalConfig#developerName
     * @desc Имя/название разработчика.
     */

    /**
     * @member {string} locals.globalConfig#developerSite
     * @desc Сайт разработчика.
     */

    /**
     * @member {boolean} locals.globalConfig#isSyncModules
     * @desc Подключаются ли модули синхронно.
     */

    /**
     * @member {boolean} locals.globalConfig#hasVue
     * @desc Используется ли библиотека Vue в проекте.
     */

    /**
     * @member {string} locals.globalConfig#distScriptFile
     * @desc Суффикс подключаемых файлов скриптов.
     */

    /**
     * @member {string} locals.globalConfig#distStyleFile
     * @desc Суффикс подключаемых файлов стилей.
     */

    /**
     * @member {string} locals.globalConfig#spriteFile
     * @desc Название файла спрайтов.
     */

    /**
     * @member {string} locals.globalConfig#moduleScriptFile
     * @desc Название входного файла скриптов модуля.
     */

    /**
     * @member {string} locals.globalConfig#distAssetsName
     * @desc Название папки ресурсов.
     */

    /**
     * @member {string} locals.globalConfig#distAssetsName
     * @desc Название папки ресурсов.
     */

    /**
     * @member {string} locals.globalConfig#scriptsDirName
     * @desc Название папки скриптов.
     */

    /**
     * @member {string} locals.globalConfig#stylesDirName
     * @desc Название папки стилей.
     */

    /**
     * @member {string} locals.globalConfig#mediaName
     * @desc Название папки медиа-файлов.
     */

    /**
     * @member {string} locals.globalConfig#uploadsName
     * @desc Название папки контентных медиа-файлов.
     */

    /**
     * @member {string} locals.globalConfig#ajaxName
     * @desc Название папки файлов для аяксовых запросов.
     */

    /**
     * @member {string} locals.globalConfig#iconsName
     * @desc Название папки фавиконок.
     */

    /**
     * @member {string} locals.globalConfig#spritesName
     * @desc Название папки спрайтов.
     */

    /**
     * @member {string} locals.globalConfig#fonts
     * @desc Путь к папке с шрифтам.
     */

    /**
     * @member {string} locals.globalConfig#pages
     * @desc Путь к папке с шаблонами страниц.
     */

    /**
     * @member {Object} locals#fs
     * @desc Копия модуля fs из node.js.
     */

    /**
     * @member {Object} locals#path
     * @desc Копия модуля path из node.js.
     */

    /**
     * @member {Object} locals#_
     * @desc Копия библиотеки lodash.
     */

    /**
     * @namespace page
     * @desc Опции страницы.
     */

    /**
     * @member {string} page#title
     * @desc Заголовок страницы.
     */

    /**
     * @member {string} page#name
     * @desc Название файла страницы.
     */
    page.name = filename;

    /**
     * @member {string} page#lang
     * @desc Язык страницы.
     */
    page.lang = page.lang || globalConfig.defaultLanguage;

    /**
     * @member {string} page#region
     * @desc Регион страницы.
     */
    page.region = page.region || globalConfig.defaultRegion;

    /**
     * @member {string} locals.globalConfig#relPath
     * @desc Относительный путь к корневой директории скомпилированных файлов.
     */
    globalConfig.relPath = (page.name === 'index') ? '.' : '..';

    //Пути к файлам ресурсов
    /**
     * @member {string} locals.globalConfig#distAssets
     * @desc Путь к общей папке ресурсов.
     */
    globalConfig.distAssets = path.join(globalConfig.relPath, globalConfig.distAssetsName);

    /**
     * @member {string} locals.globalConfig#scripts
     * @desc Путь к папке скриптов.
     */
    globalConfig.scripts = path.join(globalConfig.distAssets, globalConfig.scriptsDirName);

    /**
     * @member {string} locals.globalConfig#styles
     * @desc Путь к папке стилей.
     */
    globalConfig.styles = path.join(globalConfig.distAssets, globalConfig.stylesDirName);

    /**
     * @member {string} locals.globalConfig#media
     * @desc Путь к папке интерфейсных медиа-файлов.
     */
    globalConfig.media = path.join(globalConfig.distAssets, globalConfig.mediaName);

    /**
     * @member {string} locals.globalConfig#uploads
     * @desc Путь к папке контентных медиа-файлов.
     */
    globalConfig.uploads = path.join(globalConfig.distAssets, globalConfig.uploadsName);

    /**
     * @namespace locals.globalConfig.localConfig
     * @desc Объект для хранения локальных настроек.
     * @ignore
     */
    if (!globalConfig.localConfig) {
        globalConfig.localConfig = {};
    }

    /**
     * @member {Object} locals.globalConfig.localConfig#cachedSprites
     * @desc Хранит закешированные спрайты.
     * @ignore
     */
    if (!globalConfig.localConfig.cachedSprites) {
        globalConfig.localConfig.cachedSprites = {};
    }