//-TODO:add filter, map, sort, slice data funcs

-
    /**
     * @file Вспомогательные функции.
     * @ignore
     */

    /**
     * @namespace functions
     * @desc Вспомогательные функции.
     */

    /**
     * @namespace _
     * @desc Микро вспомогательные функции.
     */

    /**
     * @typedef {(string|Object|Array<*>)} Data - либо строка - ссылка на объект с контентом, либо сам контентный объект, либо массив с контентными элементами.
     */

    _.mixin({
        /**
         * @function _#isCharAt
         * @desc Проверяет, находится ли символ на выбранной позиции в строке.
         * @param {string} string - Проверяемая строка.
         * @param {number} position - Какоую позицию в строке необходимо проверить.
         * @param {string} char - Символ, позицию которого необходимо проверить.
         * @returns {boolean} Находится ли проверяемый символ на выбранной поизции в строке.
         * @example
         * div= _.isCharAt('строка', 0, 'с') ? 'да' : 'нет'
         */
        isCharAt(string, position, char) {
            if (!_.isString(string)) return false;
            return string.charAt(position) === char;
        },

        /**
         * @function _#isIndexOf
         * @desc Проверяет, находится ли элемент на выбранной позиции в коллекции или в строке.
         * @param {(Array<*>|string)} array - Проверяемая коллекция или строка.
         * @param {*} search - Элемент, позицию которого необходимо проверить.
         * @param {number} index - Какую позицию в коллекции необходимо проверить.
         * @returns {boolean} Находится ли проверяемый элемент на выбранной позиции в коллекции или в строке.
         * @example
         * div= _.isIndexOf('строка', 0, 'с') ? 'да' : 'нет'
         */
        isIndexOf(array, search, index) {
            if (!(Array.isArray(array) || _.isString(array))) return false;
            return array.indexOf(search) === index;
        },

        /**
         * @function _#ifElse
         * @desc Возвращает одно из передаваемых в функцию значений согласно условию.
         * @param {*} condition - Условие.
         * @param {*} trueValue - Значение, возвращаемое, если условие положительное.
         * @param {*} falseValue - Значение, возвращаемое, если условие отрицательное.
         * @returns {*} Одно из передаваемых в функцию значений.
         * @example
         * div= _.ifElse(1 < 2, 'да', 'нет')
         */
        ifElse(condition, trueValue, falseValue) {
            return condition ? trueValue : falseValue;
        }
    });

    //Функции для форматирования текста

    /**
     * @function functions#removeDelimiters
     * @desc Убирает разделители в строке (точки, пробелы, запятые, двоеточия и дефисы).
     * @param {string} string - Форматируемая строка.
     * @param {string} [replacer=''] - Строка, заменяющая найденые разделители.
     * @param {string} [delimiters='\\s,.:-'] - Разделители, которые необходимо убрать.
     * @returns {(string|Object)} Результат форматирования.
     * @example
     * div= removeDelimiters('123 456')
     * div= removeDelimiters('123 456.22', '-')
     * div= removeDelimiters('123 456.22', '-', ' ')
     */
    function removeDelimiters(string, replacer = '', delimiters = '\\s,.:-') {
        const stringValue = String(string);
        if (!stringValue) return '';

        const result = stringValue.replace(new RegExp(`[${delimiters}]`, 'g'), replacer);
        return result;
    }

    /**
     * @function functions#composeUrl
     * @desc Преобразовывает строки в url.
     * @param {string} [...args] - Части адресной строки.
     * @returns {string} Строка-url.
     * @example
     * a(href=composeUrl('site.com', 'catalog', 'section')) Ссылка
     */
    function composeUrl(...args) {
        const result = Object.values(args)
            .filter(Boolean)
            .join('/')
            .replaceAll('\\', '/')
            .replaceAll('\/\/', '/');
        return result;
    }

    /**
     * @function functions#isAbsoluteUrl
     * @desc Проверяет, является ли строка абсолютной ссылкой (начинается на 'http://', на 'https://' или на '//').
     * @param {string} urlString - Строка для проверки.
     * @returns {boolean} Является ли строка абсолютной ссылкой.
     * @example
     * div(class=isAbsoluteUrl('https://site.com/') ? 'is-url' : 'not-url') https://site.com/
     * div(class=isAbsoluteUrl('http://site.com/') ? 'is-url' : 'not-url') http://site.com/
     * div(class=isAbsoluteUrl('//site.com') ? 'is-url' : 'not-url') //site.com
     * div(class=isAbsoluteUrl('site.com') ? 'is-url' : 'not-url') site.com
     * div(class=isAbsoluteUrl('http://') ? 'is-url' : 'not-url') http://
     * div(class=isAbsoluteUrl('//site') ? 'is-url' : 'not-url') //site
     */
    function isAbsoluteUrl(urlString) {
        const urlRegex = /^(https?:)?\/\/[^/]+/;
        return urlRegex.test(urlString);
    }

    /**
     * @function functions#escapeBr
     * @desc Заменяет HTML-теги br на пробелы в строке.
     * @param {string} htmlString - HTML-строка для замены.
     * @returns {string} Отформатированная строка.
     * @example
     * div= escapeBr('строка<br>вторая строка')
     */
    function escapeBr(htmlString) {
        if (!htmlString) return '';

        return String(htmlString).replace(/<br>/gm, ' ');
    }

    /**
     * @function functions#removeHtml
     * @desc Удаляет HTML-теги из строки.
     * @param {string} htmlString - HTML-строка для замены.
     * @param {boolean} [shouldEscapeBr=true] - Заменять ли теги br на пробелы.
     * @returns {string} Отформатированная строка.
     * @example
     * div= removeHtml('<span>строка</span><br>вторая строка')
     * div= removeHtml('<span>строка</span><br>вторая строка', false)
     */
    function removeHtml(htmlString, shouldEscapeBr = true) {
        if (!htmlString) return '';

        const newString = shouldEscapeBr ? escapeBr(htmlString) : htmlString;
        return String(newString).replace(/<[.\n]*?>/gm, '');
    }

    const htmlEscapes = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;'
    };
    const unescapedHtml = new RegExp('[&<>"]', 'g');

    /**
     * @function functions#escapeHtml
     * @desc Преобразует HTML-строку в формат для вставки в HTML-атрибуты.
     * @param {string} htmlString - Строка для преобразования.
     * @returns {string} Результат преобразования.
     * @example
     * div(title=escapeHtml('<span>строка</span><br>вторая строка'))
     */
    function escapeHtml(htmlString) {
        const formattedString = String(htmlString);
        if (unescapedHtml.test(formattedString)) {
            return formattedString.replace(unescapedHtml, key => htmlEscapes[key]);
        }

        return formattedString;
    }

    /**
     * @function functions#normalizeTel
     * @desc Преобразовывает обычное написание телефона в телефон для подстановки в HTML-атрибуты.
     * @param {string} telString - Строка с телефонным номером.
     * @returns {string} Отформатированная строка с телефоном.
     * @example
     * a(href=`tel:${normalizeTel('+7 (999) 999-99-99')}`) +7 (999) 999-99-99
     */
    function normalizeTel(telString) {
        if (!telString) return '';

        const textString = removeHtml(telString, false);
        const allPhone = (_.isCharAt(textString, 0, '+') ? '+' : '') + textString.replace(/[^\d.]/g, '');

        const telLength = allPhone.includes('.') ? allPhone.indexOf('.') : allPhone.length; //Добавочный номер обрезается
        return allPhone.slice(0, telLength);
    }

    /**
     * @function functions#transformUrl
     * @desc Ставит правильные пути в ссылках к страницам относительно других страниц проекта.
     * @param {string} urlString - Строка с web-адресом.
     * @returns {string} Отформатированная url-строка.
     * @example
     * a(href=transformUrl('catalog')) Каталог
     * a(href=transformUrl('/')) Главная страница
     * a(href=transformUrl('index')) Главная страница
     * a(href=transformUrl('https://www.google.com/')) Google.com
     */
    function transformUrl(urlString) {
        if (!urlString) return '';

        if ((urlString === jv) || /^(#|\.|\${require\()/.test(urlString) || isAbsoluteUrl(urlString)) {
            return urlString;
        }

        const resultString = (urlString === 'index') ? '/' : urlString;

        return composeUrl(globalConfig.relPath, resultString);
    }

    /**
     * @function functions#transformToTel
     * @desc Преобразовывает обычное написание телефона в ссылку для подстановки в HTML-атрибут href.
     * @param {string} telString - Строка с телефонным номером.
     * @returns {string} Отформатированная строка с ссылкой.
     * @example
     * a(href=transformToTel('+7 (999) 999-99-99')) +7 (999) 999-99-99
     */
    function transformToTel(telString) {
        if (!telString) return '';

        return `tel:${normalizeTel(telString)}`;
    }

    /**
     * @function functions#transformToEmail
     * @desc Преобразовывает обычное написание email в ссылку для подстановки в HTML-атрибут href.
     * @param {string} emailString - Строка с email-адресом.
     * @returns {string} Отформатированная строка с ссылкой.
     * @example
     * a(href=transformToEmail('test@test.com')) test@test.com
     */
    function transformToEmail(emailString) {
        if (!emailString) return '';

        return `mailto:${emailString}`;
    }

    /**
     * @function functions#formatDate
     * @desc Меняет разделители в строке с датой.
     * @param {string} dateString - Строка с датой.
     * @param {string} [separator='-'] - Новый разделитель для элементов даты.
     * @returns {string} Отформатированная строка с датой.
     * @example
     * div= formatDate('02/10/2020', '.')
     */
    function formatDate(dateString, separator = '-') {
        if (!dateString) return '';

        return removeDelimiters(dateString, separator, '\\s.-');
    }

    /**
     * @function functions#formatPlural
     * @desc Возвращает определенные окончания согласно передаваемому числу.
     * @param {number} num - Число, согласно которому возвращается окончание.
     * @param {string} [one=''] - Окончание для чисел, оканчивающихся на 1.
     * @param {string} [two=''] - Окончание для чисел, оканчивающихся на 2.
     * @param {string} [many=''] - Окончание для чисел чисел, оканчивающихся на остальные числа.
     * @returns {string} Окончание.
     * @example
     * div= `122 товар${formatPlural(122, '', 'а', 'ов')}`
     * div= `1 товар${formatPlural(1, '', 'а', 'ов')}`
     * div= `0 товар${formatPlural(0, '', 'а', 'ов')}`
     * div= `5 товар${formatPlural(5, '', 'а', 'ов')}`
     */
    function formatPlural(num, one = '', two = '', many = '') {
        const parsedNum = Number.parseInt(num, 10);
        if (!Number.isFinite(parsedNum)) return '';

        const tenRemainder = parsedNum % 10;
        const hundredRemainder = parsedNum % 100;

        const endOnOne = (tenRemainder === 1) && (hundredRemainder !== 11);
        const endOnTwo = (tenRemainder >= 2) && (tenRemainder <= 4) && ((hundredRemainder < 10) || (hundredRemainder >= 20));
        const notOne = endOnTwo ? two : many;

        return endOnOne ? one : notOne;
    }

    /**
     * @function functions#transformToHashCode
     * @desc Конвертирует строку в числовой хеш.
     * @param {string} hashedString - Строка для конвертирования в хеш.
     * @returns {number} Число-хеш.
     * @example
     * div= transformToHashCode('строка')
     */
    function transformToHashCode(hashedString) {
        let hash = 0;
        if (!_.isString(hashedString) || (hashedString.length === 0)) {
            return hash;
        }

        [...hashedString].forEach((letter, index) => {
            const char = hashedString.codePointAt(index);
            hash = ((hash << 5) - hash) + char;
            hash |= 0; //Конвертирование в число
        });

        return hash;
    }

    /**
     * @function functions#transformInlineSrc
     * @desc Трансформация путей ресурсов для html-loader. Необходимо подключать все ресурсы через эту функцию.
     * @param {string} srcString - Путь к ресурсу, который нужно подключать.
     * @returns {string} Трансформированный путь для импорта файла через extract-loader (Или строку в неизменном виде, если она является ссылкой на сторонний ресурс).
     * @example
     * img(src=transformInlineSrc('~Data/managers/uploads/manager.png'), alt='')
     */
    function transformInlineSrc(srcString) {
        if (isAbsoluteUrl(srcString)) {
            return srcString;
        }

        const formattedPage = srcString.startsWith('~') ? (srcString.slice(1, 2).toLowerCase() + srcString.slice(2)) : srcString;
        const innerUrl = composeUrl('..', '..', formattedPage);

        return `$\{require(\`${innerUrl}\`)}`;
    }

    /**
     * @function functions#getModuleLangProps
     * @desc Импортирует языковой файл модуля.
     * @param {string} modulePath - Путь к модулю.
     * @param {string} [lang=page.lang] - Какой языковой файл подключать.
     * @returns {Object} Объект с содержимым языкового файла с контентом.
     * @example
     * - const localData = getModuleLangProps('components/alert', 'en').data;
     * button(type='button')= localData.close
     */
    function getModuleLangProps(modulePath, lang = page.lang) {
        const langDirPath = path.join(globalConfig.templatesRoot, 'src', modulePath, 'lang');
        const langFileEnd = '.json';

        if (!fs.existsSync(path.join(langDirPath, lang + langFileEnd))) {
            lang = globalConfig.fallbackLanguage;
        }

        const langFilePath = path.join(langDirPath, lang + langFileEnd);
        if (fs.existsSync(langFilePath)) {
            const fileData = fs.readFileSync(langFilePath);
            return JSON.parse(fileData, encoding);
        }

        return {};
    }

    /**
     * @function functions#getDataContents
     * @desc Считывает data-модуль.
     * @param {string} moduleName - Название data-модуля.
     * @param {string} [lang=page.lang] - Язык, используемый на сайте.
     * @returns {Object} Объект с содержимым файла с контентом.
     * @example
     * - const dataObject = getDataContents('main-menu');
     * a(href=dataObject.items[0].href)= dataObject.items[0].content
     */
    function getDataContents(moduleName, lang = page.lang) {
        const modulePath = path.join(globalConfig.templatesRoot, 'src', 'data', moduleName);
        const filePath = fs.existsSync(path.join(modulePath, lang))
            ? path.join(modulePath, lang, 'data.json')
            : path.join(modulePath, 'data.json');

        const dataString = fs.readFileSync(filePath, encoding);
        const dataObject = JSON.parse(dataString).data;
        return dataObject;
    }

    /**
     * @function functions#getData
     * @desc Сохраняет контент из data-модуля в объекте с настройками.
     * @param {Object} targetObj - Объект, в который должен сохранятся контент.
     * @param {string} [dataLink] - Ссылка на data-модуль с контентом.
     * @param {number} [dataIndex] - Индекс элемента коллекции с контентом, который нужно подключить. Если этот параметр не указан, то подгружается вся коллекция.
     * @param {string} [itemsProp] - Ключ объекта с данными в котором будет происходить поиск элемента с индексом dataIndex.
     * @returns {undefined}
     * @example
     * -
     *     const config = {
     *         data: 'main-menu',
     *         itemsProp: 'custom-items'
     *     };
     *     getData(config, config.data, 0);
     * a(href=config.data.href)= config.data.content
     */
    function getData(targetObj, dataLink, dataIndex, itemsProp) {
        if (!_.isPlainObject(targetObj)) return;

        targetObj.itemsProp = (itemsProp || targetObj.itemsProp || 'items');
        if (!_.isString(dataLink)) {
            targetObj.dataPath = (targetObj.dataPath || '');
            if (Array.isArray(dataLink) && !_.isUndefined(dataIndex)) {
                targetObj.data = dataLink[dataIndex];
            }
            return;
        }

        const dataContent = getDataContents(dataLink);

        targetObj.dataPath = (targetObj.dataPath || composeUrl('Data', dataLink));
        if (!_.isUndefined(dataIndex)) {
            const items = _.get(dataContent, targetObj.itemsProp);
            targetObj.data = _.isObject(items) ? items[dataIndex] : dataContent;
            return;
        }

        targetObj.data = dataContent;
    }

    /**
     * @function functions#setImageProps
     * @desc Создает объект с настройками изображения.
     * @param {(string|Object)} dataPath - Путь к модулю с изображением, полный путь к изображению или объект с настройками изображения.
     * @param {(string|Object)} [imageProp] - Путь к изображению внутри модуля или объект с настройками изображения.
     * @param {string} [altProp=''] - Атрибут alt изображения.
     * @returns {Object} Объект с настройками изображения.
     * @example
     * - const image = setImageProps('Data/browsers-warning', 'media/chrome.png', 'Chrome');
     * img(src=image.src, alt=image.alt)
     *
     * @example
     * -
     *     const imageObject = {
     *         external: 'https://via.placeholder.com/300x140/.png?text=img'
     *     };
     *     const image = setImageProps(imageObject, 'img');
     * img(src=image.src, alt=image.alt)
     */
    function setImageProps(dataPath, imageProp = '', altProp = '') {
        let imageObj = {};
        let resultAlt = altProp;
        const isDataPathString = _.isString(dataPath);
        const imagePropIsPath =
            (_.isString(imageProp) && /^(media|uploads)/.test(imageProp) && /\..+/.test(imageProp)) ||
            isAbsoluteUrl(imageProp);

        if (isDataPathString && !_.isObject(imageProp) && !imagePropIsPath && !altProp) {
            if (isAbsoluteUrl(dataPath)) {
                imageObj.external = dataPath;
            } else {
                const imagePath = dataPath.split('/');
                imageObj.relative = imagePath.slice(-2).join('/');
                imageObj.root = imagePath.slice(0, -2).join('/');
            }
            resultAlt = imageProp;
        } else if (_.isObject(dataPath)) {
            imageObj = dataPath;
            resultAlt = imageProp;
        } else if (_.isObject(imageProp)) {
            imageObj = imageProp;
        }

        if (imagePropIsPath) {
            if (isAbsoluteUrl(imageProp)) {
                imageObj.external = imageProp;
            } else {
                imageObj.relative = imageProp;
            }
        }

        if (_.isUndefined(imageObj.root)) {
            imageObj.root = _.ifElse(!imageObj.external && isDataPathString, dataPath, '');
        }
        if (imageObj.root && (imageObj.root.split(path.sep).length === 1) && !imageObj.root.startsWith('~')) {
            imageObj.root = `~${imageObj.root}`;
        }

        imageObj.src = imageObj.external || (imageObj.relative && transformInlineSrc(composeUrl(imageObj.root, imageObj.relative)))
        if (!imageObj.src) return null;

        if (_.isUndefined(imageObj.alt)) {
            imageObj.alt = removeHtml(resultAlt);
        }

        return imageObj;
    }

    /**
     * @function functions#checkMixin
     * @desc Проверяет наличие миксина.
     * @param {string} mixinName - Название проверяемого миксина.
     * @returns {boolean} Существует ли миксин с таким названием.
     * @example
     * mixin definedMixin
     *     block
     * div(class=checkMixin('definedMixin') ? 'is-mixin' : 'not-mixin') definedMixin
     * div(class=checkMixin('undefinedMixin') ? 'is-mixin' : 'not-mixin') undefinedMixin
     */
    function checkMixin(mixinName) {
        return pug_mixins[mixinName];
    }

    let idCounter = 0;

    /**
     * @function functions#uniqueId
     * @desc Генерирует число, не совпадающее с числами, генерируемыми предыдущими вызовами этой функции.
     * @returns {number} Уникальное число.
     * @readonly
     * @example
     * div= uniqueId()
     * div= uniqueId()
     * div= uniqueId()
     */
    function uniqueId() {
        idCounter += 1;
        return idCounter;
    }

    /**
     * @function functions#classesSetup
     * @desc Настраивает свойства классов для настроек миксина.
     * @param {Object} configObj - Объект настроек миксина.
     * @example
     * include /components/bem/template.pug
     * -
     *     const mixinConfig = {};
     *     classesSetup(mixinConfig);
     * +b(mixinConfig)
     *     = mixinConfig.classes
     *     br
     *     = mixinConfig.class
     *
     * @example
     * include /components/bem/template.pug
     * -
     *     const mixinConfig = {class: 'custom-class'};
     *     classesSetup(mixinConfig);
     * +b(mixinConfig)
     *     = mixinConfig.classes
     *     br
     *     = mixinConfig.class
     */
    function classesSetup(configObj) {
        configObj.classes = configObj.classes ? _.castArray(configObj.classes) : [];
        configObj.class = _.isString(configObj.class) ? {block: configObj.class} : (configObj.class || {});
    }

//-TODO:dummyPhoto func
//-
    $svg = '
        <svg width="'.$width.'" height="'.$height.'" xmlns="http://www.w3.org/2000/svg" style="background:#eee">
        <text x="50%" y="50%" font-size="'.$fontSize.'" text-anchor="middle" alignment-baseline="middle" font-family="monospace, sans-serif" fill="#333">'.$text.'</text>
        </svg>';
    $img = 'data:image/svg+xml;base64,' . base64_encode($svg);