-
    /**
     * @file Различные глобальные переменные.
     * @ignore
     */

    /**
     * @typedef {string} tag='div' - HTML-тег.
     */

    //Переменные HTML-тегов
    const a = 'a';
    const abbr = 'abbr';
    const address = 'address';
    const area = 'area';
    const article = 'article';
    const aside = 'aside';
    const audio = 'audio';
    const b = 'b';
    const base = 'base';
    const bdi = 'bdi';
    const bdo = 'bdo';
    const blockquote = 'blockquote';
    const br = 'br';
    const button = 'button';
    const canvas = 'canvas';
    const caption = 'caption';
    const cite = 'cite';
    const code = 'code';
    const colgroup = 'colgroup';
    const col = 'col';
    const datalist = 'datalist';
    const dd = 'dd';
    const del = 'del';
    const details = 'details';
    const dfn = 'dfn';
    const dialog = 'dialog';
    const div = 'div';
    const dl = 'dl';
    const dt = 'dt';
    const em = 'em';
    const embed = 'embed';
    const fieldset = 'fieldset';
    const figcaption = 'figcaption';
    const figure = 'figure';
    const footer = 'footer';
    const form = 'form';
    const h1 = 'h1';
    const h2 = 'h2';
    const h3 = 'h3';
    const h4 = 'h4';
    const h5 = 'h5';
    const h6 = 'h6';
    const header = 'header';
    const hr = 'hr';
    const i = 'i';
    const iframe = 'iframe';
    const img = 'img';
    const input = 'input';
    const ins = 'ins';
    const kbd = 'kbd';
    const label = 'label';
    const legend = 'legend';
    const li = 'li';
    const link = 'link';
    const main = 'main';
    const map = 'map';
    const mark = 'mark';
    const menu = 'menu';
    const menuitem = 'menuitem';
    const meta = 'meta';
    const meter = 'meter';
    const nav = 'nav';
    const noscript = 'noscript';
    const object = 'object';
    const ol = 'ol';
    const optgroup = 'optgroup';
    const option = 'option';
    const output = 'output';
    const p = 'p';
    const param = 'param';
    const picture = 'picture';
    const pre = 'pre';
    const progress = 'progress';
    const q = 'q';
    const rp = 'rp';
    const rt = 'rt';
    const ruby = 'ruby';
    const s = 's';
    const samp = 'samp';
    const script = 'script';
    const section = 'section';
    const select = 'select';
    const small = 'small';
    const source = 'source';
    const span = 'span';
    const strong = 'strong';
    const style = 'style';
    const sub = 'sub';
    const summary = 'summary';
    const sup = 'sup';
    const svg = 'svg';
    const table = 'table';
    const tbody = 'tbody';
    const td = 'td';
    const textarea = 'textarea';
    const tfoot = 'tfoot';
    const th = 'th';
    const thead = 'thead';
    const time = 'time';
    const tr = 'tr';
    const track = 'track';
    const u = 'u';
    const ul = 'ul';
    const video = 'video';
    const wbr = 'wbr';

    //Другие переменные

    //БЭМ-типы
    const be = 'be';
    const e = 'e';

    //Часто используемые классы
    const container = 'container';
    const containerFluid = 'container-fluid';
    const row = 'row';
    const colAuto = 'col-auto';
    const srOnly = 'sr-only';

    //Другие переменые
    const empty = 'empty';
    const jv = 'javascript:void(0)';
    const langJsPath = 'window.lang';

    //Вспомогательные коллекции
    //Языки
    const languages = {
        be: 'Беларуская',
        de: 'Deutsch',
        en: 'English',
        fr: 'Français',
        kz: 'Қазақша',
        ru: 'Русский',
        sp: 'Español',
        ua: 'Українська'
    };

    //Переменые для циклов
    const alphabet = {};

    //Даты
    const currentDate = new Date().getTime();

    const months = {};
    const weekdays = {};
    const weekdaysShort = {};

    const encoding = globalConfig.encoding;
    const modules = JSON.parse(fs.readFileSync(
        path.join(globalConfig.templatesRoot, 'src', 'base', 'scripts', 'preload-modules.json'),
        encoding)
    );