-
    /**
     * @file Файл с глобальными настройками проекта.
     * @ignore
     */

    //Домены
    /**
     * @member {string} locals.globalConfig#siteDomain
     * @desc Домен сайта.
     */
    globalConfig.siteDomain = 'box.com';

    /**
     * @member {string} locals.globalConfig#emailDomain
     * @desc Почтовый домен сайта.
     */
    globalConfig.emailDomain = globalConfig.siteDomain;

    //Языки
    /**
     * @member {Object} locals.globalConfig#projectLanguages
     * @desc Список используемых на сайте языков.
     * @property {string} en='English'
     * @property {string} ru='Русский'
     */
    globalConfig.projectLanguages = {
        en: languages.en,
        ru: languages.ru
    };

    /**
     * @member {string} locals.globalConfig#defaultLanguage
     * @desc Запасной язык (в случае, если не найден файл перевода основного языка).
     */
    globalConfig.fallbackLanguage = 'en';

    //Основные контакты
    /**
     * @member {Array.<string>} locals.globalConfig#phones
     * @desc Коллекция используемых на сайте телефонов.
     */
    globalConfig.phones = [
        '8 800 123-45-67',
        '8 (495) 123-45-67'
    ];

    /**
     * @member {Array.<string>} locals.globalConfig#emails
     * @desc Коллекция используемых на сайте адресов электронной почты.
     */
    globalConfig.emails = [
        `info@${globalConfig.emailDomain}`
    ];

    /**
     * @member {string} locals.globalConfig#addressContent
     * @desc Текст адреса, используемого на сайте.
     */
    globalConfig.addressContent = 'Адрес компании';

    /**
     * @member {string} locals.globalConfig#ymapsApikey
     * @desc API-ключ для инициализации яндекс карт.
     */
    globalConfig.ymapsApikey = '8d98ba53-3b6d-4869-ae01-2eafe3f32a2f';

    /**
     * @member {string} locals.globalConfig#gmapsApikey
     * @desc API-ключ для инициализации карт Google.
     */
    globalConfig.gmapsApikey = 'AIzaSyDCgArix6diJwCToFgNcbDATib9ZrgYcBo';

//-TODO:ymapsApikey & gmapsApikey from webpack