-
    /**
     * @file Импорты для рендера шаблонов в документации.
     * @ignore
     */

include /components/bem/template.pug
include /components/button/template.pug
include /components/form/template.pug
include /components/image/template.pug
include /components/input/template.pug
include /components/link/template.pug
include /components/list/template.pug
include /components/svg/template.pug