-
    /**
     * @file Главный подключаемый файл с базовыми импортами.
     * @ignore
     */

//-TODO:docs @requires, @link for imports

//-Предварительные импорты
include config.pug
include globals.pug
include global-config.pug
include functions.pug
include mixins.pug

//-Импорт основного файла с импортами
if globalConfig.isDocs
    include includes-docs.pug
else
    include /components/includes.pug
    include /layout/includes.pug