-
    /**
     * @file Вспомогательные миксины.
     * @ignore
     */

    /**
     * @namespace mixins
     * @desc Миксины.
     */

    /**
     * @namespace components
     * @memberof mixins
     * @desc Миксины компонентов.
     */

    /**
     * @namespace layout
     * @memberof mixins
     * @desc Миксины компонентов разметки.
     */

    /**
     * @function mixins#empty
     * @desc Пустой миксин, просто выводит контент.
     * @example
     * - const isEmpty = false
     * +#{isEmpty ? empty : b}.block
     *     span Контент в контейнере
     *
     * @example
     * - const isEmpty = true
     * +#{isEmpty ? empty : b}.block
     *     span Контент без контейнера
     */
mixin empty
    block

-
    /**
     * @function mixins#preload
     * @desc Добавляет скрипт для добавления тегов отложенной загрузки группы файлов модулей.
     * @param {string} chunkName - Название группы файлов без расширения.
     * @param {boolean} [onlyScripts] - Скрипт будет добавлять только тег предзагрузки скрипта.
     * @example
     * - globalConfig.isDist = true;
     * +preload('catalog')
     *
     * @example
     * - globalConfig.isDist = true;
     * +preload('catalog', true)
     */
mixin preload(chunkName, isOnlyScripts)
    - if (!chunkName) return;

    if globalConfig.isDist && !globalConfig.isSyncModules
        - const preloadArgs = `'${chunkName}'${isOnlyScripts ? ', false' : ''}`;
        script(type='module', data-skip-moving='true')
            != `window.app.preload(${preloadArgs});`

-
    /**
     * @function mixins#callMixin
     * @desc Проверяет наличие миксина и вызывает его с параметром.
     * @param {string} mixinName - Название вызываемого миксина.
     * @param {*} [param] - Первый параметр миксина.
     * @example
     * mixin testMixin()
     *     div
     *         block
     * +callMixin('testMixin')
     *     span Контент
     */
mixin callMixin(mixinName, param)
    - if (!checkMixin(mixinName)) return;

    +#{mixinName}(param)
        block