@import 'main';

$reset-desktop-width: $input-height-sm + 9 * 2;

.top__controls{
    @include m(orders){
        padding: 0 $container-padding $global-margin * 1.5;
        @media (min-width: $media-lg){
            padding: 0;
        }
        @media (min-width: $media-xl){
            margin-top: $global-margin !important;
        }

        .top-controls{
            &__item{
                flex-basis: auto;
                @media (min-width: $media-sm){
                    flex-basis: col-width(6);
                    min-width: col-width(6);
                    max-width: col-width(6);
                    margin-top: $global-margin;
                }
                @media (min-width: $media-xxl){
                    flex-basis: calc(#{col-width(3)} - #{divide($reset-desktop-width, 4)});
                    min-width: 0;
                    max-width: calc(#{col-width(3)} - #{divide($reset-desktop-width, 4)});
                }
                @include m(reset){
                    @media (min-width: $media-lg) and (max-width: $media-xxl-max){
                        max-width: 100%;
                    }
                    @media (min-width: $media-xxl){
                        min-width: $reset-desktop-width;
                        max-width: $reset-desktop-width;
                    }
                    .top-controls{
                        &__reset{
                            @media (min-width: $media-lg) and (max-width: $media-xxl-max){
                                max-width: none;
                            }
                        }
                        &-reset{
                            &__close{
                                @media (min-width: $media-lg) and (max-width: $media-xxl-max){
                                    width: $input-height-sm;
                                }
                            }
                            &__text{
                                @media (min-width: $media-lg) and (max-width: $media-xxl-max){
                                    display: block;
                                    margin-left: 0;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            &-date{
                &__bottom{
                    @media (min-width: $media-lg){
                        display: none;
                    }
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .orders{
        margin-top: $global-margin * 1.5;
    }
}

.orders{
    //Верхняя часть
    &-top{
        &__toggle{
            margin: 0 (-$container-padding);
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                margin: 0;
            }
            @media (min-width: $media-lg){
                border: none;
            }
        }
        &-toggle{
            &__button{
                display: flex;
                align-items: center;
                min-width: 100%;
                margin-top: 0;
                border-radius: 0;
                font-size: $size-md-px;
                text-align: left;
                text-transform: none;
                @media (min-width: $media-lg){
                    display: none;
                }
                &:hover,
                &:focus{
                    box-shadow: none !important;
                }
                &.active{
                    .orders-top-toggle__icon:last-child{
                        transform: scaleY(-1) translateY(-1px);
                    }
                }
            }
            &__icon{
                display: inline-block;
                &:first-child{
                    margin-right: 7px;
                }
                &:last-child{
                    margin-left: auto;
                    @include transition(transform);
                }
            }
            &__content{
                @media (min-width: $media-lg){
                    display: block !important;
                    height: auto !important;
                    &.toggled.collapse{
                        overflow: visible !important;
                    }
                }
            }
        }
    }

    //Статусы
    @if map-get($global-settings, orderStatuses){
        &__statuses{
            display: flex;
            flex-wrap: wrap;
            padding-top: $global-margin;
            @media (min-width: $media-lg){
                padding-top: $global-margin * .5;
            }
            @include m(dropdown){
                .orders-statuses{
                    &__left{
                        display: none;
                    }
                    &__items{
                        display: none;
                    }
                }
            }
        }
        &-statuses{
            &__left{
                min-width: 100%;
                @media (min-width: $media-lg){
                    display: block;
                    min-width: 0;
                    padding-right: 8px;
                }
            }
            &__button{
                min-width: 100%;
                border-radius: 0;
                text-transform: uppercase;
                @media (min-width: $media-lg){
                    border-radius: $radius-primary;
                }
                @include m(all){
                    @media (min-width: $media-lg){
                        min-width: 84px;
                    }
                }
            }
            &__types{
                flex-basis: auto;
                flex-grow: 1;
            }
            &__dropdown{
                min-width: 100%;
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &-dropdown{
                &__toggle{
                    padding: 0;
                }
                &__icon{
                    margin-left: 8px;
                }
            }
            &__items{
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                @media (min-width: $media-lg){
                    flex-wrap: nowrap;
                }
            }
            &__item{
                position: relative;
                min-width: 100%;
                font-size: $size-sl-px;
                line-height: $btn-height-sm;
                text-align: center;
                @media (min-width: $media-lg){
                    flex: 1 0 col-width(2, 10);
                    min-width: 0;
                }
                &:first-child{
                    .orders-statuses__link{
                        @media (min-width: $media-lg){
                            border-top-left-radius: $radius-primary;
                            border-bottom-left-radius: $radius-primary;
                        }
                    }
                }
                &:last-child{
                    .orders-statuses__link{
                        @media (min-width: $media-lg){
                            border-top-right-radius: $radius-primary;
                            border-bottom-right-radius: $radius-primary;
                        }
                    }
                }
                &:not(:last-child){
                    .orders-statuses__link{
                        @include before-after{
                            top: 50%;
                            z-index: 1;
                            transform: translateY(-50%) rotate(45deg) skew(7.5deg, 7.5deg);
                            @include transition(background);
                            @media (min-width: $media-lg){
                                width: 54px;
                                height: 54px;
                            }
                        }
                    }
                }
                &.active{
                    .orders-statuses__link{
                        color: $white;
                        background: $color-primary;
                        pointer-events: none;
                        &::before{
                            background: $color-primary;
                        }
                    }
                }
            }
            &__link{
                display: block;
                color: $text-primary;
                text-decoration: none !important;
                background: $grey-lightest;
                @at-root a.orders-statuses__link{
                    &:hover,
                    &:focus{
                        color: $white;
                        background: $color-primary;
                        &::before{
                            background: $color-primary;
                        }
                    }
                }
                &::before{
                    right: -15px;
                    z-index: 1;
                    @include border-top($white, 9px);
                    @include border-right($white, 9px);
                    background: $grey-lightest;
                    @include transition(background);
                }
                &::after{
                    right: -16px;
                    @include border-top($white, 9px);
                    @include border-right($white, 9px);
                }
            }
            &__text{
                position: relative;
                z-index: 2;
                @media (min-width: $media-lg){
                    padding-left: 11px;
                }
            }
        }
    }

    //Таблица
    &__table{
        margin: 0 (-$container-padding);
        @include border-bottom($border-secondary);
        @media (min-width: $media-md){
            margin: 0;
        }
        @media (min-width: $media-lg){
            margin-top: $global-margin * 2;
        }
    }
    &-table{
        &__table,
        &__thead,
        &__tbody,
        &__header-cell,
        &__cell{
            display: block;
        }
        &__table{
            margin-top: 0;
            @media (min-width: $media-lg){
                display: table;
                min-width: 100%;
            }
        }
        &__tbody{
            @media (min-width: $media-lg){
                display: table-row-group;
            }
        }
        &__row{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: $global-margin * 3.25 $container-padding - $global-padding $global-margin;
            @include border-top($border-secondary);
            @media (min-width: $media-lg){
                display: table-row;
                padding: 0;
            }
        }
        &__cell{
            min-width: col-width(6);
            max-width: col-width(6);
            padding: 0 $global-padding;
            @media (min-width: $media-lg){
                display: table-cell;
                min-width: 0;
                padding: $global-margin * 1.75 $global-padding $global-margin * 1.25;
            }
            @include m(name){
                @media (min-width: $media-lg){
                    position: relative;
                    padding-left: $global-padding * 3.5;
                }
            }
            @include m(status){
                margin-top: $global-margin;
                color: $text-primary;
                font-size: $size-md-px;
            }
            @if map-get($global-settings, manager){
                @include m(manager){
                    margin-top: $global-margin * 1.25;
                    @media (min-width: $media-lg){
                        width: 110px;
                        text-align: center;
                    }
                }
            }
            @include m(actions){
                margin-top: $global-margin * 1.25;
                @media (min-width: $media-lg){
                    width: $btn-height + 9 * 2;
                    text-align: center;
                }
            }
        }
        &__link{
            color: $grey-darker;
            font-size: $size-primary-px;
            font-weight: $weight-semibold;
            text-decoration: none;
        }
        &__date{
            position: absolute;
            top: $global-margin * 1.25;
            left: $container-padding;
            padding: 1px 10px 2px;
            font-size: $size-sm-px;
            background: palette(info, bg);
            @media (min-width: $media-lg){
                top: -1px;
                left: 0;
                border-bottom-right-radius: $radius-primary;
            }
            @include m(reserve){
                color: $black;
                background: palette(warning, bg);
            }
        }
        &-sum{
            &__text{
                display: inline-block;
                color: $grey-darker;
                font-size: $size-md-px;
                white-space: nowrap;
                .penny{
                    &::before{
                        content: '.';
                    }
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }
        &__pretension{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: flex-start;
            margin: $global-margin * .5 calc(-100% - #{$global-padding * 2}) 0 0;
            @media (min-width: $media-lg){
                position: absolute;
                top: calc(#{$global-margin * 1.75} + 1px);
                left: 10px;
                margin: 0;
            }
        }
        &-pretension{
            &__icon{
                position: relative;
                display: flex;
                align-items: center;
                color: $color-danger;
                @include before{
                    @media (min-width: $media-lg){
                        top: 50%;
                        left: 50%;
                        width: 40px;
                        height: 40px;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            &__popover{
                margin-top: -4px;
                padding-left: $global-padding;
                @media (min-width: $media-lg){
                    display: none;
                }
                @at-root .popover{
                    @include m(pretension){
                        .orders-table-pretension__popover{
                            display: block;
                        }
                    }
                }
            }
            &-popover{
                &__content{
                    mark{
                        color: palette(primary, light);
                    }
                }
                &__link{
                    text-decoration: underline;
                    &:hover,
                    &:focus{
                        text-decoration: none;
                    }
                }
            }
        }
        &__payment{
            font-size: $size-md-px;
        }
        &-payment{
            &__status{
                color: $grey-darker;
                @include m(unpaid){
                    color: palette(danger, color);
                }
                @include m(cancelled){
                    color: $color-comment;
                }
                span{
                    white-space: nowrap;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__link{
                color: $color-primary;
                text-decoration: underline;
                @include m(cancelled){
                    color: $color-comment;
                }
                &:hover,
                &:focus{
                    text-decoration: none;
                }
            }
        }
        &__progress{
            position: relative;
            width: 84px;
            height: 4px;
            margin-bottom: 3px;
            background: $grey-midlighter;
        }
        &-progress{
            &__bar{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: palette(primary, light);
            }
            &__grid{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: calc(100% + 1px);
                color: $white;
            }
        }
        &__actions{
            @media (min-width: $media-lg){
                position: relative;
            }
            @include before{
                top: 50%;
                left: -$global-padding;
                transform: translateY(-50%);
                @media (min-width: $media-lg){
                    height: $btn-height-sm;
                    @include border-left($border-secondary);
                }
            }
        }
        &-actions{
            &__button{
                width: $btn-height;
                height: $btn-height;
                margin-left: -5px;
                padding: 0;
                overflow: hidden;
                border: none;
                color: $grey-light;
                background: none;
                @include transition(color);
                @media (min-width: $media-lg){
                    margin-left: 0;
                }
                &:hover,
                &:focus,
                &.active{
                    color: $color-primary;
                }
            }
            &__dots{
                display: flex;
                justify-content: space-between;
                width: 28px;
                margin: -18px auto 0;
                font-size: rem-px(36px);
                line-height: $btn-height;
                &::before,
                &::after{
                    content: '.';
                }
            }
            &__popover{
                display: none;
            }
            &__items{
                padding: $global-margin * .5 $global-padding;
            }
            &__item{
                &:not(:first-child){
                    @include border-top(rgba($white, .1));
                }
                &:not(:last-child){
                    @include border-bottom(rgba($black, .1));
                }
            }
            &__link{
                display: block;
                padding: 7px 10px;
                color: $white;
                font-size: $size-sm-px;
                font-weight: $weight-semibold;
                text-decoration: none !important;
                &:focus,
                &:hover{
                    color: rgba($white, .7);
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, light);
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 9px;
                text-decoration: none !important;
            }
            @at-root .popover{
                @include m(orders-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: palette(primary, light);
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .orders-table-actions__popover{
                        display: block;
                    }
                }
            }
        }
    }

    //Подвал
    &__bottom{
        display: flex;
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-md){
            margin-top: $global-margin * 3;
        }
        .pagination{
            @media (min-width: $media-md){
                margin-top: -$global-margin * 1.5;
            }
        }
    }
}