include /components/alert/template.pug
include /components/collapse/template.pug
include /components/dropdown/template.pug
include /components/float-label/template.pug
include /components/money/template.pug
include /components/pagination/template.pug
include /components/popup/template.pug
include /components/table/template.pug

include /layout/agreement-link/template.pug
include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#ordersControls
     * @requires mixins.layout#personalControls
     * @desc Верхние элементы управления на странице списка заказов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {number} [config.current=0] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.ordersModifier='orders-top'] - .
     */
mixin ordersControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders-top';

        _.defaultsDeep(config, {
            current: 0,
            class: {
                ordersModifier: mixinClass
            }
        });

        const ordersStatuses = [
            'Активные',
            'Отменённые'
        ];

        if (config.class.ordersModifier) {
            setBlockClass(attributes, config.class.ordersModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +e({
            modifiers: ['item', 'buttons'],
            classes: col
        })
            +e({
                modifiers: 'buttons',
                classes: 'input-group'
            })
                each item, index in ordersStatuses
                    div(class=((index === config.current) ? 'input-group-prepend' : 'input-group-append'))
                        +button({
                            tag: a,
                            color: 'secondary',
                            outline: true,
                            size: 'sm',
                            classes: (index === config.current) ? 'active' : '',
                            href: page.name,
                            content: item
                        })

            block

-
    /**
     * @function mixins.layout#ordersStatuses
     * @requires mixins.components#dropdown
     * @desc Блок списка статусов на странице списка заказов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='orders'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.href='orders'] - .
     * @param {boolean} [config.dropdown] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='statuses'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.dropdown='dropdown'] - .
     */
mixin ordersStatuses(config)
    -
        if (!globalConfig.settings.orderStatuses) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'statuses';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'orders',
            href: 'orders',
            class: {
                mixinClass,
                dropdown: 'dropdown'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const statuses = config.data.status;
        const statusesArray = ['Все'];
        Object.keys(statuses).forEach(status => {
            statusesArray.push(statuses[status]);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.dropdown) blockClasses.push(config.class.dropdown);
        setBlockClass(attributes, blockClasses);

    //-html
    +b(config)&attributes(attributes)
        +e.left
            +button({
                modifiers: 'all',
                color: 'primary',
                outline: true,
                size: 'sm',
                href: config.href,
                content: 'Все'
            })

        +e.types
            if config.dropdown
                +dropdown({
                    data: statusesArray,
                    activeItem: 2,
                    link: {
                        href
                    },
                    buttonAfterSprite: {
                        id: 'arrow',
                        width: 10
                    },
                    class: {
                        toggleAdd: ['btn', 'btn-outline-secondary', 'btn-sm']
                    }
                })

            +e.items
                each item, index in statusesArray.slice(1)
                    +e({
                        modifiers: 'item',
                        classes: (index === 2) ? 'active' : ''
                    })
                        +link({
                            tag: (index === 2) ? span : a,
                            href: config.href
                        })
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: item
                            })

        block

-
    /**
     * @function mixins.layout#ordersTop
     * @requires mixins.components#collapse
     * @requires mixins.layout#personalControls
     * @desc Верхняя часть страницы списка заказов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Array.<string>} [config.controls=['reset', 'orders', 'date', 'managers', 'search']] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersTop(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            controls: {
                modifiers: 'orders',
                controls: [
                    'reset',
                    'orders',
                    'date',
                    'managers',
                    'search'
                ],
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +collapse({
            id: 'orders-filter',
            button: {
                content: 'Фильтр по заказам',
                prevIcon: {
                    sprite: 'controls'
                },
                icon: {
                    sprite: {
                        id: 'arrow',
                        width: 10
                    }
                }
            },
            class: {
                buttonAdd: ['btn', 'btn-white', 'btn-lg']
            }
        })
            +r('orders')
                +ordersStatuses

                if !config.empty
                    +personalControls(config.controls)

                block

-
    /**
     * @function mixins.layout#ordersTable
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @requires mixins.layout#pretensionPopup
     * @desc Таблица списка заказов в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='orders'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.pretensionPopup=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'orders',
            pretensionPopup: true,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const statuses = config.data.status;
        const statusesArray = ['Все'];
        Object.keys(statuses).forEach(status => {
            statusesArray.push(statuses[status]);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +table({
            dataTable: 'false',
            tableClass: false
        })
            +tableHead({classes: srOnly})
                +tableRow
                    +tableCell({
                        header: true,
                        modifiers: 'name',
                        content: 'Наименование'
                    })
                    +tableCell({
                        header: true,
                        modifiers: 'payment',
                        content: 'Оплата'
                    })
                    +tableCell({
                        header: true,
                        modifiers: 'status',
                        content: 'Статус'
                    })
                    if globalConfig.settings.manager
                        +tableCell({
                            header: true,
                            modifiers: 'manager',
                            content: 'Менеджер'
                        })
                    +tableCell({
                        header: true,
                        modifiers: 'actions',
                        content: 'Действия'
                    })

            +tableBody
                each item, index in items
                    +tableRow
                        +tableCell({modifiers: 'name'})
                            +link({
                                href: 'orders-detail',
                                content: item.title
                            })
                            +be.sum
                                +e({
                                    modifiers: 'text',
                                    content: money.formatPrice(item.sum)
                                })
                            +e({
                                modifiers: ['date', (item.status === 'reserve') ? 'reserve' : ''],
                                content: item.date
                            })

                            if index === 1
                                +be({modifiers: 'pretension'})
                                    +e.icon
                                        +sprite({
                                            id: 'info-circle',
                                            width: 23
                                        })
                                    +be.popover
                                        +e.title Подана рекламация
                                        +e.content
                                            +e.text!= 'Статус: <mark>на рассмотрении</mark>'
                                            +link({
                                                href: 'pretensions-detail',
                                                content: 'Подробнее'
                                            })

                        +tableCell({modifiers: 'payment'})
                            +be({modifiers: 'payment'})
                                +be({modifiers: ['status', item.payment]})
                                    case item.payment
                                        when 'unpaid'
                                            if item.surcharge
                                                != `К доплате: <span>${money.formatPrice(item.surcharge)}</span>`
                                            else
                                                | Не оплачен
                                        when 'paid'
                                            | Оплачен
                                        when 'cancelled'
                                            | Отменён
                                +link({
                                    download: true,
                                    content: 'скачать счёт',
                                    modifiers: (item.payment === 'cancelled') ? item.payment : ''
                                })

                        +tableCell({modifiers: 'status'})
                            if item.status === 'reserve'
                                | Снятие резерва#[br]04.03.2018
                            else
                                -
                                    const barLength = 84;
                                    const statusesNum = statusesArray.length - 1;
                                    const currentStatusNum = statusesArray.findIndex(element => {
                                        return element === config.data.status[item.status];
                                    });
                                    const gridCellWidth = Math.ceil(barLength / statusesNum);

                                +be({
                                    modifiers: 'progress',
                                    attrs: {
                                        style: `width: ${barLength}px;`,
                                        role: 'presentation'
                                    }
                                })
                                    +e({
                                        modifiers: 'bar',
                                        attrs: {
                                            style: `width: ${Math.floor((currentStatusNum / statusesNum) * 100)}%;`
                                        }
                                    })
                                    +e({
                                        modifiers: 'grid',
                                        attrs: {
                                            style: `background: repeating-linear-gradient(to right, transparent, transparent ${gridCellWidth - 2}px, currentColor ${gridCellWidth - 2}px, currentColor ${gridCellWidth}px)`
                                        }
                                    })
                                +be({
                                    modifiers: 'status',
                                    content: config.data.status[item.status]
                                })

                        if globalConfig.settings.manager
                            +tableCell({modifiers: 'manager'})
                                +avatar({dataIndex: (index === 1) ? 2 : 0})

                        +tableCell({modifiers: 'actions'})
                            +be.actions
                                +button({title: 'Показать действия'})
                                    +e({
                                        tag: span,
                                        modifiers: 'dots',
                                        content: '.'
                                    })
                                +e.popover
                                    +e.items
                                        each actionItem, actionIndex in config.data.actions
                                            - const isPretension = (actionItem.content === 'Подать рекламацию');
                                            +e.item
                                                +link({
                                                    href: actionItem.href || jv,
                                                    modifiers: actionItem.class,
                                                    role: isPretension && 'button',
                                                    attrs: {
                                                        dataPopup: isPretension ? '' : null
                                                    }
                                                })
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'icon'
                                                    })
                                                        +sprite(actionItem.sprite)
                                                    +e({
                                                        tag: span,
                                                        modifiers: 'text',
                                                        content: actionItem.content
                                                    })

        if config.pretensionPopup
            +pretensionPopup

//-TODO:pretension popup
-
    /**
     * @function mixins.layout#pretensionPopup
     * @requires mixins.components#floatLabel
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.layout#agreementLink
     * @desc Попап создания новой претензии в списке заказов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.id='popup-pretension'] - .
     */
mixin pretensionPopup(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            id: 'popup-pretension'
        });

    //-html
    +popup(config)&attributes(attributes)
        +popupHeader({
            idPrefix: config.id,
            content: 'Рекламация по заказу №12651',
            subtitle: 'Опишите подробно проблему и прикрепите фотографии'
        })

        +popupContent
            +form({
                type: b,
                baseForm: true
            })
                +formGroup
                    +label({
                        for: 'pretension-message',
                        content: 'Описание',
                        required: true
                    })
                    +e.input-container
                        +input({
                            tag: textarea,
                            formControl: true,
                            id: 'pretension-message',
                            name: 'MESSAGE',
                            validate: 'required'
                        })

                +formGroup
                    +label({
                        for: 'pretension-files',
                        content: 'Выберите фотографии'
                    })
                    +e.input-container
                        +fileInput({
                            id: 'pretension-files',
                            classes: 'w-100',
                            multiple: true,
                            accept: '.jpg,.jpeg,.png',
                            preview: true,
                            filename: true,
                            dataInit: true,
                            dropzone: true
                        })

                +formGroup
                    +button({
                        modifiers: 'submit',
                        classes: 'w-100',
                        color: 'primary',
                        buttonType: 'submit',
                        content: 'Отправить'
                    })

                block

-
    /**
     * @function mixins.layout#ordersBottom
     * @requires mixins.components#pagination
     * @desc Нижняя часть страницы списка заказов в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +pagination({
            nav: {
                content: false,
                sprite: {
                    id: 'arrow',
                    width: 10
                }
            }
        })

        block

-
    /**
     * @function mixins.layout#orders
     * @requires mixins.components#alert
     * @desc Список заказов в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='orders'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='orders'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orders(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'orders',
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +ordersTop({
                data: config.data,
                dataPath: config.dataPath,
                empty: config.empty
            })

            if config.empty
                +alert({color: 'light'}) Ваш список заказов пуст
            else
                +ordersTable({
                    data: config.data,
                    dataPath: config.dataPath
                })

                +ordersBottom

            block