include /components/popup/template.pug

include /layout/top-controls/template.pug

-
    /**
     * @function mixins.layout#cartControls
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.layout#topControls
     * @desc Элементы управления страницы корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.cartType='cart'] - .
     * @param {string} [config.popupId='popup-cart-clear'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.cartModifier='cart'] - .
     */
mixin cartControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'cart';

        _.defaultsDeep(config, {
            cartType: 'cart',
            popupId: 'popup-cart-clear',
            class: {
                cartModifier: mixinClass
            }
        });

        if (config.class.cartModifier) {
            setBlockClass(attributes, config.class.cartModifier);
        }

        const isCart = (config.cartType === 'cart');

    //-html
    +topControls(config)&attributes(attributes)
        +be({
            classes: col,
            modifiers: ['item', 'clear']
        })
            +link({
                href: `#${config.popupId}`,
                role: 'button'
            })
                +sprite#trash
                = `Очистить ${isCart ? 'корзину' : 'отложенные'}`

            +popup({
                modifiers: 'small',
                id: config.popupId
            })
                +popupHeader({
                    classes: srOnly,
                    idPrefix: config.popupId,
                    content: `Очистка ${isCart ? 'корзины' : 'отложенных'}`
                })

                +popupContent
                    +e({
                        modifiers: 'title',
                        content: `Вы действительно хотите удалить все товары из ${isCart ? 'корзины' : 'отложенных'}?`
                    })

                    +e.buttons
                        +button({
                            modifiers: 'clear',
                            color: 'primary'
                        })
                            +sprite#trash
                            | Удалить

                        +button({
                            modifiers: 'cancel',
                            content: 'Отмена',
                            color: 'secondary',
                            attrs: {
                                dataPopupClose: ''
                            }
                        })

        block