@import 'main';

//Контентные стили попапов
.popup{
    //Хедер
    &__header{
        &.sr-only{
            + .popup__content{
                margin-top: 0;
            }
        }
        @include m(center){
            text-align: center;
        }
    }
    &-header{
        &__icon{
            margin-bottom: $global-margin;
            text-align: center;
            @include m(success){
                color: $color-success;
            }
            @include m(error){
                color: $color-danger;
            }
        }
        &__title{
            margin: 0;
            padding: 0 20px;
            font-family: $header-font;
            font-size: $size-h2;
            font-weight: $header-weight;
            line-height: $header-line-height;
            text-align: center;
            @media (min-width: $media-md){
                padding: 0;
            }
        }
        &__subtitle{
            margin-top: $global-margin * .5;
            text-align: center;
        }
    }

    //Контент
    &__content{
        &:not(:first-child){
            margin-top: $global-margin * 2;
        }
    }

    //Заголовок
    &__title{
        padding: 0 20px;
        text-align: center;
    }

    //Текст
    &__text{
        @include m(center){
            text-align: center;
        }
    }

    //Кнопки
    &__buttons{
        text-align: center;
    }
    &__button{
        width: 100%;
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-xs){
            width: auto;
        }
        svg{
            position: relative;
            top: -1px;
            margin-right: 6px;
        }
        + .popup__button{
            @media (min-width: $media-xs){
                margin-left: $global-padding * 2;
            }
        }
    }
}