include /components/popup/template.pug

include /layout/form/template.pug

include ./cookie-alert/template.pug

-
    /**
     * @function mixins.layout#popups
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.layout#authForm
     * @requires mixins.layout#authRegisterForm
     * @requires mixins.layout#callbackForm
     * @requires mixins.layout#registerForm
     * @requires mixins.layout#restorepassForm
     * @desc Блок попапов, подключаемых внизу страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.popupPrefix='popup-'] - .
     * @param {Object} [config.popupIds={}] - .
     * @param {string} [config.popupIds.callback=`${config.popupPrefix}callback`] - .
     * @param {string} [config.popupIds.auth=(page.type === 'form') ? `${config.popupPrefix}auth` : false] - .
     * @param {string} [config.popupIds.authRegister=`${config.popupPrefix}auth-register`] - .
     * @param {string} [config.popupIds.register=(page.type === 'form') ? `${config.popupPrefix}register` : false] - .
     * @param {string} [config.popupIds.restorepass=`${config.popupPrefix}restorepass`] - .
     */
mixin popups(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            popupPrefix: 'popup-',
            popupIds: {}
        });

        if (_.isPlainObject(config.popupIds)) {
            _.defaults(config.popupIds, {
                callback: `${config.popupPrefix}callback`,
                auth: (page.type === 'form') ? `${config.popupPrefix}auth` : false,
                authRegister: `${config.popupPrefix}auth-register`,
                register: (page.type === 'form') ? `${config.popupPrefix}register` : false,
                restorepass: `${config.popupPrefix}restorepass`
            });
        } else {
            config.popupIds = {};
        }

    //-html
    //-Попап обратного звонка
    if config.popupIds.callback
        +popup({id: config.popupIds.callback})
            +popupHeader({
                idPrefix: config.popupIds.callback,
                content: 'Перезвоните мне'
            })

            +popupContent
                +callMixin('callbackForm', {idPrefix: config.popupPrefix})

    //-Попап авторизации
    if globalConfig.settings.personal && config.popupIds.auth
        +popup({id: config.popupIds.auth})
            +popupHeader({
                idPrefix: config.popupIds.auth,
                content: 'Авторизация'
            })

            +popupContent
                +callMixin('authForm', {idPrefix: config.popupPrefix})

    //-Попап авторизации и регистрации
    if globalConfig.settings.personal && config.popupIds.authRegister
        +popup({
            id: config.popupIds.authRegister,
            modifiers: 'medium'
        })
            +popupHeader({
                idPrefix: config.popupIds.authRegister,
                content: 'Авторизация и регистрация'
            })

            +popupContent
                +callMixin('authRegisterForm', {idPrefix: config.popupPrefix})

    //-Попап регистрации
    if globalConfig.settings.register && config.popupIds.register
        +popup({id: config.popupIds.register})
            +popupHeader({
                idPrefix: config.popupIds.register,
                content: 'Регистрация'
            })

            +popupContent
                +callMixin('registerForm', {idPrefix: config.popupPrefix})

    //-Попап восстановления пароля
    if globalConfig.settings.personal && config.popupIds.restorepass
        +popup({id: config.popupIds.restorepass})
            +popupHeader({
                idPrefix: config.popupIds.restorepass,
                content: 'Запрос пароля'
            })

            +popupContent
                +callMixin('restorepassForm', {idPrefix: config.popupPrefix})

    block