@import 'main';

.base-form{
    @include m(auth-register){
        margin-top: $global-margin * 2;
        .form{
            &-tabs{
                &__menu{
                    display: flex;
                    justify-content: center;
                    .nav-link{
                        font-size: $size-lg;
                    }
                }
            }
            &__input-container{
                @include m(nowrap){
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    width: (38px * 6) + (10 * 5);
                    min-width: 0;
                    @media (min-width: $media-sm){
                        width: (46px * 6) + (10 * 5);
                    }
                    .form-control{
                        width: 38px;
                        height: 48px;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: px-rem(21);
                        text-align: center;
                        &:not(:last-of-type){
                            margin-right: 10px;
                        }
                        @media (min-width: $media-sm){
                            width: 46px;
                            height: 58px;
                            font-size: px-rem(28);
                        }
                    }
                    label.is-invalid{
                        position: absolute;
                        top: -28px;
                        right: 0;
                        margin: 0;
                    }
                    ~ label.is-invalid{
                        @include sr-only;
                    }
                }
            }
            &__link{
                @include m(restorepass){
                    position: absolute;
                    top: 5px;
                    right: 0;
                }
            }
            &__button{
                @include m(submit){
                    width: 100%;
                }
            }
        }
    }
}