include /components/check/template.pug
include /components/tabs/template.pug

include /layout/agreement-link/template.pug
include /layout/password-show/template.pug

-
    /**
     * @function mixins.layout#authRegisterForm
     * @requires mixins.components#checkbox
     * @requires mixins.layout#agreementLink
     * @requires mixins.layout#baseForm
     * @requires mixins.layout#passwordShow
     * @desc Форма авторизации. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='auth'] - .
     * @param {boolean} [config.form=false] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.authRegisterModifier='auth-register'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin authRegisterForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'auth-register';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'auth-register',
            form: false,
            class: {
                authRegisterModifier: mixinClass
            }
        });

        if (config.class.authRegisterModifier) {
            setBlockClass(attributes, config.class.authRegisterModifier);
        }

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const idPrefix = `${config.idPrefix + config.id}-`;
        const tabsContent = [
            {
                content: 'По СМС',
                href: `#${config.id}-sms`,
                id: 'sms'
            },
            {
                content: 'По паролю',
                href: `#${config.id}-password`,
                id: 'password'
            }
        ];

    //-html
    +baseForm(config)&attributes(attributes)
        +r('form')
            +tabs({
                data: tabsContent,
                dataInit: true
            })
                each tabItem, index in tabsContent
                    +tabPane({
                        data: tabItem,
                        active: index === 0
                    })
                        if tabItem.id === 'sms'
                            +form({
                                type: b,
                                baseForm: true
                            })
                                +input({
                                    inputType: 'hidden',
                                    id: `${idPrefix}code${config.idPostfix}`,
                                    maxlength: 6,
                                    name: 'SMS_CODE',
                                    modifiers: 'code'
                                })

                                +formGroup
                                    +label({
                                        for: `${idPrefix}phone${config.idPostfix}`,
                                        content: 'Номер телефона',
                                        required: true
                                    })
                                    +e.input-container
                                        +input({
                                            formControl: true,
                                            inputType: 'tel',
                                            id: `${idPrefix}phone${config.idPostfix}`,
                                            name: 'PHONE',
                                            validate: 'required, tel',
                                            autocomplete: 'tel'
                                        })

                                +formGroup
                                    +agreementLink({id: `${idPrefix}agreement-sms${config.idPostfix}`})

                                +formGroup
                                    +label({
                                        for: `${idPrefix}code-1${config.idPostfix}`,
                                        content: 'Код из СМС',
                                        required: true
                                    })
                                    div.w-100
                                        +e.input-container.nowrap
                                            each codeItem, codeIndex in [...Array(6)]
                                                +input({
                                                    formControl: true,
                                                    id: `${idPrefix}code-${(codeIndex + 1) + config.idPostfix}`,
                                                    name: `SMS_CODE_${codeIndex + 1}`,
                                                    maxlength: (6 - codeIndex),
                                                    modifiers: 'code-symbol'
                                                })

                                            +label({
                                                for: `${idPrefix}code-1${config.idPostfix}`,
                                                content: 'Код просрочен',
                                                invalid: true
                                            })

                                    +e.comment Отправить код ещё раз через 26 сек.

                                +formGroup
                                    +button({
                                        modifiers: 'submit',
                                        color: 'primary',
                                        buttonType: 'submit',
                                        content: 'Выслать код'
                                    })

                        else if tabItem.id === 'password'
                            +form({
                                type: b,
                                baseForm: true
                            })
                                +formGroup
                                    +label({
                                        for: `${idPrefix}login${config.idPostfix}`,
                                        content: 'Телефон или email',
                                        required: true
                                    })
                                    +e.input-container
                                        +input({
                                            formControl: true,
                                            inputType: 'email',
                                            id: `${idPrefix}login${config.idPostfix}`,
                                            name: 'EMAIL',
                                            validate: 'required, emailortel',
                                            autocomplete: 'email',
                                            placeholder: 'Введите телефон или email'
                                        })

                                +formGroup
                                    +label({
                                        for: `${idPrefix}password${config.idPostfix}`,
                                        content: 'Пароль',
                                        required: true
                                    })
                                    +e.input-container
                                        +input({
                                            formControl: true,
                                            inputType: 'password',
                                            id: `${idPrefix}password${config.idPostfix}`,
                                            name: 'PASSWORD',
                                            validate: 'required, minlength: 6',
                                            autocomplete: 'current-password',
                                            placeholder: 'Введите пароль'
                                        })

                                        +passwordShow

                                    +link({
                                        href: '#popup-restorepass',
                                        modifiers: 'restorepass',
                                        attrs: {
                                            dataPopup: ''
                                        },
                                        content: 'Забыли пароль?'
                                    })

                                +formGroup
                                    +agreementLink({id: `${idPrefix}agreement-pass${config.idPostfix}`})

                                +formGroup
                                    +button({
                                        modifiers: 'submit',
                                        color: 'primary',
                                        buttonType: 'submit',
                                        content: 'Войти'
                                    })

        block