@import 'main';

//Кнопки

//Расширения
.btn{
    @include btn;

    &-primary{
        @include btn-primary;
    }
    &-outline-primary{
        @include btn-outline-primary;
    }
    &-secondary{
        @include btn-secondary;
    }
    &-outline-secondary{
        @include btn-outline-secondary;
    }
    &-success{
        @include btn-success;
    }
    &-outline-success{
        @include btn-outline-success;
    }
    &-info{
        @include btn-info;
    }
    &-outline-info{
        @include btn-outline-info;
    }
    &-warning{
        @include btn-warning;
    }
    &-outline-warning{
        @include btn-outline-warning;
    }
    &-danger{
        @include btn-danger;
    }
    &-outline-danger{
        @include btn-outline-danger;
    }
    &-light{
        @include btn-light;
    }
    &-outline-light{
        @include btn-outline-light;
    }
    &-dark{
        @include btn-dark;
    }
    &-outline-dark{
        @include btn-outline-dark;
    }
    &-link{
        @include btn-link;
    }

    //Не-бутстраповские
    &-white{
        @include btn-white;
    }
    &-outline-white{
        @include btn-outline-white;
    }
    &-grey{
        @include btn-grey;
    }
    &-outline-grey{
        @include btn-outline-grey;
    }

    @at-root .touch{
        .btn{
            &:hover,
            &:focus{
                box-shadow: none;
            }
        }
    }

    //Размеры
    &-lg{
        @media (min-width: $media-md){
            @include btn-lg;
        }
    }
    &-sm{
        @media (min-width: $media-md){
            @include btn-sm;
        }
    }
}

//Контейнер для кнопок
.btn-block{
    display: block;
    width: 100% !important;
}

//Группы кнопок
.btn-group,
.btn-group-lg,
.btn-group-sm,
.btn-group-vertical{
    margin-top: $global-margin;
    .btn,
    .btn-group{
        margin-top: 0 !important;
    }
}
.btn-group{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
    > .btn,
    > .btn-group{
        &:not(:first-child){
            margin-left: -$btn-border-width;
        }
    }
    > .btn:not(:last-child):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    > .btn:not(:first-child),
    > .btn-group:not(:first-child) > .btn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    > .btn{
        position: relative;
        flex: 1 1 auto;
        &:focus,
        &:active,
        &.active{
            z-index: 1;
        }
    }

    //Группы кнопок
    &-lg{
        > .btn{
            @media (min-width: $media-md){
                @include btn-lg;
            }
        }
    }
    &-sm{
        > .btn{
            @media (min-width: $media-md){
                @include btn-sm;
            }
        }
    }

    &-vertical{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        > .btn,
        > .btn-group{
            width: 100%;
            &:not(:first-child){
                margin-top: -$btn-border-width !important;
            }
        }
        > .btn:not(:last-child):not(.dropdown-toggle),
        > .btn-group:not(:last-child) > .btn{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        > .btn:not(:first-child),
        > .btn-group:not(:first-child) > .btn{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &-responsive{
        padding-bottom: 1px;
        overflow: auto;
        .btn-group{
            flex-wrap: nowrap;
        }
    }
}

[aria-pressed='true']{
    outline: none !important;
}