-
    /**
     * @function mixins.components#button
     * @desc Кнопка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=button]
     * @param {string} [config.buttonType='button'] - Атрибут type кнопки.
     * @param {string} [config.href=jv] - Ссылка кнопки, если она является тегом a.
     * @param {Function} [config.hrefFormat=transformUrl] - Функция форматирования ссылки кнопки.
     * @param {boolean} [config.disabled] - Отключена ли кнопка.
     * @param {boolean} [config.active] - Активна ли кнопка.
     * @param {string} [config.value] - Атрибут value кнопки.
     * @param {string} [config.title] - Атрибут title кнопки.
     * @param {string} [config.color] - Модификатор цветового класса кнопки.
     * @param {string} [config.outline] - Модификатор класса кнопки с обводкой.
     * @param {string} [config.size] - Модификатор класса размера кнопки.
     * @param {string} [config.role] - Атрибут role кнопки.
     * @param {boolean} [config.download] - Атрибут download кнопки.
     * @param {string} [config.target] - Атрибут target кнопки.
     * @param {string} [config.tabindex] - Атрибут tabindex кнопки.
     * @param {boolean} [config.dashed] - Добавлять ли класс link-dashed.
     * @param {boolean} [config.ariaPressed] - Устанавливать ли атрибут aria-pressed.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='button'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.button='btn'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.variantPrefix='btn-'] - Префикс для классов вариантов.
     * @param {bemclasses} [config.class.outlinePrefix='outline-'] - Префикс для класса контура.
     * @param {bemclasses} [config.class.disabled='disabled'] - Класс отключённой кнопки.
     * @param {bemclasses} [config.class.active='active'] - Класс активной кнопки.
     * @param {bemclasses} [config.class.dashed='link-dashed'] - Класс, добавляемый при включённой опции dashed.
     * @example
     * +button({
     *     buttonType: 'submit',
     *     active: true,
     *     value: 'Применить',
     *     color: 'primary',
     *     size: 'lg',
     *     content: 'Применить'
     * })
     *
     * @example <caption>Кнопка без опций color или size</caption>
     * +button({
     *     content: 'Кнопка без дополнительных классов'
     * })
     *
     * @example
     * +button({
     *     tag: a,
     *     color: 'success',
     *     outline: true,
     *     target: '_blank',
     *     dashed: true,
     *     content: 'Ссылка'
     * })
     */
mixin button(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'button';

        _.defaultsDeep(config, {
            type: e,
            tag: button,
            attrs: {},
            href: jv,
            hrefFormat: transformUrl,
            buttonType: 'button',
            class: {
                mixinClass,
                button: 'btn',
                addClass: '',
                variantPrefix: 'btn-',
                outlinePrefix: 'outline-',
                disabled: 'disabled',
                active: 'active',
                dashed: 'link-dashed'
            }
        });

        const isButton = config.tag === button;
        const formattedHref = _.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, config.href) : config.href;
        const tabindex = _.isUndefined(config.tabindex) ? _.ifElse(!isButton && config.disabled, '-1') : config.tabindex;
        const role = config.role || _.ifElse(!isButton && ((config.href === jv) || _.isIndexOf(config.href, '#', 0)), 'button');

        _.defaultsDeep(config, {
            attrs: {
                href: _.ifElse(!isButton, formattedHref),
                type: _.ifElse(isButton || (config.tag === input), config.buttonType),
                disabled: _.ifElse(isButton && config.disabled, ''),
                tabindex,
                value: _.ifElse(isButton, config.value),
                title: removeHtml(config.title) || null,
                role,
                download: config.download ? '' : null,
                target: config.target || null,
                ariaPressed: _.ifElse(config.ariaPressed || config.active, 'true')
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.color || config.size) addClasses.unshift(config.class.button);
        if (config.color) addClasses.push(config.class.variantPrefix + (config.outline ? config.class.outlinePrefix : '') + config.color);
        if (config.size) addClasses.push(config.class.variantPrefix + config.size);
        if (!isButton && config.disabled) addClasses.push(config.class.disabled);
        if (config.active) addClasses.push(config.class.active);
        if (config.dashed) addClasses.push(config.class.dashed);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block