@import 'main';

.main-content-inner__col > .personal{
    .catalogs{
        &__items{
            margin-top: $global-margin * 1.5;
        }
    }
}

.catalogs{
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        flex: 1 0 auto;
        min-width: 100%;
        margin-top: -1px;
        @include border-top($border-secondary);
        @include border-bottom($border-secondary);
        @media (min-width: $media-iphone4-height){
            min-width: col-width(6);
            max-width: col-width(6);
        }
        @media (min-width: $media-galaxy-height){
            min-width: col-width(4);
            max-width: col-width(4);
            @include border-right($border-secondary);
        }
        @media (min-width: $media-lg){
            min-width: col-width(3);
            max-width: col-width(3);
        }
        @media (min-width: $media-xxl){
            min-width: col-width(1, 5);
            max-width: col-width(1, 5);
        }
        &:nth-child(odd){
            @media (min-width: $media-iphone4-height){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(3n){
            @media (min-width: $media-galaxy-height){
                border-right: none;
            }
            @media (min-width: $media-lg){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(4n){
            @media (min-width: $media-lg){
                border-right: none;
            }
            @media (min-width: $media-xxl){
                @include border-right($border-secondary);
            }
        }
        &:nth-child(5n){
            @media (min-width: $media-xxl){
                border-right: none;
            }
        }
    }
    &-item{
        &__inner{
            display: block;
            min-width: 100%;
            padding: $global-margin * 2 $global-padding * 3;
            color: $grey-darker;
            text-decoration: none;
            &:hover,
            &:focus{
                text-decoration: underline;
                .catalogs-item__format{
                    background: palette(warning, bg);
                }
            }
        }
        &__format{
            display: inline-block;
            padding: 1px 6px 2px;
            border-top-left-radius: $radius-primary;
            border-bottom-right-radius: $radius-primary;
            color: $grey-darker !important;
            font-family: $font-secondary;
            font-size: $size-sm-px;
            font-weight: $weight-medium;
            text-transform: uppercase;
            background: palette(info, bg);
            @include transition(background);
        }
        &__text{
            display: block;
            margin-top: $global-margin * .5;
            line-height: $line-height-md;
        }
    }
}