-
    /**
     * @function mixins.layout#catalogs
     * @desc Блок страницы каталогов личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='catalogs'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='catalogs'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin catalogs(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'catalogs';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'catalogs',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e.items
                each catalogsItem in items
                    +be.item
                        +link({
                            download: true,
                            class: 'inner'
                        })
                            +e({
                                tag: span,
                                modifiers: 'format',
                                content: `*.${catalogsItem.type}`
                            })
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: catalogsItem.title
                            })

            block