@import 'main';

.main-content-inner__col > .personal{
    .pretensions{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.pretensions{
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    @media (min-width: $media-md){
        margin-left: 0;
        margin-right: 0;
    }

    //Таблица
    &__table{
        min-width: 100%;
        margin-top: 0;
        @include border-bottom($border-secondary);
        @media (min-width: $media-md){
            display: table;
        }
    }
    &-table{
        &__thead{
            display: none;
            @media (min-width: $media-md){
                display: table-header-group;
            }
        }
        &__tbody,
        &__cell{
            display: block;
        }
        &__tbody{
            @media (min-width: $media-md){
                display: table-row-group;
            }
        }
        &__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: $global-margin $container-padding;
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                display: table-row;
                padding: 0;
            }
        }
        &__header-cell,
        &__cell{
            @media (min-width: $media-md){
                width: calc(#{100% - 12} / 3);
                padding: $global-margin * 1.5 $global-padding * 2;
                table-layout: fixed;
            }
            @media (min-width: $media-lg){
                padding-left: $global-padding * 5;
                padding-right: $global-padding * 5;
            }

            @include m(number){
                @media (min-width: $media-md){
                    width: 12%;
                }
                @media (min-width: $media-lg){
                    padding-left: $global-padding * 2;
                    padding-right: $global-padding * 2;
                }
            }
        }
        &__header-cell{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-md-px;
            font-weight: $weight-medium;
            text-transform: uppercase;
            @media (min-width: $media-md){
                display: table-cell;
            }
            &:not(:last-child){
                position: relative;
                @include after{
                    top: 0;
                    right: 0;
                    height: 35px;
                    @include border-right($border-secondary);
                }
            }
        }
        &__cell{
            @media (min-width: $media-md){
                display: table-cell;
            }
            @include m(order){
                min-width: 100%;
                margin-top: $global-margin;
            }
        }
        &-number,
        &-order{
            &__title{
                @media (min-width: $media-md){
                    display: none;
                }
            }
            &__text{
                text-decoration: none;
                @media (min-width: $media-md){
                    color: $text-primary;
                    font-weight: $weight-semibold;
                }
            }
        }
        &-status{
            &__title{
                @media (min-width: $media-md){
                    display: none;
                }
            }
            &__text{
                line-height: $line-height-md;
                @include m(secondary){
                    color: $text-secondary;
                }
                @include m(success){
                    color: $color-success;
                }
                @include m(warning){
                    color: $color-warning;
                }
                @include m(danger){
                    color: $color-danger;
                }
            }
        }
    }

    //Подвал
    &__bottom{
        margin-top: $global-margin * 1.5;
        padding: 0 $container-padding;
        @media (min-width: $media-md){
            margin-top: $global-margin * 3;
            padding: 0;
        }
        @media (min-width: $media-lg){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .pagination{
            margin-bottom: $global-margin * 1.5;
            @media (min-width: $media-md){
                margin-top: -$global-margin * 1.5;
            }
            @media (min-width: $media-lg){
                margin-bottom: 0;
            }
        }
    }
    &-bottom{
        &__bottom{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (min-width: $media-md){
                flex-wrap: nowrap;
                justify-content: space-between;
            }
            @media (min-width: $media-lg){
                min-width: 100%;
                margin-top: $global-margin * 2;
            }
        }
        &__info{
            display: flex;
            align-items: center;
            font-size: $size-md-px;
        }
        &__text,
        &__actions{
            @media (min-width: $media-lg){
                margin-top: -$global-margin;
            }
        }
        &__text{
            @media (min-width: $media-md){
                padding-right: $global-gutter;
            }
        }
        &__button{
            @media (min-width: $media-md){
                padding-left: $btn-padding * 1.75;
                padding-right: $btn-padding * 1.75;
            }
        }
        &__icon{
            position: relative;
            top: -1px;
            margin-right: 10px;
            color: palette(danger, color);
        }
    }

    &__empty{
        margin-top: $global-margin * 1.5;
    }
}