include /components/pagination/template.pug
include /components/table/template.pug

include /layout/personal/orders/template.pug

-
    /**
     * @function mixins.layout#pretensionsControls
     * @requires mixins.layout#personalControls
     * @desc Блок элементов управления страницы претензий в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {number} [config.current=0]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.pretensionsModifier='pretensions'] - .
     */
mixin pretensionsControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'pretensions';

        _.defaultsDeep(config, {
            current: 0,
            class: {
                pretensionsModifier: mixinClass
            }
        });

        const pretensionsStatuses = [
            'Рассматриваются',
            'Решены'
        ];

        if (config.class.pretensionsModifier) {
            setBlockClass(attributes, config.class.pretensionsModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +e({
            modifiers: ['item', 'buttons'],
            classes: col
        })
            +e({
                modifiers: 'buttons',
                classes: 'input-group'
            })
                each item, index in pretensionsStatuses
                    div(class=((index === config.current) ? 'input-group-prepend' : 'input-group-append'))
                        +button({
                            tag: a,
                            color: 'secondary',
                            outline: true,
                            size: 'sm',
                            classes: (index === config.current) ? 'active' : '',
                            href: page.name,
                            content: item
                        })

            block

-
    /**
     * @function mixins.layout#pretensionsTable
     * @desc Блок таблицы претензий в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=table]
     * @param {Data} [config.data='pretensions'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin pretensionsTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: table,
            data: 'pretensions',
            attrs: {
                dataTable: 'false'
            },
            class: {
                mixinClass
            }
        });

        let data = {};
        let items = [];
        if (config.data) {
            getData(config, config.data);
            data = config.data;
            items = Array.isArray(data) ? data : _.get(data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +tableHead
            +tableRow
                each columnItem in data.columns
                    +tableCell({
                        header: true,
                        modifiers: columnItem.class,
                        content: columnItem.content
                    })

        +tableBody
            each pretensionItem in items
                +tableRow
                    each columnItem in data.columns
                        +tableCell({modifiers: columnItem.class})
                            if key === 'number'
                                +be.number
                                    +e({
                                        tag: span,
                                        modifiers: 'title',
                                        content: `${columnItem.content}:&nbsp;`
                                    })
                                    +link({
                                        tag: a,
                                        href: 'pretensions-detail',
                                        class: 'text',
                                        content: pretensionItem[columnItem.class]
                                    })

                            if key === 'date'
                                +be({
                                    modifiers: 'date',
                                    content: pretensionItem[columnItem.class]
                                })

                            if key === 'order'
                                +be.order
                                    +e({
                                        tag: span,
                                        modifiers: 'title',
                                        content: `${columnItem.content}:&nbsp;`
                                    })
                                    +link({
                                        tag: a,
                                        class: 'text',
                                        content: pretensionItem[columnItem.class]
                                    })

                            if key === 'status'
                                +be.status
                                    +e({
                                        tag: span,
                                        modifiers: 'title',
                                        content: `${columnItem.content}:&nbsp;`
                                    })
                                    -
                                        const statusContent = pretensionItem[columnItem.class];
                                        let statusClass = '';
                                        switch (statusContent) {
                                            case 'Принято в обработку':
                                                statusClass = 'warning';
                                                break;
                                            case 'Ожидает ответа':
                                                statusClass = 'secondary';
                                                break;
                                            case 'Отказано':
                                                statusClass = 'danger';
                                                break;
                                            case 'Удовлетворено':
                                                statusClass = 'success';
                                                break;
                                            default:
                                                //no default
                                        }
                                    +e({
                                        tag: span,
                                        modifiers: ['text', statusClass],
                                        content: pretensionItem[columnItem.class]
                                    })

        block

-
    /**
     * @function mixins.layout#pretensionsBottom
     * @requires mixins.components#pagination
     * @requires mixins.layout#pretensionPopup
     * @desc Блок нижней части страницы претензий в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.text] - .
     * @param {boolean} [config.pretensionPopup=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin pretensionsBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            pretensionPopup: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +pagination({
            nav: {
                content: false,
                sprite: {
                    id: 'arrow',
                    width: 10
                }
            }
        })

        +b({
            type: config.text ? e : empty,
            modifiers: 'bottom'
        })
            if config.text
                +e.info
                    +e.icon
                        +sprite({
                            id: 'info-circle',
                            width: 20
                        })
                    +e.text Для изменения реквизитов отправьте запрос вашему персональному менеджеру

            +e.actions
                +button({
                    tag: a,
                    color: 'primary',
                    content: 'Новая претензия',
                    href: '#popup-pretension',
                    attrs: {
                        dataPopup: ''
                    }
                })

        if config.pretensionPopup
            +pretensionPopup

        block

-
    /**
     * @function mixins.layout#pretensions
     * @requires mixins.layout#pretensionsTable
     * @requires mixins.layout#pretensionsBottom
     * @desc Страница претензий в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='pretensions'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin pretensions(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'pretensions';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +pretensionsTable

            +pretensionsBottom

            block