@import 'main';

@media (min-width: $media-md){
    .catalog{
        &__items{
            @include m(list){
                padding-top: $global-margin * 1.5;
                .catalog-items{
                    &__inner{
                        margin-left: -$global-padding * 4.5;
                        margin-right: -$global-padding * 4.5;
                    }
                }
                .card-wrapper{
                    min-width: 100%;
                    max-width: 100%;
                    margin-top: 0;
                    &:last-child{
                        .card{
                            @include border-bottom;
                        }
                    }
                }
                .card{
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: $global-margin $global-padding * 3.5;
                    border: none;
                    @include border-top;
                    border-radius: 0;
                    &:hover,
                    &:focus{
                        box-shadow: none;
                        transform: none;
                    }
                    &__image{
                        min-width: 50px;
                        max-width: 50px;
                    }
                    &-image{
                        &__container{
                            height: auto;
                        }
                        &__image{
                            max-width: 50px;
                            max-height: 50px;
                        }
                    }
                    &__content{
                        flex: 1 0 auto;
                        max-width: calc(100% - 50px);
                        margin-top: 0;
                        padding-left: $global-padding * 2;
                    }
                    &__text-content{
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        min-width: 0;
                    }
                    &__top{
                        display: flex;
                        flex: 1 0 col-width-px(3.5);
                        flex-wrap: wrap;
                        min-width: 0;
                        max-width: calc(100% - #{256px + 164});
                    }
                    &__title{
                        height: auto;
                        margin-top: 0;
                        padding-right: $global-padding;
                    }
                    &-title{
                        &__link{
                            display: inline-block;
                            color: $grey-darker;
                            font-family: $font-secondary;
                            font-weight: $weight-medium;
                            @include line-clamp(4);
                        }
                    }
                    @if map-get($global-settings, catalogNumber){
                        &__top-info{
                            order: 1;
                            padding-right: $global-padding;
                            font-size: $size-sm-px;
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &__middle{
                        order: 2;
                        min-width: 256px; //120px + (40px * 3 + 8 * 2);
                    }
                    &__prices{
                        margin-top: 0;
                    }
                    &__submit{
                        margin-top: $global-margin * .75;
                    }
                    @if map-get($global-settings, offers){
                        &__offers{
                            width: 164px;
                            padding-right: $global-padding * 2;
                        }
                        &-offers{
                            &__inner{
                                margin: -$global-margin * .75 0;
                            }
                        }
                    }
                    @if map-get($global-settings, buy){
                        &__counter{
                            display: block;
                            width: auto;
                            min-width: auto;
                            &[hidden]{
                                ~ .card__actions{
                                    order: 3;
                                }
                            }
                        }
                        &-counter{
                            &__inner{
                                margin-top: 0;
                            }
                            &__counter{
                                margin-top: 0;
                            }
                            &-counter{
                                &__input{
                                    height: $btn-height - 2;
                                }
                            }
                        }
                    }
                    @if map-get($global-settings, colors){
                        &__colors{
                            margin: $global-margin * .75 0;
                        }
                    }
                    @if map-get($global-settings, sizes){
                        &__sizes{
                            margin: $global-margin * .75 0;
                        }
                    }
                    @if map-get($global-settings, availability){
                        &-availability{
                            &__text{
                                display: block;
                                height: auto;
                                padding-top: 0;
                                font-size: $size-sm-px;
                            }
                        }
                    }
                    @if map-get($global-settings, buy){
                        &__buy{
                            order: 2;
                            width: auto;
                            min-width: 40px + 8; //+ 8px за каждую кнопку
                            margin: 0 0 0 auto;
                            transform: none;
                        }
                        &-buy{
                            &__item{
                                margin-top: 0;
                                @include m(buy){
                                    .card-buy__button{
                                        @include m(default){
                                            color: $white;
                                            background: $btn-bg;
                                            &:hover,
                                            &:focus{
                                                background: palette(primary, light);
                                            }
                                            &:focus{
                                                box-shadow: $btn-shadow-size rgba($shadow-color-primary, .2);
                                            }
                                        }
                                        @include m(active){
                                            width: auto;
                                            svg{
                                                width: 34px !important;
                                                height: 34px !important;
                                            }
                                        }
                                    }
                                    .card-buy__icon{
                                        top: -2px;
                                    }
                                }
                            }
                            &__button{
                                width: $btn-height;
                                border-radius: $radius-primary;
                                @include transition(color background box-shadow);
                                @include m(default){
                                    background: $btn-secondary-bg;
                                    &:hover,
                                    &:focus{
                                        color: $grey;
                                        background: $btn-secondary-bg-hover;
                                    }
                                }
                                svg{
                                    margin-left: 0;
                                }
                            }
                            &__icon{
                                top: 0;
                            }
                        }
                    }
                    &__actions{
                        position: relative;
                        top: auto;
                        right: auto;
                        display: flex;
                    }
                    &-actions{
                        &__item{
                            margin-top: 0;
                            opacity: 1;
                            &:not(:first-child){
                                margin-left: 8px;
                            }
                        }
                        &__button{
                            width: $btn-height;
                            height: $btn-height;
                            border-radius: $radius-primary;
                            background: $btn-secondary-bg;
                        }
                    }
                    @if map-get($global-settings, badges){
                        &__badges{
                            top: -2px;
                            left: $global-padding * 3.5;
                            width: auto;
                        }
                        &-badges{
                            &__badge{
                                &:not(:first-child){
                                    margin-top: 0;
                                    margin-left: $global-padding;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $media-lg){
    .catalog{
        &__items{
            @include m(list){
                .catalog-items{
                    &__inner{
                        margin-left: -$global-padding;
                        margin-right: -$global-padding;
                    }
                }
                .card{
                    padding-left: 0;
                    padding-right: 0;
                    &__top{
                        max-width: calc(100% - #{248px + 208});
                    }
                    @if map-get($global-settings, offers){
                        &__offers{
                            width: 248px;
                        }
                    }
                    @if map-get($global-settings, badges){
                        &__badges{
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}