@import 'main';

@media (min-width: $media-md){
    .catalog{
        &__items{
            @include m(table){
                padding-top: $global-margin * 1.5;
                .card-wrapper{
                    min-width: 100%;
                    max-width: 100%;
                    margin-top: 0;
                    &:last-child{
                        .card{
                            @include border-bottom($border-secondary);
                        }
                    }
                }
                .card{
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: $global-margin * .6 0;
                    border: none;
                    @include border-top($border-secondary);
                    border-radius: 0;
                    &:hover,
                    &:focus{
                        box-shadow: none;
                        transform: none;
                    }
                    &__image{
                        display: flex;
                        align-items: center;
                        min-width: 40px;
                        max-width: 40px;
                    }
                    &-image{
                        &__container{
                            height: auto;
                        }
                        &__image{
                            width: 40px;
                            max-height: 70px;
                        }
                    }
                    &__content{
                        flex: 1 0 auto;
                        max-width: calc(100% - 40px);
                        margin-top: 0;
                        padding-left: $global-padding * 2;
                    }
                    &__text-content{
                        flex-wrap: nowrap;
                        align-items: center;
                        width: 100%;
                    }
                    &__top{
                        display: flex;
                        flex: 1 0 col-width-px(3.75);
                        flex-wrap: wrap;
                        min-width: 0;
                        max-width: calc(100% - #{140px + 115 + 150});
                    }
                    &__title{
                        height: auto;
                        margin-top: 0;
                        padding-right: 7px + $global-padding;
                    }
                    &-title{
                        &__link{
                            display: inline-block;
                            color: $grey-darker;
                            font-family: $font-secondary;
                            font-weight: $weight-medium;
                        }
                    }
                    @if map-get($global-settings, catalogNumber){
                        &__top-info{
                            order: 1;
                            padding-right: 7px + $global-padding;
                            font-size: $size-sm-px;
                            &::before{
                                display: none;
                            }
                        }
                    }
                    @if map-get($global-settings, rrp){
                        &__rrp{
                            display: block;
                            min-width: 140px;
                            max-width: 140px;
                        }
                    }
                    &__middle{
                        width: auto;
                        min-width: 115px + 150;
                        max-width: 115px + 150;
                    }
                    &__prices{
                        position: relative;
                        min-width: 115px;
                        max-width: 115px;
                        height: auto;
                        margin: 0 0 -6px;
                    }
                    &-prices{
                        &__price{
                            @if map-get($global-settings, basePrice){
                                @include m(base){
                                    top: -6px;
                                }
                            }
                        }
                    }
                    @if map-get($global-settings, availability){
                        &__availability{
                            display: block;
                            min-width: 115px;
                            max-width: 115px;
                        }
                    }
                    &__submit{
                        position: absolute;
                        top: 0;
                        right: 0;
                        min-width: 150px;
                        max-width: 150px;
                        height: 100%;
                    }
                    &__counter{
                        position: relative;
                        display: flex;
                        align-items: center;
                        align-self: stretch;
                        justify-content: center;
                        min-width: 100%;
                        max-width: 100%;
                        @include before{
                            top: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background: $bg-primary;
                            @include transition(width);
                        }
                        &.checked{
                            &::before{
                                width: calc(100% + 20px);
                            }
                            .card-counter__inner{
                                margin-left: -20px;
                            }
                        }
                    }
                    &-counter{
                        &__inner{
                            position: relative;
                            display: flex;
                            margin-top: -6px;
                            @include transition(margin);
                        }
                        &__form-check{
                            display: block;
                        }
                        &__counter{
                            width: 0;
                            overflow: hidden;
                            border-color: $bg-primary;
                            @include transition(width border-color);
                        }
                        &-counter{
                            &__wrapper{
                                width: 112px;
                                background: $white;
                            }
                        }
                        &-form-check{
                            &__label{
                                position: absolute;
                                top: 0;
                                left: -12px;
                                z-index: 1;
                                width: 16px + 12 * 2;
                                height: 100%;
                                cursor: $cursor-pointer;
                            }
                            &__input{
                                &:checked{
                                    ~ .card-counter-form-check__content{
                                        padding-left: 28px;
                                        .card-counter__counter{
                                            width: 112px;
                                            border-color: $input-border;
                                        }
                                    }
                                }
                            }
                            &__content{
                                min-width: 16px;
                                padding: 0;
                                @include transition(padding);
                                &::before,
                                &::after{
                                    top: 10px;
                                }
                                &::before{
                                    background: $white;
                                }
                            }
                        }
                    }
                    &__actions{
                        display: none;
                    }
                    @if map-get($global-settings, colors){
                        &__colors{
                            display: none;
                        }
                    }
                    @if map-get($global-settings, sizes){
                        &__sizes{
                            display: none;
                        }
                    }
                    @if map-get($global-settings, availability){
                        &-availability{
                            &__text{
                                height: auto;
                                padding-top: 0;
                            }
                        }
                    }
                    @if map-get($global-settings, badges){
                        &__badges{
                            display: none;
                        }
                    }
                    @if map-get($global-settings, buy){
                        &__buy{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}