@import 'main';

@media (min-width: $media-md){
    .catalog{
        &__items{
            @include m(tile){
                .card-wrapper{
                    flex-basis: col-width(4);
                    min-width: col-width(4);
                    max-width: col-width(4);
                }
            }
        }
    }
}

@media (min-width: $media-lg){
    .catalog{
        &__items{
            @include m(tile){
                .card-wrapper{
                    flex-basis: col-width(3);
                    min-width: col-width(3);
                    max-width: col-width(3);
                }
            }
        }
    }
}

@media (min-width: $media-xl){
    .catalog{
        &__items{
            @include m(tile){
                .card-wrapper{
                    flex-basis: col-width(4);
                    min-width: col-width(4);
                    max-width: col-width(4);
                }
            }
        }

        //TODO:use global-config -> search
        @include m(search){
            .catalog{
                &__items{
                    @include m(tile){
                        .card-wrapper{
                            flex-basis: col-width(3);
                            min-width: col-width(3);
                            max-width: col-width(3);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $media-xxl){
    .catalog{
        &__items{
            @include m(tile){
                .card-wrapper{
                    flex-basis: col-width(3);
                    min-width: col-width(3);
                    max-width: col-width(3);
                }
            }
        }

        @include m(search){
            .catalog{
                &__items{
                    @include m(tile){
                        .card-wrapper{
                            flex-basis: col-width(1, 5);
                            min-width: col-width(1, 5);
                            max-width: col-width(1, 5);
                        }
                    }
                }
            }
        }
    }
}