@import 'main';

//Основные элементы структуры каталога
//.top ~ .col .container .catalog__items.-tile{ //TODO:needed?
//    margin-top: -$global-margin * 1.5;
//}

.catalog{
    &__items{
        min-width: 100%;
        .card-wrapper{
            @include col;
            @include col-attrs;
            display: flex;
            min-width: 100%;
            max-width: 100%;
            margin-top: $global-margin * 1.5;
            @media (min-width: $media-iphone4-height){
                flex-basis: col-width(6);
                min-width: col-width(6);
                max-width: col-width(6);
            }
        }
        .card{
            width: 100%;
            height: 100%;
        }
    }
    &-items{
        &__header{
            display: none;
            @media (min-width: $media-md){
                display: block;
            }
        }
        &-header{
            &__inner{
                display: flex;
                @media (min-width: $media-xl){
                    @include border-top($border-secondary, $border-width-secondary);
                }
            }
            &__cell{
                padding: 21px 0;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-sm-px;
                font-weight: $weight-medium;
                letter-spacing: $letter-spacing-primary;
                text-transform: uppercase;
                @include m(name){
                    flex: 1 0 auto;
                }
                @if map-get($global-settings, rrp){
                    @include m(rrp){
                        width: 140px;
                    }
                }
                @include m(price){
                    width: 115px;
                }
                @include m(actions){
                    width: 150px;
                    text-align: center;
                }
            }
        }
    }
}