include /layout/catalog-item/template.pug

-
    /**
     * @function mixins.layout#catalogItems
     * @requires mixins.layout#catalogItem
     * @desc Список товаров каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.maxItems=12] - .
     * @param {string} [config.catalogType=page.urlParams.catalogType] - .
     * @param {Object} [config.view={}] - .
     * @param {Data} [config.view.data='catalog-view'] - .
     * @param {string} [config.view.dataPath] - .
     * @param {Object} [config.table={}] - .
     * @param {Data} [config.table.data='catalog-items'] - .
     * @param {string} [config.table.dataPath] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='items'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - .
     */
mixin catalogItems(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'items';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            view: {
                data: 'catalog-view'
            },
            table: {
                data: 'catalog-items'
            },
            maxItems: 12,
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        getData(config.view, config.view.data);
        const viewItems = config.view.data[config.view.itemsProp];
        _.defaults(config, {
            catalogType: (page.urlParams && page.urlParams.catalogType) || viewItems[0].name
        });
        const currentView = viewItems.find(element => {
            return config.catalogType === element.name;
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        blockClasses.push(currentView.class);
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        if config.catalogType === 'table'
            -
                getData(config.table, config.table.data);
                const tableHeaderItems = config.table.data.tableHeaderItems;

            +be.header
                +e.inner
                    each headerItem in tableHeaderItems
                        +e({
                            modifiers: ['cell', headerItem.class],
                            content: headerItem.content
                        })

        +e({
            modifiers: 'inner',
            classes: row
        })
            if !config.empty
                +r('catalog')
                    - let currentIndex = 0;
                    each item, index in [...Array(config.maxItems)]
                        -
                            const currentItem = items[currentIndex];
                            const catalogItemConfig = {
                                index,
                                data: currentItem,
                                dataPath: config.dataPath,
                                image: !!currentItem.image,
                                topInfo: !!currentItem.number,
                                title: {
                                    title: !!currentItem.title,
                                    subtitle: !!currentItem.subtitle
                                },
                                text: !!currentItem.text,
                                rrp: !!currentItem.rrp,
                                price: !!currentItem.price,
                                buy: currentItem.price ? {
                                    active: (index === 0),
                                    buy: true
                                } : false,
                                colors: !!currentItem.colors,
                                sizes: !!currentItem.sizes,
                                availability: _.isUndefined(currentItem.availability) ? null : currentItem.availability,
                                counter: {
                                    active: (config.catalogType !== 'table') && (index === 0),
                                    checkbox: (config.catalogType === 'table'),
                                    disabled: (currentItem.availability === false)
                                },
                                actions: {
                                    wishlist: {
                                        isActive: (index === 1)
                                    },
                                    compare: {
                                        isActive: (index === 1)
                                    }
                                },
                                badges: !!currentItem.badges
                            };

                        +catalogItem(catalogItemConfig)

                        - currentIndex = (currentIndex < (items.length - 1)) ? (currentIndex + 1) : 0;

            block