-
    const page = {
        title: 'Канбан заказов',
        type: 'personal'
    };
include /base/templates/main.pug

include /components/money/template.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top({
                            title: '47&nbsp;заказов',
                            subtitle: `Сумма: ${money.formatPrice(1894444)}`
                        })
                            +kanbanControls

                        +personalWrapper
                            +kanban

            +contentBottom
        +foot