<div class="search-popover__results">
    <div class="search-popover__item">
        <a class="search-popover-item__inner" href="../product" title="Лучший в мире блендер">
            <div class="search-popover-item__image">
                <img class="search-popover-item-image__image" src="${require(`../../data/catalog-item/uploads/1-sm.png`)}" alt="Лучший в мире блендер" />
            </div>
            <div class="search-popover-item__content">
                <div class="search-popover-item__info">
                    <div class="search-popover-item__title">Лучший в мире блендер</div>
                    <div class="search-popover-item__number">Артикул: 64545453535</div>
                </div>
                <div class="search-popover-item__prices">
                    <div class="search-popover-item-prices__price -current" title="Текущая цена">
                        <span>15 380</span>
                        <span class="currency">₽</span>
                    </div>
                    <div class="search-popover-item-prices__price -base" title="Цена без скидки">
                        <span>16 380</span>
                        <span class="currency">₽</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="search-popover__item">
        <a class="search-popover-item__inner" href="../product" title="Чудесная сушилка для овощей и фруктов">
            <div class="search-popover-item__image">
                <img class="search-popover-item-image__image" src="${require(`../../data/catalog-item/uploads/2-sm.png`)}"
                    alt="Чудесная сушилка для овощей и фруктов" />
            </div>
            <div class="search-popover-item__content">
                <div class="search-popover-item__info">
                    <div class="search-popover-item__title">Чудесная сушилка для овощей и фруктов</div>
                    <div class="search-popover-item__number">Артикул: 5656565653</div>
                </div>
                <div class="search-popover-item__prices">
                    <div class="search-popover-item-prices__price -current" title="Текущая цена">
                        <span>4 850</span>
                        <span class="currency">₽</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="search-popover__item">
        <a class="search-popover-item__inner" href="../product" title="Мощнейший кухонный комбайн">
            <div class="search-popover-item__image">
                <img class="search-popover-item-image__image" src="${require(`../../data/catalog-item/uploads/3-sm.png`)}" alt="Мощнейший кухонный комбайн" />
            </div>
            <div class="search-popover-item__content">
                <div class="search-popover-item__info">
                    <div class="search-popover-item__title">Мощнейший кухонный комбайн</div>
                    <div class="search-popover-item__number">Артикул: 2323445787</div>
                </div>
                <div class="search-popover-item__prices">
                    <div class="search-popover-item-prices__price -current" title="Текущая цена">
                        <span>13 990</span>
                        <span class="currency">₽</span>
                    </div>
                    <div class="search-popover-item-prices__price -base" title="Цена без скидки">
                        <span>14 990</span>
                        <span class="currency">₽</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="search-popover__item">
        <a class="search-popover-item__inner" href="../product" title="Самая эффективная соковыжималка">
            <div class="search-popover-item__image">
                <img class="search-popover-item-image__image" src="${require(`../../data/catalog-item/uploads/4-sm.png`)}"
                    alt="Самая эффективная соковыжималка" />
            </div>
            <div class="search-popover-item__content">
                <div class="search-popover-item__info">
                    <div class="search-popover-item__title">Самая эффективная соковыжималка</div>
                    <div class="search-popover-item__number">Артикул: 2323445787</div>
                </div>
                <div class="search-popover-item__prices">
                    <div class="search-popover-item-prices__price -current" title="Текущая цена">
                        <span>13 990</span>
                        <span class="currency">₽</span>
                    </div>
                    <div class="search-popover-item-prices__price -base" title="Цена без скидки">
                        <span>14 990</span>
                        <span class="currency">₽</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="search-popover__item">
        <a class="search-popover-item__inner" href="../product" title="Набор бокалов 4 шт Spiegelau Tonight">
            <div class="search-popover-item__image">
                <img class="search-popover-item-image__image" src="${require(`../../data/catalog-item/uploads/5-sm.png`)}"
                    alt="Набор бокалов 4 шт Spiegelau Tonight" />
            </div>
            <div class="search-popover-item__content">
                <div class="search-popover-item__info">
                    <div class="search-popover-item__title">Набор бокалов 4 шт Spiegelau Tonight</div>
                    <div class="search-popover-item__number">Артикул: 6398798-66</div>
                </div>
                <div class="search-popover-item__prices">
                    <div class="search-popover-item-prices__price -current" title="Текущая цена">
                        <span>779</span>
                        <span class="currency">₽</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="search-popover__bottom">
    <a class="search-popover__more" href="../search/">Показать все результаты</a>
</div>