include /components/money/template.pug

-
    /**
     * @function mixins.layout#searchPopoverResults
     * @requires mixins.components#money
     * @desc Содержимое информера поисковых подсказок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type]
     * @param {bemtag} [config.tag]
     * @param {Data} [config.data='catalog-item'] - Объект с данными.
     * @param {string} [config.dataPath] - Путь к расположению файла с данными.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='results'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin searchPopoverResults(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'results';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            data: 'catalog-item',
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }
        items = items.slice(0, 5);

        items.forEach(item => {
            item.imagePreview = setImageProps(config.dataPath, item.imagePreview, item.title);
        });

    //-html
    +r('search-popover')
        +b(config)&attributes(attributes)
            each searchItem in items
                +be.item
                    +link({
                        href: searchItem.href,
                        title: removeHtml(searchItem.title),
                        class: 'inner'
                    })
                        +be.image
                            +image({
                                src: searchItem.imagePreview.src,
                                alt: searchItem.imagePreview.alt
                            })

                        +e.content
                            +e.info
                                +be.title!= searchItem.title
                                +e.number= `Артикул: ${searchItem.number}`

                            +be.prices
                                +e.price.current(title='Текущая цена')!= money.formatPrice(searchItem.price.current)
                                if searchItem.price.base
                                    +e.price.base(title='Цена без скидки')!= money.formatPrice(searchItem.price.base)

        +e.bottom
            +link({
                href: 'search',
                class: 'more',
                content: 'Показать все результаты'
            })

        block