-
    /**
     * @function mixins.layout#logo
     * @desc Логотип.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.isLink=page.name !== 'index'] - .
     * @param {Data} [config.data={}] - .
     * @param {string} [config.data.title='Перейти на главную страницу'] - .
     * @param {Image} [config.data.image={}] - .
     * @param {string} [config.data.image.relative='media/logo.svg'] - .
     * @param {string} [config.data.image.alt=`Логотип ${globalConfig.projectName}`] - .
     * @param {string} [config.dataPath='Data/logo'] - .
     * @param {string} [config.text] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='logo'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin logo(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'logo';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            isLink: (page.name !== 'index'),
            data: {
                title: 'Перейти на главную страницу',
                image: {
                    relative: 'media/logo.svg',
                    alt: `Логотип ${globalConfig.projectName}`
                }
            },
            dataPath: 'Data/logo',
            class: {
                mixinClass
            }
        });

        const logoImage = setImageProps({
            root: config.dataPath,
            ...config.data.image
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +link({
            type: config.isLink ? e : empty,
            href: '/',
            title: removeHtml(config.data.title)
        })
            +e({
                tag: span,
                modifiers: 'inner'
            })
                +image({
                    src: logoImage.src,
                    alt: logoImage.alt
                })

        if config.text
            +e({
                tag: span,
                modifiers: 'text',
                content: config.text
            })

        block