@import 'main';

.top__controls{
    @include m(workflow){
        @media (min-width: $media-sm){
            min-width: 100%;
            margin-top: $global-margin;
        }
        @media (min-width: $media-lg){
            min-width: 0;
            margin-top: 0;
        }
        .top-controls{
            &__item{
                @media (min-width: $media-xl){
                    min-width: col-width-px(1.9);
                    max-width: col-width-px(1.9);
                }
                @media (min-width: $media-xxl){
                    min-width: col-width-px(2.5);
                    max-width: col-width-px(2.5);
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .workflow-table{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.workflow{
    //Таблица
    &__table{
        min-width: 100%;
        .workflow-table{
            &__header-cell{
                vertical-align: middle;
                @include m(check){
                    padding: 0;
                    text-align: center;
                    background: $bg-secondary;
                }
            }
            &__cell{
                padding: 0;
                border: none;
                vertical-align: middle;
            }
        }
    }
    &-table{
        &__table,
        &__tbody{
            display: block;
        }
        &__table{
            width: calc(100% + 40px);
            max-width: calc(100% + 40px);
            margin: 0 (-$container-padding);
            @media (min-width: $media-md){
                display: table;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .workflow-table{
                &__cell{
                    @media (min-width: $media-md){
                        padding: $table-td-padding-v $table-td-padding-h;
                        @include border-top($border-secondary);
                    }
                }
            }
        }
        &__thead{
            display: none;
            @media (min-width: $media-md){
                display: table-header-group;
            }
        }
        &__tbody{
            @media (min-width: $media-md){
                display: table-row-group;
            }
        }
        &__row{
            display: flex;
            flex-wrap: wrap;
            padding: $global-margin * .75 $container-padding $global-margin * 1.5;
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                display: table-row;
                padding: 0;
                border: none;
            }
        }
        &__cell{
            display: block;
            width: 100%;
            margin-top: $global-margin * .75;
            @media (min-width: $media-md){
                display: table-cell !important;
                width: auto;
            }
            @include m(check){
                display: none;
                width: 69px;
                padding: 0 !important;
                text-align: center;
                background: $bg-primary;
            }
            @include m(row-header){
                font-family: $font-primary;
                font-weight: $weight-semibold;
            }
        }
        &__link{
            color: $text-primary;
            text-decoration: underline;
            @include m(download){
                color: $color-primary;
            }
            &:hover,
            &:focus{
                color: palette(primary, light);
                text-decoration: none;
            }
        }
        &__label{
            @media (min-width: $media-md){
                display: none;
            }
        }
        &__form-check{
            @media (min-width: $media-md){
                display: inline-block;
                vertical-align: middle;
            }
        }
        &-form-check{
            &__label{
                width: 100%;
            }
            &__content{
                &::before{
                    background: $white;
                }
            }
        }
    }

    //Подвал
    &__bottom{
        display: none;
        @media (min-width: $media-md){
            display: flex;
            justify-content: flex-end;
            margin-top: $global-margin * 2;
        }
    }
    &-download{
        &__link{
            display: inline-block;
            padding: 0;
            border: none;
            color: $color-primary;
            text-decoration: none;
            background: none;
            opacity: 1 !important;
            &.disabled,
            &[disabled]{
                color: $grey-light;
            }
        }
        &__icon{
            position: relative;
            top: -1px;
        }
        &__text{
            margin-left: 9px;
            font-family: $font-secondary;
            font-size: $size-sm-px;
            font-weight: $weight-medium;
            text-transform: uppercase;
        }
    }
}