include /components/check/template.pug
include /components/table/template.pug

-
    /**
     * @function mixins.layout#workflowControls
     * @requires mixins.layout#personalControls
     * @desc Верхний блок управления на странице документооборота.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Array.<string>} [config.controls=['reset', 'date', 'search']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.workflowModifier='workflow'] - .
     */
mixin workflowControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'workflow';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            controls: [
                'reset',
                'date',
                'search'
            ],
            class: {
                workflowModifier: mixinClass
            }
        });

        if (config.class.workflowModifier) {
            setBlockClass(attributes, config.class.workflowModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#workflowWrapper
     * @desc Обёртка блока документооборота в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='workflow'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin workflowWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'workflow';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                block

-
    /**
     * @function mixins.layout#workflowTable
     * @requires mixins.components#checkbox
     * @requires mixins.components#table
     * @desc Таблица документооборота в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='workflow'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin workflowTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'workflow',
            class: {
                mixinClass,
                addClass: col
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +table({dataTable: 'false'})
            +tableHead
                +tableRow
                    each item in data.headers
                        +tableCell({
                            header: true,
                            content: item.content
                        })
                    +tableCell({
                        header: true,
                        modifiers: 'check'
                    })
                        +checkbox({
                            id: 'workflow-checkbox-all',
                            attrs: {
                                title: 'Выбрать все строки'
                            }
                        })

            +tableBody
                each rowItem, index in data.items
                    +tableRow
                        each cellItem in data.headers
                            +tableCell({
                                tag: (cellItem.class === 'number') ? th : td,
                                modifiers: (cellItem.class === 'number') ? 'row-header' : ''
                            })
                                if rowItem[cellItem.class]
                                    +link({
                                        href: 'orders-detail',
                                        content: rowItem[cellItem.class]
                                    })
                                else
                                    -
                                        const cellContent = ((cellItem.class === 'account') || (cellItem.class === 'act')) ?
                                            cellItem.content.toLowerCase() :
                                            cellItem.content;
                                    +link({
                                        download: true,
                                        modifiers: 'download'
                                    })
                                        | Скачать
                                        +e({
                                            tag: span,
                                            modifiers: 'label',
                                            content: `&nbsp;${cellContent}`
                                        })
                        +tableCell({modifiers: 'check'})
                            +checkbox({
                                id: `workflow-checkbox-${index}`,
                                switchRole: true,
                                attrs: {
                                    title: `Выбрать строку ${index + 1}`
                                }
                            })

        block

-
    /**
     * @function mixins.layout#workflowBottom
     * @desc Нижняя часть страницы документооборота в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin workflowBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +be.download
            +link({
                disabled: true,
                download: true
            })
                +e({
                    tag: span,
                    modifiers: 'icon'
                })
                    +sprite#arrow-download
                +e({
                    tag: span,
                    modifiers: 'text',
                    content: 'Скачать выбранное'
                })

        block

-
    /**
     * @function mixins.layout#workflow
     * @desc Страница документооборота в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.table] - .
     * @param {Bemoptions} [config.bottom] - .
     */
mixin workflow(config)
    -
        config = _.toPlainObject(config);

    //-html
    +workflowWrapper(config.wrapper)
        +workflowTable(config.table)

        +workflowBottom(config.bottom)

        block