//-TODO:add distHref option, spritePrefix, funcs docs

-
    /**
     * @typedef {(Object|string)} Sprite - Объект с параметрами спрайта или строка с идентификатором спрайта.
     * @property {string} id - Идентификатор иконки спрайта.
     * @property {string} href - Ссылка на спрайт.
     * @property {number} width - Ширина элемента спрайта.
     * @property {number} height - Высота элемента спрайта.
     */

    //Функция для получения параметров спрайта из файла
    function getSpriteAttrs(svgHref, spriteId, spriteWidth, spriteHeight) {
        if (!spriteId) return;
        svgHref = svgHref || globalConfig.spritesName;
        const spritePath = composeUrl(svgHref, `${spriteId}.svg`);
        const spriteFilePath = path.join(globalConfig.templatesRoot, 'src', spritePath);
        const cachedSprites = globalConfig.localConfig.cachedSprites;
        if (!fs.existsSync(spriteFilePath)) return;

        let svgWidth = spriteWidth;
        let svgHeight = spriteHeight;
        let initialWidth;
        let initialHeight;
        const pxWidth = !/^\d+\D+$/.test(svgWidth);
        const pxHeight = !/^\d+\D+$/.test(svgHeight);

        //Если файл спрайта не менялся с последнего запроса, то брать размеры из кеша
        if (cachedSprites[spriteId] && (cachedSprites[spriteId].mtime === fs.statSync(spriteFilePath).mtime)) {
            initialWidth = cachedSprites[spriteId].width;
            initialHeight = cachedSprites[spriteId].height;
        } else {
            const spriteContent = fs.readFileSync(spriteFilePath, encoding);
            const attrStrEnd = 'px" ';
            const widthAttrStr = ' width="';
            const heightAttrStr = `${attrStrEnd}height="`;
            const viewBoxAttrStr = `${attrStrEnd}viewBox="`;
            initialWidth = Math.ceil(spriteContent.slice(spriteContent.indexOf(widthAttrStr) + widthAttrStr.length, spriteContent.indexOf(heightAttrStr)));
            initialHeight = Math.ceil(spriteContent.slice(spriteContent.indexOf(heightAttrStr) + heightAttrStr.length, spriteContent.indexOf(viewBoxAttrStr)));

            //Кэшировать спрайт
            globalConfig.localConfig.cachedSprites[spriteId] = {
                mtime: fs.statSync(spriteFilePath).mtime,
                width: initialWidth,
                height: initialHeight
            };
        }

        if (_.isUndefined(spriteWidth)) {
            svgWidth = initialWidth;
        }
        if (_.isUndefined(spriteHeight)) {
            svgHeight = initialHeight;
        }
        if (spriteWidth && pxWidth && !spriteHeight) {
            svgHeight = Math.ceil((svgWidth / initialWidth) * initialHeight);
        } else if (spriteHeight && pxHeight && !spriteWidth) {
            svgWidth = Math.ceil((svgHeight / initialHeight) * initialWidth);
        }

        if (svgWidth && pxWidth) {
            svgWidth = `${String(svgWidth)}px`;
        }
        if (svgHeight && pxHeight) {
            svgHeight = `${String(svgHeight)}px`;
        }

        let spriteStyle = '';
        if (svgWidth) {
            spriteStyle += `width: ${svgWidth}; `;
        }
        if (svgHeight) {
            spriteStyle += `height: ${svgHeight};`;
        }

        return {
            path: `${spritePath}?${currentDate}`,
            style: spriteStyle
        };
    }

    function getSpriteUrl(spriteId) {
        const spriteUrl = composeUrl(
            _.ifElse(page.name === 'index', '.', '..'),
            globalConfig.distAssetsName,
            globalConfig.mediaName,
            `${globalConfig.spriteFile}?${currentDate}#sprite-${spriteId}`
        );
        return spriteUrl;
    }

    /**
     * @function functions#spriteHtml
     * @desc Выводит спрайт в виде HTML-кода.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.id]
     * @param {string} [config.href]
     * @param {number} [config.width]
     * @param {number} [config.height]
     * @param {boolean} [config.require]
     */
    function spriteHtml(config) {
        config = _.isString(config) ? {id: config} : _.toPlainObject(config);

        const spriteAttrs = getSpriteAttrs(config.href, config.id, config.width, config.height);
        if (!spriteAttrs) {
            return console.error(`can't get sprite attributes for config ${JSON.stringify(config)}`);
        }

        const useTag = `<use ${config.require ? 'require="" ' : ''}xlink:href="${getSpriteUrl(config.id)}"></use>`;
        return `<svg aria-hidden="true" style="${spriteAttrs.style}">${useTag}</svg>`;
    }

    /**
     * @function mixins.components#sprite
     * @desc Выводит svg-элемент спрайта.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=svg]
     * @param {string} [config.id]
     * @param {string} [config.href]
     * @param {number} [config.width]
     * @param {number} [config.height]
     * @param {boolean} [config.require]
     * @param {bemattrs} [config.attrs]
     * @param {string} [config.attrs.ariaHidden='true']
     */
mixin sprite(config)
    -
        config = _.isString(config) ? {id: config} : _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            type: e,
            tag: svg,
            id: attributes.id,
            attrs: {
                ariaHidden: 'true'
            }
        });

        delete attributes.id;

        const spriteAttrs = getSpriteAttrs(config.href, config.id, config.width, config.height);
        if (!spriteAttrs) {
            return console.error(`can't get sprite attributes for config ${JSON.stringify(config)}`);
        }

        config.attrs = _.toPlainObject(config.attrs);
        config.attrs.style = spriteAttrs.style;

    //-html
    +b(config)&attributes(attributes)
        if config.require
            use(require='', xlink:href=transformInlineSrc(`~${spriteAttrs.path}`))
        else
            use(xlink:href=getSpriteUrl(config.id))

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#requireSprites
     * @desc Подключает через webpack все использованные на страницах спрайты.
     */
mixin requireSprites
    //-html
    div(hidden='')
        each item, sprite in globalConfig.localConfig.cachedSprites
            +sprite({
                id: sprite,
                require: true
            })

        block