@import 'main';

//Стили страницы "О компании"
.about{
    //Меню
    &-menu{
        &__nav{
            margin: -10px (-$global-padding * 1.5) 0;
        }
    }

    //Контент
    &__text{
        flex-basis: 100%;
        margin-top: $global-margin;
    }

    //Нижний блок на странице каталога
    &-bottom{
        min-width: 100%;
    }
}

//Блок "О компании"
.about-block{
    min-width: 100%;
    margin-top: $section-margin;
    > .container{
        @media (min-width: $media-md){
            padding-top: $global-margin * 3;
        }
    }

    &__title{
        > *{
            margin: 0;
        }
    }
    &__text{
        @media (min-width: $media-sm){
            margin-bottom: -$text-margin;
            column-count: 2;
            column-gap: $global-gutter;
        }
        @media (min-width: $media-md){
            column-gap: $global-gutter * 2;
        }
        p{
            @media (min-width: $media-sm){
                display: inline-block;
                width: 100%;
            }
        }
    }
}