include /components/nav/template.pug

-
    /**
     * @function mixins.layout#aboutBlock
     * @desc Секция "О компании".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data='catalog-text'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.title] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='about-block'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.content='content'] - .
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     */
mixin aboutBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'about-block';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            data: 'catalog-text',
            class: {
                mixinClass,
                content: 'content',
                title: 'title',
                text: 'text'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const title = _.isUndefined(config.title) ? data.title : config.title;

    //-html
    +b(config)&attributes(attributes)
        +r('main-content')
            +mainContentInner({preloaderContainer: false})
                +mainContentCol
                    +r(mixinClass)
                        +e({modifiers: config.class.content})
                            if title
                                +e({modifiers: config.class.title})
                                    h2= title

                            +e({modifiers: config.class.text})
                                != data.content
                                block

-
    /**
     * @function mixins.layout#aboutPage
     * @requires mixins.components#nav
     * @desc Контент страницы "О компании".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {Object} [config.textData={}] - .
     * @param {Data} [config.textData.data='catalog-text'] - .
     * @param {string} [config.textData.dataPath] - .
     * @param {Bemoptions} [config.nav={}] - .
     * @param {bemtype} [config.nav.type=e] - .
     * @param {Data} [config.nav.data=config.data] - .
     * @param {string} [config.nav.dataPath=config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='about'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=row] - Дополнительный класс.
     */
mixin aboutPage(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'about';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            textData: {
                data: 'catalog-text'
            },
            nav: {},
            class: {
                mixinClass,
                addClass: row
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }
        let textData = {};
        if (config.textData && config.textData.data) {
            getData(config.textData, config.textData.data);
            textData = config.textData.data;
        }

        if (config.nav) {
            _.defaultsDeep(config.nav, {
                type: e,
                data,
                dataPath: config.dataPath
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        const menuTitleId = 'about-menu-title';

    //-html
    +b(config)&attributes(attributes)
        +be({
            tag: nav,
            classes: col,
            modifiers: 'menu',
            attrs: {
                ariaLabelledby: menuTitleId
            }
        })
            +e({
                classes: srOnly,
                modifiers: 'header',
                attrs: {
                    id: menuTitleId
                },
                content: 'Меню раздела'
            })

            if config.nav
                +nav(config.nav)

        +e({
            classes: col,
            modifiers: 'text'
        })
            if textData
                != textData.content
            block

-
    /**
     * @function mixins.layout#faq
     * @desc Контент страницы "Вопрос-ответ".
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin faq(config)
    //-html
    p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.
    p «Что со мной случилось?» — подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон — Замза был коммивояжером, — висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил а красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
    p Затем взгляд Грегора устремился в окно, и пасмурная погода — слышно было, как по жести подоконника стучат капли дождя — привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», — подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог принять этого положения. С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на спину. Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку.

    block