@import 'main';

//Элемент управления количества отображаемых товаров на странице
.catalog{
    &__count{
        margin-top: 10px;
        margin-left: auto;
        padding-left: $global-padding;
        padding-right: $global-padding;
    }
    &-count{
        &__inner{
            display: flex;
            align-items: center;
        }
        &__title{
            margin-bottom: 0;
            margin-right: 16px;
            font-size: $size-md;
            white-space: nowrap;
        }

        &-dropdown{
            &__toggle{
                &.active{
                    .catalog-count-dropdown__icon{
                        &:last-child{
                            transform: scaleY(-1) translateY(-1px);
                        }
                    }
                }
            }
            &__link{
                min-width: 100%;
                &.active{
                    pointer-events: none;
                }
            }
            &__icon{
                display: inline-block;
                @include transition(transform);
                &:last-child{
                    margin-left: 18px;
                }
            }
        }
    }
}