include /components/dropdown/template.pug

-
    /**
     * @function mixins.layout#catalogCount
     * @requires mixins.components#dropdown
     * @desc Выпадающий список количества отображаемых на странице товаров.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-count'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.href=page.name] - .
     * @param {string} [config.title='Показывать по'] - .
     * @param {Object} [config.dropdown={}] - .
     * @param {string} [config.dropdown.id='catalog-count'] - .
     * @param {number} [config.dropdown.activeItem=0] - .
     * @param {Sprite} [config.dropdown.buttonAfterSprite={}] - .
     * @param {string} [config.dropdown.buttonAfterSprite.id='arrow'] - .
     * @param {number} [config.dropdown.buttonAfterSprite.width=10] - .
     * @param {Object} [config.dropdown.class={}] - .
     * @param {string} [config.dropdown.class.toggleAdd='form-control'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='count'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.dropdown=''] - .
     */
mixin catalogCount(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'count';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-count',
            href: page.name,
            title: 'Показывать по',
            dropdown: {
                id: 'catalog-count',
                activeItem: 0,
                buttonAfterSprite: {
                    id: 'arrow',
                    width: 10
                },
                class: {
                    toggleAdd: 'form-control'
                }
            },
            class: {
                mixinClass,
                title: 'title',
                dropdown: ''
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        const dropdownConfig = config.dropdown;
        if (_.isPlainObject(dropdownConfig)) {
            dropdownConfig.modifiers = config.class.dropdown;
            dropdownConfig.data = data;
            dropdownConfig.dataPath = config.dataPath;
            dropdownConfig.itemsHref = config.href;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +label({
                for: config.dropdown.id,
                class: config.class.title,
                content: config.title
            })

            +dropdown(dropdownConfig)

            block