@import 'main';

.main-content-inner__col > .personal{
    .personal{
        &__menu{
            margin-top: $global-margin * 1.5;
        }
    }
}

.personal{
    position: relative;
    display: flex;
    min-width: 100%;
    &__inner{
        min-width: 100%;
    }
    &__row{
        min-height: 100%;
    }

    &-menu{
        &__container{
            @include m(level2){
                &:first-child{
                    margin-top: -$global-margin;
                }
            }
        }
        &__list{
            margin: 0;
            padding: 0;
            @include m(level2){
                @include row(false);
            }
        }
        &__item{
            margin: 0;
            @include m(level1){
                &:not(:first-child){
                    margin-top: $global-margin * 2;
                }
            }
            @include m(level2){
                @include col;
                @include col-attrs;
                min-width: 100%;
                max-width: 100%;
                margin-top: $global-margin;
                @media (min-width: $media-sm){
                    min-width: col-width(6);
                    max-width: col-width(6);
                }
                @media (min-width: $media-md){
                    min-width: col-width(4);
                    max-width: col-width(4);
                }
            }
            &::before{
                display: none;
            }
        }
        &__link{
            @include m(level1){
                padding-left: $global-padding;
                padding-right: $global-padding;
                font-size: px-rem(21);
                font-weight: $weight-bold;
            }
            @include m(level2){
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                min-width: 100%;
                height: 100%;
                min-height: 110px;
                padding: $global-margin $global-padding;
                @include border($border-secondary);
                border-radius: $radius-primary;
                font-size: $size-lg;
                line-height: $line-height-md;
                text-align: center;
                &:hover,
                &:focus{
                    border-color: palette(primary, border);
                    color: $text-primary;
                }
                @media (min-width: $media-md){
                    min-height: 150px;
                }
            }
        }
        &__title{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            min-height: 76px;
            text-align: center;
        }
        &__icon{
            display: flex;
            justify-content: center;
            min-width: 100%;
            height: 28px;
            margin-bottom: $global-margin * .5;
            svg{
                width: 100% !important;
                height: 100% !important;
            }
            img{
                height: 100%;
                margin: 0;
            }
        }
    }
}