include /components/menu/template.pug

include ./catalogs/template.pug
include ./clients/template.pug
include ./controls/template.pug
include ./info/template.pug
include ./kanban/template.pug
include ./legals/template.pug
include ./legals-add/template.pug
include ./managers/template.pug
include ./managers-cards/template.pug
include ./notifications/template.pug
include ./offer-detail/template.pug
include ./offer-new/template.pug
include ./offers/template.pug
include ./orders/template.pug
include ./orders-cancel/template.pug
include ./orders-detail/template.pug
include ./pretensions/template.pug
include ./pretensions-detail/template.pug
include ./sales/template.pug
include ./sidebar/template.pug
include ./subscribe/template.pug
include ./transports-detail/template.pug
include ./transports-new/template.pug
include ./transports/template.pug
include ./upload/template.pug
include ./workflow/template.pug

-
    /**
     * @function mixins.layout#personalWrapper
     * @desc Обёртка страниц личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='personal'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass='preloader-container'] - Дополнительные классы.
     */
mixin personalWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'personal';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                addClass: 'preloader-container'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +mainContentCol
        +b(config)&attributes(attributes)
            +e.inner
                +e({
                    modifiers: 'row',
                    classes: row
                })
                    +r('personal')
                        block

//-TODO:remove exit item with array.find, add image icons
-
    /**
     * @function mixins.layout#personalMenu
     * @requires mixins.components#menu
     * @desc Блок меню личного кабинета.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='personal-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {Bemoptions} [config.menu={}] - .
     */
mixin personalMenu(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            data: 'personal-menu',
            menu: {
                image: true,
                0: {
                    link: {
                        tag: div
                    }
                },
                1: {
                    title: true
                }
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }
        items.splice(3, 1); //Удаление пункта "Выйти"

        _.defaultsDeep(config.menu, {
            data: items,
            dataPath: config.dataPath
        });

    //-html
    +menu(config.menu)&attributes(attributes)
        block