@import 'main';

.main-content-inner__col > .personal{
    .managers{
        &__items{
            margin-top: $global-margin * 1.5;
        }
    }
}

.managers{
    &__items{
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        @media (min-width: $media-md){
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__item{
        min-width: 100%;
        @include border-top($border-secondary);
        @media (min-width: $media-md){
            padding: 0;
        }
        &:last-child{
            @include border-bottom($border-secondary);
        }
    }
    &-item{
        &__inner{
            padding: $global-margin $container-padding - $global-padding;
            @media (min-width: $media-md){
                flex-wrap: nowrap;
                align-items: center;
                padding: $global-margin * 1.5 0;
            }
            @media (min-width: $media-lg){
                padding: $global-margin * 1.75 0;
            }
        }
        &__item{
            @include m(info){
                min-width: 100%;
                @media (min-width: $media-md){
                    min-width: col-width-px(3);
                    max-width: col-width-px(3);
                }
                @media (min-width: $media-lg){
                    min-width: col-width(5);
                    max-width: col-width(5);
                }
            }
            @include m(orders, reserves, actions){
                margin-top: $global-margin * 1.25;
            }
            @include m(orders, reserves){
                @media (min-width: $media-md){
                    min-width: col-width-px(1.1);
                    max-width: col-width-px(1.1);
                    margin-top: 0;
                }
                @media (min-width: $media-lg){
                    min-width: col-width(3);
                    max-width: col-width(3);
                }
            }
            @include m(actions){
                @media (min-width: $media-md){
                    margin-top: 0;
                }
                @media (min-width: $media-lg){
                    padding-right: $global-padding * 3;
                }
            }
        }
        &__info{
            display: flex;
            .avatar{
                &__inner{
                    width: 54px;
                    height: 54px;
                }
                &__badge{
                    top: 0 !important;
                    left: 0;
                    transform: scale(1);
                }
            }
        }
        &-info{
            &__text{
                padding-left: $global-padding * 1.5;
                @media (min-width: $media-md){
                    padding-left: $global-padding * 1.75;
                }
            }
            &__name{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-primary-px;
                font-weight: $weight-medium;
                + .managers-item-info__email,
                + .managers-item-info__phone{
                    margin-top: 3px;
                }
            }
            &__email,
            &__phone{
                font-size: $size-md-px;
                a{
                    color: $text-primary;
                    text-decoration: none;
                    &:hover,
                    &:focus{
                        color: palette(primary, light);
                    }
                }
            }
        }
        &-orders,
        &-reserves{
            &__number,
            &__price{
                white-space: nowrap;
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__number{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-md-px;
                font-weight: $weight-medium;
            }
            &__price{
                font-size: $size-sl-px;
            }
        }
        &__actions{
            text-align: right;
        }
        &-actions{
            &__button{
                width: $btn-height;
                height: $btn-height;
                padding: 0;
                overflow: hidden;
                border: none;
                color: $grey;
                background: none;
                @include transition(color);
                &:hover,
                &:focus,
                &.active{
                    color: $color-primary;
                }
            }
            &__dots{
                display: flex;
                justify-content: space-between;
                width: 28px;
                margin: -18px auto 0;
                font-size: rem-px(36px);
                line-height: $btn-height;
                &::before,
                &::after{
                    content: '.';
                }
            }
            &__popover{
                display: none;
            }
            &__items{
                padding: $global-margin * .5 $global-padding;
            }
            &__item{
                &:not(:first-child){
                    @include border-top(rgba($white, .1));
                }
                &:not(:last-child){
                    @include border-bottom(rgba($black, .1));
                }
            }
            &__link{
                display: block;
                padding: 7px 10px;
                color: $white;
                font-size: $size-sm-px;
                font-weight: $weight-semibold;
                text-decoration: none !important;
                &:focus,
                &:hover{
                    color: rgba($white, .7);
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, light);
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 9px;
                text-decoration: none !important;
            }
            @at-root .popover{
                @include m(managers-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: palette(primary, light);
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .managers-item-actions__popover{
                        display: block;
                    }
                }
            }
        }
    }

    &__bottom{
        margin-top: $global-margin * 2;
        @media (min-width: $media-md){
            text-align: right;
        }
    }
}