include /components/money/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#managers
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Список менеджеров в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {number} [config.max=3] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='managers'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin managers(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'managers';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'managers',
            max: 3,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.name);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'items',
                classes: row
            })
                each item, index in items
                    if _.isUndefined(config.max) || (index < config.max)
                        +be({
                            modifiers: 'item',
                            classes: col
                        })
                            +e({
                                modifiers: 'inner',
                                classes: row
                            })
                                +e({
                                    modifiers: ['item', 'info'],
                                    classes: col
                                })
                                    +be.info
                                        +avatar({dataIndex: index})

                                        +e.text
                                            +e({
                                                modifiers: 'name',
                                                content: item.name
                                            })

                                            - const email = `${item.email}@${globalConfig.emailDomain}`;
                                            +e({
                                                modifiers: 'email',
                                                content: `Email: <a href="${transformToEmail(email)}">${email}</a>`
                                            })

                                            +e({
                                                modifiers: 'phone',
                                                content: `Телефон: <a href="${transformToTel(item.phone)}">${item.phone}</a>`
                                            })

                                +e({
                                    modifiers: ['item', 'orders'],
                                    classes: col
                                })
                                    +be.orders
                                        +e.number 2257 заказов
                                        +e.price!= money.formatPrice(190000)

                                +e({
                                    modifiers: ['item', 'reserves'],
                                    classes: col
                                })
                                    +be.reserves
                                        +e.number 14 резервов
                                        +e.price!= money.formatPrice(80000)

                                +e({
                                    modifiers: ['item', 'actions'],
                                    classes: col
                                })
                                    +be.actions
                                        +button({title: 'Показать действия'})
                                            +e({
                                                tag: span,
                                                modifiers: 'dots',
                                                content: '.'
                                            })
                                        +e.popover
                                            +e.items
                                                each actionItem in config.data.actions
                                                    +e.item
                                                        +link({
                                                            tag: a,
                                                            modifiers: actionItem.class
                                                        })
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'icon'
                                                            })
                                                                +sprite(actionItem.sprite)
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'text',
                                                                content: actionItem.content
                                                            })

                    block

            +be.bottom
                +button({
                    tag: a,
                    content: 'Добавить менеджера',
                    color: 'primary'
                })