@import 'main';

:root{
    //Общее
    --swiper-theme-color: #{$grey};

    //Навигация
    --swiper-navigation-color: var(--swiper-theme-color);
    --swiper-navigation-size: #{$btn-height};

    //Пагинация
    --swiper-pagination-bullet-size: 7px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bullet-inactive-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-inactive-opacity: .5;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: var(--swiper-theme-color);
}

.swiper{
    //Навигация
    &-navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }
    &-button{
        &-prev,
        &-next{
            width: var(--swiper-navigation-size);
            opacity: 0;
            @include transition(color background border opacity);
            @media (max-width: $media-md-max){
                position: relative;
                top: 0;
                margin-top: 0;
            }
            &[tabindex]{
                opacity: 1;
            }
            &:hover,
            &:focus{
                color: rgba(var(--swiper-navigation-color), .7);
            }
            &::after{
                display: none;
            }
            &.swiper-button-disabled{
                cursor: default;
                opacity: .2;
            }
            &.swiper-button-lock{
                display: none;
                opacity: 0 !important;
                pointer-events: none;
            }
            .swiper-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }
        &-prev{
            left: 0;
            margin-right: 10px;
            .swiper-icon{
                transform: rotate(90deg);
            }
        }
        &-next{
            right: 0;
            order: 2;
            margin-left: 10px;
            .swiper-icon{
                transform: rotate(-90deg);
            }
        }
    }

    //Пагинация
    &-pagination{
        position: relative;
        max-width: calc(100% - #{($btn-height + $global-padding) * 2});
        &.swiper-pagination-bullets.swiper-pagination-horizontal{
            bottom: 0;
            width: auto;
            margin-top: -2px;
            @media (min-width: $media-sm){
                margin-top: -4px;
            }
        }
    }
}

//Простой контентный слайдер
.slider{
    width: 100%;
    text-align: center;
    img{
        margin: 0 auto;
    }
}