//-TODO:use sliderItem inside slider mixin

-
    /**
     * @function mixins.components#slider
     * @desc Контентный слайдер.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {boolean} [config.hidden=true] - .
     * @param {boolean} [config.dataInit] - .
     * @param {(Bemoptions|boolean)} [config.items] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='slider'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.swiper='swiper'] - .
     * @param {bemclasses} [config.class.containerAdd=config.class.swiper] - .
     * @param {bemclasses} [config.class.items='items'] - .
     * @param {bemclasses} [config.class.wrapper='wrapper'] - .
     * @param {bemclasses} [config.class.itemsAdd=`${config.class.swiper}-${config.class.wrapper}`] - .
     */
mixin slider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'slider';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataSlider: config.dataInit ? '' : null,
                dataSliderOptions: config.dataOptions || null
            },
            hidden: true,
            class: {
                mixinClass,
                swiper: 'swiper',
                items: 'items',
                wrapper: 'wrapper'
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                hidden: config.hidden ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                containerAdd: config.class.swiper,
                itemsAdd: `${config.class.swiper}-${config.class.wrapper}`
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.containerAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.items) {
            config.items = _.toPlainObject(config.items);
            _.defaultsDeep(config.items, {
                type: e,
                modifiers: config.class.items,
                classes: config.class.itemsAdd
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +#{config.items ? b : empty}(config.items)
            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#sliderItems
     * @desc Контейнер для слайдов в контентном слайдере.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag]
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='items'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.swiper='swiper'] - .
     * @param {bemclasses} [config.class.wrapper='wrapper'] - .
     * @param {bemclasses} [config.class.itemsAdd=`${config.class.swiper}-${config.class.wrapper}`] - .
     */
mixin sliderItems(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'items';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                swiper: 'swiper',
                wrapper: 'wrapper'
            }
        });

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            itemsAdd: `${config.class.swiper}-${config.class.wrapper}`
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.itemsAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#sliderItem
     * @desc Элемент контентного слайдера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.swiper='swiper'] - .
     * @param {bemclasses} [config.class.slide='slide'] - .
     * @param {bemclasses} [config.class.itemAdd=`${config.class.swiper}-${config.class.slide}`] - .
     */
mixin sliderItem(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                swiper: 'swiper',
                slide: 'slide'
            }
        });

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            itemAdd: `${config.class.swiper}-${config.class.slide}`
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.itemAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#sliderNav
     * @desc Навигация контентного слайдера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='nav'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.swiper='swiper'] - .
     * @param {bemclasses} [config.class.navigation='navigation'] - .
     * @param {bemclasses} [config.class.navigationAdd=`${config.class.swiper}-${config.class.navigation}`] - .
     * @param {bemclasses} [config.class.arrow='arrow'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.prev='prev'] - .
     * @param {bemclasses} [config.class.next='next'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     */
mixin sliderNav(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'nav';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                swiper: 'swiper',
                navigation: 'navigation',
                arrow: 'arrow',
                button: 'button',
                prev: 'prev',
                next: 'next',
                icon: 'icon'
            }
        });

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            navigationAdd: `${config.class.swiper}-${config.class.navigation}`
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.navigationAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: [config.class.arrow, config.class.prev],
            classes: `${config.class.swiper}-${config.class.button}-${config.class.prev}`
        })
            +e({
                tag: span,
                modifiers: config.class.icon,
                classes: `${config.class.swiper}-${config.class.icon}`
            })
                +sprite({
                    id: 'arrow',
                    width: 11
                })

        +e({
            modifiers: [config.class.arrow, config.class.next],
            classes: `${config.class.swiper}-${config.class.button}-${config.class.next}`
        })
            +e({
                tag: span,
                modifiers: config.class.icon,
                classes: `${config.class.swiper}-${config.class.icon}`
            })
                +sprite({
                    id: 'arrow',
                    width: 11
                })

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#sliderPagination
     * @desc Пагинация контентного слайдера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {string} [config.paginationType] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='pagination'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.swiper='swiper'] - .
     * @param {bemclasses} [config.class.pagination='pagination'] - .
     * @param {bemclasses} [config.class.paginationAdd=`${config.class.swiper}-${config.class.pagination}`] - .
     */
mixin sliderPagination(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'pagination';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                swiper: 'swiper',
                pagination: mixinClass
            }
        });

        _.defaultsDeep(config.class, {
            block: config.class.mixinClass || mixinClass,
            paginationAdd: `${config.class.swiper}-${config.class.pagination}`
        });

        const blockClasses = _.castArray(config.class.block);
        if (config.paginationType) blockClasses.push(config.paginationType);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.paginationAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block