@import 'main';

.product{
    &__buy{
        min-width: 100%;
        margin-top: $global-margin * 2;
    }
    &-buy{
        &__inner{
            margin-top: -$global-margin;
            @media (min-width: $media-sm){
                flex-wrap: nowrap;
                justify-content: flex-end;
                margin-top: 0;
                margin-right: 0;
            }
            .col{
                margin-top: $global-margin;
                @media (min-width: $media-sm){
                    min-width: auto;
                    margin-top: 0;
                    padding-right: 0;
                }
            }
        }
        &__group{
            flex-grow: 0;
            flex-wrap: nowrap;
            margin-top: 0;
            @at-root .browser-ie{
                .product-buy__group{
                    min-width: 58px * 2 + $global-padding !important;
                }
            }
            .product-buy__item{
                .product-buy__button{
                    @include m(active){
                        color: $color-primary;
                    }
                }
            }
        }
        &__item{
            position: relative;
            display: flex;
            + .product-buy__item{
                position: relative;
                z-index: 3;
                @include border-left;
            }
            &.input-group-prepend{
                .product-buy__button{
                    border-top-left-radius: $btn-radius !important;
                    border-bottom-left-radius: $btn-radius !important;
                }
            }
            &.input-group-append{
                .product-buy__button{
                    border-top-right-radius: $btn-radius !important;
                    border-bottom-right-radius: $btn-radius !important;
                }
            }
        }
        &__button{
            flex: 1 0 auto;
            min-width: 51px;
            padding: 0 $global-padding * 1.75;
            line-height: $btn-height-lg - $btn-border-width * 2;
            @include transition(opacity color background border-color box-shadow);
            &.btn-secondary{
                border-color: $bg-primary;
                color: $grey;
                background: $bg-primary;
            }
        }
        @if map-get($global-settings, offers){
            &-offer{
                &__button{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    &.btn-secondary{
                        border-color: $bg-primary;
                        color: $grey;
                        background: $bg-primary;
                    }
                }
            }
        }
    }
}