//-TODO:added to wishlist popup

-
    /**
     * @function mixins.layout#productBuy
     * @desc Блок кнопок действий на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='buy'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productBuy(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'buy';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            block

-
    /**
     * @function mixins.layout#productBuyGroup
     * @desc Блок группы кнопок действий на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.compare=true] - .
     * @param {boolean} [config.wishlist=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='group'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=[col, 'input-group']] - Дополнительные классы.
     */
mixin productBuyGroup(config)
    -
        if (!(globalConfig.settings.compare || globalConfig.settings.wishlist)) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'group';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            compare: true,
            wishlist: true,
            class: {
                mixinClass,
                addClass: [col, 'input-group']
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        //-Сравнение
        if globalConfig.settings.compare && config.compare
            +e({
                modifiers: ['item', 'compare'],
                classes: 'input-group-prepend'
            })
                +button({
                    modifiers: 'default',
                    color: 'secondary',
                    size: 'lg',
                    title: 'Добавить к сравнению'
                })
                    +sprite#stats
                    +e({
                        tag: span,
                        modifiers: 'title',
                        classes: srOnly,
                        content: 'Добавить к сравнению'
                    })

                +button({
                    modifiers: 'active',
                    color: 'secondary',
                    size: 'lg',
                    title: 'Удалить из сравнения',
                    attrs: {
                        dataState: 'active'
                    }
                })
                    +sprite#stats
                    +e({
                        tag: span,
                        modifiers: 'title',
                        classes: srOnly,
                        content: 'Удалить из сравнения'
                    })

        //-Отложенные
        if globalConfig.settings.wishlist && config.wishlist
            +e({
                modifiers: ['item', 'wishlist'],
                classes: 'input-group-append'
            })
                +button({
                    modifiers: 'default',
                    color: 'secondary',
                    size: 'lg',
                    title: 'Добавить к отложенным товарам'
                })
                    +sprite#bookmark
                    +e({
                        tag: span,
                        modifiers: 'title',
                        classes: srOnly,
                        content: 'Добавить к отложенным'
                    })

                +button({
                    modifiers: 'active',
                    color: 'secondary',
                    size: 'lg',
                    title: 'Удалить из отложенных товаров',
                    attrs: {
                        dataState: 'active'
                    }
                })
                    +sprite#bookmark
                    +e({
                        tag: span,
                        modifiers: 'title',
                        classes: srOnly,
                        content: 'Удалить из отложенных'
                    })

        block