-
    /**
     * @function mixins.layout#addSpaces
     * @desc Скрипт добавления неразрывных пробелов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.localData.data.regex] - .
     * @param {string} [config.scriptContents] - .
     */
mixin addSpaces(config)
    -
        const modulePath = 'layout/add-spaces';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        const defaultScriptContents = `
            window.app.addSpaces = html => {
                return String(html).replace(/(\s|>)(${config.localData.regex})\s+[^<\s]/gi, (...args) {
                    return args[1] + args[0].substring(1).replace(/s+/, '&nbsp;');
                });
            };
            document.body.innerHTML = window.app.addSpaces(document.body.innerHTML);
        `;

        _.defaultsDeep(config, {
            scriptContents: defaultScriptContents
        });

    //-html
    script
        != config.scriptContents

-
    /**
     * @function mixins.components#addSpacesTranslate
     * @desc Строка с языковым контентом для модуля добавления пробелов.
     */
mixin addSpacesTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'layout', 'add-spaces', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.addSpaces = ${langContent};`