@import 'main';

//Сетка
.container,
.container-fluid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    @media (min-width: $media-lg){
        padding-left: $container-padding * 1.75;
        padding-right: $container-padding * 1.75;
    }
}
.container{
    max-width: $content-width;
    @media print{
        min-width: $media-lg !important;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$global-padding;
    margin-right: -$global-padding;
    &.-small{
        margin-left: -$global-padding * .5;
        margin-right: -$global-padding * .5;
    }
}

@if $use-grid{
    @include make-grid-columns;
} @else{
    .col{
        @include col-attrs;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-auto{
        @include col-attrs($width: false);
        @include col-auto;
    }
}
.col,
[class*='col-']{
    &.-small{
        padding-left: $global-padding * .5;
        padding-right: $global-padding * .5;
    }
}

//Стили для основных блоков разметки
.header,
.footer{
    position: relative;
}
.page-wrapper{
    position: relative;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background: $bg-body;
    @at-root .browser-ie{
        .page-wrapper{
            display: flex;
            flex-direction: column;
        }
    }
}
.page-wrapper-inner{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
}
.main-content{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
    &.preloader-active{
        position: relative;
    }
    &__container{
        padding-top: $section-margin;
        padding-bottom: $global-margin * 4;
    }
    &__row{
        > .top{
            margin-top: $global-margin * .75;
            + .main-content-inner__col{
                @media (min-width: $media-xl){
                    margin-top: $global-margin * 1.5;
                }
            }
        }
    }
    &__col{
        display: flex;
        flex-wrap: wrap;
        > .row{
            width: calc(100% + #{$global-gutter}); //TODO:remove?
        }
    }
    &__inner{
        width: calc(100% + #{$container-padding * 2});
        min-height: 100%;
        margin: 0 (-$container-padding);
        padding: $global-margin * 1.75 $container-padding $global-margin * 3;
        background: $white;
        box-shadow: $shadow-size-lg rgba($shadow-color-primary, .05);
        @media (min-width: $media-lg){
            width: 100%;
            margin: 0;
            padding-left: $global-padding * 3.5;
            padding-right: $global-padding * 3.5;
            border-radius: $radius-primary;
        }
    }
}

//Заголовок основного контента сайта
.top{
    min-width: 100%;
    &__inner{
        flex: 1 0 auto;
        justify-content: space-between;
        max-width: calc(100% + #{$global-gutter});
        @media (min-width: $media-xl){
            flex-wrap: nowrap;
        }
    }
    &__title{
        h1{
            margin-bottom: 0;
        }
    }
    &__subtitle{
        min-width: 100%;
        font-size: $size-ml-px;
    }
}

//Блок под основной контентной частью сайта
.bottom{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: auto;
}
.content-preloader{
    .main-content.preloader-active{
        .bottom{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
}