//-Основные миксины разметки

include /components/preloader/template.pug
include /components/toaster/template.pug

include /layout/browsers-warning/template.pug
include /layout/footer/template.pug
include /layout/header/template.pug
include /layout/popups/template.pug

-
    /**
     * @function mixins.layout#pageWrapper
     * @requires mixins.components#toaster
     * @requires mixins.layout#cookieAlert
     * @desc Обёртка страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.topToaster={}] - .
     * @param {string} [config.topToaster.placementX='right'] - .
     * @param {string} [config.topToaster.placementY='top'] - .
     * @param {Object} [config.bottomToaster={}] - .
     * @param {string} [config.topToaster.placementX='right'] - .
     * @param {string} [config.topToaster.placementY='bottom'] - .
     * @param {Object} [config.cookieAlert={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='page-wrapper'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.inner='page-wrapper-inner'] - .
     */
mixin pageWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'page-wrapper';

        _.defaultsDeep(config, {
            tag: div,
            topToaster: {
                placementX: 'right',
                placementY: 'top'
            },
            bottomToaster: {
                placementX: 'right',
                placementY: 'bottom'
            },
            cookieAlert: {},
            class: {
                mixinClass,
                inner: 'page-wrapper-inner'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    if config.topToaster
        +toaster(config.topToaster)
    if config.bottomToaster
        +toaster(config.bottomToaster)
            if config.cookieAlert
                +cookieAlert(config.cookieAlert)

    #{config.tag}&attributes(attributes)
        div(class=config.class.inner)
            block

-
    /**
     * @function mixins.layout#main
     * @desc Основной контент страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=main]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='main-content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin main(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'main-content';

        _.defaultsDeep(config, {
            tag: main,
            attrs: {
                role: 'main'
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#contentTop
     * @requires mixins.layout#header
     * @desc Обёртка верхней части страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.header={}] - .
     */
mixin contentTop(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            header: {}
        });

    //-html
    if config.header
        +callMixin('header', config.header)

    block

-
    /**
     * @function mixins.layout#contentBottom
     * @requires mixins.components#preloader
     * @requires mixins.layout#unsupportedBrowsersWarning
     * @requires mixins.layout#footer
     * @requires mixins.layout#popups
     * @desc Обёртка нижней части страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.footer={}] - .
     * @param {Object} [config.popups={}] - .
     * @param {Object} [config.browsersWarning] - .
     * @param {Object} [config.preloader] - .
     */
mixin contentBottom(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            footer: {},
            popups: {}
        });

    //-html
    if config.footer
        +callMixin('footer', config.footer)

    //-Скрытые элементы нижней части страницы
    if config.popups || config.browsersWarning || config.preloader
        div(hidden)
            if config.popups
                +popups(config.popups)

            if config.browsersWarning
                +unsupportedBrowsersWarning(config.browsersWarning)

            if config.preloader
                +preloader(config.preloader)

    block

-
    /**
     * @function mixins.layout#mainInner
     * @desc Внутренний контейнер основного контента.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.row=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='container'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.container=container] - .
     * @param {bemclasses} [config.class.row=row] - .
     */
mixin mainInner(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'container';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            row: true,
            class: {
                mixinClass,
                container,
                row
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.container);

    mixin mainInnerRow
        +e({
            modifiers: config.class.row,
            classes: config.class.row
        })
            block

    //-html
    +b(config)&attributes(attributes)
        +#{config.row ? 'mainInnerRow' : empty}
            block

-
    /**
     * @function mixins.layout#mainContentInner
     * @desc Основной контейнер для контента по умолчанию.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.row=true] - .
     * @param {boolean} [config.preloaderContainer=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='inner'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.container=container] - .
     * @param {bemclasses} [config.class.row=row] - .
     * @param {bemclasses} [config.class.preloaderContainer='preloader-container'] - .
     */
mixin mainContentInner(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'inner';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            row: true,
            preloaderContainer: true,
            class: {
                mixinClass,
                container,
                preloaderContainer: 'preloader-container',
                row
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.container);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +#{config.preloaderContainer ? b : empty}({classes: config.class.preloaderContainer})
            +#{config.row ? b : empty}({
                type: e,
                modifiers: config.class.row,
                classes: config.class.row
            })
                block

-
    /**
     * @function mixins.layout#mainContent
     * @desc Основная колонка контента по умолчанию.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.container=true] - .
     * @param {boolean} [config.row=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='col'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.col=col] - .
     */
mixin mainContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'col';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            container: true,
            row: true,
            class: {
                mixinClass,
                col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.col);

    //-html
    +b(config)&attributes(attributes)
        +#{config.container ? 'mainContentInner' : empty}({row: config.row})
            block

-
    /**
     * @function mixins.layout#mainContentCol
     * @desc Колонка внутреннего контента по умолчанию.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='col'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.col=col] - .
     */
mixin mainContentCol(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'col';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.col);

    //-html
    +b(config)&attributes(attributes)
        block
-
    /**
     * @function mixins.layout#top
     * @desc Контейнер основного заголовка страниц и верхних элементов управления.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title=page.title] - .
     * @param {booelan} [config.h1=true] - .
     * @param {string} [config.subtitle] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin top(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            title: page.title,
            h1: true,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: 'inner'
        })
            +e({
                classes: col,
                modifiers: 'title'
            })
                #{config.h1 ? h1 : div}!= config.title

                if config.subtitle
                    +e({
                        modifiers: 'subtitle',
                        content: config.subtitle
                    })

            block

-
    /**
     * @function mixins.layout#bottom
     * @desc Нижний блок страницы, идущий после основного контента страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin bottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#sitemap
     * @desc Страница карты сайта.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin sitemap(config)
    //-html
    +list({
        type: b,
        class: 'sitemap'
    })
        -
            const pages = fs.readdirSync(path.join(globalConfig.templatesRoot, globalConfig.pages)).filter(dir => {
                if (dir === 'test') return false;

                const directoryPath = path.join(globalConfig.templatesRoot, globalConfig.pages, dir);
                const isDirectory = fs.statSync(directoryPath).isDirectory();
                if (!isDirectory) return false;
                const indexFile = path.join(directoryPath, globalConfig.moduleScriptFile);
                const hasIndexFile = fs.existsSync(indexFile);
                if (!hasIndexFile) return false;
                const isDisabled = fs.readFileSync(indexFile, encoding).startsWith('if (__IS_DISABLED_MODULE__) {');
                return !isDisabled;
            });

        each item in pages
            - const isInactive = item.startsWith('_');
            +listItem
                +link({
                    classes: (isInactive ? 'inactive' : ''),
                    href: composeUrl('..', (item !== 'index') && item),
                    target: '_blank',
                    content: isInactive ? item.slice(1) : item
                })

    block

-
    /**
     * @function mixins.layout#sitemapStyle
     * @desc Стили страницы карты сайта.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin sitemapStyle(config)
    //-html
    style.
        .sitemap{
            padding-left: 0;
            -moz-column-count: 2;
            column-count: 2;
            max-width: 600px;
        }
        .sitemap__item{
            margin: 0 0 .5rem;
            padding-left: 0;
        }
        .sitemap__item:before{
            display: none;
        }
        .sitemap__link.inactive{
            opacity: .5;
        }
        @media (min-width: 992px){
            .sitemap{
                -moz-column-count: 3;
                column-count: 3;
                max-width: 900px;
            }
        }

    block