-
    const page = {
        title: 'Редактировать коммерческое предложение',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +personalWrapper
                        +offerNew({
                            image: true,
                            values: true
                        })
                            +offerNewTable({classes: col})

            +contentBottom
        +foot