@import 'main';

.main-content-inner__col > .personal{
    .orders-cancel{
        max-width: col-width-px(5);
        margin-top: $global-margin * 1.5;
        &__title{
            a{
                text-decoration: underline;
                &:hover,
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}