-
    /**
     * @function mixins.layout#ordersCancelControls
     * @requires mixins.layout#personalControls
     * @desc Верхние элементы управления на странице отмены заказа в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.ordersCancelModifier='orders-cancel'] - .
     */
mixin ordersCancelControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders-cancel';

        _.defaultsDeep(config, {
            class: {
                ordersCancelModifier: mixinClass
            }
        });

        if (config.class.ordersCancelModifier) {
            setBlockClass(attributes, config.class.ordersCancelModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +be({
            modifiers: ['item', 'orders-back'],
            classes: col
        })
            +link({href: 'orders'})
                +e({
                    tag: span,
                    modifiers: 'icon'
                })
                    +sprite#arrow-line-thin
                | В список заказов

            block

-
    /**
     * @function mixins.layout#ordersCancel
     * @desc Страница отмены заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type]
     * @param {bemtag} [config.tag]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='orders-cancel'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin ordersCancel(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders-cancel';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +form({type: e})
            +e.title Вы уверены, что хотите отменить #[a(href=transformUrl('orders-detail')) заказ №12651]? #[strong Отмена заказа необратима.]

            +formGroup
                +label({
                    for: 'orders-cancel-message',
                    content: 'Укажите, пожалуйста, причину отмены заказа'
                })

                +input({
                    tag: textarea,
                    id: 'orders-cancel-message',
                    name: 'MESSAGE',
                    formControl: true
                })

            +formGroup
                +button({
                    modifiers: 'submit',
                    content: 'Отменить заказ',
                    color: 'primary',
                    buttonType: 'submit'
                })

        block