@import 'main';

.list-unstyled{
    padding-left: 0;
    > li{
        &::before{
            display: none;
        }
    }
}

.list-inline{
    padding-left: 0;
    &-item{
        margin-top: 0;
        &:not(:first-child){
            margin-left: $global-margin * .5;
        }
        &::before{
            display: none;
        }
    }
}

//TODO:add list-sm, list-lg