//-TODO:addClass opt

-
    /**
     * @function mixins.components#list
     * @desc Список.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=ul]
     * @param {boolean} [config.listGroup] - .
     * @param {boolean} [config.inline] - .
     * @param {boolean} [config.unstyled] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='list'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.listGroup=`${config.class.list}-group`] - .
     * @param {bemclasses} [config.class.inline=`${config.class.list}-inline`] - .
     * @param {bemclasses} [config.class.unstyled=`${config.class.list}-unstyled`] - .
     * @example
     * +list({
     *     listGroup: true
     * })
     *     li Пункт 1
     *     li Пункт 2
     */
mixin list(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'list';

        _.defaultsDeep(config, {
            type: e,
            tag: ul,
            class: {
                mixinClass,
                list: 'list'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            listGroup: `${config.class.list}-group`,
            inline: `${config.class.list}-inline`,
            unstyled: `${config.class.list}-unstyled`
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.listGroup) addClasses.push(config.class.listGroup);
        if (config.inline) addClasses.push(config.class.inline);
        if (config.unstyled) addClasses.push(config.class.unstyled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#listItem
     * @desc Элемент списка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=li]
     * @param {boolean} [config.inline] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.inline=`${config.class.list}-inline-item`] - .
     * @example
     * +list
     *     +listItem Пункт 1
     *     +listItem Пункт 2
     */
mixin listItem(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: li,
            class: {
                mixinClass,
                list: 'list'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            inline: `${config.class.list}-inline-item`
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.slide) addClasses.push(config.class.slide);
        if (config.inline) addClasses.push(config.class.inline);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block