@import 'palette';

//TODO:add description to every var

//Серые цвета по умолчанию
$greys: (
    darkest: #111,
    darker: #222,
    middarker: #333,
    dark: #444,
    middark: #555,
    middle: #777,
    midlight: #999,
    light: #aaa,
    midlighter: #ccc,
    lighter: #ededed,
    lightest: #f5f5f5
);

//Серые
$black: #000;
$grey-darkest: #111;
$grey-darker: #163457; //title, legend color
$grey-middarker: #333;
$grey-dark: #304967; //text primary, input color
$grey-middark: #555;
$grey: #6d829b; //text secondary
$grey-midlight: #707070;
$grey-light: #9caec4; //color comment, placeholder color
$grey-midlighter: #ccc;
$grey-lighter: #dce4ed; //bg secondary, border secondary, input border, table border
$grey-lightest: #f0f3f7; //border primary, bg primary, input bg
$white: #fff;

//Основные цвета
$text-primary: $grey-dark;
$bg-primary: $grey-lightest;
$border-primary: $grey-lightest;
$bg-body: $grey-lightest;
$header-primary: $grey-darker;

//Дополнительные цвета
$text-secondary: $grey;
$bg-secondary: $grey-lighter;
$border-secondary: $grey-lighter;
$color-comment: $grey-light;
$header-secondary: $header-primary;

//Другие цвета
//-

//Ссылки
$link-color: palette(primary, light);
$link-color-hover: $color-primary;

//Формы
$input-color: $text-primary;
$input-bg: transparent;
$input-border: $grey-lighter;
//Чекбоксы
$check-bg: $input-border;
$check-border: $input-border;
//Элементы форм
$legend-color: $grey-darker;
$label-color: $grey-darker;
$placeholder-color: $grey-light;
//При наведении
$input-color-hover: $input-color;
$input-bg-hover: $input-bg;
$input-border-hover: $grey-lightest;
//Ошибки
$input-error-color: $input-color;
$input-error-bg: $input-bg;
$input-error-border: $color-danger;
$placeholder-error: $placeholder-color;
//Ошибки при наведении
$input-error-color-hover: $input-error-color;
$input-error-bg-hover: $input-error-bg;
$input-error-border-hover: $input-border-hover;

//Кнопки
//primary
$btn-color: $white;
$btn-bg: $color-primary;
$btn-border: $btn-bg;
//secondary
$btn-secondary-color: $grey-dark;
$btn-secondary-bg: $grey-lightest;
$btn-secondary-border: $btn-secondary-bg;
//secondary при нведении
$btn-secondary-color-hover: $grey-darker;
$btn-secondary-bg-hover: $grey-lightest;
$btn-secondary-border-hover: $btn-secondary-bg-hover;
//success
$btn-success-color: $white;
$btn-success-bg: palette(success, base);
$btn-success-border: $btn-success-bg;
//info
$btn-info-color: $white;
$btn-info-bg: palette(info, base);
$btn-info-border: $btn-info-bg;
//warning
$btn-warning-color: $white;
$btn-warning-bg: palette(warning, base);
$btn-warning-border: $btn-warning-bg;
//danger
$btn-danger-color: $white;
$btn-danger-bg: palette(danger, base);
$btn-danger-border: $btn-danger-bg;
//light
$btn-light-color: $grey;
$btn-light-bg: $grey-lightest;
$btn-light-border: $btn-light-bg;
//dark
$btn-dark-color: $white;
$btn-dark-bg: $grey-darker;
$btn-dark-border: $btn-dark-bg;

//Таблицы
$table-border: $border-secondary;
$table-odd-bg: to-rgb($grey-lightest, .5);
$table-th-bg: transparent;
$table-th-color: $grey-darker;

//Другие элементы
$blockquote-border-color: $color-primary;