@import 'main';

.rating{
    &-list{
        display: flex;
        margin: 0 -2px;
        padding: 0;
    }

    &-item{
        position: relative;
        display: block;
        flex: 1 0 auto;
        padding: 0 2px;
        &::before{
            display: none;
        }
    }

    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: to-rgb($text-secondary, .75);
        svg{
            color: transparent;
            fill: to-rgb($text-secondary, .75);
        }
    }

    &-star{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $btn-height-sm;
        padding: 0;
        border: none;
        color: $text-secondary;
        text-align: center;
        background: none;
        cursor: $cursor-pointer;
        user-select: none;
        &.active,
        &.hover-active{
            color: $color-primary;
            .rating-progress,
            .rating-text{
                width: 100% !important;
            }
            svg{
                color: transparent;
                fill: $color-warning;
            }
        }
        &.active{
            svg{
                color: $color-warning;
            }
        }
        &.hover-active{
            color: to-rgb($color-primary, .75);
            svg{
                color: to-rgb($color-warning, .75);
                fill: to-rgb($color-warning, .75);
            }
        }
    }

    &-progress{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        overflow: hidden;
    }

    &-text{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    //Статичный рейтинг
    @include m(static){
        .rating{
            &-star{
                cursor: default;
            }
        }
    }

    //Текстовый рейтинг
    @include m(text){
        .rating-text{
            background: to-rgb($text-secondary, .5);
        }
    }
}