//-TODO:half rating, min option, fix inner space 🐛

-
    /**
     * @function mixins.components#rating
     * @desc Элемент рейтинга.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(number|Array.<string>)} [config.stars=5] - .
     * @param {number} [config.max=config.stars] - .
     * @param {number} [config.value] - .
     * @param {boolean} [config.disabled] - .
     * @param {string} [config.idPrefix='rating'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id] - .
     * @param {boolean} [config.dataInit] - .
     * @param {(Bemoptions|boolean)} [config.input=true] - .
     * @param {(Bemoptions|boolean)} [config.bg=true] - .
     * @param {Bemoptions} [config.list] - .
     * @param {Bemoptions} [config.item] - .
     * @param {Bemoptions} [config.button] - .
     * @param {Bemoptions} [config.progress] - .
     * @param {Sprite} [config.icon] - .
     * @param {(Bemoptions|boolean)} [config.text] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='rating'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.ratingAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.star='star'] - .
     * @param {bemclasses} [config.class.value='value'] - .
     * @param {bemclasses} [config.class.static='static'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @param {bemclasses} [config.class.starActive='active'] - .
     * @param {bemclasses} [config.class.bg='bg'] - .
     * @param {bemclasses} [config.class.progress='progress'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.notEmpty='not-empty'] - .
     */
mixin rating(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'rating';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataRating: config.dataInit ? '' : null,
                dataRatingOptions: config.dataOptions || null
            },
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            stars: 5,
            input: true,
            bg: true,
            class: {
                mixinClass,
                input: 'input',
                list: 'list',
                item: 'item',
                star: 'star',
                value: 'value',
                static: 'static',
                active: 'active',
                disabled: 'disabled',
                starActive: 'active',
                bg: 'bg',
                progress: 'progress',
                text: 'text',
                notEmpty: 'not-empty'
            }
        });

        const starsLength = Array.isArray(config.stars) ? config.stars.length : config.stars;

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            max: starsLength,
            class: {
                block: config.class.mixinClass || mixinClass,
                ratingAdd: config.class.mixinClass || mixinClass
            }
        });

        const blockClasses = _.castArray(config.class.block);
        if (config.static) blockClasses.push(config.class.static);
        if (config.text) blockClasses.push(config.class.text);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.ratingAdd);
        if (!config.static) addClasses.push(config.class.active);
        if (config.disabled) addClasses.push(config.class.disabled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const starValue = config.max / starsLength;
        if (starValue !== 1) {
            config.attrs.dataRatingOptions = _.toPlainObject(config.attrs.dataRatingOptions);
            _.defaultsDeep(config.attrs.dataRatingOptions, {
                max: config.max
            });
        }

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            classes: `${config.class.mixinClass}-${config.class.list}`,
            modifiers: config.class.list
        });

        if (config.input) {
            config.input = _.toPlainObject(config.input);
            _.defaultsDeep(config.input, {
                classes: `${config.class.mixinClass}-${config.class.input}`,
                inputType: 'hidden',
                value: config.value,
                disabled: config.disabled,
                id: config.id,
                name: 'RATING'
            });
        }

        config.item = _.toPlainObject(config.item);
        _.defaultsDeep(config.item, {
            type: e,
            tag: span,
            classes: `${config.class.mixinClass}-${config.class.item}`,
            modifiers: config.class.item
        });

        config.button = _.toPlainObject(config.button);
        _.defaultsDeep(config.button, {
            type: be,
            tag: button,
            classes: [`${config.class.mixinClass}-${config.class.star}`],
            modifiers: config.class.star,
            attrs: {
                type: 'button'
            }
        });

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                id: 'star'
            });
        }

        if (config.bg) {
            config.bg = _.toPlainObject(config.bg);
            _.defaultsDeep(config.bg, {
                type: e,
                tag: span,
                classes: `${config.class.mixinClass}-${config.class.bg}`,
                modifiers: config.class.bg
            });

            config.progress = _.toPlainObject(config.progress);
            _.defaultsDeep(config.progress, {
                type: e,
                tag: span,
                classes: `${config.class.mixinClass}-${config.class.progress}`,
                modifiers: config.class.progress,
                attrs: {}
            });

            config.text = _.toPlainObject(config.text);
            _.defaultsDeep(config.text, {
                type: e,
                tag: span,
                classes: `${config.class.mixinClass}-${config.class.text}`,
                modifiers: config.class.text,
                attrs: {}
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.input
            +input(config.input)

        +b(config.list)
            each item, starIndex in [...Array(starsLength)]
                -
                    const starsValue = (starIndex + 1) * starValue;
                    const isActive = (starsValue === config.value) || (starsValue <= config.value);
                    let progressBg;
                    let textBg;
                    let isNotEmpty = false;
                    if (config.bg) {
                        const isEmpty = (starsValue - starValue) > config.value;
                        const buttonBgWidth = isActive ? 100 : (isEmpty ? 0 : (100 / (starValue / (config.value % starValue))));
                        progressBg = `width: ${buttonBgWidth}%;`;
                        textBg = `width: ${buttonBgWidth ? ((100 / buttonBgWidth) * 100) : 100}%;`;
                        if ((buttonBgWidth > 0) && (buttonBgWidth < 100)) {
                            isNotEmpty = true;
                        }
                    }
                    const textStarsValue = Number.parseInt(starsValue, 10);

                +b(config.item)
                    if config.bg
                        +b(config.bg)
                            != _.ifElse(config.text && !config.icon, textStarsValue)

                            if config.icon
                                +sprite(config.icon)

                    -
                        const buttonConfig = _.defaultsDeep({}, config.button, {
                            classes: config.button.classes.concat([
                                `${config.class.mixinClass}-${config.class.star}-${config.class.value}-${textStarsValue}`,
                                isActive ? config.class.starActive : null,
                                isNotEmpty ? config.class.notEmpty : null
                            ]),
                            attrs: {
                                title: Array.isArray(config.stars) ? config.stars[starIndex] : removeHtml(textStarsValue)
                            }
                        });
                    +b(buttonConfig)
                        != _.ifElse(!config.bg && config.text, textStarsValue)

                        if config.bg
                            -
                                const progressConfig = _.defaultsDeep({}, config.progress, {
                                    attrs: {
                                        style: progressBg
                                    }
                                });
                            +b(progressConfig)
                                if config.text
                                    -
                                        const textConfig = _.defaultsDeep({}, config.text, {
                                            attrs: {
                                                style: textBg
                                            }
                                        });
                                    +b(textConfig)
                                        != config.icon ? '' : textStarsValue

                                        if config.icon
                                            +sprite(config.icon)

        if !_.isUndefined(config.content)
            != config.content
        else
            block