@import 'main';

.range{
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @include m(single){
            .range{
                &-input-group{
                    width: 100%;
                }
                &-input{
                    width: 100%;
                    border-radius: $input-radius !important;
                }
            }
        }
    }
    &-input-group{
        display: flex;
        align-items: center;
        label{
            margin-bottom: 0;
            margin-right: 8px;
        }
    }
    &-input{
        width: 80px;
    }

    &-slider-wrapper{
        min-width: 100%;
        margin: $global-margin * 1.5 0 $global-margin * .5;
    }
}