@import 'main';

$plugin-class: 'noUi';

$slider-height: 2px;
$handle-size: 14px;

fieldset{
    &:disabled,
    &.disabled{
        .range-slider-wrapper{
            @include disabled;
        }
    }
}

//Стлии плагина noUISlider
.#{$plugin-class}{
    &-horizontal{
        height: $slider-height;
        .#{$plugin-class}{
            &-handle{
                top: floor(-($handle-size - $slider-height) * .5);
                width: $handle-size;
                height: $handle-size;
                @at-root html:not([dir='rtl']){
                    .#{$plugin-class}-horizontal{
                        .#{$plugin-class}-handle{
                            right: -$handle-size;
                        }
                    }
                }
            }
            &-tooltip{
                top: 100%;
                bottom: auto;
                margin-top: $global-margin * .33;
                padding: 0;
                border: none;
                border-radius: 0;
                color: $text-secondary;
                font-size: $size-sl-px;
                background: none;
                @include transition(color);
            }
        }
    }
    &-target{
        padding-right: $handle-size;
        border: none;
        border-radius: $slider-height * .5;
        background: $bg-primary;
        box-shadow: none;
    }
    &-connect{
        background: $color-primary;
    }
    &-handle{
        border: none;
        border-radius: 50%;
        background: $color-primary;
        outline: none !important;
        box-shadow: none;
        cursor: $cursor-pointer;
        @include transition(background);
        &::before{
            top: 50%;
            left: 50%;
            width: $btn-height;
            height: $btn-height;
            background: none;
            transform: translate(-50%, -50%);
        }
        &::after{
            display: none;
        }
        &:hover,
        &:focus{
            background: palette(primary, light);
            .#{$plugin-class}-tooltip{
                color: $text-primary;
            }
        }
    }
}