-
    /**
     * @function mixins.components#range
     * @desc Слайдер диапазонов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.idPrefix='range'] - .
     * @param {string} [config.idPostifx=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.name='RANGE'] - .
     * @param {number} [config.min=0] - .
     * @param {number} [config.max=0] - .
     * @param {number} [config.currentMin=config.min] - .
     * @param {number} [config.currentMax=config.max] - .
     * @param {boolean} [config.single] - .
     * @param {(boolean|Array.<number>)} [config.defaultData=true] - .
     * @param {Function} [config.inputValueFormat] - .
     * @param {Bemoptions} [config.inputs] - .
     * @param {Bemoptions} [config.inputs.from] - .
     * @param {Bemoptions} [config.inputs.to] - .
     * @param {Bemoptions} [config.inputs.wrapper] - .
     * @param {Bemoptions} [config.inputs.inputGroup] - .
     * @param {Bemoptions} [config.inputs.labels] - .
     * @param {Bemoptions} [config.inputs.labels.form] - .
     * @param {bemcontent} [config.inputs.labels.form.content=config.localData.fromLabel] - .
     * @param {Bemoptions} [config.inputs.labels.to] - .
     * @param {bemcontent} [config.inputs.labels.to.content=config.localData.toLabel] - .
     * @param {Bemoptions} [config.sliderWrapper] - .
     * @param {Bemoptions} [config.slider] - .
     * @param {boolean} [config.inputs.readonly] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='range'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.container='container'] - .
     * @param {bemclasses} [config.class.rangeContainer=`${config.class.range}-${config.class.container}`] - .
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.inputs='inputs'] - .
     * @param {bemclasses} [config.class.input='input'] - .
     * @param {bemclasses} [config.class.inputModifier='input'] - .
     * @param {bemclasses} [config.class.inputGroup='input-group'] - .
     * @param {bemclasses} [config.class.inputGroupModifier='input-group'] - .
     * @param {bemclasses} [config.class.inputGroupAdd=`${config.class.range}-${config.class.inputGroupModifier}`] - .
     * @param {bemclasses} [config.class.label='label'] - .
     * @param {bemclasses} [config.class.labelAdd] - .
     * @param {bemclasses} [config.class.fromPostfix='from'] - .
     * @param {bemclasses} [config.class.toPostfix='to'] - .
     * @param {bemclasses} [config.class.inputAdd='form-control'] - .
     * @param {bemclasses} [config.class.slider='slider'] - .
     * @param {bemclasses} [config.class.sliderAdd=`${config.class.range}-${config.class.sliderModifier}`] - .
     * @param {bemclasses} [config.class.sliderWrapper='slider-wrapper'] - .
     * @param {bemclasses} [config.class.sliderWrapperAdd='range-slider-wrapper'] - .
     * @param {bemclasses} [config.class.rangeInput=`${config.class.range}-${config.class.inputModifier}`] - .
     * @param {bemclasses} [config.class.single='single'] - .
     */
mixin range(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'range';

        const modulePath = 'components/range';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            name: 'RANGE',
            attrs: {
                dataRange: config.dataInit ? '' : null,
                dataRangeOptions: config.dataOptions || null
            },
            min: 0,
            max: 100,
            defaultData: true,
            inputValueFormat(value) {
                return value;
            },
            inputs: {
                labels: {
                    from: {
                        content: config.localData.fromLabel
                    },
                    to: {
                        content: config.localData.toLabel
                    }
                }
            },
            class: {
                mixinClass,
                inputs: 'inputs',
                input: 'input',
                inputModifier: 'input',
                inputGroup: 'input-group',
                inputGroupModifier: 'input-group',
                label: 'label',
                fromPostfix: 'from',
                toPostfix: 'to',
                inputAdd: 'form-control',
                sliderWrapper: 'slider-wrapper',
                sliderWrapperAdd: 'range-slider-wrapper',
                single: 'single',
                container: 'container',
                slider: 'slider',
                sliderModifier: 'slider'
            }
        });

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            currentMin: config.min,
            currentMax: config.max,
            class: {
                block: config.class.mixinClass || mixinClass,
                rangeContainer: `${config.class.mixinClass}-${config.class.container}`,
                sliderAdd: `${config.class.mixinClass}-${config.class.slider}`,
                rangeInput: `${config.class.mixinClass}-${config.class.inputModifier}`,
                inputGroupAdd: `${config.class.mixinClass}-${config.class.inputGroupModifier}`
            }
        });

        const blockClasses = _.castArray(config.class.block);
        if (config.single) blockClasses.push(config.class.single);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.rangeContainer);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const fromId = `${config.id}-${config.class.fromPostfix}`;
        const toId = `${config.id}-${config.class.toPostfix}`;

        const inputAddClasses = [
            config.class.inputAdd,
            config.class.rangeInput
        ];

        _.defaults(config.attrs, {
            role: 'slider',
            ariaValuemin: config.min,
            ariaValuemax: config.max,
            ariaValuenow: config.currentMin
        });

        if (config.min || config.max) {
            config.attrs.dataRangeOptions = _.toPlainObject(config.attrs.dataRangeOptions);
            _.defaultsDeep(config.attrs.dataRangeOptions, {
                min: config.min,
                max: config.max
            });
        }

        if (config.defaultData === true) {
            config.defaultData = [config.currentMin, config.currentMax];
        }

        if (config.inputs) {
            config.inputs = _.toPlainObject(config.inputs);
            _.defaultsDeep(config.inputs, {
                type: e,
                tag: input,
                classes: inputAddClasses,
                modifiers: [config.class.input],
                attrs: {
                    type: 'text',
                    readonly: config.inputs.readonly
                }
            });

            const types = ['from', 'to'];
            const excludedTypes = types.concat(['labels', 'wrapper', 'inputGroup']);
            types.forEach(inputType => {
                config.inputs[inputType] = _.toPlainObject(config.inputs[inputType]);
                Object.keys(config.inputs).forEach(key => {
                    if (excludedTypes.includes(key)) return;

                    config.inputs[inputType][key] = config.inputs[key];
                });
            })

            if (config.inputs.wrapper) {
                config.inputs.wrapper = _.toPlainObject(config.inputs.wrapper);
                _.defaults(config.inputs.wrapper, {
                    type: e,
                    modifiers: config.class.inputs
                });
            }

            config.inputs.inputGroup = _.toPlainObject(config.inputs.inputGroup);
            _.defaults(config.inputs.inputGroup, {
                type: e,
                classes: config.class.inputGroupAdd,
                modifiers: config.class.inputGroup
            });

            config.inputs.labels = _.toPlainObject(config.inputs.labels);
            _.defaultsDeep(config.inputs.labels, {
                type: e,
                tag: label,
                classes: config.class.labelAdd,
                modifiers: config.class.label,
                attrs: {}
            });

            types.forEach(labelType => {
                config.inputs.labels[labelType] = _.toPlainObject(config.inputs.labels[labelType]);
                Object.keys(config.inputs.labels).forEach(key => {
                    if (excludedTypes.includes(key)) return;

                    config.inputs.labels[labelType][key] = config.inputs.labels[key];
                });
            });
        }

        config.sliderWrapper = _.toPlainObject(config.sliderWrapper);
        _.defaults(config.sliderWrapper, {
            type: e,
            classes: config.class.sliderWrapperAdd,
            modifiers: config.class.sliderWrapper
        });

        config.slider = _.toPlainObject(config.slider);
        _.defaults(config.slider, {
            type: e,
            classes: config.class.sliderAdd,
            modifiers: config.class.slider
        });

    //-html
    +b(config)&attributes(attributes)
        if config.inputs
            +#{config.inputs.wrapper ? b : empty}(config.inputs.wrapper)
                +b(config.inputs.inputGroup)
                    -
                        const fromLabelConfig = _.defaultsDeep({}, config.inputs.labels.from, {
                            attrs: {
                                for: fromId
                            }
                        });
                    +b(fromLabelConfig)

                    -
                        const fromInputConfig = _.defaultsDeep({}, config.inputs.from, {
                            classes: config.inputs.from.classes.concat([`${config.class.rangeInput}-${config.class.fromPostfix}`]),
                            modifiers: config.inputs.from.modifiers.concat([config.class.fromPostfix]),
                            attrs: {
                                id: fromId,
                                name: `${config.name}_FROM`,
                                value: config.inputValueFormat(config.currentMin),
                                dataDefault: config.defaultData[0]
                            }
                        });
                    +b(fromInputConfig)

                if !config.single
                    +b(config.inputs.inputGroup)
                        -
                            const toLabelConfig = _.defaultsDeep({}, config.inputs.labels.to, {
                                attrs: {
                                    for: toId
                                }
                            });
                        +b(toLabelConfig)

                        -
                            const toInputConfig = _.defaultsDeep({}, config.inputs.to, {
                                classes: config.inputs.to.classes.concat([`${config.class.rangeInput}-${config.class.toPostfix}`]),
                                modifiers: config.inputs.to.modifiers.concat([config.class.toPostfix]),
                                attrs: {
                                    id: toId,
                                    name: `${config.name}_TO`,
                                    value: config.inputValueFormat(config.currentMax),
                                    dataDefault: config.defaultData[1]
                                }
                            });
                        +b(toInputConfig)

        +b(config.sliderWrapper)
            +b(config.slider)

        if !_.isUndefined(config.content)
            != config.content
        else
            block