-
    /**
     * @function mixins.components#popupGalleryTranslate
     * @desc Строка с языковым контентом для модуля галереи в попапе.
     */
mixin popupGalleryTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'popup-gallery', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.popupGallery = ${langContent};`