@import 'main';

.payment-types{
    &__header{
        color: $header-primary;
        font-family: $font-secondary;
        font-size: $size-primary-px;
        font-weight: $weight-medium;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -8px -10px 0;
        padding: $global-margin 0 0;
    }
    &__item{
        display: inline-block;
        margin: 8px 10px;
        &::before{
            display: none;
        }
    }
    &__image{
        margin: 0;
    }
}