-
    /**
     * @function mixins.layout#paymentTypes
     * @desc Блок перечисления способов оплаты.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='payment-types'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.title='Принимаем к оплате'] - .
     * @param {string} [config.id=`payment-types-title-${uniqueId()}`] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='payment-types'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin paymentTypes(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'payment-types';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            attrs: {},
            data: 'payment-types',
            title: 'Принимаем к оплате',
            id: `payment-types-title-${uniqueId()}`,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaultsDeep(config, {
            attrs: {
                ariaDescribedby: config.title ? config.id : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if config.title
            +e({
                modifiers: 'header',
                attrs: {
                    id: config.id
                },
                content: config.title
            })

        +list
            each paymentItem in items
                if paymentItem.imageVertical
                    - const paymentImage = setImageProps(config.dataPath, paymentItem.imageVertical, paymentItem.title);
                    +listItem
                        +image({
                            src: paymentImage.src,
                            width: paymentImage.width,
                            height: paymentImage.height,
                            lazyload: true,
                            alt: paymentImage.alt,
                            title: removeHtml(paymentImage.alt)
                        })

        block