@import 'main';

.popover{
    @include m(header-action){
        z-index: 30;
        width: col-width-px(4);
        max-width: calc(100vw - #{$global-padding * .5});
    }
}

.cart-popover{
    &__header{
        font-size: $size-lg;
        font-weight: $weight-bold;
        text-transform: uppercase;
    }

    &__top{
        flex-wrap: nowrap;
        margin-top: $global-margin;
    }

    &__image{
        max-width: col-width-px(1);
    }
    &-image{
        &__image{
            margin: 0;
        }
    }

    &-title{
        &__link{
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__info{
        display: flex;
        flex-wrap: nowrap;
        margin-top: $global-margin;
    }
    &-info{
        &__item{
            flex: 1 0 auto;
        }
        &__title{
            color: $text-secondary;
            font-size: $size-xs;
            text-transform: uppercase;
        }
        &__value{
            margin-top: 3px;
            font-weight: $weight-bold;
        }
    }

    &__bottom{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: $global-margin * 1.5;
        padding-top: $global-margin * .5;
        @include before{
            top: 0;
            left: -18px;
            width: calc(100% + #{18px * 2});
            @include border-top;
        }
    }
    &-bottom{
        &__button{
            min-width: 100%;
            @media (min-width: $media-iphone4-height){
                min-width: 0;
            }
        }
    }
}