include /components/money/template.pug

-
    /**
     * @function mixins.layout#cartPopover
     * @requires mixins.components#money
     * @desc Всплывающий блок добавленного в корзину товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-item'] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {number} [config.productCount=3] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='popover'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cartPopover(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'popover';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            dataIndex: 0,
            productCount: 3,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const image = setImageProps(config.dataPath, data.image, data.title);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        //-TODO:use popover mixin
        +b.cart-popover
            +e.header Товар добавлен в корзину!

            +e({
                classes: row,
                modifiers: 'top'
            })
                +be({
                    classes: col,
                    modifiers: 'image'
                })
                    +link({
                        href: 'product',
                        title: removeHtml(data.title)
                    })
                        +image({
                            src: image.src,
                            alt: image.alt
                        })

                +e({
                    classes: col,
                    modifiers: 'text'
                })
                    +be.title
                        +link({
                            href: 'product',
                            content: data.title
                        })

                    +be.info
                        +e.item.price
                            +e.title Цена
                            +e.value!= money.formatPrice(config.data.price.current)

                        +e.item.quantity
                            +e.title Кол-во
                            +e.value= config.productCount

                        +e.item.sum
                            +e.title Сумма
                            +e.value!= money.formatPrice(config.data.price.current * config.productCount)

            +be.bottom
                +button({
                    content: 'Перейти в корзину',
                    color: 'primary',
                    href: 'cart'
                })

                +button({
                    content: 'Быстрый заказ',
                    color: 'primary',
                    outline: true,
                    attrs: {
                        dataPopup: '#popup-fastbuy'
                    }
                })

            block