@import 'main';

.builder{
    //color: #333;
    color: $text-primary;
    background: #fff;
    &__message{
        display: none;
        &.success,
        &.error{
            display: block;
        }
        &.success{
            color: $color-success;
        }
        &.error{
            color: $color-danger;
        }
    }
}