mixin builder
    +b.builder
        +e.inner
            +e.message

            +be(form).item(action='/api/option', method='post')
                +e.title Prop 1

                +e.inner
                    +e(input).input(type='hidden', name='module', value='styles')
                    +e(input).input(type='hidden', name='styles', value='true')
                    +e(input).input(type='color', name='shared-color-primary')
                    +e(button).button(type='submit') Применить

        block