-
    /**
     * @function mixins.components#toggleButton
     * @desc Кнопка переключения контента.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=a]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.title=config.localData.buttonTitle] - .
     * @param {bemcontent} [config.content=config.title] - .
     * @param {string} [config.id] - .
     * @param {boolean} [config.active] - .
     * @param {boolean} [config.dataToggle] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {Bemoptions} [config.prevIcon] - .
     * @param {Sprite} [config.prevIcon.sprite] - .
     * @param {Bemoptions} [config.icon] - .
     * @param {Sprite} [config.icon.sprite] - .
     * @param {Array.<string>} [config.controls] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='button'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - .
     * @param {bemclasses} [config.class.buttonIcon='icon'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     */
mixin toggleButton(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'button';

        const modulePath = 'components/toggle';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: e,
            tag: a,
            attrs: {
                dataToggleOptions: config.dataOptions || null
            },
            title: config.localData.buttonTitle,
            class: {
                mixinClass,
                buttonIcon: 'icon',
                active: 'active'
            }
        });

        _.defaultsDeep(config, {
            content: config.title,
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        const buttonContent = config.content;
        delete config.content;

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.active) addClasses.push(config.class.active);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const isButton = config.tag === button;

        _.defaults(config.attrs, {
            href: _.ifElse(!isButton, (config.id ? `#${config.id}` : jv)),
            type: isButton ? 'button' : null,
            role: !isButton ? 'button' : null,
            ariaControls: config.controls ? config.controls.join(' ') : config.id,
            ariaExpanded: config.active ? 'true' : 'false',
            dataToggle: config.dataToggle ? `#${config.id}` : null
        });

        if (config.prevIcon) {
            config.prevIcon = _.toPlainObject(config.prevIcon);
            _.defaultsDeep(config.prevIcon, {
                type: e,
                tag: span,
                modifiers: config.class.buttonIcon
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                modifiers: config.class.buttonIcon
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.prevIcon
            +b(config.prevIcon)
                +sprite(config.prevIcon.sprite)

        if _.isUndefined(buttonContent)
            block
        else
            != buttonContent

        if config.icon
            +b(config.icon)
                +sprite(config.icon.sprite)

-
    /**
     * @function mixins.components#toggleContent
     * @desc Обёртка контента переключающегося блока.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {string} [config.id] - .
     * @param {boolean} [config.active] - .
     * @param {boolean} [config.dataId] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(boolean|string)} [config.hashAction] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - .
     * @param {bemclasses} [config.class.contentToggledAdd='toggled'] - .
     * @param {bemclasses} [config.class.show='show'] - .
     */
mixin toggleContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'content';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            attrs: {
                dataHashAction: config.hashAction ? _.ifElse(config.hashAction === true, 'toggle', config.hashAction) : null,
                dataToggleOptions: config.dataOptions || null
            },
            class: {
                mixinClass,
                contentToggledAdd: 'toggled',
                show: 'show'
            }
        });

        if (config.dataId === true) {
            config.dataId = 'dataToggleId';
        }
        if (config.dataId) {
            _.defaults(config.attrs, {
                [config.dataId]: config.id
            });
        }

        _.defaultsDeep(config, {
            attrs: {
                id: _.isUndefined(config.dataId) ? config.id : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.active) addClasses.push(config.class.show);
        if (config.class.contentToggledAdd && !config.active) {
            addClasses.push(config.class.contentToggledAdd);
        }
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#toggle
     * @desc Блок переключающегося контента.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.id] - .
     * @param {boolean} [config.active] - .
     * @param {(Object|boolean)} [config.button={}] - .
     * @param {(Object|boolean)} [config.contentBlock={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='toggle'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.button] - .
     * @param {bemclasses} [config.class.buttonAdd] - .
     * @param {bemclasses} [config.class.buttonIcon] - .
     * @param {bemclasses} [config.class.active] - .
     * @param {bemclasses} [config.class.content='content'] - .
     * @param {bemclasses} [config.class.contentAdd] - .
     * @param {bemclasses} [config.class.contentToggledAdd] - .
     * @param {bemclasses} [config.class.show] - .
     */
mixin toggle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'toggle';

        const modulePath = 'components/toggle';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            button: true,
            contentBlock: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.button) {
            config.button = _.toPlainObject(config.button);
            _.defaultsDeep(config.button, {
                id: config.id,
                active: config.active,
                localData: config.localData,
                class: {
                    block: config.class.button,
                    addClass: config.class.buttonAdd,
                    buttonIcon: config.class.buttonIcon,
                    active: config.class.active
                }
            });
        }

        if (config.contentBlock) {
            config.contentBlock = _.toPlainObject(config.contentBlock);
            _.defaultsDeep(config.contentBlock, {
                id: config.id,
                active: config.active,
                class: {
                    block: config.class.content,
                    addClass: config.class.contentAdd,
                    contentToggledAdd: config.class.contentToggledAdd,
                    show: config.class.show,
                    active: config.class.active
                }
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.button
            +toggleButton(config.button)

        if config.contentBlock
            +toggleContent(config.contentBlock)
                if !_.isUndefined(config.content)
                    != config.content
                else
                    block
        else
            if !_.isUndefined(config.content)
                != config.content
            else
                block