include /components/social/template.pug

include /layout/add-spaces/template.pug
include /layout/builder/template.pug

//-TODO:pass options to inner mixins
-
    /**
     * @function mixins.layout#scriptsPrepend
     * @requires mixins.components#yandexMapsScript
     * @requires mixins.components#yandexShareScript
     * @requires mixins.layout#addSpaces
     * @requires mixins.layout#builder
     * @desc Контент перед блоком скриптов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.addSpaces] - .
     * @param {boolean} [config.maps] - .
     * @param {boolean} [config.share] - .
     * @param {boolean} [config.isBuilder=globalConfig.isBuilder] - .
     */
mixin scriptsPrepend(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            isBuilder: globalConfig.isBuilder
        });

    //-html
    block

    if config.addSpaces
        +addSpaces

    if config.maps
        +callMixin('yandexMapsScript')

    if config.share
        +callMixin('yandexShareScript')

    if config.isBuilder
        +callMixin('builder')

-
    /**
     * @function mixins.layout#scripts
     * @desc Основные скрипты.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.vendor=true] - .
     * @param {boolean} [config.main=true] - .
     */
mixin scripts(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            vendor: true,
            main: true
        });

    //-html
    if config.vendor
        script(src=composeUrl(globalConfig.scripts, `vendor.${globalConfig.distScriptFile}?${currentDate}`))
    if config.main
        script(src=composeUrl(globalConfig.scripts, `main.${globalConfig.distScriptFile}?${currentDate}`))

    block

-
    /**
     * @function mixins.layout#scriptsAppend
     * @desc Контент после скриптов.
     */
mixin scriptsAppend(config)
    //-html
    block

-
    /**
     * @function mixins.layout#foot
     * @desc Контент нижней части страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|boolean)} [config.scriptsPrepend={}] - .
     * @param {(Object|boolean)} [config.scripts={}] - .
     * @param {(Object|boolean)} [config.scriptsAppend={}] - .
     */
mixin foot(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            scriptsPrepend: {},
            scripts: {},
            scriptsAppend: {}
        });

    //-html
    block

    //-Вывод скриптов
    if config.scriptsPrepend
        +scriptsPrepend(config.scriptsPrepend)
    if config.scripts
        +scripts(config.scripts)
    if config.scriptsAppend
        +scriptsAppend(config.scriptsAppend)