-
    const page = {
        title: 'Отмена заказа',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top({title: `${page.title} №12651`})
                            +ordersCancelControls

                        +personalWrapper
                            +ordersCancel

            +contentBottom
        +foot