@import 'main';

.product{
    &__gallery{
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-lg){
            max-width: col-width(6);
            margin-top: $global-margin * .75;
        }
        .gallery{
            width: 100%;
            max-width: 100%;
        }
    }
}