//-TODO:imageAlt: currentProduct.title, badge: catalogBadges, title as Bemoptions

include /components/gallery/template.pug

-
    /**
     * @function mixins.layout#productGallery
     * @requires mixins.components#gallery
     * @desc Основная галерея на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='product-gallery'] - .
     * @param {string} [config.dataPath='Data/catalog-item'] - .
     * @param {boolean} [config.title] - .
     * @param {Bemoptions} [config.gallery={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='gallery'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin productGallery(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'gallery';

        _.defaultsDeep(config, {
            type: be,
            data: 'product-gallery',
            dataPath: 'Data/catalog-item',
            gallery: {
                depth: 2,
                popupGallery: globalConfig.settings.zoomGallery ? null : true,
                popupZoomGallery: globalConfig.settings.zoomGallery ? true : null,
                vertical: true
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaultsDeep(config.gallery, {
            data,
            dataPath: config.dataPath
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        if config.title
            +e({
                modifiers: 'title',
                classes: h1,
                content: page.product.data.title
            })

        +gallery(config.gallery)

        block