-
    /**
     * @function mixins.components#video
     * @desc Видео.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=video] - При включённой опции lazyload, config.tag является div.
     * @param {boolean} [config.lazyload] - .
     * @param {(Object|string)} [config.src] - .
     * @param {number} [config.width] - .
     * @param {number} [config.height] - .
     * @param {boolean} [config.autoplay] - .
     * @param {boolean} [config.buffered] - .
     * @param {boolean} [config.controls] - .
     * @param {boolean} [config.loop] - .
     * @param {boolean} [config.muted=true] - .
     * @param {boolean} [config.playsinline] - .
     * @param {string} [config.poster] - .
     * @param {('none'|'metadata'|'auto'|'')} [config.preload] - .
     * @param {('anonymous'|'use-credentials')} [config.crossorigin] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='video'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin video(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'video';

        _.defaultsDeep(config, {
            type: be,
            tag: config.lazyload ? div : video,
            muted: true,
            attrs: {
                dataLazyload: config.lazyload ? 'video' : null,
                width: config.lazyload ? null : config.width,
                dataWidth: config.lazyload ? config.width : null,
                height: config.lazyload ? null : config.height,
                dataHeight: config.lazyload ? config.height : null,
                autoplay: _.ifElse(!config.lazyload && config.autoplay, ''),
                dataAutoplay: _.ifElse(config.lazyload && config.autoplay, ''),
                buffered: _.ifElse(!config.lazyload && config.buffered, ''),
                dataBuffered: _.ifElse(config.lazyload && config.buffered, ''),
                controls: _.ifElse(!config.lazyload && config.controls, ''),
                dataControls: _.ifElse(config.lazyload && config.controls, ''),
                crossorigin: config.lazyload ? null : config.crossorigin,
                dataCrossorigin: config.lazyload ? config.crossorigin : null,
                loop: _.ifElse(!config.lazyload && config.loop, ''),
                dataLoop: _.ifElse(config.lazyload && config.loop, ''),
                playsinline: _.ifElse(!config.lazyload && config.playsinline, ''),
                dataPlaysinline: _.ifElse(config.lazyload && config.playsinline, ''),
                src: _.ifElse(!config.lazyload && _.isString(config.src), config.src),
                dataSrc: _.ifElse(config.lazyload && _.isString(config.src), config.src),
                preload: config.lazyload ? null : config.preload,
                dataPreload: config.lazyload ? config.preload : null,
                poster: config.lazyload ? null : config.poster,
                dataPoster: config.lazyload ? config.poster : null,
                dataVideoOptions: config.dataOptions || null
            },
            class: {
                mixinClass
            }
        });

        const noscriptAttributes = _.cloneDeep(attributes);

        _.defaultsDeep(config, {
            attrs: {
                muted: _.ifElse(!config.lazyload && config.muted, ''),
                dataVideoMuted: _.ifElse(config.lazyload && config.muted, '')
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if _.isPlainObject(config.src)
            each item, key in config.src
                #{config.lazyload ? div : source}(
                    src=config.lazyload ? null : item,
                    data-src=config.lazyload ? item : null,
                    type=config.lazyload ? null : `video/${key}`,
                    data-type=(config.lazyload ? `video/${key}` : null))
            -
                delete config.src;

        block

    if config.lazyload
        noscript
            -
                _.extend(noscriptAttributes, {
                    src: config.src,
                    width: config.width,
                    height: config.height,
                    autoplay: config.autoplay ? '' : null,
                    buffered: config.buffered ? '' : null,
                    controls: config.controls ? '' : null,
                    crossorigin: config.crossorigin,
                    loop: config.loop ? '' : null,
                    muted: config.muted ? '' : null,
                    playsinline: config.playsinline ? '' : null,
                    preload: config.preload,
                    poster: config.poster
                });
                noscriptAttributes.class = attributes.class;
            //-TODO:remove data attrs

            video&attributes(noscriptAttributes)
                if _.isPlainObject(config.src)
                    each item, key in config.src
                        source(
                        src=item,
                        type=`video/${key}`)