@import 'main';

//Состояния валидации
.is-invalid,
.is-valid{
    box-shadow: none !important;
    &:autofill{
        -webkit-box-shadow: 0 0 0 1000px $white inset !important; //stylelint-disable-line property-no-vendor-prefix
    }
    &:hover,
    &:focus{
        border-color: $input-border-hover;
    }
}

label{
    &.is-invalid,
    &.is-valid{
        margin: $label-margin-bottom 0 0;
        font-size: $input-font-size;
        font-style: italic;
    }
    &.is-invalid{
        color: $color-danger;
    }
    &.is-valid{
        color: $color-success;
    }
}

.form-check-input{
    &.is-invalid{
        ~ .form-check-content{
            &::before{
                border-color: $color-danger;
            }
        }
    }
    &.is-valid{
        ~ .form-check-content{
            &::before{
                border-color: $color-success;
            }
        }
    }
}

//Значок обязательного поля
.text-required{
    color: $color-danger;
}