-
    /**
     * @function mixins.components#validationTranslate
     * @desc Строка с языковым контентом для модуля валидации.
     */
mixin validationTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'validation', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.validation = ${langContent};`