@import 'main';

//Основной текстовый контент

//Контейнер для текстового контента
.text-content{
    flex-basis: $width-text-content;
    max-width: $width-text-content;
    &-fullwidth{
        max-width: 100%;
    }

    > :first-child{
        margin-top: 0;
    }
}

.top ~ .text-content{
    margin-top: $global-margin * 1.75;
}

//Текстовые элементы
//Ведущий параграф
.lead{
    margin-top: $lead-margin;
    font-size: $lead-size;
    font-weight: $weight-normal;
    line-height: $lead-line-height;
}

//Цитата
.blockquote{
    &-footer{
        display: block;
        color: $color-comment;
        font-size: .8em;
        &::before{
            content: '\2014\00A0'; //em dash, nbsp
        }
    }
    &.text-center{
        border-left: none;
    }
    &.text-right{
        border-left: none !important;
        border-right-style: solid;
    }
}