-
    /**
     * @function mixins.layout#textContainer
     * @desc Текстовый контент.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.fullwidth] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='col'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.col=col] - .
     * @param {bemclasses} [config.class.addClass='text-content'] - .
     * @param {bemclasses} [config.class.fullwidth='mw-100'] - .
     */
mixin textContainer(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'col';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                col,
                addClass: 'text-content',
                fullwidth: 'mw-100'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.col);
        if (config.class.addClass) addClasses.push(config.class.addClass);
        if (config.fullwidth) addClasses.push(config.class.fullwidth);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#textContent
     * @desc Содержимое текстовой страницы.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin textContent(config)
    //-html
    h2 Заголовок второго уровня H2
    h3 Заголовок третьего уровня H3

    p.lead #[strong Ведущий абзац (увеличенный шрифт):]#[br]Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.

    p «Что со мной случилось?» — подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон — Замза был коммивояжером, — висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил а красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
    p Затем взгляд Грегора устремился в окно, и пасмурная погода — слышно было, как по жести подоконника стучат капли дождя — привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», — подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог принять этого положения. С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на спину. Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку.

    br
    p HTML-теги:#[br]
        | #[a(href='javascript:void(0);') &lt;a&gt;] #[strong &lt;strong&gt;] #[em &lt;em&gt;] #[b &lt;b&gt;] #[i &lt;i&gt;] #[u &lt;u&gt;] #[s &lt;s&gt;] #[mark &lt;mark&gt;] #[abbr(title='описание') &lt;abbr&gt;] #[small &lt;small&gt;] #[sup &lt;sup&gt;] #[sub &lt;sub&gt;]

    br
    h2 Заголовок второго уровня H2#[br]вторая строка

    div.clearfix
        img.left(src=`https://via.placeholder.com/370.png?text=${encodeURIComponent('изображение')}`, alt='изображение')
        p «Ах ты, господи, — подумал он, — какую я выбрал хлопотную профессию! Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай со все новыми и новыми людьми недолгие, никогда не бывающие сердечными отношения. Черт бы побрал все это!» Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы удобнее было поднять голову; нашел зудевшее место, сплошь покрытое, как оказалось, белыми непонятными точечками; хотел было ощупать это место одной из ножек, но сразу отдернул ее, ибо даже простое прикосновение вызвало у него, Грегора, озноб.
        p Он соскользнул в прежнее свое положение. «От этого раннего вставания, — подумал он, — можно совсем обезуметь. Человек должен высыпаться. Другие коммивояжеры живут, как одалиски. Когда я, например, среди дня возвращаюсь в гостиницу, чтобы переписать полученные заказы, эти господа только завтракают. А осмелься я вести себя так, мои хозяин выгнал бы меня сразу. Кто знает, впрочем, может быть, это было бы даже очень хорошо для меня. Если бы я не сдерживался ради родителей, я бы давно заявил об уходе, я бы подошел к своему хозяину и выложил ему все, что о нем думаю. Он бы так и свалился с конторки! Странная у него манера — садиться на конторку и с ее высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке из-за того, что хозяин туг на ухо. Однако надежда еще не совсем потеряна: как только я накоплю денег, чтобы выплатить долг моих родителей — на это уйдет еще лет пять-шесть, — я так и поступлю. Тут-то мы и распрощаемся раз и навсегда. А пока что надо подниматься, мой поезд отходит в пять».

    ul
        li
            p Пункт списка в параграфе
        li Пункт списка#[br]вторая строка
        li
            p Пункт списка
            ul
                li Пункт списка второго порядка
                li
                    p Пункт списка второго порядка#[br]вторая строка
                li
                    p Пункт списка второго порядка
                    ul
                        li Пункт списка третьего порядка
                        li Пункт списка третьего порядка#[br]вторая строка
                        li
                            p Параграф 1
                            p Параграф 2

    p И он взглянул на будильник, который тикал на сундуке. «Боже правый!» — подумал он. Было половина седьмого, и стрелки спокойно двигались дальше, было даже больше половины, без малого уже три четверти. Неужели будильник не звонил? С кровати было видно, что он поставлен правильно, на четыре часа; и он, несомненно, звонил. Но как можно было спокойно спать под этот сотрясающий мебель трезвон? Ну, спал-то он неспокойно, но, видимо, крепко. Однако что делать теперь? Следующий поезд уходит в семь часов; чтобы поспеть на него, он должен отчаянно торопиться, а набор образцов еще не упакован, да и сам он отнюдь не чувствует себя свежим и легким на подъем.
    hr

    br
    h4 Заголовок четвертого уровня H4
    table
        thead
            tr
                th Заголовок ячейки 1
                th Заголовок ячейки 2#[br]вторая строка
                th Заголовок ячейки 3
                th Заголовок ячейки 4
        tbody
            tr
                th Текст ячейки 1#[br]вторая строка
                td
                    p Текст ячейки 2
                td Текст ячейки 3
                td Текст ячейки 4
            tr
                th Текст ячейки 1
                td Текст ячейки 2
                td Текст ячейки 3
                td Текст ячейки 4

    br
    h5 Заголовок пятого уровня H5
    p И даже поспей он на поезд, хозяйского разноса ему все равно не избежать — ведь рассыльный торгового дома дежурил у пятичасового поезда и давно доложил о его, Грегора, опоздании. Рассыльный, человек бесхарактерный и неумный, был ставленником хозяина. А что, если сказаться больным? Но это было бы крайне неприятно и показалось бы подозрительным, ибо за пятилетнюю свою службу Грегор ни разу еще не болел. Хозяин, конечно, привел бы врача больничной кассы и стал попрекать родителей сыном лентяем, отводя любые возражения ссылкой на этого врача, по мнению которого все люди на свете совершенно здоровы и только не любят работать. И разве в данном случае он был бы так уж неправ? Если не считать сонливости, действительно странной после такого долгого сна, Грегор и в самом деле чувствовал себя превосходно и был даже чертовски голоден.

    blockquote
        p Покуда он все это торопливо обдумывал, никак не решаясь покинуть постель, — будильник как раз пробил без четверти семь, — в дверь у его изголовья осторожно постучали.
    h6 Заголовок шестого уровня H6
    p — Грегор, — услыхал он (это была его мать), — уже без четверти семь. Разве ты не собирался уехать?

    div
        figure.right
            img(src=`https://via.placeholder.com/370.png?text=${encodeURIComponent('изображение')}`, alt='изображение')
            figcaption Подпись к картинке

        p Покуда он все это торопливо обдумывал, никак не решаясь покинуть постель, — будильник как раз пробил без четверти семь, — в дверь у его изголовья осторожно постучали.
        p Этот ласковый голос! Грегор испугался, услыхав ответные звуки собственного голоса, к которому, хоть это и был, несомненно, прежний его голос, примешивался какой-то подспудный, но упрямый болезненный писк, отчего слова только в первое мгновение звучали отчетливо, а потом искажались отголоском настолько, что нельзя было с уверенностью сказать, не ослышался ли ты. Грегор хотел подробно ответить и все объяснить, но ввиду этих обстоятельств сказал только:
        p — Да, да, спасибо, мама, я уже встаю.

        br
        h4 Нумерованный список
        ol
            li Пункт нумерованного списка
            li
                p Пункт нумерованного списка в параграфе
            li Пункт нумерованного списка#[br]вторая строка

    block