@import 'main';

.product{
    &__side{
        @include m(left){
            order: 2;
            padding: 0 $container-padding $global-margin * 3;
            @media (min-width: $media-lg){
                order: 0;
                max-width: col-width(6.25);
                padding: $global-margin * 1.75 $global-padding * 3.5 $global-margin * 3;
            }

            .product{
                &__gallery{
                    min-width: 100%;
                }
                &__tabs{
                    margin-top: $global-margin * 2;
                    .tabs-content{
                        margin-top: 0;
                        .collapse-link{
                            display: block;
                        }
                    }
                }
                &-tabs{
                    &__menu{
                        display: none;
                    }
                }
            }
        }
        @include m(right){
            padding: $global-margin * 1.75 $container-padding 0;
            @media (min-width: $media-lg){
                max-width: col-width(5.75);
                padding: $global-margin * 1.75 $global-padding * 3.5 $global-margin * 3;
                @include border-left($grey-lightest);
                border-top-right-radius: $radius-primary;
                border-bottom-right-radius: $radius-primary;
                background: linear-gradient(to right, rgba($grey-lightest, .5), $white 72px);
            }

            .product{
                &__header{
                    padding-top: $global-margin;
                    @media (min-width: $media-lg){
                        padding-top: $global-margin * 2 + $global-margin * .75;
                    }
                }
                &__number{
                    text-align: right;
                }
                &__gallery-mobile{
                    max-width: 100%;
                }
                &__sum,
                &__buy{
                    @media (min-width: $media-sm){
                        min-width: auto;
                    }
                }
                &__buy{
                    @media (min-width: $media-lg){
                        min-width: 100%;
                    }
                    @media (min-width: $media-xl){
                        flex-grow: 2;
                        min-width: auto;
                    }
                }
                &-buy{
                    &__item{
                        @include m(cart){
                            @media (min-width: $media-sm){
                                min-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}