include /layout/breadcrumbs/template.pug

-
    /**
     * @function mixins.layout#productLeft
     * @requires mixins.layout#productSide
     * @desc Левая секция страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.leftModifier='left'] - .
     */
mixin productLeft(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'left';

        _.defaultsDeep(config, {
            class: {
                leftModifier: mixinClass
            }
        });

        if (config.class.leftModifier) {
            setBlockClass(attributes, config.class.leftModifier);
        }

    //-html
    +productSide(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#productRight
     * @requires mixins.layout#productSide
     * @desc Правая секция страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.rightModifier='right'] - .
     */
mixin productRight(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'right';

        _.defaultsDeep(config, {
            class: {
                rightModifier: mixinClass
            }
        });

        if (config.class.rightModifier) {
            setBlockClass(attributes, config.class.rightModifier);
        }

    //-html
    +productSide(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#productHorizontal
     * @requires mixins.layout#productWrapper
     * @requires mixins.layout#productLeft
     * @requires mixins.layout#breadcrumbs
     * @requires mixins.layout#productGallery
     * @requires mixins.layout#productTabs
     * @requires mixins.layout#productTabsContent
     * @requires mixins.layout#productRight
     * @requires mixins.layout#productHeader
     * @requires mixins.layout#productPrices
     * @requires mixins.layout#productNumber
     * @requires mixins.layout#productAvailabilityLarge
     * @requires mixins.layout#productSum
     * @requires mixins.layout#productBuy
     * @requires mixins.layout#productBuyGroup
     * @requires mixins.layout#productCart
     * @requires mixins.layout#productOffer
     * @desc Горизонтальная карточка товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.left] - .
     * @param {Bemoptions} [config.breadcrumbs] - .
     * @param {Bemoptions} [config.gallery] - .
     * @param {Bemoptions} [config.tabs] - .
     * @param {Bemoptions} [config.right] - .
     * @param {Bemoptions} [config.header] - .
     * @param {Bemoptions} [config.prices] - .
     * @param {Bemoptions} [config.number] - .
     * @param {Bemoptions} [config.availabilityLarge] - .
     * @param {Bemoptions} [config.sum] - .
     * @param {Bemoptions} [config.buy] - .
     * @param {Bemoptions} [config.buyGroup] - .
     * @param {Bemoptions} [config.cart] - .
     * @param {Bemoptions} [config.offer] - .
     */
mixin productHorizontal(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            breadcrumbs: {
                data: [
                    [globalConfig.projectName, '/'],
                    ['Каталог', 'catalog-sections'],
                    [page.categoryTitle, 'catalog'],
                    [page.subcategoryTitle, 'catalog'],
                    page.product.data.title
                ]
            },
            prices: {
                hideTitle: false
            },
            sum: {
                titleBottom: true
            }
        });

    //-html
    +productWrapper(config.wrapper)
        +productLeft(config.left)
            +breadcrumbs(config.breadcrumbs)

            +productGallery(config.gallery)
            +productTabs(config.tabs)
                +productTabsContent(config.tabsContent)

        +productRight(config.right)
            +productHeader(config.header)
            //-TODO:productShare
            //-+productShare
            +productPrices(config.prices)
            +productNumber(config.number)
            +e.gallery-mobile
            +productAvailabilityLarge(config.availabilityLarge)
            +productSum(config.sum)
            +productBuy(config.buy)
                +productBuyGroup(config.buyGroup)
                +productCart(config.cart)
                //-TODO:productFastbuy
                //-+productFastbuy
            +productOffer(config.offer)
            //-TODO:productBrand & productSizes
            //-+productBrand
            //-+productSizes

        block