@import 'main';

.sidebar{
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    @media (min-width: $media-xl){
        min-width: col-width-px(2.75);
        max-width: col-width-px(2.75);
        padding-right: 0;
    }
    &__inner{
        position: relative;
        margin: 0 (-$container-padding);
        background: $white;
        @media (min-width: $media-xl){
            max-width: 100%;
            min-height: 100%;
            margin: 0;
            border-radius: $radius-primary;
            box-shadow: $shadow-size-lg rgba($shadow-color-primary, .05);
        }
    }

    + .main-content__col{
        @media (min-width: $media-xl){
            max-width: calc(100% - #{col-width-px(2.75)});
        }
        .top{
            &__inner{
                @media (min-width: $media-xl){
                    flex-wrap: wrap;
                }
            }
        }
    }
}