-
    /**
     * @function mixins.layout#sidebar
     * @desc Обёртка сайдбара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=aside] - .
     * @param {boolean} [config.inner=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sidebar'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - .
     */
mixin sidebar(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sidebar';

        _.defaultsDeep(config, {
            type: b,
            tag: aside,
            inner: true,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +#{config.inner ? 'sidebarInner' : empty}
            block

-
    /**
    * @function mixins.layout#sidebarInner
    * @desc Внутренняя часть сайдбара.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type=e]
    * @param {Object} [config.class={}] - Объект с классами.
     * @param {bemclasses} [config.class.mixinClass='inner'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    */
mixin sidebarInner(config)
    -
        config = _.toPlainObject(config);
        const mixinClass = 'inner';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block