@import 'main';

.order{
    @include m(vertical){
        .choices{
            max-width: col-width-px(3.6);
        }

        .order{
            &__content{
                @media (min-width: $media-xl){
                    min-width: col-width(7);
                    max-width: col-width(7);
                }
            }

            &__block{
                &:not(:first-child){
                    margin-top: $global-margin * 2;
                }
            }

            &-title{
                &__text{
                    margin-top: 0;
                    margin-bottom: $global-margin;
                }
            }

            &__form-groups{
                + .order__form-groups{
                    margin-top: $global-margin * 2;
                }
                @include m(radios){
                    @include row;
                    max-width: 645px + $global-gutter;
                }
                @include m(address){
                    @include row(18px);
                    .order__form-group{
                        @include col-attrs(18px);
                        @media (max-width: $media-sm-max){
                            min-width: 100%;
                        }
                    }
                }
                @include m(bottom){
                    .form-group{
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                }
            }
            &__form-group{
                @include m(radio){
                    @include col;
                    @include col-attrs;
                    display: flex;
                    min-width: 100%;
                    @media (min-width: $media-sm){
                        min-width: col-width(6);
                        max-width: col-width(6);
                    }
                    .order{
                        &__form-check{
                            width: 100%;
                            height: 100%;
                        }
                        &-form-check{
                            &__label{
                                height: 100%;
                                &:hover,
                                &:focus{
                                    .order-form-check__content{
                                        background: $bg-primary;
                                    }
                                }
                            }
                            &__input{
                                &:checked{
                                    ~ .order-form-check__content{
                                        border-color: $color-primary;
                                        background-color: $bg-primary;
                                        &::after{
                                            border-width: 6px !important;
                                        }
                                    }
                                }
                            }
                            &__content{
                                height: 100%;
                                padding: 12px 16px;
                                @include border($input-border);
                                border-radius: $radius-primary;
                                @include transition(background-color border-color);
                                &::before{
                                    top: 10px;
                                    left: auto;
                                    right: 16px;
                                    width: 20px;
                                    height: 20px;
                                }
                                &::after{
                                    top: 10px + 4;
                                    left: auto;
                                    right: 16px + 4;
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                            &__title{
                                display: block;
                                padding-right: 28px;
                                font-family: $font-secondary;
                                font-size: $size-primary-px;
                            }
                            &__text{
                                display: block;
                                margin-top: 12px;
                                color: $text-secondary;
                            }
                            &__price{
                                display: block;
                                margin-top: 8px;
                            }
                        }
                    }
                }

                @include m(street){
                    @media (min-width: $media-sm){
                        min-width: (114px * 2) + 18 * 2;
                        max-width: (114px * 2) + 18 * 2;
                    }
                }
                @include m(house, entrance, floor, apartment, intercom){
                    @media (min-width: $media-sm){
                        min-width: 114px + 18;
                        max-width: 114px + 18;
                    }
                }

                @include m(change){
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .order{
                        &__label{
                            min-width: 100%;
                        }
                        &__input{
                            width: 105px;
                            padding-right: 40px;
                        }
                        &__input-container{
                            position: relative;
                            &:not(:last-child){
                                margin-right: 20px;
                            }
                        }
                        &__currency{
                            position: absolute;
                            top: 11px;
                            right: 15px;
                            font-size: $size-md-px;
                        }
                    }
                }

                @include m(submit){
                    .order__button{
                        width: 100%;
                        max-width: 310px;
                        margin-top: $global-margin * 1.5;
                    }
                }

                label.is-invalid{
                    + label.is-invalid{
                        margin-left: 8px;
                    }
                }
            }

            &__select,
            &__input{
                max-width: col-width-px(3.6);
            }

            &__link{
                &:hover,
                &:focus{
                    .order-link__text{
                        border-bottom-color: transparent;
                    }
                }
                @include m(new){
                    display: flex;
                    align-items: center;
                    margin-top: 6px;
                    font-size: $size-sm-px;
                    text-decoration: none !important;
                }
            }
            &-link{
                &__text{
                    margin-top: 2px;
                    margin-left: 6px;
                    border-bottom: 1px dashed currentColor;
                    line-height: $line-height-md;
                    @include transition(border);
                }
            }

            &__cart-wrapper{
                margin-top: $global-margin * 1.5;
            }

            &__aside{
                @media (min-width: $media-xl){
                    min-width: col-width(5);
                    max-width: col-width(5);
                }
            }
        }
    }
}