include /components/check/template.pug
include /components/money/template.pug
include /components/select/template.pug

include /layout/agreement-link/template.pug

include ./order-aside/template.pug
include ./order-finish/template.pug

-
    /**
     * @function mixins.layout#orderWrapper
     * @desc Обёртка страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='order'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'order';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +mainContentCol
        +preload('order')

        +b(config)&attributes(attributes)
            +e.inner
                +e({
                    classes: row,
                    modifiers: 'row'
                })
                    block

-
    /**
     * @function mixins.layout#orderForm
     * @desc Форма страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +form({
            type: e,
            class: ''
        })
            +e({
                classes: row,
                modifiers: 'form-row'
            })
                block

-
    /**
     * @function mixins.layout#orderBlock
     * @desc Секция формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=fieldset]
     * @param {string} [config.labelledby] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='block'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'block';

        _.defaultsDeep(config, {
            type: e,
            tag: fieldset,
            attrs: {},
            class: {
                mixinClass
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                ariaLabelledby: config.labelledby
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#orderBlockTitle
     * @desc Заголовок секции формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.id] - .
     * @param {boolean} [config.srOnly] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='title'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.srOnly=srOnly] - .
     */
mixin orderBlockTitle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'title';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                srOnly
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = [];
        if (config.srOnly) addClasses.push(config.class.srOnly);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: div,
            modifiers: 'text',
            classes: h2,
            content: config.content,
            attrs: {
                id: config.id
            }
        })

        block

-
    /**
     * @function mixins.layout#orderFormGroup
     * @desc Эемент формы страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='group'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderFormGroup(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'group';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#orderProfile
     * @requires mixins.components#select
     * @requires mixins.layout#orderBlock
     * @requires mixins.layout#orderBlockTitle
     * @desc Профиль пользователя на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='order'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.title='Мои данные'] - .
     * @param {string} [config.labelledby='order-profile-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.profileModifier='profile'] - .
     */
mixin orderProfile(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'profile';

        _.defaultsDeep(config, {
            title: 'Мои данные',
            labelledby: 'order-profile-title',
            data: 'order',
            class: {
                profileModifier: mixinClass
            }
        });

        if (config.class.profileModifier) {
            setBlockClass(attributes, config.class.profileModifier);
        }

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        let profilesData = [];
        if (data) {
            profilesData = data.profiles.map((item, index) => {
                return {
                    value: index + 1,
                    content: item
                };
            });
            profilesData.unshift({content: 'Выберите юр. лицо'});

            profilesData.push({
                content: 'Новое юр. лицо',
                value: '__PREVENT_RELOAD__'
            });
        }

    //-html
    +orderBlock(config)&attributes(attributes)
        if config.title
            +orderBlockTitle({
                id: config.labelledby,
                srOnly: true,
                content: config.title
            })

        +e.form-groups
            +formGroup
                +label({
                    for: 'order-profile-company',
                    required: true,
                    content: 'Юр. лицо'
                })

                +e.input-container
                    +select({
                        id: 'order-profile-company',
                        modifiers: 'company',
                        name: 'COMPANY',
                        data: profilesData
                    })

                    +link({
                        type: be,
                        modifiers: 'new'
                    })
                        +sprite#plus
                        +e(span).text Добавить новое юр. лицо

            +formGroup
                +label({
                    for: 'order-profile-fio',
                    required: true,
                    content: 'Имя'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-profile-fio',
                        name: 'FIO',
                        placeholder: 'Ваше имя',
                        validate: 'required, fio'
                    })

            +formGroup
                +label({
                    for: 'order-profile-phone',
                    required: true,
                    content: 'Номер телефона'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        inputType: 'tel',
                        id: 'order-profile-phone',
                        name: 'PHONE',
                        placeholder: '+7',
                        validate: 'required, tel'
                    })

            +formGroup
                +label({
                    for: 'order-profile-email',
                    required: true,
                    content: 'Email'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-profile-email',
                        name: 'EMAIL',
                        placeholder: 'Ваш email',
                        validate: 'required, email'
                    })

            +formGroup
                +label({
                    for: 'order-profile-city',
                    required: true,
                    content: 'Город'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-profile-city',
                        name: 'CITY',
                        placeholder: 'Город',
                        validate: 'required'
                    })

        block

-
    /**
     * @function mixins.layout#orderDelivery
     * @requires mixins.components#money
     * @requires mixins.components#radio
     * @requires mixins.layout#orderBlock
     * @requires mixins.layout#orderBlockTitle
     * @desc Выбор способа доставки на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title='Способ доставки'] - .
     * @param {string} [config.labelledby='order-delivery-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.deliveryModifier='delivery'] - .
     */
mixin orderDelivery(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'delivery';

        _.defaultsDeep(config, {
            title: 'Способ доставки',
            data: 'order',
            labelledby: 'order-delivery-title',
            class: {
                deliveryModifier: mixinClass
            }
        });

        if (config.class.deliveryModifier) {
            setBlockClass(attributes, config.class.deliveryModifier);
        }

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }
        const delivery = data.delivery;

    //-html
    +orderBlock(config)&attributes(attributes)
        if config.title
            +orderBlockTitle({
                id: config.labelledby,
                content: config.title
            })

        +e.form-groups.radios
            each item, index in delivery
                +formGroup.radio
                    +radio({
                        name: 'DELIVERY',
                        checked: index === 0
                    })
                        +e({
                            tag: span,
                            modifiers: 'title',
                            content: item.title
                        })
                        +e({
                            tag: span,
                            modifiers: 'text',
                            content: item.content
                        })
                        if item.price
                            +e({
                                tag: span,
                                modifiers: 'price',
                                content: money.formatPrice(item.price)
                            })

        +e.form-groups.address
            +formGroup.street
                +label({
                    for: 'order-delivery-street',
                    required: true,
                    content: 'Улица'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-street',
                        name: 'DELIVERY_STREET',
                        placeholder: 'Улица',
                        validate: 'required'
                    })

            +formGroup.house
                +label({
                    for: 'order-delivery-house',
                    required: true,
                    content: 'Дом'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-house',
                        name: 'DELIVERY_HOUSE',
                        placeholder: 'Дом',
                        validate: 'required'
                    })

            +formGroup.entrance
                +label({
                    for: 'order-delivery-entrance',
                    required: true,
                    content: 'Подъезд'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-entrance',
                        name: 'DELIVERY_ENTRANCE',
                        placeholder: 'Подъезд',
                        validate: 'required'
                    })

            +formGroup.floor
                +label({
                    for: 'order-delivery-floor',
                    required: true,
                    content: 'Этаж'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-floor',
                        name: 'DELIVERY_FLOOR',
                        placeholder: 'Этаж',
                        validate: 'required'
                    })

            +formGroup.apartment
                +label({
                    for: 'order-delivery-apartment',
                    required: true,
                    content: 'Квартира'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-apartment',
                        name: 'DELIVERY_APARTMENT',
                        placeholder: 'Квартира',
                        validate: 'required'
                    })

            +formGroup.intercom
                +label({
                    for: 'order-delivery-intercom',
                    required: true,
                    content: 'Домофон'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-delivery-intercom',
                        name: 'DELIVERY_INTERCOM',
                        placeholder: 'Домофон',
                        validate: 'required'
                    })

        block

-
    /**
     * @function mixins.layout#orderPayment
     * @requires mixins.components#radio
     * @requires mixins.layout#orderBlock
     * @requires mixins.layout#orderBlockTitle
     * @desc Выбор способа оплаты на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title='Способ оплаты'] - .
     * @param {string} [config.labelledby='order-payment-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.paymentModifier='payment'] - .
     */
mixin orderPayment(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'payment';

        _.defaultsDeep(config, {
            title: 'Способ оплаты',
            data: 'order',
            labelledby: 'order-payment-title',
            class: {
                paymentModifier: mixinClass
            }
        });

        if (config.class.paymentModifier) {
            setBlockClass(attributes, config.class.paymentModifier);
        }

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }
        const payment = data.payment;

    //-html
    +orderBlock(config)&attributes(attributes)
        if config.title
            +orderBlockTitle({
                id: config.labelledby,
                content: config.title
            })

        +e.form-groups.radios
            each item, index in payment
                +formGroup.radio
                    +radio({
                        name: 'PAYMENT',
                        checked: index === 0
                    })
                        +e({
                            tag: span,
                            modifiers: 'title',
                            content: item.title
                        })
                        +e({
                            tag: span,
                            modifiers: 'text',
                            content: item.content
                        })

        block

-
    /**
     * @function mixins.layout#orderBottom
     * @requires mixins.components#checkbox
     * @requires mixins.components#money
     * @requires mixins.layout#agreementLink
     * @requires mixins.layout#orderBlock
     * @desc Нижняя часть страницы заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.bottomModifier='bottom'] - .
     */
mixin orderBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            class: {
                bottomModifier: mixinClass
            }
        });

        if (config.class.bottomModifier) {
            setBlockClass(attributes, config.class.bottomModifier);
        }

    //-html
    +orderBlock(config)&attributes(attributes)
        +e.form-groups.bottom
            +formGroup.change
                +label({
                    for: 'order-change',
                    content: 'С какой суммы подготовить сдачу?'
                })

                +e.input-container
                    +input({
                        formControl: true,
                        id: 'order-change',
                        name: 'CHANGE',
                        maxlength: 4
                    })

                    +e({
                        classes: money.currencyClass,
                        modifiers: 'currency',
                        content: money.currency
                    })

                +e.input-container
                    +checkbox({
                        content: 'Без сдачи',
                        name: 'NO_CHANGE'
                    })

            +formGroup.comment
                +label({
                    for: 'order-comment',
                    content: 'Дополнительная информация'
                })

                +e.input-container
                    +input({
                        tag: textarea,
                        formControl: true,
                        id: 'order-comment',
                        name: 'COMMENT',
                        placeholder: 'Комментарий по заказу'
                    })

            +e.cart-wrapper

            +formGroup.submit
                +button({
                    color: 'primary',
                    buttonType: 'submit',
                    content: 'Оформить заказ'
                })

            +formGroup
                +agreementLink({id: 'order-agreement'})
                +agreementLink({
                    id: 'order-personal-data',
                    name: 'PERSONAL-DATA',
                    content: `Я прочел и согласен с условиями <a href="${transformUrl('text')}" target="_blank", rel="license">обработки персональных данных</a>`
                })

            +formGroup
                +checkbox({
                    checked: true,
                    name: 'SUBSCRIBE',
                    content: 'Подписаться на рассылку'
                })

        block

-
    /**
     * @function mixins.layout#order
     * @requires mixins.layout#orderWrapper
     * @requires mixins.layout#orderForm
     * @requires mixins.layout#orderProfile
     * @requires mixins.layout#orderDelivery
     * @requires mixins.layout#orderPayment
     * @requires mixins.layout#orderBottom
     * @requires mixins.layout#orderAside
     * @desc Страница заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.form] - .
     * @param {Bemoptions} [config.profile] - .
     * @param {Bemoptions} [config.delivery] - .
     * @param {Bemoptions} [config.payment] - .
     * @param {Bemoptions} [config.bottom] - .
     * @param {Bemoptions} [config.aside] - .
     */
mixin order(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            wrapper: {
                modifiers: 'vertical'
            }
        });

    //-html
    +orderWrapper(config.wrapper)
        +orderForm(config.form)
            +e({
                classes: col,
                modifiers: 'content'
            })
                +orderProfile(config.profile)

                +orderDelivery(config.delivery)

                +orderPayment(config.payment)

                +orderBottom(config.bottom)

            +orderAside(config.aside)

        block