-
    const page = {
        title: 'Test page',
        lang: 'en'
    };
include /base/templates/main.pug

+html
    +head({
        title: '',
        icons: false
    })

    +body
        style.

        if globalConfig.isBuilder
            +b.test 123

        //-

        +foot({
            scriptsPrepend: {
                maps: false,
                share: false
            }
        })

        script.
            app.ready(function() {
                //
            });