include /components/check/template.pug

-
    /**
     * @function mixins.layout#agreementLink
     * @requires mixins.components#checkbox
     * @desc Текст со ссылкой на согласие с условиями пользовательского соглашения.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.checked=true] - .
     * @param {string} [config.validate='required'] - .
     * @param {string} [config.id=`agreement-${uniqueId()}`] - .
     * @param {string} [config.name='AGREEMENT'] - .
     * @param {string} [config.content=`Я прочел и согласен с условиями <a href="${transformUrl('text')}" target="_blank", rel="license">пользовательского соглашения</a>`] - .
     * @param {*} [config.-] - Настройки миксина [checkbox]@{link mixins.components.checkbox}.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.agreementModifier='agreement'] - .
     */
mixin agreementLink(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'agreement';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            checked: true,
            validate: 'required',
            id: `${mixinClass}-${uniqueId()}`,
            name: 'AGREEMENT',
            content: `Я прочел и согласен с условиями <a href="${transformUrl('text')}" target="_blank" rel="license">пользовательского соглашения</a>`,
            class: {
                agreementModifier: mixinClass
            }
        });

        if (config.class.agreementModifier) {
            setBlockClass(attributes, config.class.agreementModifier);
        }

    //-html
    +checkbox(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block