-
    const page = {
        title: 'Текстовая страница'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                'Раздел второго уровня',
                                page.title
                            ]
                        })

                        +top({title: 'Заголовок первого уровня H1'})

                        +textContainer
                            +textContent

            +contentBottom
        +foot