@import 'main';

.index-slider{
    min-width: 100%;
    max-width: 100%;
    padding-bottom: $global-margin * 2;
    @media (min-width: $media-lg){
        padding-bottom: $global-margin * 3;
    }
    &__slider-container{
        position: relative;
        margin: 0 (-$container-padding);
        @media (min-width: $media-lg){
            margin: 0;
        }
    }
    &__slider{
        @media (min-width: $media-lg){
            border-radius: $radius-primary;
        }
    }
    &__nav{
        --swiper-navigation-color: #{$white};
        margin: 0;
    }
    &-nav{
        &__arrow{
            position: absolute;
            top: 50%;
            margin-top: -$btn-height * .5;
            &:hover,
            &:focus{
                color: $grey-lighter;
            }
            svg{
                @media (min-width: $media-sm){
                    width: 20px !important;
                    height: 13px !important;
                }
            }
            @include m(prev){
                @media (min-width: $media-sm){
                    left: $global-padding * .5;
                }
                @media (min-width: $media-lg){
                    left: $global-padding * 2;
                }
            }
            @include m(next){
                @media (min-width: $media-sm){
                    right: $global-padding * .5;
                }
                @media (min-width: $media-lg){
                    right: $global-padding * 2;
                }
            }
        }
    }
    &__pagination{
        position: absolute;
        max-width: 100%;
        &.swiper-pagination-bullets.swiper-pagination-horizontal{
            --swiper-pagination-bullet-inactive-color: #{$white};
            --swiper-pagination-color: #{$white};

            left: ceil($global-padding * 2.5) + $global-padding;
            bottom: $global-margin * 2;
            width: auto;
            @media (min-width: $media-sm){
                left: $global-padding * 5;
            }
            @media (min-width: $media-lg){
                left: $global-padding * 8;
            }
        }
    }

    &__item{
        @include m(background){
            height: 400px;
            min-height: 100%;
            margin-right: -3px;
            background-position: left center;
            background-size: cover;
            .index-slider-item{
                &__inner{
                    height: 400px;
                }
                &__image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }
    &-item{
        &__inner{
            display: block;
            width: 100%;
            color: $white !important;
            text-decoration: none !important;
        }
        &__image{
            width: calc(100% + 3px) !important;
            max-width: calc(100% + 3px);
            margin: 0;
            @include m(mobile){
                @media (min-width: $media-sm){
                    display: none !important;
                }
            }
            @include m(desktop){
                display: none !important;
                @media (min-width: $media-sm){
                    display: block !important;
                }
            }
        }
        &__content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            max-width: col-width-px(5.5);
            padding: $global-margin * 2 ceil($global-padding * 3.5) $global-margin * 6;
            @media (min-width: $media-sm){
                padding: $global-margin * 3 $global-padding * 5 $global-margin * 7;
            }
            @media (min-width: $media-lg){
                padding-top: $global-margin * 4;
                padding-left: $global-padding * 8;
                padding-right: $global-padding * 8;
            }
        }
        &__info{
            display: block;
            max-height: 248px;
            @media (min-width: $media-sm){
                max-height: 200px;
            }
        }
        &-text{
            &__top,
            &__middle{
                display: block;
                font-size: $size-md-px;
                font-weight: $weight-bold;
            }
            &__top{
                line-height: $line-height-md;
            }
            &__middle{
                margin-top: $global-margin * .5;
                font-size: px-rem(28);
                line-height: $line-height-sm;
                letter-spacing: $letter-spacing-md;
                @media (min-width: $media-sm){
                    font-size: $size-h1;
                }
                @media (min-width: $media-lg){
                    font-size: rem-px(36px);
                }
            }
            &__bottom{
                display: block;
                margin-top: $global-margin * .75;
                font-size: $size-primary-px;
            }
        }

        &__button{
            margin-top: $global-margin * 1.5;
            @media (min-width: $media-lg){
                margin-top: $global-margin * 2;
            }
        }
    }
}