include /components/slider/template.pug

-
    /**
     * @function mixins.layout#indexSlider
     * @requires mixins.components#slider
     * @requires mixins.components#sliderItems
     * @requires mixins.components#sliderItem
     * @requires mixins.components#sliderNav
     * @requires mixins.components#sliderPagination
     * @desc Основной слайдер на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data='index-slider'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {number} [config.maxItems] - .
     * @param {boolean} [config.itemLink=true] - .
     * @param {boolean} [config.imageBg] - .
     * @param {boolean} [config.mobileImage=true] - .
     * @param {boolean} [config.buttonLink=true] - .
     * @param {string} [config.title=globalConfig.projectName] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='index-slider'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin indexSlider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'index-slider';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            data: 'index-slider',
            itemLink: true,
            mobileImage: true,
            title: removeHtml(globalConfig.projectName),
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.title);
        });

        _.defaultsDeep(config, {
            maxItems: items.length,
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        div(class=row)
            +e({
                classes: col,
                modifiers: 'content'
            })
                +e({
                    tag: header,
                    classes: srOnly,
                    modifiers: 'header'
                })
                    h1= config.title

                +e.slider-container
                    +slider({type: e})
                        +sliderItems
                            each item, index in items
                                if index >= config.maxItems
                                    - return;

                                +sliderItem({
                                    type: be,
                                    modifiers: config.imageBg ? 'background' : '',
                                    attrs: {
                                        style: config.imageBg ? `background-image: url('${item.image.src}')` : null
                                    }
                                })
                                    +link({
                                        tag: config.itemLink ? a : div,
                                        class: 'inner',
                                        href: config.itemLink ? 'news-detail' : null
                                    })
                                        +image({
                                            modifiers: config.mobileImage ? 'desktop' : null,
                                            src: item.image.src,
                                            alt: item.image.alt
                                        })

                                        if config.mobileImage
                                            +image({
                                                modifiers: 'mobile',
                                                src: item.image.src,
                                                alt: item.image.alt
                                            })

                                        if item.top || item.middle || item.bottom
                                            +e({
                                                tag: span,
                                                modifiers: 'content'
                                            })
                                                +e({
                                                    tag: span,
                                                    modifiers: 'info'
                                                })
                                                    +be({
                                                        tag: span,
                                                        modifiers: 'text'
                                                    })
                                                        +e({
                                                            tag: span,
                                                            modifiers: 'top',
                                                            content: `${item.top} №${index + 1}`
                                                        })
                                                        +e({
                                                            tag: span,
                                                            modifiers: 'middle',
                                                            content: item.middle
                                                        })
                                                        +e({
                                                            tag: span,
                                                            modifiers: 'bottom',
                                                            content: item.bottom
                                                        })

                                                +button({
                                                    tag: (config.buttonLink && !config.itemLink) ? a : span,
                                                    content: 'Подробнее',
                                                    outline: true,
                                                    color: 'white',
                                                    href: (config.buttonLink && !config.itemLink) ? 'news-detail' : null
                                                })

                        +sliderNav
                        +sliderPagination

                block