@import 'main';

$image-cell-width: 50px;

.main-content-inner__col > .cart{
    .cart{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.cart{
    &-table{
        &__table,
        &__tbody,
        &__row,
        &__cell{
            display: block;
        }
        &__table{
            width: calc(100% + #{$container-padding * 2});
            max-width: none;
            margin: 0 (-$container-padding);
            @include border-bottom($table-border);
            @media (min-width: $media-md){
                display: table;
                width: 100%;
                margin: 0;
            }
        }
        &__thead{
            display: none;
            @media (min-width: $media-md){
                display: table-header-group;
            }
        }
        &__tbody{
            @media (min-width: $media-md){
                display: table-row-group;
            }
        }
        &__row{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: $global-margin * 1.5 $container-padding $global-margin;
            @include border-top($table-border);
            @media (min-width: $media-md){
                display: table-row;
                padding: 0;
            }
        }
        &__cell{
            border-top: none;
            @media (min-width: $media-md){
                display: table-cell;
                margin: 0 !important;
                padding: $global-margin * 1.5 $global-padding;
                vertical-align: middle;
            }
            @include m(image){
                width: $image-cell-width + $global-gutter;
            }
            @include m(title){
                min-width: calc(100% - #{$image-cell-width + $global-gutter});
                max-width: calc(100% - #{$image-cell-width + $global-gutter});
                padding-right: 20px;
                @media (min-width: $media-md){
                    min-width: 0;
                    max-width: none;
                }
            }
            @include m(price, counter, sum){
                margin-top: $global-margin * 1.25;
            }
            @include m(price, sum){
                flex: 1 0 auto;
                @media (min-width: $media-md){
                    width: 88px + $global-gutter;
                    padding-left: $global-padding;
                }
                @media (min-width: $media-lg){
                    width: 100px + $global-gutter;
                }
                @media (min-width: $media-xl){
                    width: 128px + $global-gutter;
                }
            }
            @include m(counter){
                @media (min-width: $media-md){
                    width: 112px + $global-gutter;
                }
                @media (min-width: $media-xl){
                    width: 190px + $global-gutter;
                }
            }
            @include m(sum){
                padding-left: $global-padding * 1.5;
            }
            @include m(actions){
                @media (min-width: $media-md){
                    width: 48px;
                }
            }
        }

        &-image{
            &__image{
                max-width: $image-cell-width;
                max-height: $image-cell-width;
                margin: 0;
            }
        }
        &__link{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            line-height: $line-height-md;
            text-decoration: none;
        }
        &__info{
            margin-top: 4px;
            font-size: $size-md-px;
            > *{
                display: inline-block;
                margin-right: 4px;
            }
        }
        &__number{
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
        &-counter{
            &__button{
                height: 100% !important;
            }
        }
        &__price{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-md-px;
            font-weight: $weight-medium;
            white-space: nowrap;
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
            @if map-get($global-settings, basePrice){
                @include m(base){
                    position: relative;
                    display: inline-block;
                    color: $color-danger;
                    font-size: $size-sm-px;
                    @include after{
                        top: 50%;
                        left: -3px;
                        width: calc(100% + #{3px * 2});
                        margin-top: -1px;
                        @include border-top(currentColor, 1px);
                    }
                }
            }
        }
        &__actions{
            position: absolute;
            top: $global-margin * .5;
            right: $global-padding * .5;
            @media (min-width: $media-md){
                position: relative;
                top: 0;
                right: 0;
            }
        }
        &-actions{
            &__link{
                display: block;
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                color: $text-secondary;
                background: none;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
                @include m(active){
                    color: palette(success, light);
                }
            }
        }

        //Восстановление
        &-restore{
            &__link{
                @include m(title){
                    color: $text-primary;
                    font-weight: $weight-bold;
                }
                @include m(restore){
                    display: inline-block;
                    margin-top: $global-margin * .5;
                    padding: 0;
                    border: none;
                    color: $link-color;
                    background: none;
                    @include transition(color);
                    &:hover,
                    &:focus{
                        color: $link-color-hover;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}