include /components/counter/template.pug
include /components/money/template.pug
include /components/table/template.pug

-
    /**
     * @function mixins.layout#cartTableBody
     * @requires mixins.components#counter
     * @requires mixins.components#money
     * @desc Основной контент таблицы корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=tbody]
     * @param {string} [config.tableItems='cart-table'] - .
     * @param {Data} [config.itemsData='catalog-item'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.cartType='cart'] - .
     * @param {number} [config.maxItems=4] - .
     * @param {string} [config.basePrice=true] - .
     * @param {Object} [config.actions={}] - .
     * @param {boolean} [config.actions.wishlist=true] - .
     * @param {boolean} [config.actions.compare=true] - .
     * @param {boolean} [config.actions.remove=true] - .
     * @param {boolean} [config.restore=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tbody'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cartTableBody(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tbody';

        _.defaultsDeep(config, {
            type: e,
            tag: tbody,
            tableItems: 'cart-table',
            itemsData: 'catalog-item',
            cartType: 'cart',
            maxItems: 4,
            basePrice: true,
            actions: {
                wishlist: true,
                compare: true,
                remove: true
            },
            restore: true,
            class: {
                mixinClass
            }
        });

        getData(config, config.itemsData);
        const items = config.data ? config.data.items : [];

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const isCart = (config.cartType === 'cart');

    //-html
    +b(config)&attributes(attributes)
        each item, index in items
            if index < config.maxItems
                +tableRow
                    each cellItem in config.tableItems
                        if !isCart && (cellItem.id === 'counter')
                            - continue;

                        +tableCell({modifiers: cellItem.class})
                            if cellItem.id === 'image'
                                +be.image
                                    +link({
                                        href: 'product',
                                        title: removeHtml(item.title)
                                    })
                                        - const imagePreview = setImageProps(config.dataPath, item.imagePreview, item.title);
                                        +image({
                                            src: imagePreview.src,
                                            alt: imagePreview.alt
                                        })

                            if cellItem.id === 'title'
                                +link({
                                    href: 'product',
                                    content: item.title
                                })

                                +e.info
                                    if globalConfig.settings.catalogNumber
                                        +e({
                                            modifiers: 'number',
                                            attrs: {
                                                title: `Артикул: ${item.number}`,
                                            },
                                            content: `Артикул.: ${item.number}.`
                                        })

                                    if globalConfig.settings.colors
                                        +e.color Цвет: Голубой.

                                    if globalConfig.settings.sizes
                                        +e.size Размер: XL

                            if cellItem.id === 'price'
                                +e({
                                    modifiers: ['price', 'current'],
                                    attrs: {
                                        title: 'Цена'
                                    },
                                    content: money.formatPrice(item.price.current)
                                })
                                if globalConfig.settings.basePrice && config.basePrice && item.price.base
                                    +e({
                                        modifiers: ['price', 'base'],
                                        attrs: {
                                            title: 'Цена без скидки'
                                        },
                                        content: money.formatPrice(item.price.base)
                                    })

                            if cellItem.id === 'counter'
                                +counter({
                                    value: _.ifElse(index === 0, 10, 1),
                                    min: 1,
                                    max: 100,
                                    idPrefix: 'cart-counter'
                                })

                            if cellItem.id === 'sum'
                                +e({
                                    modifiers: ['price', 'sum'],
                                    attrs: {
                                        title: 'Сумма'
                                    },
                                    content: money.formatPrice(item.price.current)
                                })
                                if globalConfig.settings.basePrice && config.basePrice && item.price.base
                                    +e({
                                        modifiers: ['price', 'base'],
                                        attrs: {
                                            title: 'Сумма без скидки'
                                        },
                                        content: money.formatPrice(item.price.base)
                                    })

                            if cellItem.id === 'actions'
                                +be.actions
                                    if globalConfig.settings.wishlist && config.actions.wishlist
                                        if isCart
                                            +e({modifiers: ['item', 'wishlist']})
                                                +button({
                                                    title: 'Переместить к отложенным',
                                                    class: 'link'
                                                })
                                                    +sprite#bookmark

                                        else
                                            +e({modifiers: ['item', 'cart']})
                                                +button({
                                                    title: 'Переместить в корзину',
                                                    class: 'link'
                                                })
                                                    +sprite#bag-plus

                                    if globalConfig.settings.compare && config.actions.compare
                                        +e({modifiers: ['item', 'compare']})
                                            +button({
                                                modifiers: 'default',
                                                title: 'Добавить в сравнение',
                                                classes: _.ifElse(index === 0, '', 'state-active'),
                                                class: 'link',
                                                attrs: {
                                                    dataState: 'default'
                                                }
                                            })
                                                +sprite#stats

                                            +button({
                                                modifiers: 'active',
                                                title: 'Удалить из сравнения',
                                                classes: _.ifElse(index === 0, 'state-active'),
                                                class: 'link',
                                                attrs: {
                                                    dataState: 'active'
                                                }
                                            })
                                                +sprite#stats

                                    if config.actions.remove
                                        +e({modifiers: ['item', 'remove']})
                                            +button({
                                                title: `Удалить из ${isCart ? 'корзины' : 'отложенных'}`,
                                                class: 'link'
                                            })
                                                +sprite({
                                                    id: 'trash',
                                                    width: 18
                                                })

        if config.restore
            +tableRow
                +tableCell({
                    modifiers: 'restore',
                    colspan: config.tableItems.length
                })
                    +be.restore
                        +e.title
                            = 'Товар «'
                            +link({
                                href: 'product',
                                modifiers: 'title',
                                content: items[0].title
                            })
                            = `» был удалён из ${isCart ? 'корзины' : 'отложенных'}`
                        +link({
                            tag: button,
                            modifiers: 'restore',
                            content: 'Восстановить'
                        })

        block

-
    /**
     * @function mixins.layout#cartTable
     * @requires mixins.components#cartTableBody
     * @desc Верхняя часть таблицы корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.tableItems='cart-table'] - .
     * @param {Data} [config.data='cart-table'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.cartType='cart'] - .
     * @param {Data} [config.itemsData] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin cartTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'cart-table',
            cartType: 'cart',
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +table({
            dataTable: 'false',
            tableClass: false
        })
            +tableHead({classes: srOnly})
                +tableRow({header: true})
                    each tableItem in items
                        if (tableItem.id === 'title') || ((config.cartType !== 'cart') && (tableItem.id === 'counter'))
                            - continue;

                        +tableCell({
                            header: true,
                            modifiers: tableItem.class,
                            colspan: _.ifElse(tableItem.id === 'image', 2),
                            content: (tableItem.title || '')
                        })

            +cartTableBody({
                tableItems: items,
                cartType: config.cartType,
                itemsData: config.itemsData
            })

        block