@import 'main';

.filter{
    &__block{
        position: relative;
        @include border-bottom;
        &.has-checked{
            .filter-block{
                &__button{
                    @include m(reset){
                        display: inline-block;
                    }
                }
                &-title__icon{
                    @include m(checked){
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-block{
        //Заголовок
        &__title{
            margin: 0;
            &.sr-only{
                + .filter-block__content{
                    padding-top: $global-margin * .75;
                    .filter-block-content__inner{
                        padding-bottom: $global-margin;
                    }
                }
            }
            @include m(marked){
                font-weight: $weight-bold;
            }
        }
        &-title{
            &__inner{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 18px 0;
                color: $grey-darker !important;
                font-size: $size-md-px;
                text-decoration: none !important;
                &.active{
                    .filter-block-title__icon{
                        @include m(collapse){
                            transform: scaleY(-1) translateY(-1px);
                        }
                    }
                }
            }
            &__left{
                display: flex;
                align-items: center;
                padding-right: 8px;
            }
            &__text{
                display: inline-block;
            }
            &__icon{
                display: block;
                color: $grey-darker;
                pointer-events: none;
                @include m(checked){
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    margin-left: 9px;
                    opacity: 0;
                    @include transition(opacity);
                }
                @include m(collapse){
                    @include transition(transform);
                }
            }

            &__popover-link{
                margin-left: 7px;
            }
        }

        //Контентная часть
        &__content{
            &.collapse:not(.show){
                + div{
                    .filter__result-popover{
                        display: none;
                    }
                }
            }
        }
        &-content{
            &__inner{
                padding: $global-margin * .5 0 $global-margin * 2;
            }
        }

        &__check-list{
            @include m(colors){
                .filter-block{
                    &-check-list__inner{
                        display: flex;
                        flex-wrap: wrap;
                        margin: (-$global-margin) -6px 0;
                    }

                    &__form-check{
                        width: col-width(2);
                        margin-top: $global-margin;
                    }
                    &-form-check{
                        &__label{
                            &:hover,
                            &:focus{
                                .filter-block-form-check__content{
                                    &::after{
                                        border-width: 5px;
                                        opacity: .25 !important;
                                    }
                                }
                            }
                        }
                        &__content{
                            display: block;
                            width: $input-check-size;
                            height: $input-check-size;
                            margin: 0 auto;
                            padding: 0;
                            border: 1px solid transparent;
                            border-radius: $radius-sm;
                            &::before{
                                display: none;
                            }
                            &::after{
                                left: 2px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }

            @include m(sizes){
                .filter-block{
                    &-check-list__inner{
                        display: flex;
                        flex-wrap: wrap;
                        margin: (-$global-margin) -9px 0;
                    }
                    &__form-check{
                        margin: $global-margin 9px 0;
                    }
                    &-form-check{
                        &__input{
                            &:not(:disabled):not(.disabled){
                                + .form-check-content{
                                    &:hover,
                                    &:focus{
                                        .filter-block-form-check__size{
                                            border-color: $input-border-hover;
                                        }
                                    }
                                }
                            }
                            &:checked{
                                + .form-check-content{
                                    .filter-block-form-check__size{
                                        border-color: $color-primary !important;
                                    }
                                }
                            }
                        }
                        &__content{
                            padding: 0;
                            text-transform: uppercase;
                            &::before{
                                display: none;
                            }
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }

            &.collapse,
            &.collapsing{
                .filter-block-check-list__inner{
                    padding-top: $global-margin;
                }
            }
        }

        &__form-check{
            &:not(:first-child){
                margin-top: $global-margin * .75;
            }
        }
        &-form-check{
            &__label{
                &:hover,
                &:focus{
                    .filter-block-form-check__size{
                        border-color: $border-secondary !important;
                    }
                }
            }
            &__number{
                margin-left: 4px;
                color: $text-secondary;
            }
            &__size{
                display: block;
                min-width: $input-check-size;
                padding: 6px 8px;
                @include border;
                border-radius: $radius-primary;
                line-height: $input-check-size;
                text-align: center;
                @include transition(border-color);
            }
        }

        &__button{
            @include m(reset){
                display: none;
                margin-top: $global-margin;
                color: $color-comment;
                font-size: $size-sm-px;
            }
        }

        &__more{
            margin-top: $global-margin * .75;
        }
        &-more{
            &__button{
                color: $text-secondary;
                font-size: $size-sm-px;
                &.active{
                    .filter-block-more__text{
                        @include m(default){
                            display: none;
                        }
                        @include m(active){
                            display: inline;
                        }
                    }
                }
            }
            &__text{
                @include m(active){
                    display: none;
                }
            }
        }

        //Слайдер диапазонов
        &__range{
            @include m(single){
                .filter-block-range{
                    &__input-group{
                        width: 100%;
                        max-width: 100%;
                    }
                    &__label{
                        @include sr-only;
                    }
                    &__input{
                        padding: 0 $input-padding;
                        text-align: left;
                    }
                }
            }
        }
        &-range{
            &__input-group{
                position: relative;
                max-width: calc(#{col-width(6)} - 4px);
                label{
                    margin: -1px 0 0;
                }
            }
            &__label{
                position: absolute;
                top: 50%;
                left: $input-padding;
                color: $grey-light;
                font-size: $size-md-px;
                text-transform: lowercase;
                transform: translateY(-50%);
            }
            &__input{
                width: 100%;
                padding: 0 $input-padding * .5 0 $input-padding * 2;
                border-width: $border-width-secondary;
                font-size: $size-md-px;
                text-align: right;
                background: $input-border;
                box-shadow: none !important;
                &:not(:disabled):not(.disabled){
                    &:hover,
                    &:focus{
                        border-color: $input-border;
                    }
                }
            }
        }

        //Селект
        &__select{
            width: 100%;
        }
    }
}