include /components/popover/template.pug

-
    /**
     * @function mixins.layout#filterBlock
     * @requires mixins.components#popover
     * @requires mixins.components#popoverLink
     * @desc Элемент формы фильтра.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=fieldset]
     * @param {string} [config.title] - .
     * @param {boolean} [config.hiddenTitle] - .
     * @param {boolean} [config.markedTitle] - .
     * @param {Object} [config.popover] - .
     * @param {boolean} [config.collapse] - .
     * @param {string} [config.collapseIdPrefix='filter-block'] - .
     * @param {string} [config.collapseId=`${config.collapseIdPrefix}-${uniqueId()}`] - .
     * @param {boolean} [config.checkIcon=true] - .
     * @param {boolean} [config.checked] - .
     * @param {boolean} [config.active] - .
     * @param {boolean} [config.disabled] - .
     * @param {boolean} [config.reset] - .
     * @param {boolean} [config.submit] - .
     * @param {boolean} [config.resultPopover] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='block'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.hasChecked='has-checked'] - .
     */
mixin filterBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'block';

        _.defaultsDeep(config, {
            type: be,
            tag: fieldset,
            attrs: {},
            collapseIdPrefix: 'filter-block',
            checkIcon: true,
            class: {
                mixinClass,
                hasChecked: 'has-checked'
            }
        });

        if (config.disabled) {
            _.defaults(config.attrs, {
                disabled: ''
            });
        }

        if (!config.collapseId) {
            config.collapseId = `${config.collapseIdPrefix}-${uniqueId()}`;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = [];
        if (config.checked) addClasses.push(config.class.hasChecked);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        //-Заголовок
        if config.title
            +be({
                tag: legend,
                classes: config.hiddenTitle ? srOnly : '',
                modifiers: ['title', config.markedTitle ? 'marked' : ''],
            })
                +e({
                    tag: config.collapse ? a : span,
                    classes: config.collapse && config.active ? 'active' : '',
                    modifiers: 'inner',
                    attrs: {
                        href: config.collapse ? `#${config.collapseId}` : null,
                        title: config.collapse ? 'Свернуть/развернуть блок' : null,
                        ariaControls: config.collapse ? config.collapseId : null,
                        ariaExpanded: config.collapse ? 'true' : null
                    }
                })
                    +e({
                        tag: span,
                        modifiers: 'left'
                    })
                        +e({
                            tag: span,
                            modifiers: 'text',
                            content: config.title
                        })

                        if config.popover
                            +e({
                                tag: span,
                                modifiers: 'popover-wrapper'
                            })
                                +popoverLink({
                                    tag: config.collapse ? span : button,
                                    title: removeHtml(config.popover.title),
                                    description: config.popover.description,
                                    content: config.popover.content
                                })

                        if config.checkIcon
                            +e({
                                tag: span,
                                modifiers: ['icon', 'checked'],
                                attrs: {
                                    title: 'Применённый фильтр'
                                }
                            })
                                +sprite({
                                    id: 'check',
                                    width: 12
                                })

                    if config.collapse
                        +e({
                            tag: span,
                            modifiers: 'right'
                        })
                            +e({
                                tag: span,
                                modifiers: ['icon', 'collapse']
                            })
                                +sprite({
                                    id: 'arrow',
                                    width: 10
                                })

        //-Контент
        +be({
            classes: config.collapse ? ['collapse', 'toggled', config.active ? 'show' : ''] : null,
            modifiers: 'content',
            attrs: {
                role: 'group',
                id: config.collapse ? config.collapseId : null
            }
        })
            +e.inner
                +r('filter-block')
                    block

                    if config.reset
                        +button({
                            dashed: true,
                            modifiers: 'reset',
                            content: 'Сбросить фильтр'
                        })

                    if config.submit
                        +button({
                            buttonType: 'submit',
                            content: `Показазть ${money.format(34524)} товара`,
                            class: 'submit'
                        })

        if config.resultPopover
            +r('filter')
                div
                    +popover({
                        tooltip: true,
                        show: true,
                        direction: 'right',
                        class: 'result-popover'
                    })
                        +e({
                            tag: span,
                            modifiers: 'num',
                            content: 'Выбрано: 255'
                        })
                        +link({
                            href: page.name,
                            content: 'Показать'
                        })

-
    /**
     * @function mixins.layout#filterCheckList
     * @desc Список чекбоксов блока формы фильтра.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.id=`filter-more-${uniqueId()}`] - .
     * @param {boolean} [config.collapsed] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='check-list'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.collapse='collapse'] - .
     */
mixin filterCheckList(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'check-list';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            id: `filter-more-${uniqueId()}`,
            class: {
                mixinClass,
                collapse: 'collapse'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        if (!_.isUndefined(config.collapsed)) {
            setAdditionalClass(config.classes, attributes, config.type, config.class.collapse);
            config.attrs.id = config.id;
        }

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +r('filter-block')
                block

-
    /**
     * @function mixins.layout#filterMoreButton
     * @desc Кнопка "Показать ещё" блока формы фильтра.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.id=`filter-more-${uniqueId()}`] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='more'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin filterMoreButton(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'more';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            id: `filter-more-${uniqueId()}`,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +button({
            tag: a,
            href: `#${config.id}`,
            dashed: true,
            attrs: {
                ariaExpanded: 'false',
                ariaControls: config.id
            }
        })
            +e({
                tag: span,
                modifiers: ['text', 'default'],
                content: 'Показать всё'
            })
            +e({
                tag: span,
                modifiers: ['text', 'active'],
                content: 'Показать меньше'
            })

        block