@import 'main';

[data-state]{
    position: absolute !important;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    &.state-active{
        position: relative !important;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}