@import 'main';

.main-content-inner__col > .personal{
    .managers{
        &__cards{
            margin-top: $global-margin * .5;
        }
    }
}

.managers{
    &__cards{
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        @media (min-width: $media-md){
            margin-left: -$global-padding;
            margin-right: -$global-padding;
        }
    }
    &-cards{
        &__item{
            min-width: 100%;
            margin-top: $global-margin;
            @media (min-width: $media-md){
                min-width: col-width(6);
                max-width: col-width(6);
            }
            @media (min-width: $media-lg){
                min-width: col-width(4);
                max-width: col-width(4);
            }
        }
        &__inner{
            position: relative;
            display: flex;
            height: 100%;
            margin: 0 (-$global-padding);
            padding: $global-margin * 5 $container-padding calc(#{$global-margin * 2} + 43px);
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                margin: 0;
                @include border($border-secondary);
                border-radius: $radius-primary;
                @include transition(box-shadow border);
            }
            @include m(add){
                padding-top: 0;
                padding-bottom: 0;
            }
            @at-root .no-touch{
                .managers-cards__inner{
                    &:hover,
                    &:focus{
                        @media (min-width: $media-md){
                            border-color: transparent;
                            box-shadow: $shadow-lg;
                        }
                    }
                }
            }
        }
        &__row{
            flex: 1 0 100%;
            height: 100%;
        }

        //Действия
        &__actions{
            position: absolute;
            top: $global-margin * .75;
            left: 0;
            @media (min-width: $media-md){
                top: $global-margin;
                padding: 0 $global-padding * 2;
            }
        }
        &-actions{
            &__button{
                width: $btn-height;
                height: $btn-height;
                padding: 0;
                overflow: hidden;
                border: none;
                color: $grey;
                background: none;
                @include transition(color);
                &:hover,
                &:focus,
                &.active{
                    color: $color-primary;
                }
            }
            &__dots{
                display: flex;
                justify-content: space-between;
                width: 28px;
                margin: -18px auto 0;
                font-size: rem-px(36px);
                line-height: $btn-height;
                &::before,
                &::after{
                    content: '.';
                }
            }
            &__popover{
                display: none;
            }
            &__items{
                padding: $global-margin * .5 $global-padding;
            }
            &__item{
                &:not(:first-child){
                    @include border-top(rgba($white, .1));
                }
                &:not(:last-child){
                    @include border-bottom(rgba($black, .1));
                }
            }
            &__link{
                display: block;
                padding: 7px 10px;
                color: $white;
                font-size: $size-sm-px;
                font-weight: $weight-semibold;
                text-decoration: none !important;
                &:focus,
                &:hover{
                    color: rgba($white, .7);
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, light);
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 9px;
                text-decoration: none !important;
            }
            @at-root .popover{
                @include m(managers-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: palette(primary, light);
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .managers-cards-actions__popover{
                        display: block;
                    }
                }
            }
        }

        //Информация
        &__info{
            min-width: 100%;
            text-align: center;
            .avatar{
                &__inner{
                    width: 74px;
                    height: 74px;
                }
                &__badge{
                    top: 4px !important;
                    left: 4px;
                    transform: scale(1);
                }
            }
        }
        &-info{
            &__text{
                margin-top: $global-margin;
            }
            &__name{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-xl;
                font-weight: $weight-medium;
            }
            &__phone{
                font-size: $size-primary-px;
                font-weight: $weight-semibold;
                a{
                    color: $text-primary;
                    &:hover,
                    &:focus{
                        color: $color-primary;
                    }
                }
            }
        }

        //Заказы
        &__orders{
            min-width: 100%;
            margin-top: $global-margin * 2;
        }
        &-orders{
            &__items{
                justify-content: center;
                text-align: center;
            }
            &__item{
                flex-basis: col-width(6);
                max-width: col-width(6);
                &:not(:first-child){
                    @include border-left($border-secondary);
                }
                @include m(orders){
                    .managers-cards-orders__text{
                        &::after{
                            background: palette(success, light);
                        }
                    }
                }
                @include m(reserves){
                    .managers-cards-orders__text{
                        &::after{
                            background: $color-warning;
                        }
                    }
                }
            }
            &__number,
            &__text{
                color: $grey-darker;
                font-family: $font-secondary;
                font-weight: $weight-medium;
            }
            &__number{
                font-size: rem-px(24px);
            }
            &__text{
                position: relative;
                margin-top: -3px;
                padding-bottom: 10px;
                @include after{
                    left: 50%;
                    bottom: 0;
                    width: 60px;
                    height: 4px;
                    transform: translateX(-50%);
                }
            }
            &__price{
                margin-top: 8px;
                color: $grey-light;
            }
        }

        //Почта
        &__email{
            position: absolute;
            left: 0;
            bottom: 0;
            min-width: calc(100% + 2px);
            margin: 0 -1px -1px;
        }
        &-email{
            &__inner{
                margin: 0 (-$global-padding);
                padding: 12px $container-padding;
                font-size: $size-sl-px;
                text-align: center;
                background: $border-secondary;
                @media (min-width: $media-md){
                    border-bottom-left-radius: $radius-primary;
                    border-bottom-right-radius: $radius-primary;
                }
                a{
                    color: $text-primary;
                    text-decoration: none;
                    &:hover,
                    &:focus{
                        color: $color-primary;
                    }
                }
            }
        }

        //Добавить менеджера
        &__add{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            padding-top: $global-margin * 2;
            color: $grey-light;
            font-size: $size-md-px;
            font-weight: $weight-bold;
            letter-spacing: $letter-spacing-sm;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none !important;
            @media (min-width: $media-md){
                padding-top: $global-margin * 3;
                padding-bottom: $global-margin * 3;
            }
        }
        &-add{
            &__content{
                display: block;
            }
            &__icon{
                position: relative;
                display: block;
                width: 44px;
                height: 44px;
                margin: 0 auto;
                @include before-after{
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 6px;
                    background: currentColor;
                    transform: translate(-50%, -50%);
                }
                &::after{
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
            &__text{
                display: block;
                margin-top: $global-margin;
            }
        }
    }
}