include /components/money/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#managersCards
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Список менеджеров (в виде карточек) в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {number} [config.max=2] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='managers'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin managersCards(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'managers';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'managers',
            max: 2,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.name);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +be({
                modifiers: 'cards',
                classes: row
            })
                each item, index in items
                    if _.isUndefined(config.max) || (index < config.max)
                        +e({
                            modifiers: 'item',
                            classes: col
                        })
                            +e.inner
                                +e({
                                    modifiers: 'row',
                                    classes: row
                                })
                                    +be({
                                        modifiers: 'actions',
                                        classes: col
                                    })
                                        +button({title: 'Показать действия'})
                                            +e({
                                                tag: span,
                                                modifiers: 'dots',
                                                content: '.'
                                            })
                                        +e.popover
                                            +e.items
                                                each actionItem in config.data.actions
                                                    +e.item
                                                        +link({
                                                            tag: a,
                                                            modifiers: actionItem.class
                                                        })
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'icon'
                                                            })
                                                                +sprite(actionItem.sprite)
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'text',
                                                                content: actionItem.content
                                                            })

                                    +be({
                                        modifiers: 'info',
                                        classes: col
                                    })
                                        +avatar({dataIndex: index})

                                        +e.text
                                            +e.name= item.name
                                            +e.phone
                                                a(href=transformToTel(item.phone))= item.phone

                                    +be({
                                        modifiers: 'orders',
                                        classes: col
                                    })
                                        +e({
                                            modifiers: 'items',
                                            classes: row
                                        })
                                            +e({
                                                modifiers: ['item', 'orders'],
                                                classes: col
                                            })
                                                +e.number 2257
                                                +e.text заказов
                                                +e.price!= money.formatPrice(190000)

                                            if i !== 0
                                                +e({
                                                    modifiers: ['item', 'reserves'],
                                                    classes: col
                                                })
                                                    +e.number 14
                                                    +e.text резервов
                                                    +e.price!= money.formatPrice(80000)

                                    +be({
                                        modifiers: 'email',
                                        classes: col
                                    })
                                        - const email = `${item.email}@${globalConfig.emailDomain}`;
                                        +e.inner
                                            a(href=transformToEmail(email))= email

                +e({
                    modifiers: 'item',
                    classes: col
                })
                    +e({modifiers: ['inner', 'add']})
                        +e({
                            modifiers: 'row',
                            classes: row
                        })
                            +link({
                                type: be,
                                tag: a,
                                href: jv,
                                class: 'add'
                            })
                                +e({
                                    tag: span,
                                    modifiers: 'content'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'icon',
                                        attrs: {
                                            role: 'presentation'
                                        }
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: 'text',
                                        content: 'Добавить менеждера'
                                    })

                block