@import 'main';

@mixin form-control-lg{
    min-height: $input-height-lg;
    padding: $input-padding-vertical $input-padding * 1.25;
    font-size: $input-font-size-lg;
}

@mixin form-control-sm{
    min-height: $input-height-sm;
    padding: $input-padding-vertical + .35 $input-padding;
    font-size: $input-font-size-sm;
}