@import 'main';

@import 'Components/input/mixins';

//TODO:input with icon

//Обычное поле ввода
.form-control{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: $input-height;
    padding: $input-padding-vertical $input-padding;
    @include border($input-border, $input-border-width);
    border-radius: $input-radius;
    color: $input-color;
    font-family: $font-primary;
    font-size: $input-font-size;
    font-weight: $input-weight;
    line-height: $input-line-height;
    background: $input-bg;
    @include transition(color background border-color box-shadow);
    @include appearance(none);
    @include placeholder{
        color: $placeholder-color;
    }

    &::-ms-expand{
        border: none;
        background-color: transparent;
    }
    &:-moz-focusring{
        color: transparent;
        text-shadow: 0 0 0 $input-color;
    }

    //Фикс размера шрифта на touch-устройствах
    @at-root .touch{
        input,
        textarea{
            &.form-control{
                font-size: 16px !important;
            }
        }
    }

    &:focus{
        outline: none;
        box-shadow: none;
    }
    &:not(:disabled):not(.disabled){
        &:hover,
        &:focus{
            @if $input-color-hover != $input-color{
                color: $input-color-hover;
            }
            @if $input-bg-hover != $input-bg{
                background: $input-bg-hover;
            }
            @if $input-border-hover != $input-border{
                border-color: $input-border-hover;
            }
        }
        &:focus{
            box-shadow: $shadow-size-primary rgba($shadow-color-primary, .1);
        }
    }

    @at-root textarea#{&}{
        height: auto;
        min-height: $textarea-min-height;
    }

    @at-root select#{&}{
        &[size],
        &[multiple]{
            height: auto;
        }
        &:not([size]):not([multiple]){
            height: $input-height;
        }
        &:focus::-ms-value{
            color: $input-color;
            background-color: $input-bg;
        }
    }
    @at-root input#{&}{
        &[type='date'],
        &[type='time'],
        &[type='datetime-local'],
        &[type='month']{
            appearance: none;
        }
    }

    &:disabled,
    &.disabled,
    &[readonly]{
        background: $grey-lightest;
        opacity: 1;
    }

    &-plaintext{
        display: block;
        width: 100%;
        margin: 0;
        padding: $input-padding-vertical 0;
        @include border(transparent, $input-border-width);
        font-size: $input-font-size;
        font-weight: $input-weight;
        line-height: $input-line-height;
    }

    &-number{
        padding-top: $input-padding-vertical + .1;
        padding-bottom: $input-padding-vertical - .1;
        color: $grey-darker;
        font-family: $font-secondary;
        font-size: $size-md-px;
        font-weight: $weight-medium;
        @media (min-width: $media-md){
            font-size: $size-md-px;
        }
    }

    //Размеры
    &-lg{
        @media (min-width: $media-md){
            @include form-control-lg;
            @at-root textarea#{&}{
                min-height: $input-height-lg * 2.5;
            }
        }
    }
    &-sm{
        padding-left: $input-padding * .5;
        padding-right: $input-padding * .5;
        @media (min-width: $media-md){
            @include form-control-sm;
        }
    }
}

//Группа полей ввода
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    > .form-control,
    > .form-control-plaintext{
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
        &:focus{
            z-index: 3;
        }
        &:not(:first-child){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        + .form-control{
            margin-left: -$input-border-width;
        }
    }

    .btn{
        margin-top: 0 !important;
    }

    //Поле ввода в выпадающем списке
    .choices{
        margin: 0;
    }
    > .choices{
        flex: 1 1 auto;
        width: 1%;
        &:not(:first-child){
            .choices{
                &__inner{
                    &.form-control{
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }
                }
            }
        }
        &:not(:last-child){
            .choices{
                &__inner{
                    &.form-control{
                        border-top-right-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    }
                }
            }
        }
    }

    &-text{
        display: flex;
        align-items: center;
        min-height: $input-height;
        margin-bottom: 0;
        padding: $input-padding-vertical $input-padding;
        @include border(transparent, $input-border-width);
        border-radius: $radius-primary;
        color: $input-color;
        font-size: $input-font-size;
        font-weight: $weight-normal;
        line-height: $input-line-height;
        white-space: nowrap;
        text-align: center;
        background-color: $bg-secondary;
        .form-check{
            .form-check-content{
                &::before{
                    background: $white;
                }
            }
        }
    }

    //Присоединяемые поля
    &-prepend,
    &-append{
        display: flex;
        .btn{
            position: relative;
            z-index: 2;
            &:focus{
                z-index: 3;
            }
        }

        .btn + .btn,
        .btn + .input-group-text,
        .input-group-text + .input-group-text,
        .input-group-text + .btn{
            margin-left: -$input-border-width;
        }
    }
    &-prepend{
        margin-right: -$input-border-width;
        .choices{
            &__inner{
                &.form-control{
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
            }
        }
    }
    &-append{
        margin-left: -$input-border-width;
        .choices{
            &__inner{
                &.form-control{
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }
            }
        }
    }

    //Размеры
    &-lg,
    &-sm{
        .form-control{
            border-radius: $input-radius;
        }
        .input-group-prepend{
            > .input-group-text,
            > .btn{
                border-top-left-radius: $input-radius;
                border-bottom-left-radius: $input-radius;
            }
        }
        .input-group-append{
            > .form-control,
            > .input-group-text,
            > .btn{
                border-top-right-radius: $input-radius;
                border-bottom-right-radius: $input-radius;
            }
        }
    }

    &-lg{
        .form-control{
            @media (min-width: $media-md){
                @include form-control-lg;
            }
            &:not(textarea){
                @media (min-width: $media-md){
                    height: auto;
                }
            }
        }
        .input-group-prepend,
        .input-group-append{
            > .input-group-text{
                @media (min-width: $media-md){
                    @include form-control-lg;
                    height: auto;
                }
            }
            > .btn{
                @media (min-width: $media-md){
                    @include btn-lg;
                    height: auto;
                }
            }
        }
    }

    &-sm{
        .form-control{
            @media (min-width: $media-md){
                @include form-control-sm;
                height: auto;
            }
        }
        .input-group-prepend,
        .input-group-append{
            > .input-group-text{
                @media (min-width: $media-md){
                    @include form-control-sm;
                    height: auto;
                }
            }
            > .btn{
                @media (min-width: $media-md){
                    @include btn-sm;
                    height: auto;
                }
            }
        }
    }

    > .input-group-prepend > .btn,
    > .input-group-prepend > .input-group-text,
    > .input-group-append:not(:last-child) > .btn,
    > .input-group-append:not(:last-child) > .input-group-text,
    > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle):not([data-state]),
    > .input-group-append:last-child > .input-group-text:not(:last-child){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .input-group-append > .btn,
    > .input-group-append > .input-group-text,
    > .input-group-prepend:not(:first-child) > .btn,
    > .input-group-prepend:not(:first-child) > .input-group-text,
    > .input-group-prepend:first-child > .btn:not(:first-child):not([data-state]),
    > .input-group-prepend:first-child > .input-group-text:not(:first-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}