-
    /**
     * @function mixins.components#input
     * @desc Поле ввода.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=input]
     * @param {string} [config.inputType='text'] - .
     * @param {string} [config.idPrefix='input'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.name] - .
     * @param {string} [config.placeholder] - .
     * @param {boolean} [config.formControl] - .
     * @param {string} [config.size] - .
     * @param {string} [config.validate] - .
     * @param {string} [config.value] - .
     * @param {number} [config.maxlength] - .
     * @param {boolean} [config.readonly] - .
     * @param {string} [config.autocomplete] - .
     * @param {boolean} [config.number] - .
     * @param {(boolean|string)} [config.mask] - .
     * @param {boolean} [config.disabled] - .
     * @param {boolean} [config.valid] - .
     * @param {boolean} [config.invalid] - .
     * @param {boolean} [config.autofocus] - .
     * @param {string} [config.accept] - .
     * @param {boolean} [config.multiple] - .
     * @param {string} [config.inputmode] - .
     * @param {string} [config.required] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='input'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.formControl='form-control'] - .
     * @param {bemclasses} [config.class.modifiersPrefix=`${config.class.formControl}-`] - .
     * @param {bemclasses} [config.class.number='number'] - .
     * @param {bemclasses} [config.class.valid='is-valid'] - .
     * @param {bemclasses} [config.class.invalid='is-invalid'] - .
     * @example
     * +input({
     *     formControl: true,
     *     inputType: 'email',
     *     validate: 'required, email',
     *     id: 'test-email',
     *     name: 'EMAIL',
     *     size: 'lg',
     *     value: 'Текст',
     *     autofocus: true
     * })
     *
     * @example
     * +input({
     *     tag: textarea,
     *     formControl: true,
     *     validate: 'required',
     *     id: 'test-message',
     *     name: 'MESSAGE',
     *     content: 'Текст'
     * })
     */
mixin input(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'input';

        _.defaultsDeep(config, {
            type: e,
            tag: input,
            attrs: {},
            inputType: 'text',
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            class: {
                mixinClass,
                formControl: 'form-control',
                number: 'number',
                valid: 'is-valid',
                invalid: 'is-invalid'
            }
        });

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix
        });

        _.defaultsDeep(config, {
            attrs: {
                type: _.ifElse(config.tag === input, config.inputType),
                id: config.id || null,
                name: config.name || null,
                placeholder: config.placeholder || null,
                value: config.value || _.ifElse(config.tag === input, config.content),
                maxlength: config.maxlength || null,
                accept: config.accept || null,
                multiple: config.multiple ? '' : null,
                inputmode: config.inputmode || null,
                readonly: config.readonly ? '' : null,
                autocomplete: config.autocomplete || null,
                disabled: config.disabled ? '' : null,
                autofocus: config.autofocus ? '' : null,
                dataAutofocus: config.autofocus ? '' : null,
                required: config.required ? '' : null,
                dataValidate: config.validate || null,
                dataMask: (config.mask === true) ? '' : (config.mask || null)
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                modifiersPrefix: config.class.formControl ? `${config.class.formControl}-` : ''
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.formControl) {
            addClasses.push(config.class.formControl);
            if (config.size) addClasses.push(config.class.modifiersPrefix + config.size);
            if (config.number) addClasses.push(config.class.modifiersPrefix + config.class.number);
        }
        if (config.valid) addClasses.push(config.class.valid);
        if (config.invalid) addClasses.push(config.class.invalid);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#label
     * @desc Заголовок поля ввода.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=label]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.localData.requiredTitle] - .
     * @param {string} [config.for] - .
     * @param {string} [config.form] - .
     * @param {string} [config.title] - .
     * @param {boolean} [config.valid] - .
     * @param {boolean} [config.invalid] - .
     * @param {(Bemoptions|boolean)} [config.required] - .
     * @param {boolean} [config.srOnly] - .
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {bemclasses} [config.class.block='label'] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='label'] - Дополнительный класс (не добавляется).
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.valid='is-valid'] - .
     * @param {bemclasses} [config.class.invalid='is-invalid'] - .
     * @param {bemclasses} [config.class.required='text-required'] - .
     * @example
     * +label({
     *     for: 'test-email',
     *     content: 'Email',
     *     required: true
     * })
     */
mixin label(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'label';

        const modulePath = 'components/input';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: e,
            tag: label,
            attrs: {},
            class: {
                mixinClass,
                valid: 'is-valid',
                invalid: 'is-invalid',
                required: 'text-required'
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                for: config.for || null,
                form: config.form || null,
                title: removeHtml(config.title) || null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.valid) addClasses.push(config.class.valid);
        if (config.invalid) addClasses.push(config.class.invalid);
        if (config.srOnly) addClasses.push(srOnly);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.required) {
            config.required = _.toPlainObject(config.required);
            _.defaultsDeep(config.required, {
                tag: span,
                modifiers: config.class.required,
                attrs: {
                    title: config.localData.requiredTitle
                },
                content: '*'
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

        if config.required
            = ' '
            +b(config.required)