@import 'main';

.product{
    &__availability{
        margin-top: $global-margin * 2;
        text-align: right;
        @include m(table){
            min-width: 100%;
            margin-top: $global-margin * 1.25;
            text-align: left;
        }
    }
    &-availability{
        &__status{
            svg{
                margin: -2px 4px 0 0;
                color: palette(success, light);
            }
        }
        &__items{
            position: relative;
            padding-top: 4px;
            @include before{
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                border-radius: $radius-sm;
                background: $bg-secondary;
            }
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            @include border-bottom($bg-secondary);
        }
        &__store{
            width: calc(55% - #{(62px * .5)});
            font-size: $size-md-px;
        }
        &__count{
            width: calc(45% - #{(62px * .5)});
            @include m(inactive){
                color: $text-secondary;
            }
        }
        &__number{
            font-size: $size-sl-px;
        }
        &__bar{
            position: relative;
            width: 44px;
            height: 3px;
            margin-top: 3px;
            background: to-rgb($color-primary, .4);
            @include before-after{
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
            }
            &::before{
                background: $color-primary;
            }
            &::after{
                width: 100%;
                background: repeating-linear-gradient(to right, transparent, transparent 13px, $white 13px, $white 15px);
            }
            @include m(fullness1){
                &::before{
                    width: col-width(4);
                    background: $color-danger;
                }
            }
            @include m(fullness2){
                &::before{
                    width: col-width(8);
                }
            }
            @include m(fullness3){
                &::before{
                    width: 100%;
                }
            }
        }
        &__counter{
            width: 62px;
        }
        &__input{
            width: 100%;
            height: 25px;
            min-height: 0;
            padding: 0 !important;
            font-family: $font-secondary;
            font-size: $size-sm-px;
            font-weight: $weight-medium;
            text-align: center;
        }
    }
}