-
    /**
     * @function mixins.layout#productAvailability
     * @desc Блок наличия страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='availability'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productAvailability(config)
    -
        if (!globalConfig.settings.availability) return

        config = _.toPlainObject(config)
        classesSetup(config)
        const mixinClass = 'availability'

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                ariaLabelledby: 'product-availability-title'
            },
            class: {
                mixinClass,
                addClass: col
            }
        })

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        })
        setBlockClass(attributes, config.class.block)

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass)

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'title',
            classes: srOnly,
            attrs: {
                id: 'product-availability-title'
            },
            content: 'Количество товара на складе'
        })

        +e.status
            +sprite#check
            | Есть в наличии

        block

-
    /**
     * @function mixins.layout#productAvailabilityLarge
     * @desc Блок таблицы наличия в карточке товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='availability'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.availabilityModifier='table'] - .
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin productAvailabilityLarge(config)
    -
        if (!globalConfig.settings.availability) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'availability';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                ariaLabelledby: 'product-availability-title'
            },
            class: {
                mixinClass,
                availabilityModifier: 'table',
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.availabilityModifier) {
            blockClasses.push(config.class.availabilityModifier);
        }
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'title',
            classes: srOnly,
            attrs: {
                id: config.attrs.ariaLabelledby
            },
            content: 'Количество товара на складе'
        })

        +e.items
            each item, index in page.product.data.availabilityMore
                +e.item
                    +e({
                        modifiers: 'store',
                        content: item.store
                    })

                    -
                        let statusText = '';
                        if (item.fullness === 0) {
                            statusText = 'Товар закончился';
                        } else if (item.fullness === 1) {
                            statusText = 'Товар заканчивается';
                        } else {
                            statusText = 'Товара много';
                        }
                    +e({
                        modifiers: ['count', (item.fullness === 0) ? 'inactive' : ''],
                        attrs: {
                            title: removeHtml(statusText)
                        }
                    })
                        +e({
                            modifiers: 'number',
                            content: (item.count === 0) ? 'Нет' : `${item.count} шт.`
                        })
                        +e({
                            modifiers: ['bar', `fullness${item.fullness}`],
                            attrs: {
                                role: 'presentation'
                            }
                        })
                        +e({
                            modifiers: 'status',
                            classes: srOnly,
                            content: statusText
                        })

                    +e.counter
                        - const counterId = `product-availability-counter${index + 1}`;
                        +label({
                            for: counterId,
                            srOnly: true,
                            content: 'Количество'
                        })
                        +input({
                            formControl: true,
                            size: 'sm',
                            placeholder: 'кол-во',
                            maxlength: 4,
                            id: counterId,
                            name: `COUNTER_${index + 1}`
                        })

        block