@import 'main';

.header{
    .header{
        &__actions{
            display: flex;
            flex-grow: 0;
            order: 2;
            min-width: col-width(6);
            max-width: col-width(6);
            @media (min-width: $media-sm){
                order: 0;
                min-width: auto;
                max-width: none;
            }
            @at-root .browser-ie{
                .header{
                    .header__actions{
                        @media (min-width: $media-sm){
                            min-width: 140px;
                        }
                        @media (min-width: $media-xl){
                            min-width: 25%;
                        }
                    }
                }
            }
        }
        &-actions{
            &__inner{
                flex: 1 0 auto;
                flex-wrap: nowrap;
                .col{
                    &:not(:last-child){
                        padding-right: 0;
                    }
                }
            }
            &__group{
                display: none;
                flex-basis: auto;
                flex-wrap: nowrap;
                margin-top: 0;
                @media (min-width: $media-md){
                    display: flex;
                }
                @media (max-width: $media-mlg-max){
                    padding-left: 0;
                }
            }
            &__item{
                position: relative;
                display: flex;
                @media (max-width: $media-lg-max){
                    padding: 0;
                }
                + .header-actions__item{
                    position: relative;
                    z-index: 3;
                    margin-left: 1px;
                    @include before{
                        top: 0;
                        left: -1px;
                        height: 100%;
                        @include border-left;
                    }
                }
                @include m(cart){
                    @include before{
                        @media (min-width: $media-sm){
                            top: 0;
                            left: -1px;
                            height: 100%;
                            @include border-left;
                        }
                        @media (min-width: $media-lg){
                            display: none;
                        }
                    }
                    @media (min-width: $media-sm){
                        min-width: col-width-px(1.25);
                        max-width: col-width-px(1.25);
                        margin-left: 1px;
                    }
                    @media (min-width: $media-lg){
                        min-width: col-width-px(1.75);
                        max-width: col-width-px(1.75);
                        margin-left: 0;
                    }
                    .header-actions__link{
                        position: relative;
                        margin-right: -$container-padding + $global-padding;
                        color: $color-primary;
                        @include after{
                            left: 50%;
                            bottom: (-$btn-border-width);
                            width: 18px;
                            height: 3px;
                            border-radius: $radius-sm;
                            background: currentColor;
                            transform: translateX(-50%);
                        }
                        @media (min-width: $media-sm){
                            margin-right: 0;
                        }
                        @media (max-width: $media-lg-max){
                            padding-left: $btn-padding * .5;
                            padding-right: $btn-padding * .5;
                        }
                    }
                }
                @include m(compare, wishlist){
                    .header-actions__text{
                        @include sr-only;
                    }
                }
                &.input-group-prepend,
                &.input-group-append{
                    .header-actions__link{
                        @media (max-width: $media-lg-max){
                            border-radius: 0 !important;
                        }
                    }
                }
                &.input-group-prepend{
                    .header-actions__link{
                        border-top-left-radius: $btn-radius !important;
                        border-bottom-left-radius: $btn-radius !important;
                    }
                }
                &.input-group-append{
                    .header-actions__link{
                        border-top-right-radius: $btn-radius !important;
                        border-bottom-right-radius: $btn-radius !important;
                    }
                }
            }
            &__link{
                display: flex;
                flex: 1 0 auto;
                align-items: center;
                justify-content: center;
                min-width: 51px;
                height: 100%;
                padding: 0 $btn-padding * .5;
                line-height: $btn-height-lg - $btn-border-width * 2;
                @include transition(opacity color background border-color box-shadow);
                @media (min-width: $media-lg){
                    padding: 0 $global-padding * 1.75;
                    color: $grey;
                }
                @media (max-width: $media-lg-max){
                    border-radius: 0;
                    box-shadow: none !important;
                }
                &[data-state]{
                    margin: 0;
                }
                &.active.state-active{
                    border-color: $white;
                    color: $color-primary;
                    background: $white;
                }
                &:hover,
                &:focus{
                    box-shadow: $btn-shadow-size rgba($shadow-color-primary, .1);
                    @media (max-width: $media-lg-max){
                        color: $color-primary !important;
                    }
                }
            }
            &__text{
                @include m(slideout){
                    display: none;
                }
            }
            &__count{
                margin-left: 4px;
            }
            &__badge{
                position: absolute;
                top: -11px;
                left: 50%;
                min-width: 22px;
                padding-left: $size-xs * .6;
                transform: translateX(-50%);
            }
        }
    }
}