include /components/badge/template.pug
include /components/money/template.pug

-
    /**
     * @function mixins.layout#headerActions
     * @requires mixins.components#badge
     * @requires mixins.components#money
     * @requires mixins.layout#cartPopover
     * @desc Блока кнопок действий хедера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Object} [config.compare={}] - .
     * @param {Object} [config.wishlist={}] - .
     * @param {Object} [config.cart={}] - .
     * @param {boolean} [config.cart.icon] - .
     * @param {boolean} [config.cart.quantity=true] - .
     * @param {boolean} [config.cart.price] - .
     * @param {boolean} [config.cart.badge] - .
     * @param {boolean} [config.cart.popover] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='actions'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin headerActions(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'actions';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            compare: {
                badge: true
            },
            wishlist: {
                badge: true
            },
            cart: {
                quantity: true
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: 'inner'
        })
            if (globalConfig.settings.compare || globalConfig.settings.wishlist) && (config.compare || config.wishlist)
                +e({
                    classes: [col, 'input-group'],
                    modifiers: 'group'
                })
                    //-Сравнение
                    if globalConfig.settings.compare && config.compare
                        +e({
                            classes: 'input-group-prepend',
                            modifiers: ['item', 'compare']
                        })
                            if page.name === 'compare'
                                +button({
                                    tag: a,
                                    color: 'white',
                                    size: 'lg',
                                    classes: ['active', 'state-active'],
                                    href: 'compare',
                                    title: 'Перейти к сравнению товаров',
                                    attrs: {
                                        dataState: 'default'
                                    },
                                    class: 'link'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite#stats

                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'header'],
                                        content: 'Сравнение'
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'slideout'],
                                        content: 'Сравнение товаров'
                                    })
                                    if config.compare.badge
                                        +badge({
                                            color: 'danger',
                                            badgeType: 'pill',
                                            content: '256'
                                        })

                            else
                                +button({
                                    tag: a,
                                    color: 'white',
                                    size: 'lg',
                                    href: 'compare',
                                    title: 'Перейти к сравнению товаров',
                                    attrs: {
                                        dataState: 'default'
                                    },
                                    class: 'link'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite#stats

                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'header'],
                                        content: 'Сравнение'
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'slideout'],
                                        content: 'Сравнение товаров'
                                    })

                    //-Отложенные
                    if globalConfig.settings.wishlist && config.wishlist
                        +e({
                            classes: 'input-group-append',
                            modifiers: ['item', 'wishlist']
                        })
                            if page.name === 'wishlist'
                                +button({
                                    tag: a,
                                    color: 'white',
                                    size: 'lg',
                                    classes: ['active', 'state-active'],
                                    href: 'wishlist',
                                    title: 'Перейти к отложенным товарам',
                                    attrs: {
                                        dataState: 'default'
                                    },
                                    class: 'link'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite#bookmark

                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'header'],
                                        content: 'Отложенные'
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'slideout'],
                                        content: 'Отложенные товары'
                                    })
                                    if config.wishlist.badge
                                        +badge({
                                            color: 'danger',
                                            badgeType: 'pill',
                                            content: '2'
                                        })

                            else
                                +button({
                                    tag: a,
                                    color: 'white',
                                    size: 'lg',
                                    href: 'wishlist',
                                    title: 'Перейти к отложенным товарам',
                                    attrs: {
                                        dataState: 'default'
                                    },
                                    class: 'link'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite#bookmark

                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'header'],
                                        content: 'Отложенные'
                                    })
                                    +e({
                                        tag: span,
                                        modifiers: ['text', 'slideout'],
                                        content: 'Отложенные товары'
                                    })

            //-Корзина
            if config.cart
                +e({
                    classes: col,
                    modifiers: ['item', 'cart']
                })
                    +button({
                        tag: a,
                        color: 'white',
                        size: 'lg',
                        href: 'cart',
                        title: 'Перейти в корзину',
                        class: 'link'
                    })
                        if config.cart.icon
                            +e({
                                tag: span,
                                modifiers: 'icon'
                            })
                                +sprite#bag

                        if config.cart.quantity
                            +e({
                                tag: span,
                                modifiers: 'text'
                            })
                                | Корзина
                                +e({
                                    tag: span,
                                    modifiers: 'count',
                                    content: '(344)',
                                    attrs: {
                                        title: 'Количество товаров в корзине'
                                    }
                                })

                        if config.cart.price
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: money.formatPrice(2423430),
                                attrs: {
                                    title: 'Цена товаров в корзине'
                                }
                            })
                        if config.cart.badge
                            +badge({
                                content: '24',
                                title: 'Количество товаров в корзине',
                                badgeType: 'pill'
                            })

                    if config.cart.popover
                        +cartPopover

            block