@import 'main';

//Блок счётчика с кнопками
.counter{
    position: relative;
    &.disabled{
        opacity: 1 !important;
        .input-group{
            opacity: .5 !important;
        }
    }

    &-wrapper{
        width: ($input-height-sm - 1) * 2 + 46 - 2;
        @include border($input-border);
        border-radius: $input-radius;
    }
    .input-group{
        margin-top: -1px;
    }
    .input-group-prepend,
    .input-group-append{
        > .btn{
            min-height: $input-height-sm - 1;
            margin-top: 1px !important;
        }
    }
    &-button{
        position: relative;
        width: $input-height-sm - 1;
        padding: 0 !important;
        font-family: $font-secondary;
        font-size: $size-md-px !important;
        font-weight: $weight-medium;
        line-height: $input-height-sm - $btn-border-width * 2 !important;
        background: none;
        box-shadow: none !important;
        @include transition(color background opacity);
        svg{
            margin-top: -1px;
        }
        &:hover{
            background: $bg-primary;
        }
        &:focus{
            color: $color-primary;
        }
    }

    &-input{
        z-index: 5 !important;
        min-height: $btn-height - 1 !important;
        padding: 1px 0 0 !important;
        border-color: transparent !important;
        border-bottom-width: 0 !important;
        color: $grey-darker !important;
        font-family: $font-secondary !important;
        font-size: $size-md-px !important;
        font-weight: $weight-medium;
        text-align: center;
        background: none !important;
        box-shadow: none !important;
    }

    .preloader{
        width: 28px;
        height: 28px;
        &::after{
            border-width: 4px;
        }
    }
}