-
    /**
     * @function mixins.components#counter
     * @desc Счётчик.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=fieldset]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - объект с языковыми строками, подключается согласно config.lang.
     * @param {number} [config.value=1] - .
     * @param {number} [config.maxlength=5] - .
     * @param {number} [config.min] - .
     * @param {number} [config.max] - .
     * @param {number} [config.minChange] - .
     * @param {string} [config.idPrefix='counter'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.name='COUNTER'] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.disabled] - .
     * @param {boolean} [config.disableOuts] - .
     * @param {(boolean|string|Bemoptions)} [config.legend={}] - .
     * @param {bemtag} [config.legend.tag=legend] - .
     * @param {bemmodifiers} [config.legend.modifiers=config.class.legend] - .
     * @param {Bemoptions} [config.wrapper={}] - .
     * @param {bemclasses} [config.wrapper.classes=`${config.class.mixinClass}-${config.class.wrapperAdd}`] - .
     * @param {bemmodifiers} [config.wrapper.modifiers=config.class.wrapper] - .
     * @param {Bemoptions} [config.inner={}] - .
     * @param {bemclasses} [config.inner.classes=config.class.innerAdd] - .
     * @param {bemmodifiers} [config.inner.modifiers=config.class.inner] - .
     * @param {Object} [config.buttons={}] - .
     * @param {Bemoptions} [config.buttons.minus={}] - .
     * @param {bemtag} [config.buttons.minus.tag=button] - .
     * @param {bemclasses} [config.buttons.minus.classes=[config.class.buttonAdd, `${config.class.mixinClass}-${config.class.button}`, `${config.class.mixinClass}-${config.class.minus}`]] - .
     * @param {bemmodifiers} [config.buttons.minus.modifiers=[config.class.button, config.class.minus]] - .
     * @param {bemattrs} [config.buttons.minus.attrs={}] - .
     * @param {string} [config.buttons.minus.attrs.type='button'] - .
     * @param {string} [config.buttons.minus.attrs.disabled=(config.disabled || config.value <= config.min) ? '' : null] - .
     * @param {string} [config.buttons.minus.attrs.title=`${config.localData.minusTitlePrefix} ${config.minChange || 1}`] - .
     * @param {string} [config.buttons.minus.attrs.ariaControls=config.id] - .
     * @param {bemcontent} [config.buttons.minus.content='-'] - .
     * @param {Sprite} [config.buttons.minus.sprite] - .
     * @param {Bemoptions} [config.buttons.minus.container={}] - .
     * @param {bemclasses} [config.buttons.minus.container.classes=config.class.minusContainer] - .
     * @param {Bemoptions} [config.buttons.plus={}] - .
     * @param {bemtag} [config.buttons.plus.tag=button] - .
     * @param {bemclasses} [config.buttons.plus.classes=[config.class.buttonAdd, `${config.class.mixinClass}-${config.class.button}`, `${config.class.mixinClass}-${config.class.plus}`]] - .
     * @param {bemmodifiers} [config.buttons.plus.modifiers=[config.class.button, config.class.plus]] - .
     * @param {bemattrs} [config.buttons.plus.attrs={}] - .
     * @param {string} [config.buttons.plus.attrs.type='button'] - .
     * @param {string} [config.buttons.plus.attrs.disabled=(config.disabled || (config.value >= config.max)) ? '' : null] - .
     * @param {string} [config.buttons.plus.attrs.title=`${config.localData.plusTitlePrefix} ${config.minChange || 1}`] - .
     * @param {string} [config.buttons.plus.attrs.ariaControls=config.id] - .
     * @param {bemcontent} [config.buttons.plus.content='+'] - .
     * @param {Sprite} [config.buttons.plus.sprite] - .
     * @param {Bemoptions} [config.buttons.plus.container={}] - .
     * @param {bemclasses} [config.buttons.plus.container.classes=config.class.plusContainer] - .
     * @param {(boolean|string|Bemoptions)} [config.label=config.localData.label] - .
     * @param {Bemoptions} [config.input] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='counter'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.counterAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @param {bemclasses} [config.class.legend='legend'] - .
     * @param {bemclasses} [config.class.wrapper='wrapper'] - .
     * @param {bemclasses} [config.class.wrapperAdd='wrapper'] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.innerAdd=['input-group', 'input-group-sm']] - .
     * @param {bemclasses} [config.class.minusContainer='input-group-prepend'] - .
     * @param {bemclasses} [config.class.plusContainer='input-group-append'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.buttonAdd='btn'] - .
     * @param {bemclasses} [config.class.minus='minus'] - .
     * @param {bemclasses} [config.class.plus='plus'] - .
     * @param {bemclasses} [config.class.label=''] - .
     * @param {bemclasses} [config.class.labelAdd='sr-only'] - .
     * @param {bemclasses} [config.class.input='input'] - .
     * @param {bemclasses} [config.class.inputAdd='form-control'] - .
     * @example
     * +counter({
     *     value: 10,
     *     min: 1,
     *     max: 100,
     *     id: 'new-counter',
     *     dataOptions: {mask: false},
     *     content: 'Текст под счётчиком'
     * })
     */
mixin counter(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'counter';

        const modulePath = 'components/counter';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: fieldset,
            attrs: {
                dataCounterOptions: config.dataOptions || null
            },
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            name: 'COUNTER',
            value: 1,
            maxlength: 5,
            label: config.localData.label,
            buttons: {
                minus: true,
                plus: true
            },
            class: {
                mixinClass,
                disabled: 'disabled',
                legend: 'legend',
                wrapper: 'wrapper',
                wrapperAdd: 'wrapper',
                inner: 'inner',
                innerAdd: ['input-group', 'input-group-sm'],
                minusContainer: 'input-group-prepend',
                plusContainer: 'input-group-append',
                button: 'button',
                buttonAdd: 'btn',
                minus: 'minus',
                plus: 'plus',
                label: '',
                labelAdd: srOnly,
                input: 'input',
                inputAdd: 'form-control'
            }
        });

        if (config.min || config.max || config.minChange) {
            config.attrs.dataCounterOptions = _.toPlainObject(config.attrs.dataCounterOptions);
            _.defaultsDeep(config.attrs.dataCounterOptions, {
                min: config.min,
                max: config.max,
                minChange: config.minChange
            });
        }

        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            attrs: {
                tabindex: config.disabled ? '-1' : null,
                ariaDisabled: config.disabled ? 'true' : null,
                dataCounter: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                counterAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.counterAdd);
        if (config.disabled) addClasses.push(config.class.disabled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.legend) {
            const legendContent = _.isString(config.legend) ? config.legend : null;
            if (!_.isPlainObject(config.legend)) {
                config.legend = {};
            }
            _.defaultsDeep(config.legend, {
                type: e,
                tag: legend,
                modifiers: config.class.legend,
                content: legendContent
            });
        }

        config.wrapper = _.toPlainObject(config.wrapper);
        _.defaultsDeep(config.wrapper, {
            type: e,
            classes: `${config.class.mixinClass}-${config.class.wrapperAdd}`,
            modifiers: config.class.wrapper
        });

        config.inner = _.toPlainObject(config.inner);
        _.defaultsDeep(config.inner, {
            type: e,
            classes: config.class.innerAdd,
            modifiers: config.class.inner
        });

        if (config.buttons) {
            const buttonAddClasses = [
                config.class.buttonAdd,
                `${config.class.mixinClass}-${config.class.button}`
            ];

            if (config.buttons.minus) {
                config.buttons.minus = _.toPlainObject(config.buttons.minus);
                const minusButtonClasses = buttonAddClasses.slice(0);
                minusButtonClasses.push(`${config.class.mixinClass}-${config.class.minus}`);
                _.defaultsDeep(config.buttons.minus, {
                    type: e,
                    tag: button,
                    classes: minusButtonClasses,
                    modifiers: [config.class.button, config.class.minus],
                    attrs: {
                        type: 'button',
                        disabled: _.ifElse(config.disableOuts && (config.disabled || (config.value <= config.min)), ''),
                        title: `${config.localData.minusTitlePrefix} ${config.minChange || 1}`,
                        ariaControls: config.id
                    },
                    container: {
                        type: e,
                        classes: config.class.minusContainer
                    },
                    content: '-'
                    //sprite: 'minus'
                });
            }

            if (config.buttons.plus) {
                config.buttons.plus = _.toPlainObject(config.buttons.plus);
                const plusButtonClasses = buttonAddClasses.slice(0);
                plusButtonClasses.push(`${config.class.mixinClass}-${config.class.plus}`);
                _.defaultsDeep(config.buttons.plus, {
                    type: e,
                    tag: button,
                    classes: plusButtonClasses,
                    modifiers: [config.class.button, config.class.plus],
                    attrs: {
                        type: 'button',
                        disabled: _.ifElse(config.disableOuts && (config.disabled || (config.value >= config.max)), ''),
                        title: `${config.localData.plusTitlePrefix} ${config.minChange || 1}`,
                        ariaControls: config.id
                    },
                    container: {
                        type: e,
                        classes: config.class.plusContainer
                    },
                    content: '+'
                    //sprite: 'plus'
                });
            }
        }

        if (config.label) {
            const labelContent = _.isString(config.label) ? config.label : null;
            if (!_.isPlainObject(config.label)) {
                config.label = {};
            }
            _.defaultsDeep(config.label, {
                type: e,
                tag: label,
                classes: config.class.labelAdd,
                modifiers: config.class.label,
                content: labelContent,
                attrs: {
                    for: config.id
                }
            });
        }

        config.input = _.toPlainObject(config.input);
        _.defaultsDeep(config.input, {
            type: e,
            tag: input,
            classes: [
                config.class.inputAdd,
                `${config.class.mixinClass}-${config.class.input}`
            ],
            modifiers: config.class.input,
            attrs: {
                type: 'text',
                value: config.value,
                id: config.id,
                name: config.name,
                maxlength: config.maxlength,
                disabled: config.disabled ? '' : null,
                ariaLive: 'assertive'
            }
        });

    //-html
    +b(config)&attributes(attributes)
        if config.legend
            +b(config.legend)

        +b(config.wrapper)
            +b(config.inner)
                if config.buttons.minus
                    +b(config.buttons.minus.container)
                        +b(config.buttons.minus)
                            if config.buttons.minus.sprite
                                +sprite(config.buttons.minus.sprite)
                            != config.buttons.minus.content

                if config.label
                    +b(config.label)
                +b(config.input)

                if config.buttons.plus
                    +b(config.buttons.plus.container)
                        +b(config.buttons.plus)
                            if config.buttons.plus.sprite
                                +sprite(config.buttons.plus.sprite)
                            != config.buttons.plus.content

                if !_.isUndefined(config.content)
                    != config.content
                else
                    block

-
    /**
     * @function mixins.components#counterTranslate
     * @desc Строка с языковым контентом для модуля счётчика.
     */
mixin counterTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'counter', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.counter = ${langContent};`