@import 'main';

.card-slider{
    &-tabs{
        &__menu{
            .nav-item{
                padding: 8px 12px 0;
                @media (min-width: $media-sm){
                    padding-left: 21px;
                    padding-right: 21px;
                }
            }
            .nav-link{
                padding: 2px 0;
                color: $text-primary;
                font-family: $font-primary;
                font-size: $size-lg;
                font-weight: $weight-normal;
                @include before{
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: currentColor;
                    opacity: 0;
                    @include transition(opacity);
                }
                &::after{
                    display: none;
                }
                &:hover,
                &:focus,
                &.active{
                    color: palette(primary, light);
                }
                &.active{
                    &::before{
                        opacity: 1;
                    }
                }
            }
        }
        &-menu{
            &__list{
                margin: -8px -12px 0;
                @media (min-width: $media-sm){
                    margin-left: -21px;
                    margin-right: -21px;
                }
                &::after{
                    display: none;
                }
            }
        }
    }

    &__tabs-content{
        border-bottom: none;
    }
}