-
    const page = {
        title: 'Коммерческое предложение'
    };
include /base/templates/main.pug

include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +personalWrapper
                        +offerDetail
                            +offerDetailTable({classes: col})

            +contentBottom
        +foot