-
    const page = {
        title: 'Сравнение товаров'
    };
include /base/templates/main.pug

include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug
include /layout/compare/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +top

                        +mainContentCol
                            +compare

                    +bottom
                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

            +contentBottom
        +foot