@import 'main';

.badge{
    display: inline-block;
    min-width: $line-height-lg * 1em;
    padding: 0 $size-xs * .5;
    border-radius: $radius-primary;
    font-family: $font-primary;
    font-size: $size-xs-px;
    font-weight: $weight-bold;
    line-height: $line-height-lg;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    &:empty{
        display: none;
    }
    &:hover,
    &:focus{
        text-decoration: none;
    }
    &-pill{
        border-radius: $line-height-lg * 1em * .5;
    }

    //Цвета
    &-primary{
        color: $white;
        background-color: $color-primary;
        &:hover,
        &:focus{
            color: $white;
            background: darken($color-primary, 10%);
        }
    }
    &-secondary{
        color: $white;
        background-color: $grey;
        &:hover,
        &:focus{
            color: $white;
            background: darken($grey, 10%);
        }
    }

    &-success{
        color: $white;
        background-color: $color-success;
        &:hover,
        &:focus{
            color: $white;
            background: darken($color-success, 10%);
        }
    }

    &-danger{
        color: $white;
        background-color: $color-danger;
        &:hover,
        &:focus{
            color: $white;
            background: darken($color-danger, 10%);
        }
    }

    &-warning{
        color: $text-primary;
        background-color: $color-warning;
        &:hover,
        &:focus{
            color: $text-primary;
            background: darken($color-warning, 10%);
        }
    }

    &-info{
        color: $white;
        background-color: $color-info;
        &:hover,
        &:focus{
            color: $white;
            background: darken($color-info, 10%);
        }
    }

    &-light{
        color: $text-primary;
        background-color: $grey-lighter;
        &:hover,
        &:focus{
            color: $text-primary;
            background: darken($grey-lighter, 10%);
        }
    }

    &-dark{
        color: $white;
        background-color: $text-primary;
        &:hover,
        &:focus{
            color: $white;
            background: darken($text-primary, 10%);
        }
    }

    //Уведомление
    &-notification{
        position: absolute !important;
        top: -6px !important;
        right: -6px;
        z-index: 1;
        min-width: 0;
        padding: 0;
        @include circle(12px);
        &:empty{
            display: inline-block;
        }

        &.badge-success{
            background: palette(success, light);
        }
        &.badge-info{
            background: palette(info, light);
        }
        &.badge-warning{
            background: palette(warning, light);
        }
        &.badge-danger{
            background: palette(danger, light);
        }
    }
}