-
    /**
     * @function mixins.components#badge
     * @desc Значок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=span]
     * @param {string} [config.color='primary'] - Цветовой тип значка. Будет добавлен как `${config.class.mixinClass}-${config.color}`.
     * @param {string} [config.badgeType] - Тип значка. Будет добавлен как `${config.class.mixinClass}-${config.badgeType}`.
     * @param {string} [config.title] - Текст значка.
     * @param {string} [config.href=jv] - Ссылка значка.
     * @param {Function} [config.hrefFormat=transformUrl] - Функция для форматирования ссылки значка.
     * @param {boolean} [config.notification] - Добавлять ли класс badge-notification.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='badge'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.notification='notification'] - Модификатор класса уведомления.
     * @param {bemclasses} [config.class.notificationAdd=`${config.class.mixinClass}-${config.class.notification}`] - Дополнительные классы уведомления.
     * @example
     * +badge({
     *     color: 'success',
     *     badgeType: 'pill',
     *     notification: true,
     *     title: 'Значок',
     *     content: 'Контент значка'
     * })
     */
mixin badge(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'badge';

        _.defaultsDeep(config, {
            type: be,
            tag: span,
            attrs: {},
            color: 'primary',
            href: jv,
            hrefFormat: transformUrl,
            class: {
                mixinClass,
                notification: 'notification'
            }
        });

        const formattedHref = _.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, config.href) : config.href;

        _.defaultsDeep(config, {
            attrs: {
                title: removeHtml(config.title),
                href: _.ifElse(config.tag === a, formattedHref)
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                notificationAdd: `${config.class.mixinClass}-${config.class.notification}`
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        if (config.notification) addClasses.push(config.class.notificationAdd);
        if (config.color) addClasses.push(`${config.class.mixinClass}-${config.color}`);
        if (config.badgeType) addClasses.push(`${config.class.mixinClass}-${config.badgeType}`);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block