-
    const page = {
        title: 'Транспортировка',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top({title: 'Транспортировка №12651'})
                            +transportsDetailControls

                        +personalWrapper
                            +transportsDetail

            +contentBottom
        +foot