@import 'main';

//Элемент управления видом отображения товаров
.catalog{
    &__view{
        display: none;
        margin-left: 8px;
        margin-right: -10px;
        @media (min-width: $media-md){
            display: block;
        }
    }
    &-view{
        &__inner{
            display: flex;
        }
        &__item{
            &:not(:first-child){
                margin-left: 8px;
            }
        }
        &__link{
            display: block;
            width: $btn-height;
            height: $btn-height;
            color: $grey-light;
            line-height: $btn-height - 4;
            text-align: center;
            &:hover,
            &:focus{
                color: $color-primary;
            }
            &.active{
                color: $grey-darker;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}