-
    /**
     * @function mixins.layout#catalogView
     * @desc Ссылки переключения отображения вида товаров в каталоге.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-view'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.activeItem=page.name] - .
     * @param {string} [config.href=page.name] - .
     * @param {string} [config.titleId='catalog-view-title'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='view'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin catalogView(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'view';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            data: 'catalog-view',
            activeItem: page.name,
            href: page.name,
            titleId: 'catalog-view-title',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        if (config.titleId) {
            config.attrs.ariaLabelledby = config.titleId;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e({
                modifiers: 'title',
                classes: srOnly,
                attrs: {
                    id: config.titleId
                },
                content: 'Отображение каталога'
            })

            each viewItem in items
                if viewItem.hidden
                    - continue;
                +e.item
                    +link({
                        classes: _.ifElse(config.activeItem === viewItem.href, 'active'),
                        modifiers: viewItem.class,
                        href: viewItem.href || config.href,
                        rel: 'nofollow',
                        title: removeHtml(`Отобржать ${viewItem.title}`),
                        tabindex: _.ifElse(config.activeItem === viewItem.href, '-1')
                    })
                        +sprite(viewItem.sprite)

            block