-
    const page = {
        title: 'Карточка товара'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug
include /layout/product/template.pug

//-TODO:use array.find
-
    page.catalog = {};
    getData(page.catalog, 'catalog-menu');
    page.category = page.catalog.data.items[2];
    page.subcategory = page.category.items[0];
    page.category.link = {
        addClass: '-active'
    };
    page.subcategory.link = {
        addClass: '-active'
    };
    page.categoryTitle = page.category.content;
    page.subcategoryTitle = page.subcategory.content;

    page.product = {};
    getData(page.product, 'catalog-item', 0);

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop({
                header: {
                    catalogMenu: {
                        menu: {
                            data: page.catalog.data
                        }
                    }
                }
            })

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                ['Каталог', 'catalog-sections'],
                                [page.categoryTitle, 'catalog'],
                                [page.subcategoryTitle, 'catalog'],
                                page.product.data.title
                            ]
                        })

                        +productVertical

                    +bottom
                        //-Слайдер "Сопутствующие товары"
                        +cardSlider({
                            modifiers: 'relative',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            title: {
                                content: 'Сопутствующие товары'
                            }
                        })

                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            cardConfig: {
                                counter: {
                                    idPrefix: 'card-slider-2-counter-'
                                }
                            },
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

            +contentBottom
        +foot