@import 'main';

$module-path-media: 'Data/logo/media/';

.contacts{
    &-top{
        &__address{
            min-width: 100%;
            margin-top: $global-margin;
            @media (min-width: $media-sm){
                min-width: 0;
                margin-top: 0;
            }
        }
        &__link{
            display: inline-flex;
            align-items: center;
            color: $text-primary;
            font-weight: $weight-bold;
            svg{
                margin-right: 8px;
            }
        }
        &__text{
            display: flex;
            align-items: center;
            svg{
                margin-right: 8px;
            }
        }
    }

    &__map{
        width: 100%;
        height: 400px;
        max-height: 70vh;
        margin-top: $global-margin * 1.75;
    }
    &-map{
        &__placemark{
            position: relative;
            width: 140px;
            height: 60px;
            margin: -70px 0 0 -75px;
            background-color: #fff;
            box-shadow: $shadow-size-md rgba($shadow-color-primary, .1);
            @include after{
                left: 50%;
                bottom: -7px;
                width: 0;
                height: 0;
                transform: translateX(-50%);
                @include triangle(bottom, 7px, 7px, $white);
            }
        }
        &-placemark{
            &__image{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 110px;
                height: 28px;
                margin: -10px 0 0 -55px;
                background-image: url($module-path-media + 'logo.svg');
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }
}