include /components/map/template.pug

-
    /**
     * @function mixins.layout#contacts
     * @requires mixins.components#map
     * @desc Основной блок страницы контактов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=section]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='contacts'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin contacts(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'contacts';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +preload('contacts', true)

    +b(config)&attributes(attributes)
        +be.top
            +e({
                modifiers: 'inner',
                classes: row
            })
                +e({
                    modifiers: 'contacts',
                    classes: col
                })
                    +e.phone
                        +link({
                            href: globalConfig.phones[0],
                            hrefFormat: transformToTel
                        })
                            +sprite#phone
                            span= globalConfig.phones[0]

                    +e.email
                        +link({
                            href: globalConfig.emails[0],
                            hrefFormat: transformToEmail
                        })
                            +sprite({
                                id: 'envelope',
                                width: 18
                            })
                            span= globalConfig.emails[0]

                +e({
                    modifiers: 'address',
                    classes: col
                })
                    +e.text
                        +sprite#pin
                        span= globalConfig.addressContent

        +map({
            placemarkCoords: '55.753728559233544,37.58066050000001',
            placemarkContent: globalConfig.addressContent
        })

        block