@import 'main';

.card-slider{
    @include m(news){
        .card{
            max-width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            &-image{
                &__container{
                    justify-content: flex-start;
                }
                &__link{
                    position: relative;
                    min-width: 100%;
                    height: 170px;
                    overflow: hidden;
                    border-radius: $radius-primary;
                    background-position: center;
                    background-size: cover;
                }
                &__image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }

            &__content{
                @media (min-width: $media-sm){
                    padding: 0 $global-padding * 2;
                }
            }
            &__date{
                color: $text-secondary;
                font-size: $size-sm-px;
            }
            &__title{
                margin-top: 6px;
            }
        }
    }
}