include /components/card/template.pug

include /layout/card-slider/template.pug

-
    /**
     * @function mixins.layout#indexNewsSlider
     * @requires mixins.components#card
     * @requires mixins.layout#cardSlider
     * @desc Слайдер новостей на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin newsSlider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            modifiers: 'news',
            data: 'news',
            cardType: 'card',
            cardConfig: {
                text: false,
                href: 'articles-detail',
                image: {
                    bgImage: true
                }
            },
            dataInit: false,
            title: {
                content: 'Статьи'
            },
            button: {
                classes: false,
                attrs: {
                    href: 'articles'
                },
                content: 'Смотреть все'
            }
        });

    //-html
    +cardSlider(config)&attributes(attributes)
        block