@import 'main';

$preview-button-size: col-width-px(1.2);
$preview-col-size: $preview-button-size + $global-padding;

//Блок галереи с большим изображением и превью
.gallery{
    //Простая галерея
    &__inner{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    &__item{
        margin: 0;
        padding: 0 $global-padding;
        &::before{
            display: none;
        }
    }

    //Основной слайдер
    &__slider{
        z-index: 10;
        min-width: 100%;
    }
    &-slider{
        &__inner{
            text-align: center;
        }

        &__item{
            background: $white;
        }
        &-item{
            &__link{
                display: block;
                height: col-width-px(2);
                @media (min-width: $media-md){
                    height: col-width-px(3.25);
                }
            }
            &__inner{
                position: relative;
                display: flex;
                min-height: 100%;
                max-height: 100%;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            &__image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
                max-height: none !important;
                margin: 0;
                opacity: 0;
            }
        }

        &__nav{
            @media (min-width: $media-md){
                margin: 0;
            }
        }
        &-nav{
            &__arrow{
                @media (min-width: $media-md){
                    position: absolute;
                    top: calc(100% + #{(82px - $btn-height) * .5});
                }

                @include m(prev){
                    @media (min-width: $media-md){
                        left: 0;
                    }
                }
                @include m(next){
                    @media (min-width: $media-md){
                        right: 0;
                    }
                }
            }
        }

        &__pagination{
            @media (min-width: $media-md){
                display: none;
            }
        }
    }

    //Превью
    &__previews{
        display: none;
        min-width: 100%;
        @media (min-width: $media-md){
            display: block;
            padding-top: $global-margin;
        }
    }
    &-previews{
        &__inner{
            padding: 0 $btn-height + 10;
        }
        &__item{
            display: flex;
            align-items: center;
            height: 82px;
        }
        &-item{
            &__button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                padding: 0;
                overflow: hidden;
                @include border(transparent);
                background-position: center;
                background-size: cover;
                background-origin: border-box;
                @include transition(border-color);
                @include m(more){
                    border: none;
                }
                &:hover,
                &:focus{
                    border-color: $color-primary;
                }
                &.active{
                    border-color: palette(primary, light);
                }
            }
            &__image{
                width: 100% !important;
                height: 100% !important;
                margin: 0;
                opacity: 0;
            }
            &__more{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 4px;
                color: $white;
                font-size: $size-md;
                background: rgba($black, .55);
            }
        }
    }

    //Значки
    &__badges{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    &-badges{
        &__badge{
            padding: 0 8px;
            font-weight: $weight-bold;
            line-height: 24px;
            background: $color-primary;
            @include m(new){
                background: $color-success;
            }
            @include m(sale){
                background: $color-warning;
            }
            @include m(hit){
                background: $color-danger;
            }
        }
    }

    //Вертикальные превью
    @include m(vertical){
        @media (min-width: $media-md){
            .gallery{
                &__row{
                    flex-wrap: nowrap;
                }
                &__slider{
                    &:not(:last-child){
                        order: 1;
                        min-width: calc(100% - #{$preview-col-size});
                        max-width: calc(100% - #{$preview-col-size});
                    }
                    @include m(left){
                        order: 0;
                        .gallery-slider-nav{
                            &__arrow{
                                left: 100%;
                                right: auto;
                                margin-left: $global-gutter;
                            }
                        }
                    }
                }
                &-slider{
                    &-nav{
                        &__arrow{
                            left: auto;
                            right: 100%;
                            width: $preview-button-size;
                            height: 30px;
                            margin: 0;
                            background: rgba($color-primary, .75);
                            &:hover,
                            &:focus{
                                background: rgba($color-primary, .85);
                                .icon{
                                    color: $white;
                                }
                            }
                            &.swiper-button-disabled{
                                opacity: 0 !important;
                            }
                            @include m(prev){
                                top: 0;
                                .gallery-slider-nav__icon{
                                    transform: translateY(2px) scaleY(-1);
                                }
                            }
                            @include m(next){
                                top: auto;
                                bottom: 0;
                            }
                        }
                        &__icon{
                            height: 30px;
                            color: $grey-lighter;
                            line-height: 28px;
                            transform: none;
                            @include transition(color);
                        }
                    }
                    &-item{
                        &__link{
                            height: col-width-px(3.75);
                        }
                    }
                }
                &__previews{
                    min-width: $preview-col-size;
                    max-width: $preview-col-size;
                    padding-top: 0;
                    overflow: hidden;
                }
                &-previews{
                    &__inner{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding: 0 0 0 $global-padding;
                        @include transition(top);
                    }
                    &__item{
                        height: auto;
                        &:not(:last-child){
                            margin-bottom: $global-margin * .5;
                        }
                    }
                    &-item{
                        &__button{
                            height: $preview-button-size;
                        }
                    }
                }
            }
        }

        @media (min-width: $media-lg) and (max-width: $media-xl-max){
            .gallery{
                &__slider{
                    &:not(:last-child){
                        min-width: calc(100% - 100px);
                        max-width: calc(100% - 100px);
                    }
                }
                &-slider{
                    &-nav{
                        &__arrow{
                            width: 100px - $global-padding;
                        }
                    }
                }
                &__previews{
                    min-width: 100px;
                    max-width: 100px;
                }
                &-previews{
                    &-item{
                        &__image{
                            max-height: 100px;
                        }
                    }
                }
            }
        }
    }
}