//-TODO:maxItems change to dataSlice method
//-TODO:add data props docs

include /components/badge/template.pug
include /components/slider/template.pug
include /components/video/template.pug

-
    /**
     * @function mixins.components#gallery
     * @requires mixins.components#badge
     * @requires mixins.components#slider
     * @requires mixins.components#sliderItems
     * @requires mixins.components#sliderItem
     * @requires mixins.components#sliderNav
     * @requires mixins.components#sliderPagination
     * @desc Галерея.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {Bemoptions} [config.badgeWrapper] - .
     * @param {(Array.<Bemoptions>|Bemoptions)} [config.badge] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Bemoptions|boolean)} [config.row=true] - .
     * @param {(Bemoptions|boolean)} [config.sliderWrapper=true] - .
     * @param {(Bemoptions|boolean)} [config.slider=true] - .
     * @param {Bemoptions} [config.sliderItem] - .
     * @param {Bemoptions} [config.sliderLink] - .
     * @param {bemtag} [config.sliderLink.tag=a] - .
     * @param {Bemoptions} [config.sliderItemInner] - .
     * @param {Bemoptions} [config.image] - .
     * @param {string} [config.image.alt=''] - .
     * @param {Bemoptions} [config.videoLink] - .
     * @param {Bemoptions} [config.video] - .
     * @param {Bemoptions} [config.iframeLink] - .
     * @param {Bemoptions} [config.iframe] - .
     * @param {(Bemoptions|boolean)} [config.previews=true] - .
     * @param {(Bemoptions|boolean)} [config.previewsSlider=!config.vertical] - .
     * @param {Bemoptions} [config.previewsItem] - .
     * @param {Bemoptions} [config.previewsButton] - .
     * @param {Bemoptions} [config.previewsImage] - .
     * @param {Bemoptions} [config.previewsVideoButton] - .
     * @param {Bemoptions} [config.previewsVideoImage] - .
     * @param {Bemoptions} [config.previewsVideo] - .
     * @param {(Bemoptions|boolean)} [config.playButton=true] - .
     * @param {Bemoptions} [config.previewsIframe] - .
     * @param {Bemoptions} [config.previewsIframeImage] - .
     * @param {boolean} [config.previewsRight] - .
     * @param {boolean} [config.hashAction=true] - .
     * @param {string} [config.idPrefix='gallery'] - .
     * @param {string} [config.itemIdPrefix='-item-'] - .
     * @param {string} [config.linkIdPrefix='-link-'] - .
     * @param {number} [config.maxItems] - config.data.length.
     * @param {boolean} [config.popupGallery] - .
     * @param {boolean} [config.popupGalleryHashAction] - .
     * @param {Object} [config.dataPopupGalleryOptions] - Опции экземпляра галереи в попапе, указанные в data-атрибуте.
     * @param {boolean} [config.popupZoomGallery] - .
     * @param {boolean} [config.popupZoomGalleryHashAction] - .
     * @param {Object} [config.dataPopupZoomGalleryOptions] - Опции экземпляра галереи с масштабированием в попапе, указанные в data-атрибуте.
     * @param {boolean} [config.vertical] - .
     * @param {(Bemoptions|boolean)} [config.morePhotosButton] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='gallery'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.galleryAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.vertical='vertical'] - .
     * @param {bemclasses} [config.class.row='row'] - .
     * @param {bemclasses} [config.class.rowAdd=row] - .
     * @param {bemclasses} [config.class.slider='slider'] - .
     * @param {bemclasses} [config.class.sliderInner='inner'] - .
     * @param {bemclasses} [config.class.sliderItem='item'] - .
     * @param {bemclasses} [config.class.sliderLink='link'] - .
     * @param {bemclasses} [config.class.sliderItemInner='inner'] - .
     * @param {bemclasses} [config.class.previews='previews'] - .
     * @param {bemclasses} [config.class.previewsInner='inner'] - .
     * @param {bemclasses} [config.class.previewsItem='item'] - .
     * @param {bemclasses} [config.class.previewsButton='button'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.badges='badges'] - .
     * @param {bemclasses} [config.class.more='more'] - .
     * @param {bemclasses} [config.class.video='video'] - .
     * @param {bemclasses} [config.class.iframe='iframe'] - .
     * @param {bemclasses} [config.class.play='play'] - .
     * @param {bemclasses} [config.class.left='left'] - .
     * @example
     * +gallery({
     *     data: [
     *         {image: 'uploads/1-lg.jpg'},
     *         {image: 'uploads/2-lg.jpg'}
     *     ],
     *     dataPath: 'catalog-item',
     *     badge: {
     *         content: 'Новинка'
     *     },
     *     popupGallery: true,
     *     vertical: true,
     *     dataOptions: {
     *         slider: {
     *             pluginOptions: {autoplay: true}
     *         }
     *     },
     *     content: 'Текст под галереей'
     * })
     */
mixin gallery(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'gallery';

        const modulePath = 'components/gallery';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            attrs: {
                dataGalleryOptions: config.dataOptions || null
            },
            row: true,
            sliderWrapper: true,
            slider: true,
            previews: true,
            hashAction: true,
            idPrefix: mixinClass,
            itemIdPrefix: '-item-',
            linkIdPrefix: '-link-',
            class: {
                mixinClass,
                vertical: 'vertical',
                row: 'row',
                rowAdd: row,
                slider: 'slider',
                sliderInner: 'inner',
                sliderItem: 'item',
                sliderLink: 'link',
                sliderItemInner: 'inner',
                previews: 'previews',
                previewsInner: 'inner',
                previewsItem: 'item',
                previewsButton: 'button',
                active: 'active',
                badges: 'badges',
                more: 'more',
                video: 'video',
                iframe: 'iframe',
                play: 'play',
                left: 'left'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            if (item.image) {
                item.image = setImageProps(config.dataPath, item.image, config.imageAlt);
                item.imageLarge = item.imageLarge ? setImageProps(config.dataPath, item.imageLarge, config.imageAlt) : item.image;
            }
            item.imagePreview = item.imagePreview ? setImageProps(config.dataPath, item.imagePreview, config.imageAlt) : item.image;
        });

        _.defaultsDeep(config, {
            previewsSlider: !config.vertical,
            maxItems: items.length,
            attrs: {
                dataGallery: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                galleryAdd: config.class.mixinClass || mixinClass
            }
        });

        const blockClasses = _.castArray(config.class.block);
        if (config.vertical) blockClasses.push(config.class.vertical);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.galleryAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const sliderWrapperModifiers = [config.class.slider];
        if (config.previewsRight) sliderWrapperModifiers.push(config.class.left);

        if (config.row) {
            config.row = _.toPlainObject(config.row);
            _.defaultsDeep(config.row, {
                type: e,
                classes: config.class.rowAdd,
                modifiers: config.class.row
            });
        }

        if (config.sliderWrapper) {
            config.sliderWrapper = _.toPlainObject(config.sliderWrapper);
            _.defaultsDeep(config.sliderWrapper, {
                type: config.slider ? be : empty,
                classes: col,
                modifiers: sliderWrapperModifiers
            });
        }

        const isSlider = !!config.slider;
        config.slider = _.toPlainObject(config.slider);
        _.defaultsDeep(config.slider, {
            type: e,
            tag: isSlider ? div : ul,
            classes: isSlider ? [] : [col],
            modifiers: isSlider ? '' : config.class.sliderInner,
            attrs: {
                dataPopupGallery: config.popupGallery ? '' : null,
                dataPopupGalleryOptions: config.dataPopupGalleryOptions || null,
                dataPopupZoomGallery: config.popupZoomGallery ? '' : null,
                dataPopupZoomGalleryOptions: config.dataPopupZoomGalleryOptions || null
            },
            class: {
                block: config.class.sliderInner
            }
        });

        config.sliderItem = _.toPlainObject(config.sliderItem);
        _.defaultsDeep(config.sliderItem, {
            type: be,
            tag: isSlider ? div : li,
            modifiers: isSlider ? '' : config.class.sliderItem,
            attrs: {
                dataHashAction: config.hashAction ? 'gallery' : null
            }
        });

        let dataHashAction = null;
        if (config.popupGalleryHashAction) {
            dataHashAction = 'popupGallery';
        } else if (config.popupZoomGalleryHashAction) {
            dataHashAction = 'popupZoomGallery';
        }
        const isPopupGallery = config.popupGallery || config.popupZoomGallery;

        config.sliderLink = _.toPlainObject(config.sliderLink);
        _.defaultsDeep(config.sliderLink, {
            type: e,
            tag: a,
            modifiers: config.class.sliderLink,
            attrs: {
                title: config.popupGallery ? config.localData.itemTitle : null,
                dataHashAction,
                dataPopupGalleryItem: isPopupGallery ? '' : null
            }
        });
        _.defaults(config.sliderLink.attrs, {
            target: _.ifElse(config.sliderLink.tag === a, '_blank')
        });

        config.sliderItemInner = _.toPlainObject(config.sliderItemInner);
        _.defaultsDeep(config.sliderItemInner, {
            type: e,
            tag: span,
            modifiers: config.class.sliderItemInner,
            attrs: {}
        });

        config.image = _.toPlainObject(config.image);
        _.defaultsDeep(config.image, {
            alt: ''
        });

        config.videoLink = _.toPlainObject(config.videoLink);
        _.defaultsDeep(config.videoLink, {
            type: e,
            modifiers: config.class.sliderLink
        });

        config.video = _.toPlainObject(config.video);
        _.defaultsDeep(config.video, {
            controls: true,
            playsinline: true
        });

        config.iframeLink = _.toPlainObject(config.iframeLink);
        _.defaultsDeep(config.iframeLink, {
            type: e,
            modifiers: config.class.sliderLink
        });

        config.iframe = _.toPlainObject(config.iframe);
        _.defaultsDeep(config.iframe, {
            type: e,
            tag: iframe,
            modifiers: config.class.iframe,
            attrs: {
                allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
                allowfullscreen: ''
            }
        });

        if (config.previews) {
            config.previews = _.toPlainObject(config.previews);
            _.defaultsDeep(config.previews, {
                type: be,
                classes: col,
                modifiers: config.class.previews,
                attrs: {
                    ariaHidden: 'true'
                }
            });

            const isPreviewsSlider = !!config.previewsSlider;
            config.previewsSlider = _.toPlainObject(config.previewsSlider);
            _.defaultsDeep(config.previewsSlider, {
                type: e,
                modifiers: isPreviewsSlider ? '' : config.class.previewsInner,
                attrs: {
                    hidden: ''
                },
                class: config.class.previewsInner
            });

            config.previewsItem = _.toPlainObject(config.previewsItem);
            _.defaultsDeep(config.previewsItem, {
                type: be,
                classes: [],
                modifiers: [config.class.previewsItem]
            });

            config.previewsButton = _.toPlainObject(config.previewsButton);
            _.defaultsDeep(config.previewsButton, {
                type: e,
                tag: button,
                classes: [],
                modifiers: [config.class.previewsButton],
                attrs: {
                    type: 'button',
                    title: config.localData.previewTitle
                }
            });

            config.previewsImage = _.toPlainObject(config.previewsImage);

            config.previewsVideoButton = _.toPlainObject(config.previewsVideoButton);
            _.defaultsDeep(config.previewsVideoButton, {
                type: e,
                tag: button,
                classes: [],
                modifiers: [config.class.previewsButton, config.class.video],
                attrs: {
                    type: 'button',
                    title: config.localData.videoPreviewTitle
                }
            });

            if (config.morePhotosButton) {
                config.morePhotosButton = _.toPlainObject(config.morePhotosButton);
                _.defaultsDeep(config.morePhotosButton, {
                    type: e,
                    modifiers: config.class.more,
                    content: config.localData.morePhotosText
                });
            }

            if (config.playButton) {
                config.playButton = _.toPlainObject(config.playButton);
                _.defaultsDeep(config.playButton, {
                    type: e,
                    tag: span,
                    modifiers: config.class.play
                });
            }

            config.previewsIframe = _.toPlainObject(config.previewsIframe);
            _.defaultsDeep(config.previewsIframe, {
                type: e,
                tag: button,
                classes: [],
                modifiers: [config.class.previewsButton, config.class.iframe],
                attrs: {
                    type: 'button',
                    title: config.localData.videoPreviewTitle
                }
            });
        }

        if (config.badge) {
            config.badgeWrapper = _.toPlainObject(config.badgeWrapper);
            _.defaultsDeep(config.badgeWrapper, {
                type: be,
                modifiers: config.class.badges
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +#{config.row ? b : empty}(config.row)
            +#{config.sliderWrapper ? b : empty}(config.sliderWrapper)
                +#{isSlider ? 'slider' : b}(config.slider)
                    +#{isSlider ? 'sliderItems' : empty}
                        - let popupGalleryIndex = 0;
                        each item, index in items
                            if index < config.maxItems
                                -
                                    const slideIndex = index + 1;
                                    const sliderItemConfig = _.defaultsDeep({}, config.sliderItem, {
                                        attrs: {
                                            id: config.idPrefix + config.itemIdPrefix + slideIndex
                                        }
                                    });
                                +#{isSlider ? 'sliderItem' : b}(sliderItemConfig)
                                    if item.image
                                        -
                                            const sliderLinkConfig = _.defaultsDeep({}, config.sliderLink, {
                                                attrs: {
                                                    href: item.imageLarge.src,
                                                    id: item.id || (config.idPrefix + config.linkIdPrefix + slideIndex),
                                                    dataGalleryIndex: index,
                                                    dataPopupGalleryIndex: isPopupGallery ? popupGalleryIndex : null
                                                }
                                            });
                                        +b(sliderLinkConfig)
                                            -
                                                const sliderItemInnerConfig = _.defaultsDeep({}, config.sliderItemInner, {
                                                    attrs: {
                                                        style: `background-image: url('${item.image.src}')`
                                                    }
                                                });
                                            +b(sliderItemInnerConfig)
                                                -
                                                    const imageConfig = _.defaultsDeep({}, config.image, {
                                                        src: item.image.src,
                                                        alt: item.image.alt
                                                    });
                                                +image(imageConfig)

                                    else if item.video
                                        +b(config.videoLink)
                                            -
                                                const videoConfig = _.defaultsDeep({}, config.video, {
                                                    src: transformInlineSrc(`~${config.dataPath}/${item.video}`),
                                                    poster: item.imagePreview ? transformInlineSrc(`~${config.dataPath}/${item.imagePreview}`) : null
                                                });
                                            +video(videoConfig)

                                    else if item.iframe
                                        +b(config.iframeLink)
                                            -
                                                const iframeConfig = _.defaultsDeep({}, config.iframe, {
                                                    attrs: {
                                                        src: item.iframe
                                                    }
                                                });
                                            +b(iframeConfig)

                            -
                                if (item.image) {
                                    popupGalleryIndex += 1;
                                }

                if isSlider
                    +sliderNav
                        +sliderPagination({depth: 2})

            if config.previews
                +b(config.previews)
                    +#{isPreviewsSlider ? 'slider' : b}(config.previewsSlider)
                        +#{isPreviewsSlider ? 'sliderItems' : empty}
                            - let previewsPopupGalleryIndex = 0;
                            each item, index in items
                                if index < config.maxItems
                                    +#{isPreviewsSlider ? 'sliderItem' : b}(config.previewsItem)
                                        - const morePhotosButton = config.morePhotosButton && (index === (items.length - 1));
                                        if item.image
                                            -
                                                const buttonConfig = _.defaultsDeep({}, config.previewsButton, {
                                                    classes: config.previewsButton.classes.concat([_.ifElse(index === 0, config.class.active, '')]),
                                                    modifiers: config.previewsButton.modifiers.concat([morePhotosButton ? config.class.more : '']),
                                                    attrs: {
                                                        style: `background-image: url('${item.imagePreview.src}')`,
                                                        dataGalleryIndex: index,
                                                        dataPopupGalleryIndex: config.popupGallery ? previewsPopupGalleryIndex : null
                                                    }
                                                });
                                            +b(buttonConfig)
                                                -
                                                    const imageConfig = _.defaultsDeep({}, config.previewsImage, {
                                                        src: item.imagePreview.src,
                                                        alt: item.imagePreview.alt
                                                    });
                                                +image(imageConfig)
                                                if morePhotosButton
                                                    +b(config.morePhotosButton)

                                        else if item.video
                                            -
                                                const videoButtonConfig = _.defaultsDeep({}, config.previewsVideoButton, {
                                                    classes: config.previewsItem.classes.concat([_.ifElse(index === 0, config.class.active, '')]),
                                                    attrs: {
                                                        style: item.imagePreview ? `background-image: url('${item.imagePreview.src}')` : null,
                                                        dataGalleryIndex: index
                                                    }
                                                });
                                            +b(videoButtonConfig)
                                                if item.imagePreview
                                                    -
                                                        const videoImageConfig = _.defaultsDeep({}, config.previewsVideoImage, {
                                                            src: item.imagePreview.src,
                                                            alt: item.imagePreview.alt
                                                        });
                                                    +image(videoImageConfig)
                                                else
                                                    -
                                                        const previewsVideoConfig = _.defaultsDeep({}, config.previewsVideo, {
                                                            src: transformInlineSrc(`~${config.dataPath}/${item.video}`)
                                                        });
                                                    +video(previewsVideoConfig)
                                                if config.playButton
                                                    +b(config.playButton)

                                        else if item.iframe
                                            -
                                                const previewsIframeConfig = _.defaultsDeep({}, config.previewsIframe, {
                                                    classes: config.previewsIframe.classes.concat([_.ifElse(index === 0, config.class.active, '')]),
                                                    attrs: {
                                                        style: `background-image: url('${item.imagePreview.src}')`,
                                                        dataGalleryIndex: index
                                                    }
                                                });
                                            +b(previewsIframeConfig)
                                                if item.imagePreview
                                                    -
                                                        const iframeImageConfig = _.defaultsDeep({}, config.previewsIframeImage, {
                                                            src: item.imagePreview.src,
                                                            alt: item.imagePreview.alt
                                                        });
                                                    +image(iframeImageConfig)
                                                    if config.playButton
                                                        +b(config.playButton)

                                -
                                    if (item.image) {
                                        previewsPopupGalleryIndex += 1;
                                    }

            if !_.isUndefined(config.content)
                != config.content
            else
                block

        if config.badge
            +b(config.badgeWrapper)
                if Array.isArray(config.badge)
                    each badgeConfig in config.badge
                        +badge(badgeConfig)
                else
                    +badge(config.badge)