include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug

-
    /**
     * @function mixins.layout#indexSliderTabs
     * @requires mixins.layout#cardSlider
     * @requires mixins.layout#catalogItem
     * @desc Вкладки со слайдерами карточек на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemmodifiers} [config.modifiers='tabs'] - .
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.cardType='catalogItem'] - .
     * @param {Object} [config.tabs={}] - .
     * @param {Data} [config.tabs.data='index-tabs'] - .
     */
mixin indexSliderTabs(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            modifiers: 'tabs',
            data: 'catalog-item',
            cardType: 'catalogItem',
            cardConfig: {
                counter: {
                    idPrefix: 'tabs-card-slider-counter-'
                }
            },
            tabs: {
                data: 'index-tabs'
            }
        });

    //-html
    +cardSlider(config)&attributes(attributes)
        block