@import 'main';

.page-transports-new{
    .main-content__inner{
        @include before{
            top: 0;
            left: 50%;
            background: linear-gradient(to right, rgba($grey-lightest, .5), $white 72px);
            @media (min-width: $media-lg){
                width: 50%;
                height: 100%;
                @include border-left($grey-lightest);
            }
        }
    }
}

.main-content-inner__col > .personal{
    .transports-new{
        margin-top: $global-margin * 1.5;
        &__fields{
            @media (min-width: $media-lg){
                margin-top: 0;
            }
        }
        &__orders{
            @media (min-width: $media-lg){
                margin-top: -28px;
            }
        }
    }
}

.transports-new{
    @media (min-width: $media-lg){
        margin-top: 0 !important;
    }
    &__fields,
    &__orders{
        @media (min-width: $media-lg){
            order: 0;
            min-width: col-width(6);
            max-width: col-width(6);
        }
    }
    &__fields{
        order: 2;
        min-width: 100%;
        margin-top: $global-margin;
        @media (min-width: $media-lg){
            margin-top: -28px;
            padding-right: $global-padding * 3.5;
        }
    }
    &-fields{
        &__col{
            @include m(submit){
                min-width: 100%;
            }
        }
        &__title{
            color: $grey-darker;
            font-size: $size-ml-px;
            font-weight: $weight-semibold;
        }
        &__form-groups{
            @include m(table){
                margin: 0 (-$container-padding);
                @include border;
                @media (min-width: $media-sm){
                    margin: 0;
                    border-radius: $radius-primary;
                }
                .transports-new-fields{
                    &__form-group{
                        margin-top: 0;
                        &:first-child{
                            .transports-new-fields-form-check__content{
                                border-top-left-radius: $radius-primary;
                                border-top-right-radius: $radius-primary;
                            }
                        }
                        &:last-child{
                            .transports-new-fields-form-check__content{
                                border-bottom-left-radius: $radius-primary;
                                border-bottom-right-radius: $radius-primary;
                            }
                        }
                        &:not(:first-child){
                            @include border-top($grey-lightest);
                        }
                    }
                }
            }
        }
        &__form-group{
            margin-top: $global-margin * 2;
            @include m(delivery){
                margin-top: $global-margin;
            }
            .transports-new-fields__form-groups{
                @include m(table){
                    margin-top: $global-margin * .5;
                }
            }
        }
        &__form-check{
            @include m(cell){
                .transports-new-fields-form-check{
                    &__input{
                        &:checked{
                            ~ .transports-new-fields-form-check__content{
                                color: $white;
                                background: $color-primary;
                                &::before{
                                    background: $white;
                                }
                            }
                        }
                    }
                    &__content{
                        padding: 12px $global-padding 12px 28px + $global-padding;
                        @include transition(background color);
                        &::before{
                            top: 12px;
                            left: $global-padding;
                        }
                        &::after{
                            top: 12px + 5;
                            left: $global-padding + 5;
                            border-color: $color-primary;
                        }
                    }
                    &__wrapper{
                        display: flex;
                    }
                    &__title{
                        min-width: col-width(8.5);
                        max-width: col-width(8.5);
                        padding-right: $global-padding;
                    }
                    &__info{
                        min-width: col-width(3.5);
                        max-width: col-width(3.5);
                    }
                    &__price{
                        display: block;
                    }
                    &__comment{
                        font-size: $size-sm-px;
                    }
                }
            }
        }
        &__label{
            white-space: nowrap;
        }
        &__input{
            @include m(textarea){
                min-height: $input-height * 2;
            }
        }
        &__datepicker-button{
            position: absolute;
            top: 0;
            right: 0;
        }
        &__button{
            min-width: 100%;
            margin-top: $global-margin * 1.5;
        }
        &__sum{
            margin-top: $global-margin;
            color: $grey-darker;
            font-size: px-rem(20);
            font-weight: $weight-semibold;
            white-space: nowrap;
        }
        &__orders{
            display: flex;
            flex-wrap: wrap;
            margin: $global-margin -7px 0;
        }
        &-orders{
            &__item{
                margin: 14px 7px 0;
            }
            &__link{
                font-size: px-rem(15);
                white-space: nowrap;
            }
            &__icon{
                position: relative;
                top: -1px;
                display: inline-block;
                margin-right: 6px;
                color: palette(success, light);
            }
        }
    }

    &__orders{
        @media (min-width: $media-lg){
            padding-left: $global-padding * 3.5;
        }
        .search{
            label{
                &.is-invalid{
                    @include sr-only;
                }
            }
            &__input-group{
                position: relative;
            }
            &__label{
                display: block;
                margin: 0;
            }
            &__button{
                @include m(submit){
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 0;
                    border: none;
                    color: $text-primary;
                    line-height: 1;
                    background: none;
                    box-shadow: none !important;
                    &:hover,
                    &:focus{
                        color: $grey-darker;
                    }
                }
            }
        }
    }
    &-orders{
        &__title{
            position: relative;
            z-index: 1;
            margin: 0;
            @media (max-width: $media-lg-max){
                @include sr-only;
            }
        }
        &__toggle{
            margin: 0 (-$container-padding);
            @include border($border-secondary);
            border-left: none;
            border-right: none;
            @media (min-width: $media-md){
                margin: 0;
            }
            @media (min-width: $media-lg){
                border: none;
            }
        }
        &-toggle{
            &__button{
                display: flex;
                align-items: center;
                min-width: 100%;
                margin-top: 0;
                border-radius: 0;
                font-size: $size-md-px;
                text-align: left;
                text-transform: none;
                &:hover,
                &:focus{
                    box-shadow: none !important;
                }
                &.active{
                    .transports-new-orders-toggle__icon:last-child{
                        transform: scaleY(-1) translateY(-1px);
                    }
                }
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &__icon{
                display: inline-block;
                &:first-child{
                    position: relative;
                    top: -1px;
                    margin-right: 7px;
                }
                &:last-child{
                    margin-left: auto;
                    @include transition(transform);
                }
            }
            &__content{
                @media (min-width: $media-lg){
                    display: block !important;
                    height: auto !important;
                }
            }
        }
        &__search{
            padding: 0 $container-padding;
            @media (min-width: $media-md){
                padding: 0;
            }
        }
        &__results{
            margin-top: $global-margin;
        }
        &__item{
            display: flex;
            padding: $global-margin $container-padding;
            @include border-bottom($border-secondary);
            &:hover,
            &:focus{
                .transports-new-orders-button__icon{
                    @include m(default){
                        @media (min-width: $media-lg){
                            opacity: 0;
                        }
                    }
                    @include m(hover){
                        @media (min-width: $media-lg){
                            opacity: 1;
                        }
                    }
                }
            }
            @media (min-width: $media-md){
                padding: $global-margin * 1.5 0;
            }
            @at-root .touch .transports-new-orders__item{
                @media (min-width: $media-lg){
                    align-items: center;
                }
                &.active{
                    .transports-new-orders__remove{
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
        }
        &__info{
            min-width: calc(100% - #{$btn-height});
            max-width: calc(100% - #{$btn-height});
            padding-right: $global-gutter;
            @media (min-width: $media-md){
                display: flex;
            }
            @media (min-width: $media-lg){
                min-width: calc(100% - #{$btn-height});
                max-width: calc(100% - #{$btn-height});
            }
        }
        &__left,
        &__right{
            @media (min-width: $media-md){
                flex: 1 0 col-width(6);
            }
        }
        &__left{
            @media (min-width: $media-md){
                padding-right: $global-padding;
            }
        }
        &__right{
            margin-top: $global-margin;
            font-weight: $weight-semibold;
            @media (min-width: $media-md){
                margin-top: 0;
                padding-left: $global-padding;
            }
        }
        &__link{
            font-size: $size-lg;
            white-space: nowrap;
        }
        &__icon{
            position: relative;
            top: -1px;
            display: inline-block;
            margin-right: 10px;
        }
        &__date{
            font-size: $size-md-px;
        }
        &__sum,
        &__products{
            white-space: nowrap;
        }
        &__actions{
            position: relative;
        }
        &__add{
            position: relative;
            @media (min-width: $media-md){
                top: -$global-margin * .5;
                height: $btn-height;
            }
            @media (min-width: $media-lg){
                top: 0;
            }
            .transports-new-orders__button{
                @include m(active){
                    .transports-new-orders-button__icon{
                        @include m(hover){
                            line-height: 24px;
                        }
                    }
                }
            }
            @at-root .touch{
                .transports-new-orders__add{
                    position: relative;
                    @media (min-width: $media-lg){
                        top: -$global-margin * .5;
                    }
                    .transports-new-orders__button{
                        @include m(active){
                            pointer-events: none;
                        }
                    }
                }
            }
        }
        &__button{
            width: $btn-height;
            height: $btn-height;
            padding: 0;
            border: none;
            background: none;
            &:hover,
            &:focus{
                .transports-new-orders-button__icon{
                    @include m(default){
                        opacity: 0;
                    }
                    @include m(hover){
                        opacity: 1;
                    }
                }
            }
            @include m(default){
                .transports-new-orders-button__icon{
                    @include m(default){
                        background: $grey-lightest;
                    }
                    @include m(hover){
                        background: palette(warning, bg);
                    }
                }
            }
            @include m(active){
                .transports-new-orders-button__icon{
                    @include m(default){
                        color: palette(success, light);
                        svg{
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    @include m(hover){
                        @include border(currentColor, 3px);
                        color: $color-danger;
                    }
                }
            }
        }
        &-button{
            &__icon{
                position: absolute;
                top: 50%;
                left: 50%;
                color: $grey-darker;
                line-height: 32px - 4;
                transform: translate(-50%, -50%);
                @include transition(opacity);
                @include circle(32px);
                @include m(hover){
                    opacity: 0;
                }
            }
            &__close{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 32px;
                height: 32px;
                color: currentColor;
                opacity: 1 !important;
                transform: translate(-50%, -50%);
            }
        }
        &__remove{
            position: absolute;
            bottom: 2px;
            right: 0;
            opacity: 0;
            pointer-events: none;
            @include transition(opacity);
            @media (min-width: $media-md){
                bottom: -3px;
            }
            @media (min-width: $media-lg){
                bottom: 0;
            }
        }
        &-remove{
            &__button{
                padding: 0;
                border: none;
                color: $color-danger;
                white-space: nowrap;
                background: none;
                @include transition(color);
                &:hover,
                &:focus{
                    color: palette(danger, dark);
                }
            }
            &__close{
                width: 16px;
                height: 16px;
                color: currentColor;
                vertical-align: middle;
                opacity: 1 !important;
            }
            &__text{
                display: inline-block;
                margin-left: 7px;
                font-size: 12px;
                font-weight: 400;
                text-transform: none;
                vertical-align: middle;
            }
        }
        &__bottom{
            margin-top: $global-margin * 2;
            padding-bottom: $global-margin * 2;
            @media (min-width: $media-lg){
                margin-top: $global-margin * 4;
            }
        }
        &-bottom{
            &__message{
                color: $text-secondary;
                font-size: px-rem(15);
                text-align: center;
            }
            &__icon{
                margin-bottom: $global-margin * .75;
                color: $grey-lighter;
            }
        }
    }
}