include /components/collapse/template.pug
include /components/datepicker/template.pug
include /components/float-label/template.pug
include /components/money/template.pug

include /layout/order-steps/template.pug
include /layout/search-form/template.pug

-
    /**
     * @function mixins.layout#transportsNew
     * @requires mixins.components#collapse
     * @requires mixins.components#collapseButton
     * @requires mixins.components#collapseContent
     * @requires mixins.components#datepickerButton
     * @requires mixins.components#floatLabel
     * @requires mixins.components#money
     * @requires mixins.layout#orderStepsDelivery
     * @requires mixins.layout#searchForm
     * @desc Страница новой транспортировки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='transports'] - .
     * @param {Data} [config.dataIndex=0] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='transports-new'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin transportsNew(config)
    -
        config = _.toPlainObject(config)
        classesSetup(config)
        const mixinClass = 'transports-new'

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'transports',
            dataIndex: 0,
            class: {
                mixinClass
            }
        })

        let data = {}
        if (config.data) {
            getData(config, config.data, config.dataIndex)
            data = config.data
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        })
        setBlockClass(attributes, config.class.block)

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                +be({
                    modifiers: 'fields',
                    classes: col
                })
                    //-Город
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-city',
                                    content: 'Город'
                                })

                                +e.input-container
                                    +input({
                                        formControl: true,
                                        id: 'transports-new-city',
                                        name: 'CITY',
                                        value: 'Россия, Москва'
                                    })

                    //-Адрес
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-address',
                                    content: 'Адрес доставки'
                                })

                                +e.input-container
                                    +input({
                                        formControl: true,
                                        id: 'transports-new-address',
                                        name: 'ADDRESS',
                                        value: 'Москва, ул. Орджоникидзе 11/11'
                                    })

                    //-Дата и ФИО
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-date',
                                    content: 'Дата доставки'
                                })

                                +e.input-container
                                    -
                                        const currentDate = new Date()
                                        const year = currentDate.getFullYear()
                                        let month = currentDate.getMonth() + 1
                                        if (month < 10) {
                                            month = `0${month}`
                                        }
                                        let day = currentDate.getDate()
                                        if (day < 10) {
                                            day = `0${day}`
                                        }
                                    +input({
                                        formControl: true,
                                        id: 'transports-new-date',
                                        name: 'DATE',
                                        value: `${day}.${month}.${year}`,
                                        attrs: {
                                            dataDate: ''
                                        }
                                    })

                                    +datepickerButton

                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-fio',
                                    content: 'Контактное лицо (ФИО)'
                                })

                                +e.input-container
                                    +input({
                                        formControl: true,
                                        id: 'transports-new-fio',
                                        name: 'FIO',
                                        value: 'Константин Константинович Константинопольский'
                                    })

                    //-Доставка
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +formGroup.delivery
                                +e.title Доставка

                                +orderStepsDelivery({
                                    type: empty,
                                    title: false,
                                    class: {
                                        root: 'transports-new-fields'
                                    }
                                })

                    //-Телефон и email
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-phone',
                                    content: 'Телефон'
                                })

                                +e.input-container
                                    +input({
                                        formControl: true,
                                        inputType: 'tel',
                                        id: 'transports-new-phone',
                                        name: 'PHONE',
                                        value: '8 (800) 847 - 24 - 16'
                                    })

                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-email',
                                    content: 'Email'
                                })

                                +e.input-container
                                    +input({
                                        formControl: true,
                                        inputType: 'email',
                                        id: 'transports-new-email',
                                        name: 'EMAIL',
                                        value: 'user@company.ru'
                                    })

                    //-Комментарий
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +floatLabel
                                +label({
                                    for: 'transports-new-comment',
                                    content: 'Комментарий'
                                })

                                +e.input-container
                                    +input({
                                        tag: textarea,
                                        modifiers: 'textarea',
                                        formControl: true,
                                        id: 'transports-new-comment',
                                        name: 'COMMENT',
                                        content: 'Всё тоже самое, но только детальней рассказать про заказы (номер, дата заказа, кол-во позиций в заказе, сумма заказа)'
                                    })

                    //-Заказы
                    +e({
                        modifiers: 'row',
                        classes: row
                    })
                        +e({
                            modifiers: 'col',
                            classes: col
                        })
                            +be.orders
                                each item in data.orders
                                    +e.item
                                        +link({href: 'orders-detail'})
                                            +e({
                                                tag: span,
                                                modifiers: 'icon'
                                            })
                                                +sprite({
                                                    id: 'check-circle',
                                                    width: 20
                                                })
                                            +e({
                                                tag: span,
                                                modifiers: 'text',
                                                content: `Заказ №${item}`
                                            })

                    //-Отправка
                    +e({
                        modifiers: ['row', 'submit'],
                        classes: row
                    })
                        +e({
                            modifiers: ['col', 'submit'],
                            classes: col
                        })
                            +button({
                                buttonType: 'submit',
                                color: 'primary',
                                size: 'lg',
                                content: 'Создать транспортировку'
                            })

                        +e({
                            modifiers: ['col', 'sum'],
                            classes: col
                        })
                            +e({
                                modifiers: 'sum',
                                content: `Стоимость: ${money.formatPrice(1180000)}`
                            })

                +be({
                    tag: section,
                    modifiers: 'orders',
                    classes: col
                })
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Добавить заказы'
                    })

                    +collapse({
                        button: false,
                        contentBlock: false
                    })
                        +collapseButton({
                            id: 'transports-new-orders',
                            content: 'Добавить заказы',
                            prevIcon: {
                                sprite: 'plus'
                            },
                            icon: {
                                sprite: {
                                    id: 'arrow',
                                    width: 10
                                }
                            },
                            class: {
                                addClass: ['btn', 'btn-white', 'btn-lg']
                            }
                        })

                        +collapseContent({id: 'transports-new-orders'})
                            +r('transports-new-orders')
                                +e.search
                                    +searchForm({
                                        id: 'transports-new-search',
                                        labelSprite: false,
                                        placeholder: 'Введите номер заказа',
                                        inputGroup: {
                                            classes: ''
                                        },
                                        input: {
                                            size: 'lg'
                                        },
                                        popover: false
                                    })

                                +e.results
                                    +e.items
                                        each item, index in data.orders
                                            +e({
                                                modifiers: 'item',
                                                classes: (index === 0) ? 'active' : ''
                                            })
                                                +e.info
                                                    +e.left
                                                        +link({href: 'orders-detail'})
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'icon'
                                                            })
                                                                +sprite#link-square
                                                            = `Заказ №${item}`
                                                        +e.date Дата заказа: 04.03.2018

                                                    +e.right
                                                        +e.products Товаров: 1 254
                                                        +e.sum!= `Сумма: ${money.formatPrice(1180000)}`

                                                +e.actions
                                                    +e({
                                                        modifiers: 'add',
                                                        attrs: {
                                                            dataStateToggler: (index === 0) ? 'active' : ''
                                                        }
                                                    })
                                                        +button({
                                                            type: be,
                                                            modifiers: 'default',
                                                            title: 'Добавить заказ в транспортировку',
                                                            attrs: {
                                                                dataState: 'default'
                                                            }
                                                        })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['icon', 'default']
                                                            })
                                                                +sprite({
                                                                    id: 'plus',
                                                                    width: 15
                                                                })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['icon', 'hover']
                                                            })
                                                                +sprite({
                                                                    id: 'plus',
                                                                    width: 15
                                                                })

                                                        +button({
                                                            type: be,
                                                            modifiers: 'active',
                                                            title: 'Удалить заказ из транспортировки',
                                                            attrs: {
                                                                dataState: 'active'
                                                            }
                                                        })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['icon', 'default']
                                                            })
                                                                +sprite({
                                                                    id: 'check-circle',
                                                                    width: 32
                                                                })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['icon', 'hover']
                                                            })
                                                                +sprite({
                                                                    id: 'trash',
                                                                    width: 15
                                                                })

                                                    +be.remove
                                                        +button({title: 'Удалить заказ из транспортировки'})
                                                            +sprite#trash
                                                            +e({
                                                                tag: span,
                                                                modifiers: 'text',
                                                                content: 'Удалить'
                                                            })

                                +be.bottom
                                    +e.message
                                        +e.icon
                                            +sprite({
                                                id: 'info-circle',
                                                width: 26
                                            })
                                        | Обратитесь к персональному#[br]менеджеру, если вашего#[br]заказа нет в списке

            block