@import 'main';

.top__controls{
    @include m(kanban){
        @media (min-width: $media-sm){
            min-width: 100%;
            margin-top: $global-margin;
        }
        @media (min-width: $media-lg){
            min-width: 0;
        }

        .top-controls{
            &__item{
                @media (min-width: $media-sm){
                    max-width: col-width-px(2.5);
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .kanban{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.kanban{
    margin: 0 (-$container-padding);
    @media (min-width: $media-md){
        margin: 0 (-$global-padding * 3.5);
    }
    .table-responsive{
        margin-top: 0;
        padding-top: 43px;
        cursor: grab;
    }

    &__table{
        position: relative;
    }
    &-table{
        &__table{
            min-width: 100%;
            margin-top: 0;
            @include border-bottom($border-secondary);
            table-layout: fixed;
        }
        &__thead{
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            @include border-bottom($border-secondary);
            background: $white;
            @include transition(box-shadow);
            &.position-fixed{
                box-shadow: $shadow-md;
            }
            .kanban-table{
                &__row{
                    position: relative;
                    display: flex;
                    min-width: 100%;
                }
            }
        }
        &__header-cell,
        &__cell{
            padding: $global-margin * .75 $container-padding;
            @include border-top($border-secondary);
            &:not(:last-child){
                @include border-right($border-secondary);
            }
        }
        &__header-cell{
            font-size: $size-md-px;
            font-weight: $weight-normal;
            text-align: center;
            text-transform: uppercase;
            user-select: none;
        }
        &__cell{
            position: relative;
            min-width: col-width-px(2);
            max-width: col-width-px(2);
            padding: $global-margin $container-padding $global-margin * 1.5;
            vertical-align: top;
            user-select: none;
            @media (min-width: $media-md){
                min-width: ceil(987px * .25) - 7;
                max-width: ceil(987px * .25) - 7;
                padding-left: $global-padding * 1.5;
                padding-right: $global-padding * 1.5;
            }
        }
        &__item{
            @include m(reserve){
                .kanban-table{
                    &__date{
                        background: palette(warning, bg);
                    }
                }
            }
            @include m(reserve-expired){
                .kanban-table{
                    &__date{
                        color: $white;
                        background: $color-danger;
                    }
                    &__reserve-status{
                        color: $color-danger;
                    }
                }
            }
        }
        &__top{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @if map-get($global-settings, manager){
                .avatar{
                    display: block;
                    &__inner{
                        width: 28px;
                        height: 28px;
                    }
                    &__text{
                        font-size: $size-sm-px;
                    }
                }
            }
        }
        &-top{
            &__left{
                display: flex;
                align-items: center;
                margin-bottom: $global-margin * .5;
            }
            &__bottom{
                min-width: 100%;
                height: 30px;
                margin-top: 3px;
            }
        }
        &__date{
            padding: 1px 10px 2px;
            border-top-left-radius: $radius-primary;
            border-bottom-right-radius: $radius-primary;
            font-size: $size-sm-px;
            background: palette(info, bg);
        }
        &__icon{
            margin: -1px 0 0 10px;
            color: $color-danger;
            line-height: 0;
        }
        &__reserve-status{
            font-size: $size-sm-px;
        }
        &__link{
            color: $grey-darker;
            font-size: $size-primary-px;
            font-weight: $weight-semibold;
            text-decoration: none;
            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }
        &__price{
            font-size: $size-md-px;
        }
        &__bottom{
            display: flex;
            justify-content: space-between;
            margin-top: $global-margin * 1.5;
        }
        &__company{
            padding-right: $global-padding - 5;
            font-size: $size-sl-px;
            line-height: $line-height-md;
        }
        &__actions{
            position: relative;
            left: 5px;
            min-width: $btn-height;
            max-width: $btn-height;
            margin-top: -11px;
        }
        &-actions{
            &__button{
                width: $btn-height;
                height: $btn-height;
                padding: 0;
                overflow: hidden;
                border: none;
                color: $grey-light;
                background: none;
                @include transition(color);
                &:hover,
                &:focus,
                &.active{
                    color: $color-primary;
                }
            }
            &__dots{
                display: flex;
                justify-content: space-between;
                width: 24px;
                margin: -18px auto 0;
                font-size: rem-px(36px);
                line-height: $btn-height;
                letter-spacing: -1px;
                &::before,
                &::after{
                    content: '.';
                }
            }
            &__popover{
                display: none;
            }
            &__items{
                padding: $global-margin * .5 $global-padding;
            }
            &__item{
                &:not(:first-child){
                    @include border-top(rgba($white, .1));
                }
                &:not(:last-child){
                    @include border-bottom(rgba($black, .1));
                }
            }
            &__link{
                display: block;
                padding: 7px 10px;
                color: $white;
                font-size: $size-sm-px;
                font-weight: $weight-semibold;
                text-decoration: none !important;
                &:focus,
                &:hover{
                    color: rgba($white, .7);
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, light);
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                margin-right: 9px;
                text-decoration: none !important;
            }
            @at-root .popover{
                @include m(kanban-actions){
                    margin-top: -16px !important;
                    padding: 0;
                    background: palette(primary, light);
                    .popover-arrow{
                        display: none;
                    }
                    .popover-header{
                        @include sr-only;
                    }
                    .popover-body{
                        padding: 0;
                    }
                    .kanban-table-actions__popover{
                        display: block;
                    }
                }
            }
        }
        &__empty{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}