include /components/money/template.pug
include /components/table/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#kanbanControls
     * @requires mixins.layout#personalControls
     * @desc Верхний блок управления на странице "Канбан заказов".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Array.<string>} [config.controls=['reset', 'managers', 'date']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.kanbanModifier='kanban'] - .
     */
mixin kanbanControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'kanban';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            controls: [
                'reset',
                'managers',
                'date'
            ],
            class: {
                kanbanModifier: mixinClass
            }
        });

        if (config.class.kanbanModifier) {
            setBlockClass(attributes, config.class.kanbanModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#kanban
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Страница канбана заказов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='orders'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.maxStatuses] - .
     * @param {number} [config.rowsNum=3] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='kanban'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin kanban(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'kanban';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'orders',
            rowsNum: 3,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const statuses = config.data.status;
        if (!config.maxStatuses) {
            config.maxStatuses = Object.keys(statuses).length;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +be.table
                +table({
                    dataTable: 'false',
                    tableClass: false
                })
                    +tableHead({dataTableHeader: true})
                        +tableRow
                            - let statusNum = 0;
                            each item, key in statuses
                                if statusNum < config.maxStatuses
                                    +tableCell({
                                        header: true,
                                        modifiers: key,
                                        content: item
                                    })
                                    - statusNum += 1;

                    +tableBody
                        - let itemNum = 0;
                        each item, currentNum in [...Array(config.rowsNum)]
                            +tableRow
                                - let statusNum = 0;
                                each statusItem, key in statuses
                                    if statusNum < config.maxStatuses
                                        -
                                            const currentItem = items[itemNum];
                                            const itemClasses = ['item'];
                                            const isReserve = (currentItem.status === 'reserve') && (key !== 'paid');
                                            const isReserveExpired = isReserve && currentItem.reserveExpired;
                                            if (isReserve) itemClasses.push('reserve');
                                            if (isReserveExpired) itemClasses.push('reserve-expired');
                                        +tableCell
                                            +e({modifiers: itemClasses})
                                                if (itemNum === 2) && (currentNum === 0)
                                                    +e.empty —
                                                else
                                                    +be.top
                                                        +e.left
                                                            +e({
                                                                depth: 2,
                                                                modifiers: 'date',
                                                                content: currentItem.date
                                                            })
                                                            if isReserveExpired
                                                                +e({
                                                                    depth: 2,
                                                                    modifiers: 'icon'
                                                                })
                                                                    +sprite({
                                                                        id: 'warning-circle',
                                                                        width: 18
                                                                    })

                                                        +e.right
                                                            if globalConfig.settings.manager
                                                                +avatar({
                                                                    depth: 2,
                                                                    dataIndex: ((itemNum === 1) && (currentNum === 0)) ? 2 : 0
                                                                })

                                                        +e.bottom
                                                            if isReserve
                                                                +e({
                                                                    depth: 2,
                                                                    modifiers: 'reserve-status',
                                                                    content: `Снятие резерва: ${currentItem.reserveDate}`
                                                                })

                                                    +e.title
                                                        +link({
                                                            href: 'orders-detail',
                                                            content: currentItem.title
                                                        })

                                                    +e({
                                                        modifiers: 'price',
                                                        content: money.formatPrice(currentItem.sum)
                                                    })

                                                    +e.bottom
                                                        +e.company
                                                            if itemNum === 0
                                                                | ЗАО «Московский центр подготовки специалистов водного транспорта»
                                                            else
                                                                | ООО «ИнвестПромСервис»

                                                        +be.actions
                                                            +button({title: 'Показать действия'})
                                                                +e({
                                                                    tag: span,
                                                                    modifiers: 'dots',
                                                                    content: '.'
                                                                })
                                                            +e.popover
                                                                +e.items
                                                                    each actionItem in config.data.actions
                                                                        +e.item
                                                                            +link({modifiers: actionItem.class})
                                                                                +e({
                                                                                    tag: span,
                                                                                    modifiers: 'icon'
                                                                                })
                                                                                    +sprite(actionItem.sprite)
                                                                                +e({
                                                                                    tag: span,
                                                                                    modifiers: 'text',
                                                                                    content: actionItem.content
                                                                                })
                                        -
                                            statusNum += 1;
                                            itemNum = (itemNum < (items.length - 1)) ? (itemNum + 1) : 0;

            block