@import 'main';

.header{
    .header{
        &-main-menu{
            &__container{
                @include m(level2){
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                    min-width: calc(100% + #{$global-gutter * 2});
                    border-radius: $radius-primary;
                    box-shadow: $shadow-md;
                    opacity: 0;
                    transform: translateY(-$translate-size-primary) translateX(-50%);
                    @include transition(opacity transform);
                    @include before{
                        top: -7px;
                        left: 50%;
                        z-index: -1;
                        width: 14px;
                        height: 14px;
                        margin-left: -7px;
                        background: $white;
                        box-shadow: $shadow-md;
                        transform: rotate(45deg);
                    }
                }
            }

            &__list{
                margin: 0;
                padding: 0;
                white-space: nowrap;
                @include m(level1){
                    display: flex;
                }
                @include m(level2){
                    padding: 10px 0;
                    border-radius: $radius-primary;
                    background: $white;
                }
            }
            &__inner{
                position: relative;
                display: inline-block;
                @include m(level2){
                    min-width: 100%;
                }
            }

            &__item{
                margin: 0;
                &::before{
                    display: none;
                }
                @include m(level1){
                    display: inline-block;
                    padding-right: $global-padding * 3;
                    @media (max-width: $media-xl-max){
                        padding-right: $global-padding * 1.5;
                    }
                }
                @include m(current){
                    display: none;
                }
                .header-main-menu__container{
                    @include m(level2){
                        &.show,
                        &.toggling{
                            top: 100%;
                            left: 50%;
                            z-index: 30;
                            opacity: 1;
                            transform: translateY(0) translateX(-50%);
                        }
                    }
                }
                &.inactive{
                    .header-main-menu__container{
                        @include m(level2){
                            &.toggling{
                                opacity: 0;
                                transform: translateY(-$translate-size-primary) translateX(-50%);
                            }
                        }
                    }
                }
                &.active{
                    .header-main-menu__icon.-has-items{
                        transform: scaleY(-1) translateY(-2px);
                    }
                }
            }

            &__link{
                display: flex;
                padding: 15px 0 14px;
                color: $text-secondary;
                font-size: $size-sl-px;
                text-decoration: none;
                &:hover,
                &:focus{
                    color: $color-primary;
                    text-decoration: underline;
                }
                @include m(has-items){
                    text-decoration: none !important;
                    svg{
                        margin-left: 7px;
                    }
                }
                @include m(level2){
                    padding: 7px $global-padding;
                    &:hover,
                    &:focus{
                        background: $bg-primary;
                    }
                }
                @include m(back){
                    display: none;
                }
                &.active{
                    color: $color-primary;
                    text-decoration: none !important;
                }
            }
            &__icon{
                display: block;
                @include transition(transform);
            }
        }
    }
}