include /components/menu/template.pug

-
    /**
     * @function mixins.layout#mainMenu
     * @requires mixins.components#menu
     * @desc Главное меню в хедере.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Bemoptions} [config.menu={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='main-menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin mainMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'main-menu';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            titleId: 'main-menu-title',
            menu: {
                type: e,
                attrs: {},
                data: 'main-menu',
                current: {
                    currentItemText: false
                },
                backButton: {
                    content: 'Назад',
                    icon: {
                        sprite: {
                            id: 'arrow',
                            width: 9
                        }
                    }
                },
                hasItems: {
                    sprite: {
                        id: 'arrow',
                        width: 9
                    }
                },
                ariaHasPopup: true,
                ariaLabel: true,
                0: {
                    item: {
                        inner: true
                    }
                }
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaultsDeep(config, {
            menu: {
                ariaLabelledby: config.titleId
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +menu(config.menu)
            +e({
                classes: srOnly,
                modifiers: 'header',
                content: 'Главное меню',
                attrs: {
                    id: config.titleId
                }
            })

        block