@import 'main';

html.overflow-hidden{
    margin-right: 0 !important;
    body{
        height: 100vh;
        overflow: auto;
    }
}

//TODO:change overflow on media-md for select
//TODO:mfp scss custom build
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $white;
    box-shadow: $shadow-size-lg rgba($shadow-color-primary, .5);
    transform: translate(-50%, -50%);
    @include transition(opacity);
    transition: none !important;
    @media (min-width: $media-sm){
        max-height: calc(100vh - #{$global-margin * 2});
        border-radius: $radius-primary;
    }
    @include m(fullsize){
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100% !important;
        margin: 0;
        border-radius: 0;
        .popup__inner{
            max-height: 100% !important;
        }
    }
    @include m(small){
        width: calc(100vw - #{$container-padding * 2});
    }
    @include m(medium){
        max-width: 500px;
    }
    &__inner{
        max-height: calc(100vh - 80px);
        padding: $global-margin * 3 ceil($global-padding * 1.5);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @media (min-width: $media-sm){
            max-height: calc(100vh - #{$global-margin * 2});
            padding: $global-margin * 3 $global-padding * 2;
        }
        @media (min-width: $media-md){
            padding: $global-margin * 3.5 $global-padding * 4.5;
        }
        @at-root .no-touch{
            .popup__inner{
                max-height: 100vh;
            }
        }
    }

    &-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 40;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition-property: opacity;
        pointer-events: none;
        &.active{
            opacity: 1;
            pointer-events: auto;
        }
        &.inactive{
            top: -100%;
            left: -100%;
        }

        @include m(slide-top){
            &.active{
                .popup-wrapper__content{
                    transform: translateY(0) perspective(500px) rotateX(0deg);
                }
            }
            &.hiding{
                .popup-wrapper__content{
                    transform: translateY(#{$translate-size-secondary}) perspective(600px) rotateX(10deg);
                }
            }
            .popup-wrapper__content{
                transform: translateY(#{$translate-size-secondary}) perspective(600px) rotateX(10deg);
                transition-property: transform;
            }
        }

        &__bg{
            height: 100%;
            background: rgba($grey-darker, .85);
        }
        &__content{
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            transition-property: none;
            transition-duration: inherit;
        }
        &__close{
            position: absolute;
            top: .5rem;
            right: .5rem;
            z-index: 1;
            color: $text-primary;
        }

        &__placeholder{
            display: none;
        }
    }
}