@import 'main';

.header{
    .header{
        &__personal{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: col-width-px(2);
            max-width: col-width-px(2.25);
            padding-top: 12px;
            padding-bottom: 12px;
            @media (min-width: $media-sm){
                padding-top: 0;
                padding-bottom: 0;
            }
            @include m(mobile){
                align-items: stretch;
                min-width: 51px;
                max-width: 51px;
                padding-left: 0;
                padding-right: 0;
                @media (min-width: $media-sm){
                    @include border-left;
                }
                @media (min-width: $media-lg){
                    display: none;
                }
                .header-personal{
                    &__inner,
                    &__item,
                    &__link{
                        width: 100%;
                        height: 100%;
                    }
                    &__item{
                        display: flex;
                    }
                    &__link{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-width: 51px;
                        &:hover,
                        &:focus{
                            color: $color-primary;
                            @media (min-width: $media-sm){
                                background: $bg-primary;
                            }
                        }
                        //@include m(auth){
                        //    @include after{
                        //        bottom: 0;
                        //        left: 50%;
                        //        width: 18px;
                        //        height: 3px;
                        //        border-radius: $radius-sm;
                        //        background: currentColor;
                        //        margin-left: -1px;
                        //        transform: translateX(-50%);
                        //    }
                        //}
                    }
                    &__text{
                        @include m(mobile){
                            display: inline;
                        }
                        @include m(desktop){
                            display: none;
                        }
                    }
                }
            }
        }

        &-personal{
            &__inner{
                display: flex;
                flex: 1 0 100%;
                align-items: center;
                justify-content: center;
                max-width: 100%;
            }
            &__item{
                overflow: hidden;
            }
            &__link{
                position: relative;
                display: flex;
                border: none;
                color: $grey-darker;
                font-size: px-rem(15);
                font-weight: $weight-semibold;
                white-space: nowrap;
                text-decoration: none;
                background: none;
                cursor: $cursor-pointer;
                @include transition(color background);
                &:hover,
                &:focus{
                    color: $color-primary;
                    text-decoration: underline;
                    svg{
                        fill: $color-primary;
                    }
                }

                @include m(profile){
                    .header-personal{
                        &__text{
                            @include text-overflow;
                            max-width: calc(100% - 27px);
                            white-space: normal;
                        }
                        &__icon{
                            svg{
                                color: $color-primary;
                                fill: $grey-darker;
                            }
                        }
                    }
                }

                //TODO:add logout button
                //@include m(logout){
                //    margin-left: 28px;
                //    padding-top: 0;
                //    padding-bottom: 0;
                //    color: $text-secondary;
                //    font-size: 10px;
                //}
            }
            &__icon{
                svg{
                    color: transparent;
                    fill: $grey-darker;
                    @include transition(fill);
                }
                + .header-personal__text{
                    margin-left: 10px;
                }
            }
            &__text{
                @include m(mobile){
                    display: none;
                }
            }
        }
    }
}