-
    /**
     * @function mixins.layout#headerPersonal
     * @desc Блок личного кабинета в хедере.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.ariaHidden] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='personal'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin headerPersonal(config)
    -
        if (!globalConfig.settings.personal) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'personal';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.attrs, {
            ariaHidden: config.ariaHidden ? 'true' : null
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            if page.type === 'personal'
                +e.item.profile
                    +link({
                        href: 'personal',
                        modifiers: 'profile'
                    })
                        +e({
                            tag: span,
                            modifiers: 'icon'
                        })
                            +sprite({
                                id: 'profile',
                                width: 17
                            })
                        +e({
                            tag: span,
                            modifiers: ['text', 'desktop'],
                            content: 'Константин Константинович Константинопольский',
                            attrs: {
                                title: 'Константин Константинович Константинопольский'
                            }
                        })
                            //-user@company.ru

            else
                +e.item.auth
                    +link({
                        href: '#popup-auth-register',
                        modifiers: 'auth',
                        attrs: {
                            dataPopup: ''
                        }
                    })
                        +e({
                            tag: span,
                            modifiers: 'icon'
                        })
                            +sprite({
                                id: 'profile',
                                width: 17
                            })
                        +e({
                            tag: span,
                            content: 'Авторизация / регистрация',
                            modifiers: ['text', 'desktop']
                        })

            //-TODO:logout button

            block