@import 'main';

//Контент выезжающего меню
.slideout{
    &__menu{
        display: none;
        width: 200%;
        height: 100%;
    }
    &-menu{
        &__inner{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            width: 50%;
            min-height: 100%;
            @include transition(transform);
            &.inner-menu-show{
                transform: translateX(-100%);
            }
            &.inner-menu-shown{
                .header-catalog-menu__container{
                    height: 100%;
                }
                .header-main-menu__container{
                    height: 100%;
                }
            }
            > *{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .header{
        //Выбор местоположения
        @if map-get($global-settings, locations){
            &__location{
                min-width: 100%;
                &:not(:first-child){
                    @include border-top;
                }
                &:first-child{
                    padding-right: 61px;
                    .header-location{
                        &__inner{
                            @include border-right;
                        }
                    }
                }
            }
            &-location{
                &__dropdown{
                    width: 100%;
                }
                &-dropdown{
                    &__toggle{
                        height: 61px;
                        padding: 0 $container-padding;
                        border: none;
                        color: $text-secondary;
                        font-size: $size-sl-px;
                        text-align: left;
                        background: none;
                        @include transition(color);
                    }
                    &__icon{
                        color: $grey-light;
                        &:first-child{
                            position: relative;
                            top: -1px;
                            margin-right: 7px;
                        }
                    }
                    &__menu{
                        min-width: calc(100% - #{$global-padding * 2}) !important;
                    }
                }
            }
        }

        //Поиск
        &__search{
            min-width: 100%;
            &:not(:first-child){
                @include border-top;
            }
            &:first-child{
                padding-right: 61px;
                .search{
                    @include border-right;
                }
            }
            .search{
                &__form-group{
                    margin: 0;
                    label.is-invalid{
                        @include sr-only;
                    }
                }
                &__label{
                    @include sr-only;
                }
                &__input{
                    height: 61px;
                    padding-left: 61px;
                    border: none;
                    border-radius: 0;
                    box-shadow: none !important;
                    &:focus{
                        background: $bg-primary;
                    }
                }
                &__button{
                    color: $text-primary;
                    @include m(submit){
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 5;
                        width: 61px;
                        height: 100%;
                        padding: 0;
                        border: none;
                        border-radius: 0;
                        background: none;
                        box-shadow: none !important;
                    }
                }

                &__popover{
                    display: none;
                }
                &-popover{
                    &__content{
                        padding: 6px 0;
                        overflow: hidden;
                        border-top-left-radius: $radius-primary;
                        border-top-right-radius: $radius-primary;
                    }
                    &__item{
                        &:not(:first-child){
                            @include border-top;
                        }
                    }
                    &-item{
                        &__inner{
                            display: flex;
                            align-items: center;
                            padding: 12px $global-padding;
                            color: $text-primary;
                            text-decoration: none !important;
                            background: $white;
                            @include transition(background-color);
                            &:hover,
                            &:focus{
                                background-color: $bg-primary;
                            }
                        }
                        &__image{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 50px;
                        }
                        &-image{
                            &__image{
                                max-width: 50px;
                                max-height: 50px;
                                margin: 0;
                            }
                        }

                        &__content{
                            flex: 1 0 auto;
                            max-width: calc(100% - 50px);
                            padding-left: 16px;
                        }
                        &__title{
                            font-size: $size-ml-px;
                            line-height: $line-height-md;
                        }
                        &__number{
                            margin-top: 4px;
                            color: $text-primary !important;
                            font-size: $size-sm-px;
                        }
                        &__prices{
                            margin-top: $global-margin;
                        }
                        &-prices{
                            &__price{
                                display: inline-block;
                                color: $grey-darker;
                                font-family: $font-secondary;
                                font-size: $size-md-px;
                                letter-spacing: $letter-spacing-primary;
                                white-space: nowrap;
                                @include m(current){
                                    margin-right: 14px;
                                    font-weight: $weight-medium;
                                }
                                @include m(base){
                                    position: relative;
                                    color: $color-danger;
                                    font-size: $size-xs-px;
                                    @include after{
                                        top: 50%;
                                        left: -3px;
                                        width: calc(100% + #{3px * 2});
                                        margin-top: -1px;
                                        @include border-top(currentColor, 1px);
                                    }
                                }
                            }
                        }
                    }

                    &__bottom{
                        padding: $global-margin $container-padding 0;
                        @include border-top;
                    }
                }
            }

            .popover{
                @include m(search){
                    left: 50% !important;
                    width: calc(var(--slideout-width) - 10px);
                    max-width: calc(var(--slideout-width) - 10px);
                    margin-top: -2px !important;
                    padding: 0;
                    transform: translate(-50%, 61px) !important;
                    .popover-arrow{
                        display: none;
                    }
                }
                .search__popover{
                    display: block;
                }
            }
        }

        //Личный кабинет
        &__personal{
            min-width: col-width(4);
            max-width: col-width(4);
            @include border-top;
            @include border-left;
            text-align: center;
        }
        &-personal{
            &__delimiter{
                display: none;
            }
            &__link{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: $global-margin * .75 $global-padding * .75;
                color: $grey-darker;
                font-size: $size-md-px;
                line-height: $line-height-sm;
                letter-spacing: -$letter-spacing-xs;
                text-decoration: none;
                @include m(profile){
                    .header-personal{
                        &__icon{
                            svg{
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 100%;
                height: 18px;
                margin-bottom: 6px;
                svg{
                    color: transparent;
                    fill: $text-primary;
                }
            }
            &__text{
                @include text-overflow(2, $line-height-sm);
            }
        }

        //Кнопки действий
        &-actions{
            &__group{
                flex-wrap: nowrap;
                min-width: col-width(8);
                max-width: col-width(8);
                @include border-top;
            }
            &__item{
                min-width: col-width(6);
                max-width: col-width(6);
                margin: 0;
                &:not(:first-child){
                    @include border-left;
                }
            }
            &__link{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 0;
                padding: $global-margin * .75 $global-padding;
                border: none !important;
                border-radius: 0 !important;
                font-size: $size-md-px;
                font-weight: $weight-normal;
                line-height: $line-height-sm;
                letter-spacing: -$letter-spacing-xs;
                white-space: normal;
                text-transform: none;
                background: $white !important;
                box-shadow: none !important;
            }
            &__text{
                @include m(header){
                    display: none;
                }
            }
            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 18px;
                margin-bottom: 6px;
            }
        }

        //Меню каталога
        &__catalog-menu{
            position: static;
            min-width: 100%;
            &.inner-menu-show{
                .header-catalog-menu{
                    &__container{
                        @include m(level1){
                            display: block;
                            overflow: visible;
                        }
                    }
                    &__link{
                        @include m(back){
                            display: flex;
                        }
                    }
                }
            }
        }
        &-catalog-menu{
            &__button{
                justify-content: space-between;
                width: 100%;
                height: $btn-height-lg;
                margin: 0;
                border-radius: 0;
            }
            &-button{
                &__text{
                    svg{
                        display: none;
                    }
                }
                &__icon{
                    display: inline-block;
                    margin-left: 6px;
                    transform: rotate(-90deg);
                }
            }
            &__container{
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                width: 100%;
                transform: translateX(100%);
                @include m(level1){
                    height: auto !important;
                    @include transition(left);
                }
            }
            &__list{
                margin: 0 0 $global-margin * 3;
                padding: 61px 0 0;
                @include border-bottom;
            }
            &__item{
                position: static;
                margin: 0;
                @include border-top;
                &::before{
                    display: none;
                }
                &.inner-item-active{
                    > .header-catalog-menu__container{
                        display: block;
                    }
                }
            }
            &__link{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px $container-padding;
                color: $grey-darker;
                font-size: $size-md-px;
                text-decoration: none;
                @include m(current){
                    font-weight: $weight-bold;
                }
                @include m(back){
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 1;
                    display: none;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 61px;
                    padding: 0 $container-padding;
                    border: none;
                    font-size: $size-primary-px;
                    font-weight: $weight-bold;
                    background: $grey-lighter;
                    .header-catalog-menu__icon{
                        margin: 2px 7px 0 0;
                        transform: rotate(90deg);
                    }
                }
                @include m(new){
                    color: $color-info;
                }
                @include m(special){
                    color: $color-danger;
                }
                &.current{
                    color: $color-primary;
                }
            }
            &__icon{
                display: inline-block;
                transform: rotate(-90deg);
            }
        }

        //Меню с иконками
        &__menu{
            min-width: 100%;
            @include border-bottom;
        }
        &-menu{
            &__list{
                margin: 0;
                padding: 0;
            }
            &__item{
                margin: 0;
                @include border-top;
                &::before{
                    display: none;
                }
            }
            &__link{
                display: block;
                padding: 12px $container-padding;
                color: $grey-darker;
                font-size: $size-md-px;
                text-decoration: none;
            }
            &__icon{
                position: relative;
                top: -1px;
                display: inline-block;
                width: 18px;
                margin-right: 9px;
                color: $color-primary;
            }
            &__title-short{
                display: none;
            }
        }

        //Главное меню
        &__main-menu{
            position: static;
            min-width: 100%;
            @include border-top($border-primary, 5px);
            &.inner-menu-show{
                .header-main-menu{
                    &__link{
                        @include m(back){
                            display: flex;
                        }
                    }
                }
            }
        }
        &-main-menu{
            &__container{
                @include m(level2){
                    position: absolute;
                    top: 0;
                    left: 100%;
                    display: none;
                    width: 100%;
                }
            }
            &__list{
                margin: 0;
                padding: 0;
                @include border-bottom;
                @include m(level2){
                    padding-top: 61px;
                }
            }
            &__item{
                position: static;
                margin: 0;
                @include border-top;
                &::before{
                    display: none;
                }
                &.inner-item-active{
                    > .header-main-menu__inner{
                        > .header-main-menu__container{
                            display: block;
                        }
                    }
                }
            }
            &__link{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px $container-padding;
                color: $grey-darker;
                font-size: $size-md-px;
                text-decoration: none;
                @include m(current){
                    font-weight: $weight-bold;
                }
                @include m(back){
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 1;
                    display: none;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 61px;
                    padding: 0 $container-padding;
                    border: none;
                    font-size: $size-primary-px;
                    font-weight: $weight-bold;
                    background: $grey-lighter;
                    .header-main-menu__icon{
                        margin: 2px 7px 0 0;
                        transform: rotate(90deg);
                    }
                }
                &.current{
                    color: $color-primary;
                }
            }
            &__icon{
                display: inline-block;
                transform: rotate(-90deg);
            }
        }

        //Контакты
        &__phones{
            min-width: 100%;
            padding: $global-margin * 1.25 0;
            text-align: center;
            background: $bg-primary;
        }
        &-phones{
            &__phone{
                color: $grey-darker;
                font-size: $size-primary-px;
                svg{
                    margin: -4px 11px 0 0;
                }
            }
        }
    }
}

[data-slideout-type='menu']{
    .slideout{
        &__menu{
            display: block;
        }
    }
}