-
    /**
    * @namespace bem
    * @memberof mixins
    * @desc Миксины и функции для БЭМ.
    */

    /**
    * @typedef {tag} bemtag='div' - Тег БЭМ элемента.
    */

    /**
    * @typedef {(Array.<string>|string)} bemclasses=[] - Коллекция или строка дополнительных классов класса элемента.
    */

    /**
    * @typedef {number} bemdepth=1 - Глубина привязки БЭМ элемента.
    */

    /**
    * @typedef {('b'|'be'|'e'|'empty')} bemtype='b' - Тип БЭМ элемента.
    */

    /**
    * @typedef {(Array.<string>|string)} bemmodifiers=[] - Коллекция или строка модификаторов класса элемента.
    */

    /**
    * @typedef {Object} bemattrs={} - Объект с атрибутами элемента.
    */

    /**
    * @typedef {string} bemcontent - Html-строка с контентом элемента.
    */

    /**
    * @typedef {Object} Bemoptions - Объект с БЭМ-опциями.
    * @property {bemtag} tag
    * @property {bemclasses} classes
    * @property {bemdepth} depth
    * @property {bemtype} type
    * @property {bemmodifiers} modifiers
    * @property {bemattrs} attrs
    * @property {bemcontent} content
    */

    //Настройки БЭМ
    Object.assign(globalConfig.localConfig, {
        blockChain: [],
        elementDivider: '__',
        nameDivider: '-',
        modifierDivider: '--',
        modifierDividerSmall: '-'
    });

    /**
     * @function mixins.bem#b
     * @desc Базовый БЭМ миксин.
     * @param {(bemtag|Bemoptions)} tag
     * @param {bemclasses} classes
     * @param {bemtype} type
     * @example
     * +b(a, 'btn btn-primary').block.modifier(href='/test') Блок
     *
     * @example
     * +b({
     *     tag: a,
     *     modifiers: ['block', 'modifier'],
     *     classes: ['btn', 'btn-primary'],
     *     content: 'Блок',
     *     attrs: {
     *         href: '/test'
     *     }
     * })
     *
     * @example
     * +b.block
     *     +b({
     *         type: e,
     *         modifiers: 'element'
     *     })
     */
mixin b(tag, classes, type)
    -
        let depth;
        let modifiers;
        let attrs;
        let content;

        //Если опции переданы в виде объекта в первом параметре
        if (_.isPlainObject(tag)) {
            if (tag.classes) {
                classes = tag.classes;
            }
            if (tag.depth) {
                depth = tag.depth;
            }
            if (tag.type) {
                type = tag.type;
            }
            if (tag.modifiers) {
                modifiers = tag.modifiers;
            }
            if (tag.attrs) {
                attrs = tag.attrs;
            }
            if (tag.content) {
                content = tag.content;
            }
            if (tag.tag) {
                tag = tag.tag;
            }
        }
    if type === empty
        if block
            block
        else
            != content
        - return;

    -
        const localConfig = globalConfig.localConfig;

        if (!_.isString(tag)) {
            tag = div; //тег по умолчанию
        }

        //Подготовка массива с дополнительными классами
        if (!Array.isArray(classes)) {
            classes = _.isString(classes) ? classes.split(' ') : [];
        }

        //Опция привязки БЭМ по умолчанию
        depth = depth || 1;

        //Тип БЭМ по умолчанию (блок)
        type = ((localConfig.blockChain.length > 0) && _.last(localConfig.blockChain) && type) ? type : b;

        //Атрибуты по умолчанию
        attrs = _.toPlainObject(attrs);
        Object.keys(attrs).forEach(attr => {
            if (_.isNil(attrs[attr])) return;
            const newAttr = _.kebabCase(attr);

            if (_.isPlainObject(attrs[attr])) {
                attrs[attr] = JSON.stringify(attrs[attr]);
            }
            if (newAttr !== attr) {
                attrs[newAttr] = escapeHtml(attrs[attr]);
                delete attrs[attr];
                return;
            }
            attrs[attr] = escapeHtml(attrs[attr]);
        })
        if (!Array.isArray(attrs.class)) {
            attrs.class = _.isString(attrs.class) ? attrs.class.split(' ') : [];
        }

        //Модификаторы по умолчанию
        if (!Array.isArray(modifiers)) {
            modifiers = _.isString(modifiers) ? modifiers.split(' ') : [];
        }

        //Объединение объекта атрибутов
        if (!Array.isArray(attributes.class)) {
            attributes.class = _.isString(attributes.class) ? attributes.class.split(' ') : [];
        }
        _.defaultsDeep(attributes, attrs);

        const classesArray = [];
        //Подготовка общей коллекции классов
        const attrsClassesArray = attributes.class.concat(modifiers);

        //Настройка блок-класс элемента
        let blockClassFull = attrsClassesArray.shift(); //предварительный блок-класс элемента

        if (blockClassFull) {
            let blockClassPart = blockClassFull; //хранение блок-класса элемента

            //Проверка БЭМ привязки и типа
            if (type !== b) {
                depth = Math.min(depth, localConfig.blockChain.length);
                blockClassFull = _.nth(localConfig.blockChain, -depth) + localConfig.elementDivider + blockClassFull; //окончательный блок-класс
            }

            //Одбавление блок-класса в общую коллекцию
            classesArray.push(blockClassFull);

            //Добавление модификаторов в коллекцию классов
            attrsClassesArray.forEach(classVal => {
                if (!classVal) return;
                //если класс начинается с '-', то добавляется полноценный БЭМ модификатор, если модификатор добавлен как обычный класс, то добавляется как есть с префиксом '-'
                const addedClass = _.isCharAt(classVal, 0, localConfig.modifierDividerSmall) ?
                    blockClassFull + localConfig.modifierDivider + classVal.slice(1) :
                    localConfig.modifierDividerSmall + classVal;
                classesArray.push(addedClass);
            })

            //Настройка типов
            //Если тип элемента с наследованием классов, то создаем новый БЭМ класс в цепочке
            if (type === be) {
                blockClassPart = _.nth(localConfig.blockChain, -depth) + localConfig.nameDivider + blockClassPart;
            }
            //Если не элемент, то добавить класс в цепочку БЭМ классов
            if (type !== e) {
                localConfig.blockChain.push(blockClassPart);
            }
        }

        //Добавление дополнительных классов в коллекцию классов
        classes.forEach(classVal => {
            classesArray.push(classVal);
        })

        //Остальные настройки атрибутов
        attributes.class = classesArray; //замена атрибута класса элемента коллекцией классов
        if (_.isUndefined(attributes.href)) {
            if (tag === a) {
                if (attributes.href === true) {
                    attributes.href = jv; //значение href ссылки по умолчанию
                }
            } else {
                delete attributes.href; //если тег не <a>, то удалить атрибут href
            }
        }

    //-Рендер HTML

    //-Список самозакрывающихся тегов
    if /^(area|base|br|col|embed|hr|img|input|link|meta|param|source|track|wbr)$/.test(tag)
        //-pug-lint-disable disallowBlockExpansion
        case tag
            when area: area&attributes(attributes)
            when base: base&attributes(attributes)
            when br: br&attributes(attributes)
            when col: col&attributes(attributes)
            when embed: embed&attributes(attributes)
            when hr: hr&attributes(attributes)
            when img: img&attributes(attributes)
            when input: input&attributes(attributes)
            when link: link&attributes(attributes)
            when meta: meta&attributes(attributes)
            when param: param&attributes(attributes)
            when source: source&attributes(attributes)
            when track: track&attributes(attributes)
            when wbr: wbr&attributes(attributes)
            default
                #{tag}&attributes(attributes)
                    block
        //-pug-lint-enable disallowBlockExpansion
    else
        #{tag}&attributes(attributes)
            if block
                block
            else
                != content

    -
        //После рендера
        if (blockClassFull && (type !== e)) {
            localConfig.blockChain.pop(); //если тип - "элемент", то удалить класс из цепочки
        }

-
    /**
     * @function mixins.bem#e
     * @desc БЕМ-миксин элемента (класс не добавляется в цепочку классов).
     * @param {(bemtag|Bemoptions)} tag
     * @param {bemclasses} classes
     * @example
     * +b.block
     *     +e(span, 'text').element.modifier(data-attr='test') Элемент
     *
     * @example
     * +b.block
     *     +e({
     *         tag: span,
     *         modifiers: 'element modifier',
     *         classes: 'text',
     *         content: 'Элемент',
     *         attrs: {
     *             dataAttr: 'test'
     *         }
     *     })
     */
mixin e(tag, classes)
    +b(tag, classes, e)&attributes(attributes)
        if block
            block
        else if _.isPlainObject(tag)
            != tag.content

-
    /**
     * @function mixins.bem#be
     * @desc БЕМ-миксин элемента (класс добавляется в цепочку классов, т.е. все теги внутри будут наследовать его класс).
     * @param {(bemtag|Bemoptions)} tag
     * @param {bemclasses} classes
     * @example
     * +b.block
     *     +be.inner.modifier
     *         +e(span).element Элемент
     *
     * @example
     * +b.block
     *     +be({
     *         modifiers: ['inner', 'modifier']
     *     })
     *         +e(span).element Элемент
     */
mixin be(tag, classes)
    +b(tag, classes, be)&attributes(attributes)
        if block
            block
        else if _.isPlainObject(tag)
            != tag.content

-
    /**
     * @function mixins.bem#r
     * @desc Заменяет текущую цепочку классов на новый класс.
     * @param {string} blockClass - Класс, добавляемый в цепочку классов.
     * @example
     * +b.block
     *     +e.element
     *     +r('another')
     *         +e.element Элемент
     */
mixin r(blockClass)
    -
        const hasBlockClass = !_.isUndefined(blockClass);
        if (hasBlockClass) {
            globalConfig.localConfig.blockChain.push(blockClass);
        }
    block
    -
        if (hasBlockClass) {
            globalConfig.localConfig.blockChain.pop();
        }

-
    //Вспомогательные функции

    /**
     * @function mixins.bem#setBlockClass
     * @desc Добавляет или меняет корневой класс элемента.
     * @param {Object} attrsObj - Объект с атрибутами элемента.
     * @param {(string|Array.<string>)} blockClasses - Классы блока через пробел или коллекция классов.
     * @example
     * -
     *     const blockAttrs = {};
     *     setBlockClass(blockAttrs, ['block', 'modifier']);
     * +b&attributes(blockAttrs)
     */
    function setBlockClass(attrsObj, blockClasses) {
        if (!blockClasses) return;

        if (!Array.isArray(attrsObj.class)) {
            attrsObj.class = _.isString(attrsObj.class) ? attrsObj.class.split(' ') : [];
        }

        if (_.isString(blockClasses)) {
            blockClasses = blockClasses.split(' ');
        }

        blockClasses
            .filter(Boolean)
            .reverse()
            .forEach(classItem => {
                attrsObj.class.unshift(classItem);
            });
    }

    /**
     * @function mixins.bem#setAdditionalClass
     * @desc Добавляет дополнительные классы элементу. Проверяет чтобы первый класс в списке добавляемых классов не совпадал с классом блока.
     * @param {Array.<string>} classesObj - Коллекция, к которой будут добавляться новые классы.
     * @param {Object} attrsObj - Объект с атрибутами элемента.
     * @param {bemtype} bemType - Тип БЕМ элемента.
     * @param {(string|Array.<string>)} addedClasses - Добавляемые классы через пробел или коллекция классов.
     * @example
     * -
     *     const blockClasses = ['class1', 'class2'];
     *     setAdditionalClass(blockClasses, {}, b, 'class3 class4');
     * +b({
     *     classes: blockClasses
     * })
     */
    function setAdditionalClass(classesObj, attrsObj, bemType, addedClasses) {
        if (!addedClasses) return;

        const blockChain = globalConfig.localConfig.blockChain;
        if (!Array.isArray(attrsObj.class)) {
            attrsObj.class = _.isString(attrsObj.class) ? attrsObj.class.split(' ') : [];
        }

        if (_.isString(addedClasses)) {
            addedClasses = addedClasses.split(' ');
        }
        addedClasses = addedClasses.filter(Boolean);

        const isFirstBlock = (bemType === b) || !_.last(blockChain)
        const isNoBlockClasses = blockChain.length === 0
        const countsAsBlock = isFirstBlock || isNoBlockClasses
        const isFirstClassSame = addedClasses[0] === attrsObj.class[0]
        if (countsAsBlock && isFirstClassSame) {
            addedClasses.shift();
        }

        addedClasses
            .reverse()
            .forEach(classItem => {
                classesObj.unshift(classItem);
            });
    }