@import 'main';

.header{
    .header-menu{
        &__menu{
            min-width: 100%;
        }
        &__list{
            display: flex;
            margin: 0;
            padding: 0;
        }
        &__item{
            flex: 1 0 auto;
            margin: 0;
            padding: 0 $global-padding;
            &::before{
                display: none;
            }
            @include after{
                top: 50%;
                right: 0;
                height: 26px;
                @include border-right;
                transform: translateY(-50%);
            }
        }
        &__link{
            display: block;
            color: $grey-darker;
            font-size: px-rem(15);
            white-space: nowrap;
            text-align: center;
            text-decoration: none;
            svg{
                position: relative;
                margin: -1px 9px 0 0;
                color: $color-primary;
            }
            &:focus,
            &:hover{
                color: $color-primary;
                .header-menu{
                    &__title-short,
                    &__title{
                        text-decoration: underline;
                    }
                }
            }
        }
        &__title-short{
            display: inline;
            @media (min-width: $media-xl){
                display: none;
            }
            + .header-menu__title{
                display: none;
            }
        }
        &__title{
            @media (min-width: $media-xl){
                display: inline !important;
            }
        }
    }
}