include /components/menu/template.pug

-
    /**
     * @function mixins.layout#headerMenu
     * @requires mixins.components#menu
     * @desc Дополнительное меню хедера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='header-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {Bemoptions} [config.menu={}] - .
     * @param {bemtype} [config.menu.type=e] - .
     * @param {(string|boolean)} [config.menu.levelModifier=false] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin headerMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'menu';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'header-menu',
            menu: {
                type: e,
                levelModifier: false
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items = items.map(item => {
            item.content = `
                ${item.textShort ? `<span class="header-menu__title-short">${item.contentShort}</span>` : '' }
                <span class="header-menu__title">${item.content}</span>`;
            return item;
        });

        _.defaultsDeep(config, {
            menu: {
                data: items,
                dataPath: config.dataPath
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +menu(config.menu)

        block