//-TODO:use data, add more options

-
    /**
     * @function mixins.layout#phones
     * @desc Блок телефонов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.titleId=`phones-title-${uniqueId()}`] - .
     * @param {number} [config.max=1] - .
     * @param {boolean} [config.callbackButton] - .
     * @param {Sprite} [config.sprite] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='phones'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin phones(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'phones';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            titleId: `phones-title-${uniqueId()}`,
            max: 1,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.attrs, {
            ariaLabelledby: config.titleId
        });

        if (config.sprite) {
            config.sprite = _.toPlainObject(config.sprite);
            _.defaults(config.sprite, {
                id: 'phone',
                width: 14
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e({
                classes: srOnly,
                modifiers: 'title',
                content: 'Связаться по телефонам',
                attrs: {
                    id: config.titleId
                }
            })

            +e.items
                each item, index in globalConfig.phones
                    if index < config.max
                        +e.item
                            +link({
                                href: item,
                                hrefFormat: transformToTel,
                                class: 'phone'
                            })
                                if config.sprite
                                    +sprite(config.sprite)
                                != item

                            if config.callbackButton
                                +e.comment
                                    +link({
                                        content: 'Перезвоните мне',
                                        dashed: true,
                                        href: '#popup-callback',
                                        attrs: {
                                            dataPopup: ''
                                        }
                                    })

            block