@import 'main';

.card-slider{
    @include m(special){
        .card-slider{
            &__item{
                padding-left: 0;
                padding-right: 0;
            }
        }

        .card{
            max-width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            &-image{
                &__container{
                    justify-content: flex-start;
                }
                &__link{
                    overflow: hidden;
                    border-radius: $radius-primary;
                }
            }

            &__content{
                display: none;
            }
        }
    }
}