-
    /**
    * @function mixins.layout#specialSlider
    * @desc Слайдер акций на главной странице.
    * @param {Bemoptions} [config={}] - Настройки.
    */
mixin specialSlider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            modifiers: 'special',
            data: 'special-slider',
            cardType: 'card',
            cardConfig: {
                title: false,
                text: false,
                date: false,
                href: 'catalog',
                image: {
                    bgImage: true
                }
            },
            dataInit: false,
            container: false,
            title: {
                content: 'Время покупать'
            }
        });

    //-html
    +cardSlider(config)&attributes(attributes)
        block