@import 'main';

.toaster{
    position: fixed;
    z-index: 41; //TODO:fix z-index with popups
    &.toaster-initialized{
        display: block;
    }

    @include m(top){
        top: $global-margin;
        .alert{
            @include m(fullwidth){
                top: -$global-margin;
            }
        }
    }
    @include m(bottom){
        bottom: $global-margin;
        .alert{
            @include m(fullwidth){
                bottom: -$global-margin;
            }
        }
    }
    @include m(left){
        left: $global-padding;
        .alert{
            @include m(fullwidth){
                left: -$global-padding;
            }
        }
    }
    @include m(right){
        right: $global-padding;
        .alert{
            @include m(fullwidth){
                right: -$global-padding;
            }
        }
    }

    .alert{
        position: absolute;
        top: -9999px;
        left: -9999px;
        &.show{
            position: relative;
            top: 0;
            left: 0;
        }
        &:first-child{
            margin-top: 0;
        }
    }
}

//Попап-уведомление
.alert{
    @include m(toast){
        width: col-width-px(3);
        max-width: calc(100vw - #{$global-gutter * 2});
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        font-size: $size-md;
        box-shadow: $shadow-md;
        &.show{
            opacity: 1;
        }
        &:not(:first-child){
            margin-top: $global-margin;
        }
    }
    @include m(fullwidth){
        width: 100vw;
        max-width: 100vw;
        border-radius: 0;
    }
    &:not([class*='alert-']){
        @include m(toast){
            background: $white;
        }
    }
}