-
    /**
     * @function mixins.components#toaster
     * @desc Контейнер для вывода попапов-уведомлений.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} config.placementX - .
     * @param {string} config.placementY - .
     * @param {boolean} [config.dataInit=true] - Добавлять ли атрибут data-toaster.
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {string} [config.role] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='toaster'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin toaster(config)
    -
        config = _.toPlainObject(config);
        if (!(config.placementX && config.placementY)) {
            console.error('placementX or placementY are not set');
            return;
        }

        classesSetup(config);
        const mixinClass = 'toaster';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            dataInit: true,
            attrs: {},
            class: {
                mixinClass
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                role: config.role || null,
                dataToaster: config.dataInit ? '' : null,
                dataToasterOptions: config.dataOptions || null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        const blockClasses = _.castArray(config.class.block);
        blockClasses.push(config.placementX, config.placementY);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        block