@import 'main';

.header{
    display: flex;
    flex-wrap: wrap;
    background: $white;
    @media (min-width: $media-lg){
        background: transparent;
    }
    //@include m(fixed){ //TODO:fix
    //    padding-bottom: 60px; //.header-bottom height
    //    .header-bottom{
    //        position: fixed;
    //        top: 0;
    //        left: 0;
    //        width: 100%;
    //        z-index: 25;
    //        box-shadow: $shadow-size-md rgba($shadow-color-primary, .1);
    //    }
    //}
    //@at-root .has-scrollbar{ //TODO:test
    //    .header-bottom{
    //        max-width: calc(100vw - 17px);
    //    }
    //}

    .header{
        //Вернхий блок хедера
        @at-root .header{
            &-top{
                display: none;
                min-width: 100%;
                background: $white;
                @media (min-width: $media-lg){
                    display: block;
                }
                > .container{
                    > .row{
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        > .col{
                            + .col{
                                position: relative;
                                @include before{
                                    top: 0;
                                    left: 0;
                                    height: 16px;
                                    @include border-left;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Выбор местоположения
        @if map-get($global-settings, locations){
            &__location{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: col-width-px(2);
                max-width: col-width-px(2.75);
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        //Телефоны
        &__phones{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: col-width-px(1.5);
            max-width: col-width-px(2.1);
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &-phones{
            &__phone{
                color: $text-secondary;
                font-size: px-rem(15);
                font-weight: $weight-semibold;
                svg{
                    margin: -4px 11px 0 0;
                }
                &:hover{
                    color: $color-primary;
                }
            }
            //TODO:add comment styles
            //&__comment{
            //    display: none;
            //    color: $color-comment;
            //    font-size: $size-xxs-px;
            //    text-align: right;
            //    margin-top: $global-margin * .5 + .05;
            //    @include m(callback){
            //        display: block;
            //    }
            //}
            //&__link{
            //    text-transform: uppercase;
            //    color: $color-comment;
            //    &::after{
            //        bottom: 0;
            //    }
            //}
        }

        //------------------
        //Средний блок хедера
        @at-root .header{
            &-middle{
                display: none;
                min-width: 100%;
                padding: 26px 0;
                @media (min-width: $media-lg){
                    display: block;
                }
                > .container{
                    > .row{
                        flex-wrap: nowrap;
                        justify-content: space-between;
                    }
                }
            }
        }

        //Логотип
        &__logo{
            display: flex;
            align-items: center;
            @include m(desktop){
                display: none;
                min-width: col-width-px(2);
                max-width: col-width-px(2.25);
                @media (min-width: $media-lg){
                    display: flex;
                }
            }
            @include m(mobile){
                min-width: calc(100% - #{51px * 2});
                max-width: calc(100% - #{51px * 2});
                padding-top: 12px;
                padding-bottom: 12px;
                @media (min-width: $media-sm){
                    min-width: col-width-px(1.4);
                    max-width: col-width-px(1.5);
                }
                @media (min-width: $media-lg){
                    display: none;
                }
            }
        }
        &-logo{
            &__link{
                display: inline-block;
                text-decoration: none;
            }
            &__inner{
                display: block;
                max-width: col-width-px(1.25);
                @media (min-width: $media-lg){
                    max-width: none;
                }
            }
            &__image{
                margin: 0;
            }
        }

        //Меню с иконками
        &__menu{
            display: flex;
            align-items: center;
        }

        //------------------
        //Нижний блок хедера
        &-bottom{
            .row{
                justify-content: space-between;
                height: 100%;
            }
        }

        //Кнопка открытия выезжающего меню
        @at-root .header{
            &-bottom{
                min-width: 100%;
            }
            &__slideout-button{
                display: flex;
                max-width: $global-padding * 2 + $btn-height;
                padding: 0;
            }
        }

        //Меню каталога
        &__catalog-menu{
            order: 1;
            min-width: col-width(6);
            max-width: col-width(6);
            @include before{
                top: 0;
                left: -8px;
                z-index: 1;
                width: 100vw;
                @include border-top;
            }
            @media (min-width: $media-sm){
                order: 0;
                min-width: auto;
                max-width: none;
                padding-top: 12px;
                padding-bottom: 12px;
                &::before{
                    display: none;
                }
            }
            @media (min-width: $media-md){
                padding-right: 0;
            }
            @media (min-width: $media-lg){
                min-width: col-width-px(2.75);
                max-width: col-width-px(2.75);
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        //Поиск
        &__search{
            display: none;
            align-items: center;
            max-width: 51px + $global-padding;
            padding-right: 0;
            @include border-right;
            @media (min-width: $media-mlg){
                display: flex;
                max-width: none;
                padding-top: 12px;
                padding-bottom: 12px;
                border-right: none;
            }
            @media (min-width: $media-lg){
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        //Кнопка открытия выезжающего меню
        &__slideout-button{
            @media (min-width: $media-sm){
                @include border-left;
            }
            @media (min-width: $media-lg){
                display: none;
            }
        }
    }
}