include /layout/location-select/template.pug
include /layout/logo/template.pug
include /layout/phones/template.pug
include /layout/search-form/template.pug

include ./cart-popover/template.pug
include ./catalog-menu/template.pug
include ./header-actions/template.pug
include ./header-menu/template.pug
include ./header-personal/template.pug
include ./main-menu/template.pug
include ./slideout-button/template.pug

-
    /**
     * @function mixins.layout#header
     * @requires mixins.components#money
     * @requires mixins.layout#cartPopover
     * @requires mixins.layout#catalogMenu
     * @requires mixins.layout#headerActions
     * @requires mixins.layout#headerMenu
     * @requires mixins.layout#mainMenu
     * @requires mixins.layout#menuButton
     * @requires mixins.layout#headerPersonal
     * @requires mixins.layout#locationSelect
     * @requires mixins.layout#logo
     * @requires mixins.layout#phones
     * @requires mixins.layout#searchForm
     * @desc Хедер сайта.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=header]
     * @param {Bemoptions} [config.mainMenu={}] - .
     * @param {Bemoptions} [config.locationSelect={}] - .
     * @param {Bemoptions} [config.phones={}] - .
     * @param {string} [config.phones.titleId='header-phones-title'] - .
     * @param {(Sprite|boolean)} [config.phones.sprite=true] - .
     * @param {Bemoptions} [config.logo={}] - .
     * @param {bemclasses} [config.logo.classes=col] - .
     * @param {bemmodifiers} [config.logo.modifiers='desktop'] - .
     * @param {Bemoptions} [config.headerMenu={}] - .
     * @param {Bemoptions} [config.headerPersonal={}] - .
     * @param {Bemoptions} [config.logoMobile={}] - .
     * @param {bemclasses} [config.logoMobile.classes=col] - .
     * @param {bemmodifiers} [config.logoMobile.modifiers='mobile'] - .
     * @param {Bemoptions} [config.catalogMenu={}] - .
     * @param {Bemoptions} [config.searchForm={}] - .
     * @param {Bemoptions} [config.headerActions={}] - .
     * @param {Bemoptions} [config.slideoutButton={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='header'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin header(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'header';

        _.defaultsDeep(config, {
            type: b,
            tag: header,
            mainMenu: {},
            locationSelect: {},
            phones: {
                titleId: 'header-phones-title',
                sprite: true
            },
            logo: {
                classes: col,
                modifiers: 'desktop'
            },
            headerMenu: {},
            headerPersonal: {},
            logoMobile: {
                classes: col,
                modifiers: 'mobile'
            },
            catalogMenu: {},
            searchForm: {},
            headerActions: {},
            slideoutButton: {},
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        //-pug-lint-disable-line disallowBlockExpansion
        +b.header-top: +r('header'): div(class=container): div(class=row)
            //-Главное меню
            if config.mainMenu
                +mainMenu(config.mainMenu)

            //-Выбор местоположения
            if config.locationSelect
                +locationSelect(config.locationSelect)

            //-Телефоны
            if config.phones
                +phones(config.phones)

        //-pug-lint-disable-line disallowBlockExpansion
        +b.header-middle: +r('header'): div(class=container): div(class=row)
            //-Логотип
            if config.logo
                +logo(config.logo)

            //-Дополнительное меню
            if config.headerMenu
                +headerMenu(config.headerMenu)

            //-Блок личного кабинета
            if config.headerPersonal
                +headerPersonal(config.headerPersonal)

        //-pug-lint-disable-line disallowBlockExpansion
        +b.header-bottom: +r('header'): div(class=container): div(class=row)
            //-Логотип мобильной версии
            if config.logoMobile
                +logo(config.logoMobile)

            //-Меню каталога
            if config.catalogMenu
                +catalogMenu(config.catalogMenu)

            //-Форма поиска
            if config.searchForm
                +be({
                    classes: col,
                    modifiers: 'search'
                })
                    +searchForm(config.searchForm)
            //-TODO:fix search button on tablet

            //-Кнопки действий
            if config.headerActions
                +headerActions(config.headerActions)

            //-Кнопка открытия выезжающего меню
            if config.slideoutButton
                +slideoutButton(config.slideoutButton)

        block