include /components/alert/template.pug

-
    /**
     * @function mixins.layout#cookieAlert
     * @requires mixins.components#alert
     * @desc Попап-уведомление об использовании cookie.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=b]
     * @param {boolean} [config.dataInit=true] - .
     * @param {string} [config.color='white'] - .
     * @param {boolean} [config.dismissible=true] - .
     * @param {boolean} [config.show=false] - .
     * @param {boolean} [config.fade=true] - .
     * @param {boolean} [config.toast=true] - .
     * @param {string} [config.role='alertdialog'] - .
     * @param {Object} [config.attrs={}] - .
     * @param {string} [config.attrs.id='cookies-alert'] - .
     */
mixin cookieAlert(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            type: b,
            dataInit: true,
            color: 'white',
            dismissible: true,
            show: false,
            fade: true,
            toast: true,
            role: 'alertdialog',
            attrs: {
                id: 'cookies-alert'
            }
        });

    //-html
    +alert(config)&attributes(attributes)
        div Наш интернет-магазин работает только с юридическими лицами и индивидуальными предпринимателями. Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookie.
        div
            +link({
                classes: 'alert-link',
                content: 'Подробнее',
                href: 'text',
                target: '_blank'
            })
        div
            br
            +button({
                color: 'primary',
                content: 'Хорошо'
            })

        block