-
    const page = {
        title: 'Поиск',
        urlParams: {catalogType: 'tile', search: true}
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/catalog/template.pug

-
    page.catalog = {};
    getData(page.catalog, 'catalog-menu');
    page.category = page.catalog.data.items[2];
    page.subcategory = page.category.items[0];
    page.categoryTitle = page.category.content;
    page.subcategoryTitle = page.subcategory.content;

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top({subtitle: 'Найдено 266 товаров'})
                            +catalogControls({
                                filterButton: true,
                                sort: {
                                    activeSortItem: 0
                                },
                                view: {
                                    activeItem: 'catalog'
                                }
                            })

                        +catalog({search: true})

            +contentBottom
        +foot