@import 'main';

//Стили для блока добавления файлов
.file{
    display: flex;
    flex-wrap: wrap;
    .btn{
        margin: 0 !important;
    }

    @include m(multiple){
        .file{
            &-list{
                flex-wrap: wrap;
                min-width: 100%;
                margin: 0;
                &:not(:empty){
                    ~ label:not(.file-label){
                        margin-top: $global-margin * .5 !important;
                    }
                }
            }
            &-item{
                display: flex;
                align-items: center;
                width: 100%;
                font-size: $size-sm-px;
                &:not(:first-child){
                    margin-top: $global-margin * .5;
                }
            }
            &-cancel{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                margin-left: 8px;
                margin-right: -5px;
                padding: 0;
                border: none;
                color: $text-primary;
                background: none;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
            }
        }
    }

    @include m(preview){
        @include m(multiple){
            .file{
                &-list{
                    &:not(:empty){
                        ~ .file-label{
                            display: inline-flex;
                        }
                    }
                }
                &-label{
                    margin: $global-margin * .5 ($global-padding * .5) 0;
                }
            }
        }
        @include m(filename){
            .file{
                &-item{
                    text-indent: 0;
                }
            }
        }
        .file{
            &-list{
                display: none;
                flex-wrap: wrap;
                width: auto;
                min-width: 0;
                margin: (-$global-margin * .5) (-$global-padding * .5) 0;
                &:not(:empty){
                    display: inline-flex;
                    ~ .file-label{
                        display: none;
                    }
                }
            }
            &-item{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                margin: $global-margin * .5 ($global-padding * .5) 0;
                overflow: hidden;
                @include border($input-border);
                border-radius: $radius-primary;
                text-indent: -9999px;
            }
            &-cancel{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                border: none;
                background: none;
                opacity: .7;
                transform: translate(-50%, -50%);
                @include transition(opacity);
                @include before{
                    top: 50%;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: $white;
                    transform: translate(-50%, -50%);
                }
                &:hover,
                &:focus{
                    opacity: 1;
                }
                svg{
                    position: relative;
                    z-index: 1;
                }
            }
            &-label{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                margin: 0;
                padding: 0 $global-padding;
                @include border($input-border);
                border-radius: $radius-primary;
                font-size: $size-md;
                text-align: center;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
            }
            &-name{
                position: absolute;
                left: 0;
                bottom: 2px;
                z-index: 1;
                width: 100%;
                padding: 0 8px;
                color: $text-primary;
                font-size: $size-md-px;
                @include text-overflow;
            }
            &-image{
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
        }
    }

    &-list{
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &-video{
        width: 100%;
        height: 100%;
        margin: 0;
        object-fit: cover;
    }

    &-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        text-indent: 0;
        transform: translate(-50%, -50%);
        @include m(doc){
            color: #185abd;
        }
        @include m(pdf){
            color: #f40f02;
        }
        @include m(xls){
            color: #1d6f42;
        }
    }

    @include m(max){
        .file-label{
            display: none;
        }
    }

    //Перетаскивание файлов
    &.is-dragover{
        .file-label{
            opacity: .65;
        }
    }

    @include m(dropzone){
        $dash-border: $input-border;
        $dash-border-hover: darken($input-border, 15%);

        padding: 2px;
        border-radius: $radius-primary;
        background-image:
            linear-gradient(to right, $dash-border 50%, transparent 50%),
            linear-gradient(to right, $dash-border 50%, transparent 50%),
            linear-gradient(to bottom, $dash-border 50%, transparent 50%),
            linear-gradient(to bottom, $dash-border 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-position: left top, left bottom, left top, right top;
        background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
        &.is-dragover{
            background-image:
                linear-gradient(to right, $dash-border-hover 50%, transparent 50%),
                linear-gradient(to right, $dash-border-hover 50%, transparent 50%),
                linear-gradient(to bottom, $dash-border-hover 50%, transparent 50%),
                linear-gradient(to bottom, $dash-border-hover 50%, transparent 50%);
        }

        .file{
            &-list{
                width: 100%;
                margin: 0;
            }
            &-label{
                width: 100%;
                border: none;
            }
        }
        &:not(.-multiple){
            .file{
                &-item{
                    width: 100%;
                    margin: 0;
                    border: none;
                }
            }
        }

        @include m(multiple){
            .file{
                &-label{
                    margin: 0;
                }
            }
        }

        @include m(max){
            .file-list{
                padding-bottom: $global-margin * .5;
            }
        }
    }
}