//-TODO:preloaded files in other formats, add max class

-
    /**
     * @function mixins.components#fileInput
     * @desc Блок добавления файлов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=button]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.localData.label] - .
     * @param {string} [config.localData.labelMultiple] - .
     * @param {string} [config.localData.cancel] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {Bemoptions} [config.title] - .
     * @param {Bemoptions} [config.input] - .
     * @param {Bemoptions} [config.list] - .
     * @param {Bemoptions} [config.label] - .
     * @param {string} [config.idPrefix='file'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {(string|Array.<string>)} [config.name=config.multiple ? 'FILE[]' : 'FILE'] - .
     * @param {string} [config.accept] - .
     * @param {string} [config.capture] - .
     * @param {boolean} [config.multiple] - .
     * @param {boolean} [config.prependInput] - .
     * @param {boolean} [config.preview] - .
     * @param {boolean} [config.filename] - .
     * @param {boolean} [config.drag=true] - .
     * @param {boolean} [config.dropzone] - .
     * @param {(Object|Array.<Object>)} [config.file] - .
     * @param {string} [config.file.name] - .
     * @param {string} [config.file.src] - .
     * @param {Sprite} [config.closeSprite={}] - .
     * @param {string} [config.closeSprite.id='close'] - .
     * @param {number} [config.closeSprite.width=10] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='file'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.input='input'] - .
     * @param {bemclasses} [config.class.inputAdd=`${mixinClass}-${config.class.input}`] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.listAdd=`${mixinClass}-${config.class.list}`] - .
     * @param {bemclasses} [config.class.label='label'] - .
     * @param {bemclasses} [config.class.labelAdd=`${mixinClass}-${config.class.label}`] - .
     * @param {bemclasses} [config.class.multiple='multiple'] - .
     * @param {bemclasses} [config.class.preview='preview'] - .
     * @param {bemclasses} [config.class.filename='filename'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.name='name'] - .
     * @param {bemclasses} [config.class.cancel='cancel'] - .
     * @param {bemclasses} [config.class.image='image'] - .
     * @param {bemclasses} [config.class.drag='drag'] - .
     * @param {bemclasses} [config.class.dropzone='dropzone'] - .
     * @example
     * +fileInput({
     *     title: {
     *         content: 'Заголовок'
     *     },
     *     dataOptions: {max: 3},
     *     id: 'file-input',
     *     content: 'Комментарий'
     * })
     */
mixin fileInput(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'file';

        const modulePath = 'components/file';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataFile: config.dataInit ? '' : null,
                dataFileOptions: config.dataOptions || null
            },
            drag: config.dropzone || true,
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            closeSprite: {
                id: 'close',
                width: 10
            },
            class: {
                mixinClass,
                title: 'title',
                input: 'input',
                list: 'list',
                label: 'label',
                multiple: 'multiple',
                preview: 'preview',
                filename: 'filename',
                item: 'item',
                name: 'name',
                cancel: 'cancel',
                image: 'image',
                drag: 'drag',
                dropzone: 'dropzone'
            }
        });

        _.defaultsDeep(config, {
            name: `FILE${config.multiple ? '[]' : ''}`,
            id: config.idPrefix + config.idPostfix,
            class: {
                block: config.class.mixinClass || mixinClass,
                inputAdd: `${mixinClass}-${config.class.input}`,
                listAdd: `${mixinClass}-${config.class.list}`,
                labelAdd: `${mixinClass}-${config.class.label}`
            }
        });

        if (Array.isArray(config.name)) {
            config.attrs.dataFileOptions = _.toPlainObject(config.attrs.dataFileOptions);
            config.attrs.dataFileOptions.name = config.name;
        }

        const blockClasses = _.castArray(config.class.block);
        if (config.multiple) blockClasses.push(config.class.multiple);
        if (config.preview) blockClasses.push(config.class.preview);
        if (config.filename) blockClasses.push(config.class.filename);
        if (config.drag) blockClasses.push(config.class.drag);
        if (config.dropzone) blockClasses.push(config.class.dropzone);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        let currentFilename;
        if (config.file) {
            currentFilename = Array.isArray(config.file) ? _.last(config.file).name : config.file.name;
        }

        config.input = _.toPlainObject(config.input);
        _.defaultsDeep(config.input, {
            classes: [config.class.inputAdd, srOnly],
            inputType: 'file',
            id: config.id,
            name: Array.isArray(config.name) ? config.name[0] : config.name,
            accept: config.accept || null,
            capture: config.capture || null,
            multiple: config.multiple || null,
            value: currentFilename || null
        });

        if (config.title) {
            _.defaultsDeep(config.title, {
                type: e,
                tag: label,
                modifiers: config.class.title
            });
            _.defaults(config.title.attrs, {
                for: _.ifElse((config.title.tag === label) && config.id, config.id)
            });
        }

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            tag: label,
            classes: config.class.listAdd,
            modifiers: config.class.list,
            attrs: {}
        });
        _.defaults(config.list.attrs, {
            for: _.ifElse((config.list.tag === label) && config.id, config.id)
        });

        config.label = _.toPlainObject(config.label);
        _.defaultsDeep(config.label, {
            type: e,
            tag: label,
            modifiers: config.class.label,
            classes: config.class.labelAdd,
            content: config.multiple ? config.localData.labelMultiple : config.localData.label,
            attrs: {
                for: config.id
            }
        });
        _.defaults(config.label.attrs, {
            for: _.ifElse((config.label.tag === label) && config.id, config.id)
        });

        const itemClass = `${mixinClass}-${config.class.item}`;
        const nameClass = `${mixinClass}-${config.class.name}`;
        const cancelClass = `${mixinClass}-${config.class.cancel}`;
        const imageClass = `${mixinClass}-${config.class.image}`;

    //-html
    mixin preloadedFile(fileConfig)
        //-html
        span(
            class=itemClass
            title=removeHtml(fileConfig.name),
            )
            span(class=nameClass)!= fileConfig.name
            if config.multiple || config.preview
                button(
                    class=cancelClass,
                    type='button',
                    title=config.localData.cancel)
                    +sprite(config.closeSprite)
                span(class=imageClass, style=(fileConfig.src ? `background-image: url('${fileConfig.src}')` : null))

    +b(config)&attributes(attributes)
        if config.title
            +b(config.title)

        if config.prependInput
            +input(config.input)

        //-TODO:list opts docs
        if config.list
            +b(config.list)
                if config.file
                    if Array.isArray(config.file)
                        each fileItem in config.file
                            +preloadedFile(fileItem)
                    else
                        +preloadedFile(config.file)

                if config.label && config.preview && config.multiple
                    +b(config.label)

        if config.label && config.preview && !(config.multiple && config.list)
            +b(config.label)

        if !config.prependInput
            +input(config.input)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#fileInputTranslate
     * @desc Строка с языковым контентом для модуля добавления файлов.
     */
mixin fileInputTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'file', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.file = ${langContent};`