@import 'main';

.header{
    .search{
        &__popover{
            display: none;
            .search-highlight{
                color: $color-info;
            }
        }
        &-popover{
            &__item{
                &:not(:first-child){
                    @include border-top;
                }
            }
            &-item{
                &__inner{
                    display: flex;
                    align-items: center;
                    padding: 12px $container-padding;
                    color: $text-primary;
                    text-decoration: none !important;
                    background: $white;
                    @include transition(background-color);
                    &:hover,
                    &:focus{
                        background-color: $bg-primary;
                    }
                }
                &__image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                }
                &-image{
                    &__image{
                        max-width: 50px;
                        max-height: 50px;
                        margin: 0;
                    }
                }

                &__content{
                    display: flex;
                    flex: 1 0 auto;
                    align-items: center;
                    justify-content: space-between;
                    max-width: calc(100% - 50px);
                    padding-left: 24px;
                }
                &__title{
                    font-size: $size-ml-px;
                    line-height: $line-height-md;
                }
                &__number{
                    margin-top: 4px;
                    color: $text-primary !important;
                    font-size: $size-sm-px;
                }
                &-prices{
                    &__price{
                        display: inline-block;
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-md-px;
                        letter-spacing: $letter-spacing-primary;
                        white-space: nowrap;
                        @include m(current){
                            display: block;
                            margin-right: 12px;
                            font-weight: $weight-medium;
                        }
                        @include m(base){
                            position: relative;
                            color: $color-danger;
                            font-size: $size-xs-px;
                            @include after{
                                top: 50%;
                                left: -3px;
                                width: calc(100% + #{3px * 2});
                                margin-top: -1px;
                                @include border-top(currentColor, 1px);
                            }
                        }
                    }
                }
            }

            &__bottom{
                padding: $global-margin $container-padding 0;
                @include border-top;
            }
        }
    }

    .popover{
        @include m(search){
            left: 50% !important;
            width: 100%;
            min-width: 500px;
            max-width: 100%;
            margin-top: -2px !important;
            padding-left: 0;
            padding-right: 0;
            transform: translate(-50%, #{$input-height}) !important;
            .popover-arrow{
                display: none;
            }
        }
        .search__popover{
            display: block;
        }
    }
}