-
    /**
     * @function mixins.layout#searchPopover
     * @desc Блок поисковых подсказок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type]
     * @param {bemtag} [config.tag]
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='popover'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
    */
mixin searchPopover(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'popover';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e.content

        block