-
    const page = {
        title: 'Сравнение товаров'
    };
include /base/templates/main.pug

include /layout/compare/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +top

                        +mainContentCol
                            +compare({empty: true})

            +contentBottom
        +foot