@import 'main';

.collapse{
    &:not(.show){
        position: relative;
        height: 0;
        overflow: hidden;
        transition-property: height;
        &.fade{
            transition-property: opacity, height;
        }
    }
}