include /components/toggle/template.pug

-
    /**
     * @function mixins.components#collapseButton
     * @requires mixins.components#toggleButton
     * @desc Кнопка переключения плавно раскрывающегося блока. Наследует: {@link mixins.components.toggleButton}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.dataCollapse] - .
     * @example
     * +collapseButton({
     *     content: 'Указать новый адрес',
     *     dataOptions: {duration: 150}
     * })
     */
mixin collapseButton(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            attrs: {
                dataCollapse: config.dataCollapse ? '' : null,
                dataCollapseOptions: config.dataOptions || null
            }
        });

        if (config.dataOptions) {
            config.dataOptions = false;
        }

    //-html
    +toggleButton(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#collapseContent
     * @requires mixins.components#toggleContent
     * @desc Контент плавно раскрывающегося блока. Наследует: {@link mixins.components.toggleContent}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.id] - .
     * @param {boolean} [config.dataCollapseId] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.collapseModifier='collapse'] - .
     * @example
     * +collapseContent({
     *     id: 'address-new',
     *     dataOptions: {duration: 150}
     * })
     *     span Контент блока
     */
mixin collapseContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'collapse';

        _.defaultsDeep(config, {
            attrs: {},
            class: {
                collapseModifier: mixinClass
            }
        });

        if (config.dataCollapseId) {
            config.attrs.dataCollapseId = config.id;
            config.dataId = false;
        }
        if (config.dataOptions) {
            config.attrs.dataCollapseOptions = JSON.stringify(config.dataOptions);
            config.dataOptions = false;
        }
        if (config.hashAction === true) {
            config.hashAction = mixinClass;
        }

        config.class.addClass = config.class.collapseModifier;

    //-html
    +toggleContent(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#collapse
     * @requires mixins.components#toggle
     * @desc Блок плавного появления. Наследует: {@link mixins.components.toggle}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.button={}] - .
     * @param {boolean} [config.button.dataCollapse] - .
     * @param {Bemoptions} [config.contentBlock={}] - .
     * @param {boolean} [config.contentBlock.dataCollapseId] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.collapseModifier='collapse'] - .
     * @example
     * +collapse({
     *     id: 'address-new',
     *     button: {
     *         content: 'Указать новый адрес'
     *     }
     * })
     */
mixin collapse(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'collapse';

        _.defaultsDeep(config, {
            class: {
                collapseModifier: mixinClass
            }
        });

        if (_.isPlainObject(config.button)) {
            config.button.attrs = _.toPlainObject(config.button.attrs);
            if (config.button.dataCollapse) {
                config.button.attrs.dataCollapse = '';
            }
            if (config.button.dataOptions) {
                config.button.attrs.dataCollapseOptions = JSON.stringify(config.button.dataOptions);
                config.button.dataOptions = false;
            }
        }
        if (_.isPlainObject(config.contentBlock)) {
            config.contentBlock.attrs = _.toPlainObject(config.contentBlock.attrs);
            if (config.contentBlock.dataCollapseId) {
                config.contentBlock.attrs.dataCollapseId = config.id;
                config.contentBlock.dataId = false;
            }
            if (config.contentBlock.hashAction === true) {
                config.contentBlock.hashAction = mixinClass;
            }
            if (config.contentBlock.dataOptions) {
                config.contentBlock.attrs.dataCollapseOptions = JSON.stringify(config.contentBlock.dataOptions);
                config.contentBlock.dataOptions = false;
            }
        }

        config.class.contentAdd = config.class.collapseModifier;

    //-html
    +toggle(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block