@import 'main';

$module-path-media: 'Libs/photoswipe/media/';

$min-resolution: 1.1dppx;

//Обновление интерфейсных стилей плагина Photoswipe
.pswp{
    //Фон
    &__bg{
        background: $grey-darker;
    }

    //Контент
    &__item{
        iframe{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: col-width-px(9);
            height: 100%;
            max-height: ceil(divide(col-width-px(9), (9 * 5)));
            margin: $global-margin 0;
            transform: translate(-50%, -50%);
        }
    }
    &__img{
        max-height: none;
        margin: 0;
        background: $white;
    }

    //Кнопки
    &__button{
        cursor: $cursor-pointer;
        &,
        &--arrow--left::before,
        &--arrow--right::before{
            background-image: url($module-path-media + 'default-skin.png');
        }

        &--arrow--left,
        &--arrow--right{
            background: none;
        }
    }

    //Стили плагина Яндекс share
    .ya-share2{
        position: absolute;
        top: 20px;
        right: 44px;
        z-index: -1;
        &__link_more{
            display: none !important;
        }
        &__popup{
            left: auto;
            right: 0;
        }
    }
    &__share-modal{
        z-index: 20;
        &--fade-in{
            + .ya-share2{
                z-index: 30;
            }
        }
    }

    //Индикатор загрузки
    &__preloader--active{
        .pswp__preloader__icn{
            background-image: url($module-path-media + 'preloader.gif');
        }
    }

    &--svg{
        .pswp__button{
            &--arrow--left,
            &--arrow--right{
                @media (min-resolution: $min-resolution){
                    background: none !important;
                }
            }

            &,
            &--arrow--left::before,
            &--arrow--right::before{
                @media (min-resolution: $min-resolution){
                    background-image: url($module-path-media + 'default-skin.svg');
                }
            }
        }
    }
}