-
    /**
     * @function mixins.components#popupZoomGalleryTranslate
     * @desc Строка с языковым контентом для модуля галереи с масштабированием в попапе.
     */
mixin popupZoomGalleryTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'popup-zoom-gallery', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.popupZoomGallery = ${langContent};`