@import 'main';

//TODO:preloader on magnific-popup

//Анимация кручения
@keyframes spin{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

//Стили базового индикатора загрузки
.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 25;
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include transition(opacity);
    //Варианты
    &-spinner{
        width: 50px;
        height: 50px;
        color: $color-primary;
        @include after{
            top: 50%;
            left: 50%;
            z-index: 25;
            @include border($border-primary, 5px);
            @include border-top(currentColor, 5px);
            transform: translate(-50%, -50%);
            animation: spin 2s ease-in-out infinite;
            @include circle(100%);
        }
    }
    &-text{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 26;
        transform: translate(-50%, -50%);
    }

    //Размеры
    &-lg{
        .preloader-spinner{
            width: 80px;
            height: 80px;
            &::after{
                border-width: 6px;
                border-top-width: 6px;
            }
        }
    }
    &-sm{
        .preloader-spinner{
            width: 30px;
            height: 30px;
            &::after{
                border-width: 4px;
                border-top-width: 4px;
            }
        }
    }

    //Классы контейнеров
    &-active{
        pointer-events: none;
        .preloader{
            opacity: 1;
        }
    }
    &-overlay{
        @include before{
            top: 0;
            left: 0;
            z-index: 25;
            width: 100%;
            height: 100%;
            background: transparent;
            pointer-events: none;
            @include transition(background);
        }
        &.preloader-active{
            &::before{
                background: rgba($white, .65);
            }
        }
    }

    &.active{
        display: block;
    }
}

//Прелоадер в контентном блоке
.content-preloader{
    .main-content{
        > .preloader{
            margin-top: -$global-margin * 1.5; //Поднимаем прелоадер чуть выше, т.к. внизу отступ от контента больше
        }
    }
    .main-content,
    .preloader-container{
        min-height: calc(100vh - 70px) !important;
        margin: 0;
        padding: 0;
        @media (min-width: $media-lg){
            min-height: calc(100vh - 200px) !important;
        }
    }
    .preloader-container{
        width: 100%;
        > *{
            position: absolute;
            top: -9999px;
            left: -9999px;
            width: 100%;
        }
        + .preloader-container{
            min-height: 0 !important;
        }
    }
}