-
    /**
     * @function mixins.components#preloader
     * @desc Индикатор загрузки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {(Bempoptions|string)} [config.variant='spinner'] - .
     * @param {(Bempoptions|string)} [config.text=config.localData.loadingText] - .
     * @param {(Bempoptions|boolean)} [config.icon=true] - .
     * @param {string} [config.size] - .
     * @param {Sprite} [config.sprite] - .
     * @param {boolean} [config.active] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='preloader'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.preloaderAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.textAdd='sr-only'] - .
     */
mixin preloader(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'preloader';

        const modulePath = 'components/preloader';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            text: config.localData.loadingText,
            variant: 'spinner',
            icon: true,
            class: {
                mixinClass,
                active: 'active',
                icon: 'icon',
                text: 'text',
                textAdd: srOnly
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                role: 'status'
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                preloaderAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.preloaderAdd);
        if (config.active) addClasses.push(config.class.active);
        if (config.size) addClasses.push(`${config.class.mixinClass}-${config.size}`);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const variantClass = `${config.class.mixinClass}-${config.variant}`;
        const iconClass = `${config.class.mixinClass}-${config.class.icon}`;
        const textClass = [`${config.class.mixinClass}-${config.class.text}`, config.class.textAdd];

        if (config.variant) {
            const variantModifiers = _.ifElse(_.isString(config.variant) || Array.isArray(config.variant), config.variant);
            if (!_.isPlainObject(config.variant)) {
                config.variant = {};
            }
            _.defaultsDeep(config.variant, {
                type: e,
                modifiers: variantModifiers,
                classes: variantClass
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                classes: iconClass,
                modifiers: config.class.icon
            });
        }

        if (config.text) {
            const textContent = _.isString(config.text) ? config.text : null;
            if (!_.isPlainObject(config.text)) {
                config.text = {};
            }
            _.defaultsDeep(config.text, {
                type: e,
                tag: span,
                classes: textClass,
                modifiers: config.class.text,
                content: textContent
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +#{config.variant ? b : empty}(config.variant)
            if config.icon && config.sprite
                +b(config.icon)
                    +sprite(config.sprite)

            if config.text
                +b(config.text)

            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#preloaderTranslate
     * @desc Строка с языковым контентом для модуля индикатора загрузки.
     */
mixin preloaderTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'preloader', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.preloader = ${langContent};`