@import 'main';

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: col-width-px(3) - $global-padding * 2;
    margin: $global-margin 0 0;
    padding: $global-margin * 1.5 ceil($global-padding * 1.75) $global-margin * 1.75;
    @include border;
    border-radius: $radius-primary;
    word-wrap: break-word;
    background-color: $white;
    @include transition(box-shadow transform);
    //Картинка
    &-image{
        &__container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__link{
            display: inline-block;
            //margin-bottom: -6px;
        }
        &__image{
            display: block;
            margin: 0 auto !important;
        }
    }

    //Контент
    &__image{
        + .card__content{
            margin-top: $global-margin;
        }
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
    }
    &__text-content{
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
    }

    //Заголовок
    &__title{
        min-width: 100%;
        height: $line-height-md * 2;
        font-size: $size-ml-px;
        line-height: $line-height-md;
    }
    &-title{
        &__header{
            margin: 0;
            color: $text-primary;
            font-family: $font-primary;
            font-size: $size-ml-px;
            font-weight: $weight-normal;
            line-height: $line-height-md;
        }
        &__link{
            display: block;
            color: $text-primary;
            text-decoration: none;
            @include text-overflow(2, $line-height-md);
        }
        &__subtitle{
            margin-top: 10px;
            color: $text-secondary;
            font-size: $size-xxs-px;
            text-transform: uppercase;
        }
    }

    //Текст
    &__text{
        min-width: 100%;
        margin-top: $global-margin;
        font-size: $size-sm;
        line-height: $line-height-md;
    }

    //Кнопки
    &__buttons{
        margin-top: $global-margin * 1.5;
    }

    //Противоположные цвета
    &.bg-primary,
    &.bg-info,
    &.bg-success,
    &.bg-warning,
    &.bg-danger,
    &.bg-dark{
        color: $white;
        .card{
            &__content{
                color: $white;
            }
            &-title{
                &__link{
                    color: $white !important;
                }
            }
        }
    }

    //Обёртка
    &-wrapper{
        .card{
            min-width: 0;
            margin: 0;
        }
    }
    &-group{
        display: flex;
        flex-direction: column;
        @media (min-width: $media-sm){
            flex-flow: row wrap;
        }
        > .card{
            flex: 1 0;
            width: 100%;
            border-radius: 0;
            &:first-child{
                border-top-left-radius: $radius-primary;
                border-bottom-left-radius: $radius-primary;
            }
            &:last-child{
                border-top-right-radius: $radius-primary;
                border-bottom-right-radius: $radius-primary;
            }
            &:not(:last-child){
                @media (min-width: $media-sm){
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}