-
    /**
     * @function mixins.components#cardWrapper
     * @desc Обёртка карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=article]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='card'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +cardWrapper Карточка
     */
mixin cardWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'card';

        _.defaultsDeep(config, {
            type: b,
            tag: article,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#cardImage
     * @desc Изображение карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - Объект с данными.
     * @param {string} [config.dataPath] - Путь к расположению файла с данными.
     * @param {number} [config.dataIndex] - Номер текущего элемента данных в объекте с данными.
     * @param {string} [config.itemsProp] - Название ключа с коллекцией элементов данных.
     * @param {string} [config.imageProp='image'] - Свойство данных, содержащее изображение.
     * @param {boolean} [config.bgImage] - Добавлять ли фоновое изображение.
     * @param {string} [config.href] - Ссылка на изображении.
     * @param {Function} [config.hrefFormat] - Функция форматирования ссылки изображения.
     * @param {boolean} [config.lazyload=true] - Использовать ли отложенную загрузку изображения.
     * @param {Bemoptions} [config.container={}] - .
     * @param {bemmodifiers} [config.container.modifiers=config.class.container] - .
     * @param {Bemoptions} [config.link={}] - .
     * @param {bemmodifiers} [config.link.modifiers=config.class.link] - .
     * @param {bemattrs} [config.link.attrs={}] - .
     * @param {Bemoptions} [config.image={}] - .
     * @param {bemmodifiers} [config.image.modifiers=config.class.image] - .
     * @param {bemattrs} [config.image.attrs={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='image'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.container='container'] - Класс контейнера изорбажения.
     * @param {bemclasses} [config.class.link='link'] - Класс ссылки изображения.
     * @param {bemclasses} [config.class.image='image'] - Класс тега изображения.
     * @example
     * +cardWrapper
     *     +cardImage({
     *         data: 'catalog-item',
     *         dataIndex: 0,
     *         bgImage: true,
     *         content: 'Текст под изображением'
     *     })
     */
mixin cardImage(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'image';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            imageProp: 'image',
            hrefFormat: transformUrl,
            lazyload: true,
            class: {
                mixinClass,
                container: 'container',
                link: 'link',
                image: 'image'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const imagePath = data[config.imageProp];
        const image = imagePath ? setImageProps(config.dataPath, imagePath, data.title) : null;
        const href = (config.href === true) ? jv : (config.href || data.href);
        const formattedHref = href && (_.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, href) : href);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        config.container = _.toPlainObject(config.container);
        _.defaultsDeep(config.container, {
            modifiers: config.class.container
        });

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            tag: href ? a : span,
            modifiers: config.class.link,
            attrs: {
                href: formattedHref,
                title: config.data ? removeHtml(config.data.title) : null,
                style: (image && config.bgImage) ? `background-image: url('${image.src}')` : null
            }
        });

        config.image = _.toPlainObject(config.image);
        _.defaultsDeep(config.image, {
            src: image.src,
            alt: image.alt,
            lazyload: config.lazyload,
            class: config.class.image
        });

    //-html
    +b(config)&attributes(attributes)
        +e(config.container)
            +e(config.link)
                if image
                    +image(config.image)

            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#cardContent
     * @desc Контент карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +cardWrapper
     *     +cardContent Контент карточки
     */
mixin cardContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'content';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#cardTextContent
     * @desc Текстовый контент карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='text-content'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +cardWrapper
     *     +cardTextContent Контент карточки
     */
mixin cardTextContent(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'text-content';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#cardDate
     * @desc Элемент даты карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.date] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='date'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +cardWrapper
     *     +cardDate({
     *         data: {
     *             date: '01.01.2020'
     *         }
     *     })
     *
     * @example
     * //Выводить текст с помощью опции date
     * +cardWrapper
     *     +cardDate({
     *         date: '01.01.2020'
     *     })
     *
     * @example
     * //Выводить текст с помощью опции content
     * +cardWrapper
     *     +cardDate({
     *         content: '01.01.2020'
     *     })
     */
mixin cardDate(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'date';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                block: mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const date = data.date || config.date || config.content;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if date
            != date

        if _.isUndefined(config.content)
            block

-
    /**
     * @function mixins.components#cardTitle
     * @desc Элемент заголовка карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.href] - .
     * @param {Function} [config.hrefFormat=transformUrl] - .
     * @param {Bemoptions} [config.header] - .
     * @param {bemtag} [config.header.tag=h4] - .
     * @param {bemmodifiers} [config.header.modifiers=config.class.header] - .
     * @param {Bemoptions} [config.title={}] - .
     * @param {bemmodifiers} [config.title.modifiers=config.class.link] - .
     * @param {Bemoptions} [config.subtitle={}] - .
     * @param {bemmodifiers} [config.subtitle.modifiers=config.class.subtitle] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='title'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.header='header'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.subtitle='subtitle'] - .
     * @example
     * +cardWrapper
     *     +cardTitle({
     *         data: {
     *             title: 'Каталог',
     *             href: 'catalog',
     *             subtitle: 'Подзаголовок'
     *         },
     *         subtitle: {
     *             title: false
     *         },
     *         content: 'Текст под заголовком'
     *     })
     */
mixin cardTitle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'title';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            hrefFormat: transformUrl,
            title: {},
            subtitle: {},
            class: {
                mixinClass,
                header: 'header',
                link: 'link',
                subtitle: 'subtitle'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const href = (config.href === true) ? jv : (config.href || data.href);
        const formattedHref = href && (_.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, href) : href);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        if (config.header) {
            config.header = _.toPlainObject(config.header);
            _.defaultsDeep(config.header, {
                type: e,
                tag: h4,
                modifiers: config.class.header
            });
        }

        if (config.title) {
            config.title = _.toPlainObject(config.title);
            _.defaultsDeep(config.title, {
                type: e,
                tag: href ? a : span,
                modifiers: config.class.link,
                content: data.title,
                attrs: {
                    href: formattedHref,
                    title: removeHtml(data.title) || null
                }
            });
        }

        if (config.subtitle) {
            config.subtitle = _.toPlainObject(config.subtitle);
            _.defaultsDeep(config.subtitle, {
                type: e,
                modifiers: config.class.subtitle,
                content: config.data ? config.data.subtitle : '',
                attrs: {
                    title: config.data ? removeHtml(config.data.subtitle) : null
                }
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.title
            +b(config.header)
                +b(config.title)

        if config.subtitle
            +b(config.subtitle)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#cardText
     * @desc Элемент текста карточки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex] - .
     * @param {string} [config.itemsProp] - .
     * @param {(boolean|Object)} [config.title=true] - .
     * @param {string} [config.content] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='text'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +cardWrapper
     *     +cardText({
     *         data: {
     *             content: 'Текст'
     *         }
     *     })
     *
     * @example
     * //Вывод текста с помощью опции content
     * +cardWrapper
     *     +cardText({
     *         content: 'Текст'
     *     })
     */
mixin cardText(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'text';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            title: true,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        _.defaults(config.attrs, {
            title: (config.title && data.content) ? removeHtml(data.content) : null
        });

        const text = data.content || config.content;

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

//-TODO:mixins options docs, fix config passing
-
    /**
     * @function mixins.components#card
     * @desc Карточка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=article]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.href] - .
     * @param {(boolean|Object)} [config.image] - .
     * @param {(boolean|Object)} [config.date] - .
     * @param {(boolean|Object)} [config.title] - .
     * @param {(boolean|Object)} [config.text] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @example
     * +card({
     *     data: {
     *         title: 'Карточка',
     *         content: 'Текст<br>вторая строка',
     *         href: true,
     *         date: '03.12.2018',
     *         image: {
     *             relative: 'media/1.jpg',
     *             alt: 'Описание изображения'
     *         }
     *     },
     *     dataPath: 'Data/catalog-item'
     * })
     */
mixin card(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            type: b,
            tag: article,
            image: true,
            date: true,
            title: true,
            text: true,
            class: {}
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        if (config.image && config.data.image) {
            config.image = _.toPlainObject(config.image);
            _.defaultsDeep(config.image, {
                data,
                dataIndex: config.dataIndex,
                dataPath: config.dataPath,
                itemsProp: config.itemsProp,
                href: config.href,
                bgImage: config.image.bgImage,
                lazyload: config.image.lazyload,
                class: config.class.image
            });
        }

        config.contentBlock = _.toPlainObject(config.contentBlock);
        _.defaultsDeep(config.contentBlock, {
            class: config.class.content
        });

        if (config.textContent) {
            config.textContent = _.toPlainObject(config.textContent);
            _.defaultsDeep(config.textContent, {
                class: config.class.textContent
            });
        }

        if (config.date && config.data.date) {
            config.date = _.toPlainObject(config.date);
            _.defaultsDeep(config.date, {
                data,
                dataIndex: config.dataIndex,
                dataPath: config.dataPath,
                itemsProp: config.itemsProp,
                class: config.class.date
            });
        }

        if (config.title && config.data.title) {
            config.title = _.toPlainObject(config.title);
            _.defaultsDeep(config.title, {
                data,
                dataIndex: config.dataIndex,
                dataPath: config.dataPath,
                itemsProp: config.itemsProp,
                href: config.href,
                title: config.title.title,
                subtitle: config.title.subtitle,
                class: config.class.title
            });
        }

        if (config.text && config.data.content) {
            config.text = _.toPlainObject(config.text);
            _.defaultsDeep(config.text, {
                data,
                dataIndex: config.dataIndex,
                dataPath: config.dataPath,
                itemsProp: config.itemsProp,
                title: config.text.title,
                class: config.class.text
            });
        }

    //-html
    +cardWrapper(config)&attributes(attributes)
        if config.image && config.data.image
            +cardImage(config.image)

        +cardContent(config.contentBlock)
            +#{config.textContent ? 'cardTextContent' : empty}(config.textContent)
                if config.date
                    +cardDate(config.date)

                if config.title
                    +cardTitle(config.title)

                if config.text
                    +cardText(config.text)

            if !_.isUndefined(config.content)
                != config.content
            else
                block