@import 'main';

.order-finish{
    //Хедер
    &__header{
        padding-top: $global-margin;
        + .top{
            h1{
                margin-top: $global-margin;
            }
        }
    }
    &-header{
        &__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 46px;
            max-width: 46px;
            height: 46px;
            border-radius: 50%;
            color: palette(success, light);
            background: palette(success, bg);
        }
        &__title{
            font-size: $size-lg;
            line-height: $line-height-md;
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
    }
}

.order{
    @include m(vertical){
        .order-finish{
            //Левый блок
            &__left{
                display: flex;
            }
            &-left{
                &__inner{
                    min-width: 100%;
                }

                &__header{
                    padding-top: $global-margin * 2.5;
                }
                &-header{
                    &__icon{
                        color: palette(success, light);
                    }
                    &__title{
                        font-size: $size-lg;
                        line-height: $line-height-md;
                        a[href^='tel:']{
                            color: inherit;
                            pointer-events: none;
                        }
                    }
                }

                &__info{
                    max-width: col-width-px(6);
                }
                &__row{
                    @include row;
                    @include m(bottom){
                        margin-top: $global-margin * .5;
                        .order-finish-left__text{
                            margin-top: 8px;
                        }
                    }
                }
                &__col{
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 100%;
                    max-width: 440px;
                    margin-top: $global-margin * 1.25;
                    @include col-attrs;
                    @include m(half){
                        @media (min-width: $media-sm){
                            min-width: col-width(6);
                            max-width: col-width(6);
                        }
                    }
                    @include m(comment){
                        order: 2;
                    }
                }
                &__title{
                    font-size: $size-lg;
                    font-weight: $weight-bold;
                }
                &__text{
                    margin-top: 4px;
                    a[href^='mailto:']{
                        color: inherit;
                    }
                }
                &__phone{
                    font-weight: $weight-bold;
                    a{
                        color: inherit;
                    }
                }
                &__buttons{
                    display: flex;
                    flex-wrap: wrap;
                    margin: -$global-margin (-8px) 0;
                    padding-top: $global-margin * 1.5;
                }
                &-buttons{
                    &__item{
                        min-width: 100%;
                        margin-top: $global-margin;
                        padding-left: 8px;
                        padding-right: 8px;
                        @media (min-width: $media-iphone4-height){
                            min-width: 0;
                        }
                    }
                    &__button{
                        min-width: 100%;
                        @media (min-width: $media-iphone4-height){
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                    }
                }

                &__bottom{
                    margin-top: $global-margin * 1.5;
                    padding-top: $global-margin * 1.5;
                    @include border-top(#d2d2d1);
                }
                &-bottom{
                    &__link{
                        text-decoration: underline;
                        &:hover,
                        &:focus{
                            text-decoration: none;
                        }
                    }
                }
            }

            //TODO:add global setting
            //Правый блок
            &__right{
                display: flex;
                justify-content: center;
                padding-top: $global-margin * 2.5;
            }
            &-right{
                &__inner{
                    max-width: col-width-px(2.5);
                }
                &-header{
                    &__icon{
                        color: $grey-lighter;
                    }
                    &__title{
                        font-size: $size-primary;
                        line-height: $line-height-md;
                    }
                }
                &__item{
                    margin-top: $global-margin * 2;
                    padding-top: $global-padding * 2;
                    @include border-top;
                    color: $text-secondary;
                    font-size: $size-sl-px;
                    line-height: $line-height-lg;
                    a{
                        &:hover,
                        &:focus{
                            text-decoration: none;
                        }
                    }
                }
                @if map-get($global-settings, manager){
                    &__manager{
                        margin-top: $global-margin * 2;
                        padding-top: $global-padding * 2;
                        @include border-top;
                        .avatar{
                            &__inner{
                                width: 50px;
                                height: 50px;
                            }
                            &__badge{
                                top: 1px !important;
                                left: 1px;
                            }
                        }
                    }
                    &-manager{
                        &__inner{
                            display: flex;
                            align-items: center;
                        }
                        &__info{
                            padding-left: $global-padding;
                        }
                        &__item{
                            margin-top: 3px;
                        }
                        &__title{
                            color: $grey-darker;
                            font-family: $font-secondary;
                            font-size: $size-md-px;
                            font-weight: $weight-medium;
                            letter-spacing: $letter-spacing-primary;
                        }
                        &__phone{
                            color: $grey-darker;
                            font-size: $size-md-px;
                            font-weight: $weight-semibold;
                            &:hover,
                            &:focus{
                                color: $color-primary;
                            }
                        }
                        &__email{
                            color: $text-secondary;
                            text-decoration: none !important;
                            svg{
                                margin: -1px 6px 0 0;
                                color: $grey-light;
                                @include transition(color);
                            }
                            &:hover,
                            &:focus{
                                color: $color-primary;
                                svg{
                                    color: to-rgb($color-primary, .75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}