include /components/money/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#orderFinish
     * @desc Обёртка страницы подтверждения оформления заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='finish'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin orderFinish(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'finish';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = [];
        if (config.class.addClass) addClasses.push(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +r('order')
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                +r('order-form')
                    block

//-TODO:docs & config
mixin orderFinishHeader(config)
    //-html
    +r('order-finish')
        +be({
            modifiers: 'header',
            classes: col
        })
            +e.icon
                +sprite#check-circle

-
    /**
     * @function mixins.layout#orderFinishLeft
     * @requires mixins.components#money
     * @desc Левая часть страницы подтверждения оформления заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.header] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='left'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderFinishLeft(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'left';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('order-finish')
        +b(config)&attributes(attributes)
            +e.inner
                if config.header
                    //-TODO:use orderFinishHeader mixin
                    +be.header
                        +e.icon
                            +sprite#check-circle
                        +e({
                            tag: h2,
                            modifiers: 'title',
                            content: 'Заказ №827481-24 сформирован'
                        })

                +e.info
                    +e.row
                        +e.col В течении ближайшего времени мы с вами свяжемся для подтверждения заказа
                    +e.row
                        +e.col
                            +e.title Статус заказа: Принят, ожидается оплата
                            +e.text При изменении статуса заказа мы уведомим вас по email
                    +e.row
                        +e.col.half
                            +e.title Способ доставки:
                            +e.text СДЭК (Доставка курьером (СДЭК))
                        +e.col.half
                            +e.title Адрес доставки:
                            +e.text Москва, ул. Орджоникидзе 11/11
                    +e.row
                        +e.col.half
                            +e.title Способ оплаты:
                            +e.text Оплата онлайн
                        +e.col.half.comment
                            +e.comment Услугу предоставляет сервис #[span.text-nowrap онлайн-платежей] #[strong «ЮКаssа»]
                    +e.row
                        +e.col.half
                            +e.title Комментарий к заказу:
                            +e.text комментарий к заказу мой
                    +e.row
                        +e.col
                            +e.title Сумма к оплате:
                            +e.text!= money.formatPrice(5420)

                    +e.row.bottom
                        +e.col
                            +e.title Нужна помощь с заказом?
                            +e.text
                                +e.phone
                                    +link({
                                        href: globalConfig.phones[0],
                                        hrefFormat: transformToTel,
                                        content: globalConfig.phones[0]
                                    })
                                | или напишите на почту&nbsp;
                                +link({
                                    href: globalConfig.emails[0],
                                    hrefFormat: transformToEmail,
                                    class: 'email',
                                    content: globalConfig.emails[0]
                                })

                    +be.buttons
                        +e.item
                            +button({
                                color: 'primary',
                                content: 'Оплатить'
                            })
                        +e.item
                            +button({
                                tag: a,
                                href: 'catalog',
                                color: 'primary',
                                outline: true,
                                content: 'Продолжить покупки'
                            })

                +be.bottom
                    +link({
                        modifiers: 'personal',
                        href: 'personal',
                        content: 'Перейти в личный кабинет'
                    })

            block

-
    /**
     * @function mixins.layout#orderFinishRight
     * @requires mixins.layout#avatar
     * @desc Правая часть страницы подтверждения оформления заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='right'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderFinishRight(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'right';

        _.defaultsDeep(config, {
            type: be,
            tag: section,
            data: 'managers',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const managerImage = setImageProps(config.dataPath, data.image, data.name);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('order-finish')
        +b(config)&attributes(attributes)
            +e.inner
                +be.header
                    +e.icon
                        +sprite#info-circle
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Информация'
                    })

                +e.info
                    +e.item Отслеживайте статус Вашего заказа на странице #[a(href=transformUrl('orders')) «Мои заказы»]

                    +e.item В случае возникновения любого вопроса свяжитесь с вашим персональным менеджером

                    if globalConfig.settings.manager
                        +be.manager
                            +e.inner
                                +be.image
                                    +avatar

                                +e.info
                                    +e.item
                                        +e.title= data.name

                                    +e.item
                                        +link({
                                            href: data.phone,
                                            hrefFormat: transformToTel,
                                            content: data.phone,
                                            class: 'phone'
                                        })

                                    +e.item
                                        +link({
                                            href: `${data.email}@${globalConfig.emailDomain}`,
                                            hrefFormat: transformToEmail,
                                            class: 'email'
                                        })
                                            +sprite#envelope
                                            = `${data.email}@${globalConfig.emailDomain}`

            block