@import 'main';

.top{
    &__controls{
        @include m(orders-detail){
            @media (min-width: $media-sm){
                min-width: 100%;
                margin-top: $global-margin;
            }
            @media (min-width: $media-lg){
                min-width: 0;
                margin-top: 0;
            }
            .top-controls__item{
                flex-basis: auto;
                flex-grow: 0;
                width: auto;
                min-width: 0;
            }
        }
    }
    &-controls{
        &__item{
            @include m(orders-back){
                @media (min-width: $media-sm){
                    text-align: right;
                }
                .top-controls-item{
                    &__link{
                        color: $grey-darker;
                        &:hover,
                        &:focus{
                            color: $color-primary;
                        }
                    }
                    &__icon{
                        display: inline-block;
                        margin-right: 6px;
                        transform: rotate(90deg);
                        svg{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .orders-detail{
        &__top{
            margin-top: $global-margin * 1.5;
        }
    }
}

.orders-detail{
    //Верхняя часть
    &__top{
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        @media (min-width: $media-md){
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-top{
        &__inner{
            display: flex;
            flex-wrap: wrap;
            @media (min-width: $media-md){
                @include border($border-secondary);
            }
        }
        &__left{
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
            @media (min-width: $media-lg){
                min-width: col-width(4);
                max-width: col-width(4);
            }
        }
        &__top,
        &__info{
            min-width: 100%;
            padding: $global-margin * 1.5 $container-padding;
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                padding: $global-margin * 1.75 $global-padding * 3 $global-margin * 2;
            }
        }
        &__top{
            @media (min-width: $media-sm){
                min-width: col-width(6);
                max-width: col-width(6);
            }
            @media (min-width: $media-md){
                border-top: none;
            }
            @media (min-width: $media-lg){
                min-width: 100%;
                max-width: 100%;
                border-left: none;
            }
        }
        &__info{
            @media (min-width: $media-lg){
                min-width: col-width(8);
                max-width: col-width(8);
                border-top: none;
                @include border-left($border-secondary);
            }
        }
        @if map-get($global-settings, manager){
            &__manager{
                min-width: 100%;
                padding: $global-margin * 1.5 $container-padding;
                @include border-top($border-secondary);
                @media (min-width: $media-sm){
                    min-width: col-width(6);
                    max-width: col-width(6);
                    @include border-left($border-secondary);
                }
                @media (min-width: $media-md){
                    padding: $global-margin * 1.75 $global-padding * 3 $global-margin * 2;
                    border-top: none;
                }
                @media (min-width: $media-lg){
                    min-width: 100%;
                    max-width: 100%;
                    @include border-top($border-secondary);
                    border-left: none;
                }
            }
        }

        &__date{
            display: inline-block;
            padding: 1px 10px 2px;
            border-top-left-radius: $radius-primary;
            border-bottom-right-radius: $radius-primary;
            font-size: $size-sm-px;
            background: palette(info, bg);
            @include m(reserve){
                color: $black;
                background: palette(warning, bg);
            }
        }
        &__sum{
            margin-top: $global-margin * .5;
            font-size: px-rem(24);
            font-weight: $weight-semibold;
        }
        &__status{
            margin-top: $global-margin * .5;
        }
        &-status{
            &__bg{
                position: relative;
                width: 84px;
                height: 4px;
                margin-bottom: 3px;
                background: $grey-midlighter;
            }
            &__bar{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: palette(primary, light);
            }
            &__grid{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: calc(100% + 1px);
                color: $white;
            }
            &__title{
                font-size: $size-md-px;
            }
        }

        @if map-get($global-settings, manager){
            &__manager{
                position: relative;
                .avatar{
                    position: absolute;
                    top: $global-margin * .75;
                    right: $global-padding * .75;
                }
            }
            &-manager{
                &__name{
                    padding-right: 40px;
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-lg;
                    font-weight: $weight-medium;
                    line-height: $line-height-md;
                }
                &__desc{
                    margin-top: 2px;
                    color: $text-secondary;
                    font-size: $size-sm-px;
                }
                &__email{
                    margin-top: $global-margin * .5;
                    font-size: $size-sl-px;
                    a{
                        text-decoration: underline;
                        &:hover,
                        &:focus{
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &-info{
            &__inner{
                margin-bottom: (-$global-margin * 1.5);
                @media (min-width: $media-sm){
                    column-count: 2;
                    column-gap: $global-gutter;
                }
            }
            &__item{
                display: inline-block;
                width: 100%;
                padding-bottom: $global-margin * 1.5;
            }
            &__title{
                font-size: $size-md-px;
                font-weight: $weight-semibold;
            }
            &__value{
                margin-top: 4px;
                font-size: $size-sl-px;
            }
        }

        &__download{
            display: flex;
            flex-wrap: wrap;
            margin: -16px -10px 0;
        }
        &-download{
            &__item{
                margin-top: 16px;
                padding: 0 10px;
            }
            &__link{
                font-size: $size-md-px;
                white-space: nowrap;
                text-decoration: underline;
                svg{
                    position: relative;
                    top: -2px;
                    margin-right: 7px;
                }
                &:hover,
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }

    //Таблица
    &__table{
        margin: 0 (-$container-padding);
        @media (min-width: $media-md){
            margin: 0;
        }
    }
    &-table{
        &__table,
        &__tbody,
        &__row,
        &__cell{
            display: block;
        }
        &__table{
            @media (min-width: $media-md){
                display: table;
                width: 100%;
                margin-top: $global-margin * 2;
            }
            thead th{
                @media (min-width: $media-md){
                    border-top: none;
                }
            }
            td{
                padding: 0;
                border-top: none;
                @media (min-width: $media-md){
                    padding: $global-margin * 1.5 $table-td-padding-h;
                }
                @media (min-width: $media-lg){
                    padding: $global-margin * 1.75 $table-td-padding-h;
                }
            }
        }
        &__thead{
            display: none;
            @media (min-width: $media-md){
                display: table-header-group;
            }
            tr{
                @media (min-width: $media-md){
                    border-top: none;
                }
            }
        }
        &__tbody{
            @media (min-width: $media-md){
                display: table-row-group;
            }
        }
        &__row{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: $global-margin * 1.5 $container-padding $global-margin;
            @include border-top($border-secondary);
            @media (min-width: $media-md){
                display: table-row;
                padding: 0;
            }
        }
        &__cell{
            @media (min-width: $media-md){
                display: table-cell;
                margin: 0 !important;
                vertical-align: middle;
            }
            @include m(image){
                width: 50px + $global-gutter;
            }
            @include m(title){
                min-width: calc(100% - #{50px + $global-gutter});
                max-width: calc(100% - #{50px + $global-gutter});
                padding-right: 20px;
            }
            @include m(price, quantity, sum){
                align-self: flex-start;
                margin-top: $global-margin * 1.5;
            }
            &-title{
                font-size: $size-md-px;
                @media (min-width: $media-md){
                    display: none;
                }
            }
        }

        &-image{
            &__image{
                max-width: 50px;
                max-height: 50px;
                margin: 0 auto;
            }
        }
        &__link{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            text-decoration: none;
        }
        &__info{
            margin-top: 2px;
            font-size: $size-md-px;
            > *{
                display: inline-block;
                margin-right: 4px;
            }
        }
        &__price{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-md-px;
        }
        &-price{
            &__item{
                white-space: nowrap;
                @include m(current, sum){
                    font-weight: $weight-medium;
                }
                @include m(base){
                    margin-top: 2px;
                    color: $color-danger;
                    font-size: $size-sm-px;
                    text-decoration: line-through;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }
        &__quantity{
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-md-px;
            font-weight: $weight-medium;
            white-space: nowrap;
        }
    }
}