include /components/money/template.pug
include /components/table/template.pug

include /layout/avatar/template.pug
include /layout/personal/orders/template.pug

-
    /**
     * @function mixins.layout#ordersDetailControls
     * @requires mixins.layout#personalControls
     * @desc Верхние элементы управления на детальной странице заказа в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.ordersDetailModifier='orders-detail'] - .
     */
mixin ordersDetailControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders-detail';

        _.defaultsDeep(config, {
            class: {
                ordersDetailModifier: mixinClass
            }
        });

        if (config.class.ordersDetailModifier) {
            setBlockClass(attributes, config.class.ordersDetailModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +be({
            modifiers: 'item',
            classes: col
        })
            +link({content: 'Отменить'})

        +be({
            modifiers: 'item',
            classes: col
        })
            +link({content: 'Повторить'})

        +be({
            modifiers: 'item',
            classes: col
        })
            +e.text!= 'Статус рекламации: <mark>на рассмотрении</mark>'

        +be({
            modifiers: 'item',
            classes: col
        })
            +link({
                href: '#popup-pretension',
                modifiers: 'pretension',
                attrs: {
                    dataPopup: ''
                },
                content: 'Подать рекламацию'
            })

        +be({
            modifiers: ['item', 'orders-back'],
            classes: col
        })
            +link({href: 'orders'})
                +e({
                    tag: span,
                    modifiers: 'icon'
                })
                    +sprite#arrow-line-thin
                | Назад к списку

        block

-
    /**
     * @function mixins.layout#ordersDetailTop
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Блок с информацией о заказе на странице заказа в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {number} [config.dataIndex=0]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersDetailTop(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'managers',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const barLength = 84;
        const statusesNum = 5;
        const currentStatusNum = 1;
        const gridCellWidth = Math.ceil(barLength / statusesNum);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e.left
                +e.top
                    +e({
                        modifiers: ['date', 'reserve'],
                        content: '09.02.2019'
                    })

                    +e.sum!= money.formatPrice(42800000)

                    +be.status
                        +e({
                            modifiers: 'bg',
                            attrs: {
                                style: `width: ${barLength}px;`,
                                role: 'presentation'
                            }
                        })
                            +e({
                                modifiers: 'bar',
                                attrs: {
                                    style: `width: ${Math.floor((currentStatusNum / statusesNum) * 100)}%;`
                                }
                            })
                            +e({
                                modifiers: 'grid',
                                attrs: {
                                    style: `background: repeating-linear-gradient(to right, transparent, transparent ${gridCellWidth - 2}px, currentColor ${gridCellWidth - 2}px, currentColor ${gridCellWidth}px)`
                                }
                            })
                        +e.title Оформлен

                if globalConfig.settings.manager
                    +be.manager
                        +avatar

                        +e({
                            modifiers: 'name',
                            content: data.name
                        })

                        +e.desc Менеджер

                        - const email = `${data.email}@${globalConfig.emailDomain}`;
                        +e({
                            modifiers: 'email',
                            content: `<a href="${transformToEmail(email)}">${email}</a>`
                        })

            +be.info
                +e.inner
                    +e.item
                        +e.title Юр. Лицо
                        +e.value ООО «ИнвестПромСервис»

                    +e.item
                        +e.title!= `Доставка (${money.formatPrice(2500)})`
                        +e.value Способ доставки: Деловые линии#[br]Адрес доставки: Москва, Орджоникидзе 11/11#[br]Ожидаемая дата доставки: 14.06.2018

                    +e.item
                        +e.title Оплата
                        +e.value Способ оплаты: Счёт на оплату#[br]Комментарий к заказу: -

                    +e.item
                        +be({
                            depth: 2,
                            modifiers: 'download'
                        })
                            +e.item
                                +link({download: true})
                                    +sprite#arrow-download
                                    | Счёт на оплату

                            +e.item
                                +link({download: true})
                                    +sprite#arrow-download
                                    | УПД

            block

-
    /**
     * @function mixins.layout#ordersDetailTable
     * @requires mixins.components#money
     * @requires mixins.layout#pretensionPopup
     * @desc Таблица товаров в заказе в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.pretensionPopup=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersDetailTable(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            pretensionPopup: true,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.imagePreview = setImageProps(config.dataPath, item.imagePreview, item.title);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +table({
            classes: table,
            dataTable: 'false'
        })
            +tableHead
                +tableRow
                    +tableCell({
                        header: true,
                        modifiers: 'image'
                    })
                        span(class=srOnly) Изображение
                    +tableCell({
                        header: true,
                        modifiers: 'name'
                    })
                        span(class=srOnly) Наименование
                    +tableCell({
                        header: true,
                        modifiers: 'price',
                        content: 'Цена'
                    })
                    +tableCell({
                        header: true,
                        modifiers: 'quantity',
                        content: 'Кол-во'
                    })
                    +tableCell({
                        header: true,
                        modifiers: 'sum',
                        content: 'КСумма'
                    })

            +tableBody
                each item, index in items
                    +tableRow
                        +tableCell({modifiers: 'image'})
                            +be.image
                                +link({
                                    href: 'product',
                                    title: removeHtml(item.title)
                                })
                                    +image({
                                        src: item.imagePreview.src,
                                        alt: item.imagePreview.alt
                                    })

                        +tableCell({modifiers: 'title'})
                            +link({
                                href: 'product',
                                content: item.title
                            })

                            +e.info
                                +e({
                                    modifiers: 'number',
                                    attrs: {
                                        title: removeHtml(`Артикул: ${item.number}`),
                                    },
                                    content: `Артикул.: ${item.number}.`
                                })
                                +e.color Цвет: Голубой.
                                +e.size Размер: XL

                        +tableCell({modifiers: 'price'})
                            +e.cell-title Цена:
                            +be.price
                                +e({
                                    modifiers: ['item', 'current'],
                                    attrs: {
                                        title: 'Текущая цена'
                                    },
                                    content: money.formatPrice(item.price.current)
                                })
                                if item.price.base
                                    +e({
                                        modifiers: ['item', 'base'],
                                        attrs: {
                                            title: 'Цена без скидки'
                                        },
                                        content: money.formatPrice(item.price.current)
                                    })

                        +tableCell({modifiers: 'quantity'})
                            +e.cell-title Количество:
                            +e({
                                modifiers: 'quantity',
                                attrs: {
                                    title: 'Количество'
                                },
                                content: '12 шт.'
                            })

                        +tableCell({modifiers: 'sum'})
                            +e.cell-title Сумма:
                            +be.price
                                +e({
                                    modifiers: ['item', 'sum'],
                                    attrs: {
                                        title: 'Сумма'
                                    },
                                    content: money.formatPrice(item.price.current)
                                })

        if config.pretensionPopup
            +pretensionPopup

        block

-
    /**
     * @function mixins.layout#ordersDetail
     * @desc Детальная страница заказа в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='orders-detail'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin ordersDetail(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'orders-detail';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +ordersDetailTop

            +ordersDetailTable

            block