@import 'main';

//Форма поиска в хедере
.header{
    .search{
        width: 100%;
        &.preloader-active{
            pointer-events: auto;
        }
        label.is-invalid{
            @include sr-only;
        }
        &__form{
            position: relative;
        }
        &__label{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 51px;
            height: $btn-height;
            margin: 0;
            padding: 0 $btn-padding * .5;
            @media (min-width: $media-mlg){
                @include sr-only;
            }
        }
        &__form-group{
            margin-top: 0;
        }
        &__input-group{
            @media (max-width: $media-mlg-max){
                display: none;
            }
        }
        &__input{
            padding: 0 $btn-height-lg 0 $input-padding * .5;
            border-color: transparent !important;
            border-radius: $input-radius !important;
            background: $bg-primary;
            &:hover{
                box-shadow: $shadow-size-primary rgba($shadow-color-primary, .05) !important;
            }
            &:focus{
                box-shadow: $shadow-size-primary rgba($shadow-color-primary, .1) !important;
            }
            @media (min-width: $media-lg){
                padding-left: $input-padding;
                padding-right: calc(#{$input-padding} + #{$btn-height-lg});
                background: $white;
            }
        }
        &__button{
            @include m(submit){
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
                width: 51px;
                height: 100%;
                padding-left: 0;
                padding-right: 0;
                border: none;
                color: $grey-darker;
                background-color: transparent;
                box-shadow: none !important;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}