include ./search-popover/template.pug

-
    /**
     * @function mixins.layout#searchForm
     * @requires mixins.layout#searchPopover
     * @desc Форма поиска.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemattrs} [config.attrs={}] - .
     * @param {string} [config.attrs.role='search'] - .
     * @param {string} [config.id=`search-${uniqueId()}`] - .
     * @param {string} [config.placeholder='Поиск'] - .
     * @param {Sprite} [config.labelSprite='magnifier'] - .
     * @param {Sprite} [config.appendButton] - .
     * @param {Object} [config.inputGroup={}] - .
     * @param {Object} [config.inputGroup={}] - .
     * @param {Object} [config.input={}] - .
     * @param {Object} [config.popover={}] - .
     * @param {string} [config.suggestUrl=`${globalConfig.distAssets}/${globalConfig.ajaxName}/search-suggestions.html`] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='search'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin searchForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'search';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            attrs: {
                role: 'search'
            },
            id: `search-${uniqueId()}`,
            labelSprite: 'magnifier',
            placeholder: 'Поиск',
            inputGroup: {},
            input: {},
            popover: {},
            suggestUrl: `${globalConfig.distAssets}/${globalConfig.ajaxName}/search-suggestions.html`,
            class: {
                mixinClass
            }
        });

        _.defaultsDeep(config.inputGroup, {
            classes: ['input-group', 'input-group-lg'],
            modifiers: 'input-group'
        });

        const searchParams = page.urlParams && page.urlParams.search;
        _.defaultsDeep(config.input, {
            inputType: 'search',
            id: config.id,
            name: 'SEARCH',
            formControl: true,
            placeholder: config.placeholder,
            validate: 'required',
            value: (searchParams ? 'блендер' : null),
            autofocus: searchParams,
            autocomplete: 'no'
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +form({
            type: e,
            method: 'get',
            attrs: {
                dataSuggestUrl: config.suggestUrl || null
            }
        })
            +formGroup
                +label({for: config.id})
                    span(class=srOnly) Поиск
                    if config.labelSprite
                        +e({
                            tag: span,
                            modifiers: 'icon'
                        })
                            +sprite(config.labelSprite)

                +e(config.inputGroup)
                    +input(config.input)

                    mixin inputGroupAppend
                        .input-group-append
                            block

                    +#{config.appendButton ? 'inputGroupAppend' : empty}
                        +button({
                            type: be,
                            modifiers: 'submit',
                            size: 'lg',
                            buttonType: 'submit',
                            title: 'Искать'
                        })
                            +e({
                                tag: span,
                                modifiers: 'icon'
                            })
                                +sprite#magnifier
                            span(class=srOnly) Найти

                block

        if config.suggestUrl && config.popover
            +searchPopover(config.popover)