@import 'main';

//Базовые стили таблицы
.table{
    width: 100%;
    max-width: 100%;
    margin: $global-margin 0 0;
    border: none;
    @include border-bottom($table-border, $table-border-width);
    &.active{
        background-color: $grey-lightest;
    }
    @media print{
        border-collapse: collapse !important;
    }
    tr,
    th,
    td{
        &.active{
            border-color: $grey-lightest;
            background-color: $grey-lightest;
        }
        @media print{
            background-color: $white !important;
        }
    }

    thead,
    tfoot{
        th{
            border-color: $table-border;
            font-size: $size-sm-px;
            vertical-align: bottom;
            background-color: $table-th-bg;
        }
    }
    thead{
        th{
            @include border-top($table-border, 2px);
            @include border-bottom($table-border, $table-border-width);
        }
    }
    tfoot{
        th{
            @include border-top($table-border, $table-border-width);
        }
    }
    tr{
        @media print{
            page-break-inside: avoid;
        }
    }
    th,
    td{
        @include border-top($table-border, $table-border-width);
        font-size: $size-md-px;
        vertical-align: top;
    }
    th{
        padding: $table-th-padding-v $table-td-padding-h;
        color: $table-th-color;
        font-family: $font-secondary;
        font-weight: $weight-medium;
        text-align: inherit;
        text-transform: uppercase;
    }
    td{
        padding: $table-td-padding-v $table-td-padding-h;
    }

    //Варианты отображения
    &-responsive{
        display: block;
        width: 100%;
        margin-top: $global-margin;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        table,
        .table{
            margin: 0;
        }
    }
    &-bordered{
        @include border($table-border, $table-border-width);
        th,
        td{
            @include border($table-border, $table-border-width);
        }
    }
    &-borderless{
        border: none !important;
        td,
        th{
            border: none !important;
        }
    }
    &-striped{
        tbody tr{
            &:nth-child(odd){
                td{
                    background-color: to-rgb($table-odd-bg, .5);
                }
            }
        }
    }
    &-hover{
        tbody{
            tr{
                &:hover{
                    td{
                        background-color: darken(to-rgb($table-odd-bg, .5), 5%);
                    }
                }
            }
            td{
                @include transition(background);
            }
        }
    }
    &-sm{
        th,
        td{
            padding: $table-td-padding-v-sm $table-td-padding-h-sm;
        }
    }
}

//Плавающий заголовок
[data-table-header]{
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    &:not(.position-fixed):not(.fixed-bottom){
        width: 100% !important;
    }
    &.position-fixed{
        border-radius: 0;
    }
    &.fixed-bottom{
        position: absolute;
        top: auto !important;
    }
}