//-TODO:data option

-
    /**
     * @function mixins.components#table
     * @desc Таблица.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=table]
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {string} [config.dataTable] - .
     * @param {boolean} [config.tableClass=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.tableAdd=config.class.mixinClass] - .
     */
mixin table(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: e,
            tag: table,
            tableClass: true,
            attrs: {
                dataTableOptions: config.dataOptions || null,
                dataTable: _.isUndefined(config.dataTable) ? null : config.dataTable
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            tableAdd: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.tableClass) {
            addClasses.push(config.class.tableAdd);
        }
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#tableHead
     * @desc Контейнер контента таблицы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=thead]
     * @param {boolean} [config.dataTableHeader] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='thead'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin tableHead(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'thead';

        _.defaultsDeep(config, {
            type: e,
            tag: thead,
            attrs: {
                dataTableHeader: config.dataTableHeader ? '' : null
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#tableBody
     * @desc Контейнер контента таблицы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=tbody]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tbody'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin tableBody(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tbody';

        _.defaultsDeep(config, {
            type: e,
            tag: tbody,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#tableRow
     * @desc Ряд таблицы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=tr]
     * @param {boolean} [config.header]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='row'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.header='header'] - .
     */
mixin tableRow(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'row';

        _.defaultsDeep(config, {
            type: e,
            tag: tr,
            class: {
                mixinClass,
                header: 'header'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        if (config.header) {
            config.class.block = `${config.class.header}-${config.class.block}`;
        }
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#tableCell
     * @desc Ячейка таблицы.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=config.header ? th : td]
     * @param {boolean} [config.header] - .
     * @param {number} [config.colspan] - .
     * @param {number} [config.rowspan] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='cell'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.header='header'] - .
     */
mixin tableCell(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'cell';

        _.defaultsDeep(config, {
            type: e,
            tag: config.header ? th : td,
            attrs: {
                colspan: config.colspan ? config.colspan : null,
                rowspan: config.rowspan ? config.rowspan : null
            },
            class: {
                mixinClass,
                header: 'header'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        if (config.header) {
            config.class.block = `${config.class.header}-${config.class.block}`;
        }
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block