@import 'main';

.pagination{
    margin: 0;
    border-radius: 0;
    &-list{
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        padding: 0;
    }
    &-item{
        display: inline-block;
        margin: 10px 5px !important;
        &::before{
            display: none;
        }
    }
    &-link{
        display: block;
        width: $btn-height;
        height: $btn-height;
        color: $grey-darker;
        font-size: $size-primary;
        line-height: $btn-height;
        text-align: center;
        text-decoration: none;
        user-select: none;
        @include transition(color border-color);
        &:not(.pagination-dots){
            &:hover,
            &:focus{
                border-color: $input-border-hover;
                color: $color-primary;
            }
        }
    }

    &-arrow{
        width: auto;
        padding: 0 12px;
        @include border($input-border);
        border-radius: $btn-radius;
    }

    &-prev{
        margin-right: $global-padding;
        .pagination-icon{
            margin-left: 4px;
            transform: rotate(90deg);
        }
    }
    &-next{
        margin-left: $global-padding;
        .pagination-icon{
            margin-right: 4px;
            transform: rotate(-90deg);
        }
    }

    &-dots,
    &-current,
    &-inactive{
        cursor: default;
    }
    &-dots,
    &-current{
        color: $grey-darker !important;
    }
    &-current{
        @include after{
            left: 50%;
            bottom: 0;
            width: 25px;
            height: 3px;
            border-radius: $radius-sm;
            background: $color-primary;
            transform: translateX(-50%);
        }
    }
    &-inactive{
        color: $grey-light !important;
        pointer-events: none;
    }

    &-icon{
        display: inline-block;
    }
}