-
    /**
     * @function mixins.components#pagination
     * @desc Пагинация.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type]
     * @param {bemtag} [config.tag=nav]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {number} [config.total=20] - .
     * @param {string} [config.idPrefix='pagination'] - .
     * @param {string} [config.idPostfix=''] - .
     * @param {(Bemoptions|boolean)} [config.title] - .
     * @param {Object} [config.title.content=config.localData.titleText] - .
     * @param {bemattrs} [config.title.attrs] - .
     * @param {string} [config.title.attrs.id=`${config.idPrefix}-title`] - .
     * @param {Bemoptions} [config.list] - .
     * @param {Bemoptions} [config.item] - .
     * @param {Bemoptions} [config.arrow] - .
     * @param {Bemoptions} [config.link] - .
     * @param {(Bemoptions|boolean)} [config.nav={}] - .
     * @param {Bemoptions} [config.nav.prev={}] - .
     * @param {string} [config.nav.prev.content=config.localData.prevText] - .
     * @param {bemattrs} [config.nav.prev.attrs] - .
     * @param {string} [config.nav.prev.attrs.title=config.localData.prevTitle] - .
     * @param {Sprite} [config.nav.prev.sprite] - .
     * @param {boolean} [config.nav.prev.inactive] - .
     * @param {Bemoptions} [config.nav.next={}] - .
     * @param {string} [config.nav.next.content=config.localData.nextText] - .
     * @param {bemattrs} [config.nav.next.attrs] - .
     * @param {string} [config.nav.next.attrs.title=config.localData.nextTitle] - .
     * @param {Sprite} [config.nav.next.sprite] - .
     * @param {boolean} [config.nav.next.inactive] - .
     * @param {string} [config.nav.content] - .
     * @param {string} [config.nav.title] - .
     * @param {Sprite} [config.nav.sprite] - .
     * @param {Sprite} [config.nav.inactive] - .
     * @param {Bemoptions} [config.dots] - .
     * @param {string} [config.dots.content='…'] - .
     * @param {number} [config.dots.offset=2] - .
     * @param {Bemoptions} [config.current={}] - .
     * @param {bemattrs} [config.current.attrs] - .
     * @param {string} [config.current.attrs.title=config.localData.currentTitle] - .
     * @param {number} [config.current.index=Math.floor(config.total / 2)] - .
     * @param {Function} [config.titleFormat] - .
     * @param {string} [config.href=jv] - .
     * @param {Function} [config.hrefFormat=transformUrl] - .
     * @param {string} [config.idTitlePrefix=config.idPrefix] - .
     * @param {string} [config.idTitleModifier='-title'] - .
     * @param {string} [config.idTitle=config.idPrefix + config.idTitleModifier + config.idPostfix] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='pagination'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.paginationAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.titleAdd='sr-only'] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.dots='dots'] - .
     * @param {bemclasses} [config.class.arrow='arrow'] - .
     * @param {bemclasses} [config.class.prev='prev'] - .
     * @param {bemclasses} [config.class.next='next'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.current='current'] - .
     * @param {bemclasses} [config.class.inactive='inactive'] - .
     * @example
     * +pagination({
     *     total: 12,
     *     href: 'catalog',
     *     nav: {
     *         sprite: {
     *             id: 'arrow',
     *             width: 10
     *         }
     *     },
     *     dots: {
     *         offset: 1
     *     }
     * })
     */
mixin pagination(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'pagination';

        const modulePath = 'components/pagination';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: b,
            tag: nav,
            attrs: {},
            total: 20,
            idPrefix: mixinClass,
            idPostfix: '',
            title: {
                type: e,
                content: config.localData.titleText,
                attrs: {}
            },
            nav: {
                prev: {
                    content: config.localData.prevText,
                    attrs: {
                        title: config.localData.prevTitle
                    }
                },
                next: {
                    content: config.localData.nextText,
                    attrs: {
                        title: config.localData.nextTitle
                    }
                }
            },
            dots: {
                content: '…',
                offset: 2
            },
            current: {
                attrs: {
                    title: config.localData.currentTitle
                }
            },
            link: {
                titleFormat(index) {
                    return config.localData.linkTitlePrefix + index;
                }
            },
            href: jv,
            hrefFormat: transformUrl,
            idTitleModifier: '-title',
            class: {
                mixinClass,
                title: 'title',
                titleAdd: srOnly,
                list: 'list',
                item: 'item',
                link: 'link',
                dots: 'dots',
                arrow: 'arrow',
                prev: 'prev',
                next: 'next',
                icon: 'icon',
                current: 'current',
                inactive: 'inactive'
            }
        });

        _.defaultsDeep(config, {
            idTitlePrefix: config.idPrefix,
            attrs: {
                role: _.ifElse(config.tag === nav, null, 'navigation'),
                ariaLabelledby: config.titleId
            },
            current: {
                index: Math.floor(config.total / 2)
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                paginationAdd: config.class.mixinClass || mixinClass
            }
        });
        _.defaults(config, {
            idTitle: config.idTitlePrefix + config.idTitleModifier + config.idPostfix
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.paginationAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const listAddClasses = `${config.class.mixinClass}-${config.class.list}`;
        const itemAddClasses = `${config.class.mixinClass}-${config.class.item}`;
        const linkAddClasses = `${config.class.mixinClass}-${config.class.link}`;
        const dotsAddClasses = [
            linkAddClasses,
            `${config.class.mixinClass}-${config.class.dots}`
        ];
        const arrowAddClasses = [
            linkAddClasses,
            `${config.class.mixinClass}-${config.class.arrow}`
        ];
        const currentLinkAddClasses = [
            linkAddClasses,
            `${config.class.mixinClass}-${config.class.current}`
        ];
        const iconAddClasses = `${config.class.mixinClass}-${config.class.icon}`;

        let dotsPrev = false;
        let dotsNext = false;
        const formattedHref = _.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, config.href) : config.href;
        const defaultLinkTag = _.ifElse((config.current.index === 1) || (config.current.index === config.total), span, a);

        if (config.title) {
            config.title = _.toPlainObject(config.title);
            _.defaultsDeep(config.title, {
                classes: config.class.titleAdd,
                modifiers: config.class.title,
                attrs: {
                    id: config.idTitle
                }
            });
        }

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            tag: ul,
            classes: listAddClasses,
            modifiers: config.class.list
        });

        config.item = _.toPlainObject(config.item);
        _.defaultsDeep(config.item, {
            type: e,
            tag: li,
            classes: itemAddClasses,
            modifiers: config.class.item
        });

        config.dots = _.toPlainObject(config.dots);
        _.defaultsDeep(config.dots, {
            type: e,
            tag: defaultLinkTag,
            classes: dotsAddClasses,
            modifiers: [_.ifElse(config.dots.tag === a, config.class.link), config.class.dots]
        });

        config.nav = _.toPlainObject(config.nav);
        _.defaultsDeep(config.nav, {
            type: e,
            tag: defaultLinkTag,
            classes: arrowAddClasses,
            modifiers: [config.class.link],
            attrs: {
                href: formattedHref
            }
        });

        const dirs = ['prev', 'next'];
        dirs.forEach(direction => {
            config.nav[direction] = _.isUndefined(config.nav[direction]) ? {} : config.nav[direction];
            Object.keys(config.nav).forEach(key => {
                if (dirs.includes(key)) return;

                config.nav[direction][key] = config.nav[key];
            });
        });

        config.icon = _.toPlainObject(config.icon);
        _.defaultsDeep(config.icon, {
            type: e,
            tag: span,
            classes: iconAddClasses,
            modifiers: config.class.icon
        });

        config.current = _.toPlainObject(config.current);
        _.defaultsDeep(config.current, {
            type: e,
            tag: span,
            classes: currentLinkAddClasses,
            modifiers: [config.class.link, config.class.current],
            attrs: {
                href: formattedHref,
                title: removeHtml(config.current.title)
            }
        });

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            type: e,
            tag: a,
            classes: linkAddClasses,
            modifiers: config.class.link,
            attrs: {
                href: formattedHref
            }
        });

    //-html
    mixin paginationItem
        +b(config.item)
            block

    +b(config)&attributes(attributes)
        if config.title
            +b(config.title)

        +b(config.list)
            each item, currentItemNum in [...Array(config.total + 2)]
                //-Точки
                if (Math.abs(config.current.index - currentItemNum) > config.dots.offset) && (currentItemNum > 1) && (currentItemNum < config.total)
                    if (currentItemNum < config.current.index) && !dotsPrev
                        - dotsPrev = true;
                        +paginationItem
                            +b(config.dots)

                    if (currentItemNum > config.current.index) && !dotsNext
                        - dotsNext = true;
                        +paginationItem
                            +b(config.dots)

                //-Кнопка "Назад"
                else if currentItemNum === 0
                    if config.nav
                        -
                            const prevConfig = _.defaultsDeep({}, config.nav.prev, {
                                classes: config.nav.prev.classes.concat([
                                    `${config.class.mixinClass}-${config.class.prev}`,
                                    (config.nav.prev.inactive ? `${config.class.mixinClass}-${config.class.inactive}` : '')
                                ]),
                                attrs: {
                                    title: removeHtml(config.nav.prev.title),
                                    rel: 'prev'
                                }
                            });
                        +paginationItem
                            +b(prevConfig)
                                if config.nav.prev.sprite
                                    +b(config.icon)
                                        +sprite(config.nav.prev.sprite)

                                if config.nav.prev.content
                                    != config.nav.prev.content

                //-Кнопка "Вперёд"
                else if currentItemNum === (config.total + 1)
                    if config.nav
                        -
                            const nextConfig = _.defaultsDeep({}, config.nav.next, {
                                classes: config.nav.next.classes.concat([
                                    `${config.class.mixinClass}-${config.class.next}`,
                                    (config.nav.next.inactive ? `${config.class.mixinClass}-${config.class.inactive}` : '')
                                ]),
                                attrs: {
                                    title: removeHtml(config.nav.next.title),
                                    rel: 'next'
                                }
                            });
                        +paginationItem
                            +b(nextConfig)
                                if config.nav.next.content
                                    != config.nav.next.content

                                if config.nav.next.sprite
                                    +b(config.icon)
                                        +sprite(config.nav.next.sprite)

                //-Текущий элемент
                else if currentItemNum === config.current.index
                    -
                        const currentConfig = _.defaultsDeep({}, config.current, {
                            content: currentItemNum
                        });
                    +paginationItem
                        +b(currentConfig)

                //-Другие страницы
                else
                    -
                        const linkConfig = _.defaultsDeep({}, config.link, {
                            content: currentItemNum,
                            attrs: {
                                title: config.link.titleFormat(currentItemNum)
                            }
                        });
                    +paginationItem
                        +b(linkConfig)

        if !_.isUndefined(config.content)
            != config.content
        else
            block