-
    const page = {
        title: 'Мои клиенты',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top
                            +clientsControls

                        +personalWrapper
                            +clients

            +contentBottom
        +foot