@import 'main';

.header{
    &-slideout-button{
        &__inner{
            min-width: 100%;
        }
        &__button{
            width: $btn-height;
            min-width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            background: none;
            //&:hover,
            //&:focus{
            //    .header-slideout-button__bars{
            //        background: transparent;
            //        &::before{
            //            transform: translate(-50%, 6px) rotate(-45deg);
            //        }
            //        &::after{
            //            transform: translate(-50%, -6px) rotate(45deg);
            //        }
            //    }
            //}
        }
        &__bars{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 22px;
            height: 2px;
            background: $grey-darker;
            transform: translate(-50%, -50%);
            @include transition(background);
            @include before-after{
                left: 50%;
                width: 100%;
                height: 100%;
                background: $grey-darker;
                transform: translateX(-50%);
                @include transition(background transform);
            }
            &::before{
                top: -6px;
            }
            &::after{
                top: 6px;
            }
        }
    }
}