-
    /**
     * @function mixins.layout#slideoutButton
     * @desc Кнопка открытия основного выезжающего меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='slideout-button'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin slideoutButton(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'slideout-button';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +button({
                attrs: {
                    ariaExpanded: 'false'
                },
                title: 'Открыть меню',
                disabled: true
            })
                +e({
                    tag: span,
                    modifiers: 'bars'
                })

            block