@import 'main';

.cart{
    //Подвал
    &__bottom{
        min-width: 100%;
        margin-top: $global-margin * 3;
    }
    &-bottom{
        &__inner{
            justify-content: space-between;
        }

        &__total{
            display: flex;
            align-items: flex-start;
            min-width: 100%;
            margin-top: $global-margin * 1.25;
            @media (min-width: $media-sm){
                min-width: 0;
            }
            @media (min-width: $media-lg){
                justify-content: center;
                margin-top: -2px;
            }
        }
        &-total{
            &__inner{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                min-height: $btn-height;
            }
            &__item{
                min-width: 100%;
                color: $text-secondary;
                font-size: $size-md-px;
                @include m(total){
                    margin-bottom: -3px;
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-lg;
                    font-weight: $weight-medium;
                }
            }
            &__title,
            &__value{
                display: inline-block;
            }
            &__title{
                margin-right: 4px;
            }
            &__value{
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
                @include m(base){
                    position: relative;
                    display: inline-block;
                    color: $color-danger;
                    font-size: $size-primary;
                }
            }
            &__delivery{
                margin-top: $global-margin * .5;
                svg{
                    margin-right: 8px;
                }
            }
        }
    }

    //Блок перехода к оформлению заказа
    &__submit{
        min-width: col-width-px(2.25);
        margin-top: $global-margin * 1.5;
        @media (min-width: $media-sm){
            max-width: col-width-px(2.25);
        }
        @media (min-width: $media-lg){
            margin-top: 0;
        }
    }
    &-submit{
        &__button{
            min-width: 100%;
        }
    }

    &__empty{
        margin-top: $global-margin * 1.5;
    }
}