include /components/alert/template.pug
include /components/money/template.pug
include /components/tabs/template.pug

include ./cart-controls/template.pug
include ./cart-coupon/template.pug
include ./cart-table/template.pug

//-Миксины страницы корзины

-
    /**
     * @function mixins.layout#cartWrapper
     * @requires mixins.components#alert
     * @desc Обёртка страницы корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='cart'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cartWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'cart';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +mainContentCol
        +preload('order')

        +b(config)&attributes(attributes)
            if config.empty
                +alert({color: 'light'})
                    if config.cartType === 'wishlist'
                        | Ваше отложенное пусто
                    else
                        | Ваша корзина пуста

            else
                +e.inner
                    +e({
                        classes: row,
                        modifiers: row
                    })
                        block

-
    /**
     * @function mixins.layout#cartForm
     * @desc Форма страницы корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='form'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin cartForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'form';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +form({
            type: e,
            class: ''
        })
            +e({
                classes: row,
                modifiers: 'inner'
            })
                +r('cart')
                    block

-
    /**
     * @function mixins.layout#cartMenu
     * @requires mixins.components#tabs
     * @desc Меню корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='cart-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {number} [config.current=0] - .
     * @param {Object} [config.tabs={}] - .
     * @param {string} [config.tabs.classes=col] - .
     * @param {string} [config.tabs.navType='pills'] - .
     * @param {boolean} [config.tabs.menuOnly=true] - .
     * @param {boolean} [config.tabs.activeItem=config.current] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin cartMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'menu';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            current: 0,
            data: 'cart-menu',
            tabs: {
                classes: col,
                navType: 'pills',
                menuOnly: true
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        config.tabs.data = config.data;
        config.tabs.dataPath = config.dataPath;
        config.tabs.activeItem = config.current;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: 'inner'
        })
            +tabs(config.tabs)
                block

-
    /**
     * @function mixins.layout#cartBottom
     * @desc Нижний контейнер корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin cartBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            block

-
    /**
     * @function mixins.layout#cartTotal
     * @requires mixins.components#money
     * @desc Блок суммы товаров корзины.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.base=true] - .
     * @param {boolean} [config.discount=true] - .
     * @param {boolean} [config.total=true] - .
     * @param {boolean} [config.delivery=true] - .
     * @param {boolean} [config.weight=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='total'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin cartTotal(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'total';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            base: true,
            discount: true,
            total: true,
            delivery: true,
            weight: true,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e.wrapper
                if globalConfig.settings.basePrice
                    if config.base
                        +e.item.base
                            +e.title Товаров на сумму:
                            +e.value.base!= money.formatPrice(50000)

                    if config.discount
                        +e.item.discount
                            +e.title Скидка:
                            +e.value.discount!= money.formatPrice(10000)

                if config.total
                    +e.item.total
                        +e.title Итого:
                        +e.value.total!= money.formatPrice(8800000)

                if config.delivery
                    +e.item.delivery
                        +e.delivery
                            +sprite#car
                            | Бесплатная доставка

                if config.weight
                    +e.item.weight
                        +e.title Вес заказа:
                        +e.value 2.61 кг

            block

-
    /**
     * @function mixins.layout#cartSubmit
     * @desc Блок перехода к оформлению в корзине.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.continueButton] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='submit'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin cartSubmit(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'submit';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +r('cart')
        +b(config)&attributes(attributes)
            +e({
                classes: row,
                modifiers: 'inner'
            })
                if config.continueButton
                    +e({
                        classes: col,
                        modifiers: 'item'
                    })
                        +button({
                            tag: a,
                            modifiers: 'back',
                            content: 'Продолжить покупки',
                            color: 'secondary',
                            href: 'catalog'
                        })

                +e({
                    classes: col,
                    modifiers: 'item'
                })
                    +button({
                        modifiers: 'submit',
                        content: 'Оформить заказ',
                        color: 'primary',
                        buttonType: 'submit'
                    })

                block

-
    /**
     * @function mixins.layout#cart
     * @requires mixins.layout#cartWrapper
     * @requires mixins.layout#cartForm
     * @requires mixins.layout#cartTable
     * @requires mixins.layout#cartBottom
     * @requires mixins.layout#cartCoupon
     * @requires mixins.layout#cartTotal
     * @requires mixins.layout#cartSubmit
     * @desc Детальная страница новостей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.form] - .
     * @param {Bemoptions} [config.table] - .
     * @param {Bemoptions} [config.bottom] - .
     * @param {Bemoptions} [config.coupon] - .
     * @param {Bemoptions} [config.total] - .
     * @param {Bemoptions} [config.submit] - .
     * @param {boolean} [config.empty] - .
     * @param {string} [config.cartType] - .
     */
mixin cart(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            wrapper: {},
            table: {}
        });

        if (config.empty) {
            if (config.wrapper) {
                config.wrapper.empty = config.empty;
            }
        }

        if (config.cartType) {
            if (config.wrapper) {
                config.wrapper.cartType = config.cartType;
            }
            if (config.table) {
                config.table.cartType = config.cartType;
            }
        }

    //-html
    +cartWrapper(config.wrapper)
        if !config.empty
            +cartForm(config.form)
                +cartTable(config.table)

                if config.cartType !== 'wishlist'
                    +cartBottom(config.bottom)
                        +cartCoupon(config.coupon)

                        +cartTotal(config.total)

                        +cartSubmit(config.submit)

        block