@import 'main';

//Фейк-анимация для отслеживания автозаполнения поля
@keyframes autofill-start{
    from{
        box-sizing: inherit;
    }
    to{
        box-sizing: inherit;
    }
}

.float-label{
    position: relative;
    label{
        &:not(.is-valid):not(.is-invalid):not(.file-list){
            position: absolute;
            top: 11px;
            left: 0;
            z-index: 1;
            margin: 0;
            color: $text-primary;
            font-size: $size-ml-px;
            line-height: 1;
            @include transition(color top left font-size);
        }
    }

    .form-control{
        padding-left: 0;
        padding-right: 0;
        border: none;
        @include border-bottom($grey-lightest, $border-width-secondary);
        border-radius: 0;
        font-size: $size-ml-px;
        line-height: 1.25;
        box-shadow: none !important;
        @include placeholder{
            opacity: 0;
        }
        &:not(:disabled):not(.disabled){
            &:hover{
                border-color: palette(primary, bg);
            }
            &:focus{
                border-color: $color-primary;
                @include placeholder{
                    opacity: 1;
                }
            }
        }
        &:autofill{
            animation-name: autofill-start;
        }
    }

    //Внутри выпадающих списков
    .choices{
        &__inner{
            &.form-control{
                padding-left: 0 !important;
                padding-right: 0 !important;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                .icon{
                    margin-right: $global-padding * .5;
                }
            }
        }
        &__list{
            &--single{
                .choices__item[data-value='']{
                    color: transparent;
                }
            }
            &--dropdown{
                margin-top: 0;
                border-radius: 0;
            }
        }
        &.is-open,
        &.is-focused{
            .choices{
                &__inner{
                    &.form-control{
                        border-color: $color-primary;
                    }
                }
            }
        }
    }

    //Активный
    &.active{
        label{
            &:not(.is-valid):not(.is-invalid):not(.file-list){
                top: -8px;
                color: $grey-light;
                font-size: $size-sm-px;
            }
        }
    }

    //При фокусе
    &.focus{
        label{
            &:not(.is-valid):not(.is-invalid):not(.file-list){
                color: $color-primary;
            }
        }
    }
}