-
    /**
     * @function mixins.components#floatLabel
     * @desc Элемент формы с плавающим заголовком.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.floatLabelModifier='float-label'] - Дополнительный класс.
     * @example
     * include /components/input/template.pug
     *
     * +floatLabel({
     *     dataOptions: {inputSelect: 'input[type="text"]'}
     * })
     *     +label({
     *         for: 'test-input',
     *         content: 'Тест'
     *     })
     *     +input({
     *         formControl: true,
     *         id: 'test-input',
     *         name: 'INPUT'
     *     })
     */
mixin floatLabel(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'float-label';

        _.defaultsDeep(config, {
            dataInit: true,
            attrs: {
                dataFloatLabelOptions: config.dataOptions || null
            },
            class: {
                floatLabelModifier: mixinClass
            }
        });

        if (config.class.floatLabelModifier) {
            config.classes.push(config.class.floatLabelModifier);
        }
        if (config.dataInit) {
            _.defaults(config.attrs, {
                dataFloatLabel: ''
            });
        }

    //-html
    +formGroup(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block