@import 'main';

.sidebar + .col{
    .offer-detail{
        &-table{
            &-text{
                &__toggle{
                    @media (min-width: $media-xxl){
                        max-width: 340px;
                    }
                }
            }
        }
    }
}

.offer-detail{
    min-width: 100%;
    @media (min-width: $media-xl){
        display: flex;
        flex-direction: column;
    }

    //Верхняя часть
    &__top{
        min-width: 100%;
        @include col-attrs;
        .main-content__inner{
            width: 100% !important;
            margin: 0 !important;
            box-shadow: none !important;
            @media (min-width: $media-lg){
                padding-top: $global-margin * 2.75 !important;
            }
        }
    }
    &-top{
        &__wrapper{
            width: calc(100% + #{$container-padding * 2});
            margin: 0 (-$container-padding);
            background: $white;
            box-shadow: $shadow-size-lg rgba($shadow-color-primary, .05);
            @media (min-width: $media-md){
                width: 100%;
                margin: 0;
                border-radius: $radius-primary;
            }
        }
        &__title{
            min-width: 100%;
            margin-bottom: 0;
            @media (min-width: $media-lg){
                display: none;
            }
        }
        &__image{
            min-width: 100%;
            @media (min-width: $media-sm){
                min-width: col-width-px(2);
                max-width: col-width-px(2);
            }
            + .offer-detail-top__info{
                @media (min-width: $media-lg){
                    padding-left: $global-padding * 3;
                }
            }
        }
        &-image{
            &__inner{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 200px;
                margin-top: $global-margin * 1.5;
                overflow: hidden;
                @include border;
                border-radius: $radius-primary;
                @media (min-width: $media-lg){
                    margin-top: 0;
                }
            }
            &__link{
                display: inline-block;
            }
            &__image{
                margin: 0;
            }
        }
        &__info{
            max-width: col-width-px(6);
            .top{
                display: none;
                @media (min-width: $media-lg){
                    display: block;
                }
            }
        }
        &-info{
            &__text{
                min-width: 100%;
                margin-top: $global-margin * 1.5;
                @media (min-width: $media-lg){
                    margin-top: $global-margin * 1.25;
                }
            }
            &__phone,
            &__email{
                margin-top: $global-margin;
                font-family: $font-secondary;
                font-weight: $weight-medium;
                a{
                    color: $grey-darker;
                    text-decoration: none;
                    &:hover,
                    &:focus{
                        color: $color-primary;
                    }
                }
            }
            &__bottom{
                margin-top: $global-margin;
                @media (min-width: $media-sm){
                    display: flex;
                }
                > *{
                    &:not(:first-child){
                        @media (min-width: $media-sm){
                            margin-left: 30px;
                        }
                    }
                }
            }
        }

        &__actions{
            max-width: col-width-px(3);
            padding: 0 $container-padding $global-margin * 2;
            @media (min-width: $media-md){
                padding-left: $global-padding * 3.5;
                padding-right: $global-padding * 3.5;
            }
            @media (min-width: $media-xl){
                max-width: none;
                padding: 0;
                overflow: hidden;
                @include border-top($border-secondary);
                border-bottom-left-radius: $radius-primary;
                border-bottom-right-radius: $radius-primary;
            }
        }
        &-actions{
            &__title{
                margin: 0 0 $global-margin;
                font-size: $size-h3;
                @media (min-width: $media-xl){
                    display: none;
                }
            }
            &__items{
                @media (min-width: $media-xl){
                    display: flex;
                }
            }
            &__item{
                @media (min-width: $media-xl){
                    display: flex;
                    flex: 1 0 auto;
                    text-align: center;
                }
                &:not(:first-child){
                    @include border-top;
                    @media (min-width: $media-xl){
                        border-top: none;
                        @include border-left($border-secondary);
                    }
                }
            }
            &__link{
                display: flex;
                align-items: center;
                padding: 16px 7px;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-xs-px;
                font-weight: $weight-medium;
                text-transform: uppercase;
                text-decoration: none !important;
                @include after{
                    left: 0;
                    bottom: 0;
                    background: $color-primary;
                    opacity: 0;
                    @include transition(opacity);
                    @media (min-width: $media-xl){
                        width: 100%;
                        height: 5px;
                    }
                }
                @media (min-width: $media-xl){
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 100%;
                    padding: 25px 0;
                    text-decoration: none !important;
                }
                &:hover,
                &:focus{
                    &::after{
                        @media (min-width: $media-xl){
                            opacity: 1;
                        }
                    }
                }
                @include m(remove){
                    &:focus,
                    &:hover{
                        color: palette(danger, color);
                    }
                    &::after{
                        @media (min-width: $media-xl){
                            background: palette(danger, color);
                        }
                    }
                }
            }
            &__icon{
                position: relative;
                top: -1px;
                display: flex;
                justify-content: center;
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    //Таблица
    &__table{
        display: flex;
        flex-basis: auto;
        min-width: 100%;
        min-height: auto;
        margin-top: $section-margin;
        .main-content__inner{
            @media (min-width: $media-md){
                width: 100%;
                margin: 0;
                padding-left: $global-padding * 3.5;
                padding-right: $global-padding * 3.5;
                border-radius: $radius-primary;
            }
            @media (min-width: $media-lg){
                padding-top: $global-margin * 2.75 !important;
            }
        }
    }
    &-table{
        &__table,
        &__tbody,
        &__cell{
            display: block;
        }
        &__table{
            width: calc(100% + #{$container-padding * 2});
            margin: 0 (-$container-padding);
            @include border-bottom($border-secondary);
            @media (min-width: $media-lg){
                display: table;
                width: 100%;
                margin: 0;
            }
        }
        &__thead{
            display: none;
            @media (min-width: $media-lg){
                display: table-header-group;
            }
        }
        &__tbody{
            @media (min-width: $media-lg){
                display: table-row-group;
            }
        }
        &__row{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: $global-margin * 1.5 $container-padding $global-margin * 2;
            @media (min-width: $media-lg){
                display: table-row;
            }
            &:not(:first-child){
                @include border-top($border-secondary);
            }
        }
        &__header-cell,
        &__cell{
            @media (min-width: $media-lg){
                display: table-cell;
                vertical-align: top;
            }
        }
        &__header-cell{
            @media (min-width: $media-lg){
                padding: 11px 21px;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-sl-px;
                font-weight: $weight-medium;
                white-space: nowrap;
                text-align: center;
                background: $bg-primary;
            }
            &:first-child{
                @media (min-width: $media-lg){
                    border-top-left-radius: $radius-primary;
                }
            }
            &:last-child{
                @media (min-width: $media-lg){
                    border-top-right-radius: $radius-primary;
                }
            }
            @include m(properties){
                @media (min-width: $media-lg){
                    padding: 0;
                }
                .offer-detail-table{
                    &__header{
                        @media (min-width: $media-lg){
                            display: table;
                            width: 100%;
                        }
                    }
                    &__header-cell{
                        @media (min-width: $media-lg){
                            display: table-cell;
                            width: 25%;
                            padding-left: 0;
                            padding-right: 0;
                            @include border-left($border-secondary);
                        }
                    }
                }
            }
        }
        &__cell{
            min-width: 100%;
            @media (min-width: $media-lg){
                width: 50%;
                min-width: auto;
                padding: $global-margin * 1.15 21px;
            }
            @include m(title){
                @media (min-width: $media-lg){
                    text-align: left;
                }
            }
            @include m(properties){
                @media (min-width: $media-lg){
                    padding: 0;
                }
            }
        }

        &__info{
            display: flex;
            flex-wrap: wrap;
            @media (min-width: $media-lg){
                flex-wrap: nowrap;
            }
        }
        &__image{
            min-width: 100%;
            @media (min-width: $media-lg){
                min-width: 50px;
                max-width: 50px;
            }
            + .offer-detail-table__text{
                margin-top: $global-margin;
                @media (min-width: $media-lg){
                    max-width: calc(100% - #{50px});
                    margin-top: 0;
                    padding-left: $global-padding * 1.75;
                }
            }
        }
        &-image{
            &__link{
                display: inline-block;
            }
            &__image{
                max-height: 140px;
                margin: 0;
                @media (min-width: $media-lg){
                    max-height: 50px;
                }
            }
        }
        &-text{
            &__title{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-h2-px;
                font-weight: $weight-medium;
                line-height: $line-height-sm;
                text-decoration: none !important;
                @media (min-width: $media-lg){
                    font-size: $size-primary;
                }
            }
            &__toggle{
                display: none;
                flex-wrap: wrap;
                margin-top: 5px;
                @media (min-width: $media-lg){
                    display: flex;
                }
            }
            &-toggle{
                &__button{
                    color: $color-primary;
                    font-size: $size-md;
                    @media (min-width: $media-lg){
                        order: 2;
                    }
                }
                &__text{
                    @media (min-width: $media-lg){
                        padding: $global-padding * .5 0;
                        font-size: $size-ml-px;
                    }
                }
            }
        }

        &__properties{
            margin: 0 -8px;
            @media (min-width: $media-lg){
                margin: 0;
            }
        }
        &-properties{
            &__table,
            &__tbody{
                display: block;
            }
            &__table{
                min-width: 100%;
                margin-top: $global-margin * .5;
                @media (min-width: $media-lg){
                    display: table;
                    min-height: 92px;
                    margin: 0;
                }
            }
            &__thead{
                display: none;
            }
            &__tbody{
                @media (min-width: $media-lg){
                    display: table-row-group;
                }
            }
            &__row{
                display: flex;
                flex-wrap: wrap;
                @media (min-width: $media-lg){
                    display: table-row;
                }
            }
            &__cell{
                display: flex;
                align-items: center;
                min-width: 100%;
                padding: 8px;
                @media (min-width: $media-lg){
                    display: table-cell;
                    width: 25%;
                    min-width: auto;
                    min-height: 92px;
                    padding: $global-margin * 1.5 0;
                    @include border-left($border-secondary);
                    white-space: nowrap;
                    text-align: center;
                    @include transition(background-color);
                }
                &.hover{
                    @media (min-width: $media-lg){
                        background-color: $table-odd-bg;
                    }
                }
            }
            &__name{
                min-width: 90px;
                max-width: 90px;
                font-size: $size-primary-px;
                white-space: nowrap;
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &__value{
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-primary-px;
                font-weight: $weight-medium;
                @media (min-width: $media-lg){
                    font-size: $size-sm;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__toggle{
                margin-top: $global-margin;
                padding: 0 8px;
                @media (min-width: $media-lg){
                    margin: 0;
                    padding: 0;
                }
            }
            &-toggle{
                &__button{
                    color: $color-primary;
                    @media (min-width: $media-lg){
                        display: none;
                    }
                }
            }
            &__inner{
                padding-top: $global-margin * .5;
                @media (min-width: $media-lg){
                    padding-top: 0;
                    @include border-top($border-secondary);
                    @include border-left($border-secondary);
                }
            }
            &__text{
                font-size: $size-md-px;
                @media (min-width: $media-lg){
                    display: none;
                }
            }
            &__list{
                margin-top: $global-margin * 1.5;
                font-family: $font-primary;
                font-weight: $weight-normal;
                @media (min-width: $media-lg){
                    margin: 0;
                    padding: 15px 27px 21px;
                    column-count: 2;
                    column-gap: $global-gutter;
                }
            }

            &__property{
                margin-top: $global-margin * .5;
                font-size: $size-md-px;
                @media (min-width: $media-lg){
                    display: inline-block;
                    width: 100%;
                    margin-top: 0;
                    padding-top: $global-margin * .5;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
            &__comment{
                display: flex;
                margin: $global-margin * 1.5 (-$container-padding - 1) 0;
                padding: $global-margin * 1.5 $container-padding;
                color: $grey-darker;
                font-size: $size-md-px;
                background: palette(warning, bg);
                @media (min-width: $media-lg){
                    margin: 0;
                    padding-left: 27px;
                    padding-right: 27px;
                }
            }
            &-comment{
                &__text{
                    margin-left: 9px;
                }
            }
        }

        &__bottom{
            margin-top: $global-margin * 2;
        }
        &-bottom{
            &__inner{
                @media (min-width: $media-lg){
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            &__sum,
            &__actions,
            &__buttons{
                @media (min-width: $media-lg){
                    flex-basis: auto;
                    flex-grow: 0;
                    width: auto;
                    min-width: 0;
                    margin-top: 0;
                }
            }
            &__sum{
                min-width: 100%;
                &:last-child{
                    margin-left: auto;
                }
            }
            &-sum{
                &__price{
                    white-space: nowrap;
                    @include m(sum){
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-h2;
                        font-weight: $weight-medium;
                    }
                    @include m(profit){
                        margin-top: -4px;
                        color: $text-secondary;
                        font-size: $size-md-px;
                    }
                    a[href^='tel:']{
                        color: inherit;
                        pointer-events: none;
                    }
                }
            }
            &__actions{
                min-width: 100%;
                margin-top: $global-margin * 1.5;
            }
            &-actions{
                &__title{
                    display: inline-block;
                    margin-right: 11px;
                    color: $header-primary;
                    font-family: $font-secondary;
                    font-size: $size-md-px;
                    font-weight: $weight-medium;
                }
                &__link{
                    @include m(format){
                        display: inline-block;
                        margin-right: 10px;
                        padding: 4px 8px 3px;
                        border-top-left-radius: $radius-primary;
                        border-bottom-right-radius: $radius-primary;
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-xs-px;
                        font-weight: $weight-medium;
                        background: palette(info, bg);
                        &:focus,
                        &:hover{
                            color: $color-primary;
                            text-decoration: none;
                            background: palette(warning, bg);
                        }
                    }
                }
                &__button{
                    min-width: 100%;
                    margin-top: $global-margin * 1.5;
                }
            }
            &__button{
                margin-top: $global-margin * 1.5;
                @media (min-width: $media-sm){
                    min-width: 0;
                }
                @media (min-width: $media-lg){
                    margin-top: 0;
                }
                @include m(save){
                    @media (min-width: $media-lg){
                        min-width: col-width-px(2.25);
                    }
                }
            }
        }
    }
}