include /components/collapse/template.pug
include /components/money/template.pug
include /components/table/template.pug

-
    /**
     * @function mixins.layout#offerDetail
     * @desc Страница просмотра КП.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='offer-detail'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.image=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='offer-detail'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin offerDetail(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'offer-detail';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'offer-detail',
            image: true,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }
        const newData = data.new;

        newData.image = setImageProps(config.dataPath, newData.image, newData.title);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const actions = [
            {
                content: 'В корзину',
                sprite: 'cart'
            },
            {
                content: 'Скачать',
                sprite: 'arrow-download'
            },
            {
                content: 'Распечатать',
                sprite: 'notepad'
            },
            {
                content: 'Редактировать',
                sprite: 'profile-add'
            },
            {
                content: 'Удалить',
                sprite: 'trash'
            }
        ];

    //-html
    +b(config)&attributes(attributes)
        +be.top
            +e.wrapper
                +r('main-content')
                    +mainContentInner
                        +r(`${mixinClass}-top`)
                            +e({
                                modifiers: 'title',
                                classes: ['h1', col],
                                content: newData.title
                            })

                            if config.image
                                +be({
                                    modifiers: 'image',
                                    classes: col
                                })
                                    +e.inner
                                        +image({
                                            src: newData.image.src,
                                            alt: newData.image.alt
                                        })

                            +be({
                                modifiers: 'info',
                                classes: col
                            })
                                +e({
                                    modifiers: 'inner',
                                    classes: row
                                })
                                    +top({title: removeHtml(newData.title)})

                                    +e({
                                        modifiers: 'text',
                                        classes: col,
                                        content: newData.comment
                                    })

                                    +e({
                                        modifiers: 'bottom',
                                        classes: col
                                    })
                                        +e.phone
                                            a(href=transformToTel(newData.phone))!= newData.phone

                                        +e.email
                                            a(href=transformToEmail(newData.email))!= newData.email

                +be.actions
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Действия'
                    })

                    +e.items
                        each actionItem, actionIndex in actions
                            +e.item
                                +link({modifiers: (actionIndex === (actions.length - 1)) ? 'remove' : ''})
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite(actionItem.sprite)
                                    +e({
                                        tag: span,
                                        modifiers: 'text',
                                        content: actionItem.content
                                    })

        block

-
    /**
     * @function mixins.layout#offerDetailTable
     * @requires mixins.components#collapse
     * @requires mixins.components#money
     * @desc Таблица страницы просмотра КП.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.max] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='table'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin offerDetailTable(config)
    -
        if (!globalConfig.settings.offers) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'table';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            max: 7,
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        items.forEach(item => {
            item.image = setImageProps(config.dataPath, item.image, item.title);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('offer-detail')
        +b(config)&attributes(attributes)
            +r('main-content')
                +mainContentInner
                    +mainContentCol
                        +r('offer-detail-table')
                            +table({
                                dataTable: 'false',
                                tableClass: false
                            })
                                +tableHead
                                    +tableRow
                                        +tableCell({
                                            header: true,
                                            modifiers: 'title',
                                            content: 'Товар'
                                        })
                                        +tableCell({
                                            header: true,
                                            modifiers: 'properties'
                                        })
                                            +e.header
                                                if globalConfig.settings.rrp
                                                    +e({
                                                        modifiers: ['header-cell', 'rrp'],
                                                        attrs: {
                                                            dataHover: 'rrp'
                                                        },
                                                        content: 'РРЦ'
                                                    })
                                                +e({
                                                    modifiers: ['header-cell', 'sell'],
                                                    attrs: {
                                                        dataHover: 'sell'
                                                    },
                                                    content: 'Продажа'
                                                })
                                                +e({
                                                    modifiers: ['header-cell', 'quantity'],
                                                    attrs: {
                                                        dataHover: 'quantity'
                                                    },
                                                    content: 'Кол-во'
                                                })
                                                +e({
                                                    modifiers: ['header-cell', 'sum'],
                                                    attrs: {
                                                        dataHover: 'sum'
                                                    },
                                                    content: 'Сумма'
                                                })

                                +tableBody
                                    each item, currentNum in [...Array(config.max)]
                                        -
                                            if (currentNum >= items.length) return;
                                            const currentItem = items[currentNum];
                                        +tableRow
                                            +tableCell({modifiers: 'title'})
                                                +e.info
                                                    +be.image
                                                        +link({href: 'product'})
                                                            +image({
                                                                src: currentItem.image.src,
                                                                alt: currentItem.image.alt
                                                            })

                                                    +be.text
                                                        +link({
                                                            href: 'product',
                                                            class: 'title',
                                                            content: currentItem.title
                                                        })

                                                        +e.description
                                                            +collapse({
                                                                id: `offer-detail-description${currentNum + 1}`,
                                                                button: {
                                                                    content: 'Описание',
                                                                    controls: [`offer-detail-description${currentNum + 1}`, `offer-detail-properties${currentNum + 1}`]
                                                                },
                                                                class: {
                                                                    buttonAdd: 'link-dashed'
                                                                }
                                                            })
                                                                +e.text Женский топ от компании Найк со средней степенью поддержки и компрессионной посадкой предназначен для разных видов спорта. Благодаря технологии Dri-FIT, излишки влаги выводятся и обеспечивается должный комфорт. Удобные бретельки не натирают и расширяют диапазон движений. Т-образная конструкция спинки не сковывает движения.

                                            +tableCell({modifiers: 'properties'})
                                                +be.properties
                                                    +table({tableClass: false})
                                                        +tableHead
                                                            +tableRow
                                                                if globalConfig.settings.rrp
                                                                    +tableCell({
                                                                        header: true,
                                                                        modifiers: 'rrp',
                                                                        content: 'РРЦ'
                                                                    })
                                                                +tableCell({
                                                                    header: true,
                                                                    modifiers: 'sell',
                                                                    content: 'Продажа'
                                                                })
                                                                +tableCell({
                                                                    header: true,
                                                                    modifiers: 'quantity',
                                                                    content: 'Кол-во'
                                                                })
                                                                +tableCell({
                                                                    header: true,
                                                                    modifiers: 'sum',
                                                                    content: 'Сумма'
                                                                })

                                                        +tableBody
                                                            +tableRow
                                                                if globalConfig.settings.rrp
                                                                    +tableCell({
                                                                        modifiers: 'rrp',
                                                                        attrs: {
                                                                            dataHover: 'rrp'
                                                                        }
                                                                    })
                                                                        +e.name РРЦ:
                                                                        +e.value!= money.formatPrice(800)
                                                                +tableCell({
                                                                    modifiers: 'sell',
                                                                    attrs: {
                                                                        dataHover: 'sell'
                                                                    }
                                                                })
                                                                    +e.name Продажа:
                                                                    +e.value!= money.formatPrice(1150)
                                                                +tableCell({
                                                                    modifiers: 'quantity',
                                                                    attrs: {
                                                                        dataHover: 'quantity'
                                                                    }
                                                                })
                                                                    +e.name Кол-во:
                                                                    +e.value #[span 50] #[span.unit шт.]
                                                                +tableCell({
                                                                    modifiers: 'sum',
                                                                    attrs: {
                                                                        dataHover: 'sum'
                                                                    }
                                                                })
                                                                    +e.name Сумма:
                                                                    +e.value!= money.formatPrice(100000)

                                                    +collapse({
                                                        id: `offer-detail-description${currentNum + 1}`,
                                                        button: {
                                                            content: 'Описание'
                                                        },
                                                        contentBlock: {
                                                            dataCollapseId: true,
                                                            attrs: {
                                                                id: `offer-detail-properties${currentNum + 1}`
                                                            }
                                                        },
                                                        class: {
                                                            buttonAdd: 'link-dashed'
                                                        }
                                                    })
                                                        +r('offer-detail-table-properties')
                                                            +e.inner
                                                                +e.text Женский топ от компании Найк со средней степенью поддержки и компрессионной посадкой предназначен для разных видов спорта. Благодаря технологии Dri-FIT, излишки влаги выводятся и обеспечивается должный комфорт. Удобные бретельки не натирают и расширяют диапазон движений. Т-образная конструкция спинки не сковывает движения.

                                                                +e.list
                                                                    //-TODO:get from data
                                                                    +e.property!= `Артикул: ${currentItem.number}`
                                                                    +e.property!= 'Размер: -'
                                                                    +e.property!= 'Материал: хлопок 35%, полиэстер 65%, плотность 180 г/м2'
                                                                    +e.property!= 'Тип нанесения: тиснение блинтовое, тиснение с фольгой, шелкография, тиснение, уф печать'
                                                                    +e.property!= 'Бренд: Polo & Pan'
                                                                    +e.property!= 'Цвет: Синий'

                                                                +be.comment
                                                                    +e.icon
                                                                        +sprite#speech-balloon
                                                                    +e.text Дополнительный комментарий или пометка

                            +be.bottom
                                +e({
                                    modifiers: 'inner',
                                    classes: row
                                })
                                    +be({
                                        modifiers: 'sum',
                                        classes: col
                                    })
                                        +e({
                                            modifiers: ['price', 'sum'],
                                            content: `Итого: ${money.formatPrice(148000)}`
                                        })
                                        +e({
                                            modifiers: ['price', 'profit'],
                                            content: `Прибыль: ${money.formatPrice(50000)}`
                                        })

                                    +be({
                                        modifiers: 'actions',
                                        classes: col
                                    })
                                        +e.download
                                            +e.title Скачать:
                                            +link({
                                                modifiers: 'format',
                                                download: true,
                                                content: '*.XLS'
                                            })
                                            +link({
                                                modifiers: 'format',
                                                download: true,
                                                content: '*.PDF'
                                            })

                                    +e({
                                        modifiers: 'buttons',
                                        classes: col
                                    })
                                        +button({
                                            tag: a,
                                            modifiers: 'save',
                                            content: 'Выгрузить в корзину',
                                            color: 'primary'
                                        })

                block