-
    const page = {
        title: 'Страница статьи'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug
include /layout/news/template.pug

-
    page.subtitle = getDataContents('news').items[0].title;

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                ['О компании', 'about'],
                                ['Статьи', 'articles'],
                                page.subtitle
                            ]
                        })

                        +top({title: page.subtitle})

                        +textContainer
                            +newsDetail({
                                data: 'news',
                                back: {
                                    href: 'articles',
                                    content: 'Вернуться к списку статей'
                                }
                            })

                    +bottom
                        //-Слайдер "Сопутствующие товары"
                        +cardSlider({
                            modifiers: 'relative',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            maxItems: 4,
                            title: {
                                content: 'Связанные товары'
                            }
                        })

            +contentBottom
        +foot