@import 'main';

.order{
    &__aside{
        display: none;
        @media (min-width: $media-xl){
            display: block;
            margin-top: -10px;
        }
    }
    &-aside{
        &__inner{
            position: absolute;
            top: 0;
            z-index: 10;
            width: 100%;
            max-width: 491px;
            margin-left: -$container-padding;
            margin-right: -$container-padding;
            @include border;
            border-left: none;
            border-right: none;
            @media (max-width: $media-xl-max){
                position: static !important;
                width: calc(100% + #{$container-padding * 2}) !important;
                border: none;
            }
            @media (min-width: $media-md){
                margin-left: 0;
                margin-right: 0;
                @include border;
                border-radius: $radius-primary;
            }
            @media (min-width: $media-xl){
                transform: translateY(10px);
            }
            &.fixed-bottom{
                position: absolute;
                top: auto !important;
                left: $global-padding;
            }
        }

        //Корзина
        &__items{
            padding-top: 6px;
        }
        &__item{
            display: flex;
            padding: 18px $container-padding;
        }
        &__image{
            min-width: 78px;
            max-width: 78px;
        }
        &-image{
            &__image{
                margin: 0;
            }
        }
        &__info{
            flex: 1 0 auto;
            max-width: calc(100% - 78px);
            padding-left: 15px;
        }
        &__row{
            @include row(12px);
            margin-top: -12px;
            @media (min-width: $media-iphone4-height){
                flex-wrap: nowrap;
            }
        }
        &__col{
            min-width: 100%;
            margin-top: 12px;
            padding-left: 6px;
            padding-right: 6px;
            @media (max-width: $media-iphone4-height-max){
                &:first-child{
                    .order-aside__col{
                        &-title{
                            display: none;
                        }
                        &-content{
                            margin-top: 0;
                        }
                    }
                }
            }
            @media (min-width: $media-iphone4-height){
                min-width: auto;
            }
            @include m(info){
                @media (min-width: $media-iphone4-height){
                    min-width: calc(100% - #{108px + 68});
                    max-width: calc(100% - #{108px + 68});
                }
            }
            @include m(quantity){
                @media (min-width: $media-iphone4-height){
                    min-width: 108px;
                    max-width: 108px;
                }
            }
            @include m(price){
                @media (min-width: $media-iphone4-height){
                    min-width: 68px;
                    max-width: 68px;
                    text-align: right;
                }
            }
            &-title{
                color: $grey-light;
                font-size: $size-md-px;
                text-transform: uppercase;
            }
            &-content{
                margin-top: 8px;
                font-size: $size-md-px;
                line-height: $line-height-md;
            }
        }
        &__title{
            color: $text-primary;
            text-decoration: none;
            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }
        &__text{
            margin-top: 6px;
            color: $text-secondary;
        }
        &__quantity{
            color: $text-secondary;
        }
        &__price{
            display: flex;
            flex-wrap: wrap;
        }
        &-price{
            &__item{
                @media (min-width: $media-iphone4-height){
                    min-width: 100%;
                    margin-left: 0 !important;
                    text-align: right;
                }
                &:not(:first-child){
                    margin-left: 18px;
                }
                @include m(base){
                    color: $grey-light;
                    text-decoration: line-through;
                }
            }
        }

        //Итого
        &__total{
            position: relative;
            padding: 18px $container-padding 22px;
            @include before{
                top: 0;
                left: $container-padding;
                width: calc(100% - #{$container-padding * 2});
                @include border-top;
            }
        }
        &-total{
            &__row{
                @include row(0);
                justify-content: space-between;
                font-size: $size-md-px;
                &:not(:first-child){
                    margin-top: $global-margin;
                }
                @include m(sum){
                    font-weight: $weight-bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}