include /components/money/template.pug

-
    /**
     * @function mixins.layout#orderAside
     * @requires mixins.components#money
     * @desc Плавающий блок корзины на странице заказа.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='aside'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin orderAside(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'aside';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-item',
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }
        items = items.slice(0, 2);

        items.forEach(item => {
            item.imagePreview = setImageProps(config.dataPath, item.imagePreview, item.title);
        });

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e.items
                each catalogItem in items
                    +e.item
                        +be.image
                            +link({href: catalogItem.href})
                                +image({
                                    src: catalogItem.imagePreview.src,
                                    alt: catalogItem.imagePreview.alt
                                })

                        +e.info
                            +e.row
                                +e.col.info
                                    +e.col-title Товар
                                    +e.col-content
                                        +link({
                                            href: catalogItem.href,
                                            content: catalogItem.title,
                                            class: 'title'
                                        })
                                        +e.text Размер: S#[br]Цвет: Черный

                                +e.col.quantity
                                    +e.col-title Количество
                                    +e.col-content
                                        +be.quantity 2

                                +e.col.price
                                    +e.col-title Цена
                                    +e.col-content
                                        +be.price
                                            +e.item.current!= money.formatPrice(catalogItem.price.current)
                                            if catalogItem.price.base
                                                +e.item.base!= money.formatPrice(catalogItem.price.base)

            +be.total
                +e.items
                    +e.row
                        +e.title Товаров на сумму
                        +e.value!= money.formatPrice(16498)

                    +e.row
                        +e.title Скидка
                        +e.value!= money.formatPrice(796)

                    +e.row
                        +e.title Доставка
                        +e.value!= money.formatPrice(500)

                    +e.row.sum
                        +e.title Итого
                        +e.value!= money.formatPrice(15498)

        block