@import 'main';

//Кнопка закрытия
.close{
    position: relative;
    display: inline-block;
    float: none;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    border: none;
    color: $text-secondary;
    background: none;
    cursor: $cursor-pointer;
    opacity: 1;
    @include transition(color opacity);
    @include before-after{
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        border-radius: 1px;
        background: currentColor;
    }
    &::before{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after{
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:not(:disabled):not(.disabled){
        &:hover,
        &:focus{
            opacity: .65;
        }
    }
}