-
    /**
     * @function mixins.components#close
     * @desc Кнопка закрытия (удаления).
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {string} [config.title] - .
     * @param {string} [config.buttonType] - .
     * @param {string} [config.role] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='close'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.closeAdd=config.class.mixinClass] - .
     * @example
     * +close({
     *     title: 'Закрыть',
     *     content: 'Закрыть'
     * })
     */
mixin close(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'close';

        _.defaultsDeep(config, {
            type: e,
            tag: span,
            attrs: {},
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            closeAdd: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.closeAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const isButton = config.tag === button;

        _.defaults(config.attrs, {
            type: _.isUndefined(config.buttonType) ? _.ifElse(isButton, 'button') : config.buttonType,
            role: _.isUndefined(config.role) ? _.ifElse(!isButton, 'button') : config.role,
            title: removeHtml(config.title) || null
        });

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block