//-TODO:coords as array

-
    /**
     * @function mixins.components#map
     * @desc Контейнер карты.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {string} [config.placemarkCoords] - .
     * @param {string} [config.placemarkContent] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='map'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @example
     * +map({
     *     placemarkCoords: '1234,5678',
     *     placemarkContent: 'Адрес',
     *     dataMapOptions: {},
     *     dataInit: true
     * })
     */
mixin map(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'map';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataMap: config.dataInit ? '' : null,
                dataMapOptions: config.dataOptions || null
            },
            class: {
                mixinClass
            }
        });

        if (config.placemarkCoords || config.placemarkContent) {
            config.attrs.dataMapOptions = _.toPlainObject(config.attrs.dataMapOptions);
            _.defaultsDeep(config, {
                attrs: {
                    dataMapOptions: {
                        placemarkCoords: config.placemarkCoords || null,
                        placemarkContent: config.placemarkContent || null
                    }
                },
                class: {
                    block: config.class.mixinClass || mixinClass
                }
            });
        }

        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
    * @function mixins.components#yandexMapsScript
     * @desc Скрипт карт Яндекса.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.async=true] - .
     * @param {boolean} [config.prefetch] - .
     * @param {string} [config.hrefBase='//api-maps.yandex.ru/2.1/'] - .
     * @example
     * +yandexMapsScript
     *
     * @example
     * +yandexMapsScript({prefetch: true})
     */
mixin yandexMapsScript(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            async: true,
            hrefBase: '//api-maps.yandex.ru/2.1/'
        });

        const href = `${hrefBase}?lang=${page.lang}_${page.region}`;

    //-html
    if config.prefetch
        link(
            rel='prefetch',
            href=href,
            as='script')
    else
        script(
            src=href,
            async=config.async ? '' : null,
            defer=config.async ? '' : null)

    block