-
    const page = {
        title: 'Восстановление пароля',
        type: 'form'
    };
include /base/templates/main.pug

include /layout/form/template.pug

+html
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +top

                        +mainContentCol
                            +restorepassForm

            +contentBottom
        +foot