include /layout/card-slider/template.pug
include /layout/catalog-item/template.pug

-
    /**
     * @function mixins.layout#indexCardSlider
     * @requires mixins.layout#cardSlider
     * @requires mixins.layout#catalogItem
     * @desc Слайдеры карточек на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemmodifiers} [config.modifiers='recent'] - .
     * @param {Data} [config.data='catalog-item'] - .
     * @param {string} [config.cardType='catalogItem'] - .
     * @param {Object} [config.title={}] - .
     * @param {string} [config.title.content='Вы недавно смотрели'] - .
     */
mixin indexCardSlider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            modifiers: 'recent',
            data: 'catalog-item',
            cardType: 'catalogItem',
            title: {
                content: 'Вы недавно смотрели'
            }
        });

    //-html
    +cardSlider(config)&attributes(attributes)
        block