@import 'main';

.popover{
    opacity: 0;
    pointer-events: none;

    //Ссылка
    &-link{
        position: relative;
        display: inline-block;
        padding: 0;
        @include border(transparent, $border-width-secondary);
        color: $white;
        font-size: 11px;
        font-weight: $weight-bold;
        line-height: 16px - $border-width-secondary * 2;
        text-align: center;
        background: $color-primary;
        @include transition(background color border-color);
        @include circle(16px);
        @include before{
            top: 50%;
            left: 50%;
            width: $btn-height;
            height: $btn-height;
            margin: (-$btn-height * .5) 0 0 (-$btn-height * .5);
        }
        &:hover,
        &:focus{
            background: palette(primary, light);
        }
    }
}