@import 'main';

$arrow-size: .5rem;

.popover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    max-width: col-width-px(3) - $global-padding * 2;
    margin: 0 !important;
    padding: $global-margin * .75 $global-padding * 2;
    border: none;
    border-radius: $radius-primary;
    font-family: $font-primary;
    font-size: $size-md-px;
    font-weight: $weight-normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: normal;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    text-shadow: none;
    word-wrap: break-word;
    word-break: normal;
    word-spacing: normal;
    line-break: auto;
    background-color: $white;
    box-shadow: $shadow-lg;
    @include transition(opacity top left bottom right);
    &.show{
        opacity: 1;
        pointer-events: auto;
    }

    //Стрелка
    &-arrow{
        position: absolute;
        z-index: 10;
        display: block;
        @include after{
            border-color: transparent;
            border-style: solid;
        }
    }

    //Направления
    &.popover-top:not([data-popper-placement]),
    &[data-popper-placement='top']{
        bottom: 4px !important;
        &.show{
            bottom: 14px !important;
        }
        .popover-arrow{
            left: -$arrow-size !important;
            bottom: -$arrow-size;
            height: $arrow-size;
            &::before,
            &::after{
                border-width: $arrow-size $arrow-size 0 $arrow-size;
            }
            &::before{
                bottom: 0;
                border-top-color: $border-primary;
            }
            &::after{
                bottom: 1px;
                border-top-color: $white;
            }
        }
    }
    &.popover-top.show:not([data-popper-placement]){
        .popover-arrow{
            left: 50% !important;
            width: $arrow-size * 2;
            transform: translateX(-50%);
        }
    }
    &.popover-right:not([data-popper-placement]),
    &[data-popper-placement='right']{
        left: 4px !important;
        &.show{
            left: 14px !important;
        }
        .popover-arrow{
            top: -$arrow-size !important;
            left: -$arrow-size;
            width: $arrow-size;
            &::before,
            &::after{
                border-width: $arrow-size $arrow-size $arrow-size 0;
            }
            &::before{
                left: 0;
                border-right-color: $border-primary;
            }
            &::after{
                left: 1px;
                border-right-color: $white;
            }
        }
    }
    &.popover-right.show:not([data-popper-placement]){
        .popover-arrow{
            top: 50% !important;
            height: $arrow-size * 2;
            transform: translateY(-50%);
        }
    }
    &.popover-bottom:not([data-popper-placement]),
    &[data-popper-placement='bottom']{
        top: 4px !important;
        &.show{
            top: 14px !important;
        }
        .popover-arrow{
            top: -$arrow-size;
            left: -$arrow-size !important;
            height: $arrow-size;
            &::before,
            &::after{
                border-width: 0 $arrow-size $arrow-size $arrow-size;
            }
            &::before{
                top: 0;
                border-bottom-color: $border-primary;
            }
            &::after{
                top: 1px;
                border-bottom-color: $white;
            }
        }
    }
    &.popover-bottom.show:not([data-popper-placement]){
        .popover-arrow{
            left: 50% !important;
            width: $arrow-size * 2;
            transform: translateX(-50%);
        }
    }
    &.popover-left:not([data-popper-placement]),
    &[data-popper-placement='left']{
        right: 4px !important;
        &.show{
            right: 14px !important;
        }
        .popover-arrow{
            top: -$arrow-size !important;
            right: -$arrow-size;
            width: $arrow-size;
            &::before,
            &::after{
                border-width: $arrow-size 0 $arrow-size $arrow-size;
            }
            &::before{
                right: 0;
                border-left-color: $border-primary;
            }
            &::after{
                right: 1px;
                border-left-color: $white;
            }
        }
    }
    &.popover-left.show:not([data-popper-placement]){
        .popover-arrow{
            top: 50% !important;
            height: $arrow-size * 2;
            transform: translateY(-50%);
        }
    }

    //Заголовок
    &-header{
        padding: $global-margin * .75 0;
        color: $grey-darker;
        font-family: $font-secondary;
        font-size: $size-primary-px;
        font-weight: $weight-medium;
        &:empty{
            display: none;
        }
    }

    //Контент
    &-body{
        padding: 0 0 $global-margin * .75;
        font-size: $size-md-px;
        &:empty{
            display: none;
        }
        a{
            text-decoration: underline;
            &:hover,
            &:focus{
                text-decoration: none;
            }
        }
    }

    //При наведении
    @include m(hover){
        pointer-events: none;
    }
}

//Подсказка
.tooltip{
    top: 0;
    max-width: col-width-px(2.5);
    padding: 8px 18px;
    background: $color-primary;
    box-shadow: $shadow-primary;
    &.show{
        top: 0;
        opacity: .9;
    }
    &.popover-top,
    &[data-popper-placement='top']{
        .popover-arrow{
            &::after{
                border-top-color: $color-primary !important;
            }
        }
    }
    &.popover-right,
    &[data-popper-placement='right']{
        .popover-arrow{
            &::after{
                border-right-color: $color-primary !important;
            }
        }
    }
    &.popover-bottom,
    &[data-popper-placement='bottom']{
        .popover-arrow{
            &::after{
                border-bottom-color: $color-primary !important;
            }
        }
    }
    &.popover-left,
    &[data-popper-placement='left']{
        .popover-arrow{
            &::after{
                border-left-color: $color-primary !important;
            }
        }
    }
    .popover{
        &-header{
            padding: 0;
            border: none;
            color: $white;
            font-family: $font-primary;
            font-size: 14px;
            font-weight: $weight-normal;
            background: none;
        }
    }
}