-
    /**
     * @function mixins.components#popover
     * @desc Информер.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.arrow=true] - .
     * @param {string} [config.title] - .
     * @param {boolean} [config.tooltip] - .
     * @param {string} [config.direction] - .
     * @param {boolean} [config.show] - .
     * @param {string} [config.id] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='popover'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.show='show'] - .
     * @param {bemclasses} [config.class.tooltip='tooltip'] - .
     * @param {bemclasses} [config.class.arrow='arrow'] - .
     * @param {bemclasses} [config.class.header='header'] - .
     * @param {bemclasses} [config.class.body='body'] - .
     * @example
     * +popover({
     *     title: 'Заголовок',
     *     content: 'Описание',
     *     show: true,
     *     id: 'test-popover',
     *     direction: 'right'
     * })
     */
mixin popover(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'popover';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {},
            arrow: true,
            class: {
                mixinClass,
                show: 'show',
                tooltip: 'tooltip',
                arrow: 'arrow',
                header: 'header',
                body: 'body'
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                id: config.id || null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        if (config.tooltip) addClasses.push(config.class.tooltip);
        if (config.direction) addClasses.push(`${config.class.mixinClass}-${config.direction}`);
        if (config.show) addClasses.push(config.class.show);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const arrowClass = `${config.class.mixinClass}-${config.class.arrow}`;
        const headerClass = `${config.class.mixinClass}-${config.class.header}`;
        const bodyClass = `${config.class.mixinClass}-${config.class.body}`;

    //-html
    +b(config)&attributes(attributes)
        if config.arrow
            div(class=arrowClass)
        if !config.tooltip
            div(class=headerClass)
                != config.title
        div(class=config.tooltip ? headerClass : bodyClass)
            if !_.isUndefined(config.content)
                != config.content
            else
                block

-
    /**
     * @function mixins.components#popoverLink
     * @desc Кнопка открытия информера.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=button]
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {string} [config.content='?'] - .
     * @param {string} [config.title=config.localData.title] - .
     * @param {string} [config.description=config.localData.description] - .
     * @param {boolean} [config.disabled=true] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.hashAction] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='popover-link'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.popoverAdd=config.class.mixinClass]] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @example
     * +popoverLink({
     *     hashAction: true
     * })
     */
mixin popoverLink(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'popover-link';

        const modulePath = 'components/popover';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: e,
            tag: button,
            attrs: {
                dataHashAction: config.hashAction ? 'popover' : null
            },
            content: '?',
            title: config.localData.title,
            description: config.localData.description,
            class: {
                mixinClass,
                disabled: 'disabled'
            }
        });

        if (config.text !== false) {
            config.dataOptions = _.toPlainObject(config.dataOptions);
            config.dataOptions.content = escapeHtml(config.description);
        }

        const isButton = config.tag === button;

        _.defaultsDeep(config, {
            attrs: {
                type: _.ifElse(isButton, 'button'),
                title: _.ifElse(config.title, removeHtml(config.title)),
                dataPopover: config.dataInit ? '' : null,
                dataPopoverOptions: config.dataOptions || null,
                disabled: _.ifElse(isButton && config.disabled, '')
            },
            class: {
                block: config.class.mixinClass || mixinClass,
                popoverAdd: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.popoverAdd);
        if (config.disabled && !isButton) addClasses.push(config.class.disabled);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block