@import 'main';

.content-preloader{
    .filter__form{
        opacity: 0;
    }
}

.sidebar{
    .filter{
        &.preloader-active{
            top: 0;
            left: 0;
            height: 100%;
            .filter__form{
                opacity: 0;
            }
        }
    }
}