@import 'main';

.filter{
    &__top{
        display: flex;
        align-items: baseline;
        padding: ceil($global-padding * 1.6) 0;
    }
    &__title{
        margin: 0;
        font-size: $size-h4;
    }
    &__button{
        @include m(reset){
            margin-top: 1px;
            margin-left: 16px;
            font-size: $size-md-px;
        }
    }

    &__form{
        padding: 0 35px;
        border-radius: $radius-primary;
    }

    //Блок отправки
    &__submit{
        padding: $global-margin * 1.5 0;
    }
    &-submit{
        &__button{
            width: 100%;
            @include m(reset){
                margin-top: $global-margin;
            }
        }
    }

    //Информер количества найденых товаров
    &__result-popover{
        &.popover{
            white-space: nowrap;
            &.show:not([data-popper-placement]){
                top: 7px !important;
                left: calc(100% + 20px) !important;
            }
        }
    }
    &-result-popover{
        &__link{
            display: inline-block;
            margin-left: 12px;
            padding: 0;
            border: none;
            color: $white !important;
            text-decoration: underline;
            background: none;
            &:hover,
            &:focus{
                text-decoration: none !important;
            }
        }
    }
}

.sidebar{
    .filter{
        position: relative;
        display: none;
        @media (min-width: $media-xl){
            display: block;
        }
        &__form{
            @include transition(opacity);
        }
        &__top{
            @include sr-only;
        }
    }
}

.slideout{
    &__filter{
        padding-bottom: $global-padding * 3;
    }
    .filter{
        &__block{
            position: static;
        }
        &__result-popover{
            position: fixed;
            bottom: 0;
            width: 100% !important;
            max-width: $width-slideout;
            border-radius: 0;
            text-align: center;
            box-shadow: none;
            &.show{
                top: auto !important;
                left: auto !important;
                right: 0 !important;
            }
            .popover-arrow{
                display: none;
            }
            .popover-header{
                font-size: $size-primary-px;
            }
        }
        &-result-popover{
            &__link{
                @include before{
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: $cursor-pointer;
                }
            }
        }
    }
}

[data-slideout-type='filter']{
    .slideout{
        &__filter{
            display: block;
        }
    }
}