include /components/check/template.pug
include /components/money/template.pug
include /components/range/template.pug
include /components/select/template.pug

include ./filter-block/template.pug

-
    /**
     * @function mixins.layout#filterSubmit
     * @desc Блок отправки формы фильтра.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Object} [config.submit={}] - .
     * @param {Object} [config.reset={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='submit'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin filterSubmit(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'submit';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            submit: {
                modifiers: 'submit',
                content: 'Подобрать',
                color: 'primary'
            },
            reset: {
                modifiers: 'reset',
                content: 'Сбросить',
                color: 'secondary',
                buttonType: 'reset'
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        if config.submit
            +button(config.submit)

        if config.reset
            +button(config.reset)

-
    /**
     * @function mixins.layout#filter
     * @requires mixins.components#checkbox
     * @requires mixins.components#radio
     * @requires mixins.components#money
     * @requires mixins.components#range
     * @requires mixins.components#select
     * @requires mixins.layout#filterBlock
     * @requires mixins.layout#filterCheckList
     * @requires mixins.layout#filterMoreButton
     * @desc Форма фильтра.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='filter'] - .
     * @param {string} [config.dataPath] - .
     * @param {boolean} [config.top=true] - .
     * @param {boolean} [config.price=true] - .
     * @param {boolean} [config.availability=true] - .
     * @param {boolean} [config.brand=true] - .
     * @param {boolean} [config.material=true] - .
     * @param {boolean} [config.typeBlock=true] - .
     * @param {boolean} [config.special=true] - .
     * @param {boolean} [config.store=true] - .
     * @param {boolean} [config.color=true] - .
     * @param {boolean} [config.size=true] - .
     * @param {boolean} [config.resultPopover] - .
     * @param {boolean} [config.submit=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='filter'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin filter(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'filter';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'filter',
            top: true,
            price: true,
            availability: true,
            brand: true,
            material: true,
            typeBlock: true,
            special: true,
            store: true,
            color: true,
            size: true,
            resultPopover: true,
            submit: true,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +form({
            type: e,
            attrs: {
                ariaLabelledby: 'filter-title'
            }
        })
            if config.top
                +e.top
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Фильтр',
                        attrs: {
                            id: 'filter-title'
                        }
                    })

                    +button({
                        dashed: true,
                        modifiers: 'reset',
                        content: 'Сбросить',
                        buttonType: 'reset'
                    })

            //-Цена
            if config.price
                -
                    const priceName = 'FILTER_PRICE';
                    const priceId = _.kebabCase(priceName);
                +filterBlock({
                    title: `Цена, ${money.currencyHtml}`,
                    markedTitle: true,
                    collapse: true,
                    active: true,
                    checked: true,
                    resultPopover: config.resultPopover
                })
                    +range({
                        id: priceId,
                        name: priceName,
                        min: 299,
                        max: 29501,
                        currentMin: 2500,
                        currentMax: 22500,
                        inputValueFormat: money.format,
                        defaultData: [299, 29501],
                        dataOptions: {
                            format: {
                                to: 'money'
                            }
                        },
                        class: {
                            inputAdd: 'form-control form-control-sm'
                        }
                    })

            //-Чекбокс "В наличии"
            if config.availability
                -
                    const availName = 'FILTER_AVAILABILITY';
                    const availId = _.kebabCase(availName);
                +filterBlock({
                    title: 'Наличие',
                    hiddenTitle: true
                })
                    +filterCheckList
                        +checkbox({
                            id: availId,
                            name: availName,
                            content: 'В наличии'
                        })

            //-Цвет
            if config.color
                +filterBlock({
                    title: 'Цвет',
                    collapse: true,
                    active: true,
                    checked: true
                })
                    +filterCheckList.colors
                        each item, index in data.colors
                            -
                                const colorName = `FILTER_COLOR_${index + 1}`;
                                const colorId = _.kebabCase(colorName);
                            +checkbox({
                                id: colorId,
                                name: colorName,
                                checked: i === 2,
                                attrs: {
                                    title: removeHtml(item.title)
                                },
                                contentBlock: {
                                    attrs: {
                                        style: `background-color: ${item.color};`,
                                        dataColorBg: _.ifElse(item.color === '#ffffff', 'light', '')
                                    }
                                }
                            })

            //-Размер
            if config.size
                +filterBlock({
                    title: 'Размер',
                    collapse: true
                })
                    +filterCheckList.sizes
                        each item, index in data.sizes
                            -
                                const sizeName = `FILTER_SIZE_${index + 1}`;
                                const sizeId = _.kebabCase(sizeName);
                            +checkbox({
                                id: sizeId,
                                name: sizeName,
                                attrs: {
                                    title: removeHtml(item.title)
                                }
                            })
                                +e({
                                    tag: span,
                                    modifiers: 'size',
                                    content: item.content
                                })

            //-Бренд
            if config.brand
                +filterBlock({
                    title: 'Бренд',
                    active: true,
                    checked: true,
                    collapse: true,
                    reset: true
                })
                    +filterCheckList
                        each item, index in data.brands
                            if index <= 10
                                -
                                    const brandName = `FILTER_BRANDS_${index + 1}`;
                                    const brandId = _.kebabCase(brandName);
                                +checkbox({
                                    id: brandId,
                                    name: brandName,
                                    checked: index === 0
                                })
                                    != `${item.title}&nbsp;`
                                    if !_.isUndefined(item.count)
                                        +e({
                                            tag: span,
                                            modifiers: 'number',
                                            content: item.count,
                                            attrs: {
                                                title: 'Количество товаров этой категории'
                                            }
                                        })

                    +filterCheckList({
                        id: `${name}-more`,
                        collapsed: true
                    })
                        each item, index in data.brands
                            if index > 10
                                -
                                    const brandName = `FILTER_BRANDS_${index + 1}`;
                                    const brandId = _.kebabCase(brandName);
                                +checkbox({
                                    id: brandId,
                                    name: brandName
                                })
                                    != `${item.title}&nbsp;`
                                    if !_.isUndefined(item.count)
                                        +e({
                                            tag: span,
                                            modifiers: 'number',
                                            content: item.count,
                                            attrs: {
                                                title: 'Количество товаров этой категории'
                                            }
                                        })

                    +filterMoreButton({
                        id: `${name}-more`
                    })

            //-Материал
            if config.material
                +filterBlock({
                    title: 'Материал',
                    collapse: true,
                    reset: true
                })
                    +filterCheckList
                        each item, index in data.materials
                            -
                                const materialName = `FILTER_MATERIAL_${index + 1}`;
                                const materialId = _.kebabCase(materialName);
                            +checkbox({
                                id: materialId,
                                name: materialName,
                                disabled: index === (data.materials.length - 1)
                            })
                                != `${item.title}&nbsp;`
                                if !_.isUndefined(item.count)
                                    +e({
                                        tag: span,
                                        modifiers: 'number',
                                        content: item.count,
                                        attrs: {
                                            title: 'Количество товаров этой категории'
                                        }
                                    })

            //-Тип
            if config.typeBlock
                +filterBlock({
                    title: 'Тип',
                    collapse: true
                })
                    +filterCheckList
                        each item, index in data.types
                            -
                                const typeName = `FILTER_TYPE_${index + 1}`;
                                const typeId = _.kebabCase(typeName);
                            +radio({
                                id: typeId,
                                name: typeName,
                                checked: index === 0,
                                content: item
                            })

            //-Специальные предложения
            if config.special
                -
                    const blockTitle = 'Специальные<br>предложения';
                    const specialsData = data.specials.map((item, index) => {
                        return {
                            value: index + 1,
                            content: item
                        };
                    });
                    specialsData.unshift({
                        selected: true,
                        content: 'Все'
                    });

                +filterBlock({
                    title: blockTitle,
                    popover: {
                        title: blockTitle,
                        description: `Пояснение к параметру фильтра. <a href="${transformUrl('text')}" target="_blank">Ссылка на статью</a>`
                    },
                    collapse: true
                })
                    +e.select-container
                        -
                            const specialsName = 'FILTER_SPECIALS';
                            const specialsId = _.kebabCase(specialsName);
                        +label({
                            for: specialsId,
                            srOnly: true,
                            content: blockTitle
                        })

                        +select({
                            id: specialsId,
                            name: specialsName,
                            attrs: {
                                dataDefault: ''
                            },
                            data: specialsData
                        })

            //-Склад
            if config.store
                -
                    const storeName = 'FILTER_STORE';
                    const storeId = _.kebabCase(storeName);
                +filterBlock({
                    title: 'Количество на складе',
                    collapse: true
                })
                    +range({
                        id: storeId,
                        name: storeName,
                        min: 0,
                        max: 140,
                        currentMin: 12,
                        currentMax: 140,
                        single: true,
                        defaultData: [0]
                    })

            //-Блок применения фильтра
            if config.submit
                +filterSubmit

        block