@import 'main';

//Кнопка показа пароля
.password-show{
    position: absolute;
    top: 0;
    right: 0;
    width: $input-height;
    height: $input-height;
    padding: 0;
    border: none;
    color: $text-primary;
    background: none;
    cursor: $cursor-pointer;
    @include transition(color);
    &__icon{
        display: block;
        margin-top: -2px;
        @include m(hide){
            display: none;
            color: $color-primary;
        }
    }

    &:hover,
    &:focus{
        color: $color-primary;
    }

    &.active{
        .password-show__icon{
            @include m(show){
                display: none;
            }
            @include m(hide){
                display: block;
            }
        }
    }
}

//Отображение кнопки в форме
.form{
    &__input{
        &[type='password']{
            padding-right: calc(#{$input-padding} + #{$input-height});
        }
    }
}