-
    /**
     * @function mixins.layout#passwordShow
     * @desc Кнопка показа/скрытия пароля.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='password-show'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin passwordShow(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'password-show';

        _.defaultsDeep(config, {
            type: b,
            tag: button,
            attrs: {
                type: 'button',
                title: 'Показать/скрыть пароль'
            },
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: span,
            modifiers: ['icon', 'show']
        })
            +sprite#eye-opened

        +e({
            tag: span,
            modifiers: ['icon', 'hide']
        })
            +sprite#eye-closed

        block