-
    const page = {
        title: 'Заказ оформлен'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/order/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +orderFinishHeader

                        +top({title: 'Заказ №827481-24 сформирован'})

                        +orderWrapper({modifiers: 'vertical'})
                            +orderFinish
                                +orderFormGroup
                                    +orderFinishLeft

            +contentBottom
        +foot