@import 'main';

.header{
    .header{
        &-catalog-menu{
            &__menu{
                position: relative;
                margin-left: -$container-padding;
                margin-right: -$global-padding;
                @media (min-width: $media-sm){
                    margin: 0;
                }
            }
            &__button{
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
                font-size: $size-md-px;
                text-align: left;
                @media (min-width: $media-sm){
                    max-width: col-width-px(2);
                }
                @media (min-width: $media-lg){
                    max-width: none;
                }
                @media (max-width: $media-lg-max){
                    padding-left: $btn-padding * .5;
                    padding-right: $btn-padding * .5;
                }
                @media (max-width: $media-sm-max){
                    height: $btn-height-lg;
                    border-radius: 0;
                }
                svg{
                    display: none;
                    @media (min-width: $media-lg){
                        display: inline-block;
                    }
                }
                &.active{
                    box-shadow: none !important;
                    .header-catalog-menu-button__icon{
                        transform: scaleY(-1) translateY(1px);
                    }
                }
            }
            &-button{
                &__inner{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    min-width: 100%;
                    @media (max-width: $media-lg-max){
                        justify-content: center;
                    }
                }
                &__text{
                    svg{
                        margin: -2px 12px 0 0;
                    }
                    span{
                        @media (max-width: $media-lg-max){
                            display: none;
                        }
                    }
                }
                &__icon{
                    display: block;
                    @include transition(transform);
                    svg{
                        margin: 0 -12px 0 0;
                        @media (min-width: $media-lg){
                            display: block;
                        }
                    }
                }
            }

            &__container{
                position: absolute;
                top: -7px;
                left: 100%;
                z-index: 25;
                width: 100%;
                @include m(level1){
                    top: 100%;
                    left: -$global-padding;
                    width: calc(100% + #{$global-gutter});
                    padding: $section-margin $global-padding $global-margin;
                }
            }

            &__list{
                margin: 0;
                padding: 7px 0;
                border-radius: $radius-primary;
                background: $white;
                box-shadow: $shadow-md;
            }

            &__item{
                margin: 0;
                &::before{
                    display: none;
                }
                @include m(level1){
                    //@include border-top;
                }
                @include m(current){
                    display: none;
                }
            }

            &__link{
                display: flex;
                justify-content: space-between;
                padding: 9px $global-padding * 1.5;
                color: $text-primary;
                font-size: $size-ml-px;
                line-height: $line-height-md;
                text-decoration: none;
                &:focus,
                &:hover{
                    color: $color-primary;
                    background: $bg-primary;
                }
                @include m(back){
                    display: none;
                }
                @include m(new){
                    color: $color-info;
                }
                @include m(special){
                    color: $color-danger;
                }
                @include m(active){
                    color: $color-primary;
                }
                @include m(slideout){
                    .header-catalog-menu__icon{
                        @include m(has-items){
                            display: none;
                        }
                    }
                }
                &.active,
                &.clicked{
                    color: $color-primary;
                }
                &.clicked{
                    text-decoration: underline;
                    background: $bg-primary;
                }
            }

            &__icon{
                display: inline-block;
                height: 19px;
                transform: rotate(-90deg);
            }
        }
    }
}