include /components/menu/template.pug

-
    /**
     * @function mixins.layout#catalogMenu
     * @requires mixins.components#menu
     * @desc Меню каталога в хедере.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Bemoptions} [config.menu={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='catalog-menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin catalogMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'catalog-menu';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            menu: {
                type: e,
                attrs: {
                    ariaLabelledby: 'catalog-menu-title'
                },
                data: 'catalog-menu',
                current: {
                    currentItemText: false
                },
                href: 'catalog',
                ariaLabelledby: 'catalog-menu',
                button: {
                    inner: true,
                    content: `${spriteHtml('menu')} Каталог<span> товаров</span>`,
                    title: 'Открыть меню каталога',
                    addClass: ['btn', 'btn-primary', 'btn-lg'],
                    icon: {
                        sprite: {
                            id: 'arrow',
                            width: 9
                        }
                    }
                },
                backButton: {
                    content: 'Назад',
                    icon: {
                        sprite: {
                            id: 'arrow',
                            width: 9
                        }
                    }
                },
                hasItems: {
                    sprite: {
                        id: 'arrow',
                        width: 9
                    }
                },
                container: {
                    addClass: 'toggled'
                },
                0: {
                    container: {
                        addClass: ['toggled', 'collapse']
                    }
                }
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +menu(config.menu)
            +e({
                classes: srOnly,
                modifiers: 'header',
                content: 'Меню каталога',
                attrs: {
                    id: config.menu.attrs.ariaLabelledby
                }
            })

        block