-
    const page = {
        title: 'Страница заказа',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top({title: 'Заказ №12651'})
                            +ordersDetailControls

                        +personalWrapper
                            +ordersDetail

            +contentBottom
        +foot