code[class*="language-"],
pre[class*="language-"]{
    color: #cbd3dc;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #313335;
}

.line-highlight[data-range='-1']{
    display: none;
}

/* Base */
.token.comment,
.token.doctype,
.token.prolog,
.token.cdata{
    color: slategray;
}
.token.entity {
    cursor: help;
}
.token.italic {
    font-style: italic;
}
.token.important,
.token.bold {
    font-weight: bold;
}

/* Unmatched */
.namespace {
    opacity: .7;
}
.token.property,
.token.constant,
.token.symbol,
.token.deleted {
    color: #cbd3dc;
}
.token.selector,
.token.char,
.token.builtin,
.token.inserted {
    color: #718A6C;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #cbd3dc;
}
.token.atrule {
    color: #B39A6C;
}
.token.important {
    color: #fd971f;
}

/* Javascript */
.language-javascript .token.comment{
    color: slategray;
}
.language-javascript .token.punctuation,
.language-javascript .token.operator,
.language-javascript .token.class-name{
    color: #cbd3dc;
}
.language-javascript .token.string,
.language-javascript .token.regex{
    color: #718A6C;
}
.language-javascript .token.boolean{
    color: #cc7832;
}
.language-javascript .token.number{
    color: #6991DC;
}
.language-javascript .token.function{
    color: #B39A6C;
}
.language-javascript .token.keyword{
    color: #B37A4F;
}

/* Html */
.language-html .token.punctuation,
.language-html .token.tag{
    color: #c7b984;
}
.language-html .token.attr-name{
    color: #B39A6C;
}
.language-html .token.attr-value{
    color: #718A6C;
}

/* Css, scss */

/* Pug */