@import 'main';

//Список соц. сетей
.social-links{
    &-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -6px -5px;
        padding: 0;
    }

    &-item{
        display: inline-block;
        margin: 6px 5px;
        &::before{
            display: none;
        }
    }

    &-link{
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: $radius-secondary;
        line-height: 20px;
        text-align: center;
        @include transition(opacity);
        svg{
            position: relative;
            z-index: 10;
            fill: $white;
        }
        &:hover,
        &:focus{
            opacity: .75;
        }
    }

    &-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        line-height: 0;
        transform: translate(-50%, -50%);
    }

    //Типы соц. сетей
    &-vk{
        background: #4a76a8;
        svg{
            width: 17px !important;
        }
    }

    &-facebook{
        text-align: right;
        background: #3f51b5;
        svg{
            width: 7px !important;
            margin-left: 7px;
        }
    }

    &-instagram{
        background: linear-gradient(145deg, #3051f1 10%, #c92bb7 70%) no-repeat;
        @include before{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:
                radial-gradient(
                    circle farthest-corner at 28% 100%,
                    #fcdf8f 0%,
                    #fbd377 10%,
                    #fa8e37 22%,
                    #f73344 35%,
                    rgba(#f73344, 0) 65%
                ) no-repeat;
        }
    }

    &-twitter{
        background: #03a9f4;
        svg{
            width: 15px !important;
        }
    }

    &-ok{
        background: #ff9800;
    }

    &-youtube{
        background: linear-gradient(#e13230, #bd232c) no-repeat;
    }

    &-googleplus{
        background: #df4b37;
    }

    &-linkedin{
        background: #0073b1;
    }
}

//Стили блока Яндекс share
.ya-share2{
    li{
        &::before{
            display: none;
        }
    }
    &__link_copy{
        display: block;
    }
    &__input_copy{
        display: none;
    }
}