-
    /**
     * @function mixins.components#social
     * @desc Блок иконок соц. сетей.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {Array.<string>} [config.include] - .
     * @param {Bemoptions} [config.list] - .
     * @param {bemtag} [config.list.tag=ul] - .
     * @param {Bemoptions} [config.item] - .
     * @param {bemtag} [config.item.tag=li] - .
     * @param {Bemoptions} [config.link] - .
     * @param {bemtag} [config.link.tag=a] - .
     * @param {(Bemoptions|boolean)} [config.icon={}] - .
     * @param {bemtag} [config.icon.tag=span] - .
     * @param {string} [config.href=jv] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='social-links'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.socialAdd=config.class.mixinClass] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.listAddClass] - .
     * @param {bemclasses} [config.class.itemAddClass] - .
     * @param {bemclasses} [config.class.linkAddClass] - .
     * @param {bemclasses} [config.class.iconAddClass] - .
     */
mixin social(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'social-links';

        const modulePath = 'components/social';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            list: {
                tag: ul
            },
            item: {
                tag: li
            },
            link: {
                tag: a
            },
            icon: {
                tag: span
            },
            href: jv,
            class: {
                mixinClass,
                list: 'list',
                item: 'item',
                link: 'link',
                icon: 'icon'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass,
            socialAdd: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.socialAdd);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        let items;
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        } else {
            items = _.get(config.localData, (config.itemsProp || 'items'));
        }

        const listAddClasses = [`${config.class.mixinClass}-${config.class.list}`];
        if (config.class.listAddClass) listAddClasses.push(config.class.listAddClass);

        const itemAddClasses = [`${config.class.mixinClass}-${config.class.item}`];
        if (config.class.itemAddClass) itemAddClasses.push(config.class.itemAddClass);

        const linkAddClasses = [`${config.class.mixinClass}-${config.class.link}`];
        if (config.class.linkAddClass) linkAddClasses.push(config.class.linkAddClass);

        const iconAddClasses = [`${config.class.mixinClass}-${config.class.icon}`];
        if (config.class.iconAddClass) iconAddClasses.push(config.class.iconAddClass);

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            classes: listAddClasses,
            modifiers: config.class.list
        });

        config.item = _.toPlainObject(config.item);
        _.defaultsDeep(config.item, {
            type: e,
            classes: itemAddClasses,
            modifiers: config.class.item
        });

        config.link = _.toPlainObject(config.link);
        _.defaultsDeep(config.link, {
            type: e,
            classes: linkAddClasses,
            modifiers: config.class.link,
            attrs: {
                target: '_blank'
            }
        });

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                classes: iconAddClasses,
                modifiers: config.class.icon,
                attrs: {
                    ariaHidden: 'true'
                }
            });

            config.icon.sprite = _.toPlainObject(config.icon.sprite);
        }

    //-TODO:separate mixin
    //-Элемент списка
    mixin socialItem(item, index)
        +b(config.item)
            -
                const linkConfig = _.defaultsDeep({}, config.link, {
                    classes: config.link.classes.concat([item.class ? `${config.class.mixinClass}-${item.class}` : '']),
                    attrs: {
                        href: item.href || config.href,
                        title: removeHtml(item.title)
                    }
                });
            +b(linkConfig)
                +#{config.icon ? b : empty}(config.icon)
                    -
                        const spriteConfig = _.defaultsDeep({}, config.icon.sprite, {
                            id: item.class
                        });
                    +sprite(spriteConfig)

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block

        +b(config.list)
            if config.include
                each includeItem, index in config.include
                    each socialItem in items
                        if socialItem.class === includeItem
                            +socialItem(socialItem, index)
                            - break
            else
                each socialItem, index in items
                    +socialItem(socialItem, index)

-
    /**
     * @function mixins.components#yandexShareScript
     * @desc Выводит ссылку на скрипт Яндекс share.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.async=true] - .
     * @param {boolean} [config.prefetch] - .
     */
mixin yandexShareScript(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            async: true
        });

        const href = '//yastatic.net/share2/share.js';

    //-html
    if config.prefetch
        link(
            rel='prefetch',
            href=href,
            as='script')
    else
        script(
            src=href,
            async=config.async ? '' : null,
            defer=config.async ? '' : null)

    block

-
    /**
     * @function mixins.components#yandexShare
     * @desc Контейнер соц. сетей Яндекса.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.lang=[defaultLanguage]{@link locals.globalConfig.defaultLanguage}] - Какой языковой файл подключать к миксину.
     * @param {Object} [config.localData] - Объект с языковыми строками, подключается согласно config.lang.
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {string} [config.services=config.localData.services] - .
     * @param {string} [config.accessToken] - .
     * @param {boolean} [config.bare] - .
     * @param {boolean} [config.counter] - .
     * @param {('last'|'first'|'hidden')} [config.copy] - .
     * @param {string} [config.description] - .
     * @param {('horizontal'|'vertical')} [config.direction] - .
     * @param {string} [config.hashtags] - .
     * @param {string} [config.image] - .
     * @param {string} [config.shareLang=config.lang] - .
     * @param {number} [config.limit] - .
     * @param {('bottom'|'top')} [config.popupDirection] - .
     * @param {('inner'|'outer')} [config.popupPosition] - .
     * @param {('m'|'s')} [config.size] - .
     * @param {string} [config.title] - .
     * @param {string} [config.url] - .
     * @param {string} [config.nonce] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='share'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.yaShare='ya-share2'] - .
     */
mixin yandexShare(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'share';

        const modulePath = 'components/social';
        config.localData = _.toPlainObject(config.localData || getModuleLangProps(modulePath, config.lang).data);

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            attrs: {
                dataSocialOptions: config.dataOptions || null
            },
            dataInit: true,
            services: config.localData.services,
            shareLang: config.lang,
            class: {
                mixinClass,
                yaShare: 'ya-share2'
            }
        });

        _.defaults(config, {
            attrs: {
                dataSocial: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        const dataAttrs = [
            'accessToken',
            'bare',
            'counter',
            'copy',
            'description',
            'directions',
            'hashtags',
            'image',
            'lang',
            'limit',
            'popupDirection',
            'popupPosition',
            'services',
            'size',
            'title',
            'url',
            'nonce'
        ];
        if (Object.keys(config).some(item => dataAttrs.includes(item))) {
            config.attrs.dataSocialOptions = _.toPlainObject(config.attrs.dataSocialOptions);
            _.defaultsDeep(config.attrs.dataSocialOptions, {
                accessToken: config.accessToken,
                bare: config.bare ? '' : null,
                counter: config.counter ? '' : null,
                copy: config.copy,
                description: config.description,
                hashtags: config.hashtags,
                image: config.image,
                lang: config.shareLang,
                limit: config.limit,
                popupDirection: config.popupDirection,
                popupPosition: config.popupPosition,
                services: config.services,
                size: config.size,
                title: config.title,
                url: config.url,
                nonce: config.nonce
            });
        }

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(config.class.yaShare);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block