//-Миксины корневых элементов страницы

include /components/social/template.pug

include /layout/epilog/template.pug
include /layout/icons/template.pug

-
    /**
     * @function mixins.layout#html
     * @requires mixins.layout#epilog
     * @desc Элемент html.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.lang=page.lang] - .
     * @param {string} [config.region=page.region] - .
     * @param {boolean} [config.epilog=true] - .
     * @param {boolean} [config.noJsClass=true] - .
     * @param {boolean} [config.contentPreloader] - .
     * @param {string} [config.pageClass] - .
     * @param {string} [config.addClass] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {string} [config.class.noJs='no-js'] - .
     * @param {string} [config.class.contentPreloader=globalConfig.isSyncModules ? '' : 'content-preloader'] - Класс, добавляемый для скрытия контента, ресуры котрого ещё не загружены. Если globalConfig.isSyncModules равно true, то используется класс content-preloader.
     */
mixin html(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            lang: page.lang,
            region: page.region,
            epilog: true,
            noJsClass: true,
            class: {
                noJs: 'no-js',
                contentPreloader: 'content-preloader'
            }
        });

        const blockClasses = [];
        if (config.noJsClass) blockClasses.push(config.class.noJs);
        if (config.contentPreloader && !globalConfig.isSyncModules) {
            blockClasses.push(config.class.contentPreloader);
        }
        if (config.pageClass) blockClasses.push(`page-${config.pageClass}`);
        if (config.addClass) blockClasses.push(config.addClass);
        setBlockClass(attributes, blockClasses);

        if (config.lang && config.region) {
            attributes.lang = `${config.lang}-${config.region}`;
        }

    //-html
    doctype html

    html&attributes(attributes)
        block

    if config.epilog
        +epilog

-
    /**
     * @function mixins.layout#head
     * @requires mixins.layout#icons
     * @desc Элемент head.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.title=`${page.title} — ${globalConfig.projectName}`] - .
     * @param {boolean} [config.meta=true] - .
     * @param {boolean} [config.icons=globalConfig.isDist] - .
     * @param {boolean} [config.links=true] - .
     * @param {boolean} [config.polyfills=globalConfig.hasPolyfills] - .
     * @param {boolean} [config.browsersWarning=!globalConfig.hasPolyfills] - .
     * @param {boolean} [config.appInit='window.app = {};'] - .
     * @param {boolean} [config.translate=true] - .
     * @param {boolean} [config.langScript='window.lang = {};'] - .
     * @param {boolean} [config.globalConfig=true] - .
     * @param {boolean} [config.readyFunction=true] - .
     * @param {boolean} [config.prefetch=globalConfig.isDist && !globalConfig.isSyncModules] - .
     */
mixin head(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            title: `${page.title} — ${globalConfig.projectName}`,
            meta: true,
            icons: globalConfig.isDist,
            links: true,
            polyfills: globalConfig.hasPolyfills,
            browsersWarning: !globalConfig.hasPolyfills,
            appInit: 'window.app = {};',
            translate: true,
            langScript: 'window.lang = {};',
            globalConfig: true,
            readyFunction: true,
            prefetch: globalConfig.isDist && !globalConfig.isSyncModules
        });

        const useScriptTag = config.appInit || config.globalConfig || config.readyFunction || config.translate;

    //-html
    head&attributes(attributes)
        if config.title
            title= config.title

        if config.meta
            +meta

        if config.icons
            +icons

        if config.links
            +links

        if config.polyfills
            script(
                src=composeUrl(globalConfig.scripts, `polyfills.${globalConfig.distScriptFile}?${currentDate}`),
                nomodule='',
                data-skip-moving='true')

        if config.browsersWarning
            script(data-skip-moving='true')
                -
                    let redirectLink = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    if (page.lang === 'ru') {
                        redirectLink = 'https://support.microsoft.com/ru-ru/office/%D1%8D%D1%82%D0%BE%D1%82-%D0%B2%D0%B5%D0%B1-%D1%81%D0%B0%D0%B9%D1%82-%D0%BD%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82-%D0%B2-internet-explorer-8f5fc675-cd47-414c-9535-12821ddfc554';
                    }
                    const browsersWarningContent = `
                        if (/MSIE \\d|Trident.*rv:/.test(window.navigator.userAgent)) {
                            window.location.href = 'microsoft-edge:' + window.location.href;
                            setTimeout(function() {
                                window.location.href = '${redirectLink}';
                            }, 1);
                        }
                    `;
                != browsersWarningContent

        if useScriptTag
            script(data-skip-moving='true')
                if config.appInit
                    != config.appInit
                if config.globalConfig
                    +globalConfig
                if config.readyFunction
                    +readyFunction
                if config.translate
                    != config.langScript

        if config.prefetch
            script(
                src=composeUrl(globalConfig.scripts, `prefetch.${globalConfig.distScriptFile}?${currentDate}`),
                data-skip-moving='true')

        block

-
    /**
     * @function mixins.layout#meta
     * @desc Элементы meta.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.charset='UTF-8'] - .
     * @param {string} [config.ieCompatibility='IE=edge'] - .
     * @param {string} [config.viewport='width=device-width, initial-scale=1'] - .
     */
mixin meta(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            charset: 'UTF-8',
            ieCompatibility: 'IE=edge',
            viewport: 'width=device-width, initial-scale=1'
        });

    //-html
    if config.ieCompatibility
        meta(http-equiv='X-UA-Compatible', content=config.ieCompatibility)
    if config.charset
        meta(charset=config.charset)
    if config.viewport
        meta(name='viewport' content=config.viewport)

    block

-
    /**
     * @function mixins.layout#links
     * @requires mixins.components#yandexMapsScript
     * @requires mixins.components#yandexShareScript
     * @desc Стили и ссылки предзагрузки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.preloadFonts=globalConfig.isDist] - .
     * @param {string} [config.main=true] - .
     * @param {boolean} [config.prefetch] - .
     * @param {boolean} [config.maps=globalConfig.isDist] - .
     * @param {boolean} [config.share=globalConfig.isDist && !globalConfig.isSyncModules] - .
     * @param {boolean} [config.noscript] - .
     */
mixin links(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            preloadFonts: globalConfig.isDist,
            main: true,
            maps: globalConfig.isDist,
            share: globalConfig.isDist,
            noscript: globalConfig.isDist && !globalConfig.isSyncModules
        });

    //-html
    if config.preloadFonts
        -
            const fonts = [];
            const fontDirs = fs.readdirSync(path.join(globalConfig.templatesRoot, globalConfig.fonts));
            fontDirs.forEach(dir => {
                const directoryPath = path.join(globalConfig.templatesRoot, globalConfig.fonts, dir);
                const isDirectory = fs.statSync(directoryPath).isDirectory();
                if (!isDirectory) return;

                const indexFile = path.join(directoryPath, globalConfig.moduleScriptFile);
                const hasIndexFile = fs.existsSync(indexFile);
                if (!hasIndexFile) return;

                fs.readdirSync(directoryPath).forEach(font => {
                    if (path.extname(path.join(directoryPath, font)) !== '.woff2') return;
                    fonts.push([dir, font]);
                });
            });
        each item in fonts
            link(
                href=composeUrl(globalConfig.distAssets, 'fonts', item[0], item[1]),
                rel='preload',
                as='font',
                type='font/woff2',
                crossorigin='anonymous')

    if config.main
        link(
            href=composeUrl(globalConfig.styles, `main.${globalConfig.distStyleFile}?${currentDate}`),
            rel='stylesheet')

    if config.prefetch
        each item in modules
            -
                const cssName = _.isPlainObject(item) ? (item.css ? item.name : false) : item;
                const jsName = _.isPlainObject(item) ? (item.js ? item.name : false) : item;
            if cssName
                link(
                    href=composeUrl(globalConfig.styles, `${cssName}.${globalConfig.distStyleFile}`),
                    rel='prefetch',
                    as='style')
            if jsName
                link(
                    href=composeUrl(globalConfig.scripts, `${jsName}.${globalConfig.distScriptFile}`),
                    rel='prefetch',
                    as='script')

    if config.maps
        +callMixin('yandexMapsScript', {prefetch: true})

    if config.share
        +callMixin('yandexShareScript', {prefetch: true})

    if config.noscript
        noscript
            each item in modules
                -
                    const cssName = _.isPlainObject(item) ? (item.css ? item.name : false) : item;
                    if (!cssName) continue;
                link(href=composeUrl(globalConfig.styles, `${cssName}.${globalConfig.distStyleFile}?${globalConfig.compilationTime}`), rel='stylesheet')

    block

-
    /**
     * @function mixins.layout#globalConfig
     * @desc Скрипт инициализации объекта глобальных настроек скриптов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.ymapsApikey=globalConfig.ymapsApikey] - .
     * @param {string} [config.gmapsApikey=globalConfig.gmapsApikey] - .
     */
mixin globalConfig(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            ymapsApikey: globalConfig.ymapsApikey,
            gmapsApikey: globalConfig.gmapsApikey
        });

        const relPath = (page.name === 'index') ? './' : '../';

        const scriptContent = `
            window.app.globalConfig = {
                relPath: '${relPath}',
                assetsPath: '${relPath + globalConfig.distAssetsName}/'${(config.ymapsApikey ? `,
                ymapsApikey: '${config.ymapsApikey}'` : '') + (config.gmapsApikey ? `,
                gmapsApikey: '${config.gmapsApikey}'` : '')}
            };`;

    //-html
    != scriptContent

    block

-
    /**
     * @function mixins.layout#readyFunction
     * @desc Скрипт инициализации функции ожидания загрузки страницы.
     */
mixin readyFunction(config)
    -
        const scriptContent = `
            window.app.ready = callback => {
                if (typeof callback !== 'function') return;
                if (document.readyState === 'complete') {
                    callback();
                    return;
                }
                document.addEventListener('DOMContentLoaded', () => {
                    callback();
                });
            };`;

    //-html
    != scriptContent

    block

-
    /**
     * @function mixins.layout#vueRoot
     * @desc Обёртка страницы для Vue.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.id='app'] - .
     */
mixin vueRoot(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            id: 'app'
        });

    //-html
    div(id=config.id)
        block

-
    /**
     * @function mixins.layout#body
     * @desc Элемент body.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.noJsClass=true] - .
     * @param {boolean} [config.chunks=!globalConfig.isSyncModules] - .
     * @param {(Object|boolean)} [config.vue=globalConfig.hasVue] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {string} [config.class.noJs='no-js'] - .
     */
mixin body(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);

        _.defaultsDeep(config, {
            noJsClass: true,
            chunks: !globalConfig.isSyncModules,
            vue: globalConfig.hasVue,
            class: {
                noJs: 'no-js'
            }
        });

        if (config.vue) {
            config.vue = _.toPlainObject(config.vue);
        }

    //-html
    body&attributes(attributes)
        +#{config.vue ? 'vueRoot' : empty}(config.vue)
            if config.noJsClass
                script(data-skip-moving='true')
                    != `document.documentElement.classList.remove('${config.class.noJs}');`

            if config.chunks
                div(hidden)
                    each item in modules
                        -
                            const cssName = _.isPlainObject(item) ? (item.css ? item.name : false) : item;
                            if (!cssName) continue;
                        div(data-chunk=cssName)

            block