@import 'main';

.index-catalog{
    padding-bottom: $global-margin * 2.5;

    &__title{
        margin: 0 0 $global-margin * 2;
    }

    &__sections{
        min-width: 100%;
    }
    &-sections{
        &__list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
            padding: 0;
            @media (min-width: $media-sm){
                margin: 0 -12px;
            }
        }
        &__item{
            min-width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 4px;
            &::before{
                display: none;
            }
            @media (min-width: $media-iphone4-height){
                min-width: col-width(6);
                max-width: col-width(6);
            }
            @media (min-width: $media-sm){
                padding: 12px;
            }
            @media (min-width: $media-lg){
                min-width: col-width(4);
                max-width: col-width(4);
            }
        }
        &__link{
            display: flex;
            align-items: center;
            min-height: 68px;
            padding: 10px;
            border-radius: $radius-primary;
            color: $text-primary;
            font-size: $size-md-px;
            font-weight: $weight-bold;
            line-height: $line-height-md;
            text-decoration: none;
            background: $white;
            @media (min-width: $media-sm){
                min-height: 86px;
                padding: 0;
                font-size: $size-lg-px;
                background: none;
            }
        }
        &__image{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 48px;
            max-width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 50%;
            background: $white;
            @media (min-width: $media-sm){
                min-width: 86px;
                max-width: 86px;
                height: 86px;
            }
        }
        &-image{
            &__image{
                max-width: 80%;
                max-height: 80%;
                margin: 0;
            }
        }
        &__title{
            min-width: calc(100% - 48px);
            max-width: calc(100% - 48px);
            padding-left: 8px;
            @media (min-width: $media-sm){
                min-width: calc(100% - 86px);
                max-width: calc(100% - 86px);
                padding-left: 24px;
            }
            span{
                font-size: $size-sl-px;
                font-weight: $weight-normal;
            }
        }
    }
}