include /layout/catalog/template.pug

-
    /**
    * @function mixins.layout#indexCatalog
    * @requires mixins.layout#catalogSections
    * @desc Блок каталога на главной странице.
    * @param {Bemoptions} [config={}] - Настройки.
    * @param {bemtype} [config.type]
    * @param {bemtag} [config.tag]
    * @param {(Object|string)} [config.class={}] - Объект с классами или основной класс БЭМ-класс.
    * @param {bemclasses} [config.class.mixinClass='index-catalog'] - Основной класс миксина.
    * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
    * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
    */
mixin indexCatalog(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'index-catalog';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'catalog-menu',
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        getData(config, config.data);
        const sectionsData = config.data.items.slice(2, -1);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: row,
            classes: row
        })
            +e({
                tag: h2,
                modifiers: 'title',
                classes: col,
                content: 'Все самое лучшее'
            })

            +catalogSections({
                modifiers: 'pills',
                data: sectionsData,
                menu: {
                    levelModifier: false,
                    maxDepth: 1,
                    href: 'catalog'
                }
            })

        block