@import 'main';

.top{
    &-controls{
        &__item{
            @include m(transports-back){
                @media (min-width: $media-sm){
                    text-align: right;
                }
                .top-controls-item{
                    &__link{
                        color: $grey-darker;
                        &:hover,
                        &:focus{
                            color: $color-primary;
                        }
                    }
                    &__icon{
                        display: inline-block;
                        margin-right: 6px;
                        transform: rotate(90deg);
                        svg{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .transports-detail{
        &__items{
            margin-top: $global-margin * 1.5;
        }
    }
}

.transports-detail{
    &__items{
        margin-left: -$container-padding;
        margin-right: -$container-padding;
        @media (min-width: $media-md){
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__item{
        min-width: 100%;
        @include border-top($border-secondary);
        @media (min-width: $media-md){
            padding: 0;
        }
        &:last-child{
            @include border-bottom($border-secondary);
        }
    }
    &-item{
        &__inner{
            padding: $global-margin $container-padding - $global-padding;
            @media (min-width: $media-md){
                flex-wrap: nowrap;
                align-items: center;
                padding: $global-margin * 1.5 0;
            }
        }
        &__item{
            @include m(info){
                min-width: 100%;
                @media (min-width: $media-sm){
                    min-width: auto;
                }
            }
            @include m(products, sum){
                margin-top: $global-margin;
                font-size: $size-lg;
                @media (min-width: $media-md){
                    min-width: col-width(4);
                    max-width: col-width(4);
                    text-align: left;
                }
            }
            @include m(products){
                @media (min-width: $media-sm){
                    min-width: col-width-px(1.25);
                    max-width: col-width-px(1.25);
                    margin-top: 0;
                }
            }
            @include m(sum){
                white-space: nowrap;
                text-align: right;
                @media (min-width: $media-sm){
                    min-width: col-width-px(1.75);
                    max-width: col-width-px(1.75);
                    margin-top: 0;
                }
            }
        }
        &__link{
            font-size: px-rem(20px);
        }
        &__date{
            font-size: $size-md-px;
        }
        &__products{
            font-weight: $weight-semibold;
        }
        &__sum{
            font-weight: $weight-semibold;
        }
    }

    &__info{
        margin-top: $global-margin * 2;
        @media (min-width: $media-md){
            margin-top: $global-margin * 3;
        }
    }
    &-info{
        &__header{
            @media (min-width: $media-md){
                display: flex;
                justify-content: space-between;
            }
        }
        &__title{
            margin: 0;
        }
        @if map-get($global-settings, manager){
            &__manager{
                display: flex;
                align-items: center;
                margin-top: $global-margin;
                @media (min-width: $media-md){
                    margin-top: -6px;
                }
                .avatar{
                    margin-right: 10px;
                }
            }
        }
        &__date{
            font-size: $size-md-px;
        }
        &__items{
            @media (min-width: $media-sm){
                column-count: 2;
                column-gap: $global-gutter;
            }
            @media (min-width: $media-md){
                margin-top: $global-margin * .5;
            }
            @media (min-width: $media-lg){
                column-count: 3;
            }
        }
        &__item{
            display: inline-block;
            min-width: 100%;
            padding-top: $global-margin * 1.5;
        }
        &__name{
            color: $grey-darker;
            font-size: $size-lg;
            font-weight: $weight-semibold;
        }
        &__value{
            margin-top: 2px;
        }
    }

    &__bottom{
        margin-top: $global-margin * 2;
        padding-top: $global-margin * 2;
        @include border-top($border-secondary);
        @media (min-width: $media-md){
            margin-top: $global-margin * 2.5;
            padding-top: $global-margin * 2.5;
        }
    }
    &-bottom{
        &__sum{
            min-width: 100%;
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: px-rem(24);
            font-weight: $weight-medium;
            @media (min-width: $media-sm){
                min-width: auto;
            }
        }
        &__documents{
            margin-top: $global-margin;
            @media (min-width: $media-sm){
                margin-top: -$global-margin * .5;
            }
        }
        &-documents{
            &__inner{
                @media (min-width: $media-sm){
                    justify-content: flex-end;
                }
            }
            &__item{
                margin-top: $global-margin * .75;
                padding-left: $global-padding;
                padding-right: $global-padding;
            }
            &__link{
                color: $grey-darker;
            }
            &__icon{
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}