include /components/money/template.pug

include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#transportsDetailControls
     * @requires mixins.layout#personalControls
     * @desc Верхний блок управления детальной страницы транспортировок.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.transportsDetailModifier='transports-detail'] - .
     */
mixin transportsDetailControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'transports-detail';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                transportsDetailModifier: mixinClass
            }
        });

        if (config.class.transportsDetailModifier) {
            setBlockClass(attributes, config.class.transportsDetailModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +be({
            modifiers: ['item', 'transports-back'],
            classes: col
        })
            +link({href: 'transports'})
                +e({
                    tag: span,
                    modifiers: 'icon'
                })
                    +sprite#arrow-line-thin
                | Назад к списку

        block

-
    /**
     * @function mixins.layout#transportsDetail
     * @requires mixins.components#money
     * @requires mixins.layout#avatar
     * @desc Детальная страница транспортировки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {Data} [config.data='transports'] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='transports-detail'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin transportsDetail(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'transports-detail';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'transports',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        let transport = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
            transport = data[config.itemsProp][config.dataIndex];
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'items',
                classes: row
            })
                each item, index in transport.orders
                    +be({
                        modifiers: 'item',
                        classes: col
                    })
                        +e({
                            modifiers: 'inner',
                            classes: row
                        })
                            +e({
                                modifiers: ['item', 'info'],
                                classes: col
                            })
                                +link({
                                    content: `Заказ №${item}`,
                                    href: 'orders-detail'
                                })

                                +e.date Дата заказа: 04.03.2018

                            +e({
                                modifiers: ['item', 'products'],
                                classes: col
                            })
                                +e({
                                    modifiers: 'products',
                                    content: `${(index === 1) ? 50 : 178} товаров`
                                })

                            +e({
                                modifiers: ['item', 'sum'],
                                classes: col
                            })
                                +e({
                                    modifiers: 'sum',
                                    content: `Сумма: ${money.formatPrice((index === 2) ? 5000 : 1180000)}`
                                })

            +be({
                tag: section,
                modifiers: 'info'
            })
                +e.header
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Данные о транспортировке'
                    })

                    +e.manager
                        if globalConfig.settings.manager
                            +avatar

                        +e.date Была создана: 03.03.2018

                +e.items
                    +e.item
                        +e.name Адрес
                        +e.value Москва, ул. Орджоникидзе 11/11

                    +e.item
                        +e.name Способ доставки
                        +e.value Транспортная компания «СДЕК»

                    +e.item
                        +e.name Ожидаемая дата доставки
                        +e.value 28.02.2019

                    +e.item
                        +e.name Контактное лицо
                        +e.value Владимир Гусев

                    +e.item
                        +e.name Комментарий
                        +e.value Новейшие популярные работы

            +be.bottom
                +e({
                    modifiers: 'inner',
                    classes: row
                })
                    +e({
                        modifiers: 'sum',
                        classes: col,
                        content: `Итого: ${money.formatPrice(6789)}`
                    })

                    +be({
                        modifiers: 'documents',
                        classes: col
                    })
                        +e({
                            modifiers: 'inner',
                            classes: row
                        })
                            each item in data.documents
                                +e.item
                                    +link({download: true})
                                        +e({
                                            tag: span,
                                            modifiers: 'icon'
                                        })
                                            +sprite#document
                                        = item

            block