@import 'main';

.catalog{
    //Кнопка фильтра
    &__filter-button{
        display: block;
        min-width: 100%;
        @media (min-width: $media-md){
            flex-basis: auto;
            flex-grow: 0;
            width: auto;
            min-width: 0;
            padding-left: 0;
        }
        @media (min-width: $media-xl){
            display: none;
        }
    }
    &-filter-button{
        &__button{
            min-width: calc(100% + #{$global-gutter});
            height: $btn-height-lg;
            margin: 0 (-$global-padding);
            padding-top: 0;
            padding-bottom: 0;
            border-color: $white !important;
            border-radius: 0;
            font-size: $size-primary;
            text-align: left;
            text-transform: none;
            background: $white !important;
            box-shadow: none !important;
            &:focus{
                box-shadow: none !important;
            }
            @media (min-width: $media-md){
                min-width: 100%;
                margin: 0;
                padding-left: $global-padding * 3.5;
                padding-right: $global-padding * 3.5;
            }
        }
        &__icon{
            margin-right: 7px;
        }
    }

    //Футер
    &__bottom{
        margin-top: $global-margin * 1.5;
    }
    &-bottom{
        &__inner{
            align-items: flex-start;
            justify-content: space-between;
            @media (min-width: $media-xl){
                flex-wrap: nowrap;
            }
            .pagination{
                padding-left: $global-padding;
                padding-right: $global-padding;
            }
        }
    }

    //Текст
    &__text{
        @include m(bottom){
            margin-top: $global-margin * 1.5;
        }
    }
}