include /components/pagination/template.pug

include ./catalog-controls/template.pug
include ./catalog-count/template.pug
include ./catalog-items/template.pug
include ./catalog-sections/template.pug
include ./catalog-sort/template.pug
include ./catalog-view/template.pug
include ./sidebar-sections/template.pug

//-Миксины страниц каталога
//-TODO:pass only usable config, add data functions

-
    /**
     * @function mixins.layout#catalogWrapper
     * @desc Обёртка страниц каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {boolean} [config.fullwidth] - .
     * @param {boolean} [config.col=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='catalog'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.fullwidth='fullwidth'] - .
     */
mixin catalogWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'catalog';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            col: true,
            class: {
                mixinClass,
                fullwidth: 'fullwidth'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = [];
        if (config.fullwidth) addClasses.push(config.class.fullwidth);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +#{config.col ? 'mainContentCol' : empty}
        +preload('catalog')

        +b(config)&attributes(attributes)
            +e.inner
                +e({
                    classes: row,
                    modifiers: row
                })
                    +r('catalog')
                        block

-
    /**
     * @function mixins.layout#catalogTop
     * @requires mixins.layout#catalogControls
     * @requires mixins.layout#catalogTitle
     * @desc Верхняя часть страниц каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=header]
     * @param {string} [config.title.content] - .
     * @param {string} [config.title.search] - .
     * @param {(string|Object)} [config.title] - .
     * @param {(boolean|Object)} [config.brands] - .
     * @param {string} [config.brands.href] - .
     * @param {string} [config.brands.content] - .
     * @param {Sprite} [config.brands.sprite] - .
     * @param {(boolean|Object)} [config.controls=true] - .
     * @param {Object} [config.controls.filterButton] - .
     * @param {string} [config.controls.filterButton.content] - .
     * @param {string} [config.controls.filterButton.title] - .
     * @param {string} [config.controls.filterButton.sprite] - .
     * @param {(boolean|Object)} [config.sort] - .
     * @param {Data} [config.sort.data] - .
     * @param {number} [config.sort.activeItem] - .
     * @param {('asc'|'desc')} [config.sort.activeDirection] - .
     * @param {(boolean|Object)} [config.view] - .
     * @param {Data} [config.view.data] - .
     * @param {string} [config.view.activeItem] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.brands] - .
     * @param {bemclasses} [config.class.brands.block] - .
     * @param {bemclasses} [config.class.brands.link] - .
     * @param {bemclasses} [config.class.brands.icon] - .
     */
mixin catalogTop(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top';

        _.defaultsDeep(config, {
            type: be,
            tag: header,
            controls: true,
            class: {
                mixinClass,
                addClass: col,
                inner: 'inner'
            }
        });

        if (_.isString(config.title)) {
            const titleContent = config.title;
            config.title = {content: titleContent};
        }

        if (config.brands === true) {
            config.brands = {};
            _.defaultsDeep(config, {
                brands: {
                    href: 'catalog-brands',
                    sprite: {
                        id: 'arrow',
                        width: 10
                    },
                    content: 'Список брендов'
                },
                class: {
                    brands: {
                        block: 'brands-link',
                        link: 'link',
                        icon: 'icon'
                    }
                }
            });
        }

        if (config.controls === true) {
            config.controls = {};
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            classes: row,
            modifiers: config.class.inner
        })
            if config.title
                +catalogTitle(config.title)

            if config.brandsLink
                +r('catalog')
                    +be({
                        classes: col,
                        modifiers: config.class.brands.block
                    })
                        +link({
                            class: {
                                block: config.class.brands.link,
                                href: config.brands.href
                            }
                        })
                            if config.brands.sprite
                                +e({
                                    tag: span,
                                    modifiers: config.class.brands.icon
                                })
                                    +sprite(config.brands.sprite)
                            span= config.brands.content

            if config.controls
                +catalogControls({
                    filterButton: config.filterButton,
                    sort: config.sort,
                    view: config.view
                })

            block

-
    /**
     * @function mixins.layout#catalogTitle
     * @desc Обёртка страниц каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.title=page.title] - .
     * @param {(boolean|Object)} [config.search] - .
     * @param {string} [config.search.content] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='title'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.count='count'] - .
     */
mixin catalogTitle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'title';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            title: page.title,
            class: {
                mixinClass,
                title: 'title',
                count: 'count'
            }
        });

        if (config.search === true) {
            config.search = {
                content: 'Найдено 180 товров'
            };
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('catalog')
        +b(config)&attributes(attributes)
            if config.content
                +e({
                    modifiers: config.class.title
                })
                    h1= config.title

            if config.search
                +e({
                    modifiers: config.class.count,
                    content: config.search.content
                })

            block

-
    /**
     * @function mixins.layout#catalogText
     * @desc Область для текста страницы каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='catalog-text'] - .
     * @param {string} [config.dataPath] - .
     * @param {('top'|'bottom')} [config.position='bottom'] - .
     * @param {string} [config.title] - .
     * @param {boolean} [config.col] - .
     * @param {boolean} [config.logo] - .
     * @param {Image} [config.image] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='text'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.col=col] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.logo] - .
     * @param {bemclasses} [config.class.image] - .
     */
mixin catalogText(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'text';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'catalog-text',
            position: 'bottom',
            class: {
                mixinClass,
                col: col,
                text: 'text'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        const title = _.isUndefined(config.title) ? data.title : config.title;

        if (config.logo) {
            _.defaultsDeep(config, {
                image: {
                    relative: 'uploads/brand-logo.png',
                    alt: `Логотип ${title}`
                },
                dataPath: 'Data/catalog-brand',
                class: {
                    logo: 'logo',
                    image: 'image'
                }
            });

            config.image = setImageProps(config.dataPath, config.image, config.title);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = [
            config.class.block,
            config.position
        ];
        setBlockClass(attributes, blockClasses);

        const addClasses = [];
        if (config.col) addClasses.push(config.class.col);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({modifiers: config.class.text})
            if title
                h1= title

            != data.content
            block

        if config.logo
            +be({modifiers: config.class.logo})
                if config.image
                    +image({
                        src: config.image.src,
                        alt: config.image.alt,
                        class: config.class.image
                    })

-
    /**
     * @function mixins.layout#catalogBottom
     * @requires mixins.components#pagination
     * @requires mixins.layout#catalogCount
     * @desc Нижняя часть страницы каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.href=page.name] - .
     * @param {Object} [config.pagination={}] - .
     * @param {Object} [config.pagination.nav={}] - .
     * @param {boolean} [config.pagination.nav.text=false] - .
     * @param {Sprite} [config.pagination.nav.sprite={}] - .
     * @param {string} [config.pagination.nav.sprite.id='arrow'] - .
     * @param {number} [config.pagination.nav.sprite.width=10] - .
     * @param {(boolean|Object)} [config.count=true] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='bottom'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - .
     */
mixin catalogBottom(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'bottom';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            href: page.name,
            pagination: {
                nav: {
                    content: false,
                    sprite: {
                        id: 'arrow',
                        width: 10
                    }
                }
            },
            count: true,
            class: {
                mixinClass,
                addClass: col
            }
        });

        if (_.isPlainObject(config.pagination)) {
            config.pagination.href = config.href;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: 'inner',
            classes: row
        })
            +r('catalog')
                if !config.empty && config.pagination
                    +pagination(config.pagination)

                if config.count
                    +catalogCount(config.count)

        +r('catalog')
            block

-
    /**
     * @function mixins.layout#catalog
     * @requires mixins.layout#catalogWrapper
     * @requires mixins.layout#catalogItems
     * @requires mixins.layout#catalogBottom
     * @requires mixins.layout#catalogText
     * @desc Страница каталога.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.items] - .
     * @param {Bemoptions} [config.bottom] - .
     * @param {Bemoptions} [config.text] - .
     * @param {boolean} [config.search] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.search='search'] - .
     */
mixin catalog(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            wrapper: {},
            class: {
                search: 'search'
            }
        });

        if (config.search && config.wrapper) {
            config.wrapper.modifiers = config.class.search;
        }

        if (config.empty) {
            config.items = _.toPlainObject(config.items);
            config.items.empty = true;

            config.bottom = _.toPlainObject(config.bottom);
            config.bottom.empty = true;
        }

    //-html
    +catalogWrapper(config.wrapper)
        +catalogItems(config.items)

        +catalogBottom(config.bottom)
            if !config.search
                +catalogText(config.text)

        block