@import 'main';

.cart{
    &__coupon{
        min-width: 100%;
        @media (min-width: $media-lg){
            min-width: col-width-px(4);
            max-width: col-width-px(4);
        }
    }
    &-coupon{
        &__input{
            max-width: col-width-px(3);
        }
        &__item{
            display: flex;
            align-items: center;
            margin-top: $global-margin * .5;
            &:first-child{
                margin-top: $global-margin;
            }
            @include m(success){
                color: $color-success;
            }
            @include m(fail){
                color: $color-danger;
                > svg{
                    display: none;
                }
            }
        }
        &__button{
            @include m(remove){
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin: -1px 5px 0 -12px;
                padding: 0;
                border: none;
                color: $text-secondary;
                background: none;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
            }
        }
        &__text{
            display: inline-block;
            margin-right: 4px;
            font-size: $size-md;
        }
    }
}