-
    /**
     * @function mixins.layout#cartCoupon
     * @desc Блок применения купона.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='cart-coupon'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='coupon'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin cartCoupon(config)
    -
        if (!globalConfig.settings.coupons) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'coupon';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            data: 'cart-coupon',
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +r('cart')
        +b(config)&attributes(attributes)
            +e.input-container
                +label({
                    for: 'coupon-input',
                    srOnly: true,
                    content: 'Дисконтная карта/купон/промокод'
                })

                .input-group
                    +input({
                        formControl: true,
                        id: 'coupon-input',
                        name: 'COUPON',
                        placeholder: 'Дисконтная карта/купон/промокод'
                    })

                    .input-group-append
                        +button({
                            modifiers: 'submit',
                            content: 'Добавить',
                            color: 'secondary',
                            title: 'Применить купон'
                        })

            +e.coupons
                each couponItem in items
                    +e({
                        modifiers: ['item', couponItem.class],
                        attrs: {
                            title: removeHtml(couponItem.title)
                        }
                    })
                        +button({
                            modifiers: 'remove',
                            title: 'Не применять купон'
                        })
                            +sprite#trash

                        +e.text= couponItem.content

                        if couponItem.class === 'success'
                            +sprite#check

            block