@import 'main';

.order{
    @include m(steps){
        .order-finish{
            //Левый блок
            &__left{
                display: flex;
                justify-content: center;
                padding-top: $global-margin * 2.5;
            }
            &-left{
                &__inner{
                    max-width: col-width-px(2.5);
                }
                &-header{
                    &__icon{
                        color: palette(success, light);
                    }
                    &__title{
                        font-size: $size-lg;
                        line-height: $line-height-md;
                        a[href^='tel:']{
                            color: inherit;
                            pointer-events: none;
                        }
                    }
                }
                &__item{
                    margin-top: $text-margin;
                    font-size: $size-sl-px;
                    line-height: $line-height-lg;
                }
                &__button{
                    &:first-child{
                        margin-top: $global-margin * .5;
                    }
                }
                &-button{
                    &__text{
                        display: inline-block;
                        padding-left: 20px;
                    }
                    &__badge{
                        position: absolute;
                        top: -$btn-border-width;
                        left: -$btn-border-width;
                        padding: 0 4px;
                        border-top-left-radius: $btn-radius;
                        border-bottom-right-radius: $radius-primary;
                        color: $grey-darker;
                        font-family: $font-secondary;
                        font-size: $size-xxs-px;
                        font-weight: $weight-medium;
                        line-height: 18px;
                        background: palette(info, bg);
                    }
                }
                &__bottom{
                    margin-top: $global-margin * 2;
                    padding-top: $global-padding * 2;
                    @include border-top;
                }
                &__link{
                    @include m(personal){
                        font-size: $size-sl-px;
                        font-weight: $weight-semibold;
                        letter-spacing: $letter-spacing-primary;
                        text-transform: uppercase;
                        text-decoration: underline;
                        &:hover,
                        &:focus{
                            text-decoration: none;
                        }
                    }
                }
            }

            //Правый блок
            &__right{
                display: flex;
                justify-content: center;
                padding-top: $global-margin * 2.5;
            }
            &-right{
                &__inner{
                    max-width: col-width-px(2.5);
                }
                &-header{
                    &__icon{
                        color: $grey-lighter;
                    }
                    &__title{
                        font-size: $size-primary;
                        line-height: $line-height-md;
                    }
                }
                &__item{
                    margin-top: $global-margin * 2;
                    padding-top: $global-padding * 2;
                    @include border-top;
                    color: $text-secondary;
                    font-size: $size-sl-px;
                    line-height: $line-height-lg;
                    a{
                        &:hover,
                        &:focus{
                            text-decoration: none;
                        }
                    }
                }
                @if map-get($global-settings, manager){
                    &__manager{
                        margin-top: $global-margin * 2;
                        padding-top: $global-padding * 2;
                        @include border-top;
                        .avatar{
                            &__inner{
                                width: 50px;
                                height: 50px;
                            }
                            &__badge{
                                top: 1px !important;
                                left: 1px;
                            }
                        }
                    }
                    &-manager{
                        &__inner{
                            display: flex;
                            align-items: center;
                        }
                        &__info{
                            padding-left: $global-padding;
                        }
                        &__item{
                            margin-top: 3px;
                        }
                        &__title{
                            color: $grey-darker;
                            font-family: $font-secondary;
                            font-size: $size-md-px;
                            font-weight: $weight-medium;
                            letter-spacing: $letter-spacing-primary;
                        }
                        &__phone{
                            color: $grey-darker;
                            font-size: $size-md-px;
                            font-weight: $weight-semibold;
                            &:hover,
                            &:focus{
                                color: $color-primary;
                            }
                        }
                        &__email{
                            color: $text-secondary;
                            text-decoration: none !important;
                            svg{
                                margin: -1px 6px 0 0;
                                color: $grey-light;
                                @include transition(color);
                            }
                            &:hover,
                            &:focus{
                                color: $color-primary;
                                svg{
                                    color: to-rgb($color-primary, .75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}