include /layout/avatar/template.pug

-
    /**
     * @function mixins.layout#orderStepsFinish
     * @desc Обёртка страницы "Заказ оформлен".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='finish'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin orderStepsFinish(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'finish';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +r('order')
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                +r('order-form')
                    block

-
    /**
     * @function mixins.layout#orderStepsFinishLeft
     * @desc Левая часть страницы "Заказ оформлен".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='left'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsFinishLeft(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'left';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('order-finish')
        +b(config)&attributes(attributes)
            +e.inner
                +be.header
                    +e.icon
                        +sprite#check-circle
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Заказ №827481-24 сформирован'
                    })

                +e.info
                    +e.item Юр. лицо: ООО «ИнвестПромСервис»
                    +e.item Способ доставки: Деловые линии#[br]Адрес доставки: Москва, Орджоникидзе 11/11#[br]Ожидаемая дата доставки: 14.06.2018
                    +e.item Способ оплаты: Счёт на оплату#[br]Комментарий к заказу: -

                    +e.item
                        +button({
                            type: be,
                            tag: a,
                            color: 'primary',
                            download: true
                        })
                            +e({
                                tag: span,
                                modifiers: 'text',
                                content: 'Скачать счёт на оплату'
                            })
                            +e({
                                tag: span,
                                modifiers: 'badge',
                                content: '*.pdf'
                            })

                +e.bottom
                    +link({
                        modifiers: 'personal',
                        href: 'personal',
                        content: 'Перейти в личный кабинет'
                    })

            block

//-TODO:pass avatar config
-
    /**
     * @function mixins.layout#orderStepsFinishRight
     * @desc Правая часть страницы "Заказ оформлен".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='right'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin orderStepsFinishRight(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'right';

        _.defaultsDeep(config, {
            type: be,
            tag: section,
            data: 'managers',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        const managerImage = setImageProps(config.dataPath, data.image, data.name);

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('order-finish')
        +b(config)&attributes(attributes)
            +e.inner
                +be.header
                    +e.icon
                        +sprite#info-circle
                    +e({
                        tag: h2,
                        modifiers: 'title',
                        content: 'Информация'
                    })

                +e.info
                    +e.item Отслеживайте статус Вашего заказа на странице #[a(href=transformUrl('orders')) «Мои заказы»]

                    +e.item В случае возникновения любого вопроса свяжитесь с вашим персональным менеджером

                    if globalConfig.settings.manager
                        +be.manager
                            +e.inner
                                +be.image
                                    +avatar

                                +e.info
                                    +e.item
                                        +e.title= data.name

                                    +e.item
                                        +link({
                                            href: data.phone,
                                            hrefFormat: transformToTel,
                                            content: data.phone,
                                            class: 'phone'
                                        })

                                    +e.item
                                        +link({
                                            href: `${data.email}@${globalConfig.emailDomain}`,
                                            hrefFormat: transformToEmail,
                                            class: 'email'
                                        })
                                            +sprite#envelope
                                            = `${data.email}@${globalConfig.emailDomain}`

            block