@import 'main';

.main-content-inner__col > .personal{
    .subscribe{
        &__items{
            margin-top: $global-margin * .5;
        }
    }
}

.subscribe{
    &__item{
        min-width: 100%;
        margin-top: $global-margin;
        @media (min-width: $media-md){
            min-width: col-width(6);
            max-width: col-width(6);
        }
        .form-check{
            &-input{
                &:checked{
                    ~ .form-check-content{
                        background: $white;
                    }
                }
            }
            &-content{
                padding: 12px $container-padding 12px 56px + $container-padding;
                background: $bg-primary;
                &::before,
                &::after{
                    top: 50%;
                    margin-top: 0;
                    transform: translate(20px, -50%);
                }
                &::after{
                    border-color: $white;
                }
            }
        }
    }
    &-item{
        &-form-check{
            &__content{
                @include border($border-secondary);
                border-radius: $radius-primary;
            }
            &__title{
                display: block;
            }
            &__status{
                display: block;
                margin-top: 2px;
                color: $text-secondary;
                font-size: $size-sm-px;
            }
        }
    }
}