include /components/check/template.pug
include /components/close/template.pug
include /components/popup/template.pug

-
    /**
     * @function mixins.layout#subscribeControls
     * @requires mixins.components#close
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.layout#personalControls
     * @desc Элементы управления страницы подписок в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {string} [config.popupId='popup-unsubscribe'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.subscribeModifier='subscribe'] - .
     */
mixin subscribeControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'subscribe';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            popupId: 'popup-unsubscribe',
            class: {
                subscribeModifier: mixinClass
            }
        });

        if (config.class.subscribeModifier) {
            setBlockClass(attributes, config.class.subscribeModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        +be({
            modifiers: ['item', 'unsubscribe'],
            classes: col
        })
            +link({
                href: '#popup-unsubscribe',
                role: 'button'
            })
                +close
                | Отписаться от всех рассылок

            +popup({
                id: config.popupId,
                modifiers: 'small'
            })
                +popupHeader({
                    classes: srOnly,
                    idPrefix: config.popupId,
                    content: 'Отписка от рассылок'
                })

                +popupContent
                    +e.title Вы действительно хотите отписаться от всех рассылок?

                    +e.buttons
                        +button({
                            color: 'primary',
                            modifiers: 'clear',
                            content: 'Отписаться'
                        })

                        +button({
                            color: 'secondary',
                            modifiers: 'cancel',
                            content: 'Отмена',
                            attrs: {
                                dataPopupClose: ''
                            }
                        })

            block

-
    /**
     * @function mixins.layout#subscribe
     * @requires mixins.components#checkbox
     * @desc Страница подписок в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='mailings'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='subscribe'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin subscribe(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'subscribe';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'mailings',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'items',
                classes: row
            })
                each item, index in items
                    +be({
                        modifiers: 'item',
                        classes: col
                    })
                        +checkbox({
                            id: `subscribe-checkbox${index + 1}`,
                            switch: true,
                            checked: item.status,
                            switchRole: true
                        })
                            +e({
                                tag: span,
                                modifiers: 'inner'
                            })
                                +e({
                                    tag: span,
                                    modifiers: 'title',
                                    content: item.title
                                })
                                +e({
                                    tag: span,
                                    modifiers: 'status',
                                    content: item.status ? 'Подписан' : 'Не подписан'
                                })

            block