include /layout/agreement-link/template.pug

-
    /**
     * @function mixins.layout#callbackForm
     * @requires mixins.layout#agreementLink
     * @requires mixins.layout#baseForm
     * @desc Форма обратного звонка. Наследует: [baseForm]{@link layout#baseForm}.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.idPrefix=''] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id='callback'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.callbackModifier='callback'] - Дополнительный класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     */
mixin callbackForm(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'callback';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            idPrefix: '',
            idPostfix: `-${uniqueId()}`,
            id: 'callback',
            class: {
                callbackModifier: mixinClass
            }
        });

        if (config.class.callbackModifier) {
            setBlockClass(attributes, config.class.callbackModifier);
        }

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        const idPrefix = `${config.idPrefix + config.id}-`;

    //-html
    +baseForm(config)&attributes(attributes)
        +formGroup
            +label({
                for: `${idPrefix}name${config.idPostfix}`,
                content: 'Ваше имя'
            })
            +e.input-container
                +input({
                    formControl: true,
                    id: `${idPrefix}name${config.idPostfix}`,
                    name: 'NAME',
                    validate: 'name',
                    autocomplete: 'name'
                })

        +formGroup
            +label({
                for: `${idPrefix}phone${config.idPostfix}`,
                content: 'Телефон',
                required: true
            })
            +e.input-container
                +input({
                    formControl: true,
                    inputType: 'tel',
                    id: `${idPrefix}phone${config.idPostfix}`,
                    name: 'PHONE',
                    validate: 'required, tel',
                    autocomplete: 'tel'
                })

        +formGroup
            +e.comment #[span.text-required *] — поля, обязательные для заполнения

        +formGroup
            +agreementLink({id: `${idPrefix}agreement${config.idPostfix}`})

        +formGroup
            +button({
                modifiers: 'submit',
                color: 'primary',
                buttonType: 'submit',
                content: 'Отправить'
            })

        block