@import 'main';

.checkbox-tree{
    display: block;
    text-align: left;
    &__container{
        position: relative;
        min-width: 100%;
    }
    &__list{
        margin: 0;
        padding: 0;
    }
    &__item{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding-left: 30px;
        &::before{
            top: -15px;
            left: -15px;
            width: 0;
            height: 100%;
            border-radius: 0;
            background: none;
            @include border-left($border-secondary);
        }
        @include after{
            top: 15px;
            right: calc(100% - 20px);
            width: 15px + 20;
            @include border-top($border-secondary);
        }
        &:last-child{
            &::before{
                height: 30px;
            }
        }
        @include m(level1){
            &::before,
            &::after{
                display: none;
            }
        }
    }
    &__button{
        @include m(collapse){
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: $text-primary;
            line-height: 0;
            background: $bg-primary;
            @include transition(color);
            &:hover,
            &:focus{
                color: $link-color;
            }
            &.active{
                .checkbox-tree__icon{
                    transform: scaleY(-1);
                }
            }
        }
    }
    &__icon{
        @include transition(transform);
    }
    &__form-check{
        padding-top: 2px;
        padding-bottom: 1px;
    }
    &-form-check{
        &__content{
            &::before{
                background: $white;
            }
        }
    }
}