include /components/check/template.pug
include /components/collapse/template.pug

-
    /**
     * @function mixins.layout#checkboxTree
     * @requires mixins.components#collapseButton
     * @requires mixins.components#collapseContent
     * @desc Древо разделов.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=b]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='checkbox-tree'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.container='container'] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.collapse='collapse'] - .
     * @param {bemclasses} [config.class.level='level'] - .
     * @param {bemclasses} [config.class.hasItems='has-items'] - .
     */
mixin checkboxTree(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'checkbox-tree';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                container: 'container',
                list: 'list',
                item: 'item',
                collapse: 'collapse',
                level: 'level',
                hasItems: 'has-items'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

    //-html
    mixin treeLevel(currentItems, currentLevel)
        -
            const levelClass = config.class.level + currentLevel
        //-html
        +#{(currentLevel > 1) ? empty : e}({
            modifiers: [config.class.container, levelClass]
        })
            +e({
                tag: ul,
                modifiers: [config.class.list, levelClass]
            })
                each item, itemIndex in currentItems
                    +e({
                        tag: li,
                        modifiers: [config.class.item, levelClass, item.items ? config.class.hasItems : '']
                    })
                        - let collapseId = '';
                        if item.items
                            - collapseId = `tree-item-${uniqueId()}`;
                            +collapseButton({
                                id: collapseId,
                                content: '',
                                modifiers: [config.class.collapse, levelClass],
                                icon: {
                                    sprite: {
                                        id: 'arrow',
                                        width: 10
                                    }
                                }
                            })
                        +checkbox({
                            content: item.content || item,
                            value: `value-${currentLevel}-${uniqueId()}`,
                            name: `SECTION_${currentLevel}_${uniqueId()}`
                        })

                        if item.items
                            +collapseContent({
                                id: collapseId,
                                class: config.class.container,
                                modifiers: config.class.level + (currentLevel + 1)
                            })
                                +treeLevel(item.items, currentLevel + 1)

    +b(config)&attributes(attributes)
        +treeLevel(items, 1)

        block