@import 'main';

//Блок аватарки
.avatar{
    display: inline-block;
    &__inner{
        position: relative;
        display: flex;
        width: 35px;
        height: 35px;
        text-align: center;
        text-decoration: none !important;
    }
    &__badge{
        top: -1px !important;
        left: -1px;
        transform: scale(.75);
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        @include border($color-primary, 3px);
        color: $color-primary;
        font-size: $size-primary-px;
        font-weight: $weight-bold;
        line-height: 15px;
        @include circle(100%);
    }
    &__image{
        position: relative;
        display: block;
        margin: 0;
        overflow: hidden;
        @include border($border-secondary);
        @include circle(100%);
    }
    &-image{
        &__image{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
        }
    }
}