include /components/badge/template.pug

-
    /**
     * @function mixins.layout#avatar
     * @requires mixins.components#badge
     * @desc Аватарка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='managers'] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.dataIndex=0] - .
     * @param {string} [config.itemsProp] - .
     * @param {Object} [config.class={}] - Объект с классами.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='avatar'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin avatar(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'avatar';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'managers',
            dataIndex: 0,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data, config.dataIndex);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const avatarImage = setImageProps(config.dataPath, data.image, data.name);
        avatarNameArray = data.name.split(' ');
        const initials = avatarNameArray[0].charAt(0) + avatarNameArray[1].charAt(0);

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            if data.status === 'online'
                +badge({
                    notification: true,
                    color: 'success',
                    title: 'Онлайн'
                })

            if avatarImage
                +be({
                    tag: span,
                    modifiers: 'image'
                })
                    +image({
                        src: avatarImage.src,
                        alt: avatarImage.alt,
                        title: removeHtml(data.name)
                    })
            else
                +e({
                    tag: span,
                    modifiers: 'text',
                    attrs: {
                        title: removeHtml(data.name)
                    },
                    content: initials
                })

            block