include /components/social/template.pug

-
    /**
     * @function mixins.layout#productShare
     * @requires mixins.components#yandexShare
     * @desc Блок "Поделиться" на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='share'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin productShare(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'share';

        _.defaultsDeep(config, {
            type: be,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +button({
            modifiers: 'share'
        })
            +sprite#share
            span Поделиться

        +e.popover
            +yandexShare

        block