@import 'main';

//Стили плагина Owl carousel
.owl-carousel{
    &.slider-initializing{
        position: absolute;
        top: -9999px;
        left: -9999px;
        width: 100%;
    }

    .owl-stage{
        touch-action: pan-y;
    }

    .owl-item{
        &.owl-animated-out{
            pointer-events: none;
        }
        img{
            width: auto;
        }
    }

    .owl-video-play-icon{
        cursor: $cursor-pointer;
    }

    .owl-height{
        @include transition(height);
        .owl-stage,
        .owl-item{
            height: 100%;
        }
    }

    //Навигация
    .owl-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
        //Иконка стрелок
        .icon{
            display: block;
            height: $btn-height;
            color: $grey-darker;
            line-height: $btn-height - 4;
            @include transition(color);
        }

        //Кнопки
        button.owl-prev,
        button.owl-next{
            display: inline-block;
            width: $btn-height;
            height: $btn-height;
            text-align: center;
            vertical-align: middle;
            @include transition(color background border opacity);
            &:hover,
            &:focus{
                .icon{
                    color: palette(primary, light);
                }
            }
            &.disabled{
                pointer-events: auto;
                .icon{
                    color: $text-primary;
                }
            }
        }
        button.owl-prev{
            .icon{
                transform: rotate(90deg);
            }
        }
        button.owl-next{
            .icon{
                transform: rotate(-90deg);
            }
        }

        .owl-dots{
            margin-top: -12px;
        }
    }

    //Пагинация
    .owl-dots{
        max-width: calc(100% - #{($btn-height + $global-padding) * 2});
        margin-top: -4px;
    }
    button.owl-dot{
        display: inline-block;
        margin: 0 5px;
        background: $grey;
        cursor: $cursor-pointer;
        opacity: .5;
        @include circle(7px);
        @include transition(opacity);

        &:hover,
        &.active{
            opacity: 1;
        }
        &.active{
            cursor: default;
            pointer-events: none;
        }
    }
}

//Простой контентный слайдер
.slider-owl{
    text-align: center;
    img{
        margin: 0 auto;
    }
}