-
    /**
     * @function mixins.components#sliderOwl
     * @desc Контентный слайдер.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag]
     * @param {boolean} [config.hidden=true] - .
     * @param {boolean} [config.dataInit] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='slider'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - .
     */
mixin sliderOwl(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'slider';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataSliderOwl: config.dataInit ? '' : null,
                dataSliderOwlOptions: config.dataOptions || null
            },
            hidden: true,
            class: {
                mixinClass
            }
        });

        _.defaultsDeep(config, {
            attrs: {
                hidden: config.hidden ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block