@import 'main';

//Обычная ссылка
.link{
    padding: 0;
    border: none;
    color: $color-primary;
    text-decoration: underline;
    background: none;
    cursor: $cursor-pointer;
    @include transition(color);
    &:hover{
        color: $color-primary;
        text-decoration: none;
    }
}

//Подчеркнутая пунктирной линией ссылка
.link-dashed{
    position: relative;
    display: inline-block;
    color: $text-primary;
    text-decoration: none !important;
    @include transition(color);
    @include after{
        left: 0;
        bottom: .1em;
        width: 100%;
        @include border-bottom(currentColor, 1px, dashed);
        @include transition(border-color);
    }
    &:hover{
        color: $color-primary;
        &::after{
            border-bottom-color: transparent;
        }
    }

    &[href^='tel:']{
        text-decoration: none;
    }

    &.disabled{
        border-bottom: none !important;
        text-decoration: none !important;
    }

    @at-root button#{&}{
        padding: 0;
        border: none;
        background: none;
    }
}