-
    /**
     * @function mixins.components#link
     * @desc Ссылка.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=a]
     * @param {string} [config.href=jv] - .
     * @param {string} [config.hrefFormat=transformUrl] - .
     * @param {string} [config.hreflang] - .
     * @param {string} [config.buttonType] - .
     * @param {string} [config.role] - .
     * @param {string} [config.title] - .
     * @param {string} [config.rel] - .
     * @param {boolean} [config.download] - .
     * @param {boolean} [config.disabled] - .
     * @param {string} [config.target] - .
     * @param {boolean} [config.dashed] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='link'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @param {bemclasses} [config.class.dashed='link-dashed'] - .
     * @example
     * +link({
     *     href: 'catalog',
     *     title: 'Перейти в каталог',
     *     content: 'Каталог',
     *     dashed: true
     * })
     *
     * @example
     * +link({
     *     tag: button,
     *     content: 'Кнопка'
     * })
     */
mixin link(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'link';

        _.defaultsDeep(config, {
            type: e,
            tag: a,
            attrs: {},
            href: jv,
            hrefFormat: transformUrl,
            class: {
                mixinClass,
                disabled: 'disabled',
                dashed: 'link-dashed'
            }
        });

        const isDisabled = config.disabled && (config.tag === a);
        if (isDisabled) {
            config.classes.push(config.class.disabled);
            config.attrs.ariaDisabled = _.isUndefined(config.attrs.ariaDisabled) ? 'true' : config.attrs.ariaDisabled;
        }

        const formattedHref = _.isFunction(config.hrefFormat) ? config.hrefFormat.call(null, config.href) : config.href;
        const isButton = config.tag === button;

        _.defaultsDeep(config, {
            attrs: {
                type: _.ifElse(config.buttonType || isButton, 'button'),
                href: _.ifElse(config.tag === a, formattedHref),
                hreflang: config.hreflang || null,
                title: removeHtml(config.title) || null,
                rel: config.rel || null,
                role: config.role || null,
                download: config.download ? '' : null,
                target: config.target || null,
                disabled: _.ifElse((config.buttonType || isButton) && config.disabled, ''),
                tabindex: _.isUndefined(config.tabindex) ? (isDisabled ? '-1' : null) : config.tabindex
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        if (config.dashed) addClasses.push(config.class.dashed);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        if !_.isUndefined(config.content)
            != config.content
        else
            block