-
    /**
     * @function mixins.layout#icons
     * @desc Фавиконки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {string} [config.themeColor=globalConfig.projectThemeColor] - .
     * @param {boolean} [config.favicon=true] - .
     * @param {boolean} [config.faviconSvg=true] - .
     * @param {boolean} [config.appleTouchIcon=true] - .
     * @param {boolean} [config.manifest=true] - .
     */
mixin icons(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            themeColor: globalConfig.projectThemeColor,
            favicon: true,
            faviconSvg: true,
            appleTouchIcon: true,
            manifest: true
        });

    //-html
    if config.themeColor
        meta(name='theme-color', content=config.themeColor)
    if config.favicon
        link(href=composeUrl(globalConfig.media, globalConfig.iconsName, 'favicon.ico'), type='image/x-icon', rel='icon')
    if config.faviconSvg
        - const faviconImage = setImageProps('Layout/icons', 'media/favicon.svg');
        if faviconImage
            link(href=faviconImage.src, type='image/svg+xml', rel='icon')
    if config.appleTouchIcon
        link(href=composeUrl(globalConfig.media, globalConfig.iconsName, 'apple-touch-icon-180x180.png'), rel='apple-touch-icon', sizes='180x180')
    if config.manifest
        link(href=composeUrl(globalConfig.media, globalConfig.iconsName, 'manifest.json'), rel='manifest')

    block