@import 'main';

.errorpage{
    &-header{
        &__title{
            margin-bottom: 0;
            color: $color-primary;
            font-size: $size-h1 * 1.7;
        }
    }

    &__text{
        margin-top: $global-margin;
    }

    &__link{
        font-size: $size-md;
    }
}