-
    /**
     * @function mixins.layout#errorpage
     * @desc Блока страницы ошибки 404.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='errorpage'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin errorpage(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'errorpage';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +be({
            tag: header,
            modifiers: 'header'
        })
            +e({
                tag: h1,
                modifiers: 'title',
                content: 'Ошибка 404'
            })

        +e.text К сожалению, страница не найдена

        +link({
            href: '/',
            content: 'Перейти на главную страницу'
        })

        block