-
    const page = {
        title: 'Страница претензии',
        type: 'personal'
    };
include /base/templates/main.pug

include /layout/sidebar/template.pug
include /layout/personal/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +sidebar
                        +sidebarPersonal

                    +mainContent
                        +top({title: 'Рекламация №23 от 12.07.2021'})

                        +personalWrapper
                            +pretensionsDetail

            +contentBottom
        +foot