@import 'main';

//Сброс базовых стилей элементов Bitrix
#bx-panel, //Id главной панели
.adm-informer, //Панель админских уведомлений
.bx-component-opener, //Тултипы у меню компонентов
.bx-core-popup-menu, //Выпадающие меню
.bx-core-window, //Попапы
.bx-panel-tooltip, //Тултипы панели меню
.bxml-dialog{ //Медиа-библиотека
    a{
        transition: none;
    }
    img,
    iframe{
        display: initial;
        margin: initial;
    }
    li{
        &::before{
            display: none;
        }
    }
    td,
    th{
        padding: 0;
        border-top: none;
        border-bottom: none;
        vertical-align: initial;
    }
    label{
        margin-bottom: 0;
    }
}

.main-content__col{
    > div:not([class]){
        max-width: 100%;
    }
}