@import 'main';

//Валютные символы
.currency{
    //font-family: $font-currency;
    //font-size: 1.1em;
    //vertical-align: baseline;
}

//Копейки, центы
.penny{
    &::before{
        content: '.';
    }
}