//-TODO:add lang strings, fix typedef docs

//-TODO:price mixin

-
    /**
     * @namespace components.money
     * @desc Переменные и функции, связанные с отображением денежных значений.
     */
    function money() {}

    /**
     * @member {string} components.money#currency
     * @desc Валютный символ по умолчанию.
     */
    money.currency = '₽';

    /**
     * @member {string} components.money#currencyClass
     * @desc Класс тега для вывода валюты.
     */
    money.currencyClass = 'currency';

    /**
     * @member {string} components.money#currencyHtml
     * @desc Html-строка для элемента валютного символа. Символ валюты выводится в теге с соответствующим классом.
     * @example
     * - const price = '100500.50'
     * div!= `${price} ${money.currencyHtml}`
     */
    money.currencyHtml = money.currency ? `<span class="${money.currencyClass}">${money.currency}</span>` : '';

    /**
     * @member {string} components.money#currentTitle
     * @desc Заголовок для текущей цены (со скидкой).
     */
    money.currentTitle = 'Текущая цена';

    /**
     * @member {string} components.money#baseTitle
     * @desc Заголовок для цены без скидки.
     */
    money.baseTitle = 'Цена без скидки';

    /**
     * @function components.money#format
     * @desc Форматирование цен.
     * @param {(number|string)} num - Цена.
     * @param {string} [separator=' '] - Строка-разделитель.
     * @returns {string} Отформатированная цена.
     * @example
     * - const price = '100500.50';
     * div!= `${money.format(price)} ${money.currencyHtml}`
     */
    money.format = (num, separator) => {
        return (!_.isUndefined(num) && String(num).replace(/\B(?=(\d{3})+(?!\d))/g, separator || ' ')) || '';
    };

    /**
     * @function components.money#countPrice
     * @desc Вычисляет значение основной цены без копеек.
     * @param {(number|string)} num - Цена в формате дробного числа.
     * @returns {number} Основная цена.
     * @example
     * - const price = '100500.50';
     * div= money.countPrice(price)
     */
    money.countPrice = num => {
        return Number.parseInt(num, 10);
    };

    /**
     * @function components.money#countPenny
     * @desc Вычисляет значение копеек из цены.
     * @param {(number|string)} num - Цена в формате дробного числа.
     * @returns {number} Количество копеек.
     * @example
     * - const price = '100500.50';
     * div.penny= money.countPenny(price)
     */
    money.countPenny = num => {
        const pennyNumber = Number.parseInt((Number.parseFloat(num) % 1).toFixed(2) * 100, 10);
        return _.ifElse(pennyNumber < 10, '0', '') + pennyNumber;
    };

    /**
     * @member {string} components.money#pennyClass
     * @desc Класс тега для вывода копеек.
     */
    money.pennyClass = 'penny';

    /**
     * @function components.money#pennyHtml
     * @desc Оборачивает цену в отдельный элемент с классом.
     * @param {(number|string)} num - Цена.
     * @returns {string} Html-строка с элементом цены. Копейки выводятся в теге с соответствующим классом.
     * @example
     * div!= `${money.format(100500) + money.pennyHtml(50)} ${money.currencyHtml}`
     */
    money.pennyHtml = num => {
        return `<span class="${money.pennyClass}">${num}</span>`;
    };

    /**
     * @function components.money#formatPenny
     * @desc Вычисляет копейки из цены и оборачивает их в отдельный элемент с классом.
     * @param {(number|string)} num - Цена.
     * @returns {string} Html-строка с элементом копеек. Копейки выводятся в теге с соответствующим классом.
     * @example
     * div!= `${money.format(100500) + money.formatPenny(price)} ${money.currencyHtml}`
     */
    money.formatPenny = num => {
        return money.pennyHtml(money.countPenny(num));
    };

    /**
     * @function components.money#formatPrice
     * @desc Выводит отформатированную цену без копеек с валютным символом.
     * @param {(number|string)} num - Цена.
     * @param {string} [currency=components.money.currency] - Символ валюты.
     * @returns {string} Html-строка с отформатированной ценой. Символ валюты выводится в теге с соответствующим классом.
     * @example
     * - const price = 100500.50;
     * div!= money.formatPrice(price)
     */
    money.formatPrice = (num, currency) => {
        currency = _.isUndefined(currency) ? true : currency;
        const currencyHtml = _.ifElse(currency && money.currencyHtml, ` ${money.currencyHtml}`, '');
        return `<span>${money.format(money.countPrice(num))}</span>${currencyHtml}`;
    };

    /**
     * @function components.money#formatPricePenny
     * @desc Выводит отформатированную цену с копейками и валютным символом.
     * @param {(number|string)} num - Цена.
     * @param {string} [currency=components.money.currency] - Символ валюты.
     * @returns {string} Html-строка с отформатированной ценой. Копейки и символ валюты выводятся в теге с соответствующим классом.
     * @example
     * - const price = 100500.50;
     * div!= money.formatPricePenny(price)
     */
    money.formatPricePenny = (num, currency) => {
        currency = _.isUndefined(currency) ? true : currency;
        const currencyHtml = _.ifElse(currency && money.currencyHtml, ` ${money.currencyHtml}`, '');
        return `<span>${money.format(money.countPrice(num))}</span>${money.formatPenny(num) + currencyHtml}`;
    };