@import 'main';

//Карточка элемента каталога
.catalog-item{
    .card{
        //Изображение
        &-image{
            &__container{
                height: calc(#{strip-unit(col-width(6))}vw - #{(ceil($global-padding * 1.5) + $global-padding + $border-width-primary) * 2});
                @media (min-width: $media-md){
                    height: calc(#{strip-unit(col-width(4))}vw - #{(ceil($global-padding * 1.5) + $global-padding + $border-width-primary) * 2});
                }
                @media (min-width: $media-lg){
                    height: 140px;
                }
            }
            &__image{
                max-height: calc(#{strip-unit(col-width(6))}vw - #{(ceil($global-padding * 1.5) + $global-padding + $border-width-primary) * 2});
                @media (min-width: $media-md){
                    max-height: calc(#{strip-unit(col-width(4))}vw - #{(ceil($global-padding * 1.5) + $global-padding + $border-width-primary) * 2});
                }
                @media (min-width: $media-lg){
                    max-height: 140px;
                }
            }
        }

        //Верхняя часть
        &__top{
            min-width: 100%;
        }

        //Артикул
        @if map-get($global-settings, catalogNumber){
            &__top-info{
                position: relative;
                min-width: 100%;
                font-size: $size-sm-px;
                @include before{
                    top: 8px;
                    left: 0;
                    width: 100%;
                    @include border-top;
                }
            }
            &__number{
                position: relative;
                z-index: 1;
                display: inline-block;
                padding-right: 6px;
                background: $white;
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }

        //Заголовок
        &__title{
            margin-top: $global-margin * .5;
        }

        //Текст
        &__text{
            @include text-overflow(3, $line-height-md);
        }

        //Рекомендованная розничная цена
        @if map-get($global-settings, rrp){
            &__rrp{
                display: none;
            }
            &-rrp{
                &__price{
                    color: $text-secondary;
                    font-size: $size-md-px;
                    white-space: nowrap;
                    a[href^='tel:']{
                        color: inherit;
                        pointer-events: none;
                    }
                }
                @if map-get($global-settings, badges){
                    &__badges{
                        width: 0;
                        margin: -2px -7px 0;
                    }
                    &-badges{
                        &__badge{
                            padding: 0 7px;
                            border-top-left-radius: 0;
                            border-bottom-right-radius: 0;
                            color: $white;
                            font-size: $size-sm-px;
                            font-weight: $weight-bold;
                            line-height: 17px;
                            letter-spacing: $letter-spacing-sm;
                            background: $color-primary;
                            &:not(:first-child){
                                margin-top: $global-margin * .5;
                            }
                            @include m(new){
                                background: palette(success, light);
                            }
                            @include m(sale){
                                background: $color-danger;
                            }
                            @include m(hit){
                                background: $color-info;
                            }
                        }
                    }
                }
            }
        }

        //Средний блок
        &__middle{
            min-width: 100%;
        }

        //Цены
        &__prices{
            min-width: 100%;
            margin-top: $global-margin * .75;
        }
        &-prices{
            &__price{
                display: inline-block;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-primary;
                letter-spacing: $letter-spacing-primary;
                white-space: nowrap;
                @include m(current){
                    margin-right: 12px;
                    font-weight: $weight-medium;
                }
                @if map-get($global-settings, basePrice){
                    @include m(base){
                        position: relative;
                        color: $color-danger;
                        font-size: $size-sm-px;
                        @include after{
                            top: 50%;
                            left: -3px;
                            width: calc(100% + #{3px * 2});
                            margin-top: -1px;
                            @include border-top(currentColor, 1px);
                        }
                    }
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }

        //Блок добавления в корзину
        &__submit{
            display: flex;
            align-items: center;
            min-width: 100%;
        }

        //TODO:use map-get($global-settings, counter)
        //Счётчик
        @if map-get($global-settings, buy){
            &__counter{
                width: calc(100% - #{28px * 2 + 4});
                min-width: 120px; //если рядом только одна кнопка
                padding-right: 8px;
                &[hidden]{
                    ~ .card__buy{
                        justify-content: flex-start;
                        width: 100%;
                        margin-left: -6px;
                    }
                }
                .counter-wrapper{
                    width: 100%;
                    max-width: 112px;
                }
                .counter-button{
                    width: 30px;
                }
            }
            &-counter{
                &__counter{
                    margin-top: calc(#{$global-margin} - 8px);
                }
            }
        }

        //Кнопка покупки
        @if map-get($global-settings, buy){
            &__buy{
                display: flex; //TODO:add inner
                justify-content: flex-end;
                width: 56px + 4;
                @at-root .touch{
                    .catalog-item{
                        .card{
                            &__buy{
                                width: 36px * 2 + 4;
                                margin-left: -12px;
                                transform: translateX(8px);
                            }
                        }
                    }
                }
            }
            &-buy{
                &__item{
                    position: relative;
                    margin-top: calc(#{$global-margin} - 8px);
                    &:not(:first-child){
                        margin-left: 4px;
                    }
                    @include m(wishlist){
                        .card-buy__icon{
                            top: -1px;
                        }
                    }
                    @include m(buy){
                        .card-buy__button{
                            @include m(active){
                                width: auto;
                                color: palette(success, light);
                                &:hover,
                                &:focus{
                                    color: $color-success;
                                }
                                .card-buy{
                                    &__text{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                &__button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //width: (56px * .5);
                    min-width: (56px * .5);
                    height: $btn-height;
                    padding: 0 3px;
                    border: none;
                    color: $grey-light;
                    line-height: $btn-height - 4;
                    white-space: nowrap;
                    text-align: center;
                    text-decoration: none;
                    background: none;
                    @include transition(color);
                    &:hover,
                    &:focus{
                        color: palette(primary, light);
                    }
                    svg{
                        margin-left: 1px;
                    }
                    @at-root .touch{
                        .catalog-item{
                            .card{
                                &-buy{
                                    &__button{
                                        width: 36px;
                                    }
                                }
                            }
                        }
                    }
                }
                &__text{
                    display: none;
                    margin-left: 6px;
                    line-height: $btn-height - $btn-border-width * 2;
                }
                &__icon{
                    position: relative;
                    top: -2px;
                    display: inline-block;
                }
            }
        }

        //Кнопки действий
        &__actions{
            position: absolute;
            top: $global-margin * .75;
            right: ceil($global-padding * 1.75);
        }
        &-actions{
            &__item{
                position: relative;
                opacity: 0;
                @include transition(opacity);
                &:not(:first-child){
                    margin-top: 8px;
                }
                &.active{
                    opacity: 1;
                }
            }
            &__button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: $btn-height-sm;
                min-height: $btn-height-sm;
                margin: 0;
                padding: 0;
                border: none;
                color: $grey-light;
                background: none;
                @include transition(color);
                &:hover,
                &:focus{
                    color: palette(primary, light);
                }
                @include m(active){
                    color: palette(success, light);
                    &:hover,
                    &:focus{
                        color: $color-success;
                    }
                }
            }
            &__text{
                @include sr-only;
            }
        }

        //Выбор цвета
        @if map-get($global-settings, colors){
            &__colors{
                min-width: 100%;
                margin-top: $global-margin * 1.25;
            }
            &-colors{
                &__inner{
                    display: flex;
                }
                &__list{
                    display: flex;
                    flex-wrap: wrap;
                    margin: -4px;
                }
                &__link{
                    display: block;
                    padding: 4px;
                    border: none;
                    background: none;
                    @include transition(padding);
                    &.active,
                    &:hover,
                    &:focus{
                        .card-colors__color{
                            border-color: $color-primary !important;
                        }
                    }
                    &.active{
                        padding: 2px !important;
                        cursor: default;
                        pointer-events: none;
                        .card-colors__color{
                            width: 19px;
                            height: 19px;
                        }
                    }
                }
                &__color{
                    display: block;
                    width: 15px;
                    height: 15px;
                    @include border($grey-light);
                    border-radius: $radius-sm;
                    background-position: center;
                    background-size: cover;
                    background-origin: border-box;
                    @include transition(width height border-color);
                }
                &__more{
                    height: 15px;
                    margin-left: 9px;
                }
                &-more{
                    &__link{
                        position: relative;
                        width: 15px;
                        height: 15px;
                        padding: 0;
                        border: none;
                        color: $grey-darker;
                        line-height: 15px;
                        text-align: center;
                        vertical-align: top;
                        background: none;
                        @include transition(color);
                        @include before{
                            top: 50%;
                            left: 50%;
                            width: $btn-height;
                            height: $btn-height;
                            transform: translate(-50%, -50%);
                        }
                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
                @at-root .touch{
                    .catalog-item{
                        .card{
                            &-colors{
                                &__list{
                                    margin: -6px;
                                }
                                &__link{
                                    padding: 6px;
                                    &.active{
                                        padding: 3px !important;
                                        .card-colors__color{
                                            width: 28px;
                                            height: 28px;
                                        }
                                    }
                                }
                                &__color{
                                    width: 22px;
                                    height: 22px;
                                }
                                &__more{
                                    height: 22px;
                                    margin-left: 10px;
                                }
                                &-more{
                                    &__link{
                                        width: 22px;
                                        height: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //Выбор размера
        @if map-get($global-settings, sizes){
            &__sizes{
                min-width: 100%;
                margin-top: $global-margin * .5;
            }
            &-sizes{
                &__inner{
                    display: flex;
                    flex-wrap: wrap;
                }
                &__list{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 8px -4px -2px;
                }
                &__link{
                    display: block;
                    padding: 2px 8px;
                    border: none;
                    border-radius: $radius-sm;
                    color: $text-secondary;
                    font-size: $size-ml-px;
                    background: none;
                    @include transition(color background);
                    &.active,
                    &:hover,
                    &:focus{
                        color: $color-primary !important;
                    }
                    &.active{
                        color: $white !important;
                        background: $text-secondary;
                        cursor: default;
                        pointer-events: none;
                    }
                }
                @at-root .touch{
                    .catalog-item{
                        .card{
                            &-sizes{
                                &__link{
                                    min-width: 34px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Наличие
        @if map-get($global-settings, availability){
            &__availability{
                min-width: 100%;
            }
            &-availability{
                &__text{
                    display: none;
                    align-items: center;
                    height: calc(#{$btn-height - 8} + 1rem);
                    font-size: $size-ml-px;
                    @include m(not-available){
                        display: flex;
                        padding-top: calc(#{$global-margin} - 8px);
                        color: $color-danger;
                    }
                }
            }
        }

        //Значки
        @if map-get($global-settings, badges){
            &__badges{
                position: absolute;
                top: $global-margin * .75;
                left: $global-padding;
                width: 0;
                line-height: 17px;
            }
            &-badges{
                &__badge{
                    padding: 0 10px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: $white;
                    font-size: $size-sm-px;
                    font-weight: $weight-bold;
                    line-height: 17px;
                    text-transform: uppercase;
                    background: $color-primary;
                    &:not(:first-child){
                        margin-top: $global-margin * .5;
                    }
                    @include m(new){
                        background: palette(success, light);
                    }
                    @include m(sale){
                        background: $color-danger;
                    }
                    @include m(hit){
                        background: $color-info;
                    }
                }
            }
        }

        //При наведении
        &:hover,
        &:focus{
            box-shadow: $shadow-size-primary rgba($shadow-color-primary, .1);
            transform: translateY(-8px);
            .card{
                &-buy{
                    &__item{
                        opacity: 1;
                    }
                }
                &-actions{
                    &__item{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//В мобильной версии
.mobile{
    .catalog-item .card{
        box-shadow: none !important;
        transform: none !important;
        @if map-get($global-settings, buy){
            &-buy{
                &__item{
                    opacity: 1;
                }
            }
        }

        &-actions{
            &__item{
                opacity: 1;
            }
        }
    }
}