include /components/badge/template.pug
include /components/card/template.pug
include /components/counter/template.pug
include /components/money/template.pug

-
    /**
     * @function mixins.layout#cardTopInfo
     * @desc Верхняя часть текстового контента элемента товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.title=`Артикул: ${config.data.number}`] - .
     * @param {string} [config.content=`Артикул: ${config.data.number}`] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='top-info'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.number='number'] - .
     */
mixin cardTopInfo(config)
    -
        if (!globalConfig.settings.catalogNumber) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'top-info';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            class: {
                mixinClass,
                number: 'number'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        if (data) {
            _.defaults(config, {
                title: `Артикул: ${data.number}`,
                content: `Артикул: ${data.number}`
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: config.class.number,
            content: config.content,
            attrs: {
                title: removeHtml(config.title)
            }
        })

        block

-
    /**
     * @function mixins.layout#cardRrp
     * @requires mixins.components#money
     * @desc РРЦ.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.title='Рекомендованная розничная цена'] - .
     * @param {boolean} [config.badges=true] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='rrp'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.price='price'] - .
     * @param {Object} [config.class.badges] - .
     */
mixin cardRrp(config)
    -
        if (!globalConfig.settings.rrp) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'rrp';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            title: 'Рекомендованная розничная цена',
            badges: true,
            class: {
                mixinClass,
                price: 'price'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const title = _.isUndefined(config.title) ? data.title : config.title;

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: config.class.price,
            content: money.formatPrice(data.rrp),
            attrs: {
                title
            }
        })

        if config.badges
            +cardBadges({
                data,
                dataPath: config.dataPath,
                class: config.class.badges
            })

        block

-
    /**
     * @function mixins.layout#cardPrice
     * @requires mixins.components#money
     * @desc Цены.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {Object} [config.current={}] - .
     * @param {string} [config.current.title='Текущая цена'] - .
     * @param {Function} [config.current.format=money.formatPrice] - .
     * @param {Object} [config.base={}] - .
     * @param {string} [config.base.title='Цена без скидки'] - .
     * @param {Function} [config.base.format=money.formatPrice] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='prices'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.price='price'] - .
     * @param {bemclasses} [config.class.current='current'] - .
     * @param {bemclasses} [config.class.base='base'] - .
     */
mixin cardPrice(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'prices';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            current: {
                title: 'Текущая цена',
                format: money.formatPrice
            },
            base: {
                title: 'Цена без скидки',
                format: money.formatPrice
            },
            class: {
                mixinClass,
                price: 'price',
                current: 'current',
                base: 'base'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const currentClasses = [config.class.price];
        if (config.class.current) currentClasses.push(config.class.current);

        const baseClasses = [config.class.price];
        if (config.class.base) baseClasses.push(config.class.base);

    //-html
    +b(config)&attributes(attributes)
        if data.price
            +e({
                modifiers: currentClasses,
                content: _.isFunction(config.current.format) ? config.current.format.call(this, data.price.current) : price.current,
                attrs: {
                    title: removeHtml(config.current.title)
                }
            })

            if globalConfig.settings.basePrice && data.price.base
                +e({
                    modifiers: baseClasses,
                    content: _.isFunction(config.base.format) ? config.base.format.call(this, data.price.base) : data.price.base,
                    attrs: {
                        title: removeHtml(config.base.title)
                    }
                })

        block

-
    /**
     * @function mixins.layout#cardAvailability
     * @desc Количество товаров на складе.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.availabilityText] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='availability'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.text='text'] - .
     */
mixin cardAvailability(config)
    -
        if (!globalConfig.settings.availability) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'availability';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                text: 'text',
                notAvailable: 'not-available'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        if (data) {
            _.defaults(config, {
                availabilityText: data.availability ? `В наличии: ${data.availability}` : 'Нет в наличии'
            });
        }

        const innerClasses = [config.class.text];
        if (!data.availability) innerClasses.push(config.class.notAvailable);

    //-html
    +b(config)&attributes(attributes)
        +e({
            modifiers: innerClasses,
            content: config.availabilityText
        })

        block

-
    /**
     * @function mixins.layout#cardWishlist
     * @desc Кнопки добавления к отложенным товарам.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.isActive] - .
     * @param {Object} [config.default={}] - .
     * @param {string} [config.default.tag=a] - .
     * @param {string} [config.default.href=jv] - .
     * @param {string} [config.default.title='Добавить к отложенным'] - .
     * @param {string} [config.default.content='Добавить к отложенным'] - .
     * @param {Sprite} [config.default.sprite='bookmark'] - .
     * @param {Object} [config.active={}] - .
     * @param {string} [config.active.tag=a] - .
     * @param {string} [config.active.href=transformUrl('wishlist')] - .
     * @param {string} [config.active.title='Удалить из отложенных'] - .
     * @param {string} [config.active.content='Удалить из отложенных'] - .
     * @param {Sprite} [config.active.sprite='bookmark'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.wishlist='wishlist'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.buttonAdd=''] - .
     * @param {bemclasses} [config.class.defaultAdd=''] - .
     * @param {bemclasses} [config.class.defaultModifier='default'] - .
     * @param {bemclasses} [config.class.activeAdd=''] - .
     * @param {bemclasses} [config.class.activeModifier='active'] - .
     * @param {bemclasses} [config.class.stateActive='state-active'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     */
mixin cardWishlist(config)
    -
        if (!globalConfig.settings.wishlist) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            default: {
                tag: button,
                title: 'Добавить к отложенным',
                text: 'Добавить к отложенным',
                sprite: 'bookmark'
            },
            active: {
                tag: button,
                title: 'Удалить из отложенных',
                text: 'Удалить из отложенных',
                sprite: 'bookmark'
            },
            class: {
                mixinClass,
                wishlist: 'wishlist',
                button: 'button',
                buttonAdd: '',
                defaultAdd: '',
                defaultModifier: 'default',
                activeAdd: '',
                activeModifier: 'active',
                stateActive: 'state-active',
                icon: 'icon',
                text: 'text',
                active: 'active'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        blockClasses.push(config.class.wishlist);
        setBlockClass(attributes, blockClasses);

        const addClasses = [];
        if (config.isActive) addClasses.push(config.class.active);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: config.default.tag,
            classes: [config.class.buttonAdd, config.class.defaultAdd, (config.isActive ? '' : config.class.stateActive)],
            modifiers: [config.class.button, config.class.defaultModifier],
            attrs: {
                type: _.ifElse(config.default.tag === button, 'button'),
                href: config.default.href,
                title: removeHtml(config.default.title),
                role: _.ifElse((config.default.tag === a) && (config.default.href === jv), 'button'),
                dataState: 'default'
            }
        })
            if config.default.sprite
                +e({
                    tag: span,
                    modifiers: config.class.icon,
                    attrs: {
                        ariaHidden: 'true'
                    }
                })
                    +sprite(config.default.sprite)
            +e({
                tag: span,
                modifiers: config.class.text,
                content: config.default.content
            })

        if config.active
            +e({
                tag: config.active.tag,
                classes: [config.class.buttonAdd, config.class.activeAdd, (config.isActive ? config.class.stateActive : '')],
                modifiers: [config.class.button, config.class.activeModifier],
                attrs: {
                    type: _.ifElse(config.active.tag === button, 'button'),
                    href: config.active.href,
                    title: removeHtml(config.active.title),
                    role: _.ifElse((config.active.tag === a) && (config.active.href === jv), 'button'),
                    dataState: 'active'
                }
            })
                if config.active.sprite
                    +e({
                        tag: span,
                        modifiers: config.class.icon,
                        attrs: {
                            ariaHidden: 'true'
                        }
                    })
                        +sprite(config.active.sprite)
                +e({
                    tag: span,
                    modifiers: config.class.text,
                    content: config.active.content
                })

        block

-
    /**
     * @function mixins.layout#cardBuy
     * @desc Кнопка добавления в корзину.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.isActive] - .
     * @param {Object} [config.default={}] - .
     * @param {string} [config.default.tag=button] - .
     * @param {string} [config.default.href=jv] - .
     * @param {string} [config.default.title='Добавить в корзину'] - .
     * @param {string} [config.default.content='В корзину'] - .
     * @param {Sprite} [config.default.sprite='bag-plus'] - .
     * @param {Object} [config.active={}] - .
     * @param {string} [config.active.tag=a] - .
     * @param {string} [config.active.href=transformUrl('cart')] - .
     * @param {string} [config.active.title='Перейти в корзину'] - .
     * @param {string} [config.active.content='В корзине'] - .
     * @param {Sprite} [config.active.sprite={}] - .
     * @param {string} [config.active.sprite='check-circle'] - .
     * @param {number} [config.active.sprite.width=19] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.buy='buy'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.buttonAdd=''] - .
     * @param {bemclasses} [config.class.defaultAdd=''] - .
     * @param {bemclasses} [config.class.defaultModifier='default'] - .
     * @param {bemclasses} [config.class.activeAdd=''] - .
     * @param {bemclasses} [config.class.activeModifier='active'] - .
     * @param {bemclasses} [config.class.stateActive='active'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     */
mixin cardBuy(config)
    -
        if (!globalConfig.settings.buy) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            default: {
                tag: button,
                href: jv,
                title: 'Добавить в корзину',
                text: 'В корзину',
                sprite: 'bag-plus'
            },
            active: {
                tag: a,
                href: transformUrl('cart'),
                title: 'Перейти в корзину',
                text: 'В корзине',
                sprite: {
                    id: 'check-circle',
                    width: 19
                }
            },
            class: {
                mixinClass,
                buy: 'buy',
                button: 'button',
                buttonAdd: '',
                defaultAdd: '',
                defaultModifier: 'default',
                activeAdd: '',
                activeModifier: 'active',
                stateActive: 'state-active',
                icon: 'icon',
                text: 'text',
                active: 'active'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        blockClasses.push(config.class.buy);
        setBlockClass(attributes, blockClasses);

        const addClasses = [];
        if (config.isActive) addClasses.push(config.class.active);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: config.default.tag,
            classes: [config.class.buttonAdd, config.class.defaultAdd, (config.isActive ? '' : config.class.stateActive)],
            modifiers: [config.class.button, config.class.defaultModifier],
            attrs: {
                type: _.ifElse(config.default.tag === button, 'button'),
                href: config.default.href,
                title: removeHtml(config.default.title),
                role: _.ifElse((config.default.tag === a) && (config.default.href === jv), 'button'),
                dataState: 'default'
            }
        })
            if config.default.sprite
                +e({
                    tag: span,
                    modifiers: config.class.icon,
                    attrs: {
                        ariaHidden: 'true'
                    }
                })
                    +sprite(config.default.sprite)
            +e({
                tag: span,
                modifiers: config.class.text,
                content: config.default.content
            })

        if config.active
            +e({
                tag: config.active.tag,
                classes: [config.class.buttonAdd, config.class.activeAdd, (config.isActive ? config.class.stateActive : '')],
                modifiers: [config.class.button, config.class.activeModifier],
                attrs: {
                    type: _.ifElse(config.active.tag === button, 'button'),
                    href: config.active.href,
                    title: removeHtml(config.active.title),
                    role: _.ifElse((config.active.tag === a) && (config.active.href === jv), 'button'),
                    dataState: 'active'
                }
            })
                if config.active.sprite
                    +e({
                        tag: span,
                        modifiers: config.class.icon,
                        attrs: {
                            ariaHidden: 'true'
                        }
                    })
                        +sprite(config.active.sprite)
                +e({
                    tag: span,
                    modifiers: config.class.text,
                    content: config.active.content
                })

        block

-
    /**
     * @function mixins.layout#cardCompare
     * @desc Кнопка добавления в сравнение.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {boolean} [config.isActive] - .
     * @param {Object} [config.default={}] - .
     * @param {string} [config.default.tag=button] - .
     * @param {string} [config.default.href=jv] - .
     * @param {string} [config.default.title='Добавить в сравнение'] - .
     * @param {string} [config.default.content='В сравнение'] - .
     * @param {Sprite} [config.default.sprite='stats'] - .
     * @param {Object} [config.active={}] - .
     * @param {string} [config.active.tag=a] - .
     * @param {string} [config.active.href=transformUrl('compare')] - .
     * @param {string} [config.active.title='Перейти к сравнению'] - .
     * @param {string} [config.active.content='В сравнении'] - .
     * @param {Sprite} [config.active.sprite='stats'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.compare='compare'] - .
     * @param {bemclasses} [config.class.button='button'] - .
     * @param {bemclasses} [config.class.buttonAdd=''] - .
     * @param {bemclasses} [config.class.defaultAdd=''] - .
     * @param {bemclasses} [config.class.defaultModifier='default'] - .
     * @param {bemclasses} [config.class.activeAdd=''] - .
     * @param {bemclasses} [config.class.activeModifier='active'] - .
     * @param {bemclasses} [config.class.stateActive='state-active'] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.text='text'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     */
mixin cardCompare(config)
    -
        if (!globalConfig.settings.compare) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            default: {
                tag: button,
                title: 'Добавить в сравнение',
                text: 'В сравнение',
                sprite: 'stats'
            },
            active: {
                tag: button,
                title: 'Удалить из сравнения',
                text: 'В сравнении',
                sprite: 'stats'
            },
            class: {
                mixinClass,
                compare: 'compare',
                button: 'button',
                buttonAdd: '',
                defaultAdd: '',
                defaultModifier: 'default',
                activeAdd: '',
                activeModifier: 'active',
                stateActive: 'state-active',
                icon: 'icon',
                text: 'text',
                active: 'active'
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        blockClasses.push(config.class.compare);
        setBlockClass(attributes, blockClasses);

        const addClasses = [];
        if (config.isActive) addClasses.push(config.class.active);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            tag: config.default.tag,
            classes: [config.class.buttonAdd, config.class.defaultAdd, (config.isActive ? '' : config.class.stateActive)],
            modifiers: [config.class.button, config.class.defaultModifier],
            attrs: {
                type: _.ifElse(config.default.tag === button, 'button'),
                href: config.default.href,
                title: removeHtml(config.default.title),
                role: _.ifElse((config.default.tag === a) && (config.default.href === jv), 'button'),
                dataState: 'default'
            }
        })
            if config.default.sprite
                +e({
                    tag: span,
                    modifiers: config.class.icon,
                    attrs: {
                        ariaHidden: 'true'
                    }
                })
                    +sprite(config.default.sprite)
            +e({
                tag: span,
                modifiers: config.class.text,
                content: config.default.content
            })

        if config.active
            +e({
                tag: config.active.tag,
                classes: [config.class.buttonAdd, config.class.activeAdd, (config.isActive ? config.class.stateActive : '')],
                modifiers: [config.class.button, config.class.activeModifier],
                attrs: {
                    type: _.ifElse(config.active.tag === button, 'button'),
                    href: config.active.href,
                    title: removeHtml(config.active.title),
                    role: _.ifElse((config.active.tag === a) && (config.active.href === jv), 'button'),
                    dataState: 'active'
                }
            })
                if config.active.sprite
                    +e({
                        tag: span,
                        modifiers: config.class.icon,
                        attrs: {
                            ariaHidden: 'true'
                        }
                    })
                        +sprite(config.active.sprite)
                +e({
                    tag: span,
                    modifiers: config.class.text,
                    content: config.active.content
                })

        block

-
    /**
     * @function mixins.layout#cardBuyBlock
     * @desc Основные кнопки элемента товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.active] - .
     * @param {(boolean|Object)} [config.wishlist] - .
     * @param {(boolean|Object)} [config.compare] - .
     * @param {(boolean|Object)} [config.buy] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='buy'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cardBuyBlock(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'buy';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);
        delete config.class.block;

        if (config.wishlist) {
            config.wishlist = _.toPlainObject(config.wishlist);
        }
        if (config.wishlist) {
            _.defaultsDeep(config.wishlist, {
                isActive: config.active,
                class: config.class
            });
            delete config.wishlist.class.mixinClass;
            delete config.wishlist.class.block;
        }

        if (config.compare) {
            config.compare = _.toPlainObject(config.compare);
        }
        if (config.compare) {
            _.defaultsDeep(config.compare, {
                isActive: config.active,
                class: config.class
            });
            delete config.compare.class.mixinClass;
            delete config.compare.class.block;
        }

        if (config.buy) {
            config.buy = _.toPlainObject(config.buy);
        }
        if (config.buy) {
            _.defaultsDeep(config.buy, {
                isActive: config.active,
                class: config.class
            });
            delete config.buy.class.mixinClass;
            delete config.buy.class.block;
        }

    //-html
    +b(config)&attributes(attributes)
        if config.compare
            +cardCompare(config.compare)

        if config.wishlist
            +cardWishlist(config.wishlist)

        if config.buy
            +cardBuy(config.buy)

        block

-
    /**
     * @function mixins.layout#cardColors
     * @desc Меню цветов в карточке товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.active] - .
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.maxItems=6] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='colors'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cardColors(config)
    -
        if (!globalConfig.settings.colors) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'colors';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            maxItems: 6,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const colors = data.colors;

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e.list
                each color, index in colors
                    if index >= config.maxItems
                        - return;
                    +e({
                        modifiers: 'item',
                        attrs: {
                            title: removeHtml(color.title)
                        }
                    })
                        +link({
                            tag: button,
                            classes: _.ifElse(index === 0, 'active'),
                            title: removeHtml(color.title),
                            tabindex: _.ifElse(index === 0, '-1'),
                            disabled: color.disabled
                        })
                            +e({
                                tag: span,
                                modifiers: 'color',
                                attrs: {
                                    style: `background-color: ${color.color}`,
                                    ariaHidden: 'true',
                                    dataColorBg: ''
                                }
                            })

            if colors.length > config.maxItems
                +be.more
                    +link({
                        tag: button,
                        content: '...',
                        title: 'Показать ещё'
                    })

        block

-
    /**
     * @function mixins.layout#cardSizes
     * @desc Меню размеров в карточке товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.active] - .
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.maxItems=6] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='sizes'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cardSizes(config)
    -
        if (!globalConfig.settings.sizes) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'sizes';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            maxItems: 6,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const sizes = data.sizes;

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +e.list
                each size, index in sizes
                    if index >= config.maxItems
                        - return;
                    +e({
                        modifiers: 'item',
                        attrs: {
                            title: removeHtml(`Размер: ${size.title}`)
                        }
                    })
                        +link({
                            tag: button,
                            classes: _.ifElse(index === 0, 'active'),
                            content: size.content,
                            tabindex: _.ifElse(index === 0, '-1'),
                            disabled: size.disabled
                        })

        block

-
    /**
     * @function mixins.layout#cardCounter
     * @requires mixins.components#counter
     * @desc Счётчик элемента товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {boolean} [config.active] - .
     * @param {(boolean|Object)} [config.checkbox] - .
     * @param {boolean} [config.disabled] - .
     * @param {string} [config.idPrefix='catalog-counter-'] - .
     * @param {number} [config.index=0] - .
     * @param {Bemoptions} [config.counterOptions={}] - .
     * @param {boolean} [config.disabled=config.disabled] - .
     * @param {number} [config.min=1] - .
     * @param {string} [config.id=`${config.idPrefix}checkbox-${uniqueId()}`] - .
     * @param {(number|string)} [config.value=config.disabled ? 'нет' : 1] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='counter'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.inner='inner'] - .
     */
mixin cardCounter(config)
    -
        if (!globalConfig.settings.buy) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'counter';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            idPrefix: 'catalog-counter',
            index: 0,
            attrs: {},
            counterOptions: {
                min: 1
            },
            class: {
                mixinClass,
                inner: 'inner'
            }
        });

        if (config.checkbox) {
            config.checkbox = _.toPlainObject(config.checkbox);
            _.defaultsDeep(config.checkbox, {
                id: `${config.idPrefix}-checkbox-${uniqueId()}`,
                disabled: config.disabled,
                labelWrapper: false
            });
        }

        if (config.active) {
            _.defaultsDeep(config.attrs, {
                hidden: ''
            });
        }

        _.defaultsDeep(config.counterOptions, {
            disabled: config.disabled,
            idPrefix: config.idPrefix,
            value: config.disabled ? 'нет' : 1
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        +e({modifiers: config.class.inner})
            +#{config.checkbox ? 'checkbox' : empty}(config.checkbox)
                +r(`card-${config.class.block}`)
                    +counter(config.counterOptions)

        block

-
    /**
     * @function mixins.layout#cardActions
     * @desc Дополнительные кнопки элемента товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(boolean|Object)} [config.wishlist] - .
     * @param {(boolean|Object)} [config.compare] - .
     * @param {(boolean|Object)} [config.buy] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='actions'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.buttonAdd=''] - .
     * @param {bemclasses} [config.class.defaultAdd=''] - .
     * @param {bemclasses} [config.class.activeAdd=''] - .
     */
mixin cardActions(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'actions';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass,
                //Вариант с кнопками
                /*buttonAdd: 'btn',
                defaultAdd: ['btn-secondary', 'btn-sm'],
                activeAdd: ['btn-secondary', 'btn-sm'],*/
                buttonAdd: '',
                defaultAdd: '',
                activeAdd: ''
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        if (config.wishlist) {
            config.wishlist = _.toPlainObject(config.wishlist);
            _.defaultsDeep(config.wishlist, {
                isActive: config.active,
                class: config.class
            });
            delete config.wishlist.class.mixinClass;
            delete config.wishlist.class.block;
        }

        if (config.compare) {
            config.compare = _.toPlainObject(config.compare);
            _.defaultsDeep(config.compare, {
                isActive: config.active,
                class: config.class
            });
            delete config.compare.class.mixinClass;
            delete config.compare.class.block;
        }

        if (config.buy && !_.isPlainObject(config.buy)) {
            config.buy = _.toPlainObject(config.buy);
            _.defaultsDeep(config.buy, {
                isActive: config.active,
                class: config.class
            });
            delete config.buy.class.mixinClass;
            delete config.buy.class.block;
        }

    //-html
    +b(config)&attributes(attributes)
        if config.compare
            +cardCompare(config.compare)

        if config.wishlist
            +cardWishlist(config.wishlist)

        if config.buy
            +cardBuy(config.buy)

        block

-
    /**
     * @function mixins.layout#cardBadges
     * @requires mixins.components#badge
     * @desc Значки элемента товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='badges'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin cardBadges(config)
    -
        if (!globalConfig.settings.badges) return;

        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'badges';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const badges = data.badges;

    //-html
    +b(config)&attributes(attributes)
        if badges
            each badge in badges
                -
                    const badgeClasses = [];
                    if (badge.class) badgeClasses.push(badge.class);

                +badge({
                    modifiers: badgeClasses,
                    content: badge.content || '',
                    color: false
                })

        block

-
    /**
     * @function mixins.layout#catalogItem
     * @requires mixins.components#cardWrapper
     * @requires mixins.components#cardImage
     * @requires mixins.components#cardTopInfo
     * @requires mixins.components#cardDate
     * @requires mixins.components#cardTitle
     * @requires mixins.components#cardText
     * @desc Карточка товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {number} [config.index] - .
     * @param {(boolean|Object)} [config.image] - .
     * @param {string} [config.image.imageProp='imagePreview'] - .
     * @param {(boolean|Object)} [config.contentWrapper=true] - .
     * @param {(boolean|Object)} [config.top=true] - .
     * @param {(boolean|Object)} [config.middle=true] - .
     * @param {(boolean|Object)} [config.textContent=true] - .
     * @param {(boolean|Object)} [config.buy=true] - .
     * @param {(boolean|Object)} [config.actions=true] - .
     * @param {(boolean|Object)} [config.counter=true] - .
     * @param {(boolean|Object)} [config.price] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='catalog-item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.cardWrapper='card-wrapper'] - .
     * @param {bemclasses} [config.class.top='top'] - .
     * @param {bemclasses} [config.class.middle='middle'] - .
     * @param {bemclasses} [config.class.submit='submit'] - .
     * @param {bemclasses} [config.class.offers='offers'] - .
     * @param {bemclasses} [config.class.offersInner='inner'] - .
     * @param {bemclasses} [config.class.wrapper] - .
     * @param {bemclasses} [config.class.image] - .
     * @param {bemclasses} [config.class.content] - .
     * @param {bemclasses} [config.class.textContent] - .
     * @param {bemclasses} [config.class.topInfo] - .
     * @param {bemclasses} [config.class.date] - .
     * @param {bemclasses} [config.class.title] - .
     * @param {bemclasses} [config.class.text] - .
     * @param {bemclasses} [config.class.rrp] - .
     * @param {bemclasses} [config.class.price] - .
     * @param {bemclasses} [config.class.availability] - .
     * @param {bemclasses} [config.class.buy] - .
     * @param {bemclasses} [config.class.colors] - .
     * @param {bemclasses} [config.class.sizes] - .
     * @param {bemclasses} [config.class.actions] - .
     * @param {bemclasses} [config.class.buy] - .
     * @param {bemclasses} [config.class.counter] - .
     * @param {bemclasses} [config.class.badges] - .
     */
mixin catalogItem(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'catalog-item';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            contentWrapper: true,
            top: true,
            middle: true,
            textContent: true,
            buy: true,
            actions: true,
            counter: true,
            class: {
                mixinClass,
                cardWrapper: 'card-wrapper',
                top: 'top',
                middle: 'middle',
                submit: 'submit',
                offers: 'offers',
                offersInner: 'inner'
            }
        });

        let data = {};
        if (config.data) {
            getData(config, config.data);
            data = config.data;
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = [];
        if (config.class.cardWrapper) addClasses.push(config.class.cardWrapper);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.image) {
            config.image = _.toPlainObject(config.image);
        }
        if (config.image) {
            _.defaultsDeep(config.image, {
                imageProp: 'imagePreview'
            });
        }

        if (config.title) {
            config.title = _.toPlainObject(config.title);
        }
        if (config.title) {
            _.defaultsDeep(config.title, {
                title: true
            });
        }

    //-html
    +b(config)&attributes(attributes)
        +cardWrapper({class: config.class.wrapper})
            if config.image
                +cardImage({
                    data,
                    dataPath: config.dataPath,
                    imageProp: config.image.imageProp,
                    lazyload: config.image.lazyload,
                    class: config.class.image
                })

            +#{config.contentWrapper ? 'cardContent' : empty}({class: config.class.content})
                +#{config.textContent ? 'cardTextContent' : empty}({class: config.class.textContent})
                    +e({
                        type: config.top ? e : empty,
                        modifiers: config.class.top
                    })
                        if config.topInfo
                            +cardTopInfo({
                                data,
                                dataPath: config.dataPath,
                                class: config.class.topInfo
                            })

                        if config.date
                            +cardDate({
                                data: config.data,
                                dataPath: config.dataPath,
                                class: config.class.date
                            })

                        if config.title
                            -
                                config.title = _.toPlainObject(config.title);
                                _.defaultsDeep(config.title, {
                                    data,
                                    dataPath: config.dataPath,
                                    class: config.class.title
                                });
                            +cardTitle(config.title)

                    if config.text
                        -
                            config.text = _.toPlainObject(config.text);
                            _.defaultsDeep(config.text, {
                                data,
                                dataPath: config.dataPath,
                                class: config.class.text
                            });
                        +cardText(config.text)

                    if config.rrp
                        +cardRrp({
                            data,
                            dataPath: config.dataPath,
                            class: config.class.rrp
                        })

                    +e({
                        type: config.middle ? e : empty,
                        modifiers: config.class.middle
                    })
                        if config.price
                            +cardPrice({
                                data,
                                dataPath: config.dataPath,
                                class: config.class.price
                            })

                        if config.availability
                            +cardAvailability({
                                data: config.data,
                                dataPath: config.dataPath,
                                class: config.class.availability
                            })

                        if config.counter || config.buy
                            +e({modifiers: config.class.submit})
                                if config.counter
                                    -
                                        config.counter = _.toPlainObject(config.counter);
                                        _.defaultsDeep(config.counter, {
                                            index: config.index,
                                            class: config.class.counter
                                        });
                                    +cardCounter(config.counter)

                                if config.actions
                                    -
                                        config.actions = _.toPlainObject(config.actions);
                                        _.defaultsDeep(config.actions, {
                                            class: config.class.actions
                                        });
                                    +cardActions(config.actions)

                                if config.buy
                                    -
                                        config.buy = _.toPlainObject(config.buy);
                                        _.defaultsDeep(config.buy, {
                                            class: config.class.buy
                                        });
                                    +cardBuyBlock(config.buy)

                    if config.colors || config.sizes
                        +be({modifiers: config.class.offers})
                            +e({modifiers: config.class.offersInner})
                                +r('card')
                                    if config.colors
                                        +cardColors({
                                            data,
                                            dataPath: config.dataPath,
                                            class: config.class.colors
                                        })

                                    if config.sizes
                                        +cardSizes({
                                            data,
                                            dataPath: config.dataPath,
                                            class: config.class.sizes
                                        })

                block

            if config.badges
                +cardBadges({
                    data,
                    dataPath: config.dataPath,
                    class: config.class.badges
                })