@import 'main';

$button-item-width-md: $btn-height + $global-gutter;
$button-inner-item-width-md: 58px + $global-gutter;
$button-item-width-lg: 58px + $global-gutter + $global-padding * 6;
$button-inner-item-width-lg: 58px + $global-gutter + $global-padding * 6;

.top__controls{
    @include m(clients){
        @media (min-width: $media-sm){
            min-width: 100%;
            margin-top: $global-margin;
        }
        @media (min-width: $media-lg){
            min-width: 0;
            margin-top: 0;
        }
        .top-controls{
            &__item{
                @media (min-width: $media-sm){
                    max-width: col-width-px(2.5);
                }
            }
        }
    }
}

.main-content-inner__col > .personal{
    .clients{
        &__table{
            margin-top: $global-margin * 1.5;
        }
    }
}

.clients{
    &__table{
        @include border-top($border-secondary);
        .tooltip{
            max-width: none;
            white-space: nowrap;
            @media (min-width: $media-lg){
                display: block !important;
            }
        }
        @at-root .touch{
            .clients__table{
                .tooltip{
                    display: none;
                }
            }
        }
    }
    &-table{
        &__row{
            padding: $global-margin * 1.75 0;
            @include border-bottom($border-secondary);
            @media (min-width: $media-md){
                padding: $global-margin * 2.5 0;
            }
            @media (min-width: $media-lg){
                padding: $global-margin * 3 0;
            }
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
        &__top{
            @include row;
        }
        &__item{
            @include col;
            @include col-attrs;
            min-width: 100%;
            @media (min-width: $media-md){
                width: auto;
                min-width: calc(#{col-width(6)} - #{$button-item-width-md * .5});
                max-width: calc(#{col-width(6)} - #{$button-item-width-md * .5});
                margin-top: 0 !important;
            }
            @media (min-width: $media-lg){
                min-width: calc(#{col-width(6)} - #{$button-item-width-lg * .5});
                max-width: calc(#{col-width(6)} - #{$button-item-width-lg * .5});
            }
            @include m(name){
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            @include m(button){
                @media (min-width: $media-md){
                    min-width: $button-item-width-md;
                    max-width: $button-item-width-md;
                }
                @media (min-width: $media-lg){
                    min-width: $button-item-width-lg;
                    max-width: $button-item-width-lg;
                }
            }
        }
        &__name{
            min-width: 100%;
            color: $grey-darker;
            font-size: px-rem(20px);
            font-weight: $weight-semibold;
            line-height: $line-height-sm;
        }
        &__expired{
            margin-top: 3px;
            color: $color-danger;
            font-size: $size-sl-px;
            @media (min-width: $media-md){
                max-width: col-width-px(2.5);
            }
        }
        &-expired{
            &__link{
                color: $color-danger;
                white-space: nowrap;
                text-decoration: underline;
                &:hover,
                &:focus{
                    color: palette(danger, dark);
                    text-decoration: none;
                }
            }
        }
        &__button{
            display: block;
            width: $btn-height;
            height: $btn-height;
            margin-top: $global-margin * 1.5;
            @include border($border-secondary);
            border-radius: $radius-primary;
            color: $grey-darker;
            line-height: $btn-height - 2;
            text-align: center;
            &:hover,
            &:focus{
                border-color: $grey-lightest;
            }
            &.active{
                .clients-table-button__icon{
                    transform: scaleY(-1) translateY(-2px);
                }
            }
            @media (min-width: $media-lg){
                margin: 0 auto;
            }
        }
        &-button{
            &__icon{
                display: inline-block;
                @include transition(transform);
            }
        }

        &__progress{
            max-width: col-width-px(3);
            margin-top: $global-margin * 1.25;
            @media (min-width: $media-md){
                margin-top: 0;
            }
        }
        &-progress{
            &__inner{
                display: flex;
                flex-wrap: wrap;
            }
            &__item{
                min-width: 100%;
                @media (min-width: $media-lg){
                    min-width: 98px;
                    max-width: 98px;
                }
                &:not(:first-child){
                    margin-top: $global-margin;
                    @media (min-width: $media-lg){
                        margin: 0 0 0 $global-padding;
                    }
                }
            }
            &__label{
                display: flex;
                justify-content: space-between;
                font-size: $size-md-px;
                white-space: nowrap;
                @media (min-width: $media-lg){
                    @include sr-only;
                }
            }
            &__progress{
                margin-top: $global-margin * .5;
                @include m(yellow){
                    .progress{
                        &-bar{
                            background: $color-warning;
                        }
                    }
                }
                @include m(green){
                    .progress{
                        &-bar{
                            background: palette(success, light);
                        }
                    }
                }
            }
            &__text{
                display: none;
                color: $text-secondary;
                font-size: $size-sm-px;
                @media (min-width: $media-lg){
                    display: block;
                }
            }
        }

        &__bottom{
            margin: 0 (-$container-padding);
            @media (min-width: $media-md){
                margin: 0;
            }
            .progress{
                background: $white;
            }
        }
        &-bottom{
            &__inner{
                padding-top: $global-margin * 1.5;
            }
            &__row{
                padding: $global-margin * 1.5 $container-padding $global-margin * 1.75;
                background: $bg-primary;
                @media (min-width: $media-md){
                    padding-left: $global-padding * 2;
                    padding-right: $global-padding * 2;
                    border-radius: $radius-primary;
                }
                @media (min-width: $media-lg){
                    padding: $global-margin * 1.75 $global-padding * 3 $global-margin * 2;
                }
                &:not(:first-child){
                    margin-top: $global-margin * .5;
                }
            }
            &__top{
                @include row;
            }
            &__item{
                @include col;
                @include col-attrs;
                min-width: 100%;
                @media (min-width: $media-md){
                    width: auto;
                    min-width: calc(#{col-width(6)} - #{$button-inner-item-width-md * .5});
                    max-width: calc(#{col-width(6)} - #{$button-inner-item-width-md * .5});
                    margin-top: 0 !important;
                }
                @media (min-width: $media-lg){
                    min-width: calc(#{col-width(6)} - #{$button-inner-item-width-lg * .5});
                    max-width: calc(#{col-width(6)} - #{$button-inner-item-width-lg * .5});
                }
                @include m(name){
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
                @include m(button){
                    @media (min-width: $media-md){
                        min-width: $button-inner-item-width-md;
                        max-width: $button-inner-item-width-md;
                    }
                    @media (min-width: $media-lg){
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        min-width: $button-inner-item-width-lg;
                        max-width: $button-inner-item-width-lg;
                    }
                }
            }
            &__name{
                min-width: 100%;
                color: $grey-darker;
                font-size: $size-ml-px;
                font-weight: $weight-semibold;
                line-height: $line-height-sm;
            }
            &__expired{
                margin-top: 3px;
                color: $color-danger;
                font-size: $size-sl-px;
                @media (min-width: $media-md){
                    max-width: col-width-px(2.5);
                }
            }
            &-expired{
                &__link{
                    color: $color-danger;
                    white-space: nowrap;
                    text-decoration: underline;
                    &:hover,
                    &:focus{
                        color: palette(danger, dark);
                        text-decoration: none;
                    }
                }
            }
            &__button{
                width: 58px;
                text-align: center;
                @media (min-width: $media-md){
                    margin-top: 0;
                }
            }
            &-button{
                &__button{
                    display: inline-block;
                    margin-top: $global-margin * 1.5;
                    font-size: $size-sm-px;
                    @media (min-width: $media-md){
                        margin-top: 0;
                    }
                    &.active{
                        .clients-table-bottom-button__text{
                            @include m(default){
                                display: none;
                            }
                            @include m(active){
                                display: block;
                            }
                        }
                    }
                }
                &__text{
                    display: block;
                    @include m(active){
                        display: none;
                    }
                }
            }
            &-content{
                &__inner{
                    padding-top: $global-margin * 1.5;
                    font-size: $size-md-px;
                    @media (min-width: $media-md){
                        padding-top: $global-margin * 1.75;
                        padding-right: $button-inner-item-width-md;
                        column-count: 2;
                        column-gap: $global-gutter;
                    }
                    @media (min-width: $media-lg){
                        padding-right: $button-inner-item-width-lg;
                    }
                    p{
                        margin: 0 0 $global-margin * .5;
                    }
                }
            }
        }
    }

    &__bottom{
        display: flex;
        margin-top: $global-margin * 1.5;
    }
}