include /components/collapse/template.pug
include /components/money/template.pug
include /components/pagination/template.pug
include /components/progress/template.pug

-
    /**
     * @function mixins.layout#clientsControls
     * @requires mixins.layout#personalControls
     * @desc Верхний блок управления на странице "Мои клиенты".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Array.<string>} [config.controls=['reset', 'managers', 'date']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.clientsModifier='clients'] - .
     */
mixin clientsControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'clients';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            controls: [
                'reset',
                'managers',
                'date'
            ],
            class: {
                clientsModifier: mixinClass
            }
        });

        if (config.class.clientsModifier) {
            setBlockClass(attributes, config.class.clientsModifier);
        }

    //-html
    +personalControls(config)&attributes(attributes)
        block

-
    /**
     * @function mixins.layout#clients
     * @requires mixins.components#collapseContent
     * @requires mixins.components#money
     * @requires mixins.components#pagination
     * @requires mixins.components#progress
     * @desc Содержимое страницы "Мои клиенты".
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='legals'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='clients'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin clients(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'clients';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'legals',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const innerLegals = config.data.companies;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +be.table
                +e.inner
                    each item, index in items
                        +e.row
                            +e.top
                                +e({modifiers: ['item', 'name']})
                                    +e({
                                        modifiers: 'name',
                                        content: item.name
                                    })
                                    if index === 0
                                        +be.expired
                                            = 'Просроченные заказы: '
                                            +link({
                                                href: 'orders-detail',
                                                content: 'Заказ №12651'
                                            })
                                            = ', '
                                            +link({
                                                href: 'orders-detail',
                                                content: 'Заказ №12652'
                                            })

                                +e({modifiers: ['item', 'progress']})
                                    +be.progress
                                        +e.inner
                                            +e({
                                                modifiers: 'item',
                                                attrs: {
                                                    title: `Лимит резерва: 5 146 000 / 24 800 000 ${money.currency}`
                                                }
                                            })
                                                +e.label
                                                    != 'Лимит резерва&nbsp;'
                                                    +e({
                                                        modifiers: 'title',
                                                        content: `5 146 000 / 24 800 000 ${money.currency}`
                                                    })
                                                +e({
                                                    modifiers: 'text',
                                                    content: `5 146 000 ${money.currency}`
                                                })
                                                +progress({
                                                    type: e,
                                                    value: 25,
                                                    modifiers: 'yellow'
                                                })

                                            +e({
                                                modifiers: 'item',
                                                attrs: {
                                                    title: `Лимит резерва: 5 146 000 / 24 800 000 ${money.currency}`
                                                }
                                            })
                                                +e.label
                                                    != 'Кредитный лимит&nbsp;'
                                                    +e({
                                                        modifiers: 'title',
                                                        content: `5 146 000 / 24 800 000 ${money.currency}`
                                                    })
                                                +e({
                                                    modifiers: 'text',
                                                    content: `5 146 000 ${money.currency}`
                                                })
                                                +progress({
                                                    type: e,
                                                    value: 40,
                                                    modifiers: 'green'
                                                })

                                +e({modifiers: ['item', 'button']})
                                    +button({
                                        type: be,
                                        tag: a,
                                        href: `#clients-collapse${index + 1}`,
                                        title: 'Подробнее'
                                    })
                                        +e({
                                            tag: span,
                                            modifiers: 'icon',
                                            attrs: {
                                                ariaHidden: 'true'
                                            }
                                        })
                                            +sprite({
                                                id: 'arrow',
                                                width: 10
                                            })

                            +collapseContent({
                                type: be,
                                id: `clients-collapse${index + 1}`,
                                class: 'bottom'
                            })
                                +e.inner
                                    each legalItem, legalIndex in innerLegals
                                        +e.row
                                            +e.top
                                                +e({modifiers: ['item', 'name']})
                                                    +e({
                                                        modifiers: 'name',
                                                        content: legalItem.name
                                                    })
                                                    if (index === 0) && (legalIndex === 0)
                                                        +be.expired
                                                            = 'Просроченные заказы: '
                                                            +link({
                                                                href: 'orders-detail',
                                                                content: 'Заказ №12651'
                                                            })
                                                            = ', '
                                                            +link({
                                                                href: 'orders-detail',
                                                                content: 'Заказ №12652'
                                                            })

                                                +e({modifiers: ['item', 'progress']})
                                                    +be({
                                                        depth: 2,
                                                        modifiers: 'progress'
                                                    })
                                                        +e.inner
                                                            +e({
                                                                modifiers: 'item',
                                                                attrs: {
                                                                    title: `Лимит резерва: 5 146 000 / 24 800 000 ${money.currency}`
                                                                }
                                                            })
                                                                +e.label
                                                                    | Лимит резерва
                                                                    +e({
                                                                        modifiers: 'title',
                                                                        content: `5 146 000 / 24 800 000 ${money.currency}`
                                                                    })
                                                                +e({
                                                                    modifiers: 'text',
                                                                    content: `5 146 000 ${money.currency}`
                                                                })
                                                                +progress({
                                                                    type: e,
                                                                    value: 25,
                                                                    modifiers: 'yellow'
                                                                })

                                                            +e({
                                                                modifiers: 'item',
                                                                attrs: {
                                                                    title: `Лимит резерва: 5 146 000 / 24 800 000 ${money.currency}`
                                                                }
                                                            })
                                                                +e.label
                                                                    | Кредитный лимит
                                                                    +e({
                                                                        modifiers: 'title',
                                                                        content: `5 146 000 / 24 800 000 ${money.currency}`
                                                                    })
                                                                +e({
                                                                    modifiers: 'text',
                                                                    content: `5 146 000 ${money.currency}`
                                                                })
                                                                +progress({
                                                                    type: e,
                                                                    value: 40,
                                                                    modifiers: 'green'
                                                                })

                                                +e({modifiers: ['item', 'button']})
                                                    +be.button
                                                        +button({
                                                            tag: a,
                                                            dashed: true,
                                                            href: `#clients-inner-collapse${index + 1}-${legalIndex + 1}`
                                                        })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['text', 'default'],
                                                                content: 'Реквизиты'
                                                            })
                                                            +e({
                                                                tag: span,
                                                                modifiers: ['text', 'active'],
                                                                content: 'Свернуть'
                                                            })

                                            +collapseContent({
                                                type: be,
                                                id: `clients-inner-collapse${index + 1}-${legalIndex + 1}`,
                                                class: {
                                                    content: 'content'
                                                }
                                            })
                                                +e.inner
                                                    each textItem in item.items
                                                        p!= textItem

            +be.bottom
                +pagination({
                    nav: {
                        content: false,
                        sprite: {
                            id: 'arrow',
                            width: 10
                        }
                    }
                })

            block