@import 'main';

:root{
    --slideout-width: #{$width-slideout};
}

.slideout{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    -webkit-overflow-scrolling: auto;
    &__overlay{
        position: fixed;
        top: -100px;
        display: block;
        width: 100%;
        height: calc(100% + 200px);
        background: transparent;
        transition-property: background;
        transition-timing-function: linear;
    }
    &__bg{
        position: absolute;
        top: 0;
        display: none;
        width: var(--slideout-width);
        height: 100%;
        background: $white;
        box-shadow: 0 0 6px 0 rgba($shadow-color-primary, .2);
    }
    &__wrapper{
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    &__inner{
        position: relative;
        z-index: 10;
        display: flex;
        min-height: 100%;
    }
    &__content{
        position: relative;
        z-index: 10;
        width: var(--slideout-width);
        max-width: 100vw;
        overflow: hidden;
        background: $white;
        @include transition(transform height);
        &.no-transition{
            transition: none;
        }
        > *{
            display: none;
        }
    }
    &__shim{
        position: relative;
        min-width: calc(100% - var(--slideout-width));
        max-width: calc(100% - var(--slideout-width));
        cursor: $cursor-pointer;
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: linear;
    }
    &__close{
        position: absolute;
        top: 0;
        z-index: 35;
        display: block;
        width: 61px;
        height: 61px;
        padding: 0;
        border: none;
        color: $grey-darker;
        text-align: center;
        background: none;
        cursor: $cursor-pointer;
        opacity: 0;
        pointer-events: none;
        @include transition(transform opacity);
        &::before,
        &::after{
            width: 22px;
        }
    }
}

//Направление выезжающего меню
[data-slideout-position='left']{
    .slideout{
        left: 0;

        &__overlay{
            left: 0;
        }
        &__bg{
            left: 0;
        }
        &__inner{
            left: 0;
            width: calc(100% + var(--slideout-width));
            transform: translateX(#{calc(var(--slideout-width) * -1)});
        }
        &__close{
            left: calc(var(--slideout-width) - 61px);
        }
    }
}

[data-slideout-position='right']{
    .slideout{
        right: 0;

        &__overlay{
            right: 0;
        }
        &__bg{
            right: 0;
        }
        &__inner{
            right: 0;
            width: 100%;
            transform: translateX(var(--slideout-width));
        }
        &__content{
            order: 2;
        }
        &__close{
            right: 0;
        }
    }
}

[data-slideout-position='top']{
    .slideout{
        &__inner{
            flex-direction: column;
            transform: translate(0, -100vh);
        }
        //TODO:other styles
    }
}

//Выезжающее меню при открытии
[data-slideout-shown='true']{
    &,
    body{
        height: 100%;
        overflow: hidden;
    }

    .slideout{
        z-index: 35;
        opacity: 1;
        user-select: text;
        pointer-events: auto;
        &__overlay{
            background: rgba($black, .8);
        }
        &__inner{
            transform: translateX(0);
            transition-property: transform;
            transition-timing-function: linear;
        }
    }

    .page-wrapper{
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: auto;
    }

    &[data-slideout-push-content='true']{
        .page-wrapper-inner{
            overflow: hidden;
            transition-property: transform;
            transition-timing-function: linear;
        }

        &[data-slideout-position='left']{
            .page-wrapper-inner{
                transform: translateX(var(--slideout-width));
            }
        }

        &[data-slideout-position='right']{
            .page-wrapper-inner{
                transform: translateX(#{calc(var(--slideout-width) * -1)});
            }
        }
    }
}

//Полностью открыте выезжающее меню
[data-slideout-shown-end='true']{
    .slideout{
        &__bg{
            display: block;
        }

        &__close{
            opacity: 1;
            pointer-events: auto;
        }
    }
}

//Скрытое выезжающее меню
[data-slideout-hidden='true']{
    .slideout{
        &__overlay{
            background: transparent;
        }
        &__close{
            opacity: 0 !important;
            transform: translateX(0) !important;
            pointer-events: none;
        }
    }

    &[data-slideout-push-content='true']{
        .page-wrapper-inner{
            transform: none !important;
        }
    }

    &[data-slideout-position='left']{
        .slideout{
            &__inner{
                transform: translateX(#{calc(var(--slideout-width) * -1)});
            }
        }
    }
    &[data-slideout-position='right']{
        .slideout{
            &__inner{
                transform: translateX(var(--slideout-width));
            }
        }
    }

    &[data-slideout-position='top']{
        .slideout{
            &__inner{
                transform: translate(0, -100vh) !important;
            }
        }
    }
}