-
    /**
     * @function mixins.components#slideoutTranslate
     * @desc Строка с языковым контентом для модуля выезжающего меню.
     */
mixin slideoutTranslate
    -
        const langContent = fs.readFileSync(
            path.join(globalConfig.templatesRoot, 'src', 'components', 'slideout', 'base', 'lang', `${page.lang}.json`),
            encoding
        );
    != `${langJsPath}.slideout = ${langContent};`