@import 'main';

.main-content-inner__col > .personal{
    .upload{
        &__item{
            margin-top: $global-margin * 1.5;
        }
    }
}

.upload{
    &__item{
        min-width: 100%;
        @media (min-width: $media-sm){
            min-width: col-width(6);
            max-width: col-width(6);
        }
    }
    &-item{
        &__inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            min-height: 100%;
            @include border($border-secondary);
            border-radius: $radius-primary;
        }
        &__header{
            width: 100%;
            max-width: col-width-px(2);
            margin: 0 auto;
            padding-top: $global-margin * 2.5;
            padding-bottom: $global-margin * 2;
            text-align: center;
            @include m(fullwidth){
                @media (min-width: $media-md){
                    min-width: 100%;
                    max-width: 100%;
                }
            }
        }
        &-header{
            &__title{
                margin: $global-margin 0 0;
                font-size: $size-primary;
            }
            &__subtitle{
                margin-top: $global-margin * .5;
                font-size: $size-md-px;
            }
        }
    }

    //Список разделов
    &__sections{
        min-width: 100%;
        margin-top: $global-margin * .75;
        padding-bottom: $global-margin * .5;
    }
    &-sections{
        &-toggle{
            &__button{
                font-size: $size-primary-px;
                font-weight: $weight-bold;
                text-decoration: underline;
                &:hover,
                &:focus,
                &.active{
                    text-decoration: none;
                }
            }
            &__content{
                .checkbox-tree{
                    padding-top: $global-margin * .5;
                }
            }
        }
    }

    //Блок с ссылкой на скачивание
    &__download{
        min-width: 100%;
    }
    &-download{
        &__items{
            display: flex;
            flex-wrap: wrap;
        }
        &__item{
            position: relative;
            flex: 1 0 auto;
            min-width: col-width(4);
            &:not(:last-child){
                @include after{
                    top: 0;
                    right: 0;
                    height: 47px;
                    @include border-left($border-secondary);
                }
            }
        }
        &__link{
            position: relative;
            display: block;
            height: 62px;
            color: $grey-darker;
            font-size: $size-md-px;
            font-weight: $weight-bold;
            line-height: 47px - 2;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none !important;
            @include transition(color);
            @include after{
                left: 50%;
                bottom: -2px;
                width: 45px;
                height: 3px;
                border-radius: $radius-sm;
                background: $color-primary;
                opacity: 0;
                transform: translateX(-50%);
                @include transition(opacity);
            }
            &:hover,
            &:focus,
            &.active{
                color: $link-color;
                &::after{
                    opacity: 1;
                }
            }
            &.active{
                .upload-download__icon{
                    opacity: 1;
                    transform: translate(-50%, 0);
                }
            }
        }
        &__title{
            svg{
                display: none;
            }
        }
        &__icon{
            position: absolute;
            left: 50%;
            bottom: 10px;
            line-height: 0;
            opacity: 0;
            transform: translate(-50%, -6px);
            @include transition(opacity transform);
        }
    }

    //Поле для копирования ссылки
    &__copy{
        position: relative;
        min-width: 100%;
        padding: 0 $global-padding * 2 $global-margin * 1.5;
        text-align: left;
        .choices{
            &__list{
                &--single{
                    .choices{
                        &__item{
                            width: 26px;
                            font-size: $size-md-px;
                            font-weight: $weight-bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            &__inner{
                &.form-control{
                    .icon{
                        svg{
                            width: 9px !important;
                        }
                    }
                }
            }
        }
    }
    &-copy{
        &__select{
            display: none;
        }
        &__input{
            &[readonly]{
                background: $white;
            }
            &::selection{
                background: palette(warning, bg);
            }
        }
        &__message{
            position: absolute;
            bottom: 4px;
            right: $global-padding * 2;
            font-size: $size-sl-px;
            opacity: 0;
            pointer-events: none;
            @include transition(opacity);
            &.active{
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    //Статус
    &__status{
        min-width: 100%;
        margin-top: $global-margin * 2;
        @media (min-width: $media-sm){
            min-width: col-width(6);
        }
    }
    &-status{
        &__inner{
            position: relative;
            padding: $global-margin * 2 $global-padding * 2.5;
            border-radius: $radius-primary;
            background: $bg-primary;
            @media (min-width: $media-md){
                padding-left: $global-padding * 4.5;
                padding-right: $global-padding * 4.5;
            }
            @include before{
                left: 50%;
                bottom: 100%;
                margin-left: -10px;
                @include triangle(top, 10px, 10px, $bg-primary);
            }
        }
        &__content{
            text-align: center;
            @media (min-width: $media-md){
                flex-wrap: nowrap;
                justify-content: space-between;
                text-align: left;
            }
        }
        &__file{
            margin-top: $global-margin * 1.5;
        }
        &-file{
            &__link{
                display: inline-flex;
                color: $grey-darker;
                text-align: left;
                text-decoration: none !important;
            }
            &__icon{
                max-width: 28px;
                svg{
                    width: 28px !important;
                    height: 36px !important;
                }
            }
            &__info{
                margin: -4px 0 0 14px;
            }
            &__name{
                font-size: $size-primary-px;
                font-weight: $weight-semibold;
            }
            &__date{
                font-size: $size-sm-px;
                white-space: nowrap;
            }
        }
        &__preloader{
            z-index: 10;
            display: block;
            opacity: 1;
        }
    }

    //Блоки на полную ширину
    @include m(fullwidth){
        .upload{
            &__item{
                min-width: 100%;
                max-width: 100%;
                &:not(:first-child){
                    margin-top: $global-margin * .75;
                }
            }
            &-item{
                &__inner{
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: $global-margin * 2 $global-padding $global-margin * .5;
                    border: none;
                    text-align: center;
                    background: $bg-primary;
                    @media (min-width: $media-md){
                        justify-content: space-between;
                        padding: $global-margin * 2 $global-padding $global-margin * 2 $global-padding * 4.5;
                        text-align: left;
                    }
                }
                &__header{
                    margin: 0;
                    padding: 0;
                    @media (min-width: $media-md){
                        text-align: left;
                    }
                }
                &-header{
                    &__title{
                        margin-top: 0;
                    }
                }
            }
            &__download{
                min-width: 100%;
                margin-top: $global-margin;
                @media (min-width: $media-md){
                    display: flex;
                    flex: 1 0 auto;
                    justify-content: flex-end;
                    min-width: auto;
                }
            }
            &-download{
                &__items{
                    @media (min-width: $media-md){
                        flex-wrap: nowrap;
                        @include border-left;
                    }
                }
                &__item{
                    &::after{
                        height: 100%;
                    }
                }
                &__link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border: none;
                    line-height: normal;
                    background: none;
                    @media (min-width: $media-xs){
                        padding: 0 $global-padding * 1.5;
                    }
                    @media (min-width: $media-md){
                        padding: 0 $global-padding * 2.5;
                    }
                    @media (min-width: $media-lg){
                        padding: 0 $global-padding * 4.5;
                    }
                    &::after{
                        display: none;
                    }
                }
                &__title{
                    white-space: nowrap;
                    svg{
                        display: inline-block;
                        margin-right: 9px;
                    }
                }
            }
            &__copy{
                min-width: 100%;
                margin-top: $global-margin;
                padding-left: 0;
                padding-right: 0;
                @media (min-width: $media-md){
                    min-width: col-width(6);
                    margin-top: 0;
                    padding: 0 $global-padding * 2;
                }
                .input-group{
                    height: 52px;
                    &-text{
                        justify-content: center;
                        width: 52px;
                        @include border($input-border);
                        border-left: none;
                        cursor: $cursor-pointer;
                        @include transition(color);
                        &:hover,
                        &:focus{
                            color: $link-color-hover;
                        }
                    }
                }
                .choices{
                    display: flex;
                    &:not(:first-child){
                        .choices__inner{
                            border-top-left-radius: $radius-primary !important;
                            border-bottom-left-radius: $radius-primary !important;
                        }
                    }
                    &__inner{
                        min-height: 100%;
                        border-color: $input-border !important;
                        background: $white;
                    }
                    &__list{
                        &--single{
                            .choices{
                                &__item{
                                    width: auto;
                                    font-weight: $weight-normal;
                                    text-transform: none;
                                }
                            }
                        }
                    }
                }
            }
            &-copy{
                &__form-group{
                    min-width: col-width-px(2.25);
                    max-width: col-width(6);
                    margin: 0 auto;
                    @media (min-width: $media-md){
                        min-width: 100%;
                    }
                }
                &__message{
                    @media (min-width: $media-md){
                        transform: translateY($global-margin * 1.5);
                    }
                }
            }
            &__status{
                min-width: 100%;
            }
            &-status{
                &__inner{
                    padding: $global-margin * 2 $global-padding;
                    background: $white;
                    box-shadow: $shadow-size-lg rgba($shadow-color-primary, .1);
                    &::before{
                        display: none;
                    }
                    @media (min-width: $media-md){
                        padding-left: $global-padding * 4.5;
                        padding-right: $global-padding * 4.5;
                    }
                }
                &__content{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    @media (min-width: $media-md){
                        flex-wrap: nowrap;
                        justify-content: space-between;
                    }
                }
                &__info{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    min-width: 100%;
                    @media (min-width: $media-md){
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        min-width: 0;
                    }
                }
                &__container{
                    min-width: 100%;
                    margin-top: $global-margin;
                    text-align: center;
                    @media (min-width: $media-md){
                        min-width: 0;
                        margin-top: 0;
                        text-align: left;
                    }
                }
                &__icon{
                    position: relative;
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    @media (min-width: $media-md){
                        margin-right: 20px;
                    }
                    @include m(loading){
                        color: $color-primary;
                    }
                    @include m(success){
                        color: palette(success, light);
                    }
                }
                &__title{
                    color: $grey-darker;
                    font-family: $font-secondary;
                    font-size: $size-primary-px;
                    font-weight: $weight-medium;
                }
                &__text{
                    margin-top: 4px;
                }
                &__file{
                    @media (min-width: $media-md){
                        margin-top: 0;
                        padding: $global-margin * .5 0 $global-margin * .5 $global-padding * 4.5;
                        @include border-left;
                    }
                }
            }
        }
    }
}