include /components/collapse/template.pug
include /components/preloader/template.pug
include /components/select/template.pug

include /layout/checkbox-tree/template.pug

-
    /**
     * @function mixins.layout#uploadWrapper
     * @desc Обёртка страницы выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='upload'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin uploadWrapper(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'upload';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                block

-
    /**
     * @function mixins.layout#uploadItemHeader
     * @desc Верхняя часть страницы выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=header]
     * @param {boolean} [config.fullwidth] - .
     * @param {boolean} [config.icon] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='header'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin uploadItemHeader(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'header';

        _.defaultsDeep(config, {
            type: be,
            tag: header,
            icon: true,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });

        const blockClasses = _.castArray(config.class.block);
        if (config.fullwidth) blockClasses.push('fullwidth');
        setBlockClass(attributes, blockClasses);

    //-html
    +b(config)&attributes(attributes)
        if config.icon
            +e.icon
                +sprite(config.sprite)
        +e({
            tag: h2,
            modifiers: 'title',
            content: config.title
        })
        +e({
            modifiers: 'subtitle',
            content: config.subtitle
        })

        block

-
    /**
     * @function mixins.layout#uploadDownload
     * @requires mixins.components#collapse
     * @requires mixins.layout#checkboxTree
     * @desc Блок загрузки файла на странице выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data='catalog-menu'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {boolean} [config.fullwidth]
     * @param {Array.<string>} [config.formats=['xls', 'csv', 'xml']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.downloadModifier='download'] - .
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin uploadDownload(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: be,
            tag: section,
            data: 'catalog-menu',
            formats: ['xls', 'csv', 'xml'],
            class: {
                mixinClass,
                downloadModifier: 'download',
                addClass: col
            }
        });

        const formats = config.formats;

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.downloadModifier) {
            blockClasses.push(config.class.downloadModifier);
        }
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        let sectionsData = [];
        if (config.data) {
            getData(config, config.data);
            sectionsData = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const innerConfig = config.fullwidth ? {
            tag: form,
            modifiers: 'inner',
            attrs: {
                method: 'post'
            }
        } : {
            modifiers: 'inner'
        };

    //-html
    +b(config)&attributes(attributes)
        +e(innerConfig)
            +uploadItemHeader({
                icon: !config.fullwidth,
                sprite: 'document-download',
                title: 'Скачать файл',
                subtitle: 'Файл формируется в течение N минут с момента заявки'
            })

            +r('upload')
                +be.download
                    +e.items
                        each item, index in formats
                            +e.item
                                +#{config.fullwidth ? button : link}({
                                    classes: (!config.fullwidth && (index === 1)) ? 'active' : '',
                                    download: true,
                                    buttonType: 'submit',
                                    class: 'link'
                                })
                                    +e({
                                        tag: span,
                                        modifiers: 'title'
                                    })
                                        +sprite({
                                            id: 'document-download',
                                            width: 20
                                        })
                                        = item
                                    if !config.fullwidth
                                        +e({
                                            tag: span,
                                            modifiers: 'icon'
                                        })
                                            +sprite#arrow-line

                if config.fullwidth
                    +be.sections
                        +collapse({
                            id: 'upload-sections',
                            button: {
                                content: 'Выбрать разделы'
                            }
                        })
                            +r('upload-sections')
                                +checkboxTree({data: sectionsData})

            block

-
    /**
     * @function mixins.layout#uploadCopy
     * @requires mixins.components#select
     * @desc Блок копирования ссылки на файл на странице выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=section]
     * @param {boolean} [config.fullwidth]
     * @param {Array.<string>} [config.formats=['xls', 'csv', 'xml']] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='item'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.copyModifier='copy'] - .
     * @param {bemclasses} [config.class.addClass=col] - Дополнительный класс.
     */
mixin uploadCopy(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'item';

        _.defaultsDeep(config, {
            type: be,
            tag: section,
            formats: ['xls', 'csv', 'xml'],
            class: {
                mixinClass,
                copyModifier: 'copy',
                addClass: col
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        const blockClasses = _.castArray(config.class.block);
        if (config.class.copyModifier) {
            blockClasses.push(config.class.copyModifier);
        }
        setBlockClass(attributes, blockClasses);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        const formats = config.formats;
        const baseLink = 'https://market.com/download/export.';
        const formatsDataFullwidth = formats.map(item => {
            return {
                value: baseLink + item,
                content: baseLink + item
            };
        });

        const formatsData = formats.map(item => {
            return {
                value: baseLink + item,
                content: item
            };
        });

    //-html
    +b(config)&attributes(attributes)
        +e.inner
            +uploadItemHeader({
                icon: !config.fullwidth,
                sprite: 'link',
                title: 'Скопировать ссылку',
                subtitle: 'Скопируйте ссылку на нужный формат файла'
            })

            +r('upload')
                +be.copy
                    +formGroup
                        .input-group
                            if config.fullwidth
                                +label({
                                    for: 'upload-copy',
                                    srOnly: true,
                                    content: 'Выберите формат файла выгрузки'
                                })
                                +select({
                                    id: 'upload-copy',
                                    name: 'FORMATS',
                                    data: formatsDataFullwidth
                                })
                                +input({
                                    inputType: 'hidden',
                                    value: baseLink + formats[0]
                                })
                                .input-group-append
                                    .input-group-text
                                        +sprite#link

                            else
                                .input-group-prepend
                                    +label({
                                        for: 'upload-copy',
                                        srOnly: true,
                                        content: 'Выберите формат файла выгрузки'
                                    })
                                    +select({
                                        id: 'upload-copy',
                                        name: 'FORMATS',
                                        data: formatsData
                                    })
                                +label({
                                    for: 'upload-copy-input',
                                    srOnly: true,
                                    content: 'Ссылка на файл выгрузки'
                                })
                                +input({
                                    formControl: true,
                                    value: baseLink + formats[0],
                                    readonly: true,
                                    id: 'upload-copy-input',
                                    name: 'LINK'
                                })

                    +e.message Ссылка скопирована в буфер обмена

            block

-
    /**
     * @function mixins.layout#uploadStatus
     * @requires mixins.components#preloader
     * @desc Статус формирования файла на странице выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin uploadStatus(config)
    -
        config = _.toPlainObject(config);

    //-html
    +be({
        modifiers: 'status',
        classes: col
    })
        +e.inner
            +e.content
                +e.info
                    if config.fullwidth
                        +e({modifiers: ['icon', 'loading']})
                            +preloader
                    +e.container
                        +e.title Файл формируется
                        +e.text Файл будет сформирован в течение 5 минут.#[br]Дождитесь появления ссылки на этой странице или получите ее на почту.

    +be({
        modifiers: 'status',
        classes: col
    })
        +e.inner
            +e.content
                +e.info
                    if config.fullwidth
                        +e({modifiers: ['icon', 'success']})
                            +sprite#check-circle
                    +e.container
                        +e.title Файл сформирован
                        +e.text Ссылка на скачивание файла была продублирована на вашу почту.
                +be.file
                    +link({
                        href: '/download/export.csv',
                        download: true
                    })
                        +e.icon
                            +sprite#document-download
                        +e.info
                            +e.name export.csv
                            +e.date 05.08.2018 / 14:00

    block

-
    /**
     * @function mixins.layout#upload
     * @requires mixins.layout#uploadWrapper
     * @requires mixins.layout#uploadDownload
     * @requires mixins.layout#uploadCopy
     * @requires mixins.layout#uploadStatus
     * @desc Страница выгрузки в личном кабинете.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Bemoptions} [config.wrapper] - .
     * @param {Bemoptions} [config.download] - .
     * @param {Bemoptions} [config.copy] - .
     * @param {Bemoptions} [config.status] - .
     * @param {boolean} [config.fullwidth] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.fullwidth='fullwidth'] - .
     */
mixin upload(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            wrapper: {},
            download: {},
            copy: {},
            status: {},
            class: {
                fullwidth: 'fullwidth'
            }
        });

        if (config.fullwidth) {
            if (config.wrapper) {
                config.wrapper.modifiers = config.class.fullwidth;
            }
            if (config.download) {
                config.download.modifiers = config.fullwidth;
            }
            if (config.copy) {
                config.copy.modifiers = config.fullwidth;
            }
            if (config.status) {
                config.status.modifiers = config.fullwidth;
            }
        }

    //-html
    +uploadWrapper(config.wrapper)
        +uploadDownload(config.download)

        +uploadCopy(config.copy)

        +uploadStatus(config.status)

        block