-
    const page = {
        title: 'Оформление заказа'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/order/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top

                        +order

            +contentBottom
        +foot