@import 'main';

.dropdown{
    position: relative;
    display: inline-flex;

    .input-group-prepend,
    &.input-group-append{
        display: flex;
    }
    &-toggle{
        display: flex;
        align-items: center;
        min-width: 100%;
        margin: 0;
        white-space: normal;
        .link-dashed{
            &::after{
                margin: 0;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        //Вариант со стрелкой
        @include m(arrow){
            &::after{
                content: '';
                display: inline-block;
                margin-left: .35em;
                vertical-align: middle;
                @include triangle(bottom, .35em, .35em, currentColor);
            }

            .dropdown-top &{
                &::after{
                    @include triangle(top, .35em, .35em, currentColor);
                }
            }
        }
    }
    &-icon{
        display: inline-block;
        @include transition(transform);
        &:last-child:not(:first-child){
            margin-left: auto;
        }
    }

    &-menu{
        position: absolute;
        top: -9999px !important;
        left: -9999px !important;
        opacity: 0;
        transform: translateY(-$translate-size-primary) translateX(-50%) !important;
        pointer-events: none;
    }

    //Перевёрнутый выпадающий список
    &.dropdown-top{
        .dropdown-menu{
            top: auto !important;
            bottom: 100% !important;
            margin: 0 0 12px !important;
            transform: translateY($translate-size-primary) translateX(-50%) !important;
            &::before{
                top: auto;
                bottom: -7px;
            }
        }
    }
}