@import 'main';

.dropdown{
    &-menu{
        display: block;
        min-width: calc(100% + #{$global-gutter});
        max-height: 300px;
        margin-top: 12px !important;
        padding: 0;
        overflow: visible;
        border: none;
        border-radius: $radius-primary;
        text-align: left;
        list-style: none;
        background-color: $white;
        box-shadow: $shadow-md;
        pointer-events: auto;
        @include transition(opacity transform);
        @include before{
            top: -7px;
            left: 50%;
            z-index: -1;
            width: 14px;
            height: 14px;
            margin-left: -7px;
            background: $white;
            box-shadow: $shadow-md;
            transform: rotate(45deg);
        }
        //Состояния
        &.show,
        &.hiding{
            top: 100% !important;
            left: 50% !important;
            z-index: 20;
            opacity: 1;
            transform: translateY(0) translateX(-50%) !important;
            .dropdown-top &{
                top: auto !important;
                bottom: 100% !important;
                transform: translateY(0) translateX(-50%) !important;
            }
        }
        &.hiding{
            opacity: 0;
            transform: translateY(-$translate-size-primary) translateX(-50%) !important;
            .dropdown-top &{
                transform: translateY($translate-size-primary) translateX(-50%) !important;
            }
        }
    }

    &-inner{
        position: relative !important;
        display: block;
        margin: 0;
        padding: 7px 0 !important;
        border-radius: $radius-primary !important;
        background: $white;
    }

    &-menu li,
    &-item{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background: none !important;
        &:not(:last-child){
            @include border-bottom;
        }
        &::before{
            display: none;
        }
    }

    &-menu a,
    &-link{
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 10rem;
        padding: 7px $global-padding;
        border: none;
        color: $text-primary;
        font-size: $size-md-px;
        white-space: normal;
        text-align: left;
        text-decoration: none;
        background: none;
        @include transition(color background);
        &:not(:last-child){
            @include border-bottom;
        }
        &:hover,
        &:focus{
            color: $color-primary;
            text-decoration: none;
            background: $bg-primary;
        }
        &.active{
            color: $white;
            background: $color-primary;
            cursor: default;
            pointer-events: none;
        }
        @at-root .touch{
            .dropdown{
                &-menu a,
                &-link{
                    padding: 12px $global-padding * 1.5;
                }
            }
        }
    }
    &-menu a{
        outline: none;
    }
    &-divider{
        height: 0;
        overflow: hidden;
        @include border-top;
    }

    &.active{
        .dropdown-icon{
            &:last-child:not(:first-child){
                transform: rotate(-180deg) translateY(-1px);
            }
        }
    }

    //Размеры
    &-lg{
        .dropdown-item{
            font-size: $size-primary;
        }
    }
    &-sm{
        .dropdown-item{
            font-size: $size-sm;
        }
    }
}