//-TODO:fix roles, add role options, image & sprite options in examples, add button & menu examples, dropdownItem mixin

-
    /**
     * @function mixins.components#dropdownToggle
     * @desc Кнопка переключения выпадающего меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag=button]
     * @param {Data} [config.data] - .
     * @param {Array.<Object>} [config.data.{config.itemsProp}] - .
     * @param {Object} [config.data.{config.itemsProp}.{item}] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.content] - .
     * @param {Image} [config.data.{config.itemsProp}.{item}.image] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {number} [config.dataIndex=config.activeItem] - .
     * @param {string} [config.placeholder] - .
     * @param {number} [config.activeItem=0] - .
     * @param {string} [config.idPrefix='dropdown'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {(Bemoptions|boolean)} [config.imageWrapper=true] - .
     * @param {(Bemoptions|boolean)} [config.image] - .
     * @param {(Bemoptions|boolean)} [config.icon=true] - .
     * @param {Array.<string>} [config.placeholderWrap=['', '']] - .
     * @param {Sprite} [config.buttonBeforeSprite] - .
     * @param {Sprite} [config.buttonAfterSprite] - .
     * @param {boolean} [config.arrow] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='toggle'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.dropdown='dropdown'] - .
     * @param {bemclasses} [config.class.toggle='toggle'] - .
     * @param {bemclasses} [config.class.toggleAdd=''] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.image='image'] - .
     * @param {bemclasses} [config.class.arrow='arrow'] - .
     */
mixin dropdownToggle(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'toggle';

        _.defaultsDeep(config, {
            type: e,
            tag: button,
            activeItem: 0,
            icon: true,
            idPrefix: 'dropdown',
            idPostfix: `-${uniqueId()}`,
            imageWrapper: true,
            class: {
                mixinClass,
                dropdown: 'dropdown',
                toggle: 'toggle',
                icon: 'icon',
                image: 'image',
                arrow: 'arrow'
            }
        });

        if (_.isString(config.data)) {
            config.data = {
                content: config.data
            };
        }
        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            dataIndex: config.activeItem
        });

        getData(config, config.data, config.dataIndex);

        const currentItem = config.data || {};
        _.defaultsDeep(config, {
            placeholder: (currentItem.content || (_.isString(currentItem) ? currentItem : '')),
            placeholderWrap: ['', ''],
            attrs: {
                type: 'button',
                id: config.id,
                disabled: config.disabled,
                ariaHaspopup: 'true',
                ariaExpanded: 'false'
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        const toggleAddClass = `${config.class.dropdown}-${config.class.toggle}`;
        const iconAddClass = `${config.class.dropdown}-${config.class.icon}`;

        const blockClasses = _.castArray(config.class.block);
        if (config.arrow) blockClasses.push(config.class.arrow);
        setBlockClass(attributes, blockClasses);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(toggleAddClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.image && currentItem.image) {
            config.imageWrapper = _.toPlainObject(config.imageWrapper);
            _.defaultsDeep(config.imageWrapper, {
                type: e,
                tag: span,
                modifiers: config.class.image
            });

            currentItem.image = setImageProps(config.dataPath, currentItem.image, currentItem.content);
            config.image = _.toPlainObject(config.image);
            _.defaultsDeep(config.image, {
                src: currentItem.image.src,
                alt: currentItem.image.alt,
                class: ''
            });
        }

        if (config.icon) {
            config.icon = _.toPlainObject(config.icon);
            _.defaultsDeep(config.icon, {
                type: e,
                tag: span,
                classes: iconAddClass,
                modifiers: config.class.icon
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if config.buttonBeforeSprite
            +b(config.icon)
                +sprite(config.buttonBeforeSprite)

        if config.image && currentItem.image
            +#{config.imageWrapper ? b : empty}(config.imageWrapper)
                +image(config.image)

        != config.placeholderWrap[0] + config.placeholder + config.placeholderWrap[1]

        if config.buttonAfterSprite
            +b(config.icon)
                +sprite(config.buttonAfterSprite)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#dropdownMenu
     * @desc Содержимое выпадающего меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=e]
     * @param {bemtag} [config.tag]
     * @param {Data} [config.data] - .
     * @param {Array.<Object>} [config.data.{config.itemsProp}] - .
     * @param {Object} [config.data.{config.itemsProp}.{item}] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.content] - .
     * @param {Image} [config.data.{config.itemsProp}.{item}.image] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.title] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.href] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.disabled] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.active] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.divider] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.addClass] - .
     * @param {Sprite} [config.data.{config.itemsProp}.{item}.beforeSprite] - .
     * @param {Sprite} [config.data.{config.itemsProp}.{item}.afterSprite] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.idPrefix='dropdown'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.labelled=config.id] - .
     * @param {(Bemoptions|number)} [config.divider] - .
     * @param {number} [config.divider.index] - .
     * @param {Bemoptions} [config.list] - .
     * @param {Bemoptions} [config.item] - .
     * @param {Bemoptions} [config.link] - .
     * @param {bemtag} [config.link.tag=a] - .
     * @param {bemattrs} [config.link.attrs={}] - .
     * @param {Bemoptions} [config.beforeIcon] - .
     * @param {Bemoptions} [config.afterIcon] - .
     * @param {Function} [config.linkHrefFormat=transformUrl] - .
     * @param {number} [config.activeItem=0] - .
     * @param {(Bemoptions|boolean)} [config.imageWrapper=true] - .
     * @param {(Bemoptions|boolean)} [config.image] - .
     * @param {boolean} [config.empty] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='menu'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.dropdown='dropdown'] - .
     * @param {bemclasses} [config.class.menu='menu'] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.divider='divider'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.image='image'] - .
     */
mixin dropdownMenu(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'menu';

        _.defaultsDeep(config, {
            type: e,
            tag: div,
            link: {
                href: jv,
                tag: a
            },
            linkHrefFormat: transformUrl,
            idPrefix: 'dropdown',
            idPostfix: `-${uniqueId()}`,
            imageWrapper: true,
            class: {
                mixinClass,
                dropdown: 'dropdown',
                menu: 'menu',
                inner: 'inner',
                item: 'item',
                divider: 'divider',
                active: 'active',
                disabled: 'disabled',
                link: 'link',
                image: 'image'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const currentItem = items[config.activeItem] || {};
        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        _.defaults(config, {
            labelled: config.id
        });
        _.defaults(config.attrs, {
            ariaLabelledby: config.labelled
        });

        const menuAddClass = `${config.class.dropdown}-${config.class.menu}`;
        const innerAddClass = `${config.class.dropdown}-${config.class.inner}`;
        const itemAddClass = `${config.class.dropdown}-${config.class.item}`;
        const dividerAddClass = `${config.class.dropdown}-${config.class.divider}`;
        const linkAddClasses = [`${config.class.dropdown}-${config.class.link}`];
        const iconAddClass = `${config.class.dropdown}-${config.class.icon}`;
        const iconClass = `${config.class.link}-${config.class.icon}`;

        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.push(menuAddClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        config.list = _.toPlainObject(config.list);
        _.defaultsDeep(config.list, {
            type: e,
            tag: ul,
            classes: innerAddClass,
            modifiers: config.class.inner
        });

        const dividerIndex = _.isFinite(config.divider) ? config.divider : null;
        if (!_.isPlainObject(config.divider)) {
            config.divider = {};
        }
        _.defaultsDeep(config.divider, {
            type: e,
            tag: li,
            classes: dividerAddClass,
            modifiers: config.class.divider,
            index: dividerIndex
        });

        config.item = _.toPlainObject(config.item);
        _.defaultsDeep(config.item, {
            type: e,
            tag: li,
            classes: itemAddClass,
            modifiers: config.class.item
        });

        config.link = _.toPlainObject(config.link);
        const isButtonLink = config.link.tag === button;
        _.defaultsDeep(config.link, {
            type: e,
            classes: linkAddClasses,
            modifiers: config.class.link,
            attrs: {
                type: _.ifElse(isButtonLink, 'button')
            }
        });

        config.beforeIcon = _.toPlainObject(config.beforeIcon);
        _.defaultsDeep(config.beforeIcon, {
            type: e,
            tag: span,
            classes: iconAddClass,
            modifiers: iconClass
        });

        config.afterIcon = _.toPlainObject(config.afterIcon);
        _.defaultsDeep(config.afterIcon, {
            type: e,
            tag: span,
            classes: iconAddClass,
            modifiers: iconClass
        });

        if (config.imageWrapper) {
            config.imageWrapper = _.toPlainObject(config.imageWrapper);
            _.defaultsDeep(config.imageWrapper, {
                type: e,
                tag: span,
                modifiers: config.class.image
            });
        }

        if (config.image) {
            config.image = _.toPlainObject(config.image);
            _.defaultsDeep(config.image, {
                class: ''
            });
        }

    //-html
    +b(config)&attributes(attributes)
        if !config.empty
            +b(config.list)
                each item, index in items
                    if item.divider || (dividerIndex === index)
                        +b(config.divider)

                    else
                        +b(config.item)
                            -
                                const currentLinkAddClasses = config.link.classes.slice(0);
                                if (item.addClass) currentLinkAddClasses.push(item.addClass);
                                if (item.active || (index === config.activeItem)) {
                                    currentLinkAddClasses.push(config.class.active);
                                }
                                const linkDisabled = item.disabled && !isButtonLink;
                                if (linkDisabled) currentLinkAddClasses.push(config.class.disabled);
                                const buttonDisabled = item.disabled && isButtonLink;
                                const currentHref = (item.href || config.link.href);
                                const formattedHref = _.isFunction(config.linkHrefFormat) ? config.linkHrefFormat.call(null, currentHref) : currentHref;
                                const itemLinkOptions = {
                                    classes: currentLinkAddClasses,
                                    attrs: {
                                        href: formattedHref,
                                        disabled: buttonDisabled ? '' : null,
                                        tabindex: linkDisabled ? '-1' : null,
                                        title: removeHtml(item.title),
                                        ariaCurrent: _.ifElse(item.active || (index === config.activeItem), 'true', 'false'),
                                        ariaDisabled: linkDisabled ? 'true' : null
                                    }
                                };
                                const linkOptions = _.defaultsDeep(
                                    {},
                                    config.link,
                                    item.link,
                                    itemLinkOptions
                                );

                            +b(linkOptions)
                                if item.beforeSprite
                                    +b(config.beforeIcon)
                                        +sprite(item.beforeSprite)

                                if config.image && item.image
                                    +#{config.imageWrapper ? b : empty}(config.imageWrapper)
                                        -
                                            const itemImage = setImageProps(config.dataPath, item.image, item.content);
                                            const imageConfig = _.defaultsDeep({}, config.image, {
                                                src: itemImage.src,
                                                alt: itemImage.alt,
                                            });
                                        +image(imageConfig)

                                != item.content || (_.isString(item) ? item : '')

                                if item.afterSprite
                                    +b(config.afterIcon)
                                        +sprite(item.afterSprite)

        if !_.isUndefined(config.content)
            != config.content
        else
            block

-
    /**
     * @function mixins.components#dropdown
     * @desc Выпадающее меню.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {bemtag} [config.tag=button]
     * @param {Data} [config.data] - .
     * @param {Array.<Object>} [config.data.{config.itemsProp}] - .
     * @param {Object} [config.data.{config.itemsProp}.{item}] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.content] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.title] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.href] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.disabled] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.active] - .
     * @param {boolean} [config.data.{config.itemsProp}.{item}.divider] - .
     * @param {string} [config.data.{config.itemsProp}.{item}.addClass] - .
     * @param {Sprite} [config.data.{config.itemsProp}.{item}.beforeSprite] - .
     * @param {Sprite} [config.data.{config.itemsProp}.{item}.afterSprite] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {(Object|boolean)} [config.toggle] - .
     * @param {(Object|boolean)} [config.menu] - .
     * @param {(Bemoptions|string)} [config.title] - .
     * @param {string} [config.idPrefix='dropdown'] - .
     * @param {string} [config.idPostfix=`-${uniqueId()}`] - .
     * @param {string} [config.id=config.idPrefix + config.idPostfix] - .
     * @param {string} [config.labelled=config.id] - .
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {boolean} [config.disabled] - .
     * @param {number} [config.divider] - .
     * @param {string} [config.direction] - .
     * @param {Bemoptions} [config.link] - .
     * @param {Function} [config.linkHrefFormat] - .
     * @param {number} [config.activeItem=0] - .
     * @param {(Bemoptions|boolean)} [config.imageWrapper=true] - .
     * @param {(Bemoptions|boolean)} [config.image] - .
     * @param {(Bemoptions|boolean)} [config.buttonIcon] - .
     * @param {string} [config.placeholder] - .
     * @param {Array.<string>} [config.placeholderWrap] - .
     * @param {Sprite} [config.buttonBeforeSprite] - .
     * @param {Sprite} [config.buttonAfterSprite] - .
     * @param {boolean} [config.arrow] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='dropdown'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass] - Дополнительные классы.
     * @param {bemclasses} [config.class.dropdown='dropdown'] - .
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.toggle='toggle'] - .
     * @param {bemclasses} [config.class.toggleAdd=''] - .
     * @param {bemclasses} [config.class.icon='icon'] - .
     * @param {bemclasses} [config.class.menu='menu'] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.divider='divider'] - .
     * @param {bemclasses} [config.class.active='active'] - .
     * @param {bemclasses} [config.class.disabled='disabled'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     * @param {bemclasses} [config.class.image='image'] - .
     * @example
     * +dropdown({
     *     title: 'Заголовок меню',
     *     data: [
     *         {content: 'Главная', href: '/'},
     *         {content: 'Каталог', href: 'catalog', active: true, addClass: 'custom-class'},
     *         {divider: true},
     *         {content: 'Новости', href: 'news', disabled: true},
     *         'О компании'
     *     ],
     *     dataOptions: {duration: 150},
     *     id: 'test-dropdown',
     *     placeholder: 'Меню',
     *     content: 'Текст под меню'
     * })
     */
mixin dropdown(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'dropdown';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            attrs: {
                dataDropdownOptions: config.dataOptions || null
            },
            toggle: true,
            menu: true,
            dataInit: true,
            activeItem: 0,
            idPrefix: mixinClass,
            idPostfix: `-${uniqueId()}`,
            imageWrapper: true,
            class: {
                mixinClass,
                dropdown: mixinClass,
                title: 'title',
                toggle: 'toggle',
                icon: 'icon',
                menu: 'menu',
                inner: 'inner',
                item: 'item',
                divider: 'divider',
                active: 'active',
                disabled: 'disabled',
                link: 'link',
                image: 'image'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const currentItem = items[config.activeItem] || {};
        _.defaultsDeep(config, {
            id: config.idPrefix + config.idPostfix,
            attrs: {
                dataDropdown: config.dataInit ? '' : null
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });
        _.defaultsDeep(config, {
            labelled: config.id
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        addClasses.unshift(config.class.mixinClass);
        if (config.direction) addClasses.push(`${config.class.dropdown}-${config.direction}`);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

        if (config.title) {
            const titleContent = _.isString(config.title) ? config.title : null;
            config.title = _.toPlainObject(config.title);
            _.defaultsDeep(config.title, {
                type: e,
                modifiers: config.class.title,
                content: titleContent
            });
        }

        const toggleConfig = {
            placeholder: config.placeholder,
            placeholderWrap: config.placeholderWrap,
            imageWrapper: config.imageWrapper,
            image: config.image,
            icon: config.buttonIcon,
            idPrefix: config.idPrefix,
            idPostfix: config.idPostfix,
            id: config.id,
            buttonBeforeSprite: config.buttonBeforeSprite,
            buttonAfterSprite: config.buttonAfterSprite,
            data: currentItem,
            activeItem: config.activeItem,
            arrow: config.arrow,
            class: {
                block: config.class.toggle,
                dropdown: config.class.dropdown,
                addClass: config.class.toggleAdd,
                icon: config.class.icon,
                image: config.class.image
            }
        };
        config.toggle = _.toPlainObject(config.toggle);
        _.defaultsDeep(toggleConfig, config.toggle);

        const menuConfig = {
            data: config.data,
            dataPath: config.dataPath,
            itemsProp: config.itemsProp,
            idPrefix: config.idPrefix,
            idPostfix: config.idPostfix,
            id: config.id,
            labelled: config.labelled,
            divider: config.divider,
            link: config.link,
            linkHrefFormat: config.linkHrefFormat,
            activeItem: config.activeItem,
            imageWrapper: config.imageWrapper,
            image: config.image,
            icon: config.icon,
            class: {
                block: config.class.menu,
                dropdown: config.class.dropdown,
                addClass: config.class.menuAdd,
                inner: config.class.inner,
                item: config.class.item,
                divider: config.class.divider,
                active: config.class.active,
                disabled: config.class.disabled,
                link: config.class.link,
                link: config.class.link,
                icon: config.class.icon,
                image: config.class.image
            }
        };
        config.menu = _.toPlainObject(config.menu);
        _.defaultsDeep(menuConfig, config.menu);

    //-html
    +b(config)&attributes(attributes)
        if config.title
            +b(config.title)

        if config.toggle
            +dropdownToggle(toggleConfig)

        if config.menu
            +dropdownMenu(menuConfig)

        if !_.isUndefined(config.content)
            != config.content
        else
            block