@import 'main';

.card-slider{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    margin-top: $section-margin;
    &.preloader-active{
        .main-content-inner__row{
            opacity: 0;
        }
    }
}