@import 'main';

.card-slider{
    .main-content__inner{
        @media (min-width: $media-md){
            padding-top: $global-margin * 3 !important;
        }
    }
    .main-content-inner__row{
        @include transition(opacity);
    }

    + .card-slider{
        .main-content__inner{
            @include border-top;
        }
    }

    > .row{
        padding-bottom: $global-margin * 3;
        .card-slider{
            &__slider-container{
                padding-left: 6px;
                padding-right: 6px;
            }
            &-nav{
                &__arrow{
                    @include m(next){
                        &::before{
                            @media (min-width: $media-md){
                                border-left-color: $border-secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    //Заголовок
    &__top{
        min-width: 100%;
        @media (min-width: $media-md){
            padding-right: $btn-height * 2 + 20;
        }
    }

    &__title{
        margin: 0;
        font-family: $header-font;
        font-size: $size-h2;
        font-weight: $header-weight;
        line-height: $header-line-height;
    }

    &__button-container{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @media (min-width: $media-md){
            align-items: center;
            padding-right: 28px;
        }
        @media (min-width: $media-xl){
            padding-right: 60px;
        }
    }
    &__button{
        @include m(more){
            margin: 0;
            text-decoration: underline;
            &:hover,
            &:focus{
                text-decoration: none;
            }
        }
    }

    //Слайдер
    &__slider-container{
        position: relative;
        min-width: 100%;
        margin: $global-margin (-6px) 0;
        padding: 0;
    }
    &__item{
        height: auto;
        min-height: 100%;
        padding: $global-margin 6px;
        > *{
            height: 100%;
        }
    }
    &__nav{
        @media (min-width: $media-md){
            margin-top: 0;
        }
    }
    &-nav{
        &__arrow{
            @media (min-width: $media-md){
                top: -28px;
                left: auto;
                right: 0;
            }
            @include m(prev){
                @media (min-width: $media-md){
                    margin-right: $btn-height + 20;
                }
            }
            @include m(next){
                @include before{
                    @media (min-width: $media-md){
                        top: 50%;
                        left: -10px;
                        height: 30px;
                        @include border-left;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    &__pagination{
        position: relative;
        @media (min-width: $media-md){
            display: none;
        }
    }

    //Карточка
    .card{
        min-width: 0;
        margin: 0;
        @media (min-width: $media-iphone4-height){
            max-width: #{strip-unit(col-width(6))}vw;
        }
        @media (min-width: $media-md){
            max-width: #{strip-unit(col-width(4))}vw;
        }
        @media (min-width: $media-lg){
            max-width: #{strip-unit(col-width(3))}vw;
        }
        @media (min-width: $media-xl){
            max-width: 232px;
        }
        &,
        &-wrapper{
            height: 100%;
        }
    }
}