include /components/card/template.pug
include /components/slider/template.pug
include /components/tabs/template.pug

-
    /**
     * @function mixins.layout#cardSlider
     * @requires mixins.components#card
     * @requires mixins.components#slider
     * @requires mixins.components#sliderItems
     * @requires mixins.components#sliderItem
     * @requires mixins.components#sliderNav
     * @requires mixins.components#tabs
     * @requires mixins.components#tabPane
     * @desc Слайдер карточек.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [config.tag=section]
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.cardType='card'] - .
     * @param {Object} [config.cardConfig={}] - .
     * @param {Object} [config.cardConfig.counter={}] - .
     * @param {string} [config.cardConfig.counter.idPrefix='card-slider-counter-'] - .
     * @param {boolean} [config.dataInit=true] - .
     * @param {Object} [config.dataOptions] - Опции экземпляра, указанные в data-атрибуте.
     * @param {number} [config.maxItems] - .
     * @param {boolean} [config.container=true] - .
     * @param {Object} [config.title={}] - .
     * @param {string} [config.title.tag=h2] - .
     * @param {string} [config.title.modifiers='title'] - .
     * @param {string} [config.title.content] - .
     * @param {Object} [config.tabs] - .
     * @param {string} [config.paginationType] - .
     * @param {Object} [config.button={}] - .
     * @param {Function} [config.button.hrefFormat=transformUrl] - .
     * @param {Object} [config.backButton={}] - .
     * @param {Function} [config.backButton.hrefFormat=transformUrl] - .
     * @param {Sprite} [config.backButton.icon='arrow'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='card-slider'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.container=container] - .
     * @param {bemclasses} [config.class.row=row] - .
     * @param {bemclasses} [config.class.col=col] - .
     */
mixin cardSlider(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'card-slider';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            attrs: {
                dataCardSliderOptions: config.dataOptions || null
            },
            cardType: 'card',
            dataInit: true,
            container: true,
            title: {
                tag: h2,
                modifiers: 'title'
            },
            class: {
                mixinClass,
                container,
                row,
                col
            },
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        if (config.tabs) {
            _.defaults(config.tabs, {
                classes: col,
                tabPrefix: `${config.class.mixinClass}-tab-`,
                tabPanePrefix: `${config.class.mixinClass}-tab-pane-`,
                tabsContent: false
            });
            getData(config.tabs, config.tabs.data);
        }

        _.defaultsDeep(config, {
            maxItems: items.length * 2,
            cardConfig: {
                counter: {
                    idPrefix: `${config.class.mixinClass}-counter-`
                }
            },
            class: {
                block: config.class.mixinClass || mixinClass
            }
        });

        setBlockClass(attributes, config.class.block);

        if (config.button) {
            config.button = _.toPlainObject(config.button);
            _.defaultsDeep(config.button, {
                tag: a,
                modifiers: ['button', 'more'],
                classes: ['btn', 'btn-secondary'],
                content: 'Смотреть ещё',
                hrefFormat: transformUrl,
                attrs: {
                    href: jv
                }
            });
            config.button.attrs = _.toPlainObject(config.button.attrs);
            if (_.isFunction(config.button.hrefFormat)) {
                config.button.attrs.href = config.button.hrefFormat(config.button.attrs.href);
            }
        }
        if (config.backButton) {
            config.backButton = _.toPlainObject(config.backButton);
            _.defaultsDeep(config.backButton, {
                tag: a,
                modifiers: ['button', 'back'],
                content: 'Назад',
                hrefFormat: transformUrl,
                attrs: {
                    href: jv
                },
                icon: 'arrow'
            });
            config.backButton.attrs = _.toPlainObject(config.backButton.attrs);
            if (_.isFunction(config.backButton.hrefFormat)) {
                config.backButton.attrs.href = config.backButton.hrefFormat(config.backButton.attrs.href);
            }
        }

        if (config.dataInit) {
            _.defaults(config.attrs, {
                dataCardSlider: ''
            });
        }

        const tabsItems = (config.tabs ? config.tabs.data.items : [...Array(1)]);

    //-html
    +b(config)&attributes(attributes)
        mixin cardSliderContainer
            +r('main-content')
                +mainContentInner({preloaderContainer: false})
                    +mainContentCol
                        +r(mixinClass)
                            block

        mixin cardSliderRow
            div(class=config.class.row)
                div(class=config.class.col)
                    block

        //-pug-lint-disable-line disallowBlockExpansion
        +#{config.container ? 'cardSliderContainer' : 'cardSliderRow'}
            //-Верхняя часть слайдера
            +e({
                tag: header,
                modifiers: 'top'
            })
                +e({
                    modifiers: 'inner',
                    classes: row
                })
                    if config.backButton
                        +e({
                            modifiers: 'back-button',
                            classes: col
                        })
                            +e(config.backButton)
                                if config.backButton.icon
                                    +e({
                                        tag: span,
                                        modifiers: 'icon'
                                    })
                                        +sprite(config.backButton.icon)
                                +e({
                                    tag: span,
                                    modifiers: 'text',
                                    content: config.backButton.content
                                })

                    if config.title && config.title.content
                        +e({
                            modifiers: 'title-container',
                            classes: col
                        })
                            +e(config.title)

                    if config.tabs
                        +tabs(config.tabs)

                    if config.button
                        +e({
                            modifiers: 'button-container',
                            classes: col
                        })
                            +e(config.button)

            //-Контейнер слайдера
            +e.slider-container
                //-TODO:use tabsContent mixin
                +e({
                    type: config.tabs ? e : empty,
                    modifiers: 'tabs-content',
                    classes: 'tabs-content'
                })
                    each tabItem, tabIndex in tabsItems
                        +tabPane({
                            type: config.tabs ? e : empty,
                            tabPrefix: config.tabs && config.tabs.tabPrefix,
                            tabPanePrefix: config.tabs && config.tabs.tabPanePrefix,
                            inner: false,
                            data: tabItem,
                            active: tabIndex === 0
                        })
                            +slider({type: e})
                                +sliderItems
                                    - let itemIndex = 0;
                                    each slideItem, slideIndex in [...Array(config.maxItems)]
                                        -
                                            const currentItem = items[itemIndex];
                                            const cardConfig = _.defaultsDeep({}, config.cardConfig, {
                                                index: slideIndex,
                                                data: currentItem,
                                                dataPath: config.dataPath,
                                                image: !!currentItem.image,
                                                topInfo: !!currentItem.number,
                                                title: {
                                                    title: !!currentItem.title,
                                                    subtitle: !!currentItem.subtitle
                                                },
                                                text: !!currentItem.text,
                                                price: !!currentItem.price,
                                                buy: currentItem.price ? {
                                                    active: (slideIndex === 0),
                                                    buy: true
                                                } : false,
                                                colors: !!currentItem.colors,
                                                sizes: !!currentItem.sizes,
                                                availability: _.isUndefined(currentItem.availability) ? null : currentItem.availability,
                                                counter: {
                                                    active: (slideIndex === 0),
                                                    disabled: (currentItem.availability === false)
                                                },
                                                actions: {
                                                    wishlist: {
                                                        isActive: (slideIndex === 1)
                                                    },
                                                    compare: {
                                                        isActive: (slideIndex === 1)
                                                    }
                                                },
                                                badges: !!currentItem.badges
                                            });
                                            if (_.isPlainObject(cardConfig.counter) && cardConfig.counter.idPrefix) {
                                                cardConfig.counter.idPrefix = `${cardConfig.counter.idPrefix + (tabIndex + 1)}-`;
                                            }

                                        //-html карточки
                                        +sliderItem
                                            +#{config.cardType}(cardConfig)

                                        - itemIndex = (itemIndex < (items.length - 1)) ? (itemIndex + 1) : 0;

                            +sliderNav
                                +sliderPagination({
                                    depth: 2,
                                    paginationType: config.paginationType
                                })

            block