@import 'main';

.top{
    &__controls{
        align-self: center;
        min-width: 100%;
        margin-top: $global-margin * .5;
        padding: 0 $global-padding;
        @media (min-width: $media-sm){
            min-width: 0;
            margin-top: -1px;
        }
        @media (min-width: $media-lg){
            margin-top: 0 !important;
        }
        @at-root .browser-edge, .browser-ie{
            .top{
                &__controls{
                    @media (min-width: $media-sm){
                        flex: 1 0 auto;
                        text-align: right;
                    }
                }
            }
        }
    }
    &-controls{
        &__inner{
            align-items: center;
            min-height: 100%;
            @media (min-width: $media-sm){
                justify-content: flex-end;
            }
            .form{
                @include col-attrs;
            }
        }
        &__items{
            align-items: flex-start;
        }
        &__item{
            min-width: 100%;
            margin-top: $global-margin;
            @media (min-width: $media-sm){
                min-width: col-width(6);
                margin-top: 0;
            }
            .choices{
                text-align: left;
                &__inner{
                    &.form-control{
                        background: $white;
                    }
                }
            }
            .form-check{
                &-content{
                    &::before{
                        background: $white !important;
                    }
                }
            }
        }
        &-item{
            &__link{
                padding: 11px 0;
                border: none;
                color: $text-secondary;
                font-size: $size-md-px;
                line-height: 25px;
                white-space: nowrap;
                text-decoration: none;
                background: none;
                @include transition(color);
                &:hover,
                &:focus{
                    &,
                    .close{
                        color: $grey-light;
                    }
                }
                svg{
                    position: relative;
                    top: -1px;
                    margin-right: 5px;
                }
            }
            &__text{
                display: inline;
                padding: 11px 0;
                color: $text-secondary;
                font-size: $size-md-px;
                line-height: 25px;
                white-space: nowrap;
                mark{
                    color: palette(primary, light);
                }
            }
            &__close{
                top: -1px;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                vertical-align: middle;
                opacity: 1 !important;
            }
        }

        //Кнопки
        &__buttons{
            flex-wrap: nowrap;
            > div{
                flex: 1 0 auto;
            }
        }
        &__button{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            margin-top: 0;
            padding: 0 $btn-padding * .75;
            font-size: $size-md-px;
            text-transform: none;
            &.active{
                color: $grey-darker !important;
                cursor: default;
                pointer-events: none;
            }
        }

        //Чекбоксы
        &-form-check{
            &__input{
                &:checked{
                    ~ .form-check-content{
                        .top-controls-form-check{
                            &__pre{
                                color: $grey-light;
                            }
                            &__post{
                                color: $text-primary;
                            }
                        }
                    }
                }
            }
            &__pre,
            &__post{
                white-space: nowrap;
                user-select: none;
                @include transition(color);
            }
            &__pre{
                position: absolute;
                top: 6px;
                right: calc(100% + 16px);
            }
            &__post{
                color: $grey-light;
            }
        }
    }
}