-
    /**
     * @function mixins.layout#topControls
     * @desc Верхние элементы управления.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='controls'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin topControls(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'controls';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('top')
        +b(config)&attributes(attributes)
            +e({
                modifiers: 'inner',
                classes: row
            })
                block