-
    const page = {
        title: 'Корзина'
    };
include /base/templates/main.pug

include /layout/breadcrumbs/template.pug
include /layout/card-slider/template.pug
include /layout/cart/template.pug
include /layout/catalog-item/template.pug

+html({contentPreloader: true})
    +head

    +body
        +pageWrapper
            +contentTop

            +main
                +mainInner
                    +mainContent
                        +breadcrumbs({
                            data: [
                                [globalConfig.projectName, '/'],
                                page.title
                            ]
                        })

                        +top
                            +cartControls

                        +cart

                    //-TODO:fix bottom styles
                    +bottom
                        //-Слайдер "Недавно просмотренные"
                        +cardSlider({
                            modifiers: 'recent',
                            data: 'catalog-item',
                            cardType: 'catalogItem',
                            title: {
                                content: 'Вы недавно смотрели'
                            }
                        })

            +contentBottom
        +foot