@import 'main';

.product{
    &-tabs{
        &-menu{
            &__link{
                padding-left: $global-padding * 1.5;
                padding-right: $global-padding * 1.5;
                @media (min-width: $media-lg){
                    padding-left: $global-padding * 3;
                    padding-right: $global-padding * 3;
                }
            }
            &__icon{
                display: inline-block;
                margin: -1px 7px 0 0;
                vertical-align: top;
            }
        }

        &-content{
            &__tab-pane{
                padding: 0;
            }
            &__text{
                max-width: col-width-px(6);
                margin-top: $global-margin;
                font-size: $size-md;
            }
            &__tabs-collapse{
                padding: 0 $global-padding;
            }
            &-tabs-collapse{
                &__icon{
                    display: inline-block;
                    margin: -1px 7px 0 0;
                    vertical-align: top;
                }
            }
        }
    }
}