include /components/tabs/template.pug

-
    /**
     * @function mixins.layout#productTabs
     * @requires mixins.components#tabs
     * @desc Вкладки страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='product'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='tabs'] - .
     * @param {Bemoptions} [config.tabs={}] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='tabs'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     */
mixin productTabs(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'tabs';

        _.defaultsDeep(config, {
            type: be,
            data: 'product',
            itemsProp: 'tabs',
            tabs: {
                type: e,
                collapseLink: true,
                hashAction: true
            },
            class: {
                mixinClass,
                addClass: col
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaultsDeep(config.tabs, {
            data: items,
            dataPath: config.dataPath
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

    //-html
    +b(config)&attributes(attributes)
        +tabs(config.tabs)
            block

-
    /**
     * @function mixins.layout#productTabsContent
     * @requires mixins.components#tabPane
     * @requires mixins.layout#productParameters
     * @requires mixins.layout#productReviews
     * @desc Контент вкладок страницы карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='product'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='tabs'] - .
     * @param {Object} [config.tabPane={}] - .
     * @param {Object} [config.tabPane.collapseLink=true] - .
     */
mixin productTabsContent(config)
    -
        config = _.toPlainObject(config);

        _.defaultsDeep(config, {
            data: 'product',
            itemsProp: 'tabs',
            tabPane: {
                collapseLink: true
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

    //-html
    each item, index in items
        -
            if ((item.id === 'reviews') && !globalConfig.settings.reviews) return;

            const tabPaneConfig = {
                data: item,
                active: (index === 0)
            };
            _.defaultsDeep(tabPaneConfig, config.tabPane);

        +tabPane(tabPaneConfig)
            if item.id === 'description'
                +e.text
                    p Exage – топовая модель новой линейки Р4, которая излучает качество своей визуально ошеломляющей платиново-золотой цветовой гаммой. Кроме 4 шариковых и роликовый подшипники для мягкого хода, в Exage используется многодисковая фрикционная система торможения, и Fightin’ Drag для регулируемого контроля при вываживании рыбы. Exage RC имеет холоднокованую алюминиевую шпулю с AR-C, которая подходит как для моно, так и для плетеной лески. Лесоукладчик Varispeed предохраняет тонкую моно и плетеную леску от спутывания при наматывании под давлением. Exage RC имеет версии с одной и с двумя рукоятками в малом и среднем размерах от 1000 до 4000. Для рыболовов-спортсменов имеется высокоскоростная (6.2:1) 3000 модель с двумя рукоятками, которая подходит, как поверхностной и фидер-ловли, так и для быстрой ловли на живца.

            else if item.id === 'characteristics'
                +productParameters

            else if item.id === 'reviews'
                +productReviews

            else if item.id === 'additional'
                +e.text
                    p Дополнительная информация

    block