@import 'main';

//Анимации
//-

//Состояния
.hide{
    display: none !important;
}

.fade{
    user-select: none;
    @include transition(opacity);
    &:not(.show){
        opacity: 0;
    }
    &.show{
        user-select: auto;
    }
}