@import 'main';

.product{
    &__parameters{
        padding-top: $global-margin * .5;
    }
    &-parameters{
        //Список с пунктирным подчёркиванием
        //TODO:dots variant
        //@media (min-width: $media-sm){
        //    &__list{
        //        overflow: hidden;
        //    }
        //    &__item{
        //        display: flex;
        //        justify-content: space-between;
        //    }
        //    &__title{
        //        position: relative;
        //        max-width: calc(50% - #{$global-padding});
        //        @include after{
        //            left: 0;
        //            bottom: 4px;
        //            width: 100vw;
        //            height: 1px;
        //            background: repeating-linear-gradient(to right, currentColor, currentColor 1px, transparent 1px, transparent 5px);
        //        }
        //        span{
        //            padding-right: 4px;
        //            position: relative;
        //            z-index: 10;
        //            background: $white;
        //        }
        //    }
        //    &__value{
        //        position: relative;
        //        z-index: 10;
        //        background: $white;
        //        padding-left: 4px;
        //        display: flex;
        //        align-items: center;
        //    }
        //}

        //Обычный список
        &__list{
            margin: 0;
            padding: 0;
            @media (min-width: $media-sm){
                column-count: 2;
                column-gap: $global-gutter;
            }
        }
        &__item{
            font-size: $size-md-px;
            @media (min-width: $media-sm){
                display: inline-flex;
                min-width: 100%;
                margin-top: $global-margin * .75;
            }
            &::before{
                display: none;
            }
        }
        &__value{
            color: $text-secondary;
            @media (min-width: $media-sm){
                margin-left: 4px;
            }
            a[href^='tel:']{
                color: inherit;
                pointer-events: none;
            }
        }
        &__popover-link{
            margin: 0 4px;
        }
    }
}