include /components/popover/template.pug

-
    /**
     * @function mixins.layout#productParameters
     * @requires mixins.components#popoverLink
     * @desc Блок характеристик товара на странице карточки товара.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {Data} [config.data='product'] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp='parameters'] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='parameters'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin productParameters(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'parameters';

        _.defaultsDeep(config, {
            type: be,
            data: 'product',
            itemsProp: 'parameters',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +r('product')
        +b(config)&attributes(attributes)
            +list
                each item, index in items
                    +listItem
                        +e.title
                            span
                                != item.title

                                if index === 1
                                    +popoverLink({
                                        tag: button,
                                        title: removeHtml(item.title),
                                        description: item.value
                                    })

                                != ':'

                        +e.value
                            span!= item.value

            block