@import 'main';

[data-scroll],
.scroll-track{
    @media (min-width: $media-lg){
        visibility: hidden;
        opacity: 0;
        transform: translateY(-$translate-size-secondary);
        pointer-events: none;
        @include transition(opacity transform);
    }
}