@import 'main';

$md-full-width: calc(100vw - #{$global-padding * 3.5 * 2 + $container-padding * 2});
$lg-full-width: calc(100vw - #{$global-padding * 3.5 * 2 + $container-padding * 1.75 * 2});

.main-content-inner__col > .compare{
    margin-top: $global-margin * 1.5;
}

.compare{
    //Хедер
    &-top{
        &__inner{
            + .compare-top__inner{
                margin-top: $global-margin * 1.25;
            }
        }
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 100%;
        }
        &__right{
            padding-left: $global-padding;
            padding-right: $global-padding;
        }
        &__link{
            padding: 0;
            border: none;
            color: $text-secondary;
            font-size: $size-md-px;
            line-height: 25px;
            white-space: nowrap;
            text-decoration: none;
            background: none;
            @include transition(color);
            &:hover,
            &:focus{
                color: $grey-light;
            }
            @include m(remove){
                display: none;
            }
            svg{
                position: relative;
                top: -1px;
                margin-right: 6px;
            }
        }
        &__dropdown{
            width: 100%;
            max-width: col-width-px(3);
            margin-bottom: $global-margin * 1.25;
            padding-left: $global-padding;
            padding-right: $global-padding;
            @media (min-width: $media-lg){
                display: none;
            }
        }
        &-dropdown{
            &__menu{
                min-width: 100%;
                max-width: 100%;
            }
            &__link{
                &.active{
                    .compare-sections__number{
                        color: $grey-lighter;
                    }
                }
                @include m(remove){
                    @media (min-width: $media-lg){
                        display: block;
                    }
                }
                @include m(edit){
                    @media (min-width: $media-lg){
                        display: none;
                    }
                }
            }
        }
    }
    &__sections{
        display: none;
        min-width: 100%;
        margin-top: 0;
        padding-bottom: $global-margin;
        padding-left: $global-padding;
        padding-right: $global-padding;
        @media (min-width: $media-lg){
            display: block;
        }
        .btn-group{
            margin-top: 0;
        }
    }
    &-sections{
        &__button{
            padding-left: $btn-padding * .5 !important;
            padding-right: $btn-padding * .5 !important;
            text-transform: none;
        }
        &__number{
            margin-left: 5px;
            color: $text-secondary;
        }
    }
    &__tabs{
        display: none;
        min-width: 100%;
        @media (min-width: $media-sm){
            display: block;
        }
    }
    .nav-tabs{
        &::after{
            display: none;
        }
        .nav-item{
            &:not(:last-child){
                margin-right: 21px;
            }
        }
        .nav-link{
            padding-left: 0;
            padding-right: 0;
            color: $text-secondary;
            font-weight: $weight-normal;
            &.active,
            &:hover,
            &:focus{
                color: $color-primary;
            }
            &:hover,
            &:focus{
                text-decoration: underline !important;
            }
            &.active{
                pointer-events: none;
            }
            &::after{
                display: none;
            }
        }
    }
    &__form-check{
        padding: 0 $global-padding;
        color: $text-primary !important;
        text-decoration: none !important;
        @media (min-width: $media-sm){
            display: none;
        }
        @at-root a.compare-form-check{
            .compare-form-check{
                &__label{
                    pointer-events: none;
                }
            }
        }
    }

    //Контент
    &__content{
        min-width: 100%;
        margin-top: $global-margin * .75;
    }
    &__header{
        position: absolute;
        top: -9999px;
        left: -9999px;
        z-index: 21;
        width: 100%;
        padding: 0 $global-padding * 3.5;
        background: $white;
        &.position-fixed,
        &.fixed-bottom{
            top: 0;
            left: 50%;
            @include border-bottom($border-secondary);
            box-shadow: $shadow-size-md rgba($shadow-color-primary, .1);
            transform: translateX(-50%);
        }
        &.fixed-bottom{
            position: absolute;
            top: auto !important;
        }
    }
    &-header{
        &__wrapper{
            position: relative;
        }
        &__slider{
            position: static;
            @include before-after{
                top: 0;
                z-index: 10;
                width: 100px;
                height: 100%;
                pointer-events: none;
            }
            &::before{
                left: 0;
                width: 30px;
                background: linear-gradient(to right, $white, $white 50%, rgba($white, 0));
                @include transition(opacity);
            }
            &::after{
                right: 0;
                background: linear-gradient(to right, rgba($white, 0), $white 70%, $white);
            }
            &.slider-prev-disabled{
                &::before{
                    opacity: 0;
                }
                .compare-slider-nav__arrow{
                    @include m(prev){
                        opacity: 0 !important;
                    }
                }
            }
        }
        &__item{
            display: flex;
            width: col-width-px(1.75);
            min-height: 100%;
            &:last-child{
                width: 253px;
                padding-right: 56px;
            }
            @at-root .no-touch{
                .compare-header__item{
                    &:hover{
                        .compare-slider__actions{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__inner{
            width: 100%;
            min-height: 100%;
        }
        &__nav{
            --swiper-navigation-color: $text-primary;

            margin: 0;
        }
        &-nav{
            &__arrow{
                position: absolute;
                top: 40px;
                z-index: 11;
                margin: 0;
                border-radius: 50%;
                background: $white;
                @include border(transparent !important, 3px);
                &:not(.swiper-button-disabled){
                    border-color: $text-primary !important;
                    &:hover,
                    &:focus{
                        border-color: $color-primary !important;
                    }
                }
                &.swiper-button-disabled{
                    color: transparent;
                }
                @include m(prev){
                    left: 0;
                }
                @include m(next){
                    right: 20px;
                }
            }
            &__icon{
                height: 36px;
                line-height: 36px - 4;
            }
        }
    }
    &__sliders{
        display: flex;
        margin: 0 (-$container-padding);
        @include border($border-secondary);
        border-left: none;
        border-right: none;
        @media (min-width: $media-md){
            margin: 0;
        }
    }
    &__slider{
        position: relative;
        flex: 1 0 col-width(6);
        max-width: col-width(6);
        @include m(right){
            @media (min-width: $media-lg){
                display: none;
            }
        }
        @media (min-width: $media-lg){
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
    &-slider{
        &__slider{
            @media (min-width: $media-lg){
                position: static;
            }
            @include before-after{
                @media (min-width: $media-lg){
                    top: 0;
                    z-index: 10;
                    width: 100px;
                    height: 100%;
                    pointer-events: none;
                }
            }
            &::before{
                @media (min-width: $media-lg){
                    left: 0;
                    width: 30px;
                    background: linear-gradient(to right, $white, $white 50%, rgba($white, 0));
                    @include transition(opacity);
                }
            }
            &::after{
                @media (min-width: $media-lg){
                    right: 0;
                    background: linear-gradient(to right, rgba($white, 0), $white 70%, $white);
                }
            }
            &.slider-prev-disabled{
                &::before{
                    @media (min-width: $media-lg){
                        opacity: 0;
                    }
                }
                .compare-slider-nav__arrow{
                    @include m(prev){
                        @media (min-width: $media-lg){
                            opacity: 0 !important;
                        }
                    }
                }
            }
        }

        &__nav{
            --swiper-navigation-color: $text-primary;

            display: none;
            @media (min-width: $media-lg){
                display: block;
                margin: 0;
            }
        }
        &-nav{
            &__arrow{
                position: absolute;
                top: 40px;
                z-index: 11;
                margin: 0;
                border-radius: 50%;
                background: $white;
                @include border(transparent !important, 3px);
                &:not(.swiper-button-disabled){
                    border-color: $text-primary !important;
                    &:hover,
                    &:focus{
                        border-color: $color-primary !important;
                    }
                }
                &.swiper-button-disabled{
                    color: transparent;
                }
                @include m(prev){
                    left: 0;
                }
                @include m(next){
                    right: 20px;
                }
            }
            &__icon{
                height: 36px;
                line-height: 36px - 4;
            }
        }

        &__item{
            &:hover{
                .compare-slider__actions{
                    opacity: 1;
                }
            }
            @media (min-width: $media-lg){
                width: col-width-px(1.75);
            }
            &:last-child{
                @media (min-width: $media-lg){
                    width: col-width-px(1.75 + .5);
                    padding-right: col-width-px(.5);
                }
            }
        }
        &__top{
            position: relative;
            padding: $global-margin * 1.5 $global-padding $global-margin * 1.25;
            @media (min-width: $media-lg){
                @include border-right($border-secondary);
            }
        }
        &__image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            @media (min-width: $media-lg){
                justify-content: flex-start;
            }
        }
        &-image{
            &__link{
                display: inline-block;
            }
            &__image{
                max-width: 100px;
                max-height: 100px;
                margin: 0;
            }
        }
        @if map-get($global-settings, catalogNumber){
            &__number{
                margin-top: $global-margin * .5;
                font-size: $size-xs-px;
                text-align: center;
                @media (min-width: $media-lg){
                    text-align: left;
                }
                a[href^='tel:']{
                    color: inherit;
                    pointer-events: none;
                }
            }
        }
        &__title{
            padding-top: $global-margin * .75;
        }
        &__link,
        &__text,
        &__prices{
            @media (min-width: $media-lg){
                text-align: left;
            }
        }
        &__link{
            display: block;
            color: $text-primary;
            font-size: $size-ml-px;
            line-height: $line-height-md;
            text-align: center;
            text-decoration: none;
            @include text-overflow(3, $line-height-md);
            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }
        &__actions{
            position: absolute;
            top: $global-margin * .5;
            right: $global-padding * .5;
            opacity: 0;
            @include transition(opacity);
            @media (min-width: $media-lg){
                top: $global-margin * .75;
                right: $global-padding;
            }
            @at-root .touch{
                .compare-slider__actions{
                    opacity: 1;
                }
            }
        }
        &-actions{
            &__item{
                @include m(remove){
                    .compare-slider-actions__button{
                        &:hover,
                        &:focus{
                            color: $color-danger;
                        }
                    }
                }
            }
            &__button{
                display: block;
                width: $btn-height-sm;
                height: $btn-height-sm;
                padding: 0;
                border: none;
                color: $text-secondary;
                line-height: $btn-height-sm - 2;
                text-align: center;
                background: none;
                @include transition(color);
                &:hover,
                &:focus{
                    color: $color-primary;
                }
                @include m(active){
                    color: palette(success, light);
                }
            }
        }

        &__bottom{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: $global-margin * 2.5;
            padding: $global-margin * 1.5 $global-padding 0;
            @include border-top($border-secondary);
            @media (min-width: $media-lg){
                margin-top: 0;
            }
        }
        &__prices{
            min-width: 100%;
            min-height: 56px;
            color: $grey-darker;
            font-family: $font-secondary;
            font-size: $size-primary-px;
            font-weight: $weight-medium;
            text-align: center;
            @media (min-width: $media-lg){
                min-width: calc(100% - #{28px * 2 + 8});
                max-width: calc(100% - #{28px * 2 + 8});
                min-height: 98px;
            }
        }
        &-prices{
            &__price{
                @if map-get($global-settings, basePrice){
                    @include m(base){
                        position: relative;
                        display: inline-block;
                        color: $color-danger;
                        font-size: $size-sm-px;
                        @include after{
                            top: 50%;
                            left: -3px;
                            width: calc(100% + #{3px * 2});
                            margin-top: -1px;
                            @include border-top(currentColor, 1px);
                        }
                    }
                }
            }
        }
        &__buy{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            @media (min-width: $media-lg){
                min-width: 28px * 2 + 8;
                max-width: 28px * 2 + 8;
                margin-top: -10px;
            }
        }
        &-buy{
            &__item{
                margin: 0 4px;
            }
            &__button{
                width: $btn-height-sm;
                height: $btn-height-sm;
                padding: 0;
                border: none;
                color: $text-secondary;
                background: none;
                @include transition(color);
                &:hover,
                &:focus{
                    color: $color-primary;
                }
                @include m(active){
                    color: palette(success, light);
                }
                @media (min-width: $media-lg){
                    width: 28px;
                }
            }
        }

        &__section{
            margin-top: $global-margin * 1.5;
        }
        &__property{
            @include border-top($border-secondary);
            @include transition(background);
            &.hover{
                background: $bg-primary;
            }
        }
        &__text{
            padding: rem-px($global-margin * .75) $global-padding rem-px($global-margin * 1.5);
            text-align: center;
            @include m(empty){
                color: $grey-light;
            }
        }
        &__colors{
            display: flex;
            flex-wrap: wrap;
            margin: (-$global-margin * .5) (-$global-padding * .5) 0;
        }
        &-colors{
            &__item{
                margin: $global-margin * .5 $global-padding * .5 0;
            }
            &__color{
                width: 15px;
                height: 15px;
                @include border;
            }
        }
    }

    &__info{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 0;
        margin: 1px ($global-padding - $container-padding) 0;
        @media (min-width: $media-md){
            left: $global-padding;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-info{
        &__pages{
            z-index: 10;
            display: flex;
            align-items: center;
            width: 100vw;
            height: $global-margin * 2.5;
            background: $white;
            @include transition(box-shadow);
            @media (min-width: $media-md){
                width: $md-full-width;
            }
            @media (min-width: $media-lg){
                display: none;
                width: $lg-full-width;
            }
            &.position-fixed,
            &.fixed-bottom{
                top: 0;
                left: 0;
                width: 100vw;
                height: auto;
                padding-top: $global-margin * .75;
                @include border-bottom($border-secondary);
                box-shadow: $shadow-size-md rgba($shadow-color-primary, .1);
                + .compare-info__sections{
                    margin-top: $global-margin * 2.5;
                }
                .compare-info-pages__title{
                    display: block;
                    height: $line-height-primary * 2em;
                    @include text-overflow(2);
                }
            }
            &.position-fixed{
                @media (min-width: $media-md){
                    padding-left: $global-padding * 3.5 + $container-padding;
                    padding-right: $global-padding * 3.5 + $container-padding;
                }
            }
            &.fixed-bottom{
                position: absolute;
                top: 0 !important;
            }
        }
        &-pages{
            &__item{
                flex: 1 0 col-width(6);
                max-width: col-width(6);
                padding: 0 $global-padding * .5;
                text-align: center;
                span{
                    display: inline-block;
                    margin: 0 2px;
                    color: $text-secondary;
                }
            }
            &__title{
                display: none;
                margin-bottom: $global-margin * 1.25;
                padding: 0 $global-padding * .5;
                font-size: $size-ml-px;
            }
            &__inner{
                display: flex;
                align-items: center;
                justify-content: center;
                height: $global-margin * 2.5;
            }
            &__arrow{
                width: $global-margin * 2.5;
                height: $global-margin * 2.5;
                padding: 0;
                border: none;
                color: $text-primary;
                background: none;
                cursor: $cursor-pointer;
                @include m(prev){
                    margin-right: 10px;
                    transform: rotate(90deg);
                }
                @include m(next){
                    margin-left: 10px;
                    transform: rotate(-90deg);
                }
            }
        }
        &__section{
            margin-top: $global-margin * 1.5;
            &.inactive{
                .compare-info-section__content{
                    width: 100vw;
                    @media (min-width: $media-md){
                        width: $md-full-width;
                    }
                    @media (min-width: $media-lg){
                        width: $lg-full-width;
                    }
                }
                + .compare-info__section{
                    padding-top: 0 !important;
                }
            }
        }
        &-section{
            &__button,
            &__property{
                @media (min-width: $media-md){
                    width: $md-full-width;
                }
                @media (min-width: $media-lg){
                    justify-content: flex-start;
                    width: $lg-full-width;
                    text-align: left;
                }
            }
            &__button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100vw;
                padding: $global-margin $global-padding;
                color: $grey-darker;
                font-family: $font-secondary;
                font-size: $size-primary-px;
                font-weight: $weight-medium;
                line-height: $line-height-md;
                text-align: center;
                text-decoration: none !important;
                &.inactive{
                    .compare-info-section__icon{
                        transform: scaleY(-1);
                    }
                }
            }
            &__icon{
                display: inline-block;
                margin-left: 6px;
                @include transition(transform);
            }
            &__property{
                width: 100vw;
                padding: $global-margin $global-padding;
                color: $text-secondary;
                font-size: $size-ml-px;
                line-height: $line-height-md;
                text-align: center;
                text-transform: uppercase;
            }
            &__popover-link{
                position: relative;
                top: -1px;
                margin-left: 5px;
                border-color: $border-secondary;
                color: $grey-lighter;
                background: $white !important;
                &:hover,
                &:focus{
                    border-color: $grey-light;
                    color: $grey-light;
                }
            }
        }
    }

    &-edit{
        margin: 0 (-#{ceil($global-padding * 1.5)});
        @media (min-width: $media-sm){
            margin: 0;
        }
        &__item{
            padding: $global-margin ceil($global-padding * 1.5);
            @include border-bottom($border-secondary);
        }
        &-item{
            &__inner{
                display: flex;
                align-items: center;
            }
            &__item{
                @include m(image){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 50px;
                    max-width: 50px;
                    height: 50px;
                }
                @include m(title){
                    margin: 0 $global-padding * .5 0 $global-padding * .75;
                }
                @include m(remove){
                    margin-left: auto;
                }
            }
            &__title{
                line-height: $line-height-md;
            }
            &__button{
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                color: $text-secondary;
                background: none;
                @include transition(opacity);
                &:hover,
                &:focus{
                    opacity: .65;
                }
            }
            &__image{
                max-height: 50px;
                margin: 0;
            }
        }
    }

    &__empty{
        margin-top: -$global-margin;
    }
}