include /components/alert/template.pug
include /components/check/template.pug
include /components/collapse/template.pug
include /components/dropdown/template.pug
include /components/money/template.pug
include /components/popover/template.pug
include /components/popup/template.pug
include /components/slider/template.pug
include /components/tabs/template.pug

-
    /**
     * @function mixins.layout#compareCartAction
     * @desc Кнопка добавления в корзину на странице сравнения.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin compareCartAction(config)
    //-html
    +e({
        modifiers: ['item', 'cart'],
        attrs: {
            dataStateToggler: ''
        }
    })
        +link({
            class: 'button',
            modifiers: 'default',
            tag: button,
            title: 'Добавить в корзину',
        })
            +e({
                tag: span,
                modifiers: 'icon'
            })
                +sprite#bag-plus

        +link({
            class: 'button',
            modifiers: 'active',
            href: 'cart',
            title: 'Перейти в корзину',
            attrs: {
                dataState: 'active'
            }
        })
            +e({
                tag: span,
                modifiers: 'icon'
            })
                +sprite({
                    id: 'check-circle',
                    width: 19
                })

        block

-
    /**
     * @function mixins.layout#compareWishlistAction
     * @desc Кнопка добавления к отложенным на странице сравнения.
     * @param {Bemoptions} [config={}] - Настройки.
     */
mixin compareWishlistAction(config)
    //-html
    +e({
        modifiers: ['item', 'wishlist'],
        attrs: {
            dataStateToggler: ''
        }
    })
        +link({
            tag: button,
            class: 'button',
            modifiers: 'default',
            title: 'Добавить к отложенным',
        })
            +e({
                tag: span,
                modifiers: 'icon'
            })
                +sprite#bookmark

        +link({
            tag: button,
            class: 'button',
            modifiers: 'active',
            title: 'Удалить из отложенных',
            attrs: {
                dataState: 'active'
            }
        })
            +e({
                tag: span,
                modifiers: 'icon'
            })
                +sprite#bookmark

        block

-
    /**
     * @function mixins.layout#compare
     * @requires mixins.components#alert
     * @requires mixins.components#checkbox
     * @requires mixins.components#collapse
     * @requires mixins.components#dropdown
     * @requires mixins.components#money
     * @requires mixins.components#popoverLink
     * @requires mixins.components#popup
     * @requires mixins.components#popupContent
     * @requires mixins.components#popupHeader
     * @requires mixins.components#slider
     * @requires mixins.components#sliderItems
     * @requires mixins.components#sliderItem
     * @requires mixins.components#sliderNav
     * @requires mixins.components#tabs
     * @desc Страница сравнения.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='compare'] - .
     * @param {string} [config.dataPath] - .
     * @param {Object} [config.catalogData={}] - .
     * @param {Data} [config.catalogData.data='catalog-item'] - .
     * @param {string} [config.catalogData.dataPath] - .
     * @param {number} [config.maxItems] - .
     * @param {boolean} [config.topActions] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='compare'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=''] - Дополнительный класс.
     */
mixin compare(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'compare';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'compare',
            catalogData: {
                data: 'catalog-item'
            },
            class: {
                mixinClass,
                addClass: ''
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }
        const sections = config.data.sections;

        getData(config.catalogData, config.catalogData.data);
        const catalogItems = config.catalogData.data[config.catalogData.itemsProp];

        config.maxItems = config.maxItems || (items.length * 2);

        catalogItems.forEach(item => {
            item.imagePreview = setImageProps(config.catalogData.dataPath, item.imagePreview, item.title);
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        setAdditionalClass(config.classes, attributes, config.type, config.class.addClass);

        const sectionsContent = [
            'Планшеты',
            'Мобильные телефоны',
            'Карты памяти',
            'Аккумуляторы',
            'Держатели для мобильных устройств'
        ];
        sectionsContent.forEach((item, index) => {
            sectionsContent[index] = `${item} <span class="compare-sections__number">22</span>`
        });

        const tabsContent = [
            {
                content: 'Различающиеся характеристики',
                href: jv,
                id: 'compare-differing'
            },
            {
                content: 'Все характеристики',
                href: jv,
                id: 'compare-all'
            }
        ];

        const directions = [
            'left',
            'right'
        ];

    //-html
    +b(config)&attributes(attributes)
        +preload('compare')

        +e({
            modifiers: 'inner',
            classes: row
        })
            if config.empty
                +e({
                    modifiers: 'empty',
                    classes: col
                })
                    +alert({
                        color: 'light',
                        content: 'Список сравнения пуст'
                    })
            else
                //-Заголовок
                +be({
                    modifiers: 'top',
                    classes: col
                })
                    +e({
                        modifiers: 'inner',
                        classes: row
                    })
                        +r('compare')
                            +be({
                                modifiers: 'sections',
                                classes: ['btn-group-responsive']
                            })
                                .btn-group.btn-group-sm
                                    each section, index in sectionsContent
                                        +button({
                                            active: index === 0,
                                            content: section,
                                            color: 'secondary',
                                            outline: true
                                        })

                        +dropdown({
                            data: sectionsContent,
                            class: {
                                toggleAdd: ['btn', 'btn-secondary']
                            },
                            buttonAfterSprite: {
                                id: 'arrow',
                                width: 10
                            }
                        })

                        +e.bottom
                            +e.left
                                +r('compare')
                                    +tabs({
                                        classes: col,
                                        data: tabsContent,
                                        menuOnly: true
                                    })

                                    +checkbox({
                                        id: 'compare-diff-check',
                                        content: 'Только различающееся'
                                    })

                            +e.right
                                +link({modifiers: 'remove'})
                                    +sprite#trash
                                    | Очистить список

                                +link({
                                    modifiers: 'edit',
                                    href: '#popup-compare-edit',
                                    role: 'button'
                                })
                                    +sprite({
                                        id: 'edit',
                                        width: 15
                                    })
                                    | Товары

                                +popup({
                                    modifiers: 'fullsize',
                                    id: 'popup-compare-edit'
                                })
                                    +popupHeader({
                                        idPrefix: 'popup-compare-edit',
                                        content: 'Планшеты'
                                    })

                                    +popupContent
                                        +b.compare-edit
                                            +e.items
                                                - let curItem = 0;
                                                each item in [...Array(config.maxItems)]
                                                    - const currentItem = catalogItems[curItem];
                                                    +be.item
                                                        +e.inner
                                                            +e({modifiers: ['item', 'image']})
                                                                +image({
                                                                    src: currentItem.imagePreview.src,
                                                                    alt: currentItem.imagePreview.alt
                                                                })

                                                            +e({modifiers: ['item', 'title']})
                                                                +e({
                                                                    modifiers: 'title',
                                                                    content: currentItem.title
                                                                })

                                                            +e({modifiers: ['item', 'remove']})
                                                                +button
                                                                    +sprite#trash
                                                    - curItem = (curItem < (catalogItems.length - 1)) ? (curItem + 1) : 0;

                                        +e.buttons
                                            +button({
                                                modifiers: 'clear',
                                                content: 'Очистить список',
                                                color: 'secondary'
                                            })

                //-Контентная часть
                +e({
                    modifiers: 'content',
                    classes: col
                })
                    +e.sliders
                        +be.header
                            +e.wrapper
                                +slider({type: e})
                                    +sliderItems
                                        - let curItem = 0;
                                        each item, itemIndex in [...Array(config.maxItems)]
                                            - const currentItem = catalogItems[curItem];
                                            +sliderItem({
                                                attrs: {
                                                    dataId: itemIndex + 1
                                                }
                                            })
                                                +e.inner
                                            - curItem = (curItem < (catalogItems.length - 1)) ? (curItem + 1) : 0;

                                    +sliderNav

                        each direction in directions
                            +be({modifiers: ['slider', direction]})
                                +slider({
                                    type: e,
                                    hidden: false
                                })
                                    +sliderItems
                                        - let curItem = 0;
                                        each item, itemIndex in [...Array(config.maxItems)]
                                            - const currentItem = catalogItems[curItem];
                                            +sliderItem({
                                                attrs: {
                                                    dataId: itemIndex + 1
                                                }
                                            })
                                                +e.top
                                                    +be.image
                                                        +link({href: 'product'})
                                                            +image({
                                                                src: currentItem.imagePreview.src,
                                                                alt: currentItem.imagePreview.alt
                                                            })

                                                    if globalConfig.settings.catalogNumber
                                                        +e({
                                                            modifiers: 'number',
                                                            content: `Артикул: ${currentItem.number}`,
                                                            attrs: {
                                                                title: removeHtml(`Артикул: ${currentItem.number}`)
                                                            }
                                                        })

                                                    +e.title
                                                        +link({
                                                            href: 'product',
                                                            content: currentItem.title,
                                                            title: removeHtml(currentItem.title)
                                                        })

                                                    +be.actions
                                                        if config.topActions
                                                            +compareCartAction

                                                            +compareWishlistAction

                                                        +e({modifiers: ['item', 'remove']})
                                                            +link({
                                                                class: 'button',
                                                                tag: button,
                                                                title: 'Удалить из сравнения'
                                                            })
                                                                +e({
                                                                    tag: span,
                                                                    modifiers: 'icon'
                                                                })
                                                                    +sprite#trash

                                                +e.bottom
                                                    +be.prices
                                                        +e({
                                                            modifiers: ['price', 'current'],
                                                            content: money.formatPrice(currentItem.price.current),
                                                            attrs: {
                                                                title: 'Текущая цена'
                                                            }
                                                        })
                                                        if globalConfig.settings.basePrice && currentItem.price.base
                                                            +e({
                                                                modifiers: ['price', 'base'],
                                                                content: money.formatPrice(currentItem.price.base),
                                                                attrs: {
                                                                    title: 'Цена без скидки'
                                                                }
                                                            })

                                                    +be.buy
                                                        if globalConfig.settings.buy
                                                            +compareCartAction

                                                        +compareWishlistAction

                                                +e.sections
                                                    each sectionItem, sectionIndex in items[curItem].sections
                                                        +collapseContent({
                                                            id: `compare-info-section${sectionIndex + 1}`,
                                                            dataCollapseId: true,
                                                            active: true,
                                                            class: 'section'
                                                        })
                                                            +e.properties
                                                                each propertyItem in sectionItem
                                                                    +e.property
                                                                        +e({modifiers: ['text', _.ifElse(propertyItem === 'нет данных', empty)]})
                                                                            if _.isBoolean(propertyItem)
                                                                                if propertyItem === true
                                                                                    +sprite#check
                                                                                else
                                                                                    +e.false —
                                                                            else if Array.isArray(propertyItem)
                                                                                +be.colors
                                                                                    each colorItem, colorIndex in propertyItem
                                                                                        if colorIndex < 4
                                                                                            +e.item
                                                                                                +e({
                                                                                                    modifiers: 'color',
                                                                                                    attrs: {
                                                                                                        style: `background-color: ${colorItem.color}`,
                                                                                                        title: removeHtml(colorItem.title)
                                                                                                    }
                                                                                                })
                                                                            else
                                                                                != propertyItem
                                            - curItem = (curItem < (catalogItems.length - 1)) ? (curItem + 1) : 0;

                                    +sliderNav

                    +be.info
                        +be.pages
                            each item in [...Array(2)]
                                +e.item
                                    +e.title

                                    +e.inner
                                        +link({
                                            class: 'arrow',
                                            modifiers: 'prev',
                                            tag: button
                                        })
                                            +sprite({
                                                id: 'arrow',
                                                width: 11
                                            })

                                        +e({
                                            tag: span,
                                            modifiers: 'current'
                                        })
                                        | /
                                        +e({
                                            tag: span,
                                            modifiers: 'all'
                                        })

                                        +link({
                                            class: 'arrow',
                                            modifiers: 'next',
                                            tag: button
                                        })
                                            +sprite({
                                                id: 'arrow',
                                                width: 11
                                            })

                        +e.sections
                            each item, index in sections
                                +collapse({
                                    id: `compare-info-section${index + 1}`,
                                    active: true,
                                    button: {
                                        content: item.title,
                                        icon: {
                                            sprite: {
                                                id: 'arrow',
                                                width: 9
                                            }
                                        }
                                    },
                                    class: 'section'
                                })
                                    each propertyItem in item.items
                                        +e.property
                                            != propertyItem
                                            +popoverLink

            block