@import 'main';

$module-path-media: 'Data/browsers-warning/media/';

//Попап с предупреждением об устаревшем браузере
.browsers-warning{
    //Верхнее уведомление об устаревшем браузере
    &__alert{
        display: none;
        min-width: 100%;
        min-height: 40px;
        padding: 6px $global-padding;
        @include border-bottom(darken(#e6e6e6, 10%), 2px);
        font-size: 14px;
        background: #e6e6e6;
        @media (min-width: $media-xl){
            line-height: 40px;
            white-space: nowrap;
        }
        &.active{
            display: block;
        }
    }
    &-alert{
        &__container{
            max-width: $content-width;
            margin: 0 auto;
        }
        &__button{
            padding: 0;
            border: none;
            background: none;
            cursor: $cursor-pointer;
            @include m(close){
                position: relative;
                float: right;
                width: 40px;
                height: 40px;
                margin-left: 10px;
                &::after{
                    content: 'x';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    font-family: Tahoma, sans-serif;
                    font-size: 22px;
                    line-height: 36px;
                    text-align: center;
                }
            }
            @include m(more){
                color: palette(primary, light);
            }
        }
    }

    //Попап уведомления об устаревшем браузере
    &__popup{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        display: none;
        width: 100%;
        height: 100%;
        background: #e6e6e6;
        &.active{
            display: block;
        }
    }
    &-popup{
        &__container{
            display: table;
            width: 100%;
            height: 100%;
            > div{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &__inner{
            max-height: 100%;
            overflow: auto;
        }
        &__content{
            position: relative;
            max-width: 1024px;
            margin: 0 auto;
            padding: 30px 20px;
        }
        &__close{
            cursor: $cursor-pointer;
        }
        &__button{
            padding: 0;
            border: none;
            background: none;
            @include m(close){
                position: absolute;
                top: 15px;
                right: 15px;
                width: 40px;
                height: 40px;
                &::after{
                    content: 'x';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    font-family: Tahoma, sans-serif;
                    font-size: 22px;
                    line-height: 36px;
                    text-align: center;
                }
            }
            @include m(continue){
                color: $black;
                font-size: $size-h3;
                text-decoration: underline;
                &:hover,
                &:active,
                &:focus{
                    text-decoration: none;
                }
            }
        }
        &__top{
            text-align: center;
        }
        &__title{
            margin-top: 15px;
            color: $black;
            font-size: $size-h2;
            line-height: $header-line-height;
        }
        &__text{
            margin-top: 12px;
            color: $black;
        }

        &__browsers{
            text-align: center;
        }
        &-browsers{
            &__item{
                display: inline-block;
                min-width: 30%;
                margin-top: 30px;
                padding: 0 $global-padding;
                text-align: center;
                vertical-align: top;
                @media (min-width: $media-lg){
                    min-width: 0;
                }
                @include m(chrome){
                    .browsers-warning-popup-browsers__image{
                        background-image: url($module-path-media + 'chrome.png');
                    }
                }
                @include m(yandex){
                    .browsers-warning-popup-browsers__image{
                        background-image: url($module-path-media + 'yandex.png');
                    }
                }
                @include m(firefox){
                    .browsers-warning-popup-browsers__image{
                        background-image: url($module-path-media + 'firefox.png');
                    }
                }
                @include m(edge){
                    .browsers-warning-popup-browsers__image{
                        background-image: url($module-path-media + 'edge.png');
                    }
                }
                @include m(safari){
                    .browsers-warning-popup-browsers__image{
                        background-image: url($module-path-media + 'safari.png');
                    }
                }
            }
            &__link{
                display: inline-block;
                text-decoration: none !important;
            }
            &__image{
                display: block;
                width: 100px;
                height: 100px;
                margin: 0 auto;
                background: no-repeat center;
            }
            &__title{
                display: block;
                margin-top: 5px;
                color: #0645ad !important;
                font-size: $size-lg;
                text-decoration: underline !important;
                &:hover,
                &:focus{
                    text-decoration: none !important;
                }
            }
            &__desc{
                display: block;
                color: #333;
                font-size: $size-md;
            }
        }

        &__bottom{
            margin-top: 40px;
            text-align: center;
        }
    }
}