-
    /**
     * @function mixins.layout#unsupportedBrowsersWarning
     * @desc Попап с предупреждением об устаревшем браузере.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data='browsers-warning'] - .
     * @param {string} [config.dataPath] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='browsers-warning'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin unsupportedBrowsersWarning(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'browsers-warning';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            data: 'browsers-warning',
            class: {
                mixinClass
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const idPrefix = mixinClass;

    //-html
    +b(config)&attributes(attributes)
        //-Сообщение вверху экрана
        +be({
            modifiers: 'alert',
            attrs: {
                role: 'alert',
                ariaLabelledby: `${idPrefix}-alert-title`,
                ariaDescribedby: `${idPrefix}-alert-desc`,
                ariaHidden: 'true'
            }
        })
            +e.container
                div
                    +e.inner
                        +e({
                            modifiers: 'title',
                            attrs: {
                                id: `${idPrefix}-alert-desc`
                            }
                        })
                            +button({
                                modifiers: 'close',
                                title: 'Закрыть (Esc)'
                            })

                            != `<span id="${idPrefix}-alert-title"> Ваш браузер устарел</span> и не может обеспечить достаточной безопасности при работе с сайтом, а также может некорректно отображать содержимое сайта. `
                            +button({
                                modifiers: 'more',
                                content: 'Подробнее'
                            })

        //-Попап
        +be({
            modifiers: 'popup',
            classes: 'fade',
            attrs: {
                tabindex: '-1',
                role: 'dialog',
                ariaLabelledby: `${idPrefix}-popup-title`,
                ariaDescribedby: `${idPrefix}-popup-desc`,
                ariaHidden: 'true'
            }
        })
            +e.container
                div
                    +e.inner
                        +e.content
                            +button({
                                modifiers: 'close',
                                title: 'Закрыть (Esc)'
                            })

                            +e.top
                                +e({
                                    modifiers: 'title',
                                    attrs: {
                                        id: `${idPrefix}-popup-title`
                                    },
                                    content: 'Ваш браузер устарел'
                                })
                                +e({
                                    modifiers: 'text',
                                    attrs: {
                                        id: `${idPrefix}-popup-desc`
                                    },
                                    content: 'Он не может обеспечить достаточной безопасности при работе с сайтом, а также может не корректно отображать содержимое сайта, поэтому мы предлагаем вам воспользоваться одним из нижеперечисленных бесплатных браузеров для использования сайта:'
                                })

                            +be.browsers
                                each browserItem in items
                                    +e({modifiers: ['items', browserItem.class]})
                                        +link({
                                            href: browserItem.href,
                                            target: '_blank',
                                            title: removeHtml(browserItem.title),
                                            rel: 'noopener'
                                        })
                                            +e({
                                                tag: span,
                                                modifiers: 'image'
                                            })
                                            +e({
                                                tag: span,
                                                modifiers: 'title',
                                                content: browserItem.name
                                            })
                                            if browserItem.desc
                                                +e({
                                                    tag: span,
                                                    modifiers: 'desc',
                                                    content: browserItem.desc
                                                })

                            +e.bottom
                                +button({
                                    modifiers: 'continue',
                                    content: 'Всё равно перейти на сайт'
                                })

            block