include /layout/news/template.pug

-
    /**
     * @function mixins.layout#indexNews
     * @requires mixins.layout#newsContent
     * @desc Новости на главной странице.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtag} [tag=section]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='index-about'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin indexNews(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'news';

        _.defaultsDeep(config, {
            type: b,
            tag: section,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +b(config)&attributes(attributes)
        div(class=row)
            +be({
                tag: header,
                modifiers: 'header',
                classes: col
            })
                +e({
                    tag: h2,
                    modifiers: 'title',
                    content: 'Новости'
                })

                +link({
                    href: 'news',
                    content: 'Читать все'
                })

            +newsContent({maxItems: 3})

            block