include /layout/password-show/template.pug

-
    /**
     * @function mixins.layout#personalInfo
     * @requires mixins.layout#passwordShow
     * @desc Блок формы редактирования профиля.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {bemtype} [config.type=be]
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='info'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     */
mixin personalInfo(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'info';

        _.defaultsDeep(config, {
            type: be,
            tag: div,
            class: {
                mixinClass
            }
        });

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

    //-html
    +e({
        modifiers: col,
        classes: col
    })
        +b(config)&attributes(attributes)
            +e.form
                +form({
                    type: b,
                    baseForm: true
                })
                    +e({
                        tag: fieldset,
                        modifiers: 'block'
                    })
                        +formGroup
                            +label({
                                for: 'personal-info-name',
                                content: 'Имя'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    id: 'personal-info-name',
                                    name: 'NAME',
                                    validate: 'name',
                                    value: 'Константин Константинович Константинопольский',
                                    autocomplete: 'name'
                                })

                        +formGroup
                            +label({
                                for: 'personal-info-email',
                                content: 'Email'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'email',
                                    id: 'personal-info-email',
                                    name: 'EMAIL',
                                    validate: 'required, email',
                                    value: 'user@company.ru',
                                    autocomplete: 'email'
                                })

                        +formGroup
                            +label({
                                for: 'personal-info-phone',
                                content: 'Телефон (раб.)'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'tel',
                                    id: 'personal-info-phone',
                                    name: 'PHONE',
                                    validate: 'required, tel',
                                    value: '8 (800) 847 - 24 - 16',
                                    autocomplete: 'tel'
                                })

                        +formGroup
                            +label({
                                for: 'personal-info-phone-mobile',
                                content: 'Телефон (моб.)'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'tel',
                                    id: 'personal-info-phone-mobile',
                                    name: 'PHONE_MOBILE',
                                    validate: 'tel'
                                })

                    +e({
                        tag: fieldset,
                        modifiers: 'block'
                    })
                        +e({
                            tag: legend,
                            modifiers: 'legend',
                            content: 'Изменить пароль'
                        })

                        +formGroup
                            +label({
                                for: 'personal-info-password',
                                content: 'Новый пароль'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'password',
                                    id: 'personal-info-password',
                                    name: 'PASSWORD',
                                    validate: 'minlength: 6, equalto: PASSWORD_REPEAT',
                                    autocomplete: 'new-password'
                                })
                                +passwordShow

                        +formGroup
                            +label({
                                for: 'personal-info-password-repeat',
                                content: 'Подтвердите пароль'
                            })
                            +e.input-container
                                +input({
                                    formControl: true,
                                    inputType: 'password',
                                    id: 'personal-info-password-repeat',
                                    name: 'PASSWORD_REPEAT',
                                    validate: 'minlength: 6, equalto: PASSWORD',
                                    autocomplete: 'new-password'
                                })
                                +passwordShow
                            .form-text Пароль должен быть не менее 6 символов длиной

                    +formGroup
                        +button({
                            modifiers: 'submit',
                            content: 'Сохранить изменения',
                            color: 'primary',
                            buttonType: 'submit'
                        })

                    block