@import 'main';

.breadcrumbs{
    min-width: 100%;
    margin-bottom: 0;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__icon{
        display: block;
        margin-top: 4px;
        line-height: 6px;
        transform: rotate(90deg);
        @media (min-width: $media-lg){
            display: none;
        }
    }
    &__list{
        display: flex;
        flex-wrap: nowrap;
        margin: 0 (-$container-padding);
        padding: 0 $container-padding - 12px $global-margin;
        overflow-x: scroll;
        @media (min-width: $media-lg){
            flex-wrap: wrap;
            padding-bottom: $global-margin * .5;
            overflow: auto;
        }
    }
    &__item{
        position: relative;
        display: none;
        margin-top: 4px;
        padding: 0 12px;
        font-size: $size-md-px;
        white-space: nowrap;
        @media (min-width: $media-lg){
            display: inline-block;
        }
        &::before{
            display: none;
        }
        &:not(:last-child){
            &::after{
                content: '—';
                position: absolute;
                top: 0;
                left: calc(100% - 4px);
                color: $text-secondary;
            }
        }
        &:nth-last-child(-n + 2){
            display: inline-block;
        }
    }
    &__link{
        display: inline-block;
        color: $text-secondary;
        text-decoration: underline;
        @media (min-width: $media-lg){
            text-decoration: none;
        }
    }
    @at-root span.breadcrumbs{
        &__link{
            color: $grey-light;
            text-decoration: none !important;
        }
    }

    + .main-content-inner__col{
        margin-top: $global-margin;
    }
}