include /components/dropdown/template.pug

-
    /**
     * @function mixins.layout#breadcrumbs
     * @requires mixins.components#dropdown
     * @desc Хлебные крошки.
     * @param {Bemoptions} [config={}] - Настройки.
     * @param {Data} [config.data] - .
     * @param {string} [config.dataPath] - .
     * @param {string} [config.itemsProp] - .
     * @param {string} [config.title='Навигационная цепочка'] - .
     * @param {string} [config.titleId='breadcrumbs-title'] - .
     * @param {boolean} [config.container] - .
     * @param {boolean} [config.row] - .
     * @param {boolean} [config.mobileIcon] - .
     * @param {boolean} [config.dropdown] - .
     * @param {(Object|string)} [config.class={}] - Объект с классами или основной БЭМ-класс.
     * @param {bemclasses} [config.class.mixinClass='breadcrumbs'] - Основной класс миксина.
     * @param {bemclasses} [config.class.block=config.class.mixinClass] - Основной БЭМ-класс.
     * @param {bemclasses} [config.class.addClass=col] - Дополнительные классы.
     * @param {bemclasses} [config.class.container=container] - .
     * @param {bemclasses} [config.class.row=row] - .
     * @param {bemclasses} [config.class.inner='inner'] - .
     * @param {bemclasses} [config.class.innerAdd=''] - .
     * @param {bemclasses} [config.class.title='title'] - .
     * @param {bemclasses} [config.class.list='list'] - .
     * @param {bemclasses} [config.class.item='item'] - .
     * @param {bemclasses} [config.class.link='link'] - .
     */
mixin breadcrumbs(config)
    -
        config = _.toPlainObject(config);
        classesSetup(config);
        const mixinClass = 'breadcrumbs';

        _.defaultsDeep(config, {
            type: b,
            tag: div,
            title: 'Навигационная цепочка',
            titleId: 'breadcrumbs-title',
            class: {
                mixinClass,
                addClass: col,
                container,
                row,
                inner: 'inner',
                innerAdd: '',
                title: 'title',
                list: 'list',
                item: 'item',
                link: 'link'
            }
        });

        let items = [];
        if (config.data) {
            getData(config, config.data);
            items = Array.isArray(config.data) ? config.data : _.get(config.data, config.itemsProp);
        }

        const loopsLength = items.length - 1;
        const dropdownItems = [];
        if (config.dropdown) {
            items.forEach(item => {
                if (!Array.isArray(item)) return;

                dropdownItems.push({
                    content: item[0],
                    href: item[1]
                });
            });
        }

        _.defaults(config.class, {
            block: config.class.mixinClass || mixinClass
        });
        setBlockClass(attributes, config.class.block);

        const addClasses = _.castArray(config.class.addClass);
        setAdditionalClass(config.classes, attributes, config.type, addClasses);

    //-html
    +b(config)&attributes(attributes)
        +e({
            type: config.container ? e : empty,
            classes: config.class.container
        })
            +e({
                type: config.row ? e : empty,
                classes: config.class.row
            })
                +e({
                    tag: nav,
                    modifiers: config.class.inner,
                    classes: config.class.innerAdd,
                    attrs: {
                        ariaLabelledby: config.titleId
                    }
                })
                    +e({
                        modifiers: config.class.title,
                        classes: srOnly,
                        attrs: {
                            id: config.titleId
                        },
                        content: config.title
                    })

                    if config.dropdown
                        +dropdown({
                            placeholder: _.last(items),
                            activeItem: false,
                            data: dropdownItems,
                            dataPath: config.dataPath
                        })

                    if config.mobileIcon
                        +e.icon
                            +sprite({
                                id: 'arrow',
                                width: 9,
                                height: 6
                            })

                    +list({class: config.class.list})
                        each item, index in items
                            -
                                let text = item;
                                let href = jv;
                                if (Array.isArray(item)) {
                                    text = item[0];
                                    href = item[1];
                                }

                            +listItem
                                +link({
                                    tag: _.ifElse(index < loopsLength, a, span),
                                    class: config.class.link,
                                    href: href,
                                    content: text
                                })

            if !_.isUndefined(config.content)
                != config.content
            else
                block